[Desktop Entry]
Exec=kcmshell5 colors
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/colors/index.html

X-KDE-Library=kcm_colors
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=60

Name=Colors
Name[nl]=Kleuren
Name[uk]=Кольори
Name[x-test]=xxColorsxx

Comment=Change the colors used in applications
Comment[nl]=De in toepassingen gebruikte kleuren wijzigen
Comment[uk]=Зміна кольорів, що використовуються у інтерфейсах програм
Comment[x-test]=xxChange the colors used in applicationsxx

X-KDE-Keywords=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme
X-KDE-Keywords[nl]=colors,colours, kleuren,scheme,schema,contrast,Widget colors,Widgetkleuren,Color Scheme,kleurschema,kleurstijl,kleurthema
X-KDE-Keywords[uk]=кольори,кольори,схема,контраст,кольори віджетів,схема кольорів,стиль кольорів,тема кольорів,colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme
X-KDE-Keywords[x-test]=xxcolors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color themexx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
