[Desktop Entry]
Exec=kcmshell5 colors
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/colors/index.html

X-KDE-Library=kcm_colors
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=60

Name=Colors

Comment=Change the colors used in applications

X-KDE-Keywords=colors,colours,scheme,contrast,Widget colors,Color Scheme,color style,color theme

Categories=Qt;KDE;X-KDE-settings-looknfeel;
