[Desktop Entry]
GenericName=Color scheme editor
Name=KColorSchemeEditor
Comment=Plasma color scheme editor
MimeType=text/plain;
Exec=kcolorschemeeditor
StartupNotify=true
Icon=preferences-desktop-color
Type=Application
Terminal=false
Categories=Qt;KDE;X-KDE-settings-looknfeel;
