[Desktop Entry]
GenericName=Color scheme editor
GenericName[ca]=Editor de l'esquema de color
GenericName[ca@valencia]=Editor de l'esquema de color
GenericName[nl]=Bewerker van kleurenschema
GenericName[sv]=Färgschemaeditor
GenericName[uk]=Редактор схем кольорів
GenericName[x-test]=xxColor scheme editorxx
Name=KColorSchemeEditor
Name[ca]=KColorSchemeEditor
Name[ca@valencia]=KColorSchemeEditor
Name[nl]=KColorSchemeEditor
Name[sv]=Färgschemaeditor
Name[uk]=KColorSchemeEditor
Name[x-test]=xxKColorSchemeEditorxx
Comment=Plasma color scheme editor
Comment[ca]=Editor de l'esquema de color del Plasma
Comment[ca@valencia]=Editor de l'esquema de color del Plasma
Comment[nl]=Bewerker van kleurenschema van Plasma
Comment[sv]=Plasma färgschemaeditor
Comment[uk]=Редактор схем кольорів Плазми
Comment[x-test]=xxPlasma color scheme editorxx
MimeType=text/plain;
Exec=kcolorschemeeditor
StartupNotify=true
Icon=preferences-desktop-color
Type=Application
Terminal=false
Categories=Qt;KDE;X-KDE-settings-looknfeel;
