[Desktop Entry]
Exec=kcmshell5 icons
Icon=preferences-desktop-icons
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/icons/index.html

X-KDE-Library=kcm_icons
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=70

Name=Icons
Name[uk]=Піктограми
Name[x-test]=xxIconsxx

Comment=Customize KDE Icons
Comment[uk]=Налаштування піктограм KDE
Comment[x-test]=xxCustomize KDE Iconsxx

X-KDE-Keywords=icons,effects,size,hicolor,locolor
X-KDE-Keywords[uk]=icons,effects,size,hicolor,locolor,піктограми,значки,іконки,ефект,ефекти,розмір,колір
X-KDE-Keywords[x-test]=xxicons,effects,size,hicolor,locolorxx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
