[Desktop Entry]
Exec=kcmshell5 icons
Icon=preferences-desktop-icons
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/icons/index.html

X-KDE-Library=kcm_icons
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=70

Name=Icons
Name[fi]=Kuvakkeet
Name[ia]=Icones
Name[nl]=Pictogrammen
Name[pt]=Ícones
Name[sv]=Ikoner
Name[uk]=Піктограми
Name[x-test]=xxIconsxx

Comment=Customize KDE Icons
Comment[fi]=KDE:n kuvakkeiden asetukset
Comment[ia]=Personalisa icones de KDE
Comment[nl]=KDE-pictogrammen aanpassen
Comment[pt]=Alterar os Ícones do KDE
Comment[sv]=Anpassa KDE:s ikoner
Comment[uk]=Налаштування піктограм KDE
Comment[x-test]=xxCustomize KDE Iconsxx

X-KDE-Keywords=icons,effects,size,hicolor,locolor
X-KDE-Keywords[fi]=kuvakkeet,tehosteet,koko,hicolor,locolor
X-KDE-Keywords[ia]=icones,effectos,grandor,alte color,basse color
X-KDE-Keywords[nl]=pictoogrammen,effecten,grootte,hi-kleur,lo-kleur
X-KDE-Keywords[pt]=ícones,efeitos,tamanho,muitas cores,poucas cores
X-KDE-Keywords[sv]=ikoner,effekter,storlek,hicolor,locolor
X-KDE-Keywords[uk]=icons,effects,size,hicolor,locolor,піктограми,значки,іконки,ефект,ефекти,розмір,колір
X-KDE-Keywords[x-test]=xxicons,effects,size,hicolor,locolorxx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
