[Desktop Entry]
Exec=kcmshell5 icons
Icon=preferences-desktop-icons
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/icons/index.html

X-KDE-Library=kcm_icons
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=icons
X-KDE-Weight=40

Name=Icons
Name[af]=Ikone
Name[ar]=الأيقونات
Name[as]=আইকন
Name[be]=Значкі
Name[be@latin]=Ikony
Name[bg]=Икони
Name[bn]=আইকন
Name[bn_IN]=আইকন
Name[br]=Arlunioù
Name[bs]=Ikone
Name[ca]=Icones
Name[ca@valencia]=Icones
Name[cs]=Ikony
Name[csb]=Ikònë
Name[cy]=Eicon
Name[da]=Ikoner
Name[de]=Symbole
Name[el]=Εικονίδια
Name[en_GB]=Icons
Name[eo]=Piktogramoj
Name[es]=Iconos
Name[et]=Ikoonid
Name[eu]=Ikonoak
Name[fa]=شمایلها
Name[fi]=Kuvakkeet
Name[fr]=Icônes
Name[fy]=Byldkaikes
Name[ga]=Deilbhíní
Name[gl]=Iconas
Name[gu]=ચિહ્નો
Name[he]=סמלים
Name[hi]=प्रतीक
Name[hne]=चिनहा
Name[hr]=Ikone
Name[hsb]=Piktogramy
Name[hu]=Ikonok
Name[ia]=Icones
Name[id]=Ikon
Name[is]=Táknmyndir
Name[it]=Icone
Name[ja]=アイコン
Name[ka]=ხატულები
Name[kk]=Таңбашалар
Name[km]=រូប​តំណាង
Name[kn]=ಚಿಹ್ನೆಗಳು
Name[ko]=아이콘
Name[ku]=Îkon
Name[lt]=Ženkliukai
Name[lv]=Ikonas
Name[mai]=प्रतीक
Name[mk]=Икони
Name[ml]=ചിഹ്നങ്ങള്‍
Name[mr]=चिन्ह
Name[ms]=Ikon
Name[nb]=Ikoner
Name[nds]=Lüttbiller
Name[ne]=प्रतिमा
Name[nl]=Pictogrammen
Name[nn]=Ikon
Name[oc]=Icònas
Name[or]=ଚିତ୍ର ସଂକେତଗୁଡ଼ିକ
Name[pa]=ਆਈਕਾਨ
Name[pl]=Ikony
Name[pt]=Ícones
Name[pt_BR]=Ícones
Name[ro]=Pictograme
Name[ru]=Значки
Name[si]=අයිකන
Name[sk]=Ikony
Name[sl]=Ikone
Name[sr]=Иконице
Name[sr@ijekavian]=Иконице
Name[sr@ijekavianlatin]=Ikonice
Name[sr@latin]=Ikonice
Name[sv]=Ikoner
Name[ta]=சின்னங்கள்
Name[te]=ప్రతిమలు
Name[tg]=Нишонаҳо
Name[th]=ไอคอน
Name[tr]=Simgeler
Name[ug]=سىنبەلگىلەر
Name[uk]=Піктограми
Name[uz]=Nishonchalar
Name[uz@cyrillic]=Нишончалар
Name[vi]=Biểu tượng
Name[wa]=Imådjetes
Name[xh]=Imphawu zemmifanekiso
Name[x-test]=xxIconsxx
Name[zh_CN]=图标
Name[zh_TW]=圖示

Comment=Icon Theme
Comment[ar]=سمة الأيقونات
Comment[bs]=Tema ikone
Comment[ca]=Tema d'icones
Comment[ca@valencia]=Tema d'icones
Comment[cs]=Motiv ikon
Comment[da]=Ikontema
Comment[de]=Symbol-Design
Comment[el]=Θέμα εικονιδίων
Comment[en_GB]=Icon Theme
Comment[es]=Tema de iconos
Comment[et]=Ikooniteema
Comment[eu]=Ikono gaia
Comment[fi]=Kuvaketeema
Comment[fr]=Thème d'icônes
Comment[gl]=Tema de iconas
Comment[he]=ערכת־נושא לסמלים
Comment[hu]=Ikontéma
Comment[id]=Tema Ikon
Comment[is]=Táknmyndaþema
Comment[it]=Tema delle icone
Comment[ja]=アイコンテーマ
Comment[ko]=아이콘 테마
Comment[lt]=Ženkliukų apipavidalinimas
Comment[mr]=चिन्ह शैली
Comment[nb]=Ikontema
Comment[nds]=Lüttbildmuster
Comment[nl]=Pictogramthema
Comment[nn]=Ikontema
Comment[pa]=ਆਈਕਾਨ ਥੀਮ
Comment[pl]=Zestaw ikon
Comment[pt]=Tema de Ícones
Comment[pt_BR]=Tema de ícones
Comment[ru]=Набор значков
Comment[sk]=Téma ikon
Comment[sl]=Tema ikon
Comment[sr]=Тема иконица
Comment[sr@ijekavian]=Тема иконица
Comment[sr@ijekavianlatin]=Tema ikonica
Comment[sr@latin]=Tema ikonica
Comment[sv]=Ikontema
Comment[tr]=Simge Teması
Comment[uk]=Тема піктограм
Comment[x-test]=xxIcon Themexx
Comment[zh_CN]=图标主题
Comment[zh_TW]=圖示主題

X-KDE-Keywords=icons,effects,size,hicolor,locolor
X-KDE-Keywords[ar]=أيقونات,تأثيرات,حجم,لون عالي,لون سفلي
X-KDE-Keywords[bg]=icons,effects,size,hicolor,locolor,икони,ефекти,размер
X-KDE-Keywords[bn]=icons,effects,size,hicolor,locolor
X-KDE-Keywords[bs]=icons,effects,size,hicolor,locolor,ikone,efekti,veličina,boje
X-KDE-Keywords[ca]=icones,efectes,mida,color alt,color baix
X-KDE-Keywords[ca@valencia]=icones,efectes,mida,color alt,color baix
X-KDE-Keywords[cs]=ikony,efekty,velikost,hicolor,locolor
X-KDE-Keywords[da]=ikoner,effekter,størrelse,hicolor,locolor
X-KDE-Keywords[de]=Symbole,Icons,Effekte,Größe,16-Bit-Farben,8-Bit-Farben
X-KDE-Keywords[el]=εικονίδια,εφέ,μέγεθος,hicolor,locolor
X-KDE-Keywords[en_GB]=icons,effects,size,hicolor,locolor
X-KDE-Keywords[eo]=piktogramoj,efektoj,grando,hicolor,locolor
X-KDE-Keywords[es]=iconos,efectos,tamaño,hicolor,locolor
X-KDE-Keywords[et]=ikoonid,efektid,suurus,hicolor,locolor
X-KDE-Keywords[eu]=ikonoak,efektuak,tamaina,hicolor,locolor
X-KDE-Keywords[fa]=icons,effects,size,hicolor,locolor
X-KDE-Keywords[fi]=kuvakkeet,tehosteet,koko,hicolor,locolor
X-KDE-Keywords[fr]=icônes, effets, taille, hicolor, locolor
X-KDE-Keywords[ga]=deilbhíní,maisíochtaí,méid,ard-dath,ísealdath
X-KDE-Keywords[gl]=iconas, efectos, tamaño, hicolor, locolor
X-KDE-Keywords[gu]=ચિહ્નો,અસરો,માપ,ઉચ્ચરંગ,નીચરંગ
X-KDE-Keywords[he]=סמלים,אפקטים,icons,effects,size,hicolor,locolor
X-KDE-Keywords[hi]=प्रतीक, प्रभाव, आकार, hicolor, locolor
X-KDE-Keywords[hu]=ikonok,effektusok,méret,hicolor,locolor
X-KDE-Keywords[ia]=icones,effectos,grandor,alte color,basse color
X-KDE-Keywords[id]=ikon,efek,ukuran,warna tinggi,warna rendah
X-KDE-Keywords[is]=táknmynd,sjónhverfingar,brellur,stærð,hicolor,locolor
X-KDE-Keywords[it]=icone,effetti,dimensione,molti colori,pochi colori
X-KDE-Keywords[kk]=icons,effects,size,hicolor,locolor
X-KDE-Keywords[km]=រូបតំណាង បែបផែន ទំហំ ពណ៌​ខ្ពស់ ពណ៌​ទាប
X-KDE-Keywords[ko]=icons,effects,size,hicolor,locolor,아이콘,효과,크기,색상
X-KDE-Keywords[lv]=ikonas,efekti,izmērs,krāsa
X-KDE-Keywords[mr]=चिन्ह, परिणाम, आकार, हाय कलर, लो कलर
X-KDE-Keywords[nb]=ikoner,effekter,størrelse,fargesterk,fargesvak
X-KDE-Keywords[nds]=Lüttbiller,Effekten,Grött,HiColor,LoColor,Klören,Klöör
X-KDE-Keywords[nl]=pictoogrammen,effecten,grootte,hi-kleur,lo-kleur
X-KDE-Keywords[nn]=ikon,effektar,storleik,hicolor,locolor
X-KDE-Keywords[pa]=ਆਈਕਾਨ,ਪ੍ਰਭਾਵ,ਪਰਭਾਵ,ਆਕਾਰ,ਵੱਧ-ਰੰਗ,ਘੱਟਰੰਗ
X-KDE-Keywords[pl]=ikony,efekty,rozmiar,hicolor,locolor
X-KDE-Keywords[pt]=ícones,efeitos,tamanho,muitas cores,poucas cores
X-KDE-Keywords[pt_BR]=ícones,efeitos,tamanho,muitas cores,poucas cores
X-KDE-Keywords[ro]=pictograme,efecte,mărime,hicolor,locolor
X-KDE-Keywords[ru]=icons,effects,size,hicolor,locolor,значки,иконки,эффекты,размер,цвет
X-KDE-Keywords[sk]=ikony,efekty,veľkosť,hicolor,locolor
X-KDE-Keywords[sl]=ikone,učinki,velikost,barve,barva
X-KDE-Keywords[sr]=icons,effects,size,hicolor,locolor,иконице,ефекти,величина,боја
X-KDE-Keywords[sr@ijekavian]=icons,effects,size,hicolor,locolor,иконице,ефекти,величина,боја
X-KDE-Keywords[sr@ijekavianlatin]=icons,effects,size,hicolor,locolor,ikonice,efekti,veličina,boja
X-KDE-Keywords[sr@latin]=icons,effects,size,hicolor,locolor,ikonice,efekti,veličina,boja
X-KDE-Keywords[sv]=ikoner,effekter,storlek,hicolor,locolor
X-KDE-Keywords[tg]=нишонаҳо,таъсирҳо,андоза,ранги баланд,ранги паст
X-KDE-Keywords[tr]=simgeler,efektler,boyut,yüksekrenk,düşükrenk
X-KDE-Keywords[ug]=سىنبەلگىلەر، ئۈنۈملەر، چوڭلۇق، hicolor، locolor
X-KDE-Keywords[uk]=icons,effects,size,hicolor,locolor,піктограми,значки,іконки,ефект,ефекти,розмір,колір
X-KDE-Keywords[vi]=biểu tượng,hiệu ứng,cỡ,nhiều màu, ít màu, icons,effects,size,hicolor,locolor
X-KDE-Keywords[wa]=imådjetes,efets,grandeu,grandeur,coleur
X-KDE-Keywords[x-test]=xxiconsxx,xxeffectsxx,xxsizexx,xxhicolorxx,xxlocolorxx
X-KDE-Keywords[zh_CN]=icons,effects,size,hicolor,locolor,图标,效果,特效,大小,颜色
X-KDE-Keywords[zh_TW]=icons,effects,size,hicolor,locolor

Categories=Qt;KDE;X-KDE-settings-looknfeel;
