[Desktop Entry]
Encoding=UTF-8
Name=Default Panel
Name[ca]=Plafó per omissió
Name[cs]=Výchozí panel
Name[de]=Standard-Kontrollleiste
Name[el]=Προκαθορισμένος πίνακας
Name[en_GB]=Default Panel
Name[es]=Panel por omisión
Name[fi]=Oletuspaneeli
Name[hu]=Alapértelmezett panel
Name[it]=Pannello predefinito
Name[ko]=기본 패널
Name[lt]=Numatytas skydelis
Name[nb]=Standardpanel
Name[nl]=Standaard paneel
Name[pl]=Domyślny panel
Name[pt_BR]=Painel padrão
Name[sk]=Štandardný panel
Name[sl]=Privzeti pult
Name[sr]=Подразумевани панел
Name[sr@ijekavian]=Подразумијевани панел
Name[sr@ijekavianlatin]=Podrazumijevani panel
Name[sr@latin]=Podrazumevani panel
Name[sv]=Standardpanel
Name[uk]=Типова панель
Name[x-test]=xxDefault Panelxx
Name[zh_CN]=默认面板
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.desktop.defaultPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
