[Desktop Entry]
Encoding=UTF-8
Name=Default Panel
Name[ar]=اللوحة الافتراضيّة
Name[ast]=Panel por defeutu
Name[bs]=Podrazumijevani panel
Name[ca]=Plafó per omissió
Name[ca@valencia]=Plafó per omissió
Name[cs]=Výchozí panel
Name[da]=Standardpanel
Name[de]=Standard-Kontrollleiste
Name[el]=Προκαθορισμένος πίνακας
Name[en_GB]=Default Panel
Name[es]=Panel por omisión
Name[et]=Vaikimisi paneel
Name[fi]=Oletuspaneeli
Name[fr]=Tableau de bord par défaut
Name[gl]=Panel predeterminado
Name[he]=לוחות ברירת־מחדל
Name[hu]=Alapértelmezett panel
Name[id]=Panel Standar
Name[is]=Sjálfgefið spjald
Name[it]=Pannello predefinito
Name[ja]=標準のパネル
Name[ko]=기본 패널
Name[lt]=Numatytas skydelis
Name[mr]=मूलभूत पटल
Name[nb]=Standardpanel
Name[nds]=Standardpaneel
Name[nl]=Standaard paneel
Name[nn]=Standardpanel
Name[pa]=ਡਿਫਾਲਟ ਪੈਨਲ
Name[pl]=Domyślny panel
Name[pt]=Painel Predefinido
Name[pt_BR]=Painel padrão
Name[ru]=Стандартная панель
Name[sk]=Štandardný panel
Name[sl]=Privzeti pult
Name[sr]=Подразумевани панел
Name[sr@ijekavian]=Подразумијевани панел
Name[sr@ijekavianlatin]=Podrazumijevani panel
Name[sr@latin]=Podrazumevani panel
Name[sv]=Standardpanel
Name[tr]=Öntanımlı Pano
Name[uk]=Типова панель
Name[x-test]=xxDefault Panelxx
Name[zh_CN]=默认面板
Name[zh_TW]=預設面板
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.desktop.defaultPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
