[Desktop Entry]
Encoding=UTF-8
Name=Default Panel
Name[ca]=Plafó per omissió
Name[es]=Panel por omisión
Name[hu]=Alapértelmezett panel
Name[nl]=Standaard paneel
Name[sk]=Štandardný panel
Name[sl]=Privzeti pult
Name[sv]=Standardpanel
Name[uk]=Типова панель
Name[x-test]=xxDefault Panelxx
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.desktop.defaultPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
