[Desktop Entry]
Icon=preferences-desktop-theme-style
Exec=kcmshell5 kcm_lookandfeel
X-DocPath=kcontrol/lookandfeel/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_lookandfeel
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspacetheme
X-KDE-Weight=1

Name=Look And Feel
Name[ca]=Aspecte i comportament
Name[en_GB]=Look And Feel
Name[es]=Aspecto visual
Name[nl]=Uiterlijk en gedrag
Name[pl]=Wygląd i odczucia
Name[pt]=Aparência e Comportamento
Name[pt_BR]=Aparência
Name[sk]=Vzhľad a nastavenie
Name[sl]=Videz in občutek
Name[sv]=Utseende och känsla
Name[uk]=Вигляд і поведінка
Name[x-test]=xxLook And Feelxx
Comment=Look And Feel
Comment[ca]=Aspecte i comportament
Comment[en_GB]=Look And Feel
Comment[es]=Aspecto visual
Comment[nl]=Uiterlijk en gedrag
Comment[pl]=Wygląd i odczucia
Comment[pt]=Aparência e Comportamento
Comment[pt_BR]=Aparência
Comment[sk]=Vzhľad a nastavenie
Comment[sl]=Videz in občutek
Comment[sv]=Utseende och känsla
Comment[uk]=Вигляд і поведінка
Comment[x-test]=xxLook And Feelxx
X-KDE-Keywords=theme, look, feel
X-KDE-Keywords[ca]=tema, aspecte, comportament
X-KDE-Keywords[en_GB]=theme, look, feel
X-KDE-Keywords[es]=tema, aspecto visual
X-KDE-Keywords[nl]=thema, uiterlijk, gedrag
X-KDE-Keywords[pl]=wystrój, wygląd, odczucia
X-KDE-Keywords[pt]=tema, aparência, comportamento
X-KDE-Keywords[pt_BR]=tema, visual, aparência
X-KDE-Keywords[sk]=téma, vzhľad, nastavenie
X-KDE-Keywords[sl]=tema, videz, občutek
X-KDE-Keywords[sv]=tema, utseende, känsla
X-KDE-Keywords[uk]=theme,look,feel,тема,вигляд,поведінка
X-KDE-Keywords[x-test]=xxtheme, look, feelxx
Categories=Qt;KDE;X-KDE-settings-looknfeel;
