[Desktop Entry]
Icon=preferences-desktop-theme-style
Exec=kcmshell5 kcm_lookandfeel

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_lookandfeel
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspacetheme
X-KDE-Weight=1

Name=Look And Feel
Name[ar]=المظهر والملمس
Name[ast]=Aspeutu y sentir
Name[bs]=Pogledaj i Osjeti
Name[ca]=Aspecte i comportament
Name[ca@valencia]=Aspecte i comportament
Name[cs]=Vzhled a chování
Name[da]=Udseende og fremtoning
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση και αίσθηση
Name[en_GB]=Look And Feel
Name[es]=Aspecto visual
Name[et]=Välimus
Name[fi]=Ulkoasu ja tuntuma
Name[fr]=Apparence
Name[gl]=Aparencia e comportamento
Name[he]=מראה ותחושה
Name[hu]=Megjelenés
Name[id]=Lihat Dan Rasakan
Name[is]=Útlit og viðmót
Name[it]=Aspetto
Name[ja]=外観
Name[ko]=모습과 느낌
Name[lt]=Išvaizda ir pojūtis
Name[nb]=Utseende og oppførsel
Name[nds]=Utsehn un Bedenen
Name[nl]=Uiterlijk en gedrag
Name[nn]=Utsjånad og åtferd
Name[pa]=ਦਿੱਖ ਤੇ ਛੋਹ
Name[pl]=Wrażenia wzrokowe i dotykowe
Name[pt]=Aparência e Comportamento
Name[pt_BR]=Aparência
Name[ru]=Внешний вид рабочей среды
Name[sk]=Vzhľad a nastavenie
Name[sl]=Videz in občutek
Name[sr]=Изглед и осећај
Name[sr@ijekavian]=Изглед и осећај
Name[sr@ijekavianlatin]=Izgled i osećaj
Name[sr@latin]=Izgled i osećaj
Name[sv]=Utseende och känsla
Name[tr]=Görünüm ve Duyum
Name[uk]=Вигляд і поведінка
Name[x-test]=xxLook And Feelxx
Name[zh_CN]=观感
Name[zh_TW]=外觀與感覺
Comment=Look And Feel
Comment[ar]=المظهر والملمس
Comment[ast]=Aspeutu y sentir
Comment[bs]=Pogledaj i Osjeti
Comment[ca]=Aspecte i comportament
Comment[ca@valencia]=Aspecte i comportament
Comment[cs]=Vzhled a chování
Comment[da]=Udseende og fremtoning
Comment[de]=Erscheinungsbild
Comment[el]=Εμφάνιση και αίσθηση
Comment[en_GB]=Look And Feel
Comment[es]=Aspecto visual
Comment[et]=Välimus
Comment[fi]=Ulkoasu ja tuntuma
Comment[fr]=Apparence
Comment[gl]=Aparencia e comportamento
Comment[he]=מראה ותחושה
Comment[hu]=Megjelenés
Comment[id]=Lihat Dan Rasakan
Comment[is]=Útlit og viðmót
Comment[it]=Aspetto
Comment[ja]=外観
Comment[ko]=모습과 느낌
Comment[lt]=Išvaizda ir pojūtis
Comment[nb]=Utseende og oppførsel
Comment[nds]=Utsehn un Bedenen
Comment[nl]=Uiterlijk en gedrag
Comment[nn]=Utsjånad og åtferd
Comment[pa]=ਦਿੱਖ ਅਤੇ ਛੋਹ
Comment[pl]=Wrażenia wzrokowe i dotykowe
Comment[pt]=Aparência e Comportamento
Comment[pt_BR]=Aparência
Comment[ru]=Настройка внешнего вида рабочей среды Plasma
Comment[sk]=Vzhľad a nastavenie
Comment[sl]=Videz in občutek
Comment[sr]=Изглед и осећај
Comment[sr@ijekavian]=Изглед и осећај
Comment[sr@ijekavianlatin]=Izgled i osećaj
Comment[sr@latin]=Izgled i osećaj
Comment[sv]=Utseende och känsla
Comment[tr]=Görünüm ve Duyum
Comment[uk]=Вигляд і поведінка
Comment[x-test]=xxLook And Feelxx
Comment[zh_CN]=观感
Comment[zh_TW]=外觀與感覺
X-KDE-Keywords=theme, look, feel
X-KDE-Keywords[ast]=tema, aspeutu, sentir
X-KDE-Keywords[bs]=tema,pogledaj,osjeti
X-KDE-Keywords[ca]=tema, aspecte, comportament
X-KDE-Keywords[ca@valencia]=tema, aspecte, comportament
X-KDE-Keywords[cs]=motiv,vzhled,chování
X-KDE-Keywords[da]=tema, udseende, fremtoning, look, feel
X-KDE-Keywords[de]=Design,Erscheinungsbild
X-KDE-Keywords[el]=θέμα, εμφάνιση, αίσθηση
X-KDE-Keywords[en_GB]=theme, look, feel
X-KDE-Keywords[es]=tema, aspecto visual
X-KDE-Keywords[et]=teema, välimus
X-KDE-Keywords[fi]=teema, ulkoasu, tuntuma
X-KDE-Keywords[fr]=thème, apparence, comportement, graphique
X-KDE-Keywords[gl]=tema, aparencia, estilo, comportamento
X-KDE-Keywords[hu]=téma, megjelenés
X-KDE-Keywords[id]=tema, lihat, rasakan
X-KDE-Keywords[it]=tema,aspetto
X-KDE-Keywords[ko]=theme, look, feel,테마, 모습과 느낌,외형,외관
X-KDE-Keywords[nb]=tema, utseende, oppførsel
X-KDE-Keywords[nds]=Muster, Utsehn, Bedenen
X-KDE-Keywords[nl]=thema, uiterlijk, gedrag
X-KDE-Keywords[nn]=tema, utsjånad, åtferd
X-KDE-Keywords[pa]=ਥੀਮ, ਦਿੱਖ, ਰਵੱਈਆ
X-KDE-Keywords[pl]=wystrój, wygląd, odczucia, wrażenia
X-KDE-Keywords[pt]=tema, aparência, comportamento
X-KDE-Keywords[pt_BR]=tema, visual, aparência
X-KDE-Keywords[ru]=theme,look,feel,тема,внешний вид рабочей среды,ощущение,стиль виджетов
X-KDE-Keywords[sk]=téma, vzhľad, nastavenie
X-KDE-Keywords[sl]=tema, videz, občutek
X-KDE-Keywords[sr]=theme,look,feel,тема,изглед,осећај
X-KDE-Keywords[sr@ijekavian]=theme,look,feel,тема,изглед,осећај
X-KDE-Keywords[sr@ijekavianlatin]=theme,look,feel,tema,izgled,osećaj
X-KDE-Keywords[sr@latin]=theme,look,feel,tema,izgled,osećaj
X-KDE-Keywords[sv]=tema, utseende, känsla
X-KDE-Keywords[tr]=tema, görünüm, duyum
X-KDE-Keywords[uk]=theme,look,feel,тема,вигляд,поведінка
X-KDE-Keywords[x-test]=xxthemexx,xx lookxx,xx feelxx
X-KDE-Keywords[zh_CN]=theme, look, feel, 主题, 观感
X-KDE-Keywords[zh_TW]=theme, look, feel
Categories=Qt;KDE;X-KDE-settings-looknfeel;
