[Desktop Entry]
Icon=preferences-desktop-theme-style
Exec=kcmshell5 kcm_lookandfeel

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_lookandfeel
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspacetheme
X-KDE-Weight=1

Name=Look and Feel
Name[ca]=Aspecte i comportament
Name[ca@valencia]=Aspecte i comportament
Name[cs]=Vzhled a dojem
Name[da]=Udseende og fremtoning
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση και αίσθηση
Name[en_GB]=Look and Feel
Name[es]=Aspecto visual
Name[eu]=Itxura eta izaera
Name[fi]=Ulkoasu ja tuntuma
Name[fr]=Apparence
Name[gl]=Aparencia e comportamento
Name[he]=מראה ותחושה
Name[hu]=Megjelenés
Name[id]=Nuansa Dan Suasana
Name[it]=Aspetto
Name[ko]=모습과 느낌
Name[lt]=Išvaizda ir turinys
Name[nb]=Utseende og oppførsel
Name[nl]=Uiterlijk en gedrag
Name[nn]=Utsjånad og åtferd
Name[pa]=ਦਿੱਖ ਅਤੇ ਛੋਹ
Name[pl]=Wrażenia wzrokowe i dotykowe
Name[pt]=Aparência e Comportamento
Name[pt_BR]=Aparência
Name[ru]=Оформления рабочей среды
Name[sk]=Vzhľad a nastavenie
Name[sl]=Videz in občutek
Name[sr]=Изглед и осећај
Name[sr@ijekavian]=Изглед и осећај
Name[sr@ijekavianlatin]=Izgled i osećaj
Name[sr@latin]=Izgled i osećaj
Name[sv]=Utseende och känsla
Name[tr]=Bak ve Hisset
Name[uk]=Вигляд і поведінка
Name[x-test]=xxLook and Feelxx
Name[zh_CN]=观感
Name[zh_TW]=外觀與感覺
Comment=Choose the Look and Feel theme
Comment[ca]=Trieu el tema d'aspecte i comportament
Comment[ca@valencia]=Trieu el tema d'aspecte i comportament
Comment[de]=Erscheinungsbild-Design auswählen
Comment[en_GB]=Choose the Look and Feel theme
Comment[es]=Escoger el tema del aspecto visual...
Comment[fi]=Valitse ulkoasuteema
Comment[fr]=Sélectionnez le thème d'apparence
Comment[gl]=Escolla un tema de aparencia e comportamento
Comment[id]=Memilih tema Nuansa dan Suasana
Comment[it]=Scegli il tema dell'aspetto
Comment[ko]=모습과 느낌 테마 선택
Comment[nl]=Thema voor uiterlijk en gedrag kiezen
Comment[nn]=Vel tema for utsjånad og åtferd
Comment[pl]=Wybierz jak będą wyglądać wrażenia wzrokowe i dotykowe
Comment[pt]=Escolher o tema de Aparência e Comportamento
Comment[pt_BR]=Escolha o tema de aparência
Comment[ru]=Выбор оформления рабочей среды Plasma
Comment[sk]=Vyberte tému pre vzhľad
Comment[sv]=Välj tema med utseende och känsla
Comment[uk]=Вибір теми вигляду і поведінки
Comment[x-test]=xxChoose the Look and Feel themexx
Comment[zh_CN]=选择观感主题
Comment[zh_TW]=選擇「外觀與感覺」的主題
X-KDE-Keywords=theme, look, feel
X-KDE-Keywords[bs]=tema,pogledaj,osjeti
X-KDE-Keywords[ca]=tema, aspecte, comportament
X-KDE-Keywords[ca@valencia]=tema, aspecte, comportament
X-KDE-Keywords[cs]=motiv,vzhled,chování
X-KDE-Keywords[da]=tema, udseende, fremtoning, look, feel
X-KDE-Keywords[de]=Design,Erscheinungsbild
X-KDE-Keywords[el]=θέμα, εμφάνιση, αίσθηση
X-KDE-Keywords[en_GB]=theme, look, feel
X-KDE-Keywords[es]=tema, aspecto visual
X-KDE-Keywords[et]=teema, välimus
X-KDE-Keywords[eu]=gaia,itxura,izaera
X-KDE-Keywords[fi]=teema, ulkoasu, tuntuma
X-KDE-Keywords[fr]=thème, apparence, comportement, graphique
X-KDE-Keywords[gl]=tema, aparencia, estilo, comportamento
X-KDE-Keywords[hu]=téma, megjelenés
X-KDE-Keywords[id]=tema, nuansa, suasana
X-KDE-Keywords[it]=tema,aspetto
X-KDE-Keywords[ko]=theme, look, feel,테마, 모습과 느낌,외형,외관
X-KDE-Keywords[nb]=tema, utseende, oppførsel
X-KDE-Keywords[nds]=Muster, Utsehn, Bedenen
X-KDE-Keywords[nl]=thema, uiterlijk, gedrag
X-KDE-Keywords[nn]=tema, utsjånad, åtferd
X-KDE-Keywords[pa]=ਥੀਮ, ਦਿੱਖ, ਰਵੱਈਆ
X-KDE-Keywords[pl]=wystrój, wygląd, odczucia, wrażenia
X-KDE-Keywords[pt]=tema, aparência, comportamento
X-KDE-Keywords[pt_BR]=tema, visual, aparência
X-KDE-Keywords[ru]=theme,look,feel,тема,внешний вид рабочей среды,ощущение,стиль виджетов
X-KDE-Keywords[sk]=téma, vzhľad, nastavenie
X-KDE-Keywords[sl]=tema, videz, občutek
X-KDE-Keywords[sr]=theme,look,feel,тема,изглед,осећај
X-KDE-Keywords[sr@ijekavian]=theme,look,feel,тема,изглед,осећај
X-KDE-Keywords[sr@ijekavianlatin]=theme,look,feel,tema,izgled,osećaj
X-KDE-Keywords[sr@latin]=theme,look,feel,tema,izgled,osećaj
X-KDE-Keywords[sv]=tema, utseende, känsla
X-KDE-Keywords[tr]=tema, görünüm, duyum
X-KDE-Keywords[uk]=theme,look,feel,тема,вигляд,поведінка
X-KDE-Keywords[x-test]=xxthemexx,xx lookxx,xx feelxx
X-KDE-Keywords[zh_CN]=theme, look, feel, 主题, 观感
X-KDE-Keywords[zh_TW]=theme, look, feel
Categories=Qt;KDE;X-KDE-settings-looknfeel;
