[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ktouchpadenabler
X-KDE-DBus-ModuleName=ktouchpadenabler
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=1

Name=KDE TouchPad Enabler Daemon
Name[ar]=عفريت كدي لتمكين لوحة اللمس
Name[bs]=Demon za omogućavanje dodirne ploće
Name[ca]=Dimoni activador del ratolí tàctil del KDE
Name[ca@valencia]=Dimoni activador del ratolí tàctil del KDE
Name[da]=KDE touchpad-aktiveringsdæmon
Name[de]=Touchpad-Aktivierungsdienst für KDE
Name[el]=KDE TouchPad Enabler Daemon
Name[en_GB]=KDE TouchPad Enabler Daemon
Name[es]=Demonio de activación del TouchPad para KDE
Name[et]=KDE puutepadja rakendamise deemon
Name[eu]=KDEren ukimen-sagua gaitzeko daimona
Name[fi]=KDE:n kosketuslevyn käyttöönottamispalvelu
Name[fr]=Démon d'activation du pavé tactile pour KDE
Name[gl]=Servizo de KDE de activación do TouchPad
Name[hu]=KDE érintőtábla-bekapcsoló szolgáltatás
Name[ia]=KDE TouckPad Enabler Daemon (Demone pro habilitar TouchPad de KDE)
Name[id]=Jurik Pengaktifan Papan Sentuh KDE
Name[it]=Demone attivazione TouchPad di KDE
Name[kk]=KDE TouchPad қосқыш қызметі
Name[km]=ដេមិន​កម្មវិធី​បើក KDE TouchPad
Name[ko]=KDE 터치패드 활성화 데몬
Name[lt]=KDE Jutiminio kilimėlio įjungimo tarnyba
Name[mr]=केडीई टचपॅड कार्यान्वित करणारा डीमन
Name[nb]=KDE styreplatedaemon
Name[nds]=Röhrfeld-Stüerdämoon för KDE
Name[nl]=Daemon voor inschakelen van KDE Touchpad
Name[pa]=ਕੇਡੀਈ ਟੱਚਪੈਡ ਚਾਲੂ ਕਰਨ ਡੈਮਨ
Name[pl]=Usługa włączania gładzika w KDE
Name[pt]=Serviço de Activação do Rato por Toque para o KDE
Name[pt_BR]=Serviço de ativação do TouchPad para o KDE
Name[ro]=Demon KDE pentru activarea zonei tactile
Name[ru]=Фоновая служба включения тачпада KDE
Name[sk]=Démon povoľovača KDE TouchPad
Name[sl]=Ozadnji program za omogočanje sledilne ploščice
Name[sr]=КДЕ демон за активирање додирника
Name[sr@ijekavian]=КДЕ демон за активирање додирника
Name[sr@ijekavianlatin]=KDE demon za aktiviranje dodirnika
Name[sr@latin]=KDE demon za aktiviranje dodirnika
Name[sv]=KDE:s demon för aktivering av tryckplatta
Name[tr]=KDE Dokunmatik Yüzey Etkinleştirici Araç
Name[uk]=Фонова служба вмикання сенсорного керування у KDE
Name[x-test]=xxKDE TouchPad Enabler Daemonxx
Name[zh_CN]=KDE 触摸板启用器守护进程
Name[zh_TW]=KDE 觸控板開啟伺服程式

Comment=Toggles the enable status of the TouchPad
Comment[ar]=يبدّل بين حالة لوحة اللمس
Comment[bs]=O(ne)mogućava dodirnu ploču
Comment[ca]=Commuta l'activació de l'estat del ratolí tàctil
Comment[ca@valencia]=Commuta l'activació de l'estat del ratolí tàctil
Comment[cs]=Přepne stav zapnutí TouchPadu
Comment[da]=Slår aktiveringsstatus for touchpad til/fra
Comment[de]=Schaltet den Aktivierungsstatus von Touchpads um
Comment[el]=Εναλλάσσει την ενεργή κατάσταση της επιφάνειας αφής
Comment[en_GB]=Toggles the enable status of the TouchPad
Comment[es]=Conmuta el estado de disponibilidad del TouchPad
Comment[et]=Puutepadja sisselülitatuse oleku muutmine
Comment[eu]=Ukimen-saguaren gaitua egoera txandakatzen
Comment[fi]=Ottaa käyttöön tai poistaa käytöstä kosketuslevyn
Comment[fr]=Active ou désactive le pavé tactile
Comment[gl]=Conmuta o estado activado do TouchPad
Comment[hu]=Az érintőtábla ki- és bekapcsolása
Comment[ia]=Commuta le stato de habilitation del TouchPad
Comment[id]=Aktifkan pengaktifan status Papan Sentuh
Comment[it]=Cambia lo stato di attivazione del TouchPad
Comment[kk]=TouchPad рұқат етілген/етілмеген күй-жайын ауыстыру
Comment[km]=បិទ/បើក​ ស្ថានភាព​បិទ/បើក​របស់ TouchPad
Comment[ko]=터치패드의 활성 상태를 전환함
Comment[lt]=Pakeičia Jutiminio kilimėlio įjungimo būseną
Comment[mr]=टचपॅडची कार्यान्वित स्थिती बदलतो
Comment[nb]=Slår av og på status for styreplata
Comment[nds]=Maakt dat Röhrfeld an oder ut
Comment[nl]=Schakelt de status van het TouchPad in of uit
Comment[pl]=Wyłącza/wyłącza gładzik
Comment[pt]=Activa ou desactiva o rato por toque
Comment[pt_BR]=Ativa ou desativa o TouchPad
Comment[ro]=Comută starea activării zonei tactile
Comment[ru]=Включение/выключение статуса тачпада
Comment[sk]=Prepína stav povolenia pre TouchPad
Comment[sl]=Omogoči/onemogoči sledilno ploščico
Comment[sr]=Активира и деактивира додирник
Comment[sr@ijekavian]=Активира и деактивира додирник
Comment[sr@ijekavianlatin]=Aktivira i deaktivira dodirnik
Comment[sr@latin]=Aktivira i deaktivira dodirnik
Comment[sv]=Ändrar tryckplattans aktiveringsstatus
Comment[tr]=Dokunmatik yüzey etkinlik durumunu değiştirir
Comment[uk]=Вмикає або вимикає сенсорне керування
Comment[x-test]=xxToggles the enable status of the TouchPadxx
Comment[zh_CN]=切换触摸板启用状态
Comment[zh_TW]=切換觸控板的開啟狀態
