[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ktouchpadenabler
X-KDE-DBus-ModuleName=ktouchpadenabler
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=1

Name=KDE TouchPad Enabler Daemon
Name[nl]=Daemon voor inschakelen van KDE Touchpad
Name[uk]=Фонова служба вмикання сенсорного керування у KDE
Name[x-test]=xxKDE TouchPad Enabler Daemonxx

Comment=Toggles the enable status of the TouchPad
Comment[nl]=Schakelt de status van het TouchPad in of uit
Comment[uk]=Вмикає або вимикає сенсорне керування
Comment[x-test]=xxToggles the enable status of the TouchPadxx
