[Desktop Entry]
Icon=preferences-desktop-mouse
Type=Application
Exec=systemsettings kcm_mouse
NoDisplay=true

Name=Mouse
Name[af]=Muis
Name[ar]=الفأرة
Name[ast]=Mur
Name[az]=Siçan
Name[be]=Мыш
Name[be@latin]=Myš
Name[bg]=Мишка
Name[bn]=মাউস
Name[bn_IN]=মাউস
Name[br]=Logodenn
Name[bs]=Miš
Name[ca]=Ratolí
Name[ca@valencia]=Ratolí
Name[cs]=Myš
Name[csb]=Mësz
Name[cy]=Llygoden
Name[da]=Mus
Name[de]=Maus
Name[el]=Ποντίκι
Name[en_GB]=Mouse
Name[eo]=Muso
Name[es]=Ratón
Name[et]=Hiir
Name[eu]=Sagua
Name[fa]=موشی
Name[fi]=Hiiri
Name[fr]=Souris
Name[fy]=Mûs
Name[ga]=Luch
Name[gl]=Rato
Name[gu]=માઉસ
Name[he]=עכבר
Name[hi]=माउस
Name[hne]=मुसुवा
Name[hr]=Miš
Name[hsb]=Myš
Name[hu]=Egér
Name[ia]=Mus
Name[id]=Tetikus
Name[is]=Mús
Name[it]=Mouse
Name[ja]=マウス
Name[ka]=თაგვი
Name[kk]=Тышқан
Name[km]=កណ្ដុរ
Name[kn]=ಮೂಷಕ (ಮೌಸ್)
Name[ko]=마우스
Name[ku]=Mişk
Name[lt]=Pelė
Name[lv]=Pele
Name[mai]=माउस
Name[mk]=Глушец
Name[ml]=മൌസ്
Name[mr]=माऊस
Name[ms]=Tetikus
Name[nb]=Mus
Name[nds]=Muus
Name[ne]=माउस
Name[nl]=Muis
Name[nn]=Mus
Name[oc]=Mirga
Name[or]=ମାଉସ
Name[pa]=ਮਾਊਸ
Name[pl]=Mysz
Name[pt]=Rato
Name[pt_BR]=Mouse
Name[ro]=Maus
Name[ru]=Мышь
Name[se]=Sáhpán
Name[si]=මවුසය
Name[sk]=Myš
Name[sl]=Miška
Name[sr]=Миш
Name[sr@ijekavian]=Миш
Name[sr@ijekavianlatin]=Miš
Name[sr@latin]=Miš
Name[sv]=Mus
Name[ta]=சுட்டி
Name[te]=మౌస్
Name[tg]=Муш
Name[th]=เมาส์
Name[tr]=Fare
Name[ug]=چاشقىنەك
Name[uk]=Мишка
Name[uz]=Sichqoncha
Name[uz@cyrillic]=Сичқонча
Name[vi]=Chuột
Name[wa]=Sori
Name[xh]=Mouse
Name[x-test]=xxMousexx
Name[zh_CN]=鼠标
Name[zh_TW]=滑鼠
