[Desktop Entry]
Icon=preferences-desktop-user-account
Categories=QT;KDE;X-KDE-settings-security;
X-KDE-ParentApp=kcontrol
X-KDE-Library=kcm_useraccount
X-KDE-System-Settings-Parent-Category=accountdetails
X-KDE-Weight=40
X-DocPath=kdepasswd/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell5 kcm_useraccount
Name=Password & User Account
X-KDE-Keywords=password;email;name;organization;realname;login image;face; echo mode;
Comment=User information such as password, name and email

