[Desktop Entry]
Icon=preferences-desktop-user-account
Categories=QT;KDE;X-KDE-settings-security;
X-KDE-ParentApp=kcontrol
X-KDE-Library=kcm_useraccount
X-KDE-System-Settings-Parent-Category=accountdetails
X-KDE-Weight=40
X-DocPath=kdepasswd/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell5 kcm_useraccount
Name=Password and User Account
Name[ca]=Contrasenya i compte d'usuari
Name[cs]=Heslo a uživatelský účet
Name[da]=Adgangskode og brugerkonto
Name[de]=Passwort und Benutzerzugang
Name[el]=Κωδικός πρόσβασης και λογαριασμός χρήστη
Name[en_GB]=Password and User Account
Name[es]=Contraseña y cuenta del usuario
Name[fi]=Salasana ja käyttäjätili
Name[it]=Password e account utente
Name[ko]=암호와 사용자 계정
Name[lt]=Slaptažodis ir Naudotojo paskyra
Name[nl]=Wachtwoord en gebruikersaccount
Name[pl]=Hasło i konto użytkownika
Name[pt]=Senha e Conta do Utilizador
Name[pt_BR]=Senha e Conta do Usuário
Name[sk]=Heslo a účet používateľa
Name[sl]=Geslo in uporabniški račun
Name[sr]=Лозинка и кориснички налог
Name[sr@ijekavian]=Лозинка и кориснички налог
Name[sr@ijekavianlatin]=Lozinka i korisnički nalog
Name[sr@latin]=Lozinka i korisnički nalog
Name[sv]=Lösenord och användarkonto
Name[tr]=Parola ve Kullanıcı Hesabı
Name[uk]=Пароль і обліковий запис користувача
Name[x-test]=xxPassword and User Accountxx
Name[zh_CN]=密码和用户信息
Name[zh_TW]=密碼與帳號
X-KDE-Keywords=password,email,name,organization,realname,login image,face,echo mode
X-KDE-Keywords[ca]=contrasenya,correu electrònic,nom,organització,nom real,imatge inici de sessió,cara,mode eco
X-KDE-Keywords[da]=adgangskode,email,navn,organisation,ægtenavn,login-billede,ansigt,ekko-tilstand,
X-KDE-Keywords[de]=Passwort,E-Mail,Name,Organisation,Tatsächlicher Name,Anmeldebild,Gesicht,Echomodus
X-KDE-Keywords[el]=κωδικός πρόσβασης,email,όνομα,οργανισμός,πραγματικό όνομα,εικόνα σύνδεσης,πρόσωπο,λειτουργία echo
X-KDE-Keywords[en_GB]=password,email,name,organisation,realname,login image,face,echo mode
X-KDE-Keywords[es]=contraseña,email,correo electrónico,nombre,organización,nombre real,imagen de inicio de sesión,cara,modo con eco
X-KDE-Keywords[fi]=salasana,email,sähköposti,nimi,organisaatio,järjestö,oikea nimi,todellinen nimi,tunnuskuva,kaiutustila,salasanakenttä
X-KDE-Keywords[it]=password,email,nome,organizzazione,nome reale,immagine di accesso,volto,modalità echo
X-KDE-Keywords[ko]=password,email,name,organization,realname,login image,face, echo mode,암호,비밀번호,이메일,이름,조직,회사,실명,실제 이름,로그인 그림,프로필 사진,얼굴,표시 모드
X-KDE-Keywords[nl]=wachtwoord,e-mailadres,naam,organisatie,echte naam,aanmeldafbeelding,gezicht,echomodus
X-KDE-Keywords[pl]=hasło,email,nazwa,organizacja,rzeczywista nazwa,obraz loginu,twarz,tryb echo
X-KDE-Keywords[pt]=senha,e-mail,nome,organização,nome verdadeiro,imagem de autenticação,cara,modo de eco
X-KDE-Keywords[pt_BR]=senha,e-mail,email,nome,organização,nome verdadeiro,nome real,imagem de autenticação,face,rosto,modo de eco
X-KDE-Keywords[sk]=heslo,e-mail,meno,organizácia,skutočné meno,obrázok,tvár,režim výpisu
X-KDE-Keywords[sl]=geslo,pošta,ime,organizacija,pravo ime,slika ob prijavi,obraz,način odmeva
X-KDE-Keywords[sr]=password,email,name,organization,realname,login image,face, echo mode,лозинка,е‑пошта,име,организација,право име,пријавна слика,лице,режим одјека
X-KDE-Keywords[sr@ijekavian]=password,email,name,organization,realname,login image,face, echo mode,лозинка,е‑пошта,име,организација,право име,пријавна слика,лице,режим одјека
X-KDE-Keywords[sr@ijekavianlatin]=password,email,name,organization,realname,login image,face, echo mode,lozinka,e‑pošta,ime,organizacija,pravo ime,prijavna slika,lice,režim odjeka
X-KDE-Keywords[sr@latin]=password,email,name,organization,realname,login image,face, echo mode,lozinka,e‑pošta,ime,organizacija,pravo ime,prijavna slika,lice,režim odjeka
X-KDE-Keywords[sv]=lösenord,e-post,namn,organisation,verkligt namn,inloggningsbild.ansikte.ekoläge
X-KDE-Keywords[uk]=password,email,name,organization,realname,login image,face,echo mode,пароль,пошта,імейл,емейл,ім’я,назва,організація,установа,прізвище,зображення,картинка,обличчя,режим показу,зірочки
X-KDE-Keywords[x-test]=xxpasswordxx,xxemailxx,xxnamexx,xxorganizationxx,xxrealnamexx,xxlogin imagexx,xxfacexx,xxecho modexx
X-KDE-Keywords[zh_CN]=password;email;name;organization;realname;login image;face; echo mode;密码;邮箱;姓名;组织;真名;登录图像;脸
X-KDE-Keywords[zh_TW]=password,email,name,organization,realname,login image,face,echo mode
Comment=User information such as password, name and email
Comment[bs]=Podaci o korisniku, poput lozinke, imena i e‑pošte
Comment[ca]=Informació de l'usuari tal com la contrasenya, el nom i el correu
Comment[cs]=Informace o uživateli jako heslo, jméno a email
Comment[da]=Brugerinformation såsom adgangskode, navn og e-mail
Comment[de]=Benutzerinformationen wie Passwort, Name, E-Mail-Adresse
Comment[el]=Πληροφορίες χρήστη όπως ο κωδικός πρόσβασης, το όνομα και το email
Comment[en_GB]=User information such as password, name and email
Comment[es]=Información sobre el usuario, como su contraseña, su nombre y su dirección de correo electrónico
Comment[fi]=Käyttäjätiedot, kuten salasana, nimi ja sähköpostiosoite
Comment[fr]=Informations de l'utilisateur comme le mot de passe, le nom et le courrier électronique
Comment[hu]=A felhasználójellemzők, például az e-mail cím vagy a jelszó beállítása
Comment[it]=Informazioni utente come password, nome e indirizzo di posta elettronica
Comment[ko]=암호, 이름, 이메일과 같은 사용자 정보
Comment[lt]=Naudotojo informacija, tokia, kaip slaptažodis, vardas ir el. pašto adresas
Comment[nb]=Brukeropplysninger, slik som passord, navn og e-post
Comment[nds]=Brukerinformatschonen, so as Passwoort, Naam un Nettpostadress
Comment[nl]=Gebruikerinformatie zoals wachtwoord, naam en e-mailadres
Comment[nn]=Brukarinformasjon som passord, namn og e-postadresse
Comment[pl]=Informacje o koncie użytkownika: hasło, imię i nazwisko, e-mail itd.
Comment[pt]=Informações do utilizador, como a senha, o nome e o e-mail
Comment[pt_BR]=Informações do usuário, como a senha, nome e e-mail
Comment[ru]=Сведения о пользователе, такие как пароль, имя и адрес электронной почты
Comment[se]=Geavaheaddjedieđut nugo beassansátni, namma ja e-boasta
Comment[sk]=Informácie o užívateľovi, ako heslo, meno a e-mail
Comment[sl]=Podatki o uporabniku, kot so geslo, ime in e-pošta
Comment[sr]=Кориснички подаци попут лозинке, имена, е‑поште
Comment[sr@ijekavian]=Кориснички подаци попут лозинке, имена, е‑поште
Comment[sr@ijekavianlatin]=Korisnički podaci poput lozinke, imena, e‑pošte
Comment[sr@latin]=Korisnički podaci poput lozinke, imena, e‑pošte
Comment[sv]=Användarinformation såsom lösenord, namn och e-postadress
Comment[uk]=Дані облікового запису користувача, зокрема пароль, ім’я та адреса електронної пошти
Comment[x-test]=xxUser information such as password, name and emailxx
Comment[zh_CN]=用户信息，包括密码、姓名和电子邮件等
Comment[zh_TW]=使用者資訊如密碼、名稱和電子郵件

