[Desktop Entry]
Icon=preferences-desktop-user-account
Categories=QT;KDE;X-KDE-settings-security;
X-KDE-ParentApp=kcontrol
X-KDE-Library=kcm_useraccount
X-KDE-System-Settings-Parent-Category=accountdetails
X-KDE-Weight=40
X-DocPath=kdepasswd/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell5 kcm_useraccount
Name=Password & User Account
Name[ca]=Contrasenya i compte d'usuari
Name[fi]=Salasana ja käyttäjätili
Name[nds]=Passwoort un Brukerkonto
Name[nl]=Wachtwoord en gebruikerbeheer
Name[sk]=Heslo a účet
Name[uk]=Обліковий запис користувача і пароль
Name[x-test]=xxPassword & User Accountxx
X-KDE-Keywords=password;email;name;organization;realname;login image;face; echo mode;
X-KDE-Keywords[ca]=contrasenya;correu electrònic;nom;organització;nom real;imatge inici de sessió;cara;mode eco;
X-KDE-Keywords[fi]=salasana;email;sähköposti;nimi;organisaatio;järjestö;oikea nimi;todellinen nimi;tunnuskuva;kaiutustila;salasanakenttä;
X-KDE-Keywords[nds]=Passwoort;Nettpost;Nettpostadress;Afdelen;Organisatschoon;Reaalnaam;Anmell-Bild;Torüchmellen-Bedrief;
X-KDE-Keywords[nl]=wachtwoord;e-mail;naam;organisatie;echte naam;aanmeldafbeelding;gezicht; echomodus;
X-KDE-Keywords[sk]=heslo;e-mail;meno;organizácia;skutočné meno;obrázok;tvár;režim výpisu;
X-KDE-Keywords[uk]=password;email;name;organization;realname;login image;face; echo mode;пароль;пошта;імейл;емейл;ім’я;назва;організація;установа;прізвище;зображення;картинка;обличчя;режим показу;зірочки;
X-KDE-Keywords[x-test]=xxpassword;email;name;organization;realname;login image;face; echo mode;xx
Comment=User information such as password, name and email
Comment[ca]=Informació de l'usuari tal com la contrasenya, el nom i el correu
Comment[fi]=Käyttäjätiedot, kuten salasana, nimi ja sähköpostiosoite
Comment[nds]=Brukerinformatschonen, so as Passwoort, Naam un Nettpostadress
Comment[nl]=Gebruikerinformatie zoals wachtwoord, naam en e-mailadres
Comment[sk]=Informácie o užívateľovi, ako heslo, meno a e-mail
Comment[uk]=Дані облікового запису користувача, зокрема пароль, ім’я та адреса електронної пошти
Comment[x-test]=xxUser information such as password, name and emailxx

