[Desktop Entry]
Icon=preferences-desktop
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_landingpage
X-KDE-PluginKeyword=kcm_landingpage
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=rootcategory
X-KDE-Weight=40
X-DocPath=kcontrol/landingpage/index.html
Name=Quick Settings
Comment=Landing page with some basic settings

Categories=Qt;KDE;X-KDE-settings-system;
