[Desktop Entry]
Icon=preferences-desktop
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_landingpage
X-KDE-PluginKeyword=kcm_landingpage
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=rootcategory
X-KDE-Weight=40
X-DocPath=kcontrol/landingpage/index.html
Name=Quick Settings
Name[az]=Cəld ayarları
Name[ca]=Opcions ràpides
Name[cs]=Rychlé nastavení
Name[es]=Preferencias rápidas
Name[nl]=Snelle instellingen
Name[pt]=Configurações Rápidas
Name[pt_BR]=Configurações rápidas
Name[sl]=Hitre nastavitve
Name[sv]=Snabbinställningar
Name[uk]=Швидке налаштовування
Name[x-test]=xxQuick Settingsxx
Comment=Landing page with some basic settings
Comment[az]=Bəzi əsas ayarlara sahib açılış səhifəsi
Comment[ca]=Pàgina d'arribada amb diverses opcions bàsiques
Comment[es]=Página de entrada con algunas preferencias básicas
Comment[nl]=Landingspagina met enige basisinstellingen
Comment[pt]=Página inicial com algumas configurações básicas
Comment[sl]=Pristajalna stran z nekaj osnovnimi nastavitvami
Comment[sv]=Startsida med några grundinställningar
Comment[uk]=Початкова сторінка із базовими параметрами
Comment[x-test]=xxLanding page with some basic settingsxx

Categories=Qt;KDE;X-KDE-settings-system;
