[Desktop Entry]
Icon=preferences-desktop
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_landingpage
X-KDE-PluginKeyword=kcm_landingpage
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=rootcategory
X-KDE-Weight=40
X-DocPath=kcontrol/landingpage/index.html
Name=Quick Settings
Name[az]=Cəld ayarları
Name[ca]=Opcions ràpides
Name[cs]=Rychlé nastavení
Name[en_GB]=Quick Settings
Name[es]=Preferencias rápidas
Name[eu]=Ezarpen azkarrak
Name[fr]=Paramétrage rapide
Name[ia]=Preferentias rapide
Name[id]=Pengaturan Cepat
Name[it]=Impostazioni rapide
Name[nl]=Snelle instellingen
Name[nn]=Snøgginnstillingar
Name[pl]=Szybkie ustawienia
Name[pt]=Configurações Rápidas
Name[pt_BR]=Configurações rápidas
Name[sk]=Rýchle nastavenia
Name[sl]=Hitre nastavitve
Name[sv]=Snabbinställningar
Name[uk]=Швидке налаштовування
Name[vi]=Thiết lập nhanh
Name[x-test]=xxQuick Settingsxx
Comment=Landing page with some basic settings
Comment[az]=Bəzi əsas ayarlara sahib açılış səhifəsi
Comment[ca]=Pàgina d'arribada amb diverses opcions bàsiques
Comment[cs]=Úvodní stránka se základním nastavením
Comment[en_GB]=Landing page with some basic settings
Comment[es]=Página de entrada con algunas preferencias básicas
Comment[eu]=Iritsiera orria oinarrizko ezarpen batzuekin
Comment[fr]=Page d'accueil avec certains paramétrage basiques
Comment[id]=Halaman pemuatan dengan beberapa pengaturan dasar
Comment[it]=Pagina di destinazione con alcune impostazioni di base
Comment[nl]=Landingspagina met enige basisinstellingen
Comment[nn]=Startside med grunnleggjande innstillingar
Comment[pl]=Strona lądowania z kilkoma ustawieniami podstawowymi
Comment[pt]=Página inicial com algumas configurações básicas
Comment[sk]=Úvodná stránka s niekoľkými základnými nastaveniami
Comment[sl]=Pristajalna stran z nekaj osnovnimi nastavitvami
Comment[sv]=Startsida med några grundinställningar
Comment[uk]=Початкова сторінка із базовими параметрами
Comment[vi]=Trang mở đầu với một số thiết lập cơ bản
Comment[x-test]=xxLanding page with some basic settingsxx

Categories=Qt;KDE;X-KDE-settings-system;
