[Desktop Entry]
Exec=kcmshell4 kcm_touchpad
Icon=input-touchpad
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
OnlyShowIn=KDE;

X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-Init-Symbol=touchpad
X-KDE-Init-Phase=0
X-KDE-Library=kded_touchpad
X-KDE-PluginKeyword=kcm
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=input-devices

Name=Touchpad
Name[cs]=Touchpad
Name[de]=Touchpad
Name[fi]=Kosketuslevy
Name[hu]=Érintőtábla
Name[nl]=Touchpad
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[sk]=Touchpad
Name[sv]=Tryckplatta
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Comment=Touchpad settings
Comment[cs]=Nastavení touchpadu
Comment[de]=Touchpadeinstellungen
Comment[fi]=Kosketuslevyn asetukset
Comment[hu]=Érintőtábla beállítások
Comment[nl]=Instellingen van touchpad
Comment[pt]=Configuração do rato por toque
Comment[pt_BR]=Configurações do touchpad
Comment[sk]=Nastavenia touchpadu
Comment[sv]=Inställning av tryckplatta
Comment[uk]=Параметри сенсорної панелі
Comment[x-test]=xxTouchpad settingsxx
X-KDE-Keywords=Touchpad,Synaptics
X-KDE-Keywords[de]=Touchpad,Synaptics
X-KDE-Keywords[fi]=Touchpad,Synaptics,Kosketuslevy
X-KDE-Keywords[hu]=Érintőtábla,Szinaptikusok
X-KDE-Keywords[nl]=Touchpad,Synaptics
X-KDE-Keywords[pt]=Rato,Toque,Synaptics
X-KDE-Keywords[pt_BR]=Touchpad,Synaptics
X-KDE-Keywords[sk]=Touchpad,Synaptics
X-KDE-Keywords[sv]=Tryckplatta,Synaptics
X-KDE-Keywords[uk]=Touchpad,Synaptics,сенсорна,панель,тачпад,синаптикс
X-KDE-Keywords[x-test]=xxTouchpad,Synapticsxx
