[Desktop Entry]
Exec=kcmshell4 kcm_touchpad
Icon=input-touchpad
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
OnlyShowIn=KDE;

X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-Init-Symbol=touchpad
X-KDE-Init-Phase=0
X-KDE-Library=kded_touchpad
X-KDE-PluginKeyword=kcm
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=input-devices

Name=Touchpad
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Comment=Touchpad settings
Comment[pt]=Configuração do rato por toque
Comment[pt_BR]=Configurações do touchpad
Comment[uk]=Параметри сенсорної панелі
Comment[x-test]=xxTouchpad settingsxx
X-KDE-Keywords=Touchpad,Synaptics
X-KDE-Keywords[pt]=Rato,Toque,Synaptics
X-KDE-Keywords[pt_BR]=Touchpad,Synaptics
X-KDE-Keywords[uk]=Touchpad,Synaptics,сенсорна,панель,тачпад,синаптикс
X-KDE-Keywords[x-test]=xxTouchpad,Synapticsxx
