[Desktop Entry]
Name=Fonts
Name[af]=Skriftipes
Name[ar]=الخطوط
Name[be]=Шрыфты
Name[be@latin]=Šryfty
Name[bg]=Шрифтове
Name[bn]=ফন্ট
Name[bn_IN]=ফন্ট
Name[br]=Fontoù
Name[bs]=Fontovi
Name[ca]=Tipus de lletra
Name[ca@valencia]=Tipus de lletra
Name[cs]=Písma
Name[csb]=Fòntë
Name[cy]=Ffontiau
Name[da]=Skrifttyper
Name[de]=Schriftarten
Name[el]=Γραμματοσειρές
Name[en_GB]=Fonts
Name[eo]=Tiparoj
Name[es]=Tipos de letra
Name[et]=Fondid
Name[eu]=Letra-tipoak
Name[fa]=قلمها
Name[fi]=Fontit
Name[fr]=Polices de caractères
Name[fy]=Lettertypen
Name[ga]=Clónna
Name[gl]=Fontes
Name[gu]=ફોન્ટ્સ
Name[he]=גופנים
Name[hi]=फ़ॉन्ट्स
Name[hne]=फोंट
Name[hr]=Fontovi
Name[hsb]=Pisma
Name[hu]=Betűtípusok
Name[ia]=Fontes
Name[id]=Font
Name[is]=Letur
Name[it]=Caratteri
Name[ja]=フォント
Name[ka]=ფონტები
Name[kk]=Қаріптер
Name[km]=ពុម្ព​អក្សរ
Name[kn]=ಅಕ್ಷರಶೈಲಿಗಳು
Name[ko]=글꼴
Name[ku]=Curenivîs
Name[lt]=Šriftai
Name[lv]=Fonti
Name[mai]=फान्ट
Name[mk]=Фонтови
Name[ml]=അക്ഷരസഞ്ചയങ്ങള്‍
Name[mr]=फॉन्ट
Name[ms]=Fon
Name[nb]=Skrifttyper
Name[nds]=Schriftoorden
Name[ne]=फन्ट
Name[nl]=Lettertypen
Name[nn]=Skrifter
Name[oc]=Poliças
Name[or]=ଅକ୍ଷର ରୂପ
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[ro]=Fonturi
Name[ru]=Шрифты
Name[se]=Fonttat
Name[si]=අකුරු
Name[sk]=Písma
Name[sl]=Pisave
Name[sr]=Фонтови
Name[sr@ijekavian]=Фонтови
Name[sr@ijekavianlatin]=Fontovi
Name[sr@latin]=Fontovi
Name[sv]=Teckensnitt
Name[ta]=எழுத்துருக்கள்
Name[te]=ఫాంట్‍స్
Name[th]=แบบอักษรต่างๆ
Name[tr]=Yazı Tipleri
Name[ug]=خەت نۇسخىلىرى
Name[uk]=Шрифти
Name[uz]=Shriftlar
Name[uz@cyrillic]=Шрифтлар
Name[vi]=Phông chữ
Name[wa]=Fontes
Name[xh]=Uhlobo lwamagama
Name[x-test]=xxFontsxx
Name[zh_CN]=字体
Name[zh_TW]=字型

Comment=Configure user interface fonts
Comment[ca]=Configura els tipus de lletra de l'usuari
Comment[ca@valencia]=Configura els tipus de lletra de l'usuari
Comment[cs]=Nastavte písmo uživatelského rozhraní
Comment[da]=Indstil brugerfladens skrifttyper
Comment[de]=Benutzerdefinierte Schriften einrichten
Comment[en_GB]=Configure user interface fonts
Comment[es]=Configurar los tipos de letra de la interfaz de usuario
Comment[eu]=Konfiguratu erabiltzaile-interfazearen letra-tipoak
Comment[fi]=Käyttöliittymäfonttien asetukset…
Comment[fr]=Configurer les polices de l'interface utilisateur
Comment[gl]=Configurar as fontes da interface de usuario
Comment[id]=Konfigurasikan font antarmuka pengguna
Comment[it]=Configura caratteri dell'interfaccia utente
Comment[ja]=UI のフォントを設定
Comment[ko]=사용자 인터페이스 글꼴 설정
Comment[lt]=Konfigūruoti naudotojo sąsajos šriftus
Comment[nl]=Lettertypen van gebruikersinterface configureren
Comment[nn]=Set opp skrifter for brukargrensesnittet
Comment[pl]=Ustawienia czcionek interfejsu użytkownika
Comment[pt]=Configurar os tipos de letra da interface do utilizador
Comment[pt_BR]=Configurar as fontes da interface do usuário
Comment[ru]=Выбор шрифтов для элементов интерфейса
Comment[sk]=Nastavte písma používateľského rozhrania
Comment[sv]=Anpassa teckensnitt för användargränssnitt
Comment[uk]=Налаштовування шрифтів у інтерфейсі користувача
Comment[x-test]=xxConfigure user interface fontsxx
Comment[zh_CN]=配置用户界面字体
Comment[zh_TW]=設定使用者介面字型

Icon=preferences-desktop-font
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Antonis Tsiapaliokas
X-KDE-PluginInfo-Email=antonis.tsiapaliokas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_fonts
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
