[SddmGreeterTheme]
Name=Breeze
Name[ar]=نسيم
Name[bg]=Breeze
Name[ca]=Brisa
Name[ca@valencia]=Brisa
Name[eo]=Breeze
Name[es]=Brisa
Name[he]=בריזה
Name[ka]=Breeze
Name[nl]=Breeze
Name[sl]=Sapica
Name[ta]=பிரீஸ்
Name[tr]=Esinti
Name[uk]=Breeze
Name[x-test]=xxBreezexx
Description=Breeze
Description[ar]=نسيم
Description[bg]=Breeze
Description[ca]=Brisa
Description[ca@valencia]=Brisa
Description[eo]=Brizo
Description[es]=Brisa
Description[he]=בריזה
Description[ka]=Breeze
Description[nl]=Breeze
Description[sl]=Sapica
Description[ta]=பிரீஸ்
Description[tr]=Esinti
Description[uk]=Breeze
Description[x-test]=xxBreezexx
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=breeze
Theme-API=2.0
QtVersion=6
