[Desktop Entry]
Exec=kcmshell5 standard_actions
Icon=preferences-desktop-keyboard-shortcut
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/keys/index.html

X-KDE-Library=kcm_standard_actions
X-KDE-Init-Symbol=standard_actions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=shortcuts-and-gestures
X-KDE-Weight=150

Name=Standard Keyboard Shortcuts
Name[ar]=اختصارات لوحة المفاتيح القياسية
Name[ast]=Accesos rápidos de tecláu standard
Name[be@latin]=Zvyčajnyja klavijaturnyja skaroty
Name[bg]=Стандартни бързи клавиши
Name[bn]=সাধারণত ব্যবহৃত কীবোর্ড শর্টকাট
Name[bn_IN]=কি-বোর্ডের সাধারণ শর্ট-কাট
Name[bs]=Standardne prečice sa tastature
Name[ca]=Dreceres de teclat estàndard
Name[ca@valencia]=Dreceres de teclat estàndard
Name[cs]=Standardní klávesové zkratky
Name[csb]=Sztandardowé klawiszowé skrodzënë
Name[da]=Standard tastaturgenveje
Name[de]=Standard-Kurzbefehle
Name[el]=Τυπικές συντομεύσεις πληκτρολογίου
Name[en_GB]=Standard Keyboard Shortcuts
Name[eo]=Defaŭlta Klavkombinoj
Name[es]=Accesos rápidos de teclado estándar
Name[et]=Standardsed kiirklahvid
Name[eu]=Laster-tekla estandarrak
Name[fi]=Vakiopikanäppäimet
Name[fr]=Raccourcis clavier standard
Name[fy]=Standert fluchkeppelings 
Name[ga]=Aicearraí Caighdeánacha Méarchláir
Name[gl]=Atallos de teclado estándar
Name[gu]=પ્રમાણભૂત કીબોર્ડ ટૂંકાણો
Name[he]=קיצורי מקשים נפוצים
Name[hi]=मानक कुंजीपट शॉर्टकट
Name[hne]=स्टेन्डर्ड कुंजीपट सार्टकट
Name[hr]=Standardni prečaci tipkovnice
Name[hsb]=Standardne tastaturowe skrótšenki
Name[hu]=Billentyűparancsok
Name[ia]=Vias breve standard de claviero
Name[id]=Jalan Pintas Papan Ketik Standar
Name[is]=Staðlaðir flýtilyklar
Name[it]=Scorciatoie standard della tastiera
Name[ja]=標準キーボードショートカット
Name[kk]=Стандартты перне тіркесімдер
Name[km]=ផ្លូវកាត់​ក្ដារចុច​ស្តង់ដារ
Name[kn]=ಪ್ರಮಾಣಿತ ಕೀಲಿಮಣೆ ಶೀಘ್ರಮಾರ್ಗಗಳು (ಶಾರ್ಟ್ ಕಟ್)
Name[ko]=표준 키보드 단축키
Name[ku]=Kurterê yên Klavyeyê yên Standard
Name[lt]=Standartiniai spartieji klavišai
Name[lv]=Standarta tastatūras īsceļi
Name[mai]=मानक कुंजीपट शार्टकट
Name[mk]=Стандардни кратенки на тастатурата
Name[ml]=കീബോര്‍ഡിലെ സ്റ്റാന്‍ഡേര്‍ഡ് കുറക്കുവഴികള്‍
Name[mr]=प्रमाणित कळफलक शॉर्टकट
Name[nb]=Standard hurtigtaster
Name[nds]=Standard-Tastkombinatschonen
Name[nl]=Standaard sneltoetsen
Name[nn]=Standard snøgg­tastar
Name[or]=ମାନକ କିବୋର୍ଡ଼ ସଂକ୍ଷିପ୍ତ ପଥଗୁଡ଼ିକ
Name[pa]=ਸਟੈਂਡਰਡ ਕੀ-ਬੋਰਡ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Standardowe skróty klawiszowe
Name[pt]=Atalhos-Padrão do Teclado
Name[pt_BR]=Atalhos de teclado padrão
Name[ro]=Acceleratori de tastatură standard
Name[ru]=Комбинации клавиш
Name[si]=සම්මත යතුරුපුවරු කෙටිමං
Name[sk]=Štandardné klávesové skratky
Name[sl]=Standardne tipkovne bližnjice
Name[sr]=Стандардне пречице са тастатуре
Name[sr@ijekavian]=Стандардне пречице са тастатуре
Name[sr@ijekavianlatin]=Standardne prečice sa tastature
Name[sr@latin]=Standardne prečice sa tastature
Name[sv]=Vanliga snabbtangenter
Name[ta]=நிலையான விசைப்பலகை குறுக்கு வழிகள்
Name[te]=ప్రామాణిక కీబోర్‍డ్ లఘువులు
Name[tg]=Стандартные комбинации клавиш
Name[th]=ปุ่มพิมพ์ลัดมาตรฐาน
Name[tr]=Standart Klavye Kısayolları
Name[ug]=ئۆلچەملىك ھەرپتاختا تېزلەتمىلىرى
Name[uk]=Стандартні клавіатурні скорочення
Name[wa]=Rascourtis standård del taprece
Name[x-test]=xxStandard Keyboard Shortcutsxx
Name[zh_CN]=标准键盘快捷键
Name[zh_TW]=標準鍵盤捷徑

Comment=Configuration of standard keybindings
Comment[ar]=ضبط الإختصارت القياسية
Comment[ast]=Configuración de les asociaciones de les tecles standard
Comment[be@latin]=Nałady zvyčajnych poviaziaŭ klavišaŭ z aperacyjami
Comment[bg]=Настройки на стандартните бързи клавиши
Comment[bn]=সাধারণত ব্যবহৃত কী-বাইন্ডিং কনফিগারেশন 
Comment[bn_IN]=প্রমিত কি-বাইন্ডিং কনফিগারেশন
Comment[bs]=Postava standardnih prečica sa tastature
Comment[ca]=Configuració dels lligams de tecles estàndard
Comment[ca@valencia]=Configuració dels lligams de tecles estàndard
Comment[cs]=Nastavení standardních klávesových zkratek
Comment[csb]=Nastôw sztandardowëch klawiszowëch skrodzënów
Comment[da]=Indstilling af standard tastebindinger
Comment[de]=Einrichtung von Standard-Kurzbefehlen
Comment[el]=Διαμόρφωση τυπικών συνδυασμών πλήκτρων
Comment[en_GB]=Configuration of standard keybindings
Comment[eo]=Agordo dedefaŭltaj klavkombinoj
Comment[es]=Configuración de las asociaciones de las teclas estándar
Comment[et]=Standardsete kiirklahvide seadistamine
Comment[eu]=Laster-tekla estandarren konfigurazioa
Comment[fi]=Vakionäppäinsidosten asetukset
Comment[fr]=Configuration des combinaisons standards de touches
Comment[fy]=Konfiguraasje fan standert toetsbinnings
Comment[ga]=Cumraíocht ceangal eochracha
Comment[gl]=Configuración dos atallos de teclado estándar
Comment[gu]=પ્રમાણભૂત કળજોડાણોનું રૂપરેખાંકન
Comment[he]=הגדרה של שיוכי מקשים נפוצים
Comment[hi]=मानक की-बाइंडिंग का कॉन्फ़िगरेशन
Comment[hne]=स्टेन्डर्ड की-बाइंडिंग के कान्फिगरेसन
Comment[hr]=Konfiguriranje standardnih prečaca tipkovnice
Comment[hsb]=Standardne tastaturowe skrótšenki připrawić
Comment[hu]=A billentyűparancsok beállításai
Comment[ia]=Configuration de keybindings (ligamines de claves) standard
Comment[id]=Konfigurasi untuk pengikat tombol standar
Comment[is]=Stillingar staðlaðra lyklabindinga
Comment[it]=Configurazione delle associazioni di tasti standard
Comment[ja]=標準キーバインディングの設定
Comment[kk]=Стандартты перне тіркесімдерді баптау
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ការ​ចង​គ្រាប់​ចុច​ស្តង់ដារ
Comment[kn]=ಪ್ರಮಾಣಿತ ಕೀಲಿಮಣೆ ನಿಬಂಧನೆಗಳ (ಬೈಂಡಿಂಗ್ಸ್) ಸಂರಚನೆ
Comment[ko]=표준 키 바인딩 설정
Comment[ku]=Veavakirina girêdanî ya bişkojkan yê standard
Comment[lt]=Standartinių klavišų siečių konfigūravimas
Comment[lv]=Standarta taustiņsasaišu konfigurēšana
Comment[mk]=Конфигурација на стандардни врски на копчиња
Comment[ml]=കീബൈന്‍ഡിങ്സിനുള്ള സ്റ്റാന്‍ഡേര്‍ഡ് ക്രമീകരണം
Comment[mr]=प्रमाणित किबाइन्डींगची संयोजना
Comment[nb]=Oppsett av hurtigtaster
Comment[nds]=Instellen vun Standard-Tastkombinatschonen
Comment[nl]=Instellingen voor standaard sneltoetsen
Comment[nn]=Oppsett av standard snøggtastar
Comment[or]=ମାନକ କି ବନ୍ଧନଗୁଡ଼ିକର ସଂରଚନା
Comment[pa]=ਸਟੈਂਡਰਡ ਕੀ-ਬਾਇਡਿੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja standardowych powiązań klawiszowych
Comment[pt]=Configuração das combinações de teclas-padrão
Comment[pt_BR]=Configuração dos atalhos de teclado padrão
Comment[ro]=Configurarea asocierilor de taste standarde
Comment[ru]=Настройка комбинаций клавиш
Comment[si]=සම්මත යතුරු බැඳුම් වල සැකසුම
Comment[sk]=Nastavenie štandardných klávesových skratiek
Comment[sl]=Nastavitve standardnih tipkovnih bližnjic
Comment[sr]=Постава стандардних пречица са тастатуре
Comment[sr@ijekavian]=Постава стандардних пречица са тастатуре
Comment[sr@ijekavianlatin]=Postava standardnih prečica sa tastature
Comment[sr@latin]=Postava standardnih prečica sa tastature
Comment[sv]=Anpassa vanliga snabbtangenter
Comment[ta]=நிலையான விசைக்கூட்டுகளுக்கான வடிவமைப்பு
Comment[te]=ప్రామాణిక కీబైండిగ్‍స్  యొక్క ఆకృతీకరణ
Comment[tg]=Настройка стандартных комбинаций клавиш
Comment[th]=ปรับแต่งการจับคู่ปุ่มพิมพ์มาตรฐาน (ปุ่มพิมพ์ลัด)
Comment[tr]=Standart tuş bağıntıları yapılandırılması
Comment[ug]=ئۆلچەملىك كۇنۇپكا باغلاش سەپلىمەسى
Comment[uk]=Налаштування стандартних прив'язок клавіш
Comment[vi]=Cấu hình các tổ hợp phím chuẩn
Comment[wa]=Apontiaedje des rascourtis standårds di tapes
Comment[x-test]=xxConfiguration of standard keybindingsxx
Comment[zh_CN]=标准键绑定配置
Comment[zh_TW]=標準按鍵組合設定
X-KDE-Keywords=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts
X-KDE-Keywords[bs]=Tipke, Globalni vezovi tipki, Šema tipki, Veze tipki, Prečice, Prečice za aplikacije
X-KDE-Keywords[ca]=Tecles,Assignació de tecles globals,Esquema de tecles,Assignació de tecles,dreceres,dreceres d'aplicació
X-KDE-Keywords[ca@valencia]=Tecles,Assignació de tecles globals,Esquema de tecles,Assignació de tecles,dreceres,dreceres d'aplicació
X-KDE-Keywords[da]=Taster,globale tastebindinger,tasteskema,tastebindinger,genveje,programgenveje
X-KDE-Keywords[de]=Tasten,Tastenzuordnung,Tastenkürzel,Kurzbefehle,Tastenschema,Tastaturlayout
X-KDE-Keywords[el]=πλήκτρα,καθολικές δεσμεύσεις πλήκτρων,σχήμα πλήκτρου,δεσμεύσεις πλήκτρων,συντομεύσεις,συντομεύσεις εφαρμογών
X-KDE-Keywords[es]=Teclas,Asociaciones globales de teclas,Esquema de teclas,Asociaciones de teclas,accesos rápidos, accesos rápidos de aplicaciones
X-KDE-Keywords[et]=klahvid,globaalsed kiirklahvid,klaviatuuriskeem,klahviseosed,kiirklahvid,rakenduse kiirklahvid
X-KDE-Keywords[eu]=tekla,laster-tekla orokor,tekla-eskema,laster-tekla,lasterbide,aplikazioen laster-teklak
X-KDE-Keywords[fa]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts
X-KDE-Keywords[fi]=näppäimet,globaalit näppäinsidokset,yleiset näppäinsidokset,työpöydänlaajuiset näppäinsidokset,globaalit pikanäppäimet,työpöydänlaajuiset pikanäppäimet,globaalit näppäinyhdistelmät,työpöydänlaajuiset näppäinyhdistelmät,näppäimistön yleispikavalinnat,näppäimistön globaalit pikavalinnat,näppäinsidokset,pikanäppäimet,näppäimistön pikavalinnat, näppäinyhdistelmät,näppäinoikotiet,sovellusten pikanäppäimet,sovellusten näppäinyhdistelmät,sovellusten näppäinoikotiet
X-KDE-Keywords[fr]=Touches, Configuration globale des touches, Disposition des touches, Configuration des touches, raccourcis, raccourcis des applications
X-KDE-Keywords[ga]=Eochracha,Ceangail chomhchoiteanna eochracha,Scéim eochracha,Ceangail eochracha,aicearraí,aicearraí feidhmchláir
X-KDE-Keywords[gl]=teclas, atallos de teclado globais, atallo de teclado, atallo
X-KDE-Keywords[hu]=Billentyűk,Globális gyorsbillentyűk,Billentyűséma,gyorsbillentyűk,alkalmazás gyorsbillentyűk
X-KDE-Keywords[ia]=Claves,ligamines de clave global,schema de clave,ligamines de clave,vias breve,vias breve de application
X-KDE-Keywords[it]=tasti,scorciatoie globali di tastiera,schema di tasti,scorciatoie,scorciatoie delle applicazioni
X-KDE-Keywords[kk]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts
X-KDE-Keywords[km]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts
X-KDE-Keywords[ko]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,키,전역 키 바인딩,키 바인딩,단축키,프로그램 단축키
X-KDE-Keywords[mr]=कीज, ग्लोबल की बाईंडिंगज, की स्कीम, की बाईंडिंगज, शॉर्टकटस, ग्लोबल शॉर्टकटस, अप्लिकेशन शॉर्टकटस
X-KDE-Keywords[nb]=Taster,Globale tastebindinger,Tastaturutforming,Tastebindinger,snarveier,programsnarveier
X-KDE-Keywords[nds]=Tasten,Globaal Tasttowiesen,Tastatuurschema,Tasttowiesen,Tastkombinatschonen,Programm-Tastkombinatschonen
X-KDE-Keywords[nl]=toetsen,globale toetsbindingen,toetsenschema,toetsbindingen,sneltoetsen,sneltoetsen van toepassing
X-KDE-Keywords[pl]=Klawisze,Globalne powiązania klawiszy,Motyw klawiszy,Powiązania klawiszy,skróty,skróty programów
X-KDE-Keywords[pt]=Teclas,combinações de teclas,global,esquema de teclas,atalhos de teclado,atalhos,atalhos das aplicações
X-KDE-Keywords[pt_BR]=Teclas,combinações de teclas global,esquema de teclas,atalhos de teclado,atalhos,atalhos dos aplicativos
X-KDE-Keywords[ru]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,клавиши,глобальные привязки клавиш,схема клавиш,привязки клавиш,комбинации клавиш в приложениях
X-KDE-Keywords[sk]=Klávesy,Globálne klávesové skratky,Klávesová schéma,Klávesové strakty,skratky,skratky aplikácie
X-KDE-Keywords[sl]=tipke,splošne tipkovne bližnjice,tipkovna shema,shema tipk,tipkovne bližnjice,vezave tipk,bližnjice,programske bližnjice
X-KDE-Keywords[sr]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,тастери,глобалне свезе тастера,шема тастера,свезе тастера,пречице,пречице програма
X-KDE-Keywords[sr@ijekavian]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,тастери,глобалне свезе тастера,шема тастера,свезе тастера,пречице,пречице програма
X-KDE-Keywords[sr@ijekavianlatin]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,tasteri,globalne sveze tastera,šema tastera,sveze tastera,prečice,prečice programa
X-KDE-Keywords[sr@latin]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,tasteri,globalne sveze tastera,šema tastera,sveze tastera,prečice,prečice programa
X-KDE-Keywords[sv]=Tangenter,Globala tangentbindingar,Tangentschema,Tangentbindingar,genvägar,programgenvägar
X-KDE-Keywords[tr]=Tuşlar,Global tuş birleşimleri,Tuş şeması,Tuş kombinasyonları,kısayollar,uygulama kısayolları
X-KDE-Keywords[uk]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,клавіатура,скорочення,клавіатурні скорочення,схема,загальні клавіатурні скорочення,клавіатурні скорочення програми
X-KDE-Keywords[vi]=Phím,tổ hợp phím toàn cục,phối hợp phím,tổ hợp phím,gõ tắt,gõ tắt cho ứng dụng
X-KDE-Keywords[x-test]=xxKeys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcutsxx
X-KDE-Keywords[zh_CN]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,按键,全局键绑定,按键方案,按键绑定,快捷键,应用程序
X-KDE-Keywords[zh_TW]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts

Categories=Qt;KDE;X-KDE-settings-accessibility;
