[Desktop Entry]
Exec=kcmshell4 kcm_touchpad
Icon=preferences-desktop-mouse
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
OnlyShowIn=KDE;

X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-Init-Symbol=touchpad
X-KDE-Library=kcm_touchpad
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=input-devices

Name=Touchpad
Comment=Touchpad settings
X-KDE-Keywords=Touchpad,Synaptics
