[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=touchpad
X-KDE-DBus-ModuleName=touchpad
X-KDE-Kded-autoload=true
Name=Automatic Touchpad Disable
Comment=Automatically enables/disables touchpad
