[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=touchpad
X-KDE-DBus-ModuleName=touchpad
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
Name=Automatic Touchpad Disable
Comment=Automatically enables/disables touchpad
