[Desktop Entry]
Exec=kcmshell5 kcm_plasmasearch
Icon=nepomuk
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_plasmasearch
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=search
X-KDE-Weight=10

Name=Plasma Search
Name[ar]=بحث بلازما
Name[ast]=Gueta de Plasma
Name[bs]=Plazma pretraga
Name[ca]=Cerca de Plasma
Name[ca@valencia]=Cerca de Plasma
Name[cs]=Plasma hledání
Name[da]=Plasma-søgning
Name[de]=Plasma-Suche
Name[el]=Αναζήτηση Plasma
Name[en_GB]=Plasma Search
Name[es]=Búsqueda de Plasma
Name[et]=Plasma otsing
Name[fi]=Plasma-haku
Name[fr]=Rechercher Plasma
Name[gl]=Busca de Plasma
Name[he]=חיפוש בפלזמה
Name[hu]=Plasma kereső
Name[id]=Pencarian Plasma
Name[is]=Plasma leit
Name[it]=Ricerca di Plasma
Name[ja]=Plasma 検索
Name[ko]=Plasma 검색
Name[lt]=Plasma paieška
Name[nb]=Plasma-søk
Name[nds]=Plasma-Söök
Name[nl]=Plasma zoeken
Name[nn]=Plasma-søk
Name[pa]=ਪਲਾਜ਼ਮਾ ਖੋਜ
Name[pl]=Wyszukiwarka Plazmy
Name[pt]=Pesquisa no Plasma
Name[pt_BR]=Pesquisa do Plasma
Name[ru]=Поиск в Plasma
Name[sk]=Hľadanie Plasma
Name[sl]=Iskanje Plasma
Name[sr]=Плазма претрага
Name[sr@ijekavian]=Плазма претрага
Name[sr@ijekavianlatin]=Plasma pretraga
Name[sr@latin]=Plasma pretraga
Name[sv]=Plasma sökning
Name[tr]=Plasma Araması
Name[uk]=Пошук у Плазмі
Name[x-test]=xxPlasma Searchxx
Name[zh_CN]=Plasma 搜索
Name[zh_TW]=Plasma 搜尋
Comment=Configure Search
Comment[ar]=اضبط البحث
Comment[ast]=Configura la gueta
Comment[bs]=Konfiguriši pretragu
Comment[ca]=Configura la cerca
Comment[ca@valencia]=Configura la cerca
Comment[cs]=Nastavit hledání
Comment[da]=Indstil søgning
Comment[de]=Suche einrichten
Comment[el]=Διαμόρφωση αναζήτησης
Comment[en_GB]=Configure Search
Comment[es]=Configurar la búsqueda
Comment[et]=Otsingu seadistamine
Comment[fi]=Haun asetukset
Comment[fr]=Configurer la recherche
Comment[gl]=Configurar a busca
Comment[he]=הגדרות של חיפוש בפלזמה (Alt+F2 או חיפוש במשגר ישומים)
Comment[hu]=Keresés beállítása
Comment[id]=Atur Pencarian
Comment[is]=Stilla leit
Comment[it]=Configura la ricerca
Comment[ja]=検索を設定
Comment[ko]=검색 설정
Comment[lt]=Konfigūruoti paiešką
Comment[mr]=शोध संयोजीत करा
Comment[nb]=Sett opp søk
Comment[nds]=Söök instellen
Comment[nl]=Zoeken instellen
Comment[nn]=Set opp søk
Comment[pa]=ਖੋਜ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia wyszukiwania
Comment[pt]=Configurar a Pesquisa
Comment[pt_BR]=Configura a Pesquisa
Comment[ru]=Настройка строки поиска и запуска
Comment[sk]=Nastavenie hľadania
Comment[sl]=Nastavi iskanje
Comment[sr]=Подешавање претраге
Comment[sr@ijekavian]=Подешавање претраге
Comment[sr@ijekavianlatin]=Podešavanje pretrage
Comment[sr@latin]=Podešavanje pretrage
Comment[sv]=Anpassa sökning
Comment[tr]=Aramayı Yapılandır
Comment[uk]=Налаштування пошуку
Comment[x-test]=xxConfigure Searchxx
Comment[zh_CN]=配置搜索
Comment[zh_TW]=設定搜尋
X-KDE-Keywords=Search, File, Baloo, Runner, krunner
X-KDE-Keywords[ar]=ابحث,ملف,بالو,مشغّل,مشغّلك
X-KDE-Keywords[ast]=Gueta, Gueta, Buscar, Busca, Baloo, Executador, krunner
X-KDE-Keywords[bs]=Pretraži,fajl,Baloo,Trkač,krunner
X-KDE-Keywords[ca]=Cerca, Fitxer, Baloo, Executor, Runner, krunner
X-KDE-Keywords[ca@valencia]=Cerca, Fitxer, Baloo, Executor, Runner, krunner
X-KDE-Keywords[da]=Søgning, Fil, Baloo, Runner, krunner
X-KDE-Keywords[de]=Suchen, Datei, Baloo, Runner, KRunner
X-KDE-Keywords[el]=Αναζήτηση, Αρχείο, Baloo, Εκτελεστής, krunner
X-KDE-Keywords[en_GB]=Search, File, Baloo, Runner, krunner
X-KDE-Keywords[es]=Buscar, archivo, Baloo, lanzador, krunner
X-KDE-Keywords[et]=Otsing, Fail, Baloo, Käivitaja, krunner
X-KDE-Keywords[fi]=Search, File, Baloo, Runner, krunner, haku, etsi, tiedosto, suoritusohjelma
X-KDE-Keywords[fr]=Rechercher, fichier, baloo, lanceur, krunner
X-KDE-Keywords[gl]=Busca, Ficheiro, Baloo, Balú, Iniciador, krunner
X-KDE-Keywords[hu]=Keresés, Fájl, Baloo, Indító, krunner
X-KDE-Keywords[id]=Pencarian, Berkas, Baloo, Pelari, krunner
X-KDE-Keywords[it]=ricerca,file,Baloo,esecutore,krunner
X-KDE-Keywords[ko]=Search, File, Baloo, Runner, krunner, 검색, 파일, 찾기, 실행기
X-KDE-Keywords[nb]=Søk. fil, Baloo, Runner, Krunner
X-KDE-Keywords[nds]=Söök, Datei, Baloo, Dreger, Krunner, söken
X-KDE-Keywords[nl]=Zoeken, bestand, Baloo, Runner, krunner
X-KDE-Keywords[nn]=søk, fil, Baloo, køyrar, startar, Runner, krunner
X-KDE-Keywords[pa]=ਖੋਜ, ਫਾਇਲ, ਬਾਲੂ, ਰਨਰ, ਕੇਰਨਰ
X-KDE-Keywords[pl]=Wyszukiwanie, Plik, Baloo, Uruchamianie, krunner
X-KDE-Keywords[pt]=Pesquisa, Ficheiro, Baloo, Execução, krunner
X-KDE-Keywords[pt_BR]=Pesquisar, Procurar, Arquivo, Baloo, Execução, krunner
X-KDE-Keywords[ru]=Search, File, Baloo, поиск, файл, Балу, запуск, Runner, krunner
X-KDE-Keywords[sk]=Hľadanie, súbor, baloo, bežec, krunner
X-KDE-Keywords[sl]=Iskanje, datoteka, Baloo, zaganjalnik, krunner
X-KDE-Keywords[sr]=search,file,baloo,runner,krunner,претрага,фајл,Балу,извођач,К‑извођач
X-KDE-Keywords[sr@ijekavian]=search,file,baloo,runner,krunner,претрага,фајл,Балу,извођач,К‑извођач
X-KDE-Keywords[sr@ijekavianlatin]=search,file,baloo,runner,krunner,pretraga,fajl,Baloo,izvođač,K‑izvođač
X-KDE-Keywords[sr@latin]=search,file,baloo,runner,krunner,pretraga,fajl,Baloo,izvođač,K‑izvođač
X-KDE-Keywords[sv]=Sök, Fil, Baloo, Körprogram, Kör program
X-KDE-Keywords[tr]=Arama, Dosya, Baloo, Çalıştırıcı, krunner
X-KDE-Keywords[uk]=пошук,файли,файл,балу,запуск,search,file,Baloo,Runner,krunner
X-KDE-Keywords[x-test]=xxSearchxx,xx Filexx,xx Balooxx,xx Runnerxx,xx krunnerxx
X-KDE-Keywords[zh_CN]=Search, File, Baloo, Runner, krunner,搜索,文件
X-KDE-Keywords[zh_TW]=Search, File, Baloo, Runner, krunner
