# SPDX-FileCopyrightText: 2022 Alexander Lohnau <alexander.lohnau@gmx.de>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Icon=krunner
Type=Application
NoDisplay=true

Name=KRunner Settings
