[Desktop Entry]
Icon=plasma-search
Type=Application
Exec=systemsettings kcm_plasmasearch
NoDisplay=true

Name=Plasma Search
Name[ar]=بحث بلازما
Name[ca]=Cerca del Plasma
Name[ca@valencia]=Cerca del Plasma
Name[es]=Búsqueda de Plasma
Name[fi]=Plasma-haku
Name[fr]=Rechercher Plasma
Name[hu]=Plasma Search
Name[ia]=Cerca de Plasma
Name[it]=Ricerca di Plasma
Name[lt]=Plasma paieška
Name[nb]=Plasma-søk
Name[nl]=Plasma zoeken
Name[nn]=Plasma-søk
Name[pl]=Wyszukiwarka Plazmy
Name[sl]=Plasma iskanje
Name[sv]=Plasma-sökning
Name[uk]=Пошук у Плазмі
Name[vi]=Tìm kiếm Plasma
Name[x-test]=xxPlasma Searchxx
Name[zh_CN]=Plasma 搜索
Comment=Configure search settings
Comment[ar]=اضبط إعدادات البحث
Comment[ca]=Configura els paràmetres de cerca
Comment[ca@valencia]=Configura els paràmetres de cerca
Comment[es]=Configurar las preferencias de búsqueda
Comment[fr]=Configuration des paramètres de recherche
Comment[hu]=Keresési beállítások módosítása
Comment[ia]=Configura preferentias de cerca
Comment[it]=Configura le impostazioni di ricerca
Comment[lt]=Konfigūruoti paieškos nuostatas
Comment[nl]=Zoekinstellingen configureren
Comment[nn]=Oppsett av søkjeinnstillingar
Comment[pl]=Ustawienia wyszukiwania
Comment[sl]=Nastavi iskanje
Comment[sv]=Anpassa sökinställningar
Comment[uk]=Налаштування параметрів пошуку
Comment[vi]=Cấu hình thiết lập tìm kiếm
Comment[x-test]=xxConfigure search settingsxx
Comment[zh_CN]=配置搜索设置
