[Desktop Entry]
Icon=plasma-search
Type=Application
Exec=systemsettings kcm_plasmasearch
NoDisplay=true

Name=Plasma Search
Name[ar]=بحث بلازما
Name[az]=Plasma axtarışı
Name[ca]=Cerca del Plasma
Name[ca@valencia]=Cerca del Plasma
Name[es]=Búsqueda de Plasma
Name[fi]=Plasma-haku
Name[fr]=Rechercher Plasma
Name[hu]=Plasma Search
Name[ia]=Cerca de Plasma
Name[it]=Ricerca di Plasma
Name[lt]=Plasma paieška
Name[nb]=Plasma-søk
Name[nl]=Plasma zoeken
Name[nn]=Plasma-søk
Name[pl]=Wyszukiwarka Plazmy
Name[pt_BR]=Pesquisa do Plasma
Name[sl]=Plasma iskanje
Name[sv]=Plasma-sökning
Name[uk]=Пошук у Плазмі
Name[vi]=Tìm kiếm Plasma
Name[x-test]=xxPlasma Searchxx
Name[zh_CN]=Plasma 搜索
