[Desktop Entry]
Name=KWin
Comment=Interact with the Plasma Compositor
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=kwin
X-KDE-Library=krunner_kwin
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=kwin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
