[Desktop Entry]
Name=Input Method Panel
Name[ar]=شريط أسلوب الإدخال
Name[bs]=Panel metoda unosa
Name[ca]=Plafó del mètode d'entrada
Name[ca@valencia]=Plafó del mètode d'entrada
Name[cs]=Panel vstupních metod
Name[da]=Panel til input-metoder
Name[de]=Eingabemethoden
Name[el]=Πλαίσιο μεθόδου εισαγωγής
Name[en_GB]=Input Method Panel
Name[es]=Panel de método de entrada
Name[et]=Sisestusviisi paneel
Name[fi]=Syötemenetelmäpaneeli
Name[fr]=Panneau de méthode de saisie
Name[gl]=Panel de métodos de entrada
Name[hr]=Panel za metode unosa
Name[hu]=Beviteli-mód panel
Name[it]=Pannello dei metodi di inserimento
Name[ja]=入力方法パネル
Name[kk]=Теру әдістер панелі
Name[km]=បន្ទះ​វិធីសាស្ត្រ​បញ្ចូល
Name[ko]=입력기 패널
Name[lt]=Įvesties metodo skydelis
Name[lv]=Ievades metodes panelis
Name[mr]=इनपुट पध्दत पटल
Name[nb]=Skrivemetode-rute
Name[nds]=Ingaavmetood-Paneel
Name[nl]=Invoermethodepaneel
Name[nn]=Skrivesystem-panel
Name[pa]=ਇੰਪੁੱਟ ਢੰਗ ਪੈਨਲ
Name[pl]=Panel metody wprowadzania
Name[pt]=Painel de Introdução de Dados
Name[pt_BR]=Painel do método de introdução de caracteres
Name[ro]=Panou pentru Metode de Intrare
Name[ru]=Панель метода ввода
Name[sk]=Panel vstupnej metódy
Name[sl]=Pult vnosnega načina
Name[sr]=панел метода уноса
Name[sr@ijekavian]=панел метода уноса
Name[sr@ijekavianlatin]=panel metoda unosa
Name[sr@latin]=panel metoda unosa
Name[sv]=Inmatningsmetodruta
Name[tr]=Giriş Yöntemi Paneli
Name[ug]=كىرگۈزگۈچ تاختىسى
Name[uk]=Панель методів введення
Name[wa]=Scriftôr del façon d' intrer
Name[x-test]=xxInput Method Panelxx
Name[zh_CN]=输入法面板
Name[zh_TW]=輸入法面板
Comment=A generic input method panel
Comment[bs]=Generički panel ulaznog metoda
Comment[ca]=Un plafó pel mètode d'entrada genèric
Comment[ca@valencia]=Un plafó pel mètode d'entrada genèric
Comment[cs]=Obecný panel vstupních metod
Comment[da]=Generisk panel til input-metoder
Comment[de]=Ein allgemeines Eingabemethoden-Miniprogramm
Comment[el]=Ένα γενικό πλαίσιο μεθόδου εισαγωγής
Comment[en_GB]=A generic input method panel
Comment[es]=Un panel general de métodos de entrada
Comment[fi]=Yleinen syötemenetelmäpaneeli
Comment[fr]=Un panneau générique pour les méthodes de saisie
Comment[gl]=Un panel de métodos de entrada xenérico
Comment[hu]=Általános beviteli-mód panel
Comment[it]=Un pannello generico dei metodi di inserimento
Comment[ko]=일반적인 입력기 패널
Comment[lt]=Bendros įvesties metodo skydelis
Comment[mr]=सामान्य इनपुट पध्दत पटल
Comment[nb]=En generisk rute for å skrive inn
Comment[nds]=En allmeen Ingaavmetood-Paneel
Comment[nl]=Een paneel met een algemene invoermethode
Comment[nn]=Generelt skrivesystem-panel
Comment[pl]=Panel zwykłego wprowadzania
Comment[pt]=Um painel de introdução de dados genérico
Comment[pt_BR]=Painel geral do método de introdução de caracteres
Comment[ru]=Панель метода ввода
Comment[sk]=Všeobecný panel vstupnej metódy
Comment[sl]=Pult splošnega vnosnega načina
Comment[sr]=Генерички панел метода уноса
Comment[sr@ijekavian]=Генерички панел метода уноса
Comment[sr@ijekavianlatin]=Generički panel metoda unosa
Comment[sr@latin]=Generički panel metoda unosa
Comment[sv]=En generell inmatningsmetodruta
Comment[tr]=Genel bir girdi yöntemi panosu
Comment[uk]=Загальна панель методів введення
Comment[x-test]=xxA generic input method panelxx
Comment[zh_CN]=通用输入法面板
Comment[zh_TW]=一般輸入法面板
Keywords=Input;IM;
Keywords[bs]=Input;IM;
Keywords[ca]=Entrada;MI;
Keywords[ca@valencia]=Entrada;MI;
Keywords[cs]=Vstup;IM;
Keywords[da]=Input;IM;
Keywords[de]=Eingabe;IM;
Keywords[el]=Είσοδος;IM;
Keywords[en_GB]=Input;IM;
Keywords[es]=Entrada;IM;
Keywords[fi]=Input;IM;Syöte;Syötemenetelmä;
Keywords[fr]=Méthode de saisie;Messagerie instantanée;
Keywords[gl]=Entrada;ME;Input;IM;
Keywords[hu]=Bevitel;IM;
Keywords[it]=Inserimento;IM;
Keywords[ko]=Input;IM;입력;입력기;
Keywords[mr]=इनपुट
Keywords[nb]=Input;IM;
Keywords[nds]=Ingaav;IM;
Keywords[nl]=Invoer;IM;
Keywords[nn]=Inndata;skrivesystem;IM;
Keywords[pl]=Wprowadzanie;IM;
Keywords[pt]=Entrada;IM;
Keywords[pt_BR]=Entrada;Introdução de Caracteres;
Keywords[ru]=Input;IM;ввод;метод ввода;
Keywords[sk]=Vstup;IM;
Keywords[sl]=Vnos;HS;
Keywords[sr]=Input;IM;унос;метод;
Keywords[sr@ijekavian]=Input;IM;унос;метод;
Keywords[sr@ijekavianlatin]=Input;IM;unos;metod;
Keywords[sr@latin]=Input;IM;unos;metod;
Keywords[sv]=Inmatning;Inställningsmodul;
Keywords[tr]=Girdi;IM;
Keywords[uk]=Input;IM;введення;способи введення;ввід;
Keywords[x-test]=xxInputxx;xxIMxx;
Keywords[zh_CN]=Input;IM;输入;
Keywords[zh_TW]=輸入法;Input;IM;
Type=Service
Icon=draw-freehand
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Weng Xuetian
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.kimpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
