[Desktop Entry]
Name=Activities
Name[uk]=Простори дій
Name[x-test]=xxActivitiesxx
Comment=Shows the activity manager
Comment[uk]=Показує вікно керування просторами дій
Comment[x-test]=xxShows the activity managerxx
Icon=preferences-activities
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

X-KDE-PluginInfo-Author=Gregor Tätzner
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Name=org.kde.plasma.showActivityManager
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ServiceTypes=Plasma/Applet
