[Desktop Entry]
Exec=kcmshell5 kcm_notifications
Icon=preferences-desktop-notification-bell
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/notifications/index.html

X-KDE-Library=kcm_notifications
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=personalization
X-KDE-Weight=40

Name=Notifications
Name[ar]=الإخطارات
Name[ast]=Avisos
Name[az]=Bildirilşlər
Name[bs]=Obavještenja
Name[ca]=Notificacions
Name[ca@valencia]=Notificacions
Name[cs]=Upozornění
Name[da]=Bekendtgørelser
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[en_GB]=Notifications
Name[es]=Notificaciones
Name[et]=Märguanded
Name[eu]=Jakinarazpenak
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[gl]=Notificacións
Name[he]=התראות
Name[hu]=Értesítések
Name[ia]=Notificationes
Name[id]=Notifikasi
Name[is]=Tilkynningar
Name[it]=Notifiche
Name[ja]=通知
Name[ko]=알림
Name[lt]=Pranešimai
Name[mr]=सूचना
Name[nb]=Varslinger
Name[nds]=Bescheden
Name[nl]=Meldingen
Name[nn]=Varslingar
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[ro]=Notificări
Name[ru]=Уведомления
Name[se]=Dieđáhusat
Name[sk]=Upozornenia
Name[sl]=Obvestila
Name[sr]=Обавештења
Name[sr@ijekavian]=Обавјештења
Name[sr@ijekavianlatin]=Obavještenja
Name[sr@latin]=Obaveštenja
Name[sv]=Underrättelser
Name[tg]=Огоҳиҳо
Name[tr]=Bildirimler
Name[uk]=Сповіщення
Name[x-test]=xxNotificationsxx
Name[zh_CN]=通知
Name[zh_TW]=通知
Comment=Event Notifications and Actions
Comment[ar]=إخطارات الأحداث والإجراءات
Comment[az]=Hadisə Bildirişləri və Fəaliyyətlər
Comment[bs]=Obavještenja i akcije događaja
Comment[ca]=Notificacions d'esdeveniments i accions
Comment[ca@valencia]=Notificacions d'esdeveniments i accions
Comment[cs]=Upozornění událostí a činností
Comment[da]=Bekendtgørelser og handlinger ved hændelser
Comment[de]=Ereignis-Benachrichtigungen und -Aktionen
Comment[el]=Ειδοποιήσεις συμβάντων και ενέργειες
Comment[en_GB]=Event Notifications and Actions
Comment[es]=Notificaciones de eventos y acciones
Comment[et]=Sündmuste märguanded ja toimingud
Comment[eu]=Gertaera jakinarazpenak eta ekintzak
Comment[fi]=Tapahtumailmoitukset ja toiminnot
Comment[fr]=Notifications et actions après un évènement
Comment[gl]=Notificacións e accións para eventos
Comment[he]=הגדרות התראות אירועים ופעולות
Comment[hu]=Eseményértesítések és műveletek
Comment[ia]=Notificationes de evento e Actiones
Comment[id]=Notifikasi dan Aksi Peristiwa
Comment[is]=Birting tilkynninga og aðgerða
Comment[it]=Notifiche degli eventi e azioni
Comment[ja]=イベント通知とアクション
Comment[ko]=이벤트 알림과 동작
Comment[lt]=Įvykių pranešimai ir veiksmai
Comment[mr]=घटना सूचना व क्रीया
Comment[nb]=Varslinger og handlinger for hendelser
Comment[nds]=Begeefnisbescheden un Akschonen
Comment[nl]=Meldingen en acties van gebeurtenissen
Comment[nn]=Varslingar og handlingar for hendingar
Comment[pa]=ਈਵੈਂਟ ਨੋਟੀਫਿਕੇਸ਼ਨ ਅਤੇ ਕਾਰਵਾਈਆਂ
Comment[pl]=Powiadomienia i działania zdarzeń
Comment[pt]=Notificações de Eventos e Acções
Comment[pt_BR]=Notificações e ações dos eventos
Comment[ro]=Notificări și acțiuni pentru evenimente
Comment[ru]=Уведомления и действия при событиях
Comment[sk]=Oznámenia a akcie udalostí
Comment[sl]=Obvestila in dejanja za dogodke
Comment[sr]=Обавештења и радње догађаја
Comment[sr@ijekavian]=Обавјештења и радње догађаја
Comment[sr@ijekavianlatin]=Obavještenja i radnje događaja
Comment[sr@latin]=Obaveštenja i radnje događaja
Comment[sv]=Underrättelser om händelser och åtgärder
Comment[tr]=Olay Bildirimleri ve Eylemler
Comment[uk]=Сповіщення щодо подій та дії
Comment[x-test]=xxEvent Notifications and Actionsxx
Comment[zh_CN]=事件通知和动作
Comment[zh_TW]=事件通知與動作

X-KDE_Keywords=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,disturb,do not disturb,quiet,concentrate,concentration

Categories=Qt;KDE;X-KDE-settings-sound;
