[Desktop Entry]
Exec=kcmshell5 autostart
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/autostart/index.html

X-KDE-Library=kcm_autostart
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=Autostart

Comment=Manage which programs start up automatically with KDE.

X-KDE-Keywords=Autostart Manager,autostart,startup,system startup,kde start,cron
