[Desktop Entry]
Exec=kcmshell5 autostart
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/autostart/index.html

X-KDE-Library=kcm_autostart
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=Autostart
Name[nl]=Autostart
Name[uk]=Автозапуск
Name[x-test]=xxAutostartxx

Comment=Manage which programs start up automatically with KDE.
Comment[nl]=Beheren van programma's die automatisch met KDE opstarten.
Comment[uk]=Керування програмами, які будуть запускатися разом з графічним середовищем KDE автоматично.
Comment[x-test]=xxManage which programs start up automatically with KDE.xx

X-KDE-Keywords=Autostart Manager,autostart,startup,system startup,kde start,cron
X-KDE-Keywords[nl]=Autostartbeheerder,autostarten,opstarten,opstarten systeem,opstarten kde,cron
X-KDE-Keywords[uk]=Autostart Manager,autostart,startup,system startup,kde start,cron,керування автозапуском,автозапуск,запуск,запуск системи,запуск kde
X-KDE-Keywords[x-test]=xxAutostart Manager,autostart,startup,system startup,kde start,cronxx
