[Desktop Entry]
Icon=preferences-desktop-display-nightcolor
Exec=kcmshell5 kcm_nightcolor

Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=https://userbase.kde.org/TODOX

X-KDE-Library=kcm_nightcolor
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=120

X-KDE-OnlyShowOnQtPlatforms=wayland

Name=Night Color
Comment=Adjust color temperatur at night to reduce eye strain

X-KDE-Keywords=kwin,window,manager,night,colors,redshift,eyes
Categories=Qt;KDE;X-KDE-settings-nightcolor
