[Desktop Entry]
Keywords=
Name=Panel
Name[ar]=لوحة
Name[ast]=Panel
Name[az]=Panel
Name[be]=Панель
Name[bn]=প্যানেল
Name[br]=Panell
Name[bs]=Panel
Name[ca]=Plafó
Name[ca@valencia]=Plafó
Name[cs]=Panel
Name[cy]=Panel
Name[da]=Panel
Name[de]=Kontrollleiste
Name[el]=Πίνακας
Name[en_GB]=Panel
Name[eo]=Panelo
Name[es]=Panel
Name[et]=Paneel
Name[eu]=Panela
Name[fa]=تابلو
Name[fi]=Paneeli
Name[fr]=Tableau de bord
Name[ga]=Painéal
Name[gl]=Panel
Name[he]=לוח
Name[hr]=Panel
Name[hu]=Panel
Name[ia]=Pannello
Name[id]=Panel
Name[is]=Spjald
Name[it]=Pannello
Name[ja]=パネル
Name[ka]=პანელი
Name[kk]=Панель
Name[kn]=ಪುಟೀಪು (ಪಾನಲ್)
Name[ko]=패널
Name[lt]=Skydelis
Name[mr]=पटल
Name[nb]=Panel
Name[nds]=Paneel
Name[nl]=Paneel
Name[nn]=Panel
Name[pa]=ਪੈਨਲ
Name[pl]=Panel
Name[pt]=Painel
Name[pt_BR]=Painel
Name[ro]=Panou
Name[ru]=Панель
Name[sk]=Panel
Name[sl]=Pult
Name[sr]=Панел
Name[sr@ijekavian]=Панел
Name[sr@ijekavianlatin]=Panel
Name[sr@latin]=Panel
Name[sv]=Panel
Name[ta]=பலகை
Name[tg]=Лавҳа
Name[tr]=Panel
Name[uk]=Панель
Name[uz]=Panel
Name[uz@cyrillic]=Панел
Name[vi]=Bảng
Name[xh]=Iqela lenjongo ethile
Name[x-test]=xxPanelxx
Name[zh_CN]=面板
Name[zh_TW]=面板
Type=Service

NoDisplay=true

X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.panel
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-Plasma-MainScript=ui/main.qml
X-Plasma-ContainmentType=Panel
