[Desktop Entry]
Name=Empty Panel
Name[ar]=لوحة فارغة
Name[ast]=Panel baleru
Name[az]=Boş Panel
Name[bs]=Prazan panel
Name[ca]=Plafó buit
Name[ca@valencia]=Plafó buit
Name[cs]=Prázdný panel
Name[da]=Tomt panel
Name[de]=Leere Kontrollleiste
Name[el]=Κενός πίνακας
Name[en_GB]=Empty Panel
Name[es]=Panel vacío
Name[et]=Tühi paneel
Name[eu]=Panel hutsa
Name[fi]=Tyhjä paneeli
Name[fr]=Tableau de bord vide
Name[ga]=Painéal Folamh
Name[gl]=Panel baleiro
Name[he]=לוח ריק
Name[hr]=Prazan panel
Name[hu]=Üres panel
Name[ia]=Pannello vacue
Name[id]=Panel Kosong
Name[is]=Autt spjald
Name[it]=Pannello vuoto
Name[ja]=空のパネル
Name[kn]=ಖಾಲಿ ಪುಟೀಪು (ಪ್ಯಾನಲ್)
Name[ko]=빈 패널
Name[lt]=Tuščias skydelis
Name[mr]=रिकामे पटल
Name[nb]=Tomt panel
Name[nds]=Leddig Paneel
Name[nl]=Leeg paneel
Name[nn]=Tomt panel
Name[pa]=ਖਾਲੀ ਪੈਨਲ
Name[pl]=Pusty panel
Name[pt]=Painel Vazio
Name[pt_BR]=Painel vazio
Name[ro]=Panou gol
Name[ru]=Пустая панель
Name[sk]=Prázdny panel
Name[sl]=Prazen pult
Name[sr]=празан панел
Name[sr@ijekavian]=празан панел
Name[sr@ijekavianlatin]=prazan panel
Name[sr@latin]=prazan panel
Name[sv]=Tom panel
Name[ta]=காலியான பலகை
Name[tg]=Лавҳаи холӣ
Name[tr]=Boş Panel
Name[uk]=Порожня панель
Name[vi]=Bảng trống
Name[x-test]=xxEmpty Panelxx
Name[zh_CN]=空面板
Name[zh_TW]=空白面板
Comment=A simple linear panel
Comment[ar]=لوحة خطّيّة بسيطة
Comment[ast]=Un panel llinial cenciellu
Comment[az]=Sadə xətti panel
Comment[bs]=Jednostavan linearni panel
Comment[ca]=Un plafó lineal senzill
Comment[ca@valencia]=Un plafó lineal senzill
Comment[cs]=Jednoduchý přímý panel
Comment[da]=Et simpelt lineært panel
Comment[de]=Eine einfache, gerade Kontrollleiste
Comment[el]=Ένας απλός γραμμικός πίνακας
Comment[en_GB]=A simple linear panel
Comment[es]=Un sencillo panel lineal
Comment[et]=Lihtne sirge paneel
Comment[eu]=Panel lineal xume bat
Comment[fi]=Yksinkertainen lineaarinen paneeli
Comment[fr]=Un tableau de bord linéaire simple
Comment[ga]=Painéal simplí líneach
Comment[gl]=Un panel simple
Comment[he]=לוח ישר פשוט
Comment[hr]=Jednostavan pravocrtni panel
Comment[hu]=Egy egyszerű, lineáris panel
Comment[ia]=Un simple pannello linear
Comment[id]=Panel linear sederhana
Comment[is]=Einfalt línulegt spjald
Comment[it]=Un semplice pannello lineare
Comment[ja]=簡単なリニアパネル
Comment[kk]=Жәй панель
Comment[km]=បន្ទះ​លីនេអ៊ែរ​ធម្មតា
Comment[kn]=ಒಂದು ಸರಳ ಹಾಗು ರೇಖೀಯ ಫಲಕ
Comment[ko]=간단한 선형 패널
Comment[lt]=Paprastas tiesinis skydelis
Comment[lv]=Vienkāršs, lineārs panelis
Comment[mr]=सोपे रेषीय पटल
Comment[nb]=En enkelt lineært panel
Comment[nds]=En eenfach liekweg Paneel
Comment[nl]=Een eenvoudig lineair paneel
Comment[nn]=Eit enkelt lineært panel
Comment[pa]=ਸਧਾਰਨ ਲੀਨੀਅਰ ਪੈਨਲ
Comment[pl]=Prosty, liniowy panel
Comment[pt]=Um painel linear simples
Comment[pt_BR]=Um painel linear simples
Comment[ro]=Un panou liniar simplu
Comment[ru]=Простая линейная панель
Comment[sk]=Jednoduchý lineárny panel
Comment[sl]=Preprost linearen pult
Comment[sr]=Једноставан линеарни панел
Comment[sr@ijekavian]=Једноставан линеарни панел
Comment[sr@ijekavianlatin]=Jednostavan linearni panel
Comment[sr@latin]=Jednostavan linearni panel
Comment[sv]=En enkel linjär panel
Comment[ta]=எளிய நேரோட்ட பலகை
Comment[th]=พาเนลแนวยาวแบบพื้นฐาน
Comment[tr]=Basit bir doğrusal panel
Comment[ug]=ئاددىي بىر سىزىقلىق تاختا
Comment[uk]=Проста лінійна панель
Comment[vi]=Một bảng dạng thanh đơn giản
Comment[wa]=On simpe et lineyåre sicriftôr
Comment[x-test]=xxA simple linear panelxx
Comment[zh_CN]=简单的线性面板
Comment[zh_TW]=簡單的線性面板
Icon=
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=panel
NoDisplay=true

X-KDE-Library=plasma_containment_panel
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=panel
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
