[Desktop Entry]
Icon=preferences-desktop-touchpad
Type=Application
Exec=systemsettings kcm_touchpad
NoDisplay=true

Name=Touchpad
Name[ar]=لوحة اللمس
Name[ast]=Panel táctil
Name[az]=Toxunma Paneli
Name[bg]=Тъчпад
Name[ca]=Ratolí tàctil
Name[ca@valencia]=Ratolí tàctil
Name[cs]=Touchpad
Name[da]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[en_GB]=Touchpad
Name[es]=Panel táctil
Name[et]=Puutepadi
Name[eu]=Ukimen-sagua
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[gl]=Área táctil
Name[he]=לוח מגע
Name[hu]=Érintőtábla
Name[ia]=Touchpad
Name[id]=Touchpad
Name[is]=Snertiplatti
Name[it]=Touchpad
Name[ja]=タッチパッド
Name[ko]=터치패드
Name[lt]=Jutiklinis kilimėlis
Name[nl]=Touchpad
Name[nn]=Styreplate
Name[pa]=ਟੱਚਪੈਡ
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[ro]=Zonă tactilă
Name[ru]=Сенсорная панель
Name[sk]=Touchpad
Name[sl]=Sledilna ploščica
Name[sr]=Додирник
Name[sr@ijekavian]=Додирник
Name[sr@ijekavianlatin]=Dodirnik
Name[sr@latin]=Dodirnik
Name[sv]=Tryckplatta
Name[ta]=தொடுபலகை
Name[tg]=Лавҳаи ламсӣ
Name[tr]=Dokunmatik yüzey
Name[uk]=Сенсорна панель
Name[vi]=Bàn cảm ứng
Name[x-test]=xxTouchpadxx
Name[zh_CN]=触摸板
Name[zh_TW]=觸控板
