[Desktop Entry]
Icon=preferences-desktop-touchpad
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
OnlyShowIn=KDE;

X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-Init-Symbol=touchpad
X-KDE-Init-Phase=1
X-KDE-Library=kcm_touchpad
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=input-devices

Name=Touchpad
Name[ar]=لوحة اللمس
Name[ast]=Panel táctil
Name[az]=Toxunma Paneli
Name[ca]=Ratolí tàctil
Name[ca@valencia]=Ratolí tàctil
Name[cs]=Touchpad
Name[da]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[en_GB]=Touchpad
Name[es]=Panel táctil
Name[et]=Puutepadi
Name[eu]=Ukimen-sagua
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[gl]=Área táctil
Name[he]=לוח מגע
Name[hu]=Érintőtábla
Name[ia]=Touchpad
Name[id]=Touchpad
Name[is]=Snertiplatti
Name[it]=Touchpad
Name[ja]=タッチパッド
Name[ko]=터치패드
Name[lt]=Jutiklinis kilimėlis
Name[nl]=Touchpad
Name[nn]=Styreplate
Name[pa]=ਟੱਚਪੈਡ
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[ro]=Zonă tactilă
Name[ru]=Сенсорная панель
Name[sk]=Touchpad
Name[sl]=Sledilna ploščica
Name[sr]=Додирник
Name[sr@ijekavian]=Додирник
Name[sr@ijekavianlatin]=Dodirnik
Name[sr@latin]=Dodirnik
Name[sv]=Tryckplatta
Name[ta]=தொடுபலகை
Name[tg]=Лавҳаи ламсӣ
Name[tr]=Dokunmatik yüzey
Name[uk]=Сенсорна панель
Name[vi]=Bàn cảm ứng
Name[x-test]=xxTouchpadxx
Name[zh_CN]=触摸板
Name[zh_TW]=觸控板
Comment=Touchpad settings
Comment[ar]=إعدادات لوحة اللمس
Comment[az]=Toxunma Paneli Ayarları
Comment[ca]=Configuració del ratolí tàctil
Comment[ca@valencia]=Configuració del ratolí tàctil
Comment[cs]=Nastavení touchpadu
Comment[da]=Touchpad-indstillinger
Comment[de]=Touchpad-Einstellungen
Comment[el]=Ρυθμίσεις επιφάνειας αφής
Comment[en_GB]=Touchpad settings
Comment[es]=Preferencias del panel táctil
Comment[et]=Puutepadja seadistused
Comment[eu]=Ukimen-saguaren ezarpenak
Comment[fi]=Kosketuslevyn asetukset
Comment[fr]=Configuration du pavé tactile
Comment[gl]=Configuración da área táctil
Comment[he]=הגדרות לוח המגע
Comment[hu]=Az érintőtábla beállításai
Comment[ia]=Preferentias de Touchpad (pannello tactile)
Comment[id]=Pengesetan touchpad
Comment[is]=Stillingar snertiplatta
Comment[it]=Impostazioni del touchpad
Comment[ja]=タッチパッドの設定
Comment[ko]=터치패드 설정
Comment[lt]=Jutiklinio kilimėlio nuostatos
Comment[nl]=Instellingen van touchpad
Comment[nn]=Innstillingar for styreplate
Comment[pa]=ਟੱਚਪੈਡ ਸੈਟਿੰਗਾਂ
Comment[pl]=Ustawienia gładzika
Comment[pt]=Configuração do rato por toque
Comment[pt_BR]=Configurações do touchpad
Comment[ro]=Configurări zonă tactilă
Comment[ru]=Настройка сенсорной панели
Comment[sk]=Nastavenia touchpadu
Comment[sl]=Nastavitve sledilne ploščice
Comment[sr]=Поставке додирника
Comment[sr@ijekavian]=Поставке додирника
Comment[sr@ijekavianlatin]=Postavke dodirnika
Comment[sr@latin]=Postavke dodirnika
Comment[sv]=Inställningar av tryckplatta
Comment[ta]=தொடுபலகை அமைப்புகள்
Comment[tg]=Танзимоти лавҳаи ламсӣ
Comment[tr]=Dokunmatik yüzey ayarları
Comment[uk]=Параметри сенсорної панелі
Comment[vi]=Thiết lập bàn cảm ứng
Comment[x-test]=xxTouchpad settingsxx
Comment[zh_CN]=触摸板设置
Comment[zh_TW]=觸控板設定
X-KDE-Keywords=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,touch devices,click,left click,right click,middle click,click emulation,tap,tap to click,tap-to-click,fingers,two fingers tap,three fingers tap,four fingers tap,swipe,gestures,natural scrolling,invert scroll,inverted scrolling,acceleration,palm rejection,left-handed mode,left handed mode,right-handed mode,right handed mode,disable while typing
X-KDE-Keywords[az]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,touch devices,click,left click,right click,middle click,click emulation,tap,tap to click,tap-to-click,fingers,two fingers tap,three fingers tap,four fingers tap,swipe,gestures,natural scrolling,invert scroll,inverted scrolling,acceleration,palm rejection,left-handed mode,left handed mode,right-handed mode,right handed mode,disable while typing,toxunma paneli,avadanlıq,sensor panel,toxunuş cihazları,vuruş, sol vuruş, sağ vuruş,orta vuruş,toxunuşla vuruş,barmaqlar,iki barmaq vuruşu,üç barmaq vuruşu,dörd barmaq vuruşu,sürüşdürmə,jestlər,adi sürüşdürmə,əksinə sürüşdürmə,sürətləndirici,sol əl rejimi,sağ əl rejimi,yazarkən söndürmək
X-KDE-Keywords[ca]=ratolí tàctil,touchpad,synaptics,alps,elantech,elan,cirque,libinput,maquinari,portàtil,dispositius tàctils,clic,clic esquerre,clic dret,clic del mig,emulació de clic,toc,toc per clic,dits,toc de dos dits,toc de tres dits,toc de quatre dits,passar el dit,lliscar,gestos,desplaçament natural,inverteix el desplaçament,desplaçament invertit,acceleració,anul·lació de palmell,mode esquerrà,mode dretà,desactiva en teclejar
X-KDE-Keywords[en_GB]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,touch devices,click,left click,right click,middle click,click emulation,tap,tap to click,tap-to-click,fingers,two fingers tap,three fingers tap,four fingers tap,swipe,gestures,natural scrolling,invert scroll,inverted scrolling,acceleration,palm rejection,left-handed mode,left handed mode,right-handed mode,right handed mode,disable while typing
X-KDE-Keywords[es]=panel táctil,synaptics,alps,elantech,elan,cirque,libinput,hardware,portátil,dispositivos táctiles,clic,clic izquierdo,clic derecho,clic central,emulación de clic,toque,tocar para hacer clic,dedos,tocar con dos dedos,tocar con tres dedos,tocar con cuatro dedos,deslizar,gestos,desplazamiento natural,invertir desplazamiento,desplazamiento inverso,aceleración,rechazo de la palma,modo zurdo,modo diestro,desactivar al escribir
X-KDE-Keywords[fi]=kosketuslevy,synaptics,alps,elantech,elan,cirque,libinput,laitteisto,kannettava, kosketuslaitteet,napsautus,vasen napsautus,oikea napsautus,keskinapsautus,napsautuksen jäljittely,napautus,napsauta napauttamalla,sormet,kaksi sormea,kolmen sormen napautus, neljän sormen napautus,pyyhkäisy,eleet,luonnollinen vieritys,käännä vieritys,käännetty vieritys,kiihdytys,vasenkätinen tila,oikeakätinen tila,poista käytöstä kirjoitettaessa
X-KDE-Keywords[fr]=pavé tactile, synaptics, alps, elantech, elan, cirque, libinput, matériel, ordinateur portable, périphériques tactiles, clic, clic droit, clic gauche, clic central, émulation de clic, tapotage, tapoter pour cliquer, doigts, tapotage à deux doigts, tapotage à trois doigts, tapotage à quatre doigts, défiler, gestes, défilement natural, défilement inversé, accélération, rejet de paume, mode gaucher, mode pour gaucher, mode pour droitier, mode droitier, désactivé lors de la saisie 
X-KDE-Keywords[hu]=érintőtábla,synaptics,alps,elantech,elan,cirque,libinput,hardver,laptop,érintő eszközök,kattintás,bal kattintás,jobb kattintás,középső kattintés,kattintás emuláció,koppintás,koppintással kattintás,kopp-klikk,ujjak,két ujjas koppintás,három ujjas koppintás,négy ujjas koppintás,húzás,kézmozdulaotk,természetes görgetés,inverz görgetés,fordított görgetés,gyorsítás,tenyér elutasítás,balkezes mód,bal kezes mód, jobbkezes mód,jobb kezes mód,kikapcsolás gépeléskor
X-KDE-Keywords[ia]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,dispositivostactil,clicca,clicca a sinistra,clicca a dextera,clicca in le medie,emulation de cliccar, tocca,tocca per cliccar,tocca-per-cliccar,digitos,tocco a duo digitos,tocco a tres digitos, ,tocco a quatro digitos,glissa,gestoss,rolar natural,inverte rolar,rolar invertite,acceleration,rejection de palma,modo de mano-sinistre,modo de mano sinistre, modo de mano-dextere,modo de mano dextere,dishabilita durante que typa
X-KDE-Keywords[it]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,dispositivi touch,clic,clic sinistro,clic destro,clic centrale,emulazione clic,tocca,tocca per fare clic,dita,tocco con due dita,tocco con tre dita,tocco con quattro dita,scorrimento,gesti,scorrimento naturale,scorrimento invertito,accelerazione,rifiuto del palmo,modalità per mancini,modalità per destrorsi,modalità per destrorsi,disabilita durante la digitazione
X-KDE-Keywords[nl]=touchpad,aanraakpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,aanraakapparaten,klik,linker klik,rechter klik,middenklik,klikemulatie,tap,tap om te klikken,vingers,tap met twee vingers,tap met drie vingers,tap met vier vingers,swipe,gebaren,natuurlijk schuiven,omgekeerd schuiven,versnelling,afwijzen van palm,modus linkshandig,modus rechtshandig,uitschakelen tijdens typen
X-KDE-Keywords[pl]=gładzik,synaptics,alps,elantech,elan,cirque,libinput,sprzęt,laptop,urządzenia dotykowe,klik,klik lewym,klik prawym,klik środkowym,emulacja kliku,stuknięcie,stuknięcie aby kliknąć, palce stuknięcia-aby-kliknąć,palce,stuknięcie dwoma palcami,stuknięcie trzema palcami,stuknięcie czterema palcami,przeciągnięcie,gesty,naturalne przewijanie,odwrócone przewijanie,odwrócone przewijanie,przyspieszenie,odrzucenie nadgarstka,tryb leworęczny, tryb leworęczny,tryb praworęczny,tryb praworęczny,wyłącz podczas pisania
X-KDE-Keywords[ru]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,touch devices,click,left click,right click,middle click,click emulation,tap,tap to click,tap-to-click,fingers,two fingers tap,three fingers tap,four fingers tap,swipe,gestures,natural scrolling,invert scroll,inverted scrolling,acceleration,palm rejection,left-handed mode,left handed mode,right-handed mode,right handed mode,disable while typing,панель,сенсорная панель,оборудование,ноутбук,устройства ввода,щелчок,нажатие,эмуляция,пальцы,прокрутка,естественная прокрутка,обратная прокрутка,инвертированная прокрутка,ускорение,отключение при наборе
X-KDE-Keywords[sk]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardvér,notebook,dotykové zariadenia,klik,ľavý klik,pravý klik,stredný klik,emulácia kliknutia,ťuk,ťuknutím kliknúť,ťuknutím kliknúť,prsty,ťuknutie dvoma prstami,ťuknutie troma prstami,ťuknutie štyrmi prstami,potiahnite,gestá,prirodzené posúvanie,obrátiť posúvanie,obrátené posúvanie, zrýchlenie,odmietnutie dlane,režim ľavej ruky,režim ľavej ruky,režim pravej ruky, režim pravej ruky,vypnúť pri písaní
X-KDE-Keywords[sl]=sledilna ploščica,synaptics,alps,elantech,elan,cirque,libinput,strojna oprema,prenosnik,naprave z dotikom, klik,levi klik,desni klik,srednji klik,posnemanje klika,tapni,tapni za klik,tap-za-klik,prsti,dvo prstni tap,trije prsti,štiri prstnitap,poteg,kretnje,naravno pomikanje,obrnjeno pomikanje,pospešek,zavrnitev dlani,način leve roke, način za levo roko, način desne roke,način za desno roko,onemogoči med tipkanjem
X-KDE-Keywords[sv]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,maskinvara,bärbar dator,pekenheter,klick,vänsterklick,högerklick,mittenklick,klickemulering,beröring,berör för att klicka,fingrar,tvåfingersberöring,trefingersberöring,fyrfingersberöring,svep,gester,naturlig rullning,invertera rullning,inverterad rullning,acceleration,handflateavvisning,vänsterhandsläge,högerhandsläge,inaktivera vid skrivning
X-KDE-Keywords[ta]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,touch devices,click,left click,right click,middle click,click emulation,tap,tap to click,tap-to-click,fingers,two fingers tap,three fingers tap,four fingers tap,swipe,gestures,natural scrolling,invert scroll,inverted scrolling,acceleration,palm rejection,left-handed mode,left handed mode,right-handed mode,right handed mode,disable while typing, தொடுபலகை, வன்பொருள், க்ளிக், கிளிக், தட்டு, அழுத்து, சொடுக்கு, வலது க்ளிக், வலது கிளிக், இடது க்ளிக், இடது கிளிக், நடு கிளிக், நடு க்ளிக், இரண்டு விரல், மூன்று விரல், உருளலை புரட்டு, புரட்டிய உருளல், தட்டச்சிடும்போது முடக்கு
X-KDE-Keywords[uk]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,touch devices,click,left click,right click,middle click,click emulation,tap,tap to click,tap-to-click,fingers,two fingers tap,three fingers tap,four fingers tap,swipe,gestures,natural scrolling,invert scroll,inverted scrolling,acceleration,palm rejection,left-handed mode,left handed mode,right-handed mode,right handed mode,disable while typing,сенсорна панель,синаптикс,алпс,елантех,елан,сірк,лібінпут,обладнання,апаратне забезпечення,ноутбук,лептоп,сенсорні пристрої,клацання,клацання лівою,клацання правою,клацання середньою,емуляція клацання,імітація клацання,торкання,торкання для клацання,пальці,двопальцеве торкання,трипальцеве торкання,чотирипальцеве торкання,проведення,змах,жести,природне гортання,інвертоване гортання,прискорення,долоня,режим шульги,режим лівші,режим правші,вимикання під час введення,вимикання під час друку
X-KDE-Keywords[vi]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,touch devices,click,left click,right click,middle click,click emulation,tap,tap to click,tap-to-click,fingers,two fingers tap,three fingers tap,four fingers tap,swipe,gestures,natural scrolling,invert scroll,inverted scrolling,acceleration,palm rejection,left-handed mode,left handed mode,right-handed mode,right handed mode,disable while typing,bàn cảm ứng,phần cứng,máy tính xách tay,thiết bị cảm ứng,bấm,bấm trái, bấm phải, bấm giữa,giả lập bấm,vỗ,vỗ để bấm,ngón tay,vỗ hai ngón,vỗ ba ngón,vỗ bốn ngón,hất,động tác,cuộn tự nhiên,cuộn đảo ngược,gia tốc,loại bỏ bàn tay,chế độ thuận tay trái,chế độ thuận tay phải,tắt khi đang gõ
X-KDE-Keywords[x-test]=xxtouchpadxx,xxsynapticsxx,xxalpsxx,xxelantechxx,xxelanxx,xxcirquexx,xxlibinputxx,xxhardwarexx,xxlaptopxx,xxtouch devicesxx,xxclickxx,xxleft clickxx,xxright clickxx,xxmiddle clickxx,xxclick emulationxx,xxtapxx,xxtap to clickxx,xxtap-to-clickxx,xxfingersxx,xxtwo fingers tapxx,xxthree fingers tapxx,xxfour fingers tapxx,xxswipexx,xxgesturesxx,xxnatural scrollingxx,xxinvert scrollxx,xxinverted scrollingxx,xxaccelerationxx,xxpalm rejectionxx,xxleft-handed modexx,xxleft handed modexx,xxright-handed modexx,xxright handed modexx,xxdisable while typingxx
X-KDE-Keywords[zh_CN]=touchpad,synaptics,alps,elantech,elan,cirque,libinput,hardware,laptop,touch devices,click,left click,right click,middle click,click emulation,tap,tap to click,tap-to-click,fingers,two fingers tap,three fingers tap,four fingers tap,swipe,gestures,natural scrolling,invert scroll,inverted scrolling,acceleration,palm rejection,left-handed mode,left handed mode,right-handed mode,right handed mode,disable while typing,触控板,硬件,笔记本,触控设备,点击,左击,左键点击,右击,右键点击,中键点击,点击模拟,轻击,轻触点击,手指,双指轻触,三指轻触,四指轻触,滑动,手势,自然滚动,反向滚动,加速度,防手掌误触,左手习惯模式,惯用左手模式,左利手模式,右手习惯模式,惯用右手模式,右利手模式,打字时禁用
