[Desktop Entry]
X-DocPath=kcontrol/joystick/index.html
Terminal=false
Type=Service
Icon=preferences-desktop-gaming
Categories=Qt;KDE;X-KDE-settings-hardware;

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_joystick
X-KDE-Test-Module=true
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-ParentApp=kcontrol
X-KDE-Weight=70

Comment=Calibrate Game Controller
Comment[az]=Oyun kontrollerini kalibrləmək
Comment[ca]=Calibratge del controlador de jocs
Comment[cs]=Kalibrace herního ovladače
Comment[da]=Kalibrér spil-controller
Comment[de]=Gamecontroller kalibrieren
Comment[en_GB]=Calibrate Game Controller
Comment[es]=Calibrar el mando de juegos
Comment[et]=Mängukontrolleri kalibreerimine
Comment[eu]=Kalibratu joko kontrolatzailea
Comment[fi]=Kalibroi peliohjain
Comment[fr]=Calibrer le contrôleur de jeu
Comment[gl]=Calibrar o mando
Comment[hu]=Játékvezérlők kalibrálása
Comment[ia]=Calibra le controlator de joco
Comment[id]=Kalibrasikan Pengendali Permainan
Comment[it]=Calibra il controller di gioco
Comment[ko]=게임 컨트롤러 교정
Comment[lt]=Kalibruoti žaidimų valdiklį
Comment[nl]=Spelbesturing kalibreren
Comment[nn]=Kalibrer spelkontrollar
Comment[pa]=ਖੇਡ ਕੰਟਰੋਲਰ ਕੈਲੀਬਰੇਸ਼ਨ
Comment[pl]=Skalibruj pada do gier
Comment[pt]=Calibrar o Controlador de Jogos
Comment[pt_BR]=Calibrar o controlador de jogos
Comment[ro]=Calibrează controlor de jocuri
Comment[ru]=Калибровка игрового контроллера
Comment[sk]=Kalibrovať herný ovládač
Comment[sl]=Nastavi krmilnik iger
Comment[sv]=Kalibrera spelkontroll
Comment[tr]=Oyun Denetleyicisini Yapılandır
Comment[uk]=Калібрувати ігровий контролер
Comment[vi]=Hiệu chỉnh thiết bị điều khiển trò chơi
Comment[x-test]=xxCalibrate Game Controllerxx
Comment[zh_CN]=校准游戏控制器
Comment[zh_TW]=校準遊戲控制器
Name=Game Controller
Name[ast]=Mandu de xuegu
Name[az]=Oyun Kontrolleri
Name[ca]=Controlador de jocs
Name[cs]=Herní ovladač
Name[da]=Spil-kontroller
Name[de]=Gamecontroller
Name[en_GB]=Game Controller
Name[es]=Mando de juegos
Name[et]=Mängukontroller
Name[eu]=Joko kontrolatzailea
Name[fi]=Peliohjain
Name[fr]=Contrôleur de jeu
Name[gl]=Mando
Name[hu]=Játékvezérlők
Name[ia]=Controlator de Joco
Name[id]=Pengendali Permainan
Name[it]=Controller di gioco
Name[ko]=게임 컨트롤러
Name[lt]=Žaidimų valdiklis
Name[nl]=Spelbesturing
Name[nn]=Spelkontrollar
Name[pa]=ਖੇਡ ਕੰਟਰੋਲਰ
Name[pl]=Pad do gier
Name[pt]=Controlador de Jogos
Name[pt_BR]=Controlador de jogos
Name[ro]=Controlor de jocuri
Name[ru]=Игровой контроллер
Name[sk]=Herný ovládač
Name[sl]=Krmilnik iger
Name[sv]=Spelkontroll
Name[tr]=Oyun Denetleyicisi
Name[uk]=Ігровий контролер
Name[vi]=Thiết bị điều khiển trò chơi
Name[x-test]=xxGame Controllerxx
Name[zh_CN]=游戏控制器
Name[zh_TW]=遊戲控制器

X-KDE-Keywords=joystick,gamepad,controller
X-KDE-Keywords[ar]=عصا ألعاب,متحكّم,جويستك
X-KDE-Keywords[az]=joystick,gamepad,controller
X-KDE-Keywords[bs]=dzojstik
X-KDE-Keywords[ca]=palanca de control,comandament de joc,controlador
X-KDE-Keywords[ca@valencia]=palanca de control,comandament de joc,controlador
X-KDE-Keywords[cs]=joystick,gamepad,ovladač
X-KDE-Keywords[da]=joystick,gamepad,controller
X-KDE-Keywords[de]=Joystick,Gamepad,Spielsteuerung
X-KDE-Keywords[el]=χειριστήριο,πληκτρολόγιο παιχνιδιών,ελεγκτής
X-KDE-Keywords[en_GB]=joystick,gamepad,controller
X-KDE-Keywords[es]=joystick,gamepad,mando
X-KDE-Keywords[et]=juhtpult,juhtkang,kontroller
X-KDE-Keywords[eu]=kontrol-palanka,joko-teklatua,kontroladorea
X-KDE-Keywords[fi]=peliohjain,sauvaohjain,ohjain
X-KDE-Keywords[fr]=joystick, gamepad, contrôleur
X-KDE-Keywords[ga]=luamhán stiúrtha,ceap cluiche,rialaitheoir
X-KDE-Keywords[gl]=joystick, gamepad, controlador
X-KDE-Keywords[hu]=botkormány,játéktábla,vezérlő
X-KDE-Keywords[ia]=joystick,gamepad,controlator
X-KDE-Keywords[id]=joystick,gamepad,controller
X-KDE-Keywords[it]=joystick,gamepad,controller
X-KDE-Keywords[kk]=joystick,gamepad,controller
X-KDE-Keywords[km]=joystick,gamepad,controller
X-KDE-Keywords[ko]=joystick,gamepad,controller,조이스틱,컨트롤러
X-KDE-Keywords[lt]=valdymo svirtis,žaidimų valdiklis,zaidimu valdiklis,žaidimų pultas,zaidimu pultas,gamepad
X-KDE-Keywords[mr]=जॉयस्टिक, गेमपॅड, कन्ट्रोलर
X-KDE-Keywords[nb]=styrespak,spillepute,kontroller
X-KDE-Keywords[nds]=Stüerknüppel,Speelknüppel,Speelstüer-Reedschap,Speelstüern,Stüern,Kontroller,Speelkuntrull
X-KDE-Keywords[nl]=joystick,spelpad,besturing
X-KDE-Keywords[nn]=styrespak,spelkontrollar,kontrollar
X-KDE-Keywords[pa]=ਜਾਏਸਟਿੱਕ,ਗੇਮਪੈਡ,ਕੰਟਰੋਲਰ
X-KDE-Keywords[pl]=joystick,gamepad,kontroler
X-KDE-Keywords[pt]=joystick,comando,controlador
X-KDE-Keywords[pt_BR]=joystick,gamepad,controle
X-KDE-Keywords[ro]=joystick,gamepad,controlor,controller
X-KDE-Keywords[ru]=joystick,gamepad,controller,джойстик,геймпад,контроллер
X-KDE-Keywords[sk]=joystick,gamepad,ovládač,pákový
X-KDE-Keywords[sl]=igralna palica,igralni plošček,igralne naprave,krmilnik
X-KDE-Keywords[sr]=joystick,gamepad,controller,џојстик,гејмпад,управљач
X-KDE-Keywords[sr@ijekavian]=joystick,gamepad,controller,џојстик,гејмпад,управљач
X-KDE-Keywords[sr@ijekavianlatin]=joystick,gamepad,controller,džojstik,gejmpad,upravljač
X-KDE-Keywords[sr@latin]=joystick,gamepad,controller,džojstik,gejmpad,upravljač
X-KDE-Keywords[sv]=styrspak,handkontroll,styrning
X-KDE-Keywords[tr]=oyun çubuğu, denetleyici,joystick, oyun oynama kolu
X-KDE-Keywords[uk]=joystick,gamepad,джойстик,геймпад,контролер
X-KDE-Keywords[vi]=joystick,gamepad,controller,cần điều khiển,tay cầm,thiết bị điều khiển
X-KDE-Keywords[x-test]=xxjoystickxx,xxgamepadxx,xxcontrollerxx
X-KDE-Keywords[zh_CN]=joystick,gamepad,controller,手柄,摇杆,控制器
X-KDE-Keywords[zh_TW]=joystick,gamepad,controller
