[Desktop Entry]
Type=Application
Icon=preferences-desktop-gaming
Exec=systemsettings kcm_joystick
NoDisplay=true

Name=Game Controller
Name[ar]=متحكم الألعاب
Name[ast]=Mandu de xuegu
Name[az]=Oyun Kontrolleri
Name[bg]=Контролер за игри
Name[ca]=Controlador de jocs
Name[ca@valencia]=Controlador de jocs
Name[cs]=Herní ovladač
Name[da]=Spil-kontroller
Name[de]=Gamecontroller
Name[en_GB]=Game Controller
Name[es]=Mando de juegos
Name[et]=Mängukontroller
Name[eu]=Joko kontrolatzailea
Name[fi]=Peliohjain
Name[fr]=Contrôleur de jeu
Name[gl]=Mando
Name[hu]=Játékvezérlők
Name[ia]=Controlator de Joco
Name[id]=Pengendali Permainan
Name[it]=Controller di gioco
Name[ja]=ゲームコントローラ
Name[ko]=게임 컨트롤러
Name[lt]=Žaidimų valdiklis
Name[nl]=Spelbesturing
Name[nn]=Spelkontrollar
Name[pa]=ਖੇਡ ਕੰਟਰੋਲਰ
Name[pl]=Pad do gier
Name[pt]=Controlador de Jogos
Name[pt_BR]=Controlador de jogos
Name[ro]=Controlor de jocuri
Name[ru]=Игровой контроллер
Name[sk]=Herný ovládač
Name[sl]=Krmilnik iger
Name[sv]=Spelkontroll
Name[tr]=Oyun Denetleyicisi
Name[uk]=Ігровий контролер
Name[vi]=Thiết bị điều khiển trò chơi
Name[x-test]=xxGame Controllerxx
Name[zh_CN]=游戏控制器
Name[zh_TW]=遊戲控制器
