[Desktop Entry]
Icon=preferences-desktop-activities
Type=Application
Exec=systemsettings kcm_activities
NoDisplay=true

Name=Activities
Name[ar]=الأنشطة
Name[ast]=Actividaes
Name[az]=Fəaliyyətlər
Name[bg]=Дейности
Name[bs]=Motor aktivnosti
Name[ca]=Activitats
Name[ca@valencia]=Activitats
Name[cs]=Aktivity
Name[da]=Aktiviteter
Name[de]=Aktivitäten
Name[el]=Δραστηριότητες
Name[en_GB]=Activities
Name[es]=Actividades
Name[et]=Tegevused
Name[eu]=Jarduerak
Name[fa]=فعالیتها
Name[fi]=Aktiviteetit
Name[fr]=Activités
Name[ga]=Gníomhaíochtaí
Name[gl]=Actividades
Name[he]=פעילויות
Name[hr]=Aktivnosti
Name[hu]=Aktivitások
Name[ia]=Activitates
Name[id]=Activities
Name[is]=Virknistjóri
Name[it]=Attività
Name[ja]=アクティビティ
Name[ka]=ქმედებები
Name[kk]=Белсенділіктер
Name[km]=សកម្មភាព
Name[ko]=활동
Name[lt]=Veiklos
Name[lv]=Aktivitātes
Name[ml]=പ്രവര്‍ത്തികള്‍
Name[mr]=कार्यपध्दती
Name[nb]=Aktiviteter
Name[nds]=Aktiviteten
Name[nl]=Activiteiten
Name[nn]=Aktivitetar
Name[pa]=ਸਰਗਰਮੀਆਂ
Name[pl]=Aktywności
Name[pt]=Actividades
Name[pt_BR]=Atividades
Name[ro]=Activități
Name[ru]=Комнаты
Name[sk]=Aktivity
Name[sl]=Dejavnosti
Name[sr]=активности
Name[sr@ijekavian]=активности
Name[sr@ijekavianlatin]=aktivnosti
Name[sr@latin]=aktivnosti
Name[sv]=Aktiviteter
Name[ta]=செயல்பாடுகள்
Name[tg]=Фаъолиятҳо
Name[tr]=Etkinlikler
Name[ug]=پائالىيەتلەر
Name[uk]=Простори дій
Name[vi]=Hoạt động
Name[wa]=Activités
Name[x-test]=xxActivitiesxx
Name[zh_CN]=活动
Name[zh_TW]=活動
