[Desktop Entry]
Name=IM Panel
Name[ga]=Painéal IM
Name[pt]=Painel de MI
Name[pt_BR]=Painel de MI
Name[sv]=IM-panel
Name[uk]=Панель МП
Comment=A generic im panel
Comment[ga]=Painéal ginearálta IM
Comment[pt]=Um painel genérico de MI
Comment[pt_BR]=Um painel genérico de MI
Comment[sv]=En generell IM-panel
Comment[uk]=Проста панель миттєвих повідомлень
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kimpanel
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

