[Desktop Entry]
Comment=Shows current touchpad state
Comment[nl]=Huidige status van touchpad tonen
Comment[pt_BR]=Mostra o estado atual do touchpad
Comment[sv]=Visar tryckplattans nuvarande tillstånd
Comment[uk]=Показує поточний стан сенсорної панелі
Comment[x-test]=xxShows current touchpad statexx
Encoding=UTF-8
Icon=input-touchpad
Keywords=Touchpad
Keywords[nl]=Touchpad
Keywords[pt_BR]=Touchpad
Keywords[sv]=Tryckplatta
Keywords[uk]=Сенсорна панель
Keywords[x-test]=xxTouchpadxx
Name=Touchpad
Name[nl]=Touchpad
Name[pt_BR]=Touchpad
Name[sv]=Tryckplatta
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexander Mezin
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=mezin.alexander@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=touchpad
X-KDE-PluginInfo-Version=@TOUCHPAD_KCM_VERSION@
X-KDE-PluginInfo-Website=https://projects.kde.org/projects/playground/utils/kcm-touchpad/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-ConfigPlugins=kcm_touchpad
X-Plasma-DefaultSize=32,32
X-Plasma-MainScript=ui/touchpad.qml
X-Plasma-NotificationArea=true
X-Plasma-RemoteLocation=
