[Desktop Entry]
Name=Accessibility
Comment=Accessibility Options

Icon=preferences-desktop-accessibility
Type=Service
X-KDE-PluginInfo-Author=Tomaz Canabrava
X-KDE-PluginInfo-Email=tcanabrava@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcma_ccess
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
