[Desktop Entry]
Exec=kcmshell5 kcm_new_keyboard
Icon=preferences-desktop-keyboard
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/new_keyboard/index.html
Categories=Qt;KDE;X-KDE-settings-hardware;

X-KDE-Library=kcm_new_keyboard
X-KDE-Init-Symbol=new_keyboard
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=50
OnlyShowIn=KDE;

Name=Keyboard and IME

Comment=Keyboard Hardware and Layout
