[Desktop Entry]
Exec=ibus-ui-emojier-plasma
Name=Emoji Selector
OnlyShowIn=KDE;
Type=Application
Icon=preferences-desktop-emoticons
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
X-KDE-Shortcuts=Meta+.
