[Desktop Entry]
Name=Panel Toolbox
Name[nl]=Paneelhulpmiddelen
Name[uk]=Набір інструментів панелі
Name[x-test]=xxPanel Toolboxxx
Comment=Manage Plasma panel
Comment[nl]=Plasmapaneel beheren
Comment[uk]=Керування панеллю Плазми
Comment[x-test]=xxManage Plasma panelxx
Encoding=UTF-8

Type=Service
Icon=plasma
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Generic

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.paneltoolbox
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Toolbox
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.1

X-Plasma-MainScript=ui/main.qml

