[Desktop Entry]
Name=Panel Toolbox
Name[ar]=صندوق أدوات اللوحة
Name[az]=Alətlər qutusu paneli
Name[bs]=Panel kutija sa alatom
Name[ca]=Quadre d'eines del plafó
Name[ca@valencia]=Quadre d'eines del plafó
Name[cs]=Nástroje panelu
Name[da]=Panelværktøjskasse
Name[de]=Werkzeugkasten für die Kontrollleiste
Name[el]=Εργαλεία πίνακα
Name[en_GB]=Panel Toolbox
Name[es]=Caja de herramientas del panel
Name[et]=Paneeli tööriistakast
Name[eu]=Paneleko tresna-kutxa
Name[fi]=Paneelin työkalupakki
Name[fr]=Boîte à outils de tableau de bord
Name[gl]=Caixa de ferramentas de panel
Name[he]=ארגז־הכלים של הלוח
Name[hu]=Panel eszköztár
Name[ia]=Instrumentario de pannello
Name[id]=Perkakas Panel
Name[is]=Verkfærasafn fyrir spjöld
Name[it]=Strumento per pannelli
Name[ja]=パネルツールボックス
Name[kk]=Панель құралдары
Name[ko]=패널 도구 상자
Name[lt]=Skydelio priemonių komplektas
Name[mr]=पटल साधने
Name[nb]=Panel-verktøykasse
Name[nds]=Paneel-Warktüüchkist
Name[nl]=Paneelhulpmiddelen
Name[nn]=Panelverktøykasse
Name[pa]=ਪੈਨਲ ਟੂਲਬਾਕਸ
Name[pl]=Przybornik panelu
Name[pt]=Barra do Painel
Name[pt_BR]=Barra de ferramentas painel
Name[ro]=Trusa de unelte a panoului
Name[ru]=Инструменты панели
Name[sk]=Nástroje panelu
Name[sl]=Orodjarna za pult
Name[sr]=Панелска алатница
Name[sr@ijekavian]=Панелска алатница
Name[sr@ijekavianlatin]=Panelska alatnica
Name[sr@latin]=Panelska alatnica
Name[sv]=Panelverktygslåda
Name[ta]=பலகை கருவிப்பெட்டி
Name[tg]=Қуттии абзорҳои лавҳа
Name[tr]=Panel Araç Kutusu
Name[uk]=Набір інструментів панелі
Name[vi]=Hộp công cụ bảng
Name[x-test]=xxPanel Toolboxxx
Name[zh_CN]=面板工具箱
Name[zh_TW]=面板工具盒
Comment=Manage Plasma panel
Comment[ar]=أدر لوحة بلازما
Comment[az]=Plasma paneli meneceri
Comment[bs]=Upravljaj Plasma panelom
Comment[ca]=Gestió del plafó del Plasma
Comment[ca@valencia]=Gestió del plafó del Plasma
Comment[cs]=Spravovat panel Plasmy
Comment[da]=Håndtér Plasma-panel
Comment[de]=Plasma-Kontrollleiste verwalten
Comment[el]=Διαχείριση πίνακα Plasma
Comment[en_GB]=Manage Plasma panel
Comment[es]=Gestión del panel de Plasma
Comment[et]=Plasma paneeli haldamine
Comment[eu]=Kudeatu Plasma panela
Comment[fi]=Plasma-paneelin hallinta
Comment[fr]=Gérer le tableau de bord Plasma
Comment[gl]=Xestionar o panel de Plasma
Comment[he]=נהל את הלוח של פלזמה
Comment[hu]=Plasma panel kezelése
Comment[ia]=Gere pannello de Plasma
Comment[id]=Kelola panel Plasma
Comment[is]=Sýsla með stillingar Plasma-spjalds
Comment[it]=Gestisce il pannello di Plasma
Comment[ja]=Plasma パネルを管理
Comment[kk]=Plasma панелін басқару
Comment[ko]=Plasma 패널 관리
Comment[lt]=Tvarkyti Plasma skydelį
Comment[ml]=പ്ലാസ്മയുടെ സഹായക്കുറിപ്പു്
Comment[mr]=प्लाज्मा पटल व्यवस्थापन
Comment[nb]=Håndter Plasma-panel
Comment[nds]=Plasmapaneel plegen
Comment[nl]=Plasmapaneel beheren
Comment[nn]=Handsam Plasma-panel
Comment[pa]=ਪਲਾਜ਼ਮਾ ਪੈਨਲ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzanie panelem Plazmy
Comment[pt]=Gerir o painel do Plasma
Comment[pt_BR]=Gerencia o painel do Plasma
Comment[ro]=Gestionează panoul Plasma
Comment[ru]=Настройка панели Plasma
Comment[sk]=Spravovať panel Plasma
Comment[sl]=Upravljanje pulta Plasme
Comment[sr]=Управљајте плазма панелом
Comment[sr@ijekavian]=Управљајте плазма панелом
Comment[sr@ijekavianlatin]=Upravljajte plasma panelom
Comment[sr@latin]=Upravljajte plasma panelom
Comment[sv]=Hantera Plasma-panel
Comment[ta]=பிளாஸ்மா பலகையை நிர்வகியுங்கள்
Comment[tg]=Идоракунии лавҳаи Плазма
Comment[tr]=Plasma panelini yönet
Comment[uk]=Керування панеллю Плазми
Comment[vi]=Quản lí bảng Plasma
Comment[x-test]=xxManage Plasma panelxx
Comment[zh_CN]=管理 Plasma 面板 
Comment[zh_TW]=管理 Plasma 面板

Type=Service
Icon=plasma
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Generic

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.paneltoolbox
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Toolbox
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.1

X-Plasma-MainScript=ui/main.qml

