[Desktop Entry]
Icon=preferences-system-users
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_users
X-KDE-ParentApp=kcontrol
X-KDE-Weight=40
X-KDE-System-Settings-Parent-Category=personalization
Name=Users
Name[ar]=المستخدمين
Name[ast]=Usuarios
Name[az]=İstifadəçilər
Name[ca]=Usuaris
Name[cs]=Uživatelé
Name[da]=Brugere
Name[de]=Benutzer
Name[en_GB]=Users
Name[es]=Usuarios
Name[et]=Kasutajad
Name[eu]=Erabiltzaileak
Name[fi]=Käyttäjät
Name[fr]=Utilisateurs
Name[hu]=Felhasználók
Name[ia]=Usatores
Name[id]=Pengguna
Name[it]=Utenti
Name[ko]=사용자
Name[lt]=Naudotojai
Name[nl]=Gebruikers
Name[nn]=Brukarar
Name[pa]=ਵਰਤੋਂਕਾਰ
Name[pl]=Użytkownicy
Name[pt]=Utilizadores
Name[pt_BR]=Usuários
Name[ro]=Utilizatori
Name[ru]=Пользователи
Name[sk]=Používatelia
Name[sl]=Uporabniki
Name[sv]=Användare
Name[ta]=பயனர்கள்
Name[tg]=Корбарон
Name[tr]=Kullanıcılar
Name[uk]=Користувачі
Name[vi]=Người dùng
Name[x-test]=xxUsersxx
Name[zh_CN]=用户
Name[zh_TW]=使用者
Comment=Manage user accounts
Comment[ar]=يدير حسابات المستخدمين
Comment[ast]=Xestionar cuentes d'usuariu
Comment[az]=İstifadəçi hesablarının idarə edilməsi
Comment[ca]=Gestiona els comptes dels usuaris
Comment[cs]=Správa uživatelských účtů
Comment[da]=Håndtér brugerkonti
Comment[de]=Benutzerkonten verwalten
Comment[en_GB]=Manage user accounts
Comment[es]=Gestionar cuentas de usuario
Comment[et]=Kasutajakontode haldamine
Comment[eu]=Kudeatu sistemako erabiltzaile-kontuak.
Comment[fi]=Hallitse käyttäjätunnuksia
Comment[fr]=Gérer les comptes des utilisateurs.
Comment[hu]=Felhasználói fiókok kezelése
Comment[ia]=Gere contos de usator
Comment[id]=Kelola akun pengguna
Comment[it]=Gestisci gli account degli utenti
Comment[ko]=사용자 계정 관리
Comment[lt]=Tvarkyti naudotojų paskyras
Comment[nl]=Uw accounts beheren
Comment[nn]=Handsam brukarkontoar
Comment[pa]=ਵਰਤੋਂਕਾਰ ਖਾਤਿਆਂ ਦਾ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzanie kontami użytkowników
Comment[pt]=Gerir as contas dos utilizadores
Comment[pt_BR]=Gerenciar contas de usuários
Comment[ro]=Gestionează conturile de utilizator
Comment[ru]=Управление учётными записями пользователей
Comment[sk]=Spravovať používateľské kontá
Comment[sl]=Upravljanje računov uporabnikov
Comment[sv]=Hantera användarkonton
Comment[ta]=பயனர் கணக்குகளை நிர்வகி
Comment[tr]=Kullanıcı hesaplarını yönet
Comment[uk]=Керування обліковими записами
Comment[vi]=Quản lí các danh khoản người dùng
Comment[x-test]=xxManage user accountsxx
Comment[zh_CN]=管理用户账户
Comment[zh_TW]=管理使用者帳號
X-KDE-Keywords=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp
X-KDE-Keywords[az]=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile, delete user,delete account,pfp,istifadəçilər,profil şəkli,profil fotoşəkili,ad,şifrə,şifrələr,epoçt,e-poçt,inzibatçı,kök istifadəsi,ilkin istifadəçi,profil,istifadəçini silmək,hesabı silmək
X-KDE-Keywords[ca]=usuaris,comptes,imatge de perfil,foto de perfil,avatar,nom,contrasenya,contrasenyes,correu,correu electrònic,administrador,usuari administrador,root,perfil estàndard,perfil,supressió d'usuari,suprimeix compte,pfp
X-KDE-Keywords[en_GB]=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp
X-KDE-Keywords[es]=usuarios,cuentas,imagen de perfil,foto de perfil,avatar,nombre,contraseña,contraseñas,email,e-mail,correo,correo electrónico,administrador,usuario root,usuario normal,perfil,borrar usuario,borrar cuenta,pfp
X-KDE-Keywords[eu]=erabiltzaileak,kontuak,profileko irudia,profileko argazkia,abatara,izena,pasahitzak, eposta,e-posta,administratzailea,erro erabiltzailea,root erabiltzailea,erabiltzaile arrunta,profila,erabiltzailea ezabatzea,kontua ezabatzea,pfp
X-KDE-Keywords[fi]=käyttäjät,tilit,profiilikuva,valokuva,avatar,nimi,salasana,salasanat,sähköposti,ylläpitäjä,pääkäyttäjä,root,tavallinen käyttäjä,profiili,poista käyttäjä,poista tili,pfp
X-KDE-Keywords[fr]=utilisateurs, comptes, image de profil, avatar, nom, mot de passe, mots de passe, courriel, email, administrateur, administrateur système, utilisateur standard, profil, supprimer un utilisateur, supprimer un compte, pfp
X-KDE-Keywords[hu]=felhasználók,fiókok,profilkép,profilfotó,avatár,név,jelszó,jelszavak,email,e-mail,adminisztrátor,root felhasználó,standard felhasználó,profil,felhasználó törlése,fiók törlése,pfp
X-KDE-Keywords[ia]=usatores,contos,image de profilo,photo de profilo,avatar,nomine,contrasigno,contrasignos,eposta,e-posta,administrator,root usator,usator standard,profilo,dele usator,dele conto,pfp
X-KDE-Keywords[it]=utenti,account,immagine del profilo,foto del profilo,avatar,nome,password,email,e-mail,amministratore,utente root,utente standard,profilo,elimina utente,elimina account,pfp
X-KDE-Keywords[nl]=gebruikers,accounts,profielplaatje,profielfoto,avatar,naam,wachtwoord,wachtwoorden,e-mail,beheerder,root-gebruiker,standaard gebruiker,profiel,gebruiker verwijderen,account verwijderen,pfp
X-KDE-Keywords[nn]=brukarar,kontoar,profilbilete,profilfoto,avatar,brukarbilete,namn,passord,e-post,epost,administrator,rotbrukar,standardbrukar,profil,sletta brukar,sletta konto,pfp
X-KDE-Keywords[pl]=użytkownicy,konta,zdjęcie profilu,zdjęcie profilu,awatar,nazwa,hasło,hasła,email,e-mail,administrator,użytkownik administrujący,zwykły użytkownik,profil,usuń użytkownika,usuń konto,pfp
X-KDE-Keywords[ru]=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp,пользователи,учётные записи,профиль,профили,изображение профиля,фотография профиля,аватар,имя,пароль,пароли,адрес электронной почты,суперпользователь,обычный пользователь,удаление пользователя,удаление учётной записи
X-KDE-Keywords[sk]=používatelia,účty,profilový obrázok,profilová fotografia,avatar,meno,heslo,heslá, email,e-mail,správca,užívateľ root,štandardný užívateľ,profil,vymazať užívateľa, odstrániť účet,pfp
X-KDE-Keywords[sl]=uporabniki,računi,slika profila,fotografija profila,avatar,ime,geslo,gesla, e-pošta,elektronska pošta,email,skrbnik,korenski uporabnik,standardni uporabnik,profil, zbriši uporabnika,zbriši račun,pfp
X-KDE-Keywords[sv]=användare,konton,profilbild,profilfoto,avatar,namn,lösenord,e-post,administratör,root-användare,standardanvändare,profil,ta bort användare,ta bort konto,pfp
X-KDE-Keywords[ta]=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp, பயனர், பயனர்கள், கணக்கு, பயனர் படம், கணக்கு படம், அவதாரம், பெயர், கடவுச்சொல், கடவுச்சொற்கள், அஞ்சல், மின்னஞ்சல், நிர்வாகி, மேலாளர், ரூட், பயனரை நீக்கு, பயனர் நீக்கம்
X-KDE-Keywords[uk]=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp,користувачі,облікові записи,записи,зображення профілю,фото профілю,аватар,ім'я,назва,пароль,паролі,електронна пошта,адміністратор,користувач рут,стандартний користувач,профіль,вилучити користувача,вилучити обліковий запис,пфп,пеефпе
X-KDE-Keywords[vi]=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp,người dùng,danh khoản,ảnh hồ sơ,hiện thân ảo,tên,mật khẩu,thư,thư điện tử,quản trị viên,người dùng gốc,người dùng thường,hồ sơ,xoá người dùng,xoá danh khoản
X-KDE-Keywords[x-test]=xxusersxx,xxaccountsxx,xxprofile picturexx,xxprofile photoxx,xxavatarxx,xxnamexx,xxpasswordxx,xxpasswordsxx,xxemailxx,xxe-mailxx,xxadministratorxx,xxroot userxx,xxstandard userxx,xxprofilexx,xxdelete userxx,xxdelete accountxx,xxpfpxx
X-KDE-Keywords[zh_CN]=users,accounts,profile picture,profile photo,avatar,name,password,passwords,email,e-mail,administrator,root user,standard user,profile,delete user,delete account,pfp,用户,账户,个人资料头像,头像,名字,密码,电子邮件,电子邮箱,电子邮件地址,管理员,root 用户,标准用户,个人资料,删除用户,删除账户
