[Desktop Entry]
Exec=kcmshell5 spellchecking
Icon=tools-check-spelling
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/spellchecking/index.html

X-KDE-Library=kcmspellchecking
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=locale
X-KDE-Weight=70

Name=Spell Check
Name[ca]=Verificació de l'ortografia
Name[fi]=Oikeinkirjoituksen tarkistus
Name[nds]=Klookschriever
Name[nl]=Spellingcontrole
Name[nn]=Stavekontroll
Name[pl]=Sprawdzanie pisowni
Name[pt]=Verificação Ortográfica
Name[pt_BR]=Verificação ortográfica
Name[sk]=Kontrola pravopisu
Name[sv]=Stavningskontroll
Name[uk]=Перевірка правопису
Name[x-test]=xxSpell Checkxx

Comment=Spell Checker Dictionaries and Options
Comment[ca]=Diccionaris de verificació de l'ortografia i opcions
Comment[fi]=Oikeinkirjoituksen tarkistuksen sanastot ja asetukset
Comment[nds]=Wöörböker un Instellen för den Klookschriever
Comment[nl]=Woordenboeken voor spellingcontrole en opties
Comment[pl]=Sprawdzanie pisowni - słowniki i opcje
Comment[pt]=Dicionários e Definições Ortográficas
Comment[pt_BR]=Dicionários e opções da verificação ortográfica
Comment[sk]=Adresáre a voľby kontroly pravopisu
Comment[sv]=Ordlistor och alternativ för stavningskontroll
Comment[uk]=Словники і параметри перевірки правопису
Comment[x-test]=xxSpell Checker Dictionaries and Optionsxx

X-KDE-Keywords=Spell
X-KDE-Keywords[bg]=Spell,Правопис
X-KDE-Keywords[bn]=Spell
X-KDE-Keywords[bs]=Spelovanje
X-KDE-Keywords[ca]=Corrector
X-KDE-Keywords[ca@valencia]=Corrector
X-KDE-Keywords[cs]=Kontrola pravopisu
X-KDE-Keywords[da]=Stavekontrol
X-KDE-Keywords[de]=rechtschreibung
X-KDE-Keywords[el]=Συλλαβισμός
X-KDE-Keywords[eo]=Literumi
X-KDE-Keywords[es]=Ortografía
X-KDE-Keywords[et]=õigekiri
X-KDE-Keywords[eu]=Ortografia
X-KDE-Keywords[fa]=املا
X-KDE-Keywords[fi]=Oikoluku
X-KDE-Keywords[ga]=Litriú
X-KDE-Keywords[gl]=Ortografía
X-KDE-Keywords[gu]=જોડણી
X-KDE-Keywords[he]=איות
X-KDE-Keywords[hi]=वर्तनी
X-KDE-Keywords[hu]=Helyesírás
X-KDE-Keywords[ia]=Controlator orthographic
X-KDE-Keywords[id]=Ejaan
X-KDE-Keywords[is]=Stafsetning
X-KDE-Keywords[it]=Ortografia
X-KDE-Keywords[kk]=Spell
X-KDE-Keywords[km]=ប្រកប
X-KDE-Keywords[ko]=맞춤법
X-KDE-Keywords[lt]=Rašybos tikrinimas
X-KDE-Keywords[lv]=Pareizrakstība
X-KDE-Keywords[mr]=शब्द सांगा
X-KDE-Keywords[nb]=Stavekontroll
X-KDE-Keywords[nds]=Schrievwies
X-KDE-Keywords[nl]=Spelling
X-KDE-Keywords[pa]=ਸਪੈੱਲ
X-KDE-Keywords[pl]=Pisownia
X-KDE-Keywords[pt]=Ortografia
X-KDE-Keywords[pt_BR]=Verificação ortográfica
X-KDE-Keywords[ro]=Ortografie
X-KDE-Keywords[ru]=Spell,правописание
X-KDE-Keywords[sk]=Pravopis
X-KDE-Keywords[sl]=Črkuj
X-KDE-Keywords[sr]=spell,правопис,писање
X-KDE-Keywords[sr@ijekavian]=spell,правопис,писање
X-KDE-Keywords[sr@ijekavianlatin]=spell,pravopis,pisanje
X-KDE-Keywords[sr@latin]=spell,pravopis,pisanje
X-KDE-Keywords[sv]=Stavningskontroll
X-KDE-Keywords[tg]=Санҷиши имло
X-KDE-Keywords[tr]=Denetle
X-KDE-Keywords[ug]=ئىملا
X-KDE-Keywords[uk]=Spell,правопис,перевірка,правопису
X-KDE-Keywords[vi]=Chính tả
X-KDE-Keywords[wa]=Coridjrece,speli,sipeli,coridjî,ortografike,ortografeye,ortografe
X-KDE-Keywords[x-test]=xxSpellxx
X-KDE-Keywords[zh_CN]=Spell,拼写
X-KDE-Keywords[zh_TW]=Spell

Categories=Qt;KDE;X-KDE-settings-components;
