[Desktop Entry]
Exec=kcmshell5 spellchecking
Icon=tools-check-spelling
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/spellchecking/index.html

X-KDE-Library=kcmspellchecking
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=locale
X-KDE-Weight=70

Name=Spell Checker
Name[ar]=مدقق إملائي
Name[as]=বানান পৰীক্ষণব্যৱস্থা
Name[ast]=Correutor ortográficu
Name[be@latin]=Spraŭdžvańnie pravapisu
Name[bg]=Проверка на правописа
Name[bn]=বানান পরীক্ষক
Name[bn_IN]=বানান পরীক্ষণ ব্যবস্থা
Name[br]=Gwirieker ar skritur
Name[bs]=Provjera pravopisa
Name[ca]=Corrector ortogràfic
Name[ca@valencia]=Corrector ortogràfic
Name[cs]=Kontrola pravopisu
Name[csb]=Sprôwdzanié pisënkù
Name[cy]=Cywirydd Sillafu
Name[da]=Stavekontrol
Name[de]=Rechtschreibprüfung
Name[el]=Έλεγχος ορθογραφίας
Name[en_GB]=Spell Checker
Name[eo]=Literumilo
Name[es]=Corrector ortográfico
Name[et]=Õigekirja kontroll
Name[eu]=Ortografia-egiaztatzailea
Name[fa]=غلط‌یاب
Name[fi]=Oikoluku
Name[fy]=Staveringshifker
Name[ga]=Litreoir
Name[gl]=Corrector de ortografía
Name[gu]=જોડણી ચકાસનાર
Name[he]=בודק איות
Name[hi]=वर्तनी शोधक
Name[hne]=हिज्जा जंचइया
Name[hr]=Alat za provjeru pravopisa
Name[hsb]=Prawopisna korektura
Name[hu]=Helyesírás-ellenőrző
Name[ia]=Controlator Orthographic
Name[id]=Pemeriksa Ejaan
Name[is]=Stafsetningarskoðun
Name[it]=Correttore ortografico
Name[ja]=スペルチェッカー
Name[ka]=მარლთწერის შემოწმება
Name[kk]=Емле тексергіші
Name[km]=កម្មវិធី​ពិនិត្យអក្ខរាវិរុទ្ធ
Name[kn]=ಕಾಗುಣಿತ  ಪರಿಶೀಲಕ
Name[ko]=맞춤법 검사기
Name[ku]=Kontrolkera Rastnivîsê
Name[lt]=Rašybos tikrinimo įrankis
Name[lv]=Pareizrakstības pārbaudītājs
Name[mai]=वर्तनी शोधक
Name[mk]=Проверка на правопис
Name[ml]=അക്ഷരത്തെറ്റു് പരിശോധകന്‍ 
Name[mr]=शब्द तपासक
Name[nb]=Stavekontroll
Name[nds]=Klookschriever
Name[nl]=Spellingcontrole
Name[nn]=Stave­kontroll
Name[oc]=Verificator ortografic
Name[or]=ବନାନ ଯାଞ୍ଚକାରୀ
Name[pa]=ਸਪੈੱਲ ਚੈੱਕਰ
Name[pl]=Sprawdzanie pisowni
Name[pt]=Verificador Ortográfico
Name[pt_BR]=Verificador ortográfico
Name[ro]=Verificator ortografic
Name[ru]=Проверка орфографии
Name[si]=අකුරු පිරික්සනය
Name[sk]=Kontrola pravopisu
Name[sl]=Preverjanje črkovanja
Name[sr]=Правописар
Name[sr@ijekavian]=Правописар
Name[sr@ijekavianlatin]=Pravopisar
Name[sr@latin]=Pravopisar
Name[sv]=Stavningskontroll
Name[ta]=Spell Checker
Name[te]=స్పెల్ చెకర్
Name[tg]=Тафтиши имло
Name[th]=ตัวตรวจการสะกด
Name[tr]=Yazım Denetleyici
Name[ug]=ئىملا تەكشۈرگۈچ
Name[uk]=Перевірка правопису
Name[uz]=Imloni tekshiruvchi
Name[uz@cyrillic]=Имлони текширувчи
Name[vi]=Trình kiểm tra chính tả
Name[wa]=Coridjrece ortografike
Name[xh]=Umkhangeki Wopelo
Name[x-test]=xxSpell Checkerxx
Name[zh_CN]=拼写检查器
Name[zh_TW]=拼字檢查器

Comment=Configure the spell checker
Comment[ar]=اضبط المدقق الإملائي
Comment[ast]=Configuración del correutor ortográficu
Comment[be@latin]=Naładź spraŭdžvańnie pravapisu
Comment[bg]=Настройване проверката на правописа
Comment[bn]=বানান পরীক্ষক কনফিগার করুন
Comment[bn_IN]=বানান পরীক্ষণ ব্যবস্থা কনফিগার করুন
Comment[br]=Kefluniañ an ostilh gwiriekaat
Comment[bs]=Podešavanje provjere pravopisa
Comment[ca]=Configura el corrector ortogràfic
Comment[ca@valencia]=Configura el corrector ortogràfic
Comment[cs]=Nastavení kontroly pravopisu
Comment[csb]=Kònfigùracëjô programë sprôwdzaniô pisënkù
Comment[cy]=Ffurfweddu'r cywirydd sillafu
Comment[da]=Indstil stavekontrollen
Comment[de]=Rechtschreibprüfung einrichten
Comment[el]=Διαμόρφωση του ορθογραφικού ελέγχου
Comment[en_GB]=Configure the spell checker
Comment[eo]=Agordoj de la literumilo
Comment[es]=Configuración del corrector ortográfico
Comment[et]=Õigekirja kontrolli seadistamine
Comment[eu]=Ortografia-egiaztatzailea konfiguratzea
Comment[fa]=پیکربندی غلط‌یاب
Comment[fi]=Oikoluvun asetukset
Comment[fy]=De staveringshifker ynstelle
Comment[ga]=Cumraigh an litreoir
Comment[gl]=Configura o corrector da ortografía
Comment[gu]=સ્પેલચેકર રૂપરેખાંંકિત કરો
Comment[he]=שינוי הגדרות בודק האיות
Comment[hi]=वर्तनी शोधक कॉन्फ़िगर करें
Comment[hne]=हिज्जा जंचइया कान्फिगर करव
Comment[hr]=Konfiguriranje provjere pravopisa
Comment[hsb]=Prawopisnu korekturu připrawić
Comment[hu]=A helyesírás-ellenőrző beállításai
Comment[ia]=Configura le controlator orthographic
Comment[id]=Atur pemeriksa ejaan
Comment[is]=Hér getur þú stillt stafsetningaryfirferð
Comment[it]=Configura il correttore ortografico
Comment[ja]=スペルチェッカーを設定
Comment[ka]=მარლთწერის სემოწმების კონფიგურაცია
Comment[kk]=Емле тексергішін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ពិនិត្យអក្ខរាវិរុទ្ធ​
Comment[kn]=ಕಾಗುಣಿತ  ಪರಿಶೀಲಕವನ್ನು ಸಂರಚಿಸು
Comment[ko]=맞춤법 검사기 설정
Comment[ku]=Kontrola rastnivîsê veava bike
Comment[lt]=Konfigūruoti rašybos tikrinimą
Comment[lv]=Šeit jūs varat konfigurēt pareizrakstības pārbaudītāju
Comment[mai]=वर्तनी शोधक विन्यस्त करू
Comment[mk]=Конфигурирајте ја проверката на правопис
Comment[ml]=അക്ഷരത്തെറ്റു് പരിശോധന പൂര്‍ത്തിയായി
Comment[mr]=शब्द तपासकर्ता संयोजीत करा
Comment[nb]=Tilpass stavekontrollen
Comment[nds]=Den Klookschriever instellen
Comment[nl]=Spellingcontrole instellen
Comment[nn]=Set opp stavekontrollen
Comment[or]=ବନାନ ଯାଞ୍ଚକାରୀକୁ ସଂରଚନା କରନ୍ତୁ
Comment[pa]=ਸਪੈੱਲ ਚੈੱਕਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja programu do sprawdzania pisowni
Comment[pt]=Configuração do verificador ortográfico
Comment[pt_BR]=Configura o verificador ortográfico
Comment[ro]=Configurează verificatorul ortografic
Comment[ru]=Настройка проверки орфографии
Comment[se]=Heivet čállindárkkisteami
Comment[si]=අකුරු පිරික්සීම සකසන්න
Comment[sk]=Nastavenie kontroly pravopisu
Comment[sl]=Nastavi preverjanje črkovanja
Comment[sr]=Подешавање правописара
Comment[sr@ijekavian]=Подешавање правописара
Comment[sr@ijekavianlatin]=Podešavanje pravopisara
Comment[sr@latin]=Podešavanje pravopisara
Comment[sv]=Anpassa stavningskontroll
Comment[ta]=சொல் திருத்தியை வடிவமை
Comment[te]=స్పెల్ చెకర్‌ను ఆకృతీకరించుము
Comment[tg]=Танзимоти тафтиши имло
Comment[th]=ปรับแต่งตัวตรวจการสะกด
Comment[tr]=Yazım denetleyiciyi yapılandır
Comment[ug]=ئىملا تەكشۈرگۈچ سەپلىمە
Comment[uk]=Налаштування перевірки правопису
Comment[uz]=Imlo tekshiruvchini moslash
Comment[uz@cyrillic]=Имло текширувчини мослаш
Comment[vi]=Cấu hình trình kiểm tra chính tả
Comment[wa]=Apontyî l' coridjrece ortografike
Comment[xh]=Qwalasela umkhangelo wopelo
Comment[x-test]=xxConfigure the spell checkerxx
Comment[zh_CN]=配置拼写检查器
Comment[zh_TW]=設定拼字檢查器

X-KDE-Keywords=Spell
X-KDE-Keywords[bg]=Spell,Правопис
X-KDE-Keywords[bn]=Spell
X-KDE-Keywords[bs]=Spelovanje
X-KDE-Keywords[ca]=Corrector
X-KDE-Keywords[ca@valencia]=Corrector
X-KDE-Keywords[cs]=Kontrola pravopisu
X-KDE-Keywords[da]=Stavekontrol
X-KDE-Keywords[de]=rechtschreibung
X-KDE-Keywords[el]=Συλλαβισμός
X-KDE-Keywords[eo]=Literumi
X-KDE-Keywords[es]=Ortografía
X-KDE-Keywords[et]=õigekiri
X-KDE-Keywords[eu]=Ortografia
X-KDE-Keywords[fa]=املا
X-KDE-Keywords[fi]=Oikoluku
X-KDE-Keywords[ga]=Litriú
X-KDE-Keywords[gl]=Ortografía
X-KDE-Keywords[gu]=જોડણી
X-KDE-Keywords[he]=איות
X-KDE-Keywords[hi]=वर्तनी
X-KDE-Keywords[hu]=Helyesírás
X-KDE-Keywords[ia]=Controlator orthographic
X-KDE-Keywords[id]=Ejaan
X-KDE-Keywords[is]=Stafsetning
X-KDE-Keywords[it]=Ortografia
X-KDE-Keywords[kk]=Spell
X-KDE-Keywords[km]=ប្រកប
X-KDE-Keywords[ko]=맞춤법
X-KDE-Keywords[lt]=Rašybos tikrinimas
X-KDE-Keywords[lv]=Pareizrakstība
X-KDE-Keywords[mr]=शब्द सांगा
X-KDE-Keywords[nb]=Stavekontroll
X-KDE-Keywords[nds]=Schrievwies
X-KDE-Keywords[nl]=Spelling
X-KDE-Keywords[nn]=Stavekontroll
X-KDE-Keywords[pa]=ਸਪੈੱਲ
X-KDE-Keywords[pl]=Pisownia
X-KDE-Keywords[pt]=Ortografia
X-KDE-Keywords[pt_BR]=Verificação ortográfica
X-KDE-Keywords[ro]=Ortografie
X-KDE-Keywords[ru]=Spell,правописание
X-KDE-Keywords[sk]=Pravopis
X-KDE-Keywords[sl]=Črkuj
X-KDE-Keywords[sr]=spell,правопис,писање
X-KDE-Keywords[sr@ijekavian]=spell,правопис,писање
X-KDE-Keywords[sr@ijekavianlatin]=spell,pravopis,pisanje
X-KDE-Keywords[sr@latin]=spell,pravopis,pisanje
X-KDE-Keywords[sv]=Stavningskontroll
X-KDE-Keywords[tg]=Санҷиши имло
X-KDE-Keywords[tr]=Denetle
X-KDE-Keywords[ug]=ئىملا
X-KDE-Keywords[uk]=Spell,правопис,перевірка,правопису
X-KDE-Keywords[vi]=Chính tả
X-KDE-Keywords[wa]=Coridjrece,speli,sipeli,coridjî,ortografike,ortografeye,ortografe
X-KDE-Keywords[x-test]=xxSpellxx
X-KDE-Keywords[zh_CN]=Spell,拼写
X-KDE-Keywords[zh_TW]=Spell

Categories=Qt;KDE;X-KDE-settings-components;
