[Desktop Entry]
Exec=kcmshell5 spellchecking
Icon=tools-check-spelling
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/spellchecking/index.html

X-KDE-Library=kcmspellchecking
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=locale
X-KDE-Weight=70

Name=Spell Checker
Name[nl]=Spellingcontrole
Name[uk]=Перевірка правопису
Name[x-test]=xxSpell Checkerxx

Comment=Configure the spell checker
Comment[nl]=Spellingcontrole instellen
Comment[uk]=Налаштування перевірки правопису
Comment[x-test]=xxConfigure the spell checkerxx

X-KDE-Keywords=Spell
X-KDE-Keywords[nl]=Spelling
X-KDE-Keywords[uk]=Spell,правопис,перевірка,правопису
X-KDE-Keywords[x-test]=xxSpellxx

Categories=Qt;KDE;X-KDE-settings-components;
