Icon=preferences-system-windows

# ctxt: standard desktop component
Name=Window Manager
Name[ar]=مدير النوافذ
Name[bs]=Upravitelj prozora
Name[ca]=Gestor de finestres
Name[cs]=Správce oken
Name[da]=Vindueshåndtering
Name[de]=Fensterverwaltung
Name[el]=Διαχειριστής παραθύρων
Name[en_GB]=Window Manager
Name[es]=Gestor de ventanas
Name[fi]=Ikkunointiohjelma
Name[fr]=Gestionnaire de fenêtres
Name[gl]=Xestor de xanelas
Name[hr]=Upravitelj prozorima
Name[hu]=Ablakkezelő
Name[ia]=Gerente de Fenestra
Name[id]=Manajer Jendela
Name[it]=Gestore delle finestre
Name[ko]=창 관리자
Name[lt]=Langų tvarkyklė
Name[nb]=Vindusbehandler
Name[nds]=Finsterpleger
Name[nl]=Windowmanager
Name[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ
Name[pl]=Zarządzanie oknami
Name[pt]=Gestor de Janelas
Name[pt_BR]=Gerenciador de janelas
Name[ru]=Диспетчер окон
Name[sk]=Správca okien
Name[sl]=Upravljalnik oken
Name[sr]=менаџер прозора
Name[sr@ijekavian]=менаџер прозора
Name[sr@ijekavianlatin]=menadžer prozora
Name[sr@latin]=menadžer prozora
Name[sv]=Fönsterhanterare
Name[tr]=Pencere Yöneticisi
Name[uk]=Керування вікнами
Name[x-test]=xxWindow Managerxx
Name[zh_CN]=窗口管理器
Name[zh_TW]=視窗管理員
Comment=Here you can select the window manager to be run in your KDE session.
Comment[ar]=يمكنك هنا اختيار مدير النوافذ ليُشغَّل في جلسة كدي.
Comment[ast]=Pues escoyer el xestor de ventanes qu'usará la sesión de KDE.
Comment[be@latin]=Tut možna vybrać akońnika, jaki ŭklučajecca pry ŭvachodzie ŭ KDE.
Comment[bg]=Тук можете да изберете мениджъра на прозорци, който да се стартира при нова сесия.
Comment[bn]=আপনার কে.ডি.ই. সেশন-এ যে উইণ্ডো ম্যানেজার ব্যবহার করা হবে সেটি আপনি এখানে পছন্দ করতে পারেন।
Comment[bs]=Izaberite menadžer prozora za upotrebu u KDE sesijama.
Comment[ca]=Aquí podeu seleccionar el gestor de finestres que s'executarà en la sessió del KDE.
Comment[ca@valencia]=Ací podeu seleccionar el gestor de finestres que s'executarà en la sessió del KDE.
Comment[cs]=Zde si můžete zvolit správce oken pro své sezení KDE.
Comment[csb]=Tuwò mòżesz wëbrac menadżerã òknów jakô mô bëc zrëszonô w twòji sesëji KDE.
Comment[da]=Her kan du vælge, den vindueshåndtering der skal køre i din KDE-session.
Comment[de]=Hier können Sie den Fenstermanager wählen, der für Ihre KDE-Sitzung verwendet werden soll.
Comment[el]=Εδώ μπορείτε να επιλέξετε τον διαχειριστή παραθύρων που θα εκτελείται κατά την KDE συνεδρία σας.
Comment[en_GB]=Here you can select the window manager to be run in your KDE session.
Comment[eo]=Ĉi tie vi povas elekti la uzendan fenestran agordilon en via seanco de KDE.
Comment[es]=Puede seleccionar el gestor de ventanas que se usará en su sesión de KDE.
Comment[et]=Siin saab valida KDE seansis kasutatava aknahalduri.
Comment[eu]=KDE saioetan erabiltzea nahi duzun leiho-kudeatzailea hauta dezakezu hemen.
Comment[fa]=شما در اینجا میتوانید مدیر پنجره را انتخاب کنید تا در نشست کی‌دی‌ای شما اجرا شود.
Comment[fi]=Tästä voit valita KDE-työpöydän käyttämän ikkunointiohjelman.
Comment[fr]=Vous pouvez configurer votre gestionnaire de fenêtres par défaut ici.
Comment[fy]=Hjir kinne jo de finstersbehearder dy jo yn jo KDE-sesje brûke wolle selektearje.
Comment[ga]=Anseo is féidir leat an bainisteoir fuinneog a rithfear i do sheisiún KDE.
Comment[gl]=Aquí pode escoller o xestor de xanelas que desexe executar na sesión de KDE.
Comment[gu]=અહીં તમે તમારા KDE સત્ર માટે વિન્ડો વ્યવસ્થાપક પસંદ કરી શકો છો.
Comment[he]=כאן ניתן לבחור את מנהל החלונות שיהיה בשימוש בהפעלת KDE שלך.
Comment[hi]=यहाँ आप अपने केडीई सत्र में चलाये जाने के लिये विंडो प्रबंधक का चयन कर सकते हैं.
Comment[hne]=इहां आप मन विंडो प्रबंधक ल चुन सकथो जे हर आपके केडीई सत्र मं चलही.
Comment[hr]=Ovdje možete odabrati upravitelj prozorima koji će se izvoditi u vašoj KDE sjednici
Comment[hsb]=Tule móžeće woknowy manager za swoje KDE-posedźenje wubrać.
Comment[hu]=Itt lehet kiválasztani, melyik ablakkezelőt használja a KDE.
Comment[ia]=Ci tu pote selectionar le gerente de fenestra que on debe usar se in tu session KDE.
Comment[id]=Di sini anda dapat memilih manajer jendela yang akan dijalankan di sesi KDE anda.
Comment[is]=Hér geturðu valið gluggastjóra til keyrslu í KDE setum.
Comment[it]=Qui puoi scegliere il gestore delle finestre da eseguire nella sessione di KDE.
Comment[kk]=Мұнда KDE сеансыңызда жегілетін терезе менеджерін таңдай аласыз.
Comment[km]=នៅ​ទីនេះ អ្នក​អាច​ជ្រើស​កម្មវិធី​គ្រប់គ្រង​បង្អួច​ឲ្យ​រត់​នៅ​ក្នុង​សម័យ KDE របស់​អ្នក ។
Comment[kn]=ಇಲ್ಲಿ ನೀನು ಕೆಡಿಇ ಅಧಿವೇಶನದಲ್ಲಿ ಚಾಲ್ತಿಯಲ್ಲಿರಬೇಕಾದ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕವನ್ನು ಆರಿಸಿಕೊಳ್ಳಬಹುದು.
Comment[ko]=KDE 세션에서 실행할 창 관리자를 선택할 수 있습니다.
Comment[ku]=Li vir tu dikarî rêveberê pace yê hilbijêrî ku di nav danişîna KDE de bimeşînî.
Comment[lt]=Čia galite pasirinkti langų tvarkyklę, paleidžiamą jūsų KDE sesijoje.
Comment[lv]=Šeit varat izvēlēties logu pārvaldnieku jūsu KDE sesijai.
Comment[mai]=एतए अहाँ विंडो प्रबंधक केँ चुन सकैत छी जकरा अहाँक KDE सत्र मे चलाएल जएनाइ अछि.
Comment[mk]=Тука може да го изберете менаџерот на прозорци што ќе се користи од Вашата KDE-сесија.
Comment[ml]=ഇവിടെ നിങ്ങള്‍ക്ക് കെഡിഇ സെഷനില്‍ പ്രവര്‍ത്തിക്കേണ്ട ജാലക-പരിപാലന പ്രവര്‍ത്തനങ്ങള്‍ തിരഞ്ഞെടുക്കാം
Comment[mr]=केडीई सत्र अंतर्गत चालविण्याजोगी चौकट व्यवस्थापक येथे निवडले जाऊ शकते.
Comment[nb]=Her kan du velge vindusbehandler som skal kjøres i KDE-økta.
Comment[nds]=Hier kannst Du den Finsterpleger utsöken, den Du för Dien KDE-Törns bruken wullt.
Comment[nl]=Hier kunt u de windowmanager die u in uw KDE-sessie wilt gebruiken selecteren.
Comment[or]=ଆପଣଙ୍କର KDE ଅଧିବେଶନରେ ଚଲାଇବା ପାଇଁ ୱିଣ୍ଡୋ ପରିଚାଳକଙ୍କୁ ଏଠାରେ ଚୟନ କରିପାରିବେ।
Comment[pa]=ਤੁਹਾਡੇ KDE ਸ਼ੈਸ਼ਨ ਵਿੱਚ ਚਲਾਉਣ ਲਈ ਤੁਸੀਂ ਵਿੰਡੋ ਮੈਨੇਜਰ ਚੁਣ ਸਕਦੇ ਹੋ।
Comment[pl]=Tutaj możesz wybrać program zarządzający oknami w twojej sesji KDE.
Comment[pt]=Aqui poderá seleccionar o gestor de janelas a executar na sua sessão do KDE.
Comment[pt_BR]=Aqui você pode selecionar o gerenciador de janelas a ser executado na sua sessão do KDE.
Comment[ro]=Aici puteți alege gestionarul de ferestre ce va rula în sesiunea KDE.
Comment[ru]=Здесь можно указать диспетчер окон, который будет использоваться в сеансах KDE.
Comment[si]=මෙහිදි KDE වාරයේ ක්‍රියාත්මක වන කවුළු පාලකය තෝරාගත හැක.
Comment[sk]=Tu si môžete vybrať správcu okien, ktorý sa bude spúšťať vo vašom KDE sedení.
Comment[sl]=Tu lahko izberete upravljalnika oken, ki bo zagnan v vaši seji KDE.
Comment[sr]=Изаберите менаџер прозора за употребу у КДЕ сесијама.
Comment[sr@ijekavian]=Изаберите менаџер прозора за употребу у КДЕ сесијама.
Comment[sr@ijekavianlatin]=Izaberite menadžer prozora za upotrebu u KDE sesijama.
Comment[sr@latin]=Izaberite menadžer prozora za upotrebu u KDE sesijama.
Comment[sv]=Här kan du välja fönsterhanterare som ska köras i KDE-sessionen.
Comment[ta]=Here you can select the window manager to be run in your KDE session.
Comment[te]=విండో నిర్వాహిక మీ KDE సెషన్‌నందు నడుచునట్లు మీరు యిక్కడ యెంచుకొనగలరు.
Comment[tg]=Дар ин ҷо шумо метавонед Мудири тирезаҳоро барои иҷрошавӣ дар сессияҳои KDE интихоб кунед.
Comment[th]=คุณสามารถเลือกตัวจัดการหน้าต่างที่จะให้ทำงานในวาระงาน KDE ของคุณ ได้ที่นี่
Comment[tr]=Buradan KDE oturumunuzda çalıştırmak istediğiniz pencere yöneticisini seçebilirsiniz.
Comment[ug]=بۇ جايدا KDE ئەڭگىمەدە ئىجرا قىلماقچى بولغان كۆزنەك باشقۇرغۇچنى تاللىيالايسىز.
Comment[uk]=Тут ви можете обрати засіб керування вікнами, який буде запущено у вашому сеансі KDE.
Comment[vi]=Ở đây bạn có thể chọn các trình quản lý cửa sổ để chạy trong phiên làm việc KDE của bạn.
Comment[wa]=Vos ploz tchoezi chal li manaedjeu des finiesses a enonder dins vosse session KDE.
Comment[x-test]=xxHere you can select the window manager to be run in your KDE session.xx
Comment[zh_CN]=您可以在此选择要在 KDE 会话中运行的窗口管理器。
Comment[zh_TW]=您可以在此選擇 KDE 工作階段執行的視窗管理員。
configurationType=internal_wm
