Icon=preferences-system-windows

# ctxt: standard desktop component
Name=Window Manager
Comment=Here you can select the window manager to be run in your KDE session.
configurationType=internal_wm
