Icon=internet-mail

# ctxt: standard desktop component
Name=Email Client
Name[ar]=عميل البريد
Name[ast]=Veceru de corréu
Name[az]=E-Poçt Vasitəsi
Name[bg]=Програма за е-поща
Name[bn]=ই-মেইল ক্লায়েন্ট
Name[bs]=Klijent e‑pošte
Name[ca]=Client de correu
Name[ca@valencia]=Client de correu
Name[cs]=E-mailový klient
Name[csb]=E-mailowô programa
Name[da]=E-mail-klient
Name[de]=E-Mail-Programm
Name[el]=Πελάτης ηλ. αλληλογραφίας
Name[en_GB]=Email Client
Name[eo]=Retpoŝtilo
Name[es]=Cliente de correo electrónico
Name[et]=E-posti klient
Name[eu]=Posta-bezeroa
Name[fa]=کارخواه رایانامه
Name[fi]=Sähköpostiohjelma
Name[fr]=Client de courrier électronique
Name[fy]=Email Client
Name[ga]=Cliant Ríomhphoist
Name[gl]=Cliente de correo
Name[gu]=ઇમેલ ક્લાયન્ટ
Name[he]=לקוח דואר־אלקטרוני
Name[hi]=ईमेल डाकिया
Name[hr]=Klijent e-pošte
Name[hu]=Levelezőprogram
Name[ia]=Cliente de E-Posta
Name[id]=Klien Email
Name[is]=Póstforrit
Name[it]=Programma di posta
Name[ja]=メールクライアント
Name[kk]=Эл.пошта клиенті
Name[km]=កម្មវិធី​អ៊ីមែល 
Name[kn]=ವಿ-ಅಂಚೆ ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
Name[ko]=이메일 클라이언트
Name[lt]=El. pašto kliento programa
Name[lv]=E-pasta klients
Name[mai]=ईमेल डाकिया
Name[mk]=Клиент за е-пошта
Name[ml]=ഈമെയില്‍ ക്ലയന്റ്
Name[mr]=इमेल ग्राहक
Name[nb]=E-postprogram
Name[nds]=Nettpostprogramm
Name[nl]=E-mailprogramma
Name[nn]=E-postprogram
Name[pa]=ਈ-ਮੇਲ ਕਲਾਇਟ
Name[pl]=Program pocztowy
Name[pt]=Cliente de E-mail
Name[pt_BR]=Cliente de e-mail
Name[ro]=Client de poștă
Name[ru]=Почтовый клиент
Name[si]=තැපෑල් සහායක
Name[sk]=E-mailový klient
Name[sl]=Odjemalec e-pošte
Name[sr]=клијент е‑поште
Name[sr@ijekavian]=клијент е‑поште
Name[sr@ijekavianlatin]=klijent e‑pošte
Name[sr@latin]=klijent e‑pošte
Name[sv]=E-postklient
Name[tg]=Мизоҷи почта
Name[th]=โปรแกรมรับ/ส่งอีเมล
Name[tr]=E-posta İstemcisi
Name[ug]=ئېلخەت خېرىدارى
Name[uk]=Клієнт електронної пошти
Name[vi]=Trình khách thư điện tử
Name[wa]=Cliyint d' emilaedje
Name[x-test]=xxEmail Clientxx
Name[zh_CN]=电子邮件客户端程序
Name[zh_TW]=電子郵件用戶端程式
Comment=This service allows you to configure your default email client. All KDE applications which need access to an email client application should honor this setting.
Comment[af]=Hierdie diens laat jou toe om jou standaard e-pos kliënt op te stel. Al die KDE programme wat toegang tot 'n e-pos kliënt benodig behoort hierdie instelling te gebruik.
Comment[ar]=تسمح لك هذه الخدمة بضبط عميل البريد الإلكترونيّ الافتراضيّ. على كلّ تطبيقات كدي التي تحتاج إلى النّفاذ إلى تطبيق عميل بريد الإلكترونيّ احترام هذا الإعداد.
Comment[az]=Bu xidmət sizə standart e-poşt vasitəsini tənzimləməyə imkan verir. E-poçt xidmətinə ehtiyacı olan bütün KDE tətbiqləri bu vasitədən istifadə edəcək.
Comment[be]=Гэты сервіс дазваляе вызначыць для сябе стандартны кліент электроннай пошты. Усе праграмы KDE, у якіх вы можаце выбраць гіперспасылку, павінны выкарыстоўваць гэтае настаўленне.
Comment[be@latin]=Hetaja słužba dazvalaje vybrać sabie zmoŭčany paštar. Usie aplikacyi KDE, jakija karystajucca paštarom, pavinnyja źviartać uvahu na hetuju naładu.
Comment[bg]=Избор на предпочитана програма за поща. Всички програми от KDE, които се нуждаят от достъп до електронната поща, ще ползват този компонент.
Comment[bn]=এই সার্ভিসটির সাহায্যে আপনার ডিফল্ট ই-মেইল ক্লায়েন্ট কনফিগার করতে পারেন। যে কোনো কে.ডি.ই. অ্যাপলিকেশনের ই-মেইল ক্লায়েন্ট প্রয়োজন হলে এই নির্বাচন মানা উচিত।
Comment[bs]=Ovaj servis omogućava da podesite podrazumijevani klijent e‑pošte. Svi KDE programi koji traže pristup e‑pošti treba da poštuju ovu postavku.
Comment[ca]=Aquest servei permet configurar el vostre client de correu predeterminat. Totes les aplicacions KDE que requereixin accés a una aplicació de client de correu haurien de reconèixer aquesta opció.
Comment[ca@valencia]=Aquest servei vos permet configurar el vostre client de correu per omissió. Totes les aplicacions KDE que requerisquen accés a una aplicació de client de correu hauria de reconèixer aquesta opció.
Comment[cs]=Tato služba umožňuje nastavit si výchozího klienta emailu. Všechny KDE aplikace, které vyžadují přístup k e-mailové aplikaci, by měly používat toto nastavení.
Comment[csb]=Tuwò mòżne wëbrac domëslną pòcztową programã. Wszëtczé programë KDE, w jaczich brëkùje sã z lënkòw, mùszôłëbë ùżëwac tegò ùstôwù.
Comment[cy]=Mae'r gwasanaeth ymayn gadael i chi ffurfweddu eich dibynnydd ebost cyffredinol. Dylai bob raglen KDE sydd angen cyrchiad i ddibynnydd ebost ddefnyddio'r gosodiad yma.
Comment[da]=Denne service tillader dig at indstille din e-mail-klient. Alle KDE-programmer der behøver adgang til en e-mail-klient skulle respektere denne indstilling.
Comment[de]=Hier können Sie Ihr Standard-E-Mail-Programm einrichten. Alle KDE-Anwendungen, die Zugriff auf ein solches Programm benötigen, sollten diese Einstellungen verwenden.
Comment[el]=Αυτή η υπηρεσία σας επιτρέπει να διαμορφώσετε τον προκαθορισμένο πελάτη της αλληλογραφίας σας. Όλες οι εφαρμογές του KDE που χρειάζονται πρόσβαση σε μια εφαρμογή πελάτη αλληλογραφίας θα πρέπει να τηρούν αυτήν τη ρύθμιση.
Comment[en_GB]=This service allows you to configure your default email client. All KDE applications which need access to an email client application should honour this setting.
Comment[eo]=Ĉi tie vi povas agordi vian aprioran retpoŝtilon. Ĉiuj aplikaĵoj de KDE, kiuj necesas akiron al retpoŝtilo, observos ĉi tiun agordon.
Comment[es]=Este servicio le permite configurar su cliente de correo predeterminado. Todas las aplicaciones KDE que precisen acceso a una aplicación de cliente de correo deberían reconocer esta opción.
Comment[et]=See teenus võimaldab sul määrata kindlaks vaikimisi kasutatava e-posti kliendi. Kõik KDE rakendused, mis vajavad mingil moel e-posti klienti, peaksid arvestama selle seadega.
Comment[eu]=Zerbitzu honen bidez, posta elektronikoko bezero lehenetsia konfigura dezakezu. Posta elektronikoko bezeroa behar duten KDE aplikazio guztiek eduki beharko lukete ezarpen hau.
Comment[fa]=این خدمت به شما اجازه پیکربندی کارخواه رایانامه پیش‌فرضتان  را می‌دهد. همه کاربردهای KDE که نیاز به دستیابی به کاربردهای کارخواه رایانامه دارند، باید این تنظیم را قبول کنند.
Comment[fi]=Tämän palvelun avulla voit muokata oletussähköpostiohjelmaasi. Kaikki sähköpostiohjelmaa käyttävät KDE-sovellukset huomioivat tämän asetuksen.
Comment[fr]=Vous pouvez configurer votre client de courrier électronique par défaut ici. Toutes les applications KDE qui doivent accéder à un courrier électronique respecteront cette configuration.
Comment[fy]=Mei dizze tsjinst kinne jo de standert e-postprogramma ynstelle. KDE-tapassingen dy tagong ta in e-postprogramma neadich ha sille dizze ynstellings brûke.
Comment[ga]=Leis an tseirbhís seo is féidir cliant réamhshocraithe ríomhphoist a chumrú. Onóróidh gach feidhmchlár KDE a úsáideann cliant ríomhphoist an socrú seo.
Comment[gl]=Este servizo permítelle configurar o cliente de correo predeterminado. Todas as aplicacións de KDE que precisen acceso á aplicación de correo electrónico deberían ter en conta esta opción.
Comment[gu]=આ સેવા તમને તમારું મૂળભૂત ઇમેલ ક્લાયન્ટ રૂપરેખાંકિત કરવા દેશે. બધા KDE કાર્યક્રમો જે ઇમેલ ક્લાયન્ટ કાર્યક્રમનો ઉપયોગ કરતાં હોય તે આ ગોઠવણીને અનુસરશે.
Comment[he]=כאן ניתן להגדיר את לקוח הדואר־אלקטרוני שישמש כברירת־המחדל. כל יישומי KDE ישתמשו בלקוח זה כלקוח הדואר־אלקטרוני.
Comment[hi]=यह सेवा आपको आपके डिफ़ॉल्ट ईमेल क्लाएंट को कॉन्फ़िगर करने की स्वीकृति देती है. सभी केडीई अनुप्रयोग जो ईमेल क्लाएंट अनुप्रयोग एक्सेस करते हैं, वे इस विन्यास इस्तेमाल करेंगे.
Comment[hne]=ये सेवा आप मन ल आप मन के डिफाल्ट ईमेल क्लायंट ल कान्फिगर करे के स्वीकृति देथे. सब्बो केडीई अनुपरयोग जऊन ईमेल क्लायंट अनुपरयोग एक्सेस करथे , ओ मन एखर सेटिंग उपयोग करही.
Comment[hr]=Usluga koja omogućuje konfiguriranje zadanog klijenta e-pošte. Sve KDE-ove aplikacije koje zahtijevaju pristup klijentu e-pošte poštivat će ovaj odabir.
Comment[hsb]=Tuta słužba Wam dowoli swój standardny emejlowy program připrawić. Wšitke KDE-aplikacije, kotrež trjebaja emejlowy program, měli so po tutych nastajenjach měć.
Comment[hu]=Ez a szolgáltatás lehetővé teszi az alapértelmezett e-mail-kliens előírását. Az összes KDE-alkalmazásnak figyelembe kell vennie ezt az értéket a levelezőprogram elindításakor.
Comment[ia]=Iste servicio permitte te de configurar tu cliente de e-posta predefinite. Omne applicationes KDE que necessita un accesso a un application de e-posta debera honorar iste preferentia.
Comment[id]=Layanan ini memungkinkan anda untuk mengkonfigurasi klien email baku anda. Semua aplikasi KDE yang memerlukan akses ke aplikasi klien email akan mengikuti pengaturan ini.
Comment[is]=Þessi þjónusta leyfir þér að skilgreina sjálfgefið tölvupóstforrit. Öll KDE forrit sem þurfa aðgengi að tölvupóstforriti ættu að virða þessa stillingu.
Comment[it]=Questo servizio ti permette di configurare il programma di posta elettronica preferito. Tutte le applicazioni di KDE che avranno bisogno di accedere ad un programma di posta elettronica dovrebbero rispettare questa impostazione.
Comment[ja]=デフォルトで使用するメールクライアントを設定します。メールクライアントを必要とするすべての KDE アプリケーションは、この設定に従います。
Comment[ka]=აქ შეიძლება სტანდარტული საფოსტო კლიენტის დაკონფიგურირება. KDE-ს ყველა პროგრამა, ვისაც სჭირდება ფოსტა, გაითვალისწინებენ ამ პარამეტრს
Comment[kk]=Мұнда Сіз әдетті эл.пошта клиентін таңдай аласыз. Бүкіл KDE қолданбаларда эл.пошта керек болғанда осы таңдау қолданылады.
Comment[km]=សេវា​នេះ​អនុញ្ញាត​ឲ្យ​អ្នក​កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​អ៊ីមែល​លំនាំដើម​របស់​អ្នក ។ កម្មវិធី KDE ទាំង​អស់​ដែល​តម្រូវ​​ឲ្យ​ចូល​ដំណើរការ​ទៅ​កាន់​កម្មវិធី​អ៊ីមែល​គួរ​គោរព​តាម​ការ​កំណត់​នេះ ។
Comment[kn]=ಈ ಸೇವೆಯು ನಿನ್ನ ಪೂರ್ವನಿಯೋಜಿತ ವಿ-ಅಂಚೆ ಸೇವನಾರ್ಥಿಯನ್ನು (ಕ್ಲಯಂಟ್) ಸಂರಚಿಸಲು ಅನುವುಮಾಡಿಕೊಡುತ್ತದೆ. ವಿ-ಅಂಚೆ ಸೇವನಾರ್ಥಿಗೆ ಸಂಪರ್ಕ ಬೆಳೆಸಬೇಕಾದ ಎಲ್ಲಾ ಕೆಡಿಇ ಅನ್ವಯಗಳೂ ಈ ಸಂಯೋಜನೆಗಳನ್ನು ಗೌರವಿಸಬೇಕಾಗುತ್ತದೆ.
Comment[ko]=이 서비스에서는 기본 이메일 클라이언트를 설정할 수 있습니다. 이메일 클라이언트에 접근하는 모든 KDE 프로그램은 이 설정을 따릅니다.
Comment[ku]=Ev xizmet destûrê dide te ku navrûyê e-peyamê ya standard mîheng bikî. Hemû sepanên KDE'yê yên ku tu dikarî hyperlînkê hilbijêrî dê vê mîhengê erê bikin.
Comment[lt]=Ši tarnyba leidžia jums konfigūruoti savo numatytąją pašto kliento programą. Visos KDE programos, kurioms reikia prieigos prie el. pašto kliento programos, turėtų atsižvelgti į šią nuostatą.
Comment[lv]=Šeit varat konfigurēt noklusējuma e-pasta klientu. Visas KDE programmas, kurām ir nepieciešams e-pasts, izmantos šo parametru.
Comment[mai]=ई सेवा अहाँक अहाँक पूर्वनिर्धारित इमेल क्लाएंट केँ बिन्यस्त करबाक स्वीकृति देत अछि. सबहि केडीई अनुप्रयोग जे इमेल क्लाएंट अनुप्रयोग एक्सेस करैत अछि, ओ एहि सेटिंग इस्तेमाल करताह.
Comment[mk]=Овој сервис ви овозможува да го конфигурирате вашиот стандарден клиент за електронска пошта. Сите KDE-апликации на кои им е потребен пристап до електронска пошта ќе ги почитуваат овие поставувања.
Comment[ml]=നിങ്ങളുടെ സഹജമായ ഇമെയില്‍ ക്ലയന്റ് നിങ്ങള്‍ക്കിവിടെ ക്രമീകരിയ്ക്കാം. ഇമെയില്‍ ക്ലയന്റ് ഉപയോഗിയ്ക്കാന്‍ ആവശ്യമുള്ള എല്ലാ കെഡിഇ പ്രയോഗങ്ങളും ഇതു് മാനിയ്ക്കണം.
Comment[mr]=ही सेवा आपल्याला मूलभूत इमेल ग्राहक संयोजीत करण्यास सहमती सहमती देते. सर्व केडीई अनुप्रयोग ज्यांस इमेल ग्राहक अनुप्रयोग करिता प्रवेशाची आवश्यकता असते त्यांनी ही संयोजना स्वीकारली पाहिजे.
Comment[ms]=Servis ini membolehkan anda konfigur klien e-mel piawai anda. Semua aplikasi KDE yang perlu akses kepada aplikasi klien e-mel hendaklah menerima seting ini.
Comment[nb]=Med denne tjenesten kan du sette opp standard-e-postprogrammet. Alle KDE-programmer som trenger tilgang til e-post bør ta hensyn til denne innstillinga.
Comment[nds]=Hier kannst Du Dien Standard-Nettpostprogramm angeven. Disse Instelle warrt vun all KDE-Programmen bruukt, de Togang to'n Nettpostprogramm bruukt.
Comment[ne]=यो सेवाले तपाईँलाई पूर्वनिर्धारित इमेल क्लाइन्ट कन्फिगर गर्न अनुमति दिन्छ । इमेल क्लाइन्ट अनुप्रयोग पहुँच आवश्यक पर्ने सबै केडीई अनुप्रयोगहरूले यो सेटिङ मान्नु पर्छ ।
Comment[nl]=Met deze service kunt u uw standaard e-mailprogramma instellen. KDE-toepassingen die toegang tot een e-mailprogramma nodig hebben zullen deze instellingen gebruiken.
Comment[nn]=Her kan du velja standard e-postprogram. Alle KDE-program som treng tilgang til e-post vil bruka dette e-postprogrammet.
Comment[pa]=ਇਥੇ ਤੁਸੀਂ ਆਪਣੇ ਡਿਫਾਲਟ ਈ-ਮੇਲ ਕਲਾਇਟ ਦੀ ਸੰਰਚਨਾ ਕਰ ਸਕਦੇ ਹੋ। ਸਭ KDE ਕਾਰਜ, ਜਿਨਾਂ ਨੇ ਵੀ ਈ-ਮੇਲ ਕਲਾਇਟ ਵਰਤਣਾ ਹੈ, ਇਸ ਸੈਟਿੰਗ ਦਾ ਸਨਮਾਨ ਕਰਨਗੇ।
Comment[pl]=Jest to miejsce wybrania domyślnego programu pocztowego. Aplikacje KDE, które będą chciały wywołać program pocztowy, będą wywoływać ten ustawiony tutaj.
Comment[pt]=Este serviço permite-lhe configurar o seu cliente de e-mail por omissão.  Todas as aplicações do KDE que necessitem do acesso a um cliente de e-mail devem respeitar esta configuração.
Comment[pt_BR]=Este serviço permite-lhe configurar o seu cliente de e-mail padrão. Todos os aplicativos do KDE que precisarem acessar um cliente de e-mail devem seguir esta configuração.
Comment[ro]=Acest serviciu vă permite să configurați clientul de email implicit. Toate aplicațiile KDE care au nevoie de o aplicație client de email ar trebui să onoreze această setare.
Comment[ru]=Здесь можно указать почтовый клиент по умолчанию. Все приложения KDE, которым нужен почтовый клиент, будут использовать указанную программу.
Comment[si]=මෙම සේවාව ඔබේ පෙරනිමි තැපැල් සහායක සැකසීමට ඉඩ දේ. තැපැල් වැඩසටහනකට පිවිසිම ඇවැසි සියළු KDE භාවිතයෙදවුම් මෙම සැකසුම් පිළිගත යුතුය.
Comment[sk]=Táto služba umožňuje nastaviť štandardného klienta elektronickej pošty. Všetky aplikácie KDE, ktoré používajú poštového klienta, by mali používať toto nastavenie.
Comment[sl]=Ta storitev vam omogoča nastavitev vašega privzetega odjemalca e-pošte. Vsi KDE programi, ki ga uporabljajo, bi morali upoštevati te nastavitve.
Comment[sr]=Овај сервис омогућава да подесите подразумевани клијент е‑поште. Сви КДЕ програми који траже приступ е‑пошти треба да поштују ову поставку.
Comment[sr@ijekavian]=Овај сервис омогућава да подесите подразумијевани клијент е‑поште. Сви КДЕ програми који траже приступ е‑пошти треба да поштују ову поставку.
Comment[sr@ijekavianlatin]=Ovaj servis omogućava da podesite podrazumijevani klijent e‑pošte. Svi KDE programi koji traže pristup e‑pošti treba da poštuju ovu postavku.
Comment[sr@latin]=Ovaj servis omogućava da podesite podrazumevani klijent e‑pošte. Svi KDE programi koji traže pristup e‑pošti treba da poštuju ovu postavku.
Comment[sv]=Den här tjänsten låter dig anpassa förvald e-postklient. Alla KDE-program som behöver använda e-postklient ska använda den här inställningen
Comment[ta]=இந்த சேவை உங்களுடைய முன்னிருந்த மின் அஞ்சல் உறுப்பினரை வடிவமைத்துக் கொள்ள அனுமதிக்கிறது. மின் அஞ்சல் உறுப்பினர் பயன்பாடு தேவைப்படுகிற எல்லா கேடிஇ பயன்பாடுகளும் இந்த அமைப்பை நிறுவவேண்டும்.
Comment[te]=మీ అప్రమేయ ఈమెయిల్ క్లైంట్‌ను ఆకృతీకరించుటకు ఈ సేవ అనుమతిస్తుంది. ఈమెయిల్ క్లైంట్ అనువర్తనం అవసరంవున్న ఏ KDE అనువర్తనాలైనా ఈ అమర్పును సమ్మతిస్తాయి.
Comment[th]=บริการนี้จะอนุญาตให้คุณตั้งโปรแกรมรับส่งอีเมลปริยายของคุณ โปรแกรมของ KDE ทุกตัวซึ่งจำเป็นต้องใช้งานโปรแกรมรับส่งอีเมล จะทำตามค่าที่ตั้งนี้
Comment[tr]=Bu servis öntanımlı e-posta istemcinizi seçmenize yardımcı olur.
Comment[ug]=بۇ مۇلازىمەت كۆڭۈلدىكى ئېلخەت خېرىدار پروگراممىڭىزنى سەپلىشىڭىزگە يول قويىدۇ. ئېلخەت خېرىدار پروگراممىسىنى زىيارەت قىلماقچى بولغان ھەممە KDE پروگراممىسى بۇ تەڭشەككە بويسۇنىدۇ.
Comment[uk]=За допомогою цієї служби ви можете налаштувати ваш типовий клієнт електронної пошти. Всі програми KDE, яким потрібен доступ до клієнта електронної пошти будуть користуватися цими параметрами.
Comment[uz]=Bu xizmat andoza xat-xabar klientingizni moslash uchun imkoniyat yaratadi. Xat-xabar klienti kerak boʻlgan hamma KDE dasturlari shu moslamadan foydalanishi kerak.
Comment[uz@cyrillic]=Бу хизмат андоза хат-хабар клиентингизни мослаш учун имконият яратади. Хат-хабар клиенти керак бўлган ҳамма KDE дастурлари шу мосламадан фойдаланиши керак.
Comment[vi]=Dịch vụ này cho phép bạn cấu hình trình thư mặc định. Tất cả các chương trình của KDE cần gửi thư điện tử đều dựa vào thiết lập này.
Comment[wa]=Ci siervice vos permete d' apontyî vosse prémetou cliyint d' emile. Tos les programes KDE k' åront dandjî d' aveur accès a on cliyint emile duvrént shure cisse tchuze.
Comment[xh]=Lenkonzo ikuvumela ukuba uqwalasele umxhasi wakho we email. Zonke izicelo ezidinga unikezelo kumxhasi we email wesicelo kufuneka yamkele esisicelo.
Comment[x-test]=xxThis service allows you to configure your default email client. All KDE applications which need access to an email client application should honor this setting.xx
Comment[zh_CN]=此服务允许您配置您的默认电子邮件客户端程序。所有需要访问电子邮件客户端程序的 KDE 应用程序都遵从此设置。
Comment[zh_TW]=這個服務允許您設定您的預設電子郵件用戶端程式。所有需要使用電子郵件用戶端應用程式的 KDE 應用程式都應該遵從這個設定。
configurationType=internal_email
