Icon=internet-mail

# ctxt: standard desktop component
Name=Email Client
Comment=This service allows you to configure your default email client. All KDE applications which need access to an email client application should honor this setting.
configurationType=internal_email
