Icon=utilities-terminal

# ctxt: standard desktop component
Name=Terminal Emulator
Name[ar]=محاكي الطّرفيّة
Name[ast]=Emulador de terminal
Name[az]=Terminal Emulyatoru
Name[bg]=Конзолна програма
Name[bn]=টার্মিনাল এমুলেটর
Name[bs]=Emulator terminala
Name[ca]=Emulador de terminal
Name[ca@valencia]=Emulador de terminal
Name[cs]=Emulátor terminálu
Name[csb]=Emùlator terminala
Name[da]=Terminalemulator
Name[de]=Terminal-Emulator
Name[el]=Προσομοιωτής τερματικού
Name[en_GB]=Terminal Emulator
Name[eo]=Terminalo
Name[es]=Emulador de terminal
Name[et]=Terminaliemulaator
Name[eu]=Terminal-emuladorea
Name[fa]=مقلد پایانه
Name[fi]=Pääte-emulaattori
Name[fr]=Émulateur de terminal
Name[fy]=Terminal emulator
Name[ga]=Aithriseoir Teirminéil
Name[gl]=Emulador de terminal
Name[gu]=ટર્મિનલ ઇમ્યુલેટર
Name[he]=מדמה מסוף
Name[hi]=टर्मिनल एमुलेटर
Name[hr]=Emulator terminala
Name[hu]=Terminál
Name[ia]=Emulator de Terminal
Name[id]=Emulator Terminal
Name[is]=Skjáhermir
Name[it]=Emulatore di terminale
Name[ja]=ターミナルエミュレータ
Name[kk]=Терминал эмуляторы
Name[km]=កម្មវិធី​​ត្រាប់​តាម​ស្ថានីយ 
Name[kn]=ಆದೇಶತೆರೆ ಅನುವರ್ತಕ (ಎಮುಲೇಟರ್)
Name[ko]=터미널 에뮬레이터
Name[lt]=Terminalo emuliatorius
Name[lv]=Termināla emulators
Name[mai]=टर्मिनल एमुलेटर
Name[mk]=Терминалски емулатор
Name[ml]=ടെര്‍മിനല്‍ എമുലേറ്റര്‍
Name[mr]=टर्मिनल एम्युलेटर
Name[nb]=Terminalemulator
Name[nds]=Terminal-Emulater
Name[nl]=Terminalprogramma
Name[nn]=Terminalemulator
Name[pa]=ਟਰਮੀਨਲ ਸਮਰੂਪ
Name[pl]=Emulator terminala
Name[pt]=Emulador de Terminal
Name[pt_BR]=Emulador de terminal
Name[ro]=Emulator de terminal
Name[ru]=Эмулятор терминала
Name[si]=අග්‍ර එමියුලේටර
Name[sk]=Emulátor terminálu
Name[sl]=Posnemovalnik terminala
Name[sr]=емулатор терминала
Name[sr@ijekavian]=емулатор терминала
Name[sr@ijekavianlatin]=emulator terminala
Name[sr@latin]=emulator terminala
Name[sv]=Terminalemulator
Name[tg]=Тақлидгари терминал
Name[th]=โปรแกรมจำลองเทอร์มินัล
Name[tr]=Uçbirim Öykünücü
Name[ug]=تېرمىنال تەقلىدلەشتۈرگۈچ
Name[uk]=Емулятор термінала
Name[vi]=Trình mô phỏng thiết bị cuối
Name[wa]=Terminå
Name[x-test]=xxTerminal Emulatorxx
Name[zh_CN]=终端仿真器
Name[zh_TW]=終端機模擬程式
Comment=This service allows you to configure your default terminal emulator. All KDE applications which invoke a terminal emulator application should honor this setting.
Comment[af]=Hierdie diens laat jou toe om jou standaard terminaal emuleerder op te stel. Al die KDE programme wat 'n terminaal skep behoort hierdie instelling te gebruik.
Comment[ar]=تسمح لك هذه الخدمة بضبط محاكي الطّرفيّة الافتراضيّ. على كلّ تطبيقات كدي التي تطلق تطبيق محاكي الطّرفيّة احترام هذا الإعداد.
Comment[az]=Bu sizin standart terminal emulyatorunu tənzimləməyə imkan verir. Terminal emulyatorunu çağıran bütün KDE tətbiqləri bu tətbiqdən istifadə edəcək.
Comment[be]=Гэты сервіс дазваляе вызначыць для сябе стандартны эмулятар тэрміналу. Усе праграмы KDE, якія запускаюць эмулятар тэрміналу, павінны выкарыстоўваць гэтае настаўленне.
Comment[be@latin]=Hetaja słužba dazvalaje vybrać sabie zmoŭčany emulatar terminała. Usie aplikacyi KDE, jakija ŭklučajuć emulatar terminała, pavinnyja źviartać uvahu na hetuju naładu.
Comment[bg]=Избор на предпочитана конзолна програма. Всички програми от KDE, които се нуждаят от достъп до конзолата, ще ползват този компонент.
Comment[bn]=এই সার্ভিসটির সাহায্যে আপনার ডিফল্ট টার্মিনাল এমুলেটর কনফিগার করতে পারেন। যে কোনো কে.ডি.ই. অ্যাপলিকেশনের টার্মিনাল এমুলেটর চালানোর প্রয়োজন হলে এই নির্বাচন মানা উচিত।
Comment[bs]=Ovaj servis omogućava da podesite podrazumijevani emulator terminala. Svi KDE programi koji pozivaju terminal treba da poštuju ovu postavku.
Comment[ca]=Aquest servei permet configurar el vostre emulador de terminal predeterminat. Totes les aplicacions KDE que requereixin accés a una aplicació de client de correu haurien de reconèixer aquesta opció.
Comment[ca@valencia]=Aquest servei vos permet configurar el vostre emulador de terminal per omissió. Totes les aplicacions KDE que requerisquen accés a una aplicació de client de correu hauria de reconèixer aquesta opció.
Comment[cs]=Tato služba umožňuje nastavit si výchozího emulátor terminálu. Všechny KDE aplikace, které spouští emulátor terminálu, by měly používat toto nastavení.
Comment[csb]=Tuwò mòżne wëbrac domëslny emùlator terminala. Wszëtczé programë KDE, w jaczich brëkùje sã z lënkòw, mùszôłëbë ùżëwac tegò ùstôwù.
Comment[cy]=Mae'r gwasanaeth yma yn gadael i chi ffurfweddu eich efelychydd terfynell cyffredinol. Dylai pob rhaglen KDE sy'n cychwyn efelychydd terfynell ddefnyddio'r gosodiad yma.
Comment[da]=Denne service tillader dig at indstille din terminalemulator. Alle KDE-programmer der behøver adgang til en terminalemulator skulle respektere denne indstilling.
Comment[de]=Hier können Sie den voreingestellten Terminal-Emulator einrichten. Alle KDE-Anwendungen, die Zugriff auf ein solches Programm benötigen, sollten diese Einstellungen verwenden.
Comment[el]=Αυτή η υπηρεσία σας επιτρέπει να διαμορφώσετε τον προκαθορισμένο προσομοιωτή τερματικού σας. Όλες οι εφαρμογές του KDE που καλούν μια εφαρμογή προσομοιωτή τερματικού θα πρέπει να τηρούν αυτήν τη ρύθμιση.
Comment[en_GB]=This service allows you to configure your default terminal emulator. All KDE applications which invoke a terminal emulator application should honour this setting.
Comment[eo]=Ĉi tiu servo permesas vin agordi vian aprioran terminalon. Ĉiuj aplikaĵoj de KDE, kiuj alvokas terminalon, observos ĉi tiun agordon.
Comment[es]=Este servicio le permite configurar su emulador de terminal predeterminado. Todas las aplicaciones KDE que invoquen un emulador de terminal deberían reconocer esta opción.
Comment[et]=See teenus võimaldab sul määrata kindlaks vaikimisi kasutatava terminaliemulaatori. Kõik KDE rakendused, mis vajavad mingil moel terminaliemulaatorit, peaksid arvestama selle seadega.
Comment[eu]=Zerbitzu honen bidez, terminal-emuladore lehenetsia konfigura dezakezu. Terminal-emuladore bati deitu behar dioten KDE aplikazio guztiek eduki beharko lukete ezarpen hau.
Comment[fa]=این خدمت به شما اجازه پیکربندی مقلد پایانه پیش‌فرضتان را می‌دهد. همه کاربردهای KDE که نیاز به دستیابی به کاربردهای کارخواه رایانامه دارند، باید این تنظیم را قبول کنند.
Comment[fi]=Tämän palvelun avulla voit muokata oletuspääte-emulaattoria. Kaikki pääte-emulaattoria käyttävät KDE-sovellukset huomioivat tämän asetuksen.
Comment[fr]=Vous pouvez configurer votre émulateur de terminal par défaut ici. Toutes les applications KDE qui peuvent invoquer un émulateur de terminal respecteront cette configuration.
Comment[fy]=Mei dizze tsjinst kinne jo de standert terminalemulator ynstelle. Alle KDE-tapassingen dy in terminalemulator oanroppe sille brûk meitsje fan dizze ynstelling.
Comment[ga]=Leis an tseirbhís seo is féidir aithriseoir réamhshocraithe teirminéil a chumrú. Onóróidh gach feidhmchlár KDE a úsáideann aithriseoir teirminéil an socrú seo.
Comment[gl]=Este servizo permítelle configurar o emulador de terminal predeterminado. Todas as aplicacións de KDE que invoquen un emulador de terminal deberían facer caso desta opción.
Comment[gu]=આ સેવા તમને તમારું મૂળભૂત ટર્મિનલ ઇમ્યુલેટર રૂપરેખાંકિત કરવા દેશે. બધા KDE કાર્યક્રમો જે ટર્મિનલ ઇમ્યુલેટર કાર્યક્રમનો ઉપયોગ કરતાં હોય તે આ ગોઠવણીને અનુસરશે.
Comment[he]=כאן ניתן להגדיר את מדמה המסוף שישמש כברירת־המחדל. כל יישומי KDE ישתמשו במדמה מסוף זה כמדמה המסוף.
Comment[hi]=यह सेवा आपको आपके डिफ़ॉल्ट टर्मिनल एमुलेटर को कॉन्फ़िगर करने की स्वीकृति देती है. सभी केडीई अनुप्रयोग जो टर्मिनल एमुलेटर अनुप्रयोग चालू करते हैं, वे इस विन्यास इस्तेमाल करेंगे.
Comment[hne]=ये सेवा आप मन ल आप मन के डिफाल्ट टर्मिनल एमुलेटर ल कान्फिगर करे के स्वीकृति देथे . सब्बो केडीई अनुपरयोग जऊन टर्मिनल एमुलेटर अनुपरयोग चालू करथे, ओ मन एखर सेटिंग उपयोग करही.
Comment[hr]=Usluga koja omogućuje konfiguriranje zadanog emulatora terminala. Sve KDE-ove aplikacije koje pozivaju aplikaciju emulatora terminala poštivat će ovaj odabir.
Comment[hsb]=Tuta słužba Wam dowoli swój standardny terminalowy program připrawić. Wšitke KDE-aplikacije, kotrež trjebaja terminalowy program, měli so po tutych nastajenjach měć.
Comment[hu]=Ez a szolgáltatás lehetővé teszi az alapértelmezett parancsértelmező előírását. Az összes KDE-alkalmazásnak figyelembe kell vennie ezt az értéket a parancsértelmező elindításakor.
Comment[ia]=Iste servicio permitte te de configurar tu emulator de terminal predefinite. Omne applicationes KDE que invoca un application de emulator de terminal honora iste preferentia.
Comment[id]=Layanan ini memungkinkan anda untuk mengkonfigurasi emulator terminal baku anda. Semua aplikasi KDE yang menyebutkan aplikasi emulator terminal akan mengikuti pengaturan ini.
Comment[is]=Þessi þjónusta leyfir þér að skilgreina sjálfgefinn skjáhermi. Öll KDE forrit sem þurfa aðgengi að skjáhermi ættu að virða þessa stillingu.
Comment[it]=Questo servizio ti permette di configurare il programma di emulazione di terminale predefinito. Tutte le applicazioni di KDE che invocano un terminale dovrebbero rispettare questa impostazione.
Comment[ja]=デフォルトで使用するターミナルエミュレータを設定します。ターミナルエミュレータを起動するすべての KDE アプリケーションは、この設定に従います。
Comment[ka]=Comment=აქ შეიძლება სტანდარტული ტერმინალის ემულატორის დაკონფიგურირება. KDE-ს ყველა პროგრამა, ვისაც სჭირდება ფოსტა, გაითვალისწინებენ ამ პარამეტრს
Comment[kk]=Мұнда Сіз әдетті терминал эмуляторын таңдай аласыз. Бүкіл KDE қолданбаларда терминал эмуляторы керек болғанда осы таңдау қолданылады.
Comment[km]=សេវា​នេះ​អនុញ្ញាត​ឲ្យ​អ្នក​កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ត្រាប់តាម​ស្ថានីយ​លំនាំដើម​របស់​អ្នក ។ កម្មវិធី KDE ទាំង​អស់​ដែល​ហៅ​កម្មវិធី​ត្រាប់​តាម​ស្ថានីយ​គួរ​គោរព​តាម​ការ​កំណត់​នេះ ។
Comment[kn]=ಈ ಸೇವೆಯು ನಿನ್ನ ಪೂರ್ವನಿಯೋಜಿತ  ಆದೇಶತೆರೆ ಅನುವರ್ತಕವನ್ನು (ಎಮುಲೇಟರ್) ಸಂರಚಿಸಲು ಅನುವುಮಾಡಿಕೊಡುತ್ತದೆ. ಆದೇಶತೆರೆ ಅನುವರ್ತಕವನ್ನು  ಕೋರುವ ಎಲ್ಲಾ ಕೆಡಿಇ ಅನ್ವಯಗಳೂ ಈ ಸಂಯೋಜನೆಗಳನ್ನು ಗೌರವಿಸಬೇಕಾಗುತ್ತದೆ.
Comment[ko]=이 서비스에서는 기본 터미널 에뮬레이터를 설정할 수 있습니다. 터미널 에뮬레이터를 호출하는 모든 KDE 프로그램은 이 설정을 따릅니다.
Comment[ku]=Ev xizmet destûrê dide te ku amulatora termînalê ya standard mîheng bikî. Hemû sepanên KDE'yê yên ku tu dikarî hyperlînkê hilbijêrî dê vê mîhengê erê bikin.
Comment[lt]=Ši tarnyba leidžia jums konfigūruoti savo numatytąjį terminalo emuliatorių. Visos KDE programos, kurios iškviečia terminalo emuliatoriaus programą, turėtų atsižvelgti į šią nuostatą.
Comment[lv]=Šis serviss jums ļauj iestatīt noklusēto termināla emulatoru. Visas KDE programmas, kurām vajag termināla emulatoru, izmantos šo parametru.
Comment[mai]=ई सेवा अहाँक अहाँक पूर्वनिर्धारित टर्मिनल एमुलेटर केँ बिन्यस्त करबाक स्वीकृति देत अछि. सबहि केडीई अनुप्रयोग जे टर्मिनल एमुलेटर अनुप्रयोग चालू करैत अछि, ओ एहि सेटिंग इस्तेमाल करताह.
Comment[mk]=Овој сервис ви овозможува да го конфигурирате вашиот стандарден терминалски емулатор. Сите KDE-апликации кои стартуваат апликација во терминалски емулатор ќе ги почитуваат овие поставувања.
Comment[ml]=നിങ്ങളുടെ സഹജമായ ടെര്‍മിനലിന്റെ അനുകരണം നിങ്ങള്‍ക്കിവിടെ ക്രമീകരിയ്ക്കാം. ടെര്‍മിനലിന്റെ അനുകരണം തുടങ്ങാന്‍ ആവശ്യമുള്ള എല്ലാ കെഡിഇ പ്രയോഗങ്ങളും ഇതു് മാനിയ്ക്കണം.
Comment[mr]=ही सेवा तुम्हाला मूलभूत टर्मिनल एमुलेटर संयोजीत करण्यास अनुमती देते. सर्व केडीई अनुप्रयोग जे टर्मिनल एमुलेटर अनुप्रयोग चालू करतात, त्यांनी ही संयोजना स्वीकारली पाहिजे.
Comment[ms]=Servis ini membolehkan anda konfigur pelagak terminal piawai. Semua aplikasi KDE yang membatalkan aplikasi pelagak terminal hendaklah menerima seting ini.
Comment[nb]=Med denne tjenesten kan du velge hvilken terminalemulator du foretrekker. Alle KDE-program som starter en terminalemulator bør ta hensyn til disse innstillingene.
Comment[nds]=Hier kannst Du Dien Standard-Terminalemulator angeven. Disse Instellen warrt vun all KDE-Programmen bruukt, de en Terminalemulator starten wüllt.
Comment[ne]=यो सेवाले तपाईँलाई पूर्वनिर्धारित टर्मिनल इमुलेटर कन्फिगर गर्न अनुमति दिन्छ । टर्मिनल इमुलेटर आव्हान गर्ने सबै केडीई अनुप्रयोगहरूले यो सेटिङ मान्नु पर्छ ।
Comment[nl]=Met deze service kunt u uw standaard terminalemulator instellen. Alle KDE-toepassingen die een terminalemulator aanroepen zullen gebruik maken van deze instelling.
Comment[nn]=Her kan du velja standard terminalemulator. Alle KDE-program som startar terminalemulatorar vil bruka denne emulatoren.
Comment[pa]=ਇਥੇ ਤੁਸੀਂ ਆਪਣੇ ਡਿਫਾਲਟ ਟਰਮੀਨਲ ਦੀ ਸੰਰਚਨਾ ਕਰ ਸਕਦੇ ਹੋ। ਸਭ KDE ਕਾਰਜ, ਜਿਨਾਂ ਵਿੱਚ ਵੀ ਟਰਮੀਨਲ ਲੋੜੀਦਾ ਹੈ, ਇਸ ਸੈਟਿੰਗ ਦਾ ਸਨਮਾਨ ਕਰਨਗੇ।
Comment[pl]=Jest to miejsce wybrania domyślnego emulatora terminala. Aplikacje KDE, które będą chciały wywołać terminal, będą wywoływać ten ustawiony tutaj.
Comment[pt]=Este serviço permite-lhe configurar o seu emulador de terminal por omissão. Todas as aplicações do KDE que invoquem um emulador de terminal devem respeitar esta configuração.
Comment[pt_BR]=Este serviço permite-lhe configurar o seu emulador de terminal padrão. Todos os aplicativos do KDE que precisarem acessar um emulador de terminal devem seguir esta configuração.
Comment[ro]=Acest serviciu vă permite să configurați emulatorul de terminal implicit. Toate aplicațiile de KDE care invocă un emulator de terminal ar trebuie să onoreze această setare.
Comment[ru]=Эта служба позволяет вам указать эмулятор терминала по умолчанию. Все приложения KDE, которые вызывают эмулятор терминала, будут использовать указанную программу.
Comment[si]=මෙම සේවාව ඔබට ඔබේ පෙරනිමි අග්‍ර අනුකාරකය සැකසීමට ඉඩදේ. අග්‍ර අනුකාරක භාවිත කරන සියළු KDE යෙදුම් මෙයට යටත්විය යුතුය.
Comment[sk]=Táto služba umožňuje nastaviť štandardný emulátor terminálu. Všetky aplikácie KDE, ktoré používajú emulátor terminálu, by mali používať toto nastavenie.
Comment[sl]=Ta storitev vam omogoča nastavitev vašega privzetega posnemovalnika terminala. Vsi KDE programi, ki ga uporabljajo, bi morali upoštevati te nastavitve.
Comment[sr]=Овај сервис омогућава да подесите подразумевани емулатор терминала. Сви КДЕ програми који позивају терминал треба да поштују ову поставку.
Comment[sr@ijekavian]=Овај сервис омогућава да подесите подразумијевани емулатор терминала. Сви КДЕ програми који позивају терминал треба да поштују ову поставку.
Comment[sr@ijekavianlatin]=Ovaj servis omogućava da podesite podrazumijevani emulator terminala. Svi KDE programi koji pozivaju terminal treba da poštuju ovu postavku.
Comment[sr@latin]=Ovaj servis omogućava da podesite podrazumevani emulator terminala. Svi KDE programi koji pozivaju terminal treba da poštuju ovu postavku.
Comment[sv]=Den här tjänsten låter dig anpassa din förvalda terminalemulator. Alla KDE-program som startar ett terminalprogram ska använda den här inställningen
Comment[ta]=இந்த சேவை உங்களுடைய முன்னிருந்த கடைசி போட்டியாளர வடிவமைத்துக் கொள்ள அனுமதிக்கிறது. கடைசி போட்டியாளர் பயன்பாடு தேவைப்படுகிற எல்லா கேடிஇ பயன்பாடுகளும் இந்த அமைப்பை நிறுவவேண்டும்.
Comment[te]=మీ అప్రమేయ టెర్మినల్ ఎమ్యులేటర్‌ను ఆకృతీకరించుటకు ఈ సేవ అనుమతిస్తుంది. టెర్మినల్ ఎమ్యులేటర్‌ అప్లికేషన్‌ను ప్రేరేపించే ఏ KDE అనువర్తనాలైనా ఈ అమర్పును సమ్మతిస్తాయి.
Comment[th]=บริการนี้จะอนุญาตให้คุณปรับแต่งโปรแกรมจำลองเทอร์มินัลของคุณ โปรแกรมของ KDE ทุกตัวที่เรียกใช้งานโปรแกรมจำลองเทอร์มินัล จะทำตามค่าที่ตั้งนี้
Comment[tr]=Bu servis öntanımlı uçbirim uygulamasını seçmenize yardımcı olur.
Comment[ug]=بۇ مۇلازىمەت كۆڭۈلدىكى تېرمىنال تەقلىدلەشتۈرگۈچ پروگراممىڭىزنى سەپلىشىڭىزگە يول قويىدۇ. تېرمىنال تەقلىدلەشتۈرگۈچنى زىيارەت قىلماقچى بولغان ھەممە KDE پروگراممىسى بۇ تەڭشەككە بويسۇنىدۇ.
Comment[uk]=За допомогою цієї служби ви можете налаштувати ваш типовий емулятор термінала. Всі програми KDE, яким потрібен доступ до емулятора термінала будуть користуватися цими параметрами.
Comment[uz]=Bu xizmat andoza terminal emulyatoringizni moslash uchun imkoniyat yaratadi. Terminal emulyatori kerak boʻlgan hamma KDE dasturlari shu moslamadan foydalanishi kerak.
Comment[uz@cyrillic]=Бу хизмат андоза терминал эмуляторингизни мослаш учун имконият яратади. Терминал эмулятори керак бўлган ҳамма KDE дастурлари шу мосламадан фойдаланиши керак.
Comment[vi]=Dịch vụ này cho phép bạn cấu hình trình mô phỏng thiết bị cuối mặc định. Tất cả các chương trình của KDE cần mở thiết bị đầu cuối đều dựa vào thiết lập này.
Comment[wa]=Ci siervice vos permete d' apontyî vosse prémetou terminå. Tos les programes KDE ki dmandront on terminå duvrént shure cisse tchuze.
Comment[xh]=Lenkonzo ikuvumela ukuba ukwazi ukuqwalasela isiphelo esingagqibekanga sendlela yokulinganisa.Zonke izicelo ze KDE eziqalisa isicelo sesiphelo sendlela yokulinganisa kumele zisamkele esisicwangciso.
Comment[x-test]=xxThis service allows you to configure your default terminal emulator. All KDE applications which invoke a terminal emulator application should honor this setting.xx
Comment[zh_CN]=此服务允许您配置您的默认终端仿真器。所有调用终端仿真程序的 KDE 应用程序都遵从此设置。
Comment[zh_TW]=這個服務允許您設定您的預設終端機模擬程式。所有呼叫終端機模擬程式的 KDE 應用程式都應該遵從這個設定。
configurationType=internal_terminal
