[Desktop Entry]
Name=Shortcuts
Name[az]=Qısayollar
Name[ca]=Dreceres
Name[de]=Kurzbefehle
Name[es]=Accesos rápidos
Name[eu]=Lasterbideak
Name[fr]=Raccourcis
Name[it]=Scorciatoie
Name[nl]=Sneltoetsen
Name[pt]=Atalhos
Name[pt_BR]=Atalhos
Name[sv]=Genvägar
Name[uk]=Скорочення
Name[x-test]=xxShortcutsxx

Comment=Configure Keyboard Shortcuts
Comment[az]=Klaviatura qısayollarını tənzimləmək
Comment[ca]=Configura les dreceres de teclat
Comment[de]=Tastatur-Kurzbefehle einrichten
Comment[es]=Configurar los accesos rápidos de teclado
Comment[eu]=Konfiguratu teklatuko lasterbideak
Comment[fr]=Configurer les raccourcis de clavier
Comment[it]=Configura le scorciatoie della tastiera
Comment[nl]=Sneltoetsen configureren
Comment[pt]=Configurar os Atalhos do Teclado
Comment[pt_BR]=Configurar atalhos do teclado
Comment[sv]=Anpassa snabbtangenter
Comment[uk]=Налаштовування клавіатурних скорочень
Comment[x-test]=xxConfigure Keyboard Shortcutsxx

Icon=preferences-desktop-keyboard-shortcut
Type=Service
X-KDE-PluginInfo-Author=David Redondo
X-KDE-PluginInfo-Email=kde@david-redondo.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_keys
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
