[Desktop Entry]
Name=Global Shortcuts
Name[ast]=Atayos globales
Name[ca]=Dreceres globals
Name[ca@valencia]=Dreceres globals
Name[cs]=Globální zkratky
Name[da]=Globale genveje
Name[de]=Globale Kurzbefehle
Name[el]=Καθολικές συντομεύσεις πληκτρολογίου
Name[en_GB]=Global Shortcuts
Name[es]=Accesos rápidos de teclado globales
Name[et]=Globaalsed kiirklahvid
Name[eu]=Lasterbide orokorrak
Name[fi]=Työpöydänlaajuiset pikanäppäimet
Name[fr]=Raccourcis globaux
Name[gl]=Atallos globais
Name[he]=קיצורי מקשים גלובליים
Name[hu]=Globális billentyűparancsok
Name[ia]=Vias breve Global 
Name[id]=Pintasan Global
Name[it]=Scorciatoie globali
Name[ja]=グローバルショートカット
Name[ko]=전역 단축키
Name[lt]=Visuotiniai spartieji klavišai
Name[nb]=Globale snarveier
Name[nl]=Globale sneltoetsen
Name[nn]=Globale snøggtastar
Name[pa]=ਗਲੋਬਲ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty globalne
Name[pt]=Atalhos Globais
Name[pt_BR]=Atalhos globais
Name[ru]=Глобальные комбинации клавиш
Name[sk]=Globálne skratky
Name[sl]=Splošne bližnjice
Name[sr]=Глобалне пречице
Name[sr@ijekavian]=Глобалне пречице
Name[sr@ijekavianlatin]=Globalne prečice
Name[sr@latin]=Globalne prečice
Name[sv]=Globala genvägar
Name[tr]=Genel Kısayollar
Name[uk]=Загальні скорочення
Name[x-test]=xxGlobal Shortcutsxx
Name[zh_CN]=全局快捷键
Name[zh_TW]=全域捷徑

Comment=Global Keyboard Shortcuts
Comment[ar]=اختصارات لوحة المفاتيح العموميّة
Comment[bs]=Globalne prečice sa tastature
Comment[ca]=Dreceres de teclat globals
Comment[ca@valencia]=Dreceres de teclat globals
Comment[cs]=Globální klávesové zkratky
Comment[da]=Globale tastaturgenveje
Comment[de]=Globale Kurzbefehle
Comment[el]=Καθολικές συντομεύσεις πληκτρολογίου
Comment[en_GB]=Global Keyboard Shortcuts
Comment[eo]=Ĝeneralaj Klavkombinoj
Comment[es]=Accesos rápidos de teclado globales
Comment[et]=Globaalsed kiirklahvid
Comment[eu]=Teklatuaren laster-tekla orokorrak
Comment[fi]=Työpöydänlaajuiset pikanäppäimet
Comment[fr]=Raccourcis globaux de clavier
Comment[gl]=Atallos de teclado globais
Comment[he]=קיצורי מקשים גלובליים
Comment[hu]=Globális billentyűparancsok
Comment[ia]=Vias breve global de claviero
Comment[id]=Pintasan Keyboard Global
Comment[is]=Víðværir flýtilyklar
Comment[it]=Scorciatoie globali della tastiera
Comment[ja]=グローバルキーボードショートカット
Comment[ko]=전역 키보드 단축키
Comment[lt]=Visuotiniai klaviatūros spartieji klavišai
Comment[mr]=जागतिक कळफलक शॉर्टकट
Comment[nb]=Globale hurtigtaster
Comment[nds]=Globaal Tastkombinatschonen
Comment[nl]=Globale sneltoetsen
Comment[nn]=Globale snøggtastar
Comment[pa]=ਗਲੋਬਲ ਕੀ-ਬੋਰਡ ਸ਼ਾਰਟਕੱਟ
Comment[pl]=Globalne skróty klawiszowe
Comment[pt]=Atalhos Globais do Teclado
Comment[pt_BR]=Atalhos de teclado globais
Comment[ru]=Настройка глобальных комбинаций клавиш
Comment[sk]=Globálne klávesové skratky
Comment[sl]=Splošne tipkovne bližnjice
Comment[sr]=Глобалне пречице са тастатуре
Comment[sr@ijekavian]=Глобалне пречице са тастатуре
Comment[sr@ijekavianlatin]=Globalne prečice sa tastature
Comment[sr@latin]=Globalne prečice sa tastature
Comment[sv]=Globala snabbtangenter
Comment[tr]=Genel Klavye Kısayolları
Comment[uk]=Загальні клавіатурні скорочення
Comment[x-test]=xxGlobal Keyboard Shortcutsxx
Comment[zh_CN]=全局键盘快捷键
Comment[zh_TW]=全域鍵盤捷徑

Icon=preferences-desktop-keyboard-shortcut
Type=Service
X-KDE-PluginInfo-Author=David Redondo
X-KDE-PluginInfo-Email=kde@david-redondo.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_keys
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
