[Desktop Entry]
Name=Shortcuts
Name[ca]=Dreceres
Name[nl]=Sneltoetsen
Name[pt]=Atalhos
Name[sv]=Genvägar
Name[uk]=Скорочення
Name[x-test]=xxShortcutsxx

Comment=Configure Keyboard Shortcuts
Comment[ca]=Configura les dreceres de teclat
Comment[nl]=Sneltoetsen configureren
Comment[pt]=Configurar os Atalhos do Teclado
Comment[sv]=Anpassa snabbtangenter
Comment[uk]=Налаштовування клавіатурних скорочень
Comment[x-test]=xxConfigure Keyboard Shortcutsxx

Icon=preferences-desktop-keyboard-shortcut
Type=Service
X-KDE-PluginInfo-Author=David Redondo
X-KDE-PluginInfo-Email=kde@david-redondo.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_keys
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
