[Desktop Entry]
Icon=system-log-out
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmsmserver/index.html
X-Plasma-MainScript=ui/main.qml
X-KDE-FormFactors=desktop
X-KDE-Library=kcm_smserver
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=session
X-KDE-Weight=60
Name=Desktop Session
Name[ar]=جلسة سطح المكتب
Name[ast]=Sesión del escritoriu
Name[az]=İş Masası Seansı
Name[bs]=Sesija Radne Površine
Name[ca]=Sessió d'escriptori
Name[ca@valencia]=Sessió d'escriptori
Name[cs]=Sezení plochy
Name[da]=Skrivebordssession
Name[de]=Arbeitsflächen-Sitzung
Name[el]=Συνεδρία επιφάνειας εργασίας
Name[en_GB]=Desktop Session
Name[es]=Sesión de escritorio
Name[et]=Töölauaseanss
Name[eu]=Mahaigaineko saioa
Name[fi]=Työpöytäistunto
Name[fr]=Session de bureau
Name[gl]=Sesión de escritorio
Name[he]=שולחן העבודה
Name[hu]=Asztali munkamenet
Name[ia]=Session de scriptorio
Name[id]=Sesi Desktop
Name[is]=Skjáborðsseta
Name[it]=Sessioni del desktop
Name[ja]=デスクトップセッション
Name[ko]=데스크톱 세션
Name[lt]=Darbalaukio seansas
Name[nb]=Skrivebordsøkt
Name[nds]=Schriefdischtörn
Name[nl]=Bureaubladsessie
Name[nn]=Skrivebordsøkt
Name[pa]=ਡੈਸਕਟਾਪ ਸ਼ੈਸ਼ਨ
Name[pl]=Sesja pulpitu
Name[pt]=Sessão do Ambiente de Trabalho
Name[pt_BR]=Sessão da área de trabalho
Name[ro]=Sesiune de birou
Name[ru]=Управление сеансами
Name[sk]=Sedenie plochy
Name[sl]=Seja namizja
Name[sr]=Сесија површи
Name[sr@ijekavian]=Сесија површи
Name[sr@ijekavianlatin]=Sesija površi
Name[sr@latin]=Sesija površi
Name[sv]=Skrivbordssession
Name[ta]=பணிமேடை அமர்வு
Name[tg]=Ҷаласаи мизи корӣ
Name[tr]=Masaüstü Oturumu
Name[uk]=Сеанс стільниці
Name[vi]=Phiên bàn làm việc
Name[x-test]=xxDesktop Sessionxx
Name[zh_CN]=桌面会话
Name[zh_TW]=桌面作業階段

Comment=Desktop Session Login and Logout
Comment[ar]=الولوج والخروج من جلسة سطح المكتب
Comment[az]=Giriş və Şıxış seanslarının idarə olunması
Comment[bs]=Prijava i odjava sesije radne površine
Comment[ca]=Connexió i desconnexió de la sessió d'escriptori
Comment[ca@valencia]=Connexió i desconnexió de la sessió d'escriptori
Comment[cs]=Přihlášení a odhlášení ze sezení
Comment[da]=Login og -ud fra skrivebordssession
Comment[de]=An- und Abmelden einer Arbeitsflächen-Sitzung
Comment[el]=Σύνδεση και αποσύνδεση συνεδρίας επιφάνειας εργασίας
Comment[en_GB]=Desktop Session Login and Logout
Comment[es]=Inicio y cierre de sesión del escritorio
Comment[et]=Töölauaseansi sisse- ja väljalogimine
Comment[eu]=Mahaigaineko saioa hastea eta ixtea
Comment[fi]=Työpöytäistunnon sisään- ja uloskirjautuminen
Comment[fr]=Connexion et déconnexion de la session de bureau
Comment[gl]=Acceso e saída das sesións de escritorio
Comment[he]=פעילות שולחן העבודה בהתחברות והתנתקות
Comment[hu]=Be- és kijelentkezés az asztali munkamenetbe
Comment[ia]=Aperi e Claude Session de scriptorio 
Comment[id]=Login dan Logout Sesi desktop
Comment[is]=Innskráning og útskráning úr skjáborðssetu
Comment[it]=Accesso e chiusura della sessione del desktop
Comment[ko]=데스크톱 세션 로그인, 로그아웃
Comment[lt]=Atsijungimas ir prisijungimas prie darbalaukio seanso
Comment[nb]=Skrivebordsøkt inn- og utlogging
Comment[nds]=Na Schriefdischtörn an- un dor vun afmellen
Comment[nl]=Aan- en afmelden van bureaubladsessie
Comment[nn]=Ut- og innlogging av skrivebordsøkt
Comment[pa]=ਡੈਸਕਟਾਪ ਸ਼ੈਸ਼ਨ ਲਾਗਇਨ ਅਤੇ ਲਾਗ ਆਉਟ
Comment[pl]=Logowanie i wylogowywanie z sesji pulpitu
Comment[pt]=Início e Fim de Sessão
Comment[pt_BR]=Início e fim da sessão da área de trabalho
Comment[ro]=Autentificare și ieșire din sesiunea de birou
Comment[ru]=Настройка диспетчера сеансов
Comment[sk]=Prihlásenie a odhlásenie sedenia plochy
Comment[sl]=Prijava in odjava iz seje namizja
Comment[sr]=Пријављивање и одјављивање из сесије површи
Comment[sr@ijekavian]=Пријављивање и одјављивање из сесије површи
Comment[sr@ijekavianlatin]=Prijavljivanje i odjavljivanje iz sesije površi
Comment[sr@latin]=Prijavljivanje i odjavljivanje iz sesije površi
Comment[sv]=Inloggning och utloggning för skrivbordssessioner
Comment[ta]=பணிமேடை அமர்வு நுழைவு மற்றும் வெளியேற்றம்
Comment[tr]=Masaüstü Oturum Açma ve Çıkış
Comment[uk]=Вхід та вихід із робочого сеансу
Comment[vi]=Đăng nhập và đăng xuất phiên bàn làm việc
Comment[x-test]=xxDesktop Session Login and Logoutxx
Comment[zh_CN]=桌面会话登录和注销
Comment[zh_TW]=桌面作業階段登入與登出

X-KDE-Keywords=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios
X-KDE-Keywords[az]=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios,çıxış,saxlamaq,bərpa etmək,sesiya,təsdiq etmək
X-KDE-Keywords[ca]=ksmserver,sessió,sortida,confirmació,desa,restaura,efi,uefi,bios
X-KDE-Keywords[ca@valencia]=ksmserver,sessió,eixida,confirmació,guarda,restaura,efi,uefi,bios
X-KDE-Keywords[cs]=ksmserver,sezení,relace,odhlášení,potvrzení,uložit,obnovit,efi,uefi,bios
X-KDE-Keywords[da]=ksmserver,session,log ud,bekræftelse,gem,genskab,efi,uefi,bios
X-KDE-Keywords[de]=Ksmserver,Sitzung,Abmelden,Logout,Bestätigung,Speichern,Wiederherstellen,efi,uefi,bios
X-KDE-Keywords[en_GB]=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios
X-KDE-Keywords[es]=ksmserver,sesión,cerrar sesión,confirmación,guardar,restaurar,efi,uefi,bios
X-KDE-Keywords[et]=ksmserver,seanss,väljalogimine,kinnitus,salvestamine,taastamine,efi,uefi,bios
X-KDE-Keywords[eu]=ksmserver,saioa,saio-ixtea,berrespena,gorde,lehengoratu,efi,uefi,bios
X-KDE-Keywords[fi]=ksmserver,istunto,uloskirjautuminen,kirjaudu,ulos,vahvistus,vahvista,tallennus,tallentaminen,tallenna,palautus,palautuminen,palauta,efi,uefi,bios
X-KDE-Keywords[fr]=ksmserver, session, déconnexion, confirmation, enregistrer, restaurer,efi,uefi,bios
X-KDE-Keywords[gl]=ksmserver,sesión,saír,confirmación,gardar,restaurar,efi,uefi,bios
X-KDE-Keywords[hu]=ksmserver,munkamenet,kijelentkezés,megerősítés,mentés,visszaállítás,efi,uefi,bios
X-KDE-Keywords[ia]=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios
X-KDE-Keywords[id]=ksmserver,sesi,,logout,keluar,konfirmasi,simpan,pulihkan,efi,uefi,bios
X-KDE-Keywords[it]=ksmserver,sessione,uscita,conferma,salva,ripristina,efi,uefi,bios
X-KDE-Keywords[ko]=ksmserver,session,logout,confirmation,save,restore,세션,로그아웃,확인,저장,복원,efi,uefi,bios
X-KDE-Keywords[lt]=ksmserver,ksmserveris,seansas,sesija,atsijungti,atsijungimas,patvirtinimas,įrašyti,irasyti,atkurti,efi,uefi,bios
X-KDE-Keywords[nl]=ksmserver,sessie,afmelden,bevestiging,opslaan,herstellen,efi,uefi,bios
X-KDE-Keywords[nn]=ksmserver,økt,logg ut,stadfesting,lagra,tilbakestilla,efi,uefi,bios
X-KDE-Keywords[pl]=ksmserver,sesja,wylogowanie,potwierdzenie,zapis,przywrócenie,efi,uefi,bios
X-KDE-Keywords[pt]=ksmserver,sessão,encerrar,confirmação,gravar,repor,efi,uefi,bios
X-KDE-Keywords[pt_BR]=ksmserver,sessão,encerrar,confirmação,salvar,restaurar,efi,uefi,bios
X-KDE-Keywords[ro]=ksmserver,sesiune,autentificare,ieșire,dezautentificare,confirmare,salvare,salvează,restabilire,restabilește,efi,uefi,bios
X-KDE-Keywords[ru]=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios,диспетчер сеансов,вход в систему,завершение сеанса,выход из системы,завершение работы,сохранение,восстановление,подтверждение,сеансы
X-KDE-Keywords[sk]=ksmserver,sedenie,odhlásenie,potvrdenie,uložiť,obnoviť,efi,uefi,bios
X-KDE-Keywords[sl]=ksmserver,seja,seje,odjava,prijava,izklop,zaustavitev,potrditev,shranjevanje,obnavljanje,efi,uefi,bios
X-KDE-Keywords[sv]=ksmserver,session,utloggning,bekräftelse,spara,återställ,efi,uefi,bios
X-KDE-Keywords[ta]=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios,அமர்வு,மீட்டமை,மீட்டல்,மீட்டெடு,சேமி,வெளியேறு, வெளியேற்றம்,சாதனநிரல்,உறுதிப்பாடு
X-KDE-Keywords[tr]=ksmserver,oturum,çıkış,onaylama,kaydet,yeniden yükle,efi,uefi,bios
X-KDE-Keywords[uk]=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios,сеанс,вихід,підтвердження,зберегти,збереження,відновити,відновлення,іфі,іфай,уіфі,уіфай,юіфай,біос
X-KDE-Keywords[vi]=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios,phiên,đăng xuất,xác nhận,lưu,khôi phục
X-KDE-Keywords[x-test]=xxksmserverxx,xxsessionxx,xxlogoutxx,xxconfirmationxx,xxsavexx,xxrestorexx,xxefixx,xxuefixx,xxbiosxx
X-KDE-Keywords[zh_CN]=ksmserver,session,logout,confirmation,save,restore,会话,注销,登出,确认,保存,恢复,efi,uefi,bios
X-KDE-Keywords[zh_TW]=ksmserver,session,logout,confirmation,save,restore,efi,uefi,bios,工作階段,會話,階段,登出,確認,儲存,恢復,還原,復原

Categories=Qt;KDE;X-KDE-settings-components;
