[Desktop Entry]
Name=Search
Name[ca]=Cerca
Name[pt]=Pesquisa
Name[sv]=Sök
Name[uk]=Пошук
Name[x-test]=xxSearchxx
Comment=Configure the File Indexer
Comment[ca]=Configura l'indexador de fitxers
Comment[pt]=Configurar a Indexação de Ficheiros
Comment[sv]=Anpassa filindexering
Comment[uk]=Налаштовування індексування файлів
Comment[x-test]=xxConfigure the File Indexerxx

Icon=baloo
Type=Service
X-KDE-PluginInfo-Author=Tomaz Canabrava
X-KDE-PluginInfo-Email=tcanabrava@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_baloofile
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
