[Desktop Entry]
Name=Search
Name[ca]=Cerca
Name[cs]=Hledat
Name[de]=Suche
Name[es]=Buscar
Name[et]=Otsing
Name[eu]=Bilatu
Name[fi]=Etsi
Name[gl]=Buscar
Name[id]=Pencarian
Name[it]=Ricerca
Name[lt]=Paieška
Name[nl]=Zoeken
Name[nn]=Søk
Name[pl]=Szukaj
Name[pt]=Pesquisa
Name[pt_BR]=Pesquisar
Name[sk]=Hľadať
Name[sv]=Sök
Name[uk]=Пошук
Name[x-test]=xxSearchxx
Name[zh_TW]=搜尋
Comment=Configure the File Indexer
Comment[ast]=Configura l'indizador de ficheros
Comment[ca]=Configura l'indexador de fitxers
Comment[cs]=Nastavit indexování souborů
Comment[de]=Datei-Indizierung einrichten
Comment[es]=Configurar el indexador de archivos
Comment[et]=Failide indekseerimise seadistamine
Comment[eu]=Konfiguratu fitxategi indexatzailea
Comment[fi]=Tiedostoindeksoinnin asetukset
Comment[gl]=Configurar o indexador de ficheiros
Comment[id]=Konfigurasikan Pengindeks File
Comment[it]=Configura l'indicizzatore dei file
Comment[lt]=Konfigūruoti failų indeksatorių
Comment[nl]=De bestandenindexering configureren
Comment[nn]=Set opp filindeksering
Comment[pl]=Ustawienia indeksera plików
Comment[pt]=Configurar a Indexação de Ficheiros
Comment[pt_BR]=Configura o Indexador de Arquivos
Comment[sk]=Nastaviť indexer súborov
Comment[sv]=Anpassa filindexering
Comment[uk]=Налаштовування індексування файлів
Comment[x-test]=xxConfigure the File Indexerxx
Comment[zh_TW]=設定檔案索引工具

Icon=baloo
Type=Service
X-KDE-PluginInfo-Author=Tomaz Canabrava
X-KDE-PluginInfo-Email=tcanabrava@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_baloofile
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
