[Desktop Entry]
Name=User Accounts
Name[x-test]=xxUser Accountsxx
Comment=Manage users
Comment[x-test]=xxManage usersxx
Icon=preferences-system-users
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Nicolas Fella
X-KDE-PluginInfo-Email=nicolas.fella@gmx.de
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=kcm_users
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
