[Desktop Entry]
Name=IM Panel
Name[et]=IM paneel
Name[fr]=Panneau MI
Name[ga]=Painéal IM
Name[pt]=Painel de MI
Name[pt_BR]=Painel de MI
Name[sv]=IM-panel
Name[uk]=Панель МП
Name[x-test]=xxIM Panelxx
Comment=A generic im panel
Comment[et]=Üldine IM paneel
Comment[fr]=Un panneau de messagerie instantanée générique
Comment[ga]=Painéal ginearálta IM
Comment[pt]=Um painel genérico de MI
Comment[pt_BR]=Um painel genérico de MI
Comment[sv]=En generell IM-panel
Comment[uk]=Проста панель миттєвих повідомлень
Comment[x-test]=xxA generic im panelxx
Type=Service
Icon=draw-freehand
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kimpanel
X-KDE-PluginInfo-Author=Wang Hoi
X-KDE-PluginInfo-Email=zealot.hoi@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

