[Desktop Entry]
Name=Icons
Name[af]=Ikone
Name[ar]=الأيقونات
Name[as]=আইকন
Name[be]=Значкі
Name[be@latin]=Ikony
Name[bg]=Икони
Name[bn]=আইকন
Name[bn_IN]=আইকন
Name[br]=Arlunioù
Name[bs]=Ikone
Name[ca]=Icones
Name[ca@valencia]=Icones
Name[cs]=Ikony
Name[csb]=Ikònë
Name[cy]=Eicon
Name[da]=Ikoner
Name[de]=Symbole
Name[el]=Εικονίδια
Name[en_GB]=Icons
Name[eo]=Piktogramoj
Name[es]=Iconos
Name[et]=Ikoonid
Name[eu]=Ikonoak
Name[fa]=شمایلها
Name[fi]=Kuvakkeet
Name[fr]=Icônes
Name[fy]=Byldkaikes
Name[ga]=Deilbhíní
Name[gl]=Iconas
Name[gu]=ચિહ્નો
Name[he]=סמלים
Name[hi]=प्रतीक
Name[hne]=चिनहा
Name[hr]=Ikone
Name[hsb]=Piktogramy
Name[hu]=Ikonok
Name[ia]=Icones
Name[id]=Ikon
Name[is]=Táknmyndir
Name[it]=Icone
Name[ja]=アイコン
Name[ka]=ხატულები
Name[kk]=Таңбашалар
Name[km]=រូប​តំណាង
Name[kn]=ಚಿಹ್ನೆಗಳು
Name[ko]=아이콘
Name[ku]=Îkon
Name[lt]=Ženkliukai
Name[lv]=Ikonas
Name[mai]=प्रतीक
Name[mk]=Икони
Name[ml]=ചിഹ്നങ്ങള്‍
Name[mr]=चिन्ह
Name[ms]=Ikon
Name[nb]=Ikoner
Name[nds]=Lüttbiller
Name[ne]=प्रतिमा
Name[nl]=Pictogrammen
Name[nn]=Ikon
Name[oc]=Icònas
Name[or]=ଚିତ୍ର ସଂକେତଗୁଡ଼ିକ
Name[pa]=ਆਈਕਾਨ
Name[pl]=Ikony
Name[pt]=Ícones
Name[pt_BR]=Ícones
Name[ro]=Pictograme
Name[ru]=Значки
Name[si]=අයිකන
Name[sk]=Ikony
Name[sl]=Ikone
Name[sr]=Иконице
Name[sr@ijekavian]=Иконице
Name[sr@ijekavianlatin]=Ikonice
Name[sr@latin]=Ikonice
Name[sv]=Ikoner
Name[ta]=சின்னங்கள்
Name[te]=ప్రతిమలు
Name[tg]=Нишонаҳо
Name[th]=ไอคอน
Name[tr]=Simgeler
Name[ug]=سىنبەلگىلەر
Name[uk]=Піктограми
Name[uz]=Nishonchalar
Name[uz@cyrillic]=Нишончалар
Name[vi]=Biểu tượng
Name[wa]=Imådjetes
Name[xh]=Imphawu zemmifanekiso
Name[x-test]=xxIconsxx
Name[zh_CN]=图标
Name[zh_TW]=圖示
Comment=Icon Theme
Comment[ar]=سمة الأيقونات
Comment[bs]=Tema ikone
Comment[ca]=Tema d'icones
Comment[ca@valencia]=Tema d'icones
Comment[cs]=Motiv ikon
Comment[da]=Ikontema
Comment[de]=Symbol-Design
Comment[el]=Θέμα εικονιδίων
Comment[en_GB]=Icon Theme
Comment[es]=Tema de iconos
Comment[et]=Ikooniteema
Comment[eu]=Ikono gaia
Comment[fi]=Kuvaketeema
Comment[fr]=Thème d'icônes
Comment[gl]=Tema de iconas
Comment[he]=ערכת־נושא לסמלים
Comment[hu]=Ikontéma
Comment[id]=Tema Ikon
Comment[is]=Táknmyndaþema
Comment[it]=Tema delle icone
Comment[ja]=アイコンテーマ
Comment[ko]=아이콘 테마
Comment[lt]=Ženkliukų apipavidalinimas
Comment[mr]=चिन्ह शैली
Comment[nb]=Ikontema
Comment[nds]=Lüttbildmuster
Comment[nl]=Pictogramthema
Comment[nn]=Ikontema
Comment[pa]=ਆਈਕਾਨ ਥੀਮ
Comment[pl]=Zestaw ikon
Comment[pt]=Tema de Ícones
Comment[pt_BR]=Tema de ícones
Comment[ru]=Набор значков
Comment[sk]=Téma ikon
Comment[sl]=Tema ikon
Comment[sr]=Тема иконица
Comment[sr@ijekavian]=Тема иконица
Comment[sr@ijekavianlatin]=Tema ikonica
Comment[sr@latin]=Tema ikonica
Comment[sv]=Ikontema
Comment[tr]=Simge Teması
Comment[uk]=Тема піктограм
Comment[x-test]=xxIcon Themexx
Comment[zh_CN]=图标主题
Comment[zh_TW]=圖示主題

Icon=preferences-desktop-icons
Type=Service
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_icons
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
