[Desktop Entry]
Name=Icons
Name[af]=Ikone
Name[ar]=الأيقونات
Name[as]=আইকন
Name[be]=Значкі
Name[be@latin]=Ikony
Name[bg]=Икони
Name[bn]=আইকন
Name[bn_IN]=আইকন
Name[br]=Arlunioù
Name[bs]=Ikone
Name[ca]=Icones
Name[ca@valencia]=Icones
Name[cs]=Ikony
Name[csb]=Ikònë
Name[cy]=Eicon
Name[da]=Ikoner
Name[de]=Symbole
Name[el]=Εικονίδια
Name[en_GB]=Icons
Name[eo]=Piktogramoj
Name[es]=Iconos
Name[et]=Ikoonid
Name[eu]=Ikonoak
Name[fa]=شمایلها
Name[fi]=Kuvakkeet
Name[fr]=Icônes
Name[fy]=Byldkaikes
Name[ga]=Deilbhíní
Name[gl]=Iconas
Name[gu]=ચિહ્નો
Name[he]=סמלים
Name[hi]=प्रतीक
Name[hne]=चिनहा
Name[hr]=Ikone
Name[hsb]=Piktogramy
Name[hu]=Ikonok
Name[ia]=Icones
Name[id]=Ikon
Name[is]=Táknmyndir
Name[it]=Icone
Name[ja]=アイコン
Name[ka]=ხატულები
Name[kk]=Таңбашалар
Name[km]=រូប​តំណាង
Name[kn]=ಚಿಹ್ನೆಗಳು
Name[ko]=아이콘
Name[ku]=Îkon
Name[lt]=Piktogramos
Name[lv]=Ikonas
Name[mai]=प्रतीक
Name[mk]=Икони
Name[ml]=ചിഹ്നങ്ങള്‍
Name[mr]=चिन्ह
Name[ms]=Ikon
Name[nb]=Ikoner
Name[nds]=Lüttbiller
Name[ne]=प्रतिमा
Name[nl]=Pictogrammen
Name[nn]=Ikon
Name[oc]=Icònas
Name[or]=ଚିତ୍ର ସଂକେତଗୁଡ଼ିକ
Name[pa]=ਆਈਕਾਨ
Name[pl]=Ikony
Name[pt]=Ícones
Name[pt_BR]=Ícones
Name[ro]=Pictograme
Name[ru]=Значки
Name[si]=අයිකන
Name[sk]=Ikony
Name[sl]=Ikone
Name[sr]=Иконице
Name[sr@ijekavian]=Иконице
Name[sr@ijekavianlatin]=Ikonice
Name[sr@latin]=Ikonice
Name[sv]=Ikoner
Name[ta]=சின்னங்கள்
Name[te]=ప్రతిమలు
Name[tg]=Нишонаҳо
Name[th]=ไอคอน
Name[tr]=Simgeler
Name[ug]=سىنبەلگىلەر
Name[uk]=Піктограми
Name[uz]=Nishonchalar
Name[uz@cyrillic]=Нишончалар
Name[vi]=Biểu tượng
Name[wa]=Imådjetes
Name[xh]=Imphawu zemmifanekiso
Name[x-test]=xxIconsxx
Name[zh_CN]=图标
Name[zh_TW]=圖示
Comment=Choose icon theme
Comment[ca]=Trieu el tema d'icones
Comment[ca@valencia]=Trieu el tema d'icones
Comment[cs]=Vyberte motiv ikon
Comment[da]=Vælg ikontema
Comment[de]=Symbol-Design auswählen
Comment[en_GB]=Choose icon theme
Comment[es]=Escoger un tema de iconos
Comment[eu]=Aukeratu ikono-gaia
Comment[fi]=Valitse kuvaketeema
Comment[fr]=Choisir le thème d'icônes
Comment[gl]=Escoller un tema de iconas
Comment[id]=Pilihlah tema ikon
Comment[it]=Scegli tema di icone
Comment[ja]=アイコンテーマを選択
Comment[ko]=아이콘 테마 선택
Comment[lt]=Pasirinkti piktogramų apipavidalinimą
Comment[nl]=Pictogramthema kiezen
Comment[nn]=Vel ikontema
Comment[pl]=Wybierz zestaw ikon
Comment[pt]=Escolher o tema de ícones
Comment[pt_BR]=Escolha o tema de ícones
Comment[ru]=Выбор набора значков
Comment[sk]=Vyberte tému ikon
Comment[sv]=Välj ikontema
Comment[uk]=Вибір теми піктограм
Comment[x-test]=xxChoose icon themexx
Comment[zh_CN]=选择图标主题
Comment[zh_TW]=選擇圖示主題

Icon=preferences-desktop-icons
Type=Service
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_icons
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
