[Desktop Entry]
Name=Quick Settings
Name[az]=Cəld ayarları
Name[ca]=Opcions ràpides
Name[cs]=Rychlé nastavení
Name[es]=Preferencias rápidas
Name[eu]=Ezarpen azkarrak
Name[nl]=Snelle instellingen
Name[nn]=Snøgginnstillingar
Name[pt]=Configurações Rápidas
Name[pt_BR]=Configurações rápidas
Name[sl]=Hitre nastavitve
Name[sv]=Snabbinställningar
Name[uk]=Швидке налаштовування
Name[x-test]=xxQuick Settingsxx
Comment=Quickly change basic settings
Comment[az]=Əsas ayarları cəld dəyişdirins
Comment[ca]=Canvia ràpidament les opcions bàsiques
Comment[cs]=Rychle měňte základní nastavení
Comment[es]=Cambiar rápidamente las preferencias básicas
Comment[eu]=Azkar aldatu oinarrizko ezarpenak
Comment[nl]=Basisinstellingen snel wijzigen
Comment[nn]=Byt innstillingar kjapt
Comment[pt]=Mudar rapidamente as configurações básicas
Comment[sl]=Hitro spremeni osnovne nastavitve
Comment[sv]=Ändra grundinställningar snabbt
Comment[uk]=Швидка зміна базових параметрів
Comment[x-test]=xxQuickly change basic settingsxx
Icon=preferences-desktop
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_landingpage
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
