[Desktop Entry]
Name=Plasma Desktop Shell
Name[ar]=صدفة سطح مكتب بلازما
Name[az]=Plasma İş Masası Mühiti
Name[bg]=Настолна обвивка Plasma
Name[bs]=Plazma školjka površi
Name[ca]=Àrea de treball de l'escriptori Plasma
Name[ca@valencia]=Intèrpret d'ordres de l'escriptori Plasma
Name[cs]=Pracovní plocha Plasma
Name[da]=Plasma-skrivebordets skal
Name[de]=Plasma-Umgebung
Name[el]=Κέλυφος επιφάνειας εργασίας Plasma
Name[en_GB]=Plasma Desktop Shell
Name[eo]=Plasma Labortabla ŝelo
Name[es]=Shell de escritorio Plasma
Name[et]=Plasma töölauakest
Name[eu]=Plasma mahaigainaren shell-a
Name[fi]=Plasma-työpöytäkuori
Name[fr]=Shell du bureau Plasma
Name[fy]=Plasma buroblêdflues
Name[ga]=Blaosc dheisce Plasma
Name[gl]=Shell de escritorio Plasma
Name[gu]=પ્લાઝમા ડેસ્કટોપ શેલ
Name[he]=מעטפת שולחן העבודה של Plasma
Name[hi]=प्लाज्मा डेस्कटॉप शेल
Name[hr]=Plasma ljuska radne površine
Name[hu]=Plazma asztali héj
Name[ia]=Shell de scriptorio de Plasma
Name[id]=Shell Desktop Plasma
Name[is]=Plasma skjáborðsskel
Name[it]=Shell del desktop di Plasma
Name[ja]=Plasma デスクトップシェル
Name[kk]=Plasma үстел ортасы
Name[km]=សែល​ផ្ទៃតុ​ប្លាស្មា
Name[kn]=ಪ್ಲಾಸ್ಮಾ ಗಣಕತೆರೆ  ಶೆಲ್
Name[ko]=Plasma 데스크톱 셸
Name[lt]=Plasma darbalaukio apvalkalas
Name[lv]=Plasma darbvirsmas čaula
Name[ml]=പ്ലാസ്മ പണിയിട ആവരണം
Name[mr]=प्लाज्मा डेस्कटॉप शेल
Name[nb]=Plasma skrivebordsskall
Name[nds]=Plasma-Schriefdischkonsool
Name[nl]=Plasma Bureaublad-shell
Name[nn]=Skrivebordsskal for Plasma
Name[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਸ਼ੈੱਲ
Name[pl]=Powłoka pulpitu Plazmy
Name[pt]=Consola de Ecrã do Plasma
Name[pt_BR]=Shell da área de trabalho Plasma
Name[ro]=Învelișul de birou Plasma
Name[ru]=Консоль сценариев Plasma
Name[si]=ප්ලාස්මා වැඩතල ශෙලය
Name[sk]=Shell plochy Plasma
Name[sl]=Namizna lupina Plasma
Name[sr]=Плазмина шкољка површи
Name[sr@ijekavian]=Плазмина шкољка површи
Name[sr@ijekavianlatin]=Plasmina školjka površi
Name[sr@latin]=Plasmina školjka površi
Name[sv]=Plasma skrivbordskal
Name[ta]=பணிமேடை பிளாஸ்மா நிரல்
Name[tg]=Восити мизи кории Плазма
Name[th]=เชลล์พื้นที่ทำงานแบบพลาสมา
Name[tr]=Plasma Masaüstü Kabuğu
Name[ug]=پلازما ئۈستەلئۈستى Shell ئى
Name[uk]=Оболонка стільниці Плазми
Name[vi]=Hệ vỏ bàn làm việc Plasma
Name[wa]=Shell do scribanne Plasma
Name[x-test]=xxPlasma Desktop Shellxx
Name[zh_CN]=Plasma 桌面外壳
Name[zh_TW]=Plasma 桌面 shell
Comment=Interact with the Plasma desktop shell
Comment[ar]=تفاعل مع صدفة سطح مكتب بلازما
Comment[az]=Plasma İş Masası Mühiti ilə qarşılıqlı əlaqə vasitəsi
Comment[bs]=Pozabavite se plazma školjkom površi
Comment[ca]=Interactua amb l'àrea de treball de l'escriptori Plasma
Comment[ca@valencia]=Interactua amb l'intèrpret d'ordres de l'escriptori Plasma
Comment[cs]=Interakce se shellem pracovní plochy plasmy
Comment[da]=Interaktion med Plasma-skrivebordets skal
Comment[de]=Interaktion mit der Plasma-Shell
Comment[el]=Αλληλεπίδραση με το κέλυφος επιφάνειας εργασίας Plasma
Comment[en_GB]=Interact with the Plasma desktop shell
Comment[es]=Interactuar con la interfaz del escritorio Plasma
Comment[et]=Suhtlus Plasma töölauakestaga
Comment[eu]=Elkarreraginean jardun Plasma mahaigainaren shell-arekin
Comment[fi]=Ole vuorovaikutuksessa Plasma-työpöytäkuoren kanssa
Comment[fr]=Interagit avec le shell du bureau Plasma
Comment[fy]=Ynteraksje mei de Plasma buroblêd flues
Comment[ga]=Bain úsáid as blaosc dheisce Plasma
Comment[gl]=Interactúa coa shell de escritorio Plasma
Comment[he]=אינטראקציה עם מעטפת שולחן העבודה של Plasma
Comment[hr]=Interakcija s Plasma ljuskom radne površine
Comment[hu]=Interakció a Plasma asztali héjjal
Comment[ia]=Interage  con le shell de scriptorio de Plasma
Comment[id]=Interaksi dengan shell desktop Plasma
Comment[is]=Gagnvirkni með Plasma skjáborðsskelinni
Comment[it]=Interagisce con la shell del desktop di Plasma
Comment[ja]=Plasma デスクトップシェルと対話
Comment[kk]=Plasma үстел қоршау-ортасымен әркеттесу
Comment[km]=មាន​ទំនាក់ទំនង​ជា​មួយ​នឹង​សែល​ផ្ទៃតុ​​ប្លាស្មា
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಗಣಕತೆರೆ ಶೆಲ್‌ನೊಂದಿಗೆ ವ್ಯವಹರಿಸು
Comment[ko]=Plasma 데스크톱 셸 사용하기
Comment[lt]=Sąveikauti su Plasma darbalaukio apvalkalu
Comment[lv]=Iedarboties uz Plasma darbvirsmas čaulu
Comment[ml]=പ്ലാസ്മ പണിയിട ഷെല്ലുമായി പരസ്പരവിനിമയം നടത്തുക
Comment[mr]=प्लाज्मा डेस्कटॉप शेल बरोबर संवाद
Comment[nb]=Arbeid med Plasma skrivebordsskallet
Comment[nds]=Mit den Plasma-Schriefdischkieker snacken
Comment[nl]=Interactie met de Plasma bureaublad-shell
Comment[nn]=Bruk Plasma-skrivebordsskalet
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਸ਼ੈੱਲ ਨਾਲ ਕੰਮ
Comment[pl]=Współdziałanie z powłoką pulpitu Plazmy
Comment[pt]=Interagir com a consola do ambiente de trabalho Plasma
Comment[pt_BR]=Interage com a shell da área de trabalho Plasma
Comment[ro]=Interacționați cu învelișul de birou Plasma
Comment[ru]=Инструмент взаимодействия с оболочкой Plasma
Comment[si]=ප්ලාස්මා වැඩතල ශෙලය සමඟ අන්තර්ක්‍රියාකාරී
Comment[sk]=Interakcia so shellom plochy Plasma
Comment[sl]=Uporabljajte Namizno lupino Plasma
Comment[sr]=Позабавите се Плазмином шкољком површи
Comment[sr@ijekavian]=Позабавите се Плазмином шкољком површи
Comment[sr@ijekavianlatin]=Pozabavite se Plasminom školjkom površi
Comment[sr@latin]=Pozabavite se Plasminom školjkom površi
Comment[sv]=Interaktion med Plasma skrivbordsskal
Comment[ta]=பிளாஸ்மா பணிமேடை நிரலை கட்டுப்படுத்துங்கள்
Comment[th]=ใช้งานผ่านทางเชลล์พื้นที่ทำงานแบบพลาสมา
Comment[tr]=Plasma Masaüstü Kabuğu ile etkileş
Comment[ug]=پلازما ئۈستەلئۈستى بىلەن مۇناسىۋەتلىشىدۇ
Comment[uk]=Взаємодія з оболонкою стільниці Плазма
Comment[vi]=Tương tác với hệ vỏ bàn làm việc Plasma
Comment[wa]=Ovrer d' façon interactive avou l' shell do scribanne Plasma
Comment[x-test]=xxInteract with the Plasma desktop shellxx
Comment[zh_CN]=和 Plasma 桌面外壳进行交互
Comment[zh_TW]=與 Plasma 桌面 shell 互動
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=plasma
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=plasma-desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPLv2
X-KDE-PluginInfo-EnabledByDefault=true
