[Desktop Entry]
Name=Plasma Desktop Shell
Name[nl]=Plasma Bureaublad-shell
Name[uk]=Оболонка стільниці Плазми
Name[x-test]=xxPlasma Desktop Shellxx
Comment=Interact with the Plasma desktop shell
Comment[nl]=Interactie met de Plasma bureaublad-shell
Comment[uk]=Взаємодія з оболонкою стільниці Плазма
Comment[x-test]=xxInteract with the Plasma desktop shellxx
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=plasma
X-KDE-Library=krunner_plasma-desktop
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=plasma-desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
