[Desktop Entry]
Comment=Shows current touchpad state
Comment[bs]=Prikazuje trenutno stanje dodirne površine
Comment[cs]=Zobrazí současný stav touchpadu
Comment[da]=Vis aktuel touchpad-tilstand
Comment[de]=Zeigt den aktuellen Status des Touchpads an
Comment[el]=Εμφανίζει την τρέχουσα κατάσταση της επιφάνειας αφής
Comment[es]=Muestra el estado actual del panel táctil
Comment[fi]=Näyttää kosketuslevyn nykyisen tilan
Comment[fr]=Affiche l'état courant du pavé tactile
Comment[hu]=Megjeleníti a jelenlegi érintőtábla állapotot
Comment[ko]=현재 터치패드 상태 표시
Comment[lt]=Rodo dabartinę kilimėlio būsena
Comment[nl]=Huidige status van touchpad tonen
Comment[pl]=Pokazuje bieżący stan gładzika
Comment[pt]=Mostra o estado actual do rato por toque
Comment[pt_BR]=Mostra o estado atual do touchpad
Comment[ro]=Arată starea curentă a zonei tactile
Comment[sk]=Zobrazí aktuálny stav touchpadu
Comment[sl]=Prikazuje trenutno stanje sledilne ploščice
Comment[sv]=Visar tryckplattans aktuellt tillstånd
Comment[tr]=Geçerli dokunmatik yüzey durumunu gösterir
Comment[uk]=Показує поточний стан сенсорної панелі
Comment[x-test]=xxShows current touchpad statexx
Encoding=UTF-8
Icon=input-touchpad
Keywords=Touchpad
Keywords[bs]=Dodirna površina
Keywords[cs]=Touchpad
Keywords[da]=Touchpad
Keywords[de]=Touchpad
Keywords[el]=Επιφάνεια αφής
Keywords[es]=Panel táctil
Keywords[fi]=Kosketuslevy
Keywords[fr]=Pavé tactile
Keywords[hu]=Érintőtábla
Keywords[ko]=터치패드
Keywords[lt]=Jutiklinis kilimėlis
Keywords[nl]=Touchpad
Keywords[pl]=Gładzik
Keywords[pt]=Rato por Toque
Keywords[pt_BR]=Touchpad
Keywords[ro]=Zonă tactilă
Keywords[sk]=Touchpad
Keywords[sl]=Sledilna ploščica
Keywords[sv]=Tryckplatta
Keywords[tr]=Dokunmatik Yüzey
Keywords[uk]=Сенсорна панель
Keywords[x-test]=xxTouchpadxx
Name=Touchpad
Name[bs]=Dodirna površina
Name[cs]=Touchpad
Name[da]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[es]=Panel táctil
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[hu]=Érintőtábla
Name[ko]=터치패드
Name[lt]=Jutiklinis kilimėlis
Name[nl]=Touchpad
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[ro]=Zonă tactilă
Name[sk]=Touchpad
Name[sl]=Sledilna ploščica
Name[sv]=Tryckplatta
Name[tr]=Dokunmatik Yüzey
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexander Mezin
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=mezin.alexander@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=touchpad
X-KDE-PluginInfo-Version=@TOUCHPAD_KCM_VERSION@
X-KDE-PluginInfo-Website=https://projects.kde.org/projects/playground/utils/kcm-touchpad/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-ConfigPlugins=kcm_touchpad
X-Plasma-DefaultSize=32,32
X-Plasma-MainScript=ui/touchpad.qml
X-Plasma-NotificationArea=true
X-Plasma-RemoteLocation=
