[Desktop Entry]
Comment=Shows current touchpad state
Comment[bs]=Prikazuje trenutno stanje dodirne površine
Comment[de]=Zeigt den aktuellen Status des Touchpads an
Comment[el]=Εμφανίζει την τρέχουσα κατάσταση της επιφάνειας αφής
Comment[fi]=Näyttää kosketuslevyn nykyisen tilan
Comment[hu]=Megjeleníti a jelenlegi érintőtábla állapotot
Comment[nl]=Huidige status van touchpad tonen
Comment[pt]=Mostra o estado actual do rato por toque
Comment[pt_BR]=Mostra o estado atual do touchpad
Comment[sk]=Zobrazí aktuálny stav touchpadu
Comment[sv]=Visar tryckplattans aktuellt tillstånd
Comment[uk]=Показує поточний стан сенсорної панелі
Comment[x-test]=xxShows current touchpad statexx
Encoding=UTF-8
Icon=input-touchpad
Keywords=Touchpad
Keywords[bs]=Dodirna površina
Keywords[cs]=Touchpad
Keywords[de]=Touchpad
Keywords[el]=Επιφάνεια αφής
Keywords[fi]=Kosketuslevy
Keywords[hu]=Érintőtábla
Keywords[nl]=Touchpad
Keywords[pt]=Rato por Toque
Keywords[pt_BR]=Touchpad
Keywords[sk]=Touchpad
Keywords[sv]=Tryckplatta
Keywords[uk]=Сенсорна панель
Keywords[x-test]=xxTouchpadxx
Name=Touchpad
Name[bs]=Dodirna površina
Name[cs]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[fi]=Kosketuslevy
Name[hu]=Érintőtábla
Name[nl]=Touchpad
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[sk]=Touchpad
Name[sv]=Tryckplatta
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexander Mezin
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=mezin.alexander@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=touchpad
X-KDE-PluginInfo-Version=@TOUCHPAD_KCM_VERSION@
X-KDE-PluginInfo-Website=https://projects.kde.org/projects/playground/utils/kcm-touchpad/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-ConfigPlugins=kcm_touchpad
X-Plasma-DefaultSize=32,32
X-Plasma-MainScript=ui/touchpad.qml
X-Plasma-NotificationArea=true
X-Plasma-RemoteLocation=
