[Desktop Entry]
Exec=kcmshell5 joystick

X-DocPath=kcontrol/joystick/index.html
Terminal=false
Type=Service
Icon=preferences-desktop-gaming
Categories=Qt;KDE;X-KDE-settings-hardware;

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_joystick
X-KDE-Test-Module=true
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-ParentApp=kcontrol
X-KDE-Weight=70

Comment=Joystick settings
Comment[ar]=إعدادات عصى الألعاب
Comment[ast]=Preferencies del Joystick
Comment[be@latin]=Nałady džojstyka
Comment[bg]=Настройки на джойстик
Comment[bn]=জয়স্টিক সেটিংস
Comment[bn_IN]=জয়-স্টিক সংক্রান্ত বৈশিষ্ট্য
Comment[bs]=Postavke džojstika
Comment[ca]=Arranjament de la palanca de control
Comment[ca@valencia]=Arranjament de la palanca de control
Comment[cs]=Nastavení joysticku
Comment[csb]=Nastôw joysticka
Comment[da]=Joystick-indstillinger
Comment[de]=Joystick-Einstellungen
Comment[el]=Ρυθμίσεις χειριστηρίου
Comment[en_GB]=Joystick settings
Comment[eo]=Ludbastonaj agordoj
Comment[es]=Preferencias del Joystick
Comment[et]=Juhtpuldi seadistused
Comment[eu]=Kontrol-palankaren ezarpenak
Comment[fi]=Peliohjainten asetukset
Comment[fr]=Configuration du joystick
Comment[fy]=Joystick ynstellings
Comment[ga]=Socruithe an luamháin stiúrtha
Comment[gl]=Configuración do joystick
Comment[gu]=જોયસ્ટિક ગોઠવણીઓ
Comment[he]=הגדרות ג'ויסטיק
Comment[hi]=जॉयस्टिक विन्यास
Comment[hne]=जायस्टिक सेटिंग
Comment[hr]=Postavke igraće palice (joysticka)
Comment[hsb]=Nastajenja za joystick
Comment[hu]=Botkormány-beállítások
Comment[ia]=Preferentias de Joystick
Comment[id]=Pengaturan tongkat ria
Comment[is]=Stillingar stýripinna
Comment[it]=Impostazioni del joystick
Comment[ja]=ジョイスティックの設定
Comment[kk]=Джойстик параметрлері
Comment[km]=ការ​កំណត់ Joystick
Comment[kn]=ಅಂಕೆಗೋಲು (ಜಾಯ್ ಸ್ಟಿಕ್) ಸಂಯೋಜನೆಗಳು
Comment[ko]=조이스틱 설정
Comment[ku]=Mîhengên joystik
Comment[lt]=Valdymo svirties nustatymai
Comment[lv]=Kursorsviras iestatījumi
Comment[mai]=ज्वायस्टिक सेटिंग
Comment[mk]=Поставувања за палката за играње
Comment[ml]=ജോയ്സ്റ്റിക് സജ്ജീകരണങ്ങള്‍
Comment[mr]=जॉयस्टीक् संयोजना
Comment[nb]=Styrespakinnstillinger
Comment[nds]=Joystick instellen
Comment[nl]=Joystick instellen
Comment[nn]=Innstillingar for styrespakar
Comment[or]=Joystick ସଂରଚନା
Comment[pa]=ਜਾਏਸਟਿੱਕ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia joysticka
Comment[pt]=Configuração do 'joystick'
Comment[pt_BR]=Configurações do joystick
Comment[ro]=Configurări joystick
Comment[ru]=Настройка джойстика
Comment[si]=Joystick සැකසුම්
Comment[sk]=Nastavenie joysticku
Comment[sl]=Nastavitve igralne palice
Comment[sr]=Поставке џојстика
Comment[sr@ijekavian]=Поставке џојстика
Comment[sr@ijekavianlatin]=Postavke džojstika
Comment[sr@latin]=Postavke džojstika
Comment[sv]=Anpassa styrspak
Comment[ta]=ஜாய்ஸ்டிக் அமைப்புகள்
Comment[te]=Joystick అమరికలు
Comment[tg]=Танзимоти ҷойстик
Comment[th]=ตั้งค่าต่าง ๆ ของแท่งควบคุม
Comment[tr]=Oyun çubuğu ayarları
Comment[ug]=ئويۇن دەستە تەڭشەكلەر
Comment[uk]=Параметри джойстика
Comment[vi]=Thiết lập tay điều khiển trò chơi
Comment[wa]=Apontiaedje del djîsse di djeu
Comment[x-test]=xxJoystick settingsxx
Comment[zh_CN]=游戏杆设置
Comment[zh_TW]=搖桿設定
Name=Joystick
Name[af]=Joystick
Name[ar]=عصا الألعاب
Name[ast]=Joystick
Name[be]=Джойстык
Name[be@latin]=Džojstyk
Name[bg]=Джойстик
Name[bn]=জয়-স্টিক
Name[bn_IN]=জয়-স্টিক
Name[br]=Lanker-c'hoari
Name[bs]=Džojstik
Name[ca]=Palanca de control
Name[ca@valencia]=Palanca de control
Name[cs]=Joystick
Name[csb]=Joystick
Name[cy]=Ffôn reoli
Name[da]=Joystick
Name[de]=Joystick
Name[el]=Χειριστήριο
Name[en_GB]=Joystick
Name[eo]=Stirstango
Name[es]=Joystick
Name[et]=Juhtpult
Name[eu]=Kontrol-palanka
Name[fa]=اهرم کنترل
Name[fi]=Peliohjain
Name[fr]=Joystick
Name[fy]=Joystick
Name[ga]=Luamhán Stiúrtha
Name[gl]=Joystick
Name[gu]=જોયસ્ટિક
Name[he]=ג'ויסטיק
Name[hi]=जॉयस्टिक
Name[hne]=जायस्टिक
Name[hr]=Igraća palica
Name[hsb]=Joystick
Name[hu]=Botkormány
Name[ia]=Joystick
Name[id]=Tongkat Ria
Name[is]=Stýripinnar
Name[it]=Joystick
Name[ja]=ジョイスティック
Name[ka]=ჯოისტიკი
Name[kk]=Джойстик
Name[km]=យ៉យស្ទីក
Name[kn]=ಅಂಕೆಗೋಲು (ಜಾಯ್ ಸ್ಟಿಕ್)
Name[ko]=조이스틱
Name[ku]=Joystîk
Name[lt]=Valdymo svirtis
Name[lv]=Kursorsvira
Name[mai]=जायस्टिक
Name[mk]=Џојстик
Name[ml]=ജോയ്സ്റ്റിക്
Name[mr]=जॉयस्टिक
Name[ms]=Kayu Bidik
Name[nb]=Styrespak
Name[nds]=Joystick
Name[ne]=जोयस्टिक
Name[nl]=Joystick
Name[nn]=Styrespak
Name[or]=Joystick
Name[pa]=ਜਾਏਸਟਿੱਕ
Name[pl]=Joystick
Name[pt]=Joystick
Name[pt_BR]=Joystick
Name[ro]=Joystick
Name[ru]=Джойстик
Name[se]=Stivrensággi
Name[si]=ජෝයිස්ටික්
Name[sk]=Joystick
Name[sl]=Igralna palica
Name[sr]=Џојстик
Name[sr@ijekavian]=Џојстик
Name[sr@ijekavianlatin]=Džojstik
Name[sr@latin]=Džojstik
Name[sv]=Styrspak
Name[ta]=இயக்கு கருவி
Name[te]=జాయ్ స్టిక్
Name[tg]=Ҷойстик
Name[th]=แท่งควบคุม
Name[tr]=Oyun Çubuğu
Name[ug]=ئويۇن دەستىسى(رول)
Name[uk]=Джойстик
Name[uz]=Joystik
Name[uz@cyrillic]=Жойстик
Name[vi]=Tay điều khiển
Name[wa]=Djîsse di djeu
Name[xh]=Uvuyo
Name[x-test]=xxJoystickxx
Name[zh_CN]=游戏杆
Name[zh_TW]=搖桿

X-KDE-Keywords=joystick,gamepad,controller
X-KDE-Keywords[bs]=dzojstik
X-KDE-Keywords[ca]=palanca de control,comandament de joc,controlador
X-KDE-Keywords[ca@valencia]=palanca de control,comandament de joc,controlador
X-KDE-Keywords[da]=joystick,gamepad,controller
X-KDE-Keywords[de]=Joystick,Gamepad,Spielsteuerung
X-KDE-Keywords[el]=χειριστήριο,πληκτρολόγιο παιχνιδιών,ελεγκτής
X-KDE-Keywords[es]=joystick,gamepad,controlador
X-KDE-Keywords[et]=juhtpult,juhtkang,kontroller
X-KDE-Keywords[eu]=kontrol-palanka,joko-teklatua,kontroladorea
X-KDE-Keywords[fi]=peliohjain,sauvaohjain,ohjain
X-KDE-Keywords[fr]=joystick, gamepad, contrôleur
X-KDE-Keywords[ga]=luamhán stiúrtha,ceap cluiche,rialaitheoir
X-KDE-Keywords[gl]=joystick, gamepad, controlador
X-KDE-Keywords[hu]=botkormány,játéktábla,vezérlő
X-KDE-Keywords[ia]=joystick,gamepad,controlator
X-KDE-Keywords[it]=joystick,gamepad,controller
X-KDE-Keywords[kk]=joystick,gamepad,controller
X-KDE-Keywords[km]=joystick,gamepad,controller
X-KDE-Keywords[ko]=joystick,gamepad,controller,조이스틱,컨트롤러
X-KDE-Keywords[mr]=जॉयस्टिक, गेमपॅड, कन्ट्रोलर
X-KDE-Keywords[nb]=styrespak,spillepute,kontroller
X-KDE-Keywords[nds]=Stüerknüppel,Speelknüppel,Speelstüer-Reedschap,Speelstüern,Stüern,Kontroller,Speelkuntrull
X-KDE-Keywords[nl]=joystick,spelpad,besturing
X-KDE-Keywords[pa]=ਜਾਏਸਟਿੱਕ,ਗੇਮਪੈਡ,ਕੰਟਰੋਲਰ
X-KDE-Keywords[pl]=joystick,gamepad,kontroler
X-KDE-Keywords[pt]=joystick,comando,controlador
X-KDE-Keywords[pt_BR]=joystick,gamepad,controle
X-KDE-Keywords[ru]=joystick,gamepad,controller,джойстик,геймпад,контроллер
X-KDE-Keywords[sk]=joystick,gamepad,ovládač
X-KDE-Keywords[sl]=igralna palica,igralni plošček,igralne naprave,krmilnik
X-KDE-Keywords[sr]=joystick,gamepad,controller,џојстик,гејмпад,управљач
X-KDE-Keywords[sr@ijekavian]=joystick,gamepad,controller,џојстик,гејмпад,управљач
X-KDE-Keywords[sr@ijekavianlatin]=joystick,gamepad,controller,džojstik,gejmpad,upravljač
X-KDE-Keywords[sr@latin]=joystick,gamepad,controller,džojstik,gejmpad,upravljač
X-KDE-Keywords[sv]=styrspak,handkontroll,styrning
X-KDE-Keywords[tr]=oyun çubuğu, denetleyici,joystick, oyun oynama kolu
X-KDE-Keywords[uk]=joystick,gamepad,джойстик,геймпад,контролер
X-KDE-Keywords[x-test]=xxjoystick,gamepad,controllerxx
X-KDE-Keywords[zh_CN]=joystick,gamepad,controller,手柄,摇杆,控制器
X-KDE-Keywords[zh_TW]=joystick,gamepad,controller
