[Desktop Entry]
Exec=kcmshell5 joystick

X-DocPath=kcontrol/joystick/index.html
Terminal=false
Type=Service
Icon=preferences-desktop-gaming
Categories=Qt;KDE;X-KDE-settings-hardware;

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_joystick
X-KDE-Test-Module=true
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-ParentApp=kcontrol
X-KDE-Weight=70

Comment=Joystick
Comment[ar]=عصي الألعاب
Comment[ast]=Joystick
Comment[bs]=Džojstik
Comment[ca]=Palanca de control
Comment[ca@valencia]=Palanca de control
Comment[cs]=Joystick
Comment[da]=Joystick
Comment[de]=Joystick
Comment[el]=Χειριστήριο
Comment[en_GB]=Joystick
Comment[eo]=Stirstango
Comment[es]=Joystick
Comment[et]=Juhtpult
Comment[fi]=Peliohjain
Comment[fr]=Joystick
Comment[gl]=Mando
Comment[he]=ג'ויסטיק
Comment[hu]=Botkormány
Comment[id]=Tongkat Ria
Comment[is]=Stýripinni
Comment[it]=Joystick
Comment[ja]=ジョイスティック
Comment[ko]=조이스틱
Comment[lt]=Valdymo svirtis
Comment[mr]=जॉयस्टिक
Comment[nb]=Styrespak
Comment[nds]=Joystick
Comment[nl]=Joystick
Comment[nn]=Styrespak
Comment[pa]=ਜਾਏਸਟਿੱਕ
Comment[pl]=Joystick
Comment[pt]=Joystick
Comment[pt_BR]=Joystick
Comment[ru]=Джойстик
Comment[sk]=Joystick
Comment[sl]=Igralna palica
Comment[sr]=Џојстик
Comment[sr@ijekavian]=Џојстик
Comment[sr@ijekavianlatin]=Džojstik
Comment[sr@latin]=Džojstik
Comment[sv]=Styrspak
Comment[tr]=Oyun Çubuğu
Comment[uk]=Джойстик
Comment[vi]=Joystick
Comment[x-test]=xxJoystickxx
Comment[zh_CN]=游戏杆
Comment[zh_TW]=搖桿
Name=Joystick
Name[af]=Joystick
Name[ar]=عصي الألعاب
Name[ast]=Joystick
Name[be]=Джойстык
Name[be@latin]=Džojstyk
Name[bg]=Джойстик
Name[bn]=জয়-স্টিক
Name[bn_IN]=জয়-স্টিক
Name[br]=Lanker-c'hoari
Name[bs]=Džojstik
Name[ca]=Palanca de control
Name[ca@valencia]=Palanca de control
Name[cs]=Joystick
Name[csb]=Joystick
Name[cy]=Ffôn reoli
Name[da]=Joystick
Name[de]=Joystick
Name[el]=Χειριστήριο
Name[en_GB]=Joystick
Name[eo]=Stirstango
Name[es]=Joystick
Name[et]=Juhtpult
Name[eu]=Kontrol-palanka
Name[fa]=اهرم کنترل
Name[fi]=Peliohjain
Name[fr]=Joystick
Name[fy]=Joystick
Name[ga]=Luamhán Stiúrtha
Name[gl]=Joystick
Name[gu]=જોયસ્ટિક
Name[he]=ג'ויסטיק
Name[hi]=जॉयस्टिक
Name[hne]=जायस्टिक
Name[hr]=Igraća palica
Name[hsb]=Joystick
Name[hu]=Botkormány
Name[ia]=Joystick
Name[id]=Tongkat Ria
Name[is]=Stýripinni
Name[it]=Joystick
Name[ja]=ジョイスティック
Name[ka]=ჯოისტიკი
Name[kk]=Джойстик
Name[km]=យ៉យស្ទីក
Name[kn]=ಅಂಕೆಗೋಲು (ಜಾಯ್ ಸ್ಟಿಕ್)
Name[ko]=조이스틱
Name[ku]=Joystîk
Name[lt]=Valdymo svirtis
Name[lv]=Kursorsvira
Name[mai]=जायस्टिक
Name[mk]=Џојстик
Name[ml]=ജോയ്സ്റ്റിക്
Name[mr]=जॉयस्टिक
Name[ms]=Kayu Bidik
Name[nb]=Styrespak
Name[nds]=Joystick
Name[ne]=जोयस्टिक
Name[nl]=Joystick
Name[nn]=Styrespak
Name[or]=Joystick
Name[pa]=ਜਾਏਸਟਿੱਕ
Name[pl]=Joystick
Name[pt]=Joystick
Name[pt_BR]=Joystick
Name[ro]=Joystick
Name[ru]=Джойстик
Name[se]=Stivrensággi
Name[si]=ජෝයිස්ටික්
Name[sk]=Joystick
Name[sl]=Igralna palica
Name[sr]=Џојстик
Name[sr@ijekavian]=Џојстик
Name[sr@ijekavianlatin]=Džojstik
Name[sr@latin]=Džojstik
Name[sv]=Styrspak
Name[ta]=இயக்கு கருவி
Name[te]=జాయ్ స్టిక్
Name[tg]=Ҷойстик
Name[th]=แท่งควบคุม
Name[tr]=Oyun Çubuğu
Name[ug]=ئويۇن دەستىسى(رول)
Name[uk]=Джойстик
Name[uz]=Joystik
Name[uz@cyrillic]=Жойстик
Name[vi]=Joystick
Name[wa]=Djîsse di djeu
Name[xh]=Uvuyo
Name[x-test]=xxJoystickxx
Name[zh_CN]=游戏杆
Name[zh_TW]=搖桿

X-KDE-Keywords=joystick,gamepad,controller
X-KDE-Keywords[ar]=عصا ألعاب,متحكّم,جويستك
X-KDE-Keywords[bs]=dzojstik
X-KDE-Keywords[ca]=palanca de control,comandament de joc,controlador
X-KDE-Keywords[ca@valencia]=palanca de control,comandament de joc,controlador
X-KDE-Keywords[da]=joystick,gamepad,controller
X-KDE-Keywords[de]=Joystick,Gamepad,Spielsteuerung
X-KDE-Keywords[el]=χειριστήριο,πληκτρολόγιο παιχνιδιών,ελεγκτής
X-KDE-Keywords[en_GB]=joystick,gamepad,controller
X-KDE-Keywords[es]=joystick,gamepad,controlador
X-KDE-Keywords[et]=juhtpult,juhtkang,kontroller
X-KDE-Keywords[eu]=kontrol-palanka,joko-teklatua,kontroladorea
X-KDE-Keywords[fi]=peliohjain,sauvaohjain,ohjain
X-KDE-Keywords[fr]=joystick, gamepad, contrôleur
X-KDE-Keywords[ga]=luamhán stiúrtha,ceap cluiche,rialaitheoir
X-KDE-Keywords[gl]=joystick, gamepad, controlador
X-KDE-Keywords[hu]=botkormány,játéktábla,vezérlő
X-KDE-Keywords[ia]=joystick,gamepad,controlator
X-KDE-Keywords[id]=tongkat ria,papan permainan,kontroler
X-KDE-Keywords[it]=joystick,gamepad,controller
X-KDE-Keywords[kk]=joystick,gamepad,controller
X-KDE-Keywords[km]=joystick,gamepad,controller
X-KDE-Keywords[ko]=joystick,gamepad,controller,조이스틱,컨트롤러
X-KDE-Keywords[mr]=जॉयस्टिक, गेमपॅड, कन्ट्रोलर
X-KDE-Keywords[nb]=styrespak,spillepute,kontroller
X-KDE-Keywords[nds]=Stüerknüppel,Speelknüppel,Speelstüer-Reedschap,Speelstüern,Stüern,Kontroller,Speelkuntrull
X-KDE-Keywords[nl]=joystick,spelpad,besturing
X-KDE-Keywords[nn]=styrespak,spelkontrollar,kontrollar
X-KDE-Keywords[pa]=ਜਾਏਸਟਿੱਕ,ਗੇਮਪੈਡ,ਕੰਟਰੋਲਰ
X-KDE-Keywords[pl]=joystick,gamepad,kontroler
X-KDE-Keywords[pt]=joystick,comando,controlador
X-KDE-Keywords[pt_BR]=joystick,gamepad,controle
X-KDE-Keywords[ru]=joystick,gamepad,controller,джойстик,геймпад,контроллер
X-KDE-Keywords[sk]=joystick,gamepad,ovládač
X-KDE-Keywords[sl]=igralna palica,igralni plošček,igralne naprave,krmilnik
X-KDE-Keywords[sr]=joystick,gamepad,controller,џојстик,гејмпад,управљач
X-KDE-Keywords[sr@ijekavian]=joystick,gamepad,controller,џојстик,гејмпад,управљач
X-KDE-Keywords[sr@ijekavianlatin]=joystick,gamepad,controller,džojstik,gejmpad,upravljač
X-KDE-Keywords[sr@latin]=joystick,gamepad,controller,džojstik,gejmpad,upravljač
X-KDE-Keywords[sv]=styrspak,handkontroll,styrning
X-KDE-Keywords[tr]=oyun çubuğu, denetleyici,joystick, oyun oynama kolu
X-KDE-Keywords[uk]=joystick,gamepad,джойстик,геймпад,контролер
X-KDE-Keywords[vi]=Joystick,bàn điều khiển trò chơi
X-KDE-Keywords[x-test]=xxjoystickxx,xxgamepadxx,xxcontrollerxx
X-KDE-Keywords[zh_CN]=joystick,gamepad,controller,手柄,摇杆,控制器
X-KDE-Keywords[zh_TW]=joystick,gamepad,controller
