[Desktop Entry]
Exec=kcmshell5 joystick

X-DocPath=kcontrol/joystick/index.html
Terminal=false
Type=Service
Icon=preferences-desktop-gaming
Categories=Qt;KDE;X-KDE-settings-hardware;

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_joystick
X-KDE-Test-Module=true
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-ParentApp=kcontrol
X-KDE-Weight=70

Comment=Joystick settings
Comment[nl]=Joystick instellen
Comment[uk]=Параметри джойстика
Comment[x-test]=xxJoystick settingsxx
Name=Joystick
Name[nl]=Joystick
Name[uk]=Джойстик
Name[x-test]=xxJoystickxx

X-KDE-Keywords=joystick,gamepad,controller
X-KDE-Keywords[nl]=joystick,spelpad,besturing
X-KDE-Keywords[uk]=joystick,gamepad,джойстик,геймпад,контролер
X-KDE-Keywords[x-test]=xxjoystick,gamepad,controllerxx
