[Desktop Entry]
Name=Input Method Panel
Name[ca]=Plafó del mètode d'entrada
Name[es]=Panel del método de entrada
Name[nl]=Invoermethodepaneel
Name[pt]=Painel de Introdução de Dados
Name[pt_BR]=Painel do método de introdução de caracteres
Name[sk]=Panel vstupnej metódy
Name[sv]=Panel for inmatningsmetod
Name[uk]=Панель способів введення
Name[x-test]=xxInput Method Panelxx
Comment=A generic input method panel
Comment[ca]=Un plafó pel mètode d'entrada genèric
Comment[es]=Un panel de método de entrada genérico
Comment[nl]=Een paneel met een algemene invoermethode
Comment[pt]=Um painel de introdução de dados genérico
Comment[pt_BR]=Painel geral do método de introdução de caracteres
Comment[sk]=Všeobecný panel vstupnej metódy
Comment[sv]=En generell panel för inmatningsmetod
Comment[uk]=Загальна панель методів введення
Comment[x-test]=xxA generic input method panelxx
Keywords=Input;IM;
Keywords[ca]=Entrada;Input;IM;
Keywords[es]=Entrada;ME;
Keywords[nl]=Invoer;IM;
Keywords[pt]=Entrada;IM;
Keywords[pt_BR]=Entrada;Introdução de Caracteres;
Keywords[sk]=Vstup;IM;
Keywords[sv]=Inmatning;IM;
Keywords[uk]=Input;IM;введення;способи введення;ввід;
Keywords[x-test]=xxInputxx;xxIMxx;
Type=Service
Icon=draw-freehand
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Weng Xuetian
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.kimpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
