[Desktop Entry]
Exec=kcmshell5 cursortheme
Icon=edit-select
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cursortheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=workspacetheme
X-DocPath=kcontrol/cursortheme/index.html
X-KDE-Weight=60

Name=Cursor Theme
Name[ar]=سمة المؤشّر
Name[ast]=Tema del cursor
Name[bg]=Тема за курсора
Name[bn]=কার্সর থীম
Name[bs]=Tema pokazivača
Name[ca]=Tema de cursor
Name[ca@valencia]=Tema de cursor
Name[cs]=Motiv kurzorů
Name[da]=Markørtema
Name[de]=Zeigerdesign
Name[el]=Θέμα δρομέα
Name[en_GB]=Cursor Theme
Name[es]=Tema de cursores
Name[et]=Kursoriteema
Name[eu]=Kurtsorearen gaia
Name[fi]=Osoitinteema
Name[fr]=Thème du pointeur de la souris
Name[ga]=Téama Cúrsóra
Name[gl]=Tema do cursor
Name[he]=ערכת־נושא למצביע העכבר
Name[hi]=संकेतक प्रसंग
Name[hr]=Tema pokazivača
Name[hu]=Kurzortéma
Name[ia]=Thema de cursor
Name[id]=Tema Kursor
Name[is]=Bendilþema
Name[it]=Tema dei puntatori
Name[ja]=カーソルテーマ
Name[kk]=Меңзер нақышы
Name[km]=ស្បែក​ទស្សន៍ទ្រនិច
Name[kn]=ಸ್ಥಳಸೂಚಕ (ಕರ್ಸರ್) ಪರಿಸರವಿನ್ಯಾಸ
Name[ko]=커서 테마
Name[lt]=Žymeklių apipavidalinimas
Name[lv]=Kursora tēma
Name[mr]=कर्सर शैली
Name[nb]=Pekertema
Name[nds]=Wieserutsehn
Name[nl]=Cursorthema
Name[nn]=Peikartema
Name[pa]=ਕਰਸਰ ਥੀਮ
Name[pl]=Zestawy wskaźników
Name[pt]=Tema de Cursores
Name[pt_BR]=Tema de cursores
Name[ro]=Tematica de cursor
Name[ru]=Тема курсоров
Name[sk]=Téma kurzora
Name[sl]=Tema kazalke
Name[sr]=Тема показивача
Name[sr@ijekavian]=Тема показивача
Name[sr@ijekavianlatin]=Tema pokazivača
Name[sr@latin]=Tema pokazivača
Name[sv]=Muspekartema
Name[th]=ชุดเคอร์เซอร์
Name[tr]=İmleç Teması
Name[ug]=نۇربەلگە ئۆرنىكى
Name[uk]=Тема вказівника
Name[vi]=Sắc thái con trỏ
Name[wa]=Tinme do cursoe
Name[x-test]=xxCursor Themexx
Name[zh_CN]=光标主题
Name[zh_TW]=游標主題

Comment=Mouse Cursor Theme
Comment[ar]=سمة مؤشّر الفأرة
Comment[ast]=Tema del cursor del mur
Comment[bs]=Tema kursora miša
Comment[ca]=Tema de cursor del ratolí
Comment[ca@valencia]=Tema de cursor del ratolí
Comment[cs]=Motiv kurzorů myši
Comment[da]=Markørtema
Comment[de]=Mauszeigerdesign
Comment[el]=Θέμα δρομέα ποντικιού
Comment[en_GB]=Mouse Cursor Theme
Comment[es]=Tema de cursores del ratón
Comment[et]=Hiirekursori teema
Comment[fi]=Osoitinteema
Comment[fr]=Thème du pointeur de la souris
Comment[gl]=Tema do cursor
Comment[he]=ערכת־נושא למצביעי העכבר
Comment[hu]=Egérkurzor témája
Comment[id]=Tema Kursor Tetikus
Comment[is]=Bendilþema fyrir mús
Comment[it]=Tema dei puntatori del mouse
Comment[ja]=マウスカーソルテーマ
Comment[ko]=마우스 커서 테마
Comment[lt]=Žymeklių apipavidalinimas
Comment[mr]=माउस कर्सर शैली
Comment[nb]=Musepekertema
Comment[nds]=Utsehn vun den Muuswieser
Comment[nl]=Muiscursorthema
Comment[nn]=Peikartema
Comment[pa]=ਮਾਊਸ ਕਰਸਰ ਥੀਮ
Comment[pl]=Zestawy wskaźników myszy
Comment[pt]=Tema de Cursores do Rato
Comment[pt_BR]=Tema de cursores do mouse
Comment[ru]=Тема курсоров мыши
Comment[sk]=Téma kurzora myši
Comment[sl]=Tema miškine kazalke
Comment[sr]=Тема показивача миша
Comment[sr@ijekavian]=Тема показивача миша
Comment[sr@ijekavianlatin]=Tema pokazivača miša
Comment[sr@latin]=Tema pokazivača miša
Comment[sv]=Muspekartema
Comment[tr]=Fare İmleç Teması
Comment[uk]=Тема вказівника миші
Comment[x-test]=xxMouse Cursor Themexx
Comment[zh_CN]=鼠标光标主题
Comment[zh_TW]=滑鼠游標主題

X-KDE-Keywords=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance
X-KDE-Keywords[ar]=فأرة,مؤشّر,مؤشر,سمة,ثيم,مظهر المؤشّر,لون المؤشّر,سمة المؤشّر,سمة الفأرة,مظهر الفأرة,بشرات الفأرة,ألوان المؤشّر,مظهر المؤشّر
X-KDE-Keywords[ast]=Mur,Cursor,Tema,Aspeutu de cursor,Color de cursor,Tema de cursor,Tema del mur, Aspeutu del mur,Colores del punteru,Aspeutu del punteru
X-KDE-Keywords[bs]=Miš,kursor,tema,pojavljivanje kurosra,boja kursora,tema kursora,tema miša,pojavljivanje miša,površina miša,pokazatelj boja,pojava boja
X-KDE-Keywords[ca]=Ratolí,Cursor,Tema,Aparença de cursor,Color de cursor,Tema de cursor,Tema de ratolí,Aparença de ratolí,Pells de ratolí,Colors d'apuntador,Aparença d'apuntador
X-KDE-Keywords[ca@valencia]=Ratolí,Cursor,Tema,Aparença de cursor,Color de cursor,Tema de cursor,Tema de ratolí,Aparença de ratolí,Pells de ratolí,Colors d'apuntador,Aparença d'apuntador
X-KDE-Keywords[da]=Mus,markør,cursor,tema,markørens udseende,markørfarve,markørtema,musetema,musens udseende,museskin
X-KDE-Keywords[de]=Maus,Zeiger,Mauszeiger,Zeigerfarbe,Zeigerdesign
X-KDE-Keywords[el]=ποντίκι,δρομέας,θέμα,εμφάνιση δρομέα,χρώμα δρομέα,θέμα δρομέα,θέμα ποντικιού,εμφάνιση ποντικιού,θέματα ποντικιού,χρώματα δείκτη,εμφάνιση δείκτη
X-KDE-Keywords[en_GB]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Colour,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colours,Pointer Appearance
X-KDE-Keywords[es]=Ratón,Cursor,Tema,Apariencia del cursor,Color del cursor,Tema del cursor,Tema del ratón,Apariencia del ratón,Pieles del ratón,Colores del puntero,Apariencia del puntero
X-KDE-Keywords[et]=Hiir,Kursor,Teema,Kursori välimus,Kursori värv,Kursori teema,Hiireteema,Hiire välimus,Hiire nahad,Osutusseadme värvid,Osutusseadme välimus
X-KDE-Keywords[eu]=sagu,kurtsore,gai,kurtsorearen itsura,kurtsorearen kolorea,saguaren gaia,saguaren itxura,saguaren azalak,erakuslearen koloreak,erakuslearen itxura
X-KDE-Keywords[fi]=hiiri,osoitin,teema,osoittimen ulkoasu,osoittimen väri,osoitinteema,hiiren teema,hiiriteema,hiiren ulkoasu,hiiriteemat,osoitinvärit
X-KDE-Keywords[fr]=Souris, Curseur, Thème, Apparence du curseur, Couleur du curseur, Thème de curseurs, Thème de la souris, Apparence de la souris, Revêtement de la souris, Couleur du pointeur, Apparence du pointeur
X-KDE-Keywords[gl]=rato, cursor, tema, aparencia do cursor, cor do cursor, tema do cursor, tema do rato, aparencia do rato, cor do rato, punteiro, cor do punteiro, aparencia do punteiro, tema do punteiro
X-KDE-Keywords[hu]=Egér,Kurzor,Téma,Kurzormegjelenés,Kurzorszín,Kurzortéma,Egértéma,Egérmegjelenés,Egérfelületek,Mutató színek,Mutató megjelenés
X-KDE-Keywords[ia]=Mus,Cursor,Thema,Apparentia,Cursor,Color,Thema de Cursor,Thema de Mus, Apparentia de Mus,Pelles de Mus,Colores de punctator,Apparentia de punctator
X-KDE-Keywords[id]=Tetikus,Kursor,Tema,Tampilan Kursor,Warna Kursor,Tema Kursor,Tema Tetikus,Tampilan Tetikus,Kulit Tetikus,Warna Penunjuk,Tampilan Penunjuk
X-KDE-Keywords[it]=Mouse,Puntatore,Aspetto puntatore,Colore puntatore,Tema puntatore,Tema mouse,Aspetto mouse,Skin mouse,Colore puntatore,Aspetto puntatore
X-KDE-Keywords[kk]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance
X-KDE-Keywords[km]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance
X-KDE-Keywords[ko]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance,마우스,커서,커서 테마,포인터
X-KDE-Keywords[mr]=माऊस, कर्सर, थीम, कर्सर, अपिरिअन्स, कर्सर, कलर, कर्सर थीम, माऊस थीम, माऊस अपिरिअन्स, माऊस स्कीन्स, पॉईटर अपिरिअन्स
X-KDE-Keywords[nb]=Mus,peker,tema,pekerutseende,pekerfarge,pekertema,musetema,musutseende,museskins,pekerfarger,pekeerutseende
X-KDE-Keywords[nds]=Muus,Wieser,Muster, Wieserutsehn,Klöör,Utsehn
X-KDE-Keywords[nl]=Muis,Cursor,Thema,Uiterlijk van cursor,kleur van cursor,Thema van cursor,Thema van muis,uiterlijk van muis,Muisoppervlak,Kleuren van aanwijzer,Uiterlijk van aanwijzer
X-KDE-Keywords[nn]=mus,peikar,tema,peikarutsjånad,peikarfarge,peikartema,musetema,musutsjånad,musedrakt,peikarfargar,peikarutsjånad
X-KDE-Keywords[pl]=Mysz,Kursor,Motyw,Wygląd kursora,Kolor kursora,Motyw kursora,Motyw myszy,Wygląd myszy,Skórki myszy,Kolory wskaźnika,Wygląd wskaźnika
X-KDE-Keywords[pt]=Rato,Cursor,Tema,Aparência do Cursor,Cor do Cursor,Tema do Cursor,Tema do Rato,Aparência do Rato,Visuais do Rato,Cores do Cursor
X-KDE-Keywords[pt_BR]=Mouse,Cursor,Tema,Aparência do cursor,Cor do cursor,Tema do cursor,Tema do mouse,Aparência do mouse,Visuais do mouse,Cores do ponteiro,Aparência do ponteiro
X-KDE-Keywords[ru]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance,мышь,курсор,тема,внешний вид курсора мыши,цвет указателя,внешний вид указателя
X-KDE-Keywords[sk]=Myš, kurzor,téma,vzhľad kurzora,farba kurzora,téma kurzora,téma myši,vzhľad myši,skiny myši,farby ukazovateľa,vzhľad ukazovateľa
X-KDE-Keywords[sl]=miška,kazalec,kurzor,kazalka,tema,videz kazalca,videz kazalke,barva kazalca,barva kazalke,tema kazalcev,tema kazalk,tema miške,videz miške,preobleke miške,teme miške
X-KDE-Keywords[sr]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance,миш,показивач,курсор,тема,изглед показивача,боја показивача,тема показивача,тема миша,изглед миша,пресвлаке миша,боје показивача
X-KDE-Keywords[sr@ijekavian]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance,миш,показивач,курсор,тема,изглед показивача,боја показивача,тема показивача,тема миша,изглед миша,пресвлаке миша,боје показивача
X-KDE-Keywords[sr@ijekavianlatin]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance,miš,pokazivač,kursor,tema,izgled pokazivača,boja pokazivača,tema pokazivača,tema miša,izgled miša,presvlake miša,boje pokazivača
X-KDE-Keywords[sr@latin]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance,miš,pokazivač,kursor,tema,izgled pokazivača,boja pokazivača,tema pokazivača,tema miša,izgled miša,presvlake miša,boje pokazivača
X-KDE-Keywords[sv]=Mus,Pekare,Tema,Utseende,Färg,Pekartema,Mustema,Musutseende,Musskal,Pekarfärger,Pekarutseende
X-KDE-Keywords[tr]=Fare,İşaretçi,Tema,İşaretçi Görünümü,İşaretçi Rengi,İşaretçi Teması,Fare Teması,Fare Görünümü,Fare Kabuğu,İşaretçi Renkleri,İşaretçi Görünümü
X-KDE-Keywords[uk]=миша,вказівник,тема,вигляд вказівника,колір вказівника,тема вказівника,тема миші,вигляд миші,Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance
X-KDE-Keywords[x-test]=xxMousexx,xxCursorxx,xxThemexx,xxCursor Appearancexx,xxCursor Colorxx,xxCursor Themexx,xxMouse Themexx,xxMouse Appearancexx,xxMouse Skinsxx,xxPointer Colorsxx,xxPointer Appearancexx
X-KDE-Keywords[zh_CN]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance,鼠标,指针,主题,指针外观,指针颜色,指针主题,鼠标主题,鼠标外观,鼠标皮肤,指针外观
X-KDE-Keywords[zh_TW]=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance
