[Desktop Entry]
Exec=kcmshell5 componentchooser
Icon=preferences-desktop-default-applications
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_componentchooser
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior
X-DocPath=kcontrol/componentchooser/index.html

Name=Default Applications
Comment=Choose the default components for various services

X-KDE-Keywords=default applications,components,component chooser,resources,e-mail,email client,text editor,instant messenger,terminal emulator,web browser,URL,hyperlinks
