[Desktop Entry]
Exec=kcmshell5 componentchooser
Icon=preferences-desktop-default-applications
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_componentchooser
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior
X-DocPath=kcontrol/componentchooser/index.html

Name=Default Applications
Name[uk]=Типові програми
Name[x-test]=xxDefault Applicationsxx
Comment=Choose the default components for various services
Comment[uk]=Вибір типових компонентів для різноманітних служб
Comment[x-test]=xxChoose the default components for various servicesxx

X-KDE-Keywords=default applications,components,component chooser,resources,e-mail,email client,text editor,instant messenger,terminal emulator,web browser,URL,hyperlinks
X-KDE-Keywords[uk]=default applications,components,component chooser,resources,e-mail,email client,text editor,instant messenger,terminal emulator,web browser,URL,hyperlinks,програма,додаток,типовий,типова,вибір,компонент,ресурс,пошта,поштовий,повідомлення,редактор,текст,текстовий редактор,спілкування,обмін повідомленнями,емулятор,термінал,переглядач,перегляд,інтернет,сторінка,сторінки,посилання,адреси,адреса
X-KDE-Keywords[x-test]=xxdefault applications,components,component chooser,resources,e-mail,email client,text editor,instant messenger,terminal emulator,web browser,URL,hyperlinksxx
