Name=A nice name you have chosen for your interface
Comment=A helpful description of the interface for the top right info box

configurationType=Possible values are component and application. Only component is handled at the moment though
ServiceTypeToConfigure=The service type, which should be  configured. If this line is empty you have to provide a plugin (not supported yet)
defaultImplementation=The name of the default implementation as it would be returned by KService::desktopEntryName()
storeInFile=default_components //the file where the setting should be saved (default_components sounds reasonable for a central storage)
valueSection=The desktop section, where the setting should be stored
valueName=the name of the  value entry
