[Desktop Entry]
Type=Application
Exec=systemsettings kcm_componentchooser
NoDisplay=true

Name=Default Applications
Name[af]=Verstektoepassings
Name[ar]=التطبيقات المبدئية
Name[ast]=Aplicaciones predeterminaes
Name[az]=Standart Tətbiqlər
Name[be]=Праграмы па змаўчанні
Name[be@latin]=Zmoŭčanyja aplikacyi
Name[bg]=Стандартни програми
Name[bn]=ডিফল্ট অ্যাপলিকেশন
Name[bn_IN]=ডিফল্ট অ্যাপ্লিকেশন
Name[bs]=Podrazumijevani programi
Name[ca]=Aplicacions predeterminades
Name[ca@valencia]=Aplicacions predeterminades
Name[cs]=Výchozí aplikace
Name[csb]=Domëslné programë
Name[da]=Standardprogrammer
Name[de]=Standard-Anwendungen
Name[el]=Προκαθορισμένες εφαρμογές
Name[en_GB]=Default Applications
Name[eo]=Aprioraj aplikaĵoj
Name[es]=Aplicaciones predeterminadas
Name[et]=Vaikimisi rakendused
Name[eu]=Aplikazio lehenetsiak
Name[fa]=کاربردهای پیش‌فرض
Name[fi]=Oletusohjelmat
Name[fr]=Applications par défaut
Name[fy]=Standert applikaasjes
Name[ga]=Feidhmchláir Réamhshocraithe
Name[gl]=Aplicacións predeterminadas
Name[gu]=મૂળભૂત કાર્યક્રમો
Name[he]=תוכניות ברירת־מחדל
Name[hi]=डिफ़ॉल्ट अनुप्रयोग
Name[hne]=डिफाल्ट अनुपरयोग
Name[hr]=Zadane aplikacije
Name[hsb]=Standardne aplikacije
Name[hu]=Alapértelmezett alkalmazások
Name[ia]=Applicationes predefinite
Name[id]=Aplikasi Bawaan
Name[is]=Sjálfgefin forrit
Name[it]=Applicazioni predefinite
Name[ja]=デフォルトのアプリケーション
Name[kk]=Әдетті қолданбалары
Name[km]=កម្មវិធី​លំនាំដើម​
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ (ಡಿಫಾಲ್ಟ್) ಅನ್ವಯಗಳು
Name[ko]=기본 프로그램
Name[ku]=Sepanên Standard
Name[lt]=Numatytosios programos
Name[lv]=Noklusētās programmas
Name[mai]=पूर्वनिर्धारित अनुप्रयोग
Name[mk]=Стандардни апликации
Name[ml]=സഹജമായ പ്രയോഗങ്ങള്‍
Name[mr]=मूलभूत अनुप्रयोग
Name[nb]=Standardprogrammer
Name[nds]=Standardprogrammen
Name[ne]=पूर्वनिर्धारित अनुप्रयोग
Name[nl]=Standaard-toepassingen
Name[nn]=Standardprogram
Name[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ ପ୍ରୟୋଗଗୁଡ଼ିକ
Name[pa]=ਡਿਫਾਲਟ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Domyślne programy
Name[pt]=Aplicações Predefinidas
Name[pt_BR]=Aplicativos padrão
Name[ro]=Aplicații implicite
Name[ru]=Приложения по умолчанию
Name[si]=පෙරනිමි යෙදුම්
Name[sk]=Štandardné aplikácie
Name[sl]=Privzeti programi
Name[sr]=Подразумевани програми
Name[sr@ijekavian]=Подразумијевани програми
Name[sr@ijekavianlatin]=Podrazumijevani programi
Name[sr@latin]=Podrazumevani programi
Name[sv]=Standardprogram
Name[ta]=இயல்பிருப்பு செயலிகள்
Name[te]=అప్రమెయ కార్యక్షేత్రాలు
Name[tg]=Барномаҳои стандартӣ
Name[th]=โปรแกรมปริยายต่าง ๆ
Name[tr]=Öntanımlı Uygulamalar
Name[ug]=كۆڭۈلدىكى پروگراممىلار
Name[uk]=Типові програми
Name[uz]=Andoza dasturlar
Name[uz@cyrillic]=Андоза дастурлар
Name[vi]=Ứng dụng mặc định
Name[wa]=Prémetous programes
Name[x-test]=xxDefault Applicationsxx
Name[zh_CN]=默认程序
Name[zh_TW]=預設應用程式
Encoding=UTF-8
Icon=preferences-desktop-default-applications
