[Desktop Entry]
GenericName=Color scheme editor
GenericName[ca]=Editor de l'esquema de color
GenericName[ca@valencia]=Editor de l'esquema de color
GenericName[cs]=Editor barevných schémat
GenericName[da]=Editor til farvetema
GenericName[de]=Farbschema-Editor
GenericName[el]=Επεξεργαστής θεμάτων χρωμάτων 
GenericName[en_GB]=Colour scheme editor
GenericName[es]=Editor de esquemas de color
GenericName[et]=Värviskeemi redaktor
GenericName[eu]=Kolore-eskemen editorea
GenericName[fi]=Väriteemamuokkain
GenericName[fr]=Éditeur de schémas de couleurs
GenericName[gl]=Editor de esquemas de cores
GenericName[he]=עורך ערכת צבעים
GenericName[hu]=Színséma-szerkesztő
GenericName[id]=Pengedit skema warna
GenericName[it]=Editor dello schema di colore
GenericName[ko]=색 배열 편집기
GenericName[lt]=Spalvų rinkinių redaktorius
GenericName[nl]=Bewerker van kleurenschema
GenericName[nn]=Rediger fargeoppsett
GenericName[pa]=ਰੰਗ ਸਕੀਮ ਐਡੀਟਰ
GenericName[pl]=Edytor zestawu kolorów
GenericName[pt]=Editor de esquemas de cores
GenericName[pt_BR]=Editor de esquema de cores
GenericName[ru]=Редактор цветовых схем
GenericName[sk]=Editor farebnej schémy
GenericName[sl]=Urejevalnik barvnih shem
GenericName[sr]=Уређивач шема боја
GenericName[sr@ijekavian]=Уређивач шема боја
GenericName[sr@ijekavianlatin]=Uređivač šema boja
GenericName[sr@latin]=Uređivač šema boja
GenericName[sv]=Färgschemaeditor
GenericName[tr]=Renk şema düzenleyicisi
GenericName[uk]=Редактор схем кольорів
GenericName[x-test]=xxColor scheme editorxx
GenericName[zh_CN]=配色编辑器
GenericName[zh_TW]=顏色機制編輯器
Name=KColorSchemeEditor
Name[ca]=KColorSchemeEditor
Name[ca@valencia]=KColorSchemeEditor
Name[cs]=KColorSchemeEditor
Name[da]=KColorSchemeEditor
Name[de]=KColorSchemeEditor
Name[el]=KColorSchemeEditor
Name[en_GB]=KColorSchemeEditor
Name[es]=KColorSchemeEditor
Name[et]=KColorSchemeEditor
Name[eu]=KColorSchemeEditor
Name[fi]=KColorSchemeEditor
Name[fr]=Éditeur de schémas de couleurs
Name[gl]=KColorSchemeEditor
Name[he]=עורך ערכות צבעים של KDE
Name[hu]=KColorSchemeEditor
Name[id]=KColorSchemeEditor
Name[it]=KColorSchemeEditor
Name[ko]=KColorSchemeEditor
Name[lt]=KColorSchemeEditor
Name[nl]=KColorSchemeEditor
Name[nn]=KColorSchemeEditor
Name[pl]=KColorSchemeEditor
Name[pt]=KColorSchemeEditor
Name[pt_BR]=KColorSchemeEditor
Name[ru]=KColorSchemeEditor
Name[sk]=KColorSchemeEditor
Name[sl]=KColorSchemeEditor
Name[sr]=К‑уређивач‑шеме‑боја
Name[sr@ijekavian]=К‑уређивач‑шеме‑боја
Name[sr@ijekavianlatin]=K‑uređivač‑šeme‑boja
Name[sr@latin]=K‑uređivač‑šeme‑boja
Name[sv]=Färgschemaeditor
Name[tr]=KColorSchemeEditor
Name[uk]=KColorSchemeEditor
Name[x-test]=xxKColorSchemeEditorxx
Name[zh_CN]=KColorSchemeEditor
Name[zh_TW]=KColorSchemeEditor
Comment=Plasma color scheme editor
Comment[ca]=Editor de l'esquema de color del Plasma
Comment[ca@valencia]=Editor de l'esquema de color del Plasma
Comment[cs]=Editor barevných schémat Plasma
Comment[da]=Editor til Plasmas farvetema
Comment[de]=Plasma-Farbschema-Editor
Comment[el]=Επεξεργαστής θεμάτων χρωμάτων Plasma
Comment[en_GB]=Plasma colour scheme editor
Comment[es]=Editor de esquemas de color de Plasma
Comment[et]=Plasma värviskeemi redaktor
Comment[eu]=Plasmaren kolore-eskema editorea
Comment[fi]=Plasma-väriteemamuokkain
Comment[fr]=Éditeur de schémas de couleurs de Plasma
Comment[gl]=Editor de esquemas de cores de Plasma.
Comment[he]=עורך ערכות צבעים של Plasma
Comment[hu]=Plasma színséma-szerkesztő
Comment[id]=Pengedit skema warna plasma
Comment[it]=Editor dello schema di colore di Plasma
Comment[ko]=Plasma 색 배열 편집기
Comment[lt]=Plasma spalvų rinkinių redaktorius
Comment[nl]=Bewerker van kleurenschema van Plasma
Comment[nn]=Redigering av fargeoppsett for Plasma
Comment[pa]=ਪਲਾਜ਼ਮਾ ਰੰਗ ਸਕੀਮ ਐਡੀਟਰ
Comment[pl]=Edytor zestawu kolorów
Comment[pt]=Editor de esquemas de cores do Plasma
Comment[pt_BR]=Editor de esquema de cores do Plasma
Comment[ru]=Редактор цветовых схем для Plasma
Comment[sk]=Editor farebnej schémy Plasma
Comment[sl]=Urejevalnik barvnih shem za Plasmo
Comment[sr]=Плазма уређивач шема боја
Comment[sr@ijekavian]=Плазма уређивач шема боја
Comment[sr@ijekavianlatin]=Plasma uređivač šema boja
Comment[sr@latin]=Plasma uređivač šema boja
Comment[sv]=Plasma färgschemaeditor
Comment[tr]=Plasma renk şeması düzenleyicisi
Comment[uk]=Редактор схем кольорів Плазми
Comment[x-test]=xxPlasma color scheme editorxx
Comment[zh_CN]=Plasma 配色编辑器
Comment[zh_TW]=Plasma 顏色機制編輯器
Exec=kcolorschemeeditor
StartupNotify=true
Icon=preferences-desktop-color
Type=Application
Terminal=false
NoDisplay=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Settings;X-KDE-settings-looknfeel;
