[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/paths/index.html
Icon=system-file-manager
Exec=kcmshell5 desktoppath

X-KDE-Library=kcm_desktoppaths
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details
X-KDE-Weight=60

Name=Paths
Name[af]=Soekgidse
Name[ar]=المسارات
Name[as]=পথ
Name[ast]=Caminos
Name[be]=Шляхі
Name[be@latin]=Ściežki
Name[bg]=Пътища
Name[bn]=পাথ (Paths)
Name[bn_IN]=পাথ
Name[br]=Hentoù
Name[bs]=Putanje
Name[ca]=Camins
Name[ca@valencia]=Camins
Name[cs]=Cesty
Name[csb]=Stegnë
Name[cy]=Llwybrau
Name[da]=Stier
Name[de]=Pfade
Name[el]=Κατάλογοι
Name[en_GB]=Paths
Name[eo]=Vojoj
Name[es]=Rutas
Name[et]=Otsinguteed
Name[eu]=Bide-izenak
Name[fa]=مسیرها
Name[fi]=Polut
Name[fr]=Emplacements
Name[fy]=Paden
Name[ga]=Conairí
Name[gl]=Rutas
Name[gu]=માર્ગો
Name[he]=נתיבים
Name[hi]=पथ
Name[hne]=पथ
Name[hr]=Putanje
Name[hsb]=Puće
Name[hu]=Elérési utak
Name[ia]=Percursos
Name[id]=Alamat
Name[is]=Slóðir
Name[it]=Percorsi
Name[ja]=パス
Name[ka]=ბილიკი
Name[kk]=Жолдар
Name[km]=ផ្លូវ
Name[kn]=ಪಥಗಳು (ಪಾತ್)
Name[ko]=경로
Name[ku]=Rêç
Name[lt]=Keliai
Name[lv]=Ceļi
Name[mai]=पथ
Name[mk]=Патеки
Name[ml]=വഴികള്‍
Name[mr]=मार्ग
Name[ms]=Laluan
Name[nb]=Stier
Name[nds]=Padden
Name[ne]=मार्ग
Name[nl]=Paden
Name[nn]=Stiar
Name[oc]=Camins
Name[or]=ପଥଗୁଡ଼ିକ
Name[pa]=ਮਾਰਗ
Name[pl]=Ścieżki
Name[pt]=Localizações
Name[pt_BR]=Caminhos
Name[ro]=Căi
Name[ru]=Пути
Name[se]=Bálgát
Name[si]=මාර්‍ග
Name[sk]=Cesty
Name[sl]=Poti
Name[sr]=Путање
Name[sr@ijekavian]=Путање
Name[sr@ijekavianlatin]=Putanje
Name[sr@latin]=Putanje
Name[sv]=Sökvägar
Name[ta]=பாதைகள்
Name[te]=దారులు
Name[tg]=Роҳчаҳо
Name[th]=พาธ
Name[tr]=Yollar
Name[ug]=يول
Name[uk]=Шляхи
Name[uz]=Yoʻllar
Name[uz@cyrillic]=Йўллар
Name[vi]=Đường dẫn
Name[wa]=Tchimins
Name[xh]=Umendo
Name[x-test]=xxPathsxx
Name[zh_CN]=路径
Name[zh_TW]=路徑

Comment=Change the location important files are stored
Comment[af]=Verander die ligging belangrik lêers word gestoor
Comment[ar]=غيّر المكان المُستخدم لتخزين الملفات المهمة
Comment[as]=গুৰুত্বপূৰ্ণ নথিপত্ৰ সংৰক্ষণ কৰাৰ স্থান সলনি কৰক
Comment[ast]=Camudar l'allugamientu de ficheros importantes
Comment[be]=Змена тэчак для захавання важных файлаў
Comment[be@latin]=Źmiani miescy, dzie zachoŭvajucca važnyja fajły
Comment[bg]=Настройване местоположението на важните файлове
Comment[bn]=বিভিন্ন গুরুত্বপূর্ণ ফাইল কোন অবস্থানে থাকবে তা পরিবর্তন করুন
Comment[bn_IN]=গুরুত্বপূর্ণ ফাইল সংরক্ষণের স্থান পরিবর্তন করুন
Comment[bs]=Promijenite lokaciju gdje su smješteni važni datoteke
Comment[ca]=Canvia la localització d'on seran desats els fitxers importants
Comment[ca@valencia]=Canvia la localització d'on seran guardats els fitxers importants
Comment[cs]=Změna umístění důležitých souborů
Comment[csb]=Môl trzëmaniô wôżnëch lopków
Comment[cy]=Newid lle mae ffeiliau pwysig yn cael eu cadw
Comment[da]=Ændr stedet hvor vigtige filer gemmes
Comment[de]=Ordner für wichtige Dateien ändern
Comment[el]=Αλλάξτε την τοποθεσία στην οποία αποθηκεύονται σημαντικά αρχεία
Comment[en_GB]=Change the location important files are stored
Comment[eo]=Ŝanĝi la lokon, kie oni konservas gravajn dosierojn
Comment[es]=Cambiar la ubicación de archivos importantes
Comment[et]=Oluliste failide asukoha muutmine
Comment[eu]=Aldatu fitxategi garrantzitsuak gordetzen diren kokalekua
Comment[fa]=تغییر محل ذخیره پرونده‌های مهم
Comment[fi]=Tärkeiden tiedostojen tallennuspaikkojen asetukset
Comment[fr]=Changer l'emplacement où les fichiers importants sont stockés
Comment[fy]=Hjir kinne jo de lokaasje fan it bewarjen fan belangrike triemmen wizigje
Comment[ga]=Athraigh an suíomh ina stóráiltear comhaid thábhachtacha
Comment[gl]=Cambia o lugar onde se gardan os ficheiros importantes
Comment[gu]=મહત્વની ફાઇલો સંગ્રહ થાય તે સ્થાન બદલો
Comment[he]=שינוי המיקומים בהם מאוחסנים קבצים חשובים
Comment[hi]=महत्वपूर्ण फ़ाइलों के रखने का स्थान बदलें
Comment[hne]=जरूरी फाइल मन के रखे के जगह बदलव
Comment[hr]=Promijenite lokaciju za smještaj važnih datoteka
Comment[hsb]=Městna změnić, hdźež so wažne dataje namakaja
Comment[hu]=Néhány fontosabb elérési utat lehet itt beállítani
Comment[ia]=Modifica le location ubi files importante es immagazinate
Comment[id]=Ubah lokasi berkas penting disimpan
Comment[is]=Breyta staðsetningu mikilvægra skráa
Comment[it]=Cambia il posto dove vengono salvati i file importanti
Comment[ja]=重要なファイルなどの保存場所を変更
Comment[ka]=მნიშვნელოვანი ფაილბის გეზის ცვლილება შენახულია
Comment[kk]=Маңызды файлдар орналасатын орындарын өзгерту
Comment[km]=ផ្លាស់ប្ដូរ​​ទីតាំង​ដែល​ត្រូវ​ទុក​ឯកសារ​សំខាន់ៗ
Comment[kn]=ಮಖ್ಯ ಕಡತಗಳನ್ನು ಸಂಗ್ರಹಿಸಲಾಗುವ ಸ್ಥಳವನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=중요한 파일이 저장되는 곳 설정
Comment[ku]=Ciyê ku pelên girîng lê tomar dibin biguherîne
Comment[lt]=Pakeiskite svarbių failų saugojimo vietą
Comment[lv]=Mainīt nozīmīgu failu atrašanās vietas
Comment[mai]=महत्वपूर्ण फाइलसभ केर रखबाक स्थान बदलू
Comment[mk]=Сменете ја локацијата каде што се чуваат важни датотеки
Comment[ml]=പ്രധാനപ്പെട്ട ഫയലുകള്‍ സൂക്ഷിച്ച സ്ഥാനം മാറ്റുക
Comment[mr]=महत्वपूर्ण फाईल संयोजनाचे स्थान बदला
Comment[ms]=Ubah lokasi fail penting disimpan
Comment[nb]=Endre plasseringa av viktige filer
Comment[nds]=Den Oort för wichtige Dateien ännern
Comment[ne]=महत्वपूर्ण फाइल भण्डारण गरिएको स्थान परिवर्तन गर्नुहोस्
Comment[nl]=Hier kunt u de locatie voor het opslaan van belangrijke bestanden wijzigen
Comment[nn]=Endra plasseringa av viktige filer
Comment[or]=ଦରକାରି ଫାଇଲଗୁଡ଼ିକୁ ସଂରକ୍ଷିତ କରାଯାଇଥିବା ସ୍ଥାନକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਜ਼ਰੂਰੀ ਫਾਇਲਾਂ ਸੰਭਾਲਣ ਲਈ ਟਿਕਾਣਾ ਤਬਦੀਲ
Comment[pl]=Zmiana miejsca przechowywania ważnych plików
Comment[pt]=Alterar as localizações onde os ficheiros importantes estão guardados
Comment[pt_BR]=Altera o local de armazenamento dos arquivos importantes
Comment[ro]=Modifică locul de stocare a fișierelor importante
Comment[ru]=Пути к важным файлам
Comment[se]=Rievdat báikkiid gosa dehálaš fiillat bidjut
Comment[si]=වැදගත් ගොනු ගබඩා කර ඇති ස්ථානය වෙනස් කරන්න
Comment[sk]=Zmena umiestnenia dôležitých súborov
Comment[sl]=Spremenite mesta shranjevanja pomembnih datotek
Comment[sr]=Промените локацију где су смештени важни фајлови
Comment[sr@ijekavian]=Промијените локацију гдје су смјештени важни фајлови
Comment[sr@ijekavianlatin]=Promijenite lokaciju gdje su smješteni važni fajlovi
Comment[sr@latin]=Promenite lokaciju gde su smešteni važni fajlovi
Comment[sv]=Ändra plats för lagring av viktiga filer
Comment[ta]=முக்கிய கோப்புகள் சேகரிக்கப்பட்டுள்ள இடத்தை மாற்று
Comment[te]=ముఖ్యమైన దస్త్రములు నిల్వవుంచు స్థానమును మార్చుము
Comment[tg]=Ҷойгиршавии файлҳои лозимӣ
Comment[th]=เปลี่ยนตำแหน่งที่เก็บแฟ้มที่สำคัญต่าง ๆ
Comment[tr]=Önemli dosyaların kaydedildiği yerleri düzenle
Comment[ug]=مۇھىم ھۆججەت ساقلايدىغان ئورۇننى ئۆزگەرت
Comment[uk]=Зміна адреси зберігання важливих файлів
Comment[uz]=Muhim fayllarning joylashgan joyini oʻzgartirish
Comment[uz@cyrillic]=Муҳим файлларнинг жойлашган жойини ўзгартириш
Comment[vi]=Thay đổi đường dẫn tới các tập tin quan trọng
Comment[wa]=Candjî l' eplaeçmint ki les fitchîs impôrtants sont wårdés
Comment[xh]=Tshintsha indawo apho zibekwa kona iifayile ezibalulekileyo
Comment[x-test]=xxChange the location important files are storedxx
Comment[zh_CN]=更改重要文件存储的位置
Comment[zh_TW]=改變儲存重要檔案的位置
X-KDE-Keywords=konqueror,dolphin,files,filemanager,path, paths,desktop,directories,autostart,downloads,music,documents,movies,pictures
X-KDE-Keywords[bs]=konqueror, delfin, datoteke, menadžer datoteka, put, putevi, desktop, upute, autostart, preuuzimanja, muzika, dokumenti, filmovi, slike
X-KDE-Keywords[ca]=konqueror,dolphin,fitxers,gestor de fitxers,camí,camins,escriptori,directoris,inici automàtic,baixades,música,documents,pel·lícules,imatges
X-KDE-Keywords[ca@valencia]=konqueror,dolphin,fitxers,gestor de fitxers,camí,camins,escriptori,directoris,inici automàtic,baixades,música,documents,pel·lícules,imatges
X-KDE-Keywords[da]=konqueror,dolphin,filhåndtering,stifinder,stier,skrivebord,mapper,autostart,downoad,hentninger,musik,dokumenter,film,billeder,filer,sti
X-KDE-Keywords[de]=Konqueror,Dolphin,Dateien,Dateimanager,Dateiverwaltung,Pfade,Arbeitsfläche,Verzeichnisse,Ordner,Autostart,Download,Herunterladen,Musik,Dokumente,Filme,Bilder
X-KDE-Keywords[el]=konqueror,dolphin,αρχεία,διαχειριστής αρχείων,διαδρομή, διαδρομές,επιφάνεια εργασίας,κατάλογοι,αυτόματη εκκίνηση,λήψεις,μουσική,έγγραφα,κινηματογραφία,εικόνες
X-KDE-Keywords[es]=konqueror,dolphin,archivos,gestor de archivos,ruta,rutas,escritorio,directorios,autoinicio,descargas,música,documentos,películas,imágenes
X-KDE-Keywords[et]=konqueror,dolphin,failid,failihaldur,asukohad,töölaud,kataloogid,autostart,allalaadimised,muusika,dokumendid,filmid,pildid
X-KDE-Keywords[eu]=konqueror,dolphin,fitxategi,fitxategi-kudeatzaile,bide-izen, bide-izenak,mahaigain,direktorio,hasi automatikoki,deskargak,musika,dokumentuak,filmak,irudiak
X-KDE-Keywords[fi]=konqueror,dolphin,tiedostot,tiedostonhallinta,polku,polut,työpöytä,hakemistot,kansiot,automaattikäynnistys,lataukset,musiikki,asiakirjat,elokuvat,kuvat
X-KDE-Keywords[fr]=konqueror, dolphin, fichiers, gestionnaire de fichiers, emplacement, emplacements, bureau, dossiers, démarrage automatique, téléchargements, musique, documents, films, images
X-KDE-Keywords[ga]=konqueror,dolphin,comhaid,bainisteoir comhad,conairí,cosáin,deasc,comhadlanna,tosú uathoibríoch,íosluchtuithe,ceol,cáipéisí,scannáin,pictiúir,grianghraif
X-KDE-Keywords[gl]=konqueror, dolphin, ficheiros, xestor de ficheiros, ruta, rutas, escritorio, cartafoles, inicio automático, descargas, música, documentos, películas, imaxes
X-KDE-Keywords[hu]=konqueror,dolphin,fájlok,fájlkezelő,elérési út, elérési utak,asztal,mappák, automatikus indítás,letöltések,zene,dokumentumok,filmek,képek
X-KDE-Keywords[ia]=konqueror,dolphin,files,gerente de file,percurso,percursos,scriptorio,directorios,autoinitio,discargamentos, musica,documentos,pelliculas,photos
X-KDE-Keywords[it]=konqueror,dolphin,file,gestore dei file,percorso,percorsi,desktop,cartelle,avvio automatico,scaricamenti,musica,documenti,film,immagini
X-KDE-Keywords[kk]=konqueror,dolphin,files,filemanager,path, paths,desktop,directories,autostart,downloads,music,documents,movies,pictures
X-KDE-Keywords[km]=konqueror,dolphin,files,filemanager,path, paths,desktop,directories,autostart,downloads,music,documents,movies,pictures
X-KDE-Keywords[ko]=konqueror,dolphin,files,filemanager,path, paths,desktop,directories,autostart,downloads,music,documents,movies,pictures,파일,파일 관리자,탐색기,디렉터리,다운로드,음악,문서,비디오,그림
X-KDE-Keywords[mr]=कॉन्करर , डॉल्फीन, फाईल्स, फाईल मेनेजर,  पाथस , डेस्कटॉप , डीरेक्टरिज , ऑटोस्टार्ट, डाउनलोडस,म्युझिक, डॉक्युमेंट, मूव्हीज, पिक्चर्स
X-KDE-Keywords[nb]=konqueror,dolphin,filer,filbehandler,sti,stier,skrivebord,mapper,autostart,nedlastinger,musikk,dokumenter,filmer,bilder
X-KDE-Keywords[nds]=Konqueror,Dolphin,Dateien,Dateipleger,Padden,Schriefdisch,Ornern,Vertekens,Autostart,Daalladen,Musik,Dokmenten,Filmen,Biller
X-KDE-Keywords[nl]=konqueror,dolphin,bestanden,bestandsbeheerder,pad,paden,bureaublad,mappen,autostart,downloads,muziek,documenten,films,afbeeldingen
X-KDE-Keywords[pl]=konqueror,dolphin,pliki,menadżer plików,ścieżka,ścieżki,pulpit,katalogi,auto-uruchamianie, pobierania,muzyka,dokumenty,filmy,zdjęcia,autostart
X-KDE-Keywords[pt]=konqueror,gestor de ficheiros,localizações,ecrã,pastas,arranque,transferências,música,documentos,filmes,imagens
X-KDE-Keywords[pt_BR]=konqueror,dolphin,arquivos,gerenciador de arquivos,localização,localizações,caminho,caminhos,área de trabalho,pastas,inicialização,downloads,música,documentos,filmes,imagens
X-KDE-Keywords[ru]=konqueror,dolphin,files,filemanager,path, paths,desktop,directories,autostart,downloads,music,documents,movies,pictures,файлы,диспетчер файлов,путь,местоположение,рабочий стол,директории,каталоги,папки,автозапуск,загрузки,музыка,документы,фильмы,видео,картинки
X-KDE-Keywords[sk]=konqueror,dolphin,súbory,správca súborov,cesta,cesty,plocha,adresáre,automatické spustenie,sťahovania,hudba,dokumenty,filmy,obrázky
X-KDE-Keywords[sl]=konqueror,dolphin,datoteke,upravljalnik datotek,datotečni upravljalnik,poti,namizje,mape,samodejni zagon,prejeto,prejemi,glasba,dokumenti,filmi,slike
X-KDE-Keywords[sr]=konqueror,dolphin,files,filemanager,path,paths,desktop,directories,autostart,downloads,music,documents,movies,pictures,К‑освајач,Делфин,фајлови,менаџер фајлова,путање,путања,површ,фасцикле,самопокретање,преузимање,музика,документи,филмови,слике
X-KDE-Keywords[sr@ijekavian]=konqueror,dolphin,files,filemanager,path,paths,desktop,directories,autostart,downloads,music,documents,movies,pictures,К‑освајач,Делфин,фајлови,менаџер фајлова,путање,путања,површ,фасцикле,самопокретање,преузимање,музика,документи,филмови,слике
X-KDE-Keywords[sr@ijekavianlatin]=konqueror,dolphin,files,filemanager,path,paths,desktop,directories,autostart,downloads,music,documents,movies,pictures,K‑osvajač,Dolphin,fajlovi,menadžer fajlova,putanje,putanja,površ,fascikle,samopokretanje,preuzimanje,muzika,dokumenti,filmovi,slike
X-KDE-Keywords[sr@latin]=konqueror,dolphin,files,filemanager,path,paths,desktop,directories,autostart,downloads,music,documents,movies,pictures,K‑osvajač,Dolphin,fajlovi,menadžer fajlova,putanje,putanja,površ,fascikle,samopokretanje,preuzimanje,muzika,dokumenti,filmovi,slike
X-KDE-Keywords[sv]=konqueror,dolphin,filer,filhanterare,sökväg,sökvägar,skrivbord,kataloger,automatisk start,nerladdningar,musik,dokument,filmer,bilder
X-KDE-Keywords[tr]=konqueror,dolphin,dosyalar,dosya yöneticisi,yol, yollar,masaüstü,dizinler,otomatik başlat,indirmeler,müzik,belgeler,filmler,resimler
X-KDE-Keywords[uk]=konqueror,dolphin,files,filemanager,paths,desktop,directories,autostart,downloads,music,documents,movies,pictures,файл,дельфін,керування,менеджер,шляхи,стільниця,каталог,каталоги,автоматично,автоматичний,запуск,звантаження,завантаження,музика,документи,фільми,відео,зображення,знімки,фотографії
X-KDE-Keywords[x-test]=xxkonqueror,dolphin,files,filemanager,path, paths,desktop,directories,autostart,downloads,music,documents,movies,picturesxx
X-KDE-Keywords[zh_CN]=konqueror,dolphin,files,filemanager,path, paths,desktop,directories,autostart,downloads,music,documents,movies,pictures,文件,文件管理器,路径,桌面,目录,自动启动,下载,音乐,文档,电影,图片
X-KDE-Keywords[zh_TW]=konqueror,dolphin,files,filemanager,path, paths,desktop,directories,autostart,downloads,music,documents,movies,pictures
