[Desktop Entry]
Type=Application
Exec=systemsettings kcm_desktoppaths
NoDisplay=true

Name=Locations
Name[ar]=الأماكن
Name[ast]=Allugamientos
Name[az]=Məkanlar
Name[ca]=Ubicacions
Name[ca@valencia]=Ubicacions
Name[cs]=Umístění
Name[da]=Placeringer
Name[de]=Orte
Name[el]=Τοποθεσίες
Name[en_GB]=Locations
Name[es]=Ubicaciones
Name[et]=Asukohad
Name[eu]=Kokalekuak
Name[fi]=Sijainnit
Name[fr]=Emplacements
Name[gl]=Lugares
Name[he]=מיקומים 
Name[hu]=Helyek
Name[ia]=Locationes
Name[id]=Lokasi
Name[is]=Staðsetningar
Name[it]=Posizioni
Name[ja]=場所
Name[ko]=위치
Name[lt]=Vietos
Name[nl]=Locaties
Name[nn]=Adresser
Name[pa]=ਟਿਕਾਣੇ
Name[pl]=Położenia
Name[pt]=Locais
Name[pt_BR]=Localizações
Name[ro]=Amplasări
Name[ru]=Пути
Name[sk]=Miesta
Name[sl]=Mesta
Name[sr]=Локације
Name[sr@ijekavian]=Локације
Name[sr@ijekavianlatin]=Lokacije
Name[sr@latin]=Lokacije
Name[sv]=Platser
Name[ta]=இடங்கள்
Name[tg]=Ҷойгиршавиҳо
Name[tr]=Konumlar
Name[uk]=Місця
Name[vi]=Địa điểm
Name[x-test]=xxLocationsxx
Name[zh_CN]=地点
Name[zh_TW]=位置

Comment=Location for Personal Files
Comment[ar]=أماكن الملفّات الشّخصيّة
Comment[az]=Məkanlar və Şəxsi fayllar
Comment[ca]=Ubicació per als fitxers personals
Comment[ca@valencia]=Ubicació per als fitxers personals
Comment[cs]=Umístění osobních souborů
Comment[da]=Placering af personlige filer
Comment[de]=Ort für persönlichen Daten
Comment[el]=Τοποθεσία για τα προσωπικά αρχεία
Comment[en_GB]=Location for Personal Files
Comment[es]=Ubicación de los archivos personales
Comment[et]=Isiklike failide asukoht
Comment[eu]=Fitxategi pertsonalen kokalekua
Comment[fi]=Omien tiedostojen sijainnit
Comment[fr]=Emplacement de vos fichiers personnels
Comment[gl]=Lugares dos ficheiros persoais
Comment[he]=מיקומי הקבצים האישים שלך
Comment[hu]=A személyes fájlok helyei
Comment[ia]=Location per files personal
Comment[id]=Lokasi untuk File Personal
Comment[is]=Staðsetning einkaskráa
Comment[it]=Posizione dei file personali
Comment[ja]=個人のファイルの場所
Comment[ko]=개인 파일 위치
Comment[lt]=Asmeninių failų vieta
Comment[nl]=Locatie van persoonlijke bestanden
Comment[nn]=Mapper for personlege filer
Comment[pa]=ਨਿੱਜੀ ਫ਼ਾਇਲਾਂ ਲਈ ਟਿਕਾਣਾ
Comment[pl]=Ścieżki do plików osobistych
Comment[pt]=Localização dos Ficheiros Pessoais
Comment[pt_BR]=Localização dos arquivos pessoais
Comment[ro]=Amplasare pentru fișiere personale
Comment[ru]=Пути к личным файлам
Comment[sk]=Cesta k osobným súborom
Comment[sl]=Mesta osebnih datotek
Comment[sr]=Локације личних фајлова
Comment[sr@ijekavian]=Локације личних фајлова
Comment[sr@ijekavianlatin]=Lokacije ličnih fajlova
Comment[sr@latin]=Lokacije ličnih fajlova
Comment[sv]=Platser för personliga filer
Comment[ta]=உங்கள் கோப்புகளுக்கான இடங்கள்
Comment[tg]=Ҷойгиршавӣ барои файлҳои шахсӣ
Comment[tr]=Kişisel Dosyaların Konumu
Comment[uk]=Місце для особистих файлів
Comment[vi]=Địa điểm dành cho các tệp cá nhân
Comment[x-test]=xxLocation for Personal Filesxx
Comment[zh_CN]=个人文件位置
Comment[zh_TW]=個人檔案的路徑
