[Desktop Entry]
Exec=kcmshell5 cursortheme
Icon=edit-select
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cursortheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-appearance
X-DocPath=kcontrol/cursortheme/index.html

Name=Cursor Theme
Name[uk]=Тема вказівника
Name[x-test]=xxCursor Themexx

Comment=Customize the mouse cursor appearance
Comment[uk]=Налаштування вигляду вказівника миші на екрані
Comment[x-test]=xxCustomize the mouse cursor appearancexx

X-KDE-Keywords=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance
X-KDE-Keywords[uk]=миша,вказівник,тема,вигляд вказівника,колір вказівника,тема вказівника,тема миші,вигляд миші,Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance
X-KDE-Keywords[x-test]=xxMouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearancexx
