[Desktop Entry]
Exec=kcmshell5 cursortheme
Icon=edit-select
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cursortheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-appearance
X-DocPath=kcontrol/cursortheme/index.html

Name=Cursor Theme

Comment=Customize the mouse cursor appearance

X-KDE-Keywords=Mouse,Cursor,Theme,Cursor Appearance,Cursor Color,Cursor Theme,Mouse Theme,Mouse Appearance,Mouse Skins,Pointer Colors,Pointer Appearance
