[Desktop Entry]
Exec=kcmshell5 mouse
Icon=preferences-desktop-mouse
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/mouse/index.html

X-KDE-Library=kcm_input
X-KDE-Init-Symbol=mouse
X-KDE-ParentApp=kcontrol
X-KDE-OnlyShowOnQtPlatforms=xcb;

X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=60

Name=Mouse

Comment=Mouse settings

X-KDE-Keywords=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,Double Click,Single Click,mapping,right handed,left handed,Pointer Device,Mouse Wheel,Mouse Emulation,Mouse Navigation,Mouse Drag and Drop,Mouse Scrolling,Mouse Sensitivity,Move Mouse with Num Pad,Mouse Num Pad Emulation
Categories=Qt;KDE;X-KDE-settings-hardware;
