[Desktop Entry]
Name=Drawing Tablet
Name[ar]=لوح رسم
Name[ca]=Tauleta de dibuix
Name[es]=Tableta de dibujo
Name[fr]=Tablette de dessin
Name[hu]=Rajztábla
Name[it]=Tavoletta da disegno
Name[nl]=Tekentablet
Name[nn]=Teikneplate
Name[pl]=Tablet rysunkowy
Name[sl]=Tablica za risanje
Name[sv]=Ritplatta
Name[uk]=Планшет для малювання
Name[x-test]=xxDrawing Tabletxx

Icon=preferences-desktop-tablet
Type=Application
NoDisplay=true
Exec=systemsettings kcm_tablet
