[Desktop Entry]
Name=Drawing Tablet
Name[ca]=Tauleta de dibuix
Name[es]=Tableta de dibujo
Name[fr]=Tablette de dessin
Name[it]=Tavoletta da disegno
Name[nl]=Tekentablet
Name[sl]=Tablica za risanje
Name[sv]=Ritplatta
Name[uk]=Планшет для малювання
Name[x-test]=xxDrawing Tabletxx

Icon=preferences-desktop-tablet
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_tablet
X-KDE-ServiceTypes=Plasma/Generic
X-KDE-FormFactors=tablet,handset,desktop
X-KDE-Keywords=drawing,tablet,wacom,pen
X-KDE-Keywords[ca]=dibuix,dibuixar,tauleta,wacom,llapis
X-KDE-Keywords[es]=dibujo,tableta,wacom,lápiz
X-KDE-Keywords[fr]=dessin, tablette, wacom, stylet
X-KDE-Keywords[it]=disegno,tavoletta,wacom,penna
X-KDE-Keywords[nl]=tekenen,tablet,wacom,pen
X-KDE-Keywords[sl]=risanje,tablica,wacom,pisalo
X-KDE-Keywords[sv]=ritplatta,platta,wacom,penna
X-KDE-Keywords[uk]=drawing,tablet,wacom,pen,малювання,рисування,планшет,ваком,перо
X-KDE-Keywords[x-test]=xxdrawingxx,xxtabletxx,xxwacomxx,xxpenxx
Categories=Qt;KDE;X-KDE-settings-hardware
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-Library=kcm_tablet
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-OnlyShowOnQtPlatforms=wayland
