[Desktop Entry]
Name=Cute comic
Name[zh_CN]=秦时明月
Comment=Cute comit charactor
Comment[zh_CN]=秦时明月Q版人物

X-KDE-PluginInfo-Name=qin

X-KDE-PluginInfo-Author=Wang Hoi
X-KDE-PluginInfo-Email=zealot.hoi@gmail.com
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KIMPanel-Theme-Color=colors

X-KIMPanel-Theme-StatusbarImage=image.svg
X-KIMPanel-Theme-StatusbarLayout=qin.js

X-KIMPanel-Theme-LookupTableImage=image.svg
X-KIMPanel-Theme-LookupTableLayout=qin.js


