<?xml version="1.0" encoding="UTF-8"?>
<service id="opendesktop-rating">
  <type>opendesktop-rating</type>
  
  <name>Opendesktop Rating</name>
  <icon>get-hot-new-stuff</icon>
  <provider>opendesktop</provider>
  <translations>kaccounts-providers</translations>
</service>
