[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=touchpad
X-KDE-DBus-ModuleName=touchpad
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
Name=Touchpad
Name[ca]=Ratolí tàctil
Name[cs]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[en_GB]=Touchpad
Name[es]=Panel táctil
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[gl]=Touchpad
Name[hu]=Érintőtábla
Name[it]=Touchpad
Name[ja]=タッチパッド
Name[ko]=터치패드
Name[nl]=Touchpad
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[sk]=Touchpad
Name[sl]=Sledilna ploščica
Name[sr]=Додирник
Name[sr@ijekavian]=Додирник
Name[sr@ijekavianlatin]=Dodirnik
Name[sr@latin]=Dodirnik
Name[sv]=Tryckplatta
Name[tr]=Dokunmatik yüzey
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Name[zh_CN]=触摸板
Name[zh_TW]=觸控板
Comment=Enables or disables touchpad
Comment[ca]=Activa o desactiva el ratolí tàctil
Comment[de]=Aktiviert oder deaktiviert das Touchpad
Comment[el]=Ενεργοποιεί ή απενεργοποιεί την επιφάνεια αφής
Comment[en_GB]=Enables or disables touchpad
Comment[es]=Activa o desactiva el panel táctil
Comment[fi]=Ottaa kosketuslevyn käyttöön tai poistaa sen käytöstä
Comment[fr]=Active ou désactive le pavé tactile
Comment[gl]=Activa ou desactiva o touchpad
Comment[hu]=Érintőtábla be/kikapcsolása
Comment[it]=Abilita o disabilita il touchpad
Comment[ja]=タッチパッドを有効化または無効化する
Comment[ko]=터치패드 활성/비활성
Comment[nl]=Schakelt het touchpad in of uit
Comment[pl]=Włącza lub wyłącza gładzik
Comment[pt]=Activa ou desactiva o rato por toque
Comment[pt_BR]=Ativa ou desativa o touchpad
Comment[ru]=Включает или выключает сенсорную панель
Comment[sk]=Povolí alebo zakáže touchpad
Comment[sl]=Omogoči ali onemogoči sledilno ploščico
Comment[sr]=Активира или деактивира додирник
Comment[sr@ijekavian]=Активира или деактивира додирник
Comment[sr@ijekavianlatin]=Aktivira ili deaktivira dodirnik
Comment[sr@latin]=Aktivira ili deaktivira dodirnik
Comment[sv]=Aktiverar eller inaktiverar tryckplattan
Comment[tr]=Dokunmatik yüzeyi etkinleştirir veya kapatır
Comment[uk]=Вмикає або вимикає сенсорну панель
Comment[x-test]=xxEnables or disables touchpadxx
Comment[zh_CN]=启用或禁用触摸板
Comment[zh_TW]=開啟或關閉觸控板
