[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=touchpad
X-KDE-DBus-ModuleName=touchpad
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
Name=Touchpad
Name[ca]=Ratolí tàctil
Name[es]=Panel táctil
Name[nl]=Touchpad
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[sv]=Tryckplatta
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Comment=Enables or disables touchpad
Comment[ca]=Activa o desactiva el ratolí tàctil
Comment[es]=Activa o desactiva el panel táctil
Comment[nl]=Schakelt het touchpad in of uit
Comment[pl]=Włącza lub wyłącza gładzik
Comment[pt]=Activa ou desactiva o rato por toque
Comment[pt_BR]=Ativa ou desativa o touchpad
Comment[sv]=Aktiverar eller inaktiverar tryckplattan
Comment[uk]=Вмикає або вимикає сенсорну панель
Comment[x-test]=xxEnables or disables touchpadxx
