[Desktop Entry]
Exec=kcmshell5 device_automounter_kcm
Icon=drive-removable-media
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_device_automounter
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Keywords=Mount,Removable,Devices,Automatic
X-KDE-Keywords[ca]=Muntatge,Extraïble,Dispositius,Automàtic
X-KDE-Keywords[fi]=Liitä,Liittäminen,Irrotettava,Laitteet,Automaattinen
X-KDE-Keywords[gl]=Montar,Extraíbel,Dispositivo,Automático
X-KDE-Keywords[nl]=Aankoppelen,verwijderbaar,apparaten,automatisch
X-KDE-Keywords[pt]=Montagem,Removível,Dispositivos,Automática
X-KDE-Keywords[pt_BR]=Montagem,Removível,Automática,Dispositivos
X-KDE-Keywords[sv]=Montera,Flyttbar,Enheter,Automatisk
X-KDE-Keywords[uk]=Mount,Removable,Devices,Automatic,монтування,портативний,змінний,пристрій,пристрої,автоматично,автоматичне
X-KDE-Keywords[x-test]=xxMountxx,xxRemovablexx,xxDevicesxx,xxAutomaticxx
X-DocPath=kcontrol/solid-device-automounter/index.html
Name=Removable Devices
Name[ca]=Dispositius extraïbles
Name[fi]=Irrotettavat laitteet
Name[gl]=Dispositivos extraíbeis
Name[nl]=Verwijderbare apparaten
Name[pt]=Dispositivos Removíveis
Name[pt_BR]=Dispositivos removíveis
Name[sv]=Flyttbara enheter
Name[uk]=Портативні пристрої
Name[x-test]=xxRemovable Devicesxx
Comment=Configure automatic handling of removable storage media
Comment[ca]=Configura l'administració automàtica dels suports d'emmagatzematge extraïbles
Comment[fi]=Irrotettavan tallennusmedian automaattisen käsittelyn asetukset
Comment[gl]=Configura a xestión automática dos medios extraíbeis de almacenaxe
Comment[nl]=Automatische behandeling van verwijderbare opslagmedia configureren
Comment[pt]=Configurar o tratamento automático dos dispositivos de armazenamento removíveis
Comment[pt_BR]=Configura o funcionamento automático de mídias removíveis
Comment[sv]=Anpassa automatisk hantering av flyttbara lagringsmedier
Comment[uk]=Налаштувати автоматичну обробку портативних носіїв даних
Comment[x-test]=xxConfigure automatic handling of removable storage mediaxx
Categories=Qt;KDE;Filesystem;System;X-KDE-settings-components;
