[Desktop Entry]
Icon=drive-removable-media
Type=Application
Exec=systemsettings kcm_device_automounter
NoDisplay=true

Name=Removable Devices
Name[ar]=الأجهزة القابلة للإزالة
Name[ast]=Preseos estrayibles
Name[az]=ÇIxarılabilən Cihazlar
Name[bg]=Сменяеми устройства
Name[ca]=Dispositius extraïbles
Name[ca@valencia]=Dispositius extraïbles
Name[cs]=Odpojitelná zařízení
Name[da]=Flytbare enheder
Name[de]=Wechselmedien
Name[el]=Αφαιρούμενες συσκευές
Name[en_GB]=Removable Devices
Name[es]=Dispositivos extraíbles
Name[et]=Eemaldatavad seadmed
Name[eu]=Gailu aldagarriak
Name[fi]=Irrotettavat laitteet
Name[fr]=Périphériques amovibles
Name[gl]=Dispositivos extraíbeis
Name[he]=אחסן נשלף
Name[hu]=Cserélhető eszközök
Name[ia]=Dispositivos removibile
Name[id]=Peranti Dapat Dilepas
Name[is]=Útskiptanleg tæki
Name[it]=Dispositivi rimovibili
Name[ja]=リムーバブル
Name[ko]=이동식 장치
Name[lt]=Keičiamieji įrenginiai
Name[nl]=Verwijderbare apparaten
Name[nn]=Flyttbare einingar
Name[pa]=ਹਟਾਉਣਯੋਗ ਡਿਵਾਈਸ
Name[pl]=Urządzenia wymienne
Name[pt]=Dispositivos Removíveis
Name[pt_BR]=Dispositivos removíveis
Name[ro]=Dispozitive amovibile
Name[ru]=Внешние носители
Name[sk]=Vymeniteľné zariadenia
Name[sl]=Odstranljive naprave
Name[sr]=Уклоњиви уређаји
Name[sr@ijekavian]=Уклоњиви уређаји
Name[sr@ijekavianlatin]=Uklonjivi uređaji
Name[sr@latin]=Uklonjivi uređaji
Name[sv]=Flyttbara enheter
Name[ta]=கழற்றக்கூடிய சாதனங்கள்
Name[tg]=Дастгоҳҳои ҷудошаванда
Name[tr]=Çıkarılabilir Aygıtlar
Name[uk]=Портативні пристрої
Name[vi]=Thiết bị gắn ngoài
Name[x-test]=xxRemovable Devicesxx
Name[zh_CN]=可移动设备
Name[zh_TW]=可移除裝置
Comment=Configure automatic handling of removable storage media
Comment[ar]=اضبط التّعامل الآليّ من مساحات تخزين الوسائط القابلة للإزالة
Comment[ast]=Configura'l montaxe automáticu d'almacenamientos estrayibles
Comment[az]=Xarici məlumat daşıyıcılarının avtomatik qoşulmasını ayarlamaq
Comment[bg]=Конфигуриране на автоматично манипулиране на сменяеми носители
Comment[ca]=Configura l'administració automàtica dels suports d'emmagatzematge extraïbles
Comment[ca@valencia]=Configura l'administració automàtica dels suports d'emmagatzematge extraïbles
Comment[cs]=Nastavit automatické zacházení s odpojitelnými médii
Comment[da]=Indstil automatisk håndtering af flytbare lagringsmedier
Comment[de]=Automatischen Umgang mit Wechselmedien einrichten
Comment[el]=Διαμόρφωση της αυτόματης διαχείρισης των αφαιρούμενων μέσων αποθήκευσης
Comment[en_GB]=Configure automatic handling of removable storage media
Comment[es]=Configurar el manejo automático de medios de almacenamiento extraíbles
Comment[et]=Eemaldatavate andmekandjate automaatse käitlemise seadistamine
Comment[eu]=Konfiguratu biltegiratze gailu aldagarrien kudeaketa automatikoa
Comment[fi]=Irrotettavan tallennusmedian automaattisen käsittelyn asetukset
Comment[fr]=Configurer la gestion automatique des périphériques de stockage amovibles
Comment[gl]=Configura a xestión automática dos medios extraíbeis de almacenaxe
Comment[he]=הגדר טיפול אוטומטי באחסון מדיה נייד
Comment[hu]=Cserélhető háttértárak automatikus kezelésének beállítása
Comment[ia]=Il configura le tractamento automatic de media de immagazinage removibile
Comment[id]=Konfigurasikan penanganan otomatis dari media penyimpanan dapat-dilepas
Comment[it]=Configura la gestione automatica dei supporti di archiviazione rimovibili
Comment[ja]=リムーバブルメディアの自動処理を設定
Comment[ko]=이동식 저장소 미디어 자동 처리 설정
Comment[lt]=Konfigūruoti automatinį keičiamųjų laikmenų apdorojimą
Comment[nl]=Automatische behandeling van verwijderbare opslagmedia configureren
Comment[nn]=Set opp automatisk handtering av flyttbare lagringsmedium
Comment[pa]=ਹਟਾਉਣਯੋਗ ਸਟੋਰੇਜ਼ ਮੀਡਿਆ ਨੂੰ ਆਟੋਮੈਟਿਕ ਹੈਂਡਲ ਕਰਨ ਲਈ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia samoobsługi urządzeń wymiennych
Comment[pt]=Configurar o tratamento automático dos dispositivos de armazenamento removíveis
Comment[pt_BR]=Configura o funcionamento automático de mídias removíveis
Comment[ro]=Configurează manipularea automată a mediilor de stocare amovibile
Comment[ru]=Настройка автоматического подключения внешних носителей информации
Comment[sk]=Nastavenie automatického zaobchádzania s vymeniteľnými médiami
Comment[sl]=Nastavi samodejno rokovanje z odstranljivimi nosilci za shranjevanje
Comment[sr]=Подешавање аутоматског руковања уклоњивим складишним медијумима
Comment[sr@ijekavian]=Подешавање аутоматског руковања уклоњивим складишним медијумима
Comment[sr@ijekavianlatin]=Podešavanje automatskog rukovanja uklonjivim skladišnim medijumima
Comment[sr@latin]=Podešavanje automatskog rukovanja uklonjivim skladišnim medijumima
Comment[sv]=Anpassa automatisk hantering av flyttbara lagringsmedier
Comment[ta]=கழற்றக்கூடிய சாதனங்கள் தானாக கையாளப்படுவதை அமையுங்கள்
Comment[tr]=Çıkarılabilir depolama ortamlarının otomatik yönetimini yapılandır
Comment[uk]=Налаштувати автоматичну обробку портативних носіїв даних
Comment[vi]=Cấu hình việc xử lí tự động đối với phương tiện lưu trữ gắn ngoài
Comment[x-test]=xxConfigure automatic handling of removable storage mediaxx
Comment[zh_CN]=配置可移动存储介质的自动处理功能
Comment[zh_TW]=設定可移除儲存裝置的自動處理
Categories=Qt;KDE;Filesystem;System;X-KDE-settings-components;
