[Desktop Action canChangeFrequency]
Name=Can Change Frequency
Name[ar]=يمكنه تغيير التّردّد
Name[az]=Tezliyi dəyişə bilən
Name[bg]=Може да променя честотата
Name[bn]=কম্পাঙ্ক বদলাতে পারে
Name[bs]=Može da mijenja takt
Name[ca]=Pot canviar la freqüència
Name[ca@valencia]=Pot canviar la freqüència
Name[cs]=Může měnit frekvenci
Name[da]=Kan skifte frekvens
Name[de]=Kann die Frequenz wechseln
Name[el]=Δυνατότητα αλλαγής συχνότητας
Name[en_GB]=Can Change Frequency
Name[es]=Puede cambiar la frecuencia
Name[et]=Muudetava sagedusega
Name[eu]=Maiztasuna alda daiteke
Name[fi]=Osaa vaihtaa taajuutta
Name[fr]=Fréquence modifiable
Name[fy]=Kin frekwinsje feroarje
Name[ga]=Is Féidir Minicíocht a Athrú
Name[gl]=Pode cambiar a frecuencia
Name[gu]=આવૃત્તિ બદલી શકે છે
Name[he]=יכול לשנות תדירות
Name[hi]=आवृत्ति बदल सकता है
Name[hr]=Može mijenjati frekvenciju
Name[hu]=Frekvenciaváltás lehetséges
Name[ia]=Il pote cambiar frequentia
Name[id]=Dapat Mengubah Frekuensi
Name[is]=Getur breytt tíðni
Name[it]=Può cambiare frequenza
Name[ja]=周波数の変更が可能
Name[kk]=Жиілігі өзгермелі
Name[km]=អាច​ផ្លាស់ប្ដូរ​ប្រេកង់​
Name[kn]=ಕಂಪನ ದರ(frequency) ವನ್ನು ಬದಲಾಯಿಸಬಹುದು
Name[ko]=주파수 변경 가능
Name[lt]=Gali leisti dažnį
Name[lv]=Var mainīt frekvenci
Name[mai]=आवृति बदलि सकैत अछि
Name[mk]=Може да смени фреквенција
Name[ml]=ആവര്‍ത്തി മാറ്റാവുന്നത്
Name[mr]=फ्रिक्वेन्सी बदलू शकतो
Name[nb]=Kan endre frekvens
Name[nds]=Kann Frequenz wesseln
Name[nl]=Kan de frequentie wijzigen
Name[nn]=Frekvens som kan endrast
Name[pa]=ਫਰੀਕਿਊਂਸੀ ਬਦਲੀ ਜਾ ਸਕਦੀ ਹੈ
Name[pl]=Z możliwością zmiany częstotliwości
Name[pt]=Pode Variar a Frequência
Name[pt_BR]=Pode alterar a frequência
Name[ro]=Poate schimba frecvența
Name[ru]=Возможность изменения частоты
Name[si]=සංඛ්‍යාතය වෙනස් කල හැක
Name[sk]=Môže meniť frekvenciu
Name[sl]=Lahko spreminja hitrost
Name[sr]=може да мења такт
Name[sr@ijekavian]=може да мијења такт
Name[sr@ijekavianlatin]=može da mijenja takt
Name[sr@latin]=može da menja takt
Name[sv]=Kan ändra frekvens
Name[ta]=அதிர்வெண் மாற்றக்கூடியது
Name[th]=สามารถเปลี่ยนความถี่ได้
Name[tr]=Frekansı Değiştirilebilir
Name[ug]=چاستوتىسىنى ئۆزگەرتكىلى بولىدۇ
Name[uk]=Може змінювати частоту
Name[vi]=Có thể thay đổi tần số
Name[wa]=Sait candjî d frecwince
Name[x-test]=xxCan Change Frequencyxx
Name[zh_CN]=可更改频率
Name[zh_TW]=可變更頻率

[Desktop Action instructionSets]
Name=Instruction Sets
Name[ar]=مجموعات الأوامر
Name[ast]=Conxuntos d'instrucciones
Name[az]=Əmrlər toplusu
Name[bg]=Набор инструкции
Name[bn]=ইনস্ট্রাকশন সেট
Name[bs]=Skup instrukcija
Name[ca]=Jocs d'instruccions
Name[ca@valencia]=Jocs d'instruccions
Name[cs]=Instrukční sady
Name[da]=Instruktionssæt
Name[de]=Instruktions-Sätze
Name[el]=Σύνολα εντολών
Name[en_GB]=Instruction Sets
Name[es]=Conjunto de instrucciones
Name[et]=Käsustikud
Name[eu]=Instrukzio sortak
Name[fi]=Käskyjoukko
Name[fr]=Jeux d'instructions
Name[fy]=Ynstruksje set
Name[ga]=Tacair Treoracha
Name[gl]=Xogo de instrucións
Name[gu]=સૂચના સમૂહો
Name[he]=אוסף פקודות
Name[hi]=अनुदेश सेट
Name[hr]=Instrukcijski skup
Name[hu]=Utasításkészletek
Name[ia]=Insimules de instruction
Name[id]=Perangkat Instruksi
Name[is]=Inntaksaðgerðir (instruction sets)
Name[it]=Insiemi di istruzioni
Name[ja]=命令セット
Name[kk]=Нұсқаулар жиыны
Name[km]=សំណុំ​សេចក្ដី​ណែនាំ
Name[kn]=ಸೂಚನೆಗಳು
Name[ko]=명령어 집합
Name[lt]=Instrukcijų rinkiniai
Name[lv]=Instrukciju kopas
Name[mk]=Инструкциски множества
Name[ml]=നിര്‍ദ്ദേശ ഗണം
Name[mr]=आज्ञा संच
Name[nb]=Instruksjonssett
Name[nds]=Anwiesen-Setten
Name[nl]=Instructiesets
Name[nn]=Instruksjonssett
Name[pa]=ਹਦਾਇਤ ਸੈੱਟ
Name[pl]=Zestawy instrukcji
Name[pt]=Conjuntos de Instruções
Name[pt_BR]=Conjuntos de instruções
Name[ro]=Seturi de instrucțiuni
Name[ru]=Наборы команд
Name[si]=උපදෙස් මාලා
Name[sk]=Inštrukčné sady
Name[sl]=Nabori ukazov
Name[sr]=скуп инструкција
Name[sr@ijekavian]=скуп инструкција
Name[sr@ijekavianlatin]=skup instrukcija
Name[sr@latin]=skup instrukcija
Name[sv]=Instruktionsuppsättningar
Name[th]=ชุดคำสั่งต่าง ๆ
Name[tr]=Yönerge Ayarları
Name[ug]=پەرمان توپلىمى
Name[uk]=Набори команд
Name[vi]=Tập lệnh
Name[wa]=Djeus d' instruccion
Name[x-test]=xxInstruction Setsxx
Name[zh_CN]=指令集
Name[zh_TW]=指令集

[Desktop Action maxSpeed]
Name=Max Speed
Name[ar]=أقصى سرعة
Name[ast]=Velocidá máxima
Name[az]=Maksimum sürət
Name[bg]=Макс. скорост
Name[bn]=সর্বোচ্চ গতি
Name[bs]=Najveća brzina
Name[ca]=Velocitat màxima
Name[ca@valencia]=Velocitat màxima
Name[cs]=Maximální rychlost
Name[csb]=Maksymalnô chùtkòsc
Name[da]=Maks. hastighed
Name[de]=Maximalgeschwindigkeit
Name[el]=Μέγιστη ταχύτητα
Name[en_GB]=Max Speed
Name[eo]=Maksimuma Rapideco
Name[es]=Velocidad máx.
Name[et]=Maks. kiirus
Name[eu]=Gehienezko abiadura
Name[fi]=Enimmäisnopeus
Name[fr]=Vitesse maximale
Name[fy]=Maks. fluggens
Name[ga]=Uasluas
Name[gl]=Velocidade máxima
Name[gu]=મહત્તમ ઝડપ
Name[he]=מהירות מירבית
Name[hi]=अधिकतम गति
Name[hr]=Maksimalna brzina
Name[hu]=Max. sebesség
Name[ia]=Velocitate maxime
Name[id]=Kecepatan Maks
Name[is]=Mesti hraði
Name[it]=Velocità massima
Name[ja]=最大速度
Name[ka]=მაქს. სიჩქარე
Name[kk]=Жылдамдығының шегі
Name[km]=ល្បឿន​អតិបរមា
Name[kn]=ಗರಿಷ್ಟ ವೇಗ
Name[ko]=최대 속도
Name[lt]=Didžiausias greitis
Name[lv]=Maks ātrums
Name[mk]=Maкc. брзина
Name[ml]=കൂടിയ വേഗം
Name[mr]=कमाल वेग
Name[nb]=Maks. hastighet
Name[nds]=Hööchst Gauigkeit
Name[nl]=Maximale snelheid
Name[nn]=Maksfart
Name[pa]=ਵੱਧੋ-ਵੱਧ ਸਪੀਡ
Name[pl]=Maksymalna szybkość
Name[pt]=Velocidade Máxima
Name[pt_BR]=Velocidade máxima
Name[ro]=Viteză maximă
Name[ru]=Максимальная скорость
Name[si]=උපරිම වේගය
Name[sk]=Maximálna rýchlosť
Name[sl]=Največja hitrost
Name[sr]=највећа брзина
Name[sr@ijekavian]=највећа брзина
Name[sr@ijekavianlatin]=najveća brzina
Name[sr@latin]=najveća brzina
Name[sv]=Maximal hastighet
Name[ta]=அதிகபட்ச வேகம்
Name[tg]=Суръати тезтарин
Name[th]=ความเร็วสูงสุด
Name[tr]=En Yüksek Hız
Name[ug]=ئەڭ چوڭ تېزلىك
Name[uk]=Макс. швидкість
Name[vi]=Tốc độ tối đa
Name[wa]=Radisté macsimom
Name[x-test]=xxMax Speedxx
Name[zh_CN]=最大速度
Name[zh_TW]=最大速率

[Desktop Action number]
Name=Number
Name[ar]=الرّقم
Name[ast]=Númberu
Name[az]=Say
Name[bg]=Номер
Name[bn]=সংখ্যা
Name[bs]=Broj
Name[ca]=Número
Name[ca@valencia]=Número
Name[cs]=Číslo
Name[csb]=Numer
Name[da]=Nummer
Name[de]=Nummer
Name[el]=Αριθμός
Name[en_GB]=Number
Name[eo]=Nombro
Name[es]=Número
Name[et]=Arv
Name[eu]=Zenbakia
Name[fi]=Numero
Name[fr]=Numéro
Name[fy]=Nûmer
Name[ga]=Uimhir
Name[gl]=Número
Name[gu]=ક્રમ
Name[he]=מספר
Name[hi]=संख्या
Name[hr]=Broj
Name[hu]=Szám
Name[ia]=Numero
Name[id]=Nomor
Name[is]=Fjöldi
Name[it]=Numero
Name[ja]=番号
Name[kk]=Нөмірі
Name[km]=លេខ
Name[kn]=ಸಂಖ್ಯೆ
Name[ko]=숫자
Name[lt]=Skaičius
Name[lv]=Numurs
Name[mk]=Број
Name[ml]=അക്കം
Name[mr]=क्रमांक
Name[nb]=Tall
Name[nds]=Nummer
Name[nl]=Nummer
Name[nn]=Nummer
Name[pa]=ਗਿਣਤੀ
Name[pl]=Numer
Name[pt]=Número
Name[pt_BR]=Número
Name[ro]=Număr
Name[ru]=Номер
Name[si]=අංකය
Name[sk]=Číslo
Name[sl]=Število
Name[sr]=број
Name[sr@ijekavian]=број
Name[sr@ijekavianlatin]=broj
Name[sr@latin]=broj
Name[sv]=Antal
Name[ta]=எண்ணிக்கை
Name[tg]=Рақам
Name[th]=จำนวน
Name[tr]=Numara
Name[ug]=نومۇرى
Name[uk]=Номер
Name[vi]=Số
Name[wa]=Nombe
Name[x-test]=xxNumberxx
Name[zh_CN]=数量
Name[zh_TW]=數字

[Desktop Entry]
Actions=canChangeFrequency;instructionSets;maxSpeed;number;
Name=Solid Device
Name[ar]=جهاز سولد
Name[az]=Solid cihazı
Name[bn]=সলিড ডিভাইস
Name[bs]=Uređaj pod Solidom
Name[ca]=Dispositiu del Solid
Name[ca@valencia]=Dispositiu del Solid
Name[cs]=Solid zařízení
Name[da]=Solid-enhed
Name[de]=Solid-Gerät
Name[el]=Συμπαγής συσκευή
Name[en_GB]=Solid Device
Name[eo]=Solid-aparatoj
Name[es]=Dispositivo de Solid
Name[et]=Solidi seade
Name[eu]=Solid gailua
Name[fi]=Kiinteä laite
Name[fr]=Périphérique Solid
Name[fy]=Solid apparaat
Name[ga]=Gléas Solid
Name[gl]=Dispositivo de Solid
Name[gu]=સોલિડ ઉપકરણ
Name[he]=התקן Solid
Name[hi]=सोलिड औज़ार
Name[hr]=Solid uređaj
Name[hu]=Solid eszköz
Name[ia]=Dispositivo Solid
Name[id]=Perangkat Solid
Name[is]=Solid tæki
Name[it]=Dispositivo di Solid
Name[ja]=Solid デバイス
Name[kk]=Solid құрылғысы
Name[km]=ឧបករណ៍​យូ​តាន់
Name[kn]=ಘನ ಸಾಧನ
Name[ko]=Solid 장치
Name[lt]=Solid įrenginys
Name[lv]=Solid ierīce
Name[mk]=Полупроводнички уред
Name[ml]=സോളിഡ് ഉപകരണം
Name[mr]=सॉलिड साधन
Name[nb]=Solid-enhet
Name[nds]=Solid-Reedschap
Name[nl]=Solid-apparaat
Name[nn]=Solid-eining
Name[pa]=ਸਾਲਡ ਡਿਵਾਈਸ
Name[pl]=Urządzenie Solid
Name[pt]=Dispositivo do Solid
Name[pt_BR]=Dispositivo do Solid
Name[ro]=Dispozitiv Solid
Name[ru]=Устройство Solid
Name[si]=දෘඩ මෙවලම්
Name[sk]=Zariadenie Solid
Name[sl]=Naprava Solid
Name[sr]=уређај под Солидом
Name[sr@ijekavian]=уређај под Солидом
Name[sr@ijekavianlatin]=uređaj pod Solidom
Name[sr@latin]=uređaj pod Solidom
Name[sv]=Solid-enhet
Name[ta]=Solid சாதனம்
Name[tg]=Дастгоҳи яклухт
Name[th]=อุปกรณ์ผ่าน Solid
Name[tr]=Solid Aygıtı
Name[ug]=Solid ئۈسكۈنە
Name[uk]=Пристрій Solid
Name[vi]=Thiết bị Solid
Name[wa]=Éndjins Solid
Name[x-test]=xxSolid Devicexx
Name[zh_CN]=Solid 设备
Name[zh_TW]=實體裝置
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Processor
