[Desktop Entry]
Name=DataEngine for Kimpanel
Name[ca]=Motor de dades pel Kimpanel
Name[ca@valencia]=Motor de dades pel Kimpanel
Name[cs]=Datový nástroj pro Kimpanel
Name[da]=Datamotor for Kimpanel
Name[de]=Datenmodul für Kimpanel
Name[el]=Μηχανή δεδομένων για το Kimpanel
Name[en_GB]=DataEngine for Kimpanel
Name[es]=Motor de datos para Kimpanel
Name[et]=Kimpaneli andmemootor
Name[eu]=Kimpanel-en datuen motorea
Name[fi]=Tietomoottori Kimpaneliin
Name[fr]=Moteur de données pour Kimpanel
Name[gl]=Un motor de datos para Kimpanel.
Name[hu]=Kimpanel adatmodul
Name[id]=DataEngine untuk Kimpanel
Name[it]=Motore dati per Kimpanel
Name[ko]=Kimpanel 데이터 엔진
Name[lt]=Duomenų variklis, skirtas Kimpanel
Name[nb]=Datamotor for Kimpanel
Name[nl]=Gegevens-engine voor Kimpanel
Name[nn]=Datamotor for Kimpanel
Name[pl]=Silnik danych dla Kimpanel
Name[pt]=Motor de dados do Kimpanel
Name[pt_BR]=Mecanismo de dados para o Kimpanel
Name[ru]=Модуль данных для панели метода ввода
Name[sk]=Dátový engine pre Kimpanel
Name[sl]=Podatkovni pogon za Kimpanel
Name[sr]=Датомотор за К‑ИМ‑панел
Name[sr@ijekavian]=Датомотор за К‑ИМ‑панел
Name[sr@ijekavianlatin]=Datomotor za KIMPanel
Name[sr@latin]=Datomotor za KIMPanel
Name[sv]=Datagränssnitt för Kimpanel
Name[tr]=Kimpanel için DataEngine
Name[uk]=Рушій даних для Kimpanel
Name[x-test]=xxDataEngine for Kimpanelxx
Name[zh_CN]=Kimpanel 的数据引擎
Name[zh_TW]=Kimpanel 資料引擎
Comment=DataEngine for Kimpanel
Comment[ca]=Motor de dades pel Kimpanel
Comment[ca@valencia]=Motor de dades pel Kimpanel
Comment[cs]=Datový nástroj pro Kimpanel
Comment[da]=Datamotor for Kimpanel
Comment[de]=Datenmodul für Kimpanel
Comment[el]=Μηχανή δεδομένων για το Kimpanel
Comment[en_GB]=DataEngine for Kimpanel
Comment[es]=Motor de datos para Kimpanel
Comment[et]=Kimpaneli andmemootor
Comment[eu]=Kimpanel-en datuen motorea
Comment[fi]=Tietomoottori Kimpaneliin
Comment[fr]=Moteur de données pour Kimpanel
Comment[gl]=Un motor de datos para Kimpanel.
Comment[hu]=Adatmodul a Kimpanelhez
Comment[id]=DataEngine untuk Kimpanel
Comment[it]=Motore dati per Kimpanel
Comment[ko]=Kimpanel 데이터 엔진
Comment[lt]=Duomenų variklis, skirtas Kimpanel
Comment[nb]=Datamotor for Kimpanel
Comment[nl]=Gegevens-engine voor Kimpanel
Comment[nn]=Datamotor for Kimpanel
Comment[pl]=Silnik danych dla Kimpanel
Comment[pt]=Motor de dados do Kimpanel
Comment[pt_BR]=Mecanismo de dados para o Kimpanel
Comment[ru]=Модуль данных для панели метода ввода
Comment[sk]=Dátový engine pre Kimpanel
Comment[sl]=Podatkovni pogon za Kimpanel
Comment[sr]=Датомотор за К‑ИМ‑панел
Comment[sr@ijekavian]=Датомотор за К‑ИМ‑панел
Comment[sr@ijekavianlatin]=Datomotor za KIMPanel
Comment[sr@latin]=Datomotor za KIMPanel
Comment[sv]=Datagränssnitt för Kimpanel
Comment[tr]=Kimpanel için DataEngine
Comment[uk]=Рушій даних для Kimpanel
Comment[x-test]=xxDataEngine for Kimpanelxx
Comment[zh_CN]=Kimpanel 的数据引擎
Comment[zh_TW]=Kimpanel 資料引擎
Type=Service
Icon=draw-freehand

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kimpanel

X-KDE-PluginInfo-Author=Xuetian Weng
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
