[Desktop Entry]
Name=DataEngine for Kimpanel
Name[ca]=Motor de dades pel Kimpanel
Name[ca@valencia]=Motor de dades pel Kimpanel
Name[de]=Datenmodul für Kimpanel
Name[en_GB]=DataEngine for Kimpanel
Name[es]=Motor de datos para Kimpanel
Name[fi]=Tietomoottori Kimpaneliin
Name[fr]=Moteur de données pour Kimpanel
Name[gl]=Un motor de datos para Kimpanel.
Name[nb]=Datamotor for Kimpanel
Name[nl]=Gegevens-engine voor Kimpanel
Name[nn]=Datamotor for Kimpanel
Name[pl]=Silnik danych dla Kimpanel
Name[pt]=Motor de dados do Kimpanel
Name[pt_BR]=Mecanismo de dados para o Kimpanel
Name[sk]=Dátový engine pre Kimpanel
Name[sr]=Датомотор за К‑ИМ‑панел
Name[sr@ijekavian]=Датомотор за К‑ИМ‑панел
Name[sr@ijekavianlatin]=Datomotor za KIMPanel
Name[sr@latin]=Datomotor za KIMPanel
Name[sv]=Datagränssnitt för Kimpanel
Name[uk]=Рушій даних для Kimpanel
Name[x-test]=xxDataEngine for Kimpanelxx
Comment=DataEngine for Kimpanel
Comment[ca]=Motor de dades pel Kimpanel
Comment[ca@valencia]=Motor de dades pel Kimpanel
Comment[de]=Datenmodul für Kimpanel
Comment[en_GB]=DataEngine for Kimpanel
Comment[es]=Motor de datos para Kimpanel
Comment[fi]=Tietomoottori Kimpaneliin
Comment[fr]=Moteur de données pour Kimpanel
Comment[gl]=Un motor de datos para Kimpanel.
Comment[nb]=Datamotor for Kimpanel
Comment[nl]=Gegevens-engine voor Kimpanel
Comment[nn]=Datamotor for Kimpanel
Comment[pl]=Silnik danych dla Kimpanel
Comment[pt]=Motor de dados do Kimpanel
Comment[pt_BR]=Mecanismo de dados para o Kimpanel
Comment[sk]=Dátový engine pre Kimpanel
Comment[sr]=Датомотор за К‑ИМ‑панел
Comment[sr@ijekavian]=Датомотор за К‑ИМ‑панел
Comment[sr@ijekavianlatin]=Datomotor za KIMPanel
Comment[sr@latin]=Datomotor za KIMPanel
Comment[sv]=Datagränssnitt för Kimpanel
Comment[uk]=Рушій даних для Kimpanel
Comment[x-test]=xxDataEngine for Kimpanelxx
Type=Service
Icon=draw-freehand

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kimpanel

X-KDE-PluginInfo-Author=Xuetian Weng
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
