[Desktop Entry]
Name=DataEngine for Kimpanel
Name[ca]=Motor de dades pel Kimpanel
Name[fr]=Moteur de données pour Kimpanel
Name[hu]=Adatmodul a Kimpanelhez
Name[nl]=Gegevens-engine voor Kimpanel
Name[pl]=Silnik danych dla Kimpanel
Name[sv]=Datagränssnitt för Kimpanel
Name[uk]=Рушій даних для Kimpanel
Name[x-test]=xxDataEngine for Kimpanelxx
Name[zh_TW]=Kimpanel 資料引擎
Comment=DataEngine for Kimpanel
Comment[ca]=Motor de dades pel Kimpanel
Comment[fr]=Moteur de données pour Kimpanel
Comment[hu]=Adatmodul a Kimpanelhez
Comment[nl]=Gegevens-engine voor Kimpanel
Comment[pl]=Silnik danych dla Kimpanel
Comment[sv]=Datagränssnitt för Kimpanel
Comment[uk]=Рушій даних для Kimpanel
Comment[x-test]=xxDataEngine for Kimpanelxx
Comment[zh_TW]=Kimpanel 資料引擎
Type=Service
Icon=draw-freehand

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kimpanel

X-KDE-PluginInfo-Author=Xuetian Weng
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
