[Desktop Entry]
Icon=preferences-desktop-launch-feedback
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmlaunch/index.html
Exec=kcmshell5 kcmlaunch

X-KDE-Library=kcm_launch
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=80

Name=Launch Feedback

Comment=Choose application-launch feedback style

X-KDE-Keywords=application,start,launch,busy,cursor,feedback,mouse,pointer,bouncing,rotating,spinning,disk,startup,program,report,taskbar

Categories=Qt;KDE;X-KDE-settings-looknfeel;
