[Desktop Entry]
Icon=preferences-desktop-launch-feedback
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmlaunch/index.html
Exec=kcmshell5 kcmlaunch

X-KDE-Library=kcm_launch
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=80

Name=Launch Feedback
Name[uk]=Показ запуску
Name[x-test]=xxLaunch Feedbackxx

Comment=Choose application-launch feedback style
Comment[uk]=Вибір стилю показу запуску програм
Comment[x-test]=xxChoose application-launch feedback stylexx

X-KDE-Keywords=application,start,launch,busy,cursor,feedback,mouse,pointer,bouncing,rotating,spinning,disk,startup,program,report,taskbar
X-KDE-Keywords[uk]=application,start,launch,busy,cursor,feedback,mouse,pointer,bouncing,rotating,spinning,disk,startup,program,report,taskbar,програма,запуск,зайнята,зайнятість,вказівник,супровід,миша,підстрибування,стрибунець,обертання,поворот,диск,програма,звіт,панель задач,панель завдань
X-KDE-Keywords[x-test]=xxapplication,start,launch,busy,cursor,feedback,mouse,pointer,bouncing,rotating,spinning,disk,startup,program,report,taskbarxx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
