[Desktop Entry]
Exec=kcmshell4 kcm_kimpanel
Icon=preferences-desktop-keyboard
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kimpanel/index.html

X-KDE-Library=kcm_kimpanel
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=input-method
X-KDE-Weight=100

Name=panel
Name[pt]=Painel de introdução de dados
Name[pt_BR]=Painel de introdução de dados
Name[sv]=Inmatningsmetodpanel
Name[uk]=Панель способів вводу

Comment=Input method panel settings
Comment[pt]=Configuração do painel de introdução de dados
Comment[pt_BR]=Configuração do painel de introdução de dados
Comment[sv]=Inställingar av inmatningsmetodpanel
Comment[uk]=Параметри панелі способу вводу

X-KDE-Keywords=kim,kimpanel,panel,im,impanel,inputmethod,input method
X-KDE-Keywords[zh_CN]=kim,kimpanel,panel,im,impanel,inputmethod,input method,输入法,输入法面板,输入法界面

Categories=Qt;KDE;X-KDE-settings-components;
