[Desktop Entry]
Name=Input Method Panel
Name[ca]=Plafó IM
Name[es]=Panel IM
Name[et]=IM paneel
Name[fr]=Panneau de MI
Name[gl]=Panel IM
Name[nb]=Lynmeldingspanel
Name[nds]=KN-Paneel
Name[pt]=Painel de IM
Name[pt_BR]=Painel do método de entrada
Name[ro]=Panou MI
Name[sv]=IM-panel
Name[tr]=Girdi Yöntemi Paneli
Name[uk]=Панель МП
Name[x-test]=xxIM Panelxx
Name[zh_TW]=輸入法面板
Comment=A generic input method panel for Oriental languages
Comment[ca]=Un plafó IM genèric
Comment[es]=Un panel IM genérico
Comment[et]=Üldine IM paneel
Comment[fr]=Un panneau générique de messagerie instantanée
Comment[gl]=Un panel im xenérico
Comment[nb]=Et generisk lynmeldingspanel
Comment[nds]=En allmeen KN-Paneel
Comment[pt]=Um painel genérico de introdução de dados
Comment[pt_BR]=Um painel de método de entrada genérico
Comment[ro]=Panou MI generic
Comment[sv]=En generell IM-panel
Comment[tr]=Bir genel girdi yöntemi paneli
Comment[uk]=Проста панель миттєвих повідомлень
Comment[x-test]=xxA generic im panelxx
Comment[zh_TW]=一般輸入法面板
Type=Service
Icon=draw-freehand
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kimpanel
X-KDE-PluginInfo-Author=Wang Hoi
X-KDE-PluginInfo-Email=zealot.hoi@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

