[Desktop Entry]
Name=Input Method Panel
Name[bs]=panel metoda unosa
Name[ca]=Plafó de mètode d'entrada
Name[ca@valencia]=Plafó de mètode d'entrada
Name[cs]=Panel vstupních metod
Name[da]=Panel til input-metoder
Name[de]=Eingabemethoden
Name[el]=Πλαίσιο μεθόδου εισαγωγής
Name[en_GB]=Input Method Panel
Name[es]=Panel del método de introducción de datos
Name[et]=Sisestusviisi paneel
Name[fi]=Syötemenetelmäpaneeli
Name[fr]=Panneau de méthode de saisie
Name[gl]=Panel de métodos de entrada
Name[hr]=Panel za metode unosa
Name[hu]=Beviteli-mód panel
Name[it]=Pannello dei metodi di inserimento
Name[ja]=入力方法パネル
Name[kk]=Теру әдістер панелі
Name[km]=បន្ទះ​វិធីសាស្ត្រ​បញ្ចូល
Name[ko]=입력기 패널
Name[lt]=Įvesties metodo skydelis
Name[lv]=Ievades metodes panelis
Name[mr]=इनपुट पध्दत पटल
Name[nb]=Skrivemetode-rute
Name[nds]=Ingaavmetood-Paneel
Name[nl]=Invoermethodepaneel
Name[nn]=Skrivesystem-panel
Name[pa]=ਇੰਪੁੱਟ ਢੰਗ ਪੈਨਲ
Name[pl]=Panel metody wejściowej
Name[pt]=Painel de Introdução de Dados
Name[pt_BR]=Painel do método de introdução de caracteres
Name[ro]=Panou pentru Metode de Intrare
Name[ru]=Панель метода ввода
Name[sk]=Panel vstupnej metódy
Name[sl]=Pult vnosnega načina
Name[sr]=панел метода уноса
Name[sr@ijekavian]=панел метода уноса
Name[sr@ijekavianlatin]=panel metoda unosa
Name[sr@latin]=panel metoda unosa
Name[sv]=Inmatningsmetodruta
Name[tr]=Giriş Yöntemi Paneli
Name[ug]=كىرگۈزگۈچ تاختىسى
Name[uk]=Панель методів введення
Name[wa]=Scriftôr del façon d' intrer
Name[x-test]=xxInput Method Panelxx
Name[zh_CN]=输入法面板
Name[zh_TW]=輸入法面板
Comment=A generic input method panel for Oriental languages
Comment[bs]=Generički panel metoda unosa za orijentalne jezike
Comment[ca]=Un plafó de mètode d'entrada genèric per idiomes orientals
Comment[ca@valencia]=Un plafó de mètode d'entrada genèric per idiomes orientals
Comment[cs]=Obecný panel vstupních metod pro orientální jazyky
Comment[da]=Generisk panel til input-metoder til orientalske sprog
Comment[de]=Ein allgemeines Eingabemethoden-Miniprogramm für orientalische Sprachen
Comment[el]=Ένα πλαίσιο εισαγωγής με γενικευμένη μέθοδο για Ανατολίτικες γλώσσες
Comment[en_GB]=A generic input method panel for Oriental languages
Comment[es]=Un panel genérico del método de introducción de datos para idiomas orientales
Comment[et]=Idamaiste kirjade üldine sisestusviisi paneel
Comment[fi]=Yleinen syötemenetelmäpaneeli itämaisille kielille
Comment[fr]=Un panneau générique pour les méthodes de saisie pour les langues orientales
Comment[gl]=Un panel de métodos de entrada xenérico para linguaxes orientais.
Comment[hr]=Generički panel za metode unosa za orijentalne jezike
Comment[hu]=Általános beviteli-mód panel keleti nyelvekhez
Comment[it]=Un pannello generico dei metodi di inserimento per le lingue orientali
Comment[ja]=東洋言語のための汎用入力方法パネル
Comment[kk]=Шығыс тілдердегі негізгі теру әдістер панелі
Comment[km]=បន្ទះ​​វិធីសាស្ត្រ​បញ្ចូល​ទូទៅ​សម្រាប់​ភាសា​បច្ចឹមបូពា
Comment[ko]=동아시아 언어를 위한 일반적인 입력기 패널
Comment[lv]=Vienkāršs ievades metodes panelis austrumu valodām
Comment[mr]=प्राच्य भाषांकरिता सामान्य इनपुट पध्दत पटल
Comment[nb]=En generisk rute for å skrive inn med orientalske språk
Comment[nds]=En allmeen Ingaavmetood för Orient-Spraken
Comment[nl]=Een paneel met een algemene invoermethode voor oosterse talen
Comment[nn]=Generelt skrivesystem-panel for orientalske språk
Comment[pl]=Panel metody wejściowej dla języków orientalnych
Comment[pt]=Um painel de introdução de dados genérico para línguas orientais
Comment[pt_BR]=Painel de introdução de caracteres genérico para idiomas orientais
Comment[ru]=Панель метода ввода для восточных языков
Comment[sk]=Všeobecný panel vstupnej metódy pre orientálne jazyky
Comment[sl]=Pult splošnega vnosnega načina za vzhodne jezike
Comment[sr]=Генерички панел метода уноса за оријенталне језике
Comment[sr@ijekavian]=Генерички панел метода уноса за оријенталне језике
Comment[sr@ijekavianlatin]=Generički panel metoda unosa za orijentalne jezike
Comment[sr@latin]=Generički panel metoda unosa za orijentalne jezike
Comment[sv]=En generell inmatningsmetodruta för orientaliska språk
Comment[tr]=Doğu dilleri için ortak giriş yöntemi paneli
Comment[uk]=Загальна панель методів введення для східних мов
Comment[x-test]=xxA generic input method panel for Oriental languagesxx
Comment[zh_CN]=东方语言的通用输入法面板
Comment[zh_TW]=東方語言使用的一般輸入法面板
Type=Service
Icon=draw-freehand
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kimpanel
X-KDE-PluginInfo-Author=CSSlayer
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-PluginInfo-Category=Language
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
