[Desktop Entry]
Name=Input Method Panel
Name[en_GB]=Input Method Panel
Name[pt]=Painel de Introdução de Dados
Name[sv]=Inmatningsmetodruta
Name[uk]=Панель методів введення
Name[x-test]=xxInput Method Panelxx
Name[zh_TW]=輸入法面板
Comment=A generic input method panel for Oriental languages
Comment[en_GB]=A generic input method panel for Oriental languages
Comment[pt]=Um painel de introdução de dados genérico para línguas orientais
Comment[sv]=En generell inmatningsmetodruta för orientaliska språk
Comment[uk]=Загальна панель методів введення для східних мов
Comment[x-test]=xxA generic input method panel for Oriental languagesxx
Comment[zh_TW]=東方語言使用的一般輸入法面板
Type=Service
Icon=draw-freehand
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kimpanel
X-KDE-PluginInfo-Author=Wang Hoi
X-KDE-PluginInfo-Email=zealot.hoi@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

