[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=input-method
X-KDE-System-Settings-Parent-Category=personal
Icon=preferences-desktop-keyboard

Name=Input Method
Name[zh_CN]=输入法
