[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
X-KDE-Library=device_automounter
X-KDE-DBus-ModuleName=device_automounter
Name=Removable Device Automounter
Comment=Automatically mounts devices as needed
