[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
X-KDE-Library=device_automounter
X-KDE-DBus-ModuleName=device_automounter
Name=Removable Device Automounter
Name[ar]=المركب الآلي لأجهزة التخزين القابلة للإزالة
Name[ast]=Automontaxe de preseos estrayibles
Name[bg]=Автоматично монтиране на преносими устройства
Name[bn]=অপসারণযোগ্য ডিভাইস অটো-মাউন্টার
Name[bs]=Automonter uklonjivih uređaja
Name[ca]=Muntador automàtic de dispositius extraïbles
Name[ca@valencia]=Muntador automàtic de dispositius extraïbles
Name[cs]=Automatické připojování odpojitelných zařízení
Name[csb]=Aùtomatné dodôwanié przenosnych mediów
Name[da]=Automontering af flytbare enheder
Name[de]=Automatische Wechselmedieneinbindung
Name[el]=Αυτόματη προσάρτηση αφαιρούμενων συσκευών
Name[en_GB]=Removable Device Automounter
Name[eo]=Aŭtomata muntilo de demeteblaj aparatoj
Name[es]=Automontaje de dispositivos extraíbles
Name[et]=Eemaldatavate seadmete automaatne ühendaja
Name[eu]=Gailu aldagarrien muntaketa automatikoa
Name[fa]=سوارساز خوذکار دستگاههای جداشدنی
Name[fi]=Irrotettavan laitteen automaattiasentaja
Name[fr]=Auto-monteur de périphérique amovible
Name[fy]=Utnimber apparaat autokeppelder
Name[ga]=Feisteoir Uathoibríoch Do Ghléasanna Inbhainte
Name[gl]=Montador automático de dispositivos extraíbeis
Name[gu]=દૂર કરી શકાય તેવા ઉપકરણોને આપમેળે માઉન્ટ કરનાર
Name[he]=מעגן אוטומטי של התקנים
Name[hi]=हटाने योग्य युक्ति स्वतःमाउन्टर
Name[hr]=Automatski monter uklonjivih uređaja
Name[hu]=Automatikus cserélhetőeszköz-csatoló
Name[ia]=Removable Device Automounter (Montator automatic de Dispositivo Removibile)
Name[id]=Pengait Otomatis Divais Dapat Dilepas
Name[is]=Sjálfvirk tenging fjarlægjanlegra geymslumiðla
Name[it]=Montaggio automatico dei dispositivi rimovibili
Name[ja]=リムーバブルデバイスの自動マウント
Name[kk]=Ауыстырмалы құрылғының автоттіркегіші
Name[km]=កម្មវិធី​ម៉ោន​ឧបករណ៍​ចល័ត​ដោយ​ស្វ័យ​ប្រវត្តិ
Name[ko]=이동식 장치 자동 마운터
Name[lt]=Keičiamųjų įrenginių automatinis prijungimas
Name[lv]=Noņemamo iekārtu automontētājs
Name[mk]=Автом. монтирање на подвижните уреди
Name[ml]=നീക്കം ചെയ്യാവുന്ന ഉപകരണങ്ങളുടെ ഔട്ടോമൌണ്ടര്‍
Name[mr]=काढता येणारे साधन स्वयंचलित जुळवणीकार
Name[nb]=Automatisk montering av flyttbare enheter
Name[nds]=Autom. Inhangdeenst för tuuschbor Reedschappen
Name[nl]=Automatische aankoppelaar voor verwijderbare apparaten
Name[nn]=Automontering av flyttbare einingar
Name[pa]=ਹਟਾਉਣਯੋਗ ਜੰਤਰ ਆਟੋ-ਮਾਊਂਟਰ
Name[pl]=Samoczynne montowanie urządzeń wymiennych
Name[pt]=Montagem Automática dos Dispositivos Removíveis
Name[pt_BR]=Montagem automática de dispositivos removíveis
Name[ro]=Montator automat de dispozitive amovibile
Name[ru]=Подключение внешних носителей
Name[si]=ඉවත්කල හැකි මෙවලම ස්වයංව සවිකරනය
Name[sk]=Automatické pripájanie vymeniteľných zariadení
Name[sl]=Samodejno priklapljanje odstranljivih naprav
Name[sr]=Аутомонтер уклоњивих уређаја
Name[sr@ijekavian]=Аутомонтер уклоњивих уређаја
Name[sr@ijekavianlatin]=Automonter uklonjivih uređaja
Name[sr@latin]=Automonter uklonjivih uređaja
Name[sv]=Automatisk montering av flyttbara enheter
Name[tg]=Худваслкунандаи дасгоҳи ҷудошаванда
Name[th]=ตัวเมานท์อัตโนมัติให้กับอุปกรณ์ถอด/เสียบได้
Name[tr]=Otomatik Çıkarılabilir Aygıt Bağlayıcı
Name[ug]=يۆتكىلىشچان ئۈسكۈنىنى ئۆزلۈكىدىن ئېگەرلىگۈچ
Name[uk]=Автоматичне монтування портативних пристроїв
Name[vi]=Trình tự động gắn thiết bị tháo gỡ được
Name[wa]=Oto-monteu d' éndjin bodjåve
Name[x-test]=xxRemovable Device Automounterxx
Name[zh_CN]=移动设备自动挂载程序
Name[zh_TW]=可移除裝置自動掛載器
Comment=Automatically mounts devices as needed
Comment[ar]=وصْل الأجهزة تلقائياً عند الحاجة
Comment[ast]=Monta automáticamente preseos cuando se necesiten
Comment[bg]=Автоматично монтиране на устройства при нужда
Comment[bn]=প্রয়োজনমত ডিভাইস নিজে থেকে মাউন্ট করে
Comment[bs]=Automatsko montiranje uređaja po potrebi
Comment[ca]=Munta automàticament els dispositius quan es necessita
Comment[ca@valencia]=Munta automàticament els dispositius quan es necessita
Comment[cs]=Automaticky připojí zařízení dle potřeby
Comment[da]=Monterer automatisk enheder efter behov
Comment[de]=Bindet Geräte bei Bedarf automatisch ein
Comment[el]=Αυτόματη προσάρτηση συσκευών όταν χρειάζεται
Comment[en_GB]=Automatically mounts devices as needed
Comment[eo]=Ĝi aŭtomate muntas la aparatojn kiam necese
Comment[es]=Monta automáticamente dispositivos cuando es necesario
Comment[et]=Seadmete automaatne ühendamine vajaduse korral
Comment[eu]=Gailuak automatikoki muntatzen ditu behar izanez gero
Comment[fa]=درصورت نیاز دستگاهها را به صورت خودکار سوار میکند
Comment[fi]=Liittää laitteet automaattisesti tarpeen mukaan
Comment[fr]=Monte automatiquement les périphériques à la demande
Comment[ga]=Feistigh gléasanna go huathoibríoch nuair a bheidh siad de dhíth
Comment[gl]=Monta automaticamente os dispositivos cando sexa preciso
Comment[gu]=જરુરિયાત મુજબ ઉપકરણો આપમેળે માઉન્ટ કરે છે
Comment[he]=מעגן התקנים אוטומטית על־פי הצורך
Comment[hi]=जरुरत होने पर उपकरण स्वतः माउन्ट होगा
Comment[hr]=Automatski montira uređaje po potrebi
Comment[hu]=Eszközök automatikus csatolása amint szükséges
Comment[ia]=Il monta automaticamente le dispositivos como il necessita
Comment[id]=Secara otomatis mengaitkan divais ketika diperlukan
Comment[is]=Tengir tæki sjálfvirkt eftir þörfum inn í skráakerfi
Comment[it]=Monta automaticamente i dispositivi secondo necessità
Comment[ja]=必要に応じて自動的にデバイスをマウントします
Comment[kk]=Құрылғыны керек кезде автоматты түрде тіркеу
Comment[km]=ម៉ោន​ឧបករណ៍​ដោយ​ស្វ័យ​ប្រវត្តិ នៅ​ពេល​ដែល​ត្រូវការ
Comment[kn]=ಅಗತ್ಯವಿದ್ದಾಗ ಸಾಧನಗಳನ್ನು ಸ್ವಯಂಚಾಲಿತವಾಗಿ ಆರೋಹಿಸುತ್ತದೆ
Comment[ko]=필요할 때 자동으로 장치를 마운트합니다
Comment[lt]=Prireikus automatiškai prijungia įrenginius
Comment[lv]=Automātiski piemontē pieslēgtās ierīces
Comment[ml]=ഉപകരണങ്ങള്‍ ആവശ്യമുള്ളപ്പോള്‍ അവ സ്വയം മൌണ്ട് ചെയ്യുന്നതാണ്
Comment[mr]=जशी गरज असेले तसे स्वयंचलितरित्या साधने जुळवितो
Comment[nb]=Monterer enheter automatisk når de trengs
Comment[nds]=Hangt bruukt Reedschappen automaatsch in.
Comment[nl]=Koppelt automatisch apparaten aan zoals nodig is
Comment[nn]=Monter einingar automatisk når dei trengst
Comment[pa]=ਜਦੋਂ ਲੋੜ ਹੋਵੇ ਤਾਂ ਜੰਤਰ ਆਟੋਮੈਟਿਕ ਮਾਊਂਟ ਕਰੋ
Comment[pl]=Montuje urządzenia, gdy są potrzebne
Comment[pt]=Monta automaticamente os dispositivos à medida das necessidades
Comment[pt_BR]=Monta automaticamente os dispositivos quando necessário
Comment[ro]=Montează automat dispozitivele atunci cînd este necesar
Comment[ru]=Автоматически подключает внешние носители информации
Comment[si]=අවශ්‍ය පරිදි මෙවලම් ස්වයංව සවි කරයි
Comment[sk]=Automaticky pripojí zariadenia podľa potreby
Comment[sl]=Samodejno po potrebi priklopi naprave
Comment[sr]=Аутоматско монтирање уређаја по потреби
Comment[sr@ijekavian]=Аутоматско монтирање уређаја по потреби
Comment[sr@ijekavianlatin]=Automatsko montiranje uređaja po potrebi
Comment[sr@latin]=Automatsko montiranje uređaja po potrebi
Comment[sv]=Monterar automatiskt enheter efter behov
Comment[tg]=Аз рӯи зарурат дастгоҳҳоро ба худкор васл мекунад
Comment[th]=ต้องการอุปกรณ์ต่าง ๆ ที่จะให้ทำการเมานท์อัตโนมัติ
Comment[tr]=Aygıtları gerektiğinde otomatik olarak bağlar
Comment[ug]=زۆرۈر بولغاندا ئۈسكۈنە ئۆزلۈكىدىن ئېگەرلىنىدۇ
Comment[uk]=Автоматичне монтування пристроїв за вимогою
Comment[vi]=Tự động gắn các thiết bị khi cần thiết
Comment[wa]=Monte otomaticmint des éndjins come mezåjhe
Comment[x-test]=xxAutomatically mounts devices as neededxx
Comment[zh_CN]=按需自动挂载设备
Comment[zh_TW]=需要時自動掛載
