[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
# Needs to stay this way for compatibility
# It will disable autoload on initialization when automounting is disabled
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
X-KDE-Library=device_automounter
Name=Removable Device Automounter
Name[ar]=الضّامّ الآليّ للأجهزة القابلة للإزالة
Name[az]=Çıxarıla bilən daşıyıcıların avtomatik qoşulması
Name[ca]=Muntador automàtic de dispositius extraïbles
Name[ca@valencia]=Muntador automàtic de dispositius extraïbles
Name[cs]=Automatické připojování odpojitelných zařízení
Name[da]=Automontering af flytbare enheder
Name[de]=Automatisches Einhängen von Wechselmedien
Name[el]=Αυτόματη προσάρτηση αφαιρούμενων συσκευών
Name[en_GB]=Removable Device Automounter
Name[es]=Montador automático de dispositivos extraíbles
Name[et]=Eemaldatavate seadmete automaatne ühendaja
Name[eu]=Gailu aldagarrien automuntatzailea
Name[fi]=Irrotettavan laitteen automaattiasentaja
Name[fr]=Monteur automatique de périphériques
Name[gl]=Montador automático de dispositivos extraíbeis
Name[he]=מציב התקנים ניידים
Name[hu]=Automatikus csatolás
Name[ia]=Removable Device Automounter (Montator automatic de Dispositivo Removibile)
Name[id]=Removable Device Automounter
Name[it]=Montaggio automatico dei dispositivi rimovibili
Name[ko]=이동식 장치 자동 마운터
Name[lt]=Automatinis keičiamųjų įrenginių prijungimas
Name[nl]=Automatische aankoppelaar voor verwijderbare apparaten
Name[nn]=Automontering av flyttbare einingar
Name[pa]=ਹਟਾਉਣਯੋਗ ਡਿਵਾਈਸ ਆਟੋ-ਮਾਊਂਟਰ
Name[pl]=Samoczynne podpinanie urządzeń wymiennych
Name[pt]=Auto-Montagem de Dispositivos Removíveis
Name[pt_BR]=Montagem automática de dispositivos removíveis
Name[ro]=Automontare dispozitive amovibile
Name[ru]=Подключение внешних носителей
Name[sk]=Automatické pripájanie vymeniteľných zariadení
Name[sl]=Samodejno priklapljanje odstranljivih naprav
Name[sr]=Аутоматско монтирање уклоњивих уређаја
Name[sr@ijekavian]=Аутоматско монтирање уклоњивих уређаја
Name[sr@ijekavianlatin]=Automatsko montiranje uklonjivih uređaja
Name[sr@latin]=Automatsko montiranje uklonjivih uređaja
Name[sv]=Automatisk montering av flyttbara enheter
Name[ta]=கழற்றக்கூடிய சாதனங்களை தானாக ஏற்றுவது
Name[tr]=Çıkarılabilir Aygıt Otomatik Bağlayıcı
Name[uk]=Автоматичне монтування портативних пристроїв
Name[vi]=Trình gắn kết tự động thiết bị gắn ngoài
Name[x-test]=xxRemovable Device Automounterxx
Name[zh_CN]=可移动设备自动挂载程序
Name[zh_TW]=可移除裝置自動掛載器
Comment=Automatically mounts devices as needed
Comment[ar]=يضمّ الأجهزة آليًّا عند الحاجة
Comment[az]=Lazım olduqdacihazları avtomatik qoşur
Comment[ca]=Munta automàticament els dispositius quan es necessita
Comment[ca@valencia]=Munta automàticament els dispositius quan es necessita
Comment[cs]=Automaticky připojí zařízení dle potřeby
Comment[da]=Monterer automatisk enheder efter behov
Comment[de]=Hängt Geräte bei Bedarf automatisch ein
Comment[el]=Αυτόματη προσάρτηση συσκευών όταν χρειάζεται
Comment[en_GB]=Automatically mounts devices as needed
Comment[es]=Monta automáticamente dispositivos cuando es necesario
Comment[et]=Seadmete automaatne ühendamine vajaduse korral
Comment[eu]=Automatikoki muntatzen ditu gailuak behar bezala
Comment[fi]=Liittää laitteet automaattisesti tarpeen mukaan
Comment[fr]=Monte automatiquement les périphériques lorsque cela est nécessaire
Comment[gl]=Monta automaticamente os dispositivos cando sexa preciso
Comment[he]=הצב אוטומטית אם צריך
Comment[hu]=Eszközök automatikus csatolása szükség szerint
Comment[ia]=Il monta automaticamente le dispositivos como il necessita
Comment[id]=Mount perangkat secara otomatis ketika diperlukan
Comment[it]=Monta automaticamente i dispositivi quando servono
Comment[ko]=필요할 때 자동으로 장치를 마운트합니다
Comment[lt]=Prireikus, automatiškai prijungia įrenginius
Comment[nl]=Koppelt automatisch apparaten aan zoals nodig is
Comment[nn]=Monter einingar automatisk når dei trengst
Comment[pa]=ਜਦੋਂ ਲੋੜ ਹੋਵੇ ਤਾਂ ਡਿਵਾਈਸ ਆਪਣੇ-ਆਪ ਮਾਊਂਟ ਕਰੋ
Comment[pl]=Podpina urządzenia, gdy są potrzebne
Comment[pt]=Monta automaticamente os dispositivos, se necessário
Comment[pt_BR]=Monta automaticamente os dispositivos quando necessário
Comment[ro]=Montează automat dispozitivele după necesitate
Comment[ru]=Автоматически подключает внешние носители информации
Comment[sk]=Automaticky pripojí zariadenia podľa potreby
Comment[sl]=Samodejno po potrebi priklopi naprave
Comment[sr]=Аутоматско монтирање уклоњивих уређаја по потреби
Comment[sr@ijekavian]=Аутоматско монтирање уклоњивих уређаја по потреби
Comment[sr@ijekavianlatin]=Automatsko montiranje uklonjivih uređaja po potrebi
Comment[sr@latin]=Automatsko montiranje uklonjivih uređaja po potrebi
Comment[sv]=Monterar automatiskt enheter efter behov
Comment[ta]=சாதனங்களை தேவைப்படும்போது ஏற்றும்
Comment[tr]=Aygıtları gerektiğinde otomatik olarak bağlar
Comment[uk]=Автоматичне монтування пристроїв за вимогою
Comment[vi]=Tự động gắn kết thiết bị khi cần thiết
Comment[x-test]=xxAutomatically mounts devices as neededxx
Comment[zh_CN]=按需自动挂载设备
Comment[zh_TW]=需要時自動掛載
