[Desktop Entry]
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/qtquicksettings/index.html

X-KDE-Library=kcm_qtquicksettings
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Plasma Renderer
Name[ar]=مُصيِّر بلازما
Name[az]=Plasma Görüntüsünün İşlənməsi
Name[ca]=Renderitzador del Plasma
Name[ca@valencia]=Renderitzador del Plasma
Name[cs]=Vykreslovač Plasma
Name[da]=Plasma-rendering
Name[de]=Plasma-Renderer
Name[en_GB]=Plasma Renderer
Name[es]=Motor de visualización de Plasma
Name[et]=Plasma renderdaja
Name[eu]=Plasma errendatzailea
Name[fi]=Plasma-hahmonnus
Name[fr]=Moteur de rendu Plasma
Name[gl]=Renderizador de Plasma
Name[hu]=Plasma leképező
Name[ia]=Plasma Renderer (Renditor de Plasma)
Name[id]=Perender Plasma
Name[it]=Plasma Renderer
Name[ko]=Plasma 렌더러
Name[lt]=Plasma vaizdavimas
Name[nl]=Plasma-renderer
Name[nn]=Plasma-oppteikning
Name[pa]=ਪਲਾਜ਼ਮਾ ਰੈਂਡਰਰ
Name[pl]=Renderer Plazmy
Name[pt]=Sistema de Desenho do Plasma
Name[pt_BR]=Renderizador do Plasma
Name[ro]=Randor Plasma
Name[ru]=Отрисовка рабочего стола Plasma
Name[sk]=Plasma Renderer
Name[sl]=Izrisovalnik Plasme
Name[sv]=Plasma återgivning
Name[tg]=Коркардкунандаи Плазма
Name[tr]=Plasma Biçimleyicisi
Name[uk]=Засіб показу Плазми
Name[vi]=Trình kết xuất Plasma
Name[x-test]=xxPlasma Rendererxx
Name[zh_CN]=Plasma 渲染器
Name[zh_TW]=Plasma 渲染器

Categories=Qt;KDE;X-KDE-settings-qtquicksettings;
