[Desktop Entry]
Name=Window list
Name[ar]=قائمة النّوافذ
Name[ast]=Llista de ventanes
Name[az]=Pəncərə siyahısı
Name[bs]=Lista prozora
Name[ca]=Llista de finestres
Name[ca@valencia]=Llista de finestres
Name[cs]=Seznam oken
Name[da]=Vinduesliste
Name[de]=Fensterliste
Name[el]=Λίστα παραθύρων
Name[en_GB]=Window list
Name[eo]=Fenestra listo
Name[es]=Lista de ventanas
Name[et]=Akende nimekiri
Name[eu]=Leiho-zerrenda
Name[fi]=Ikkunaluettelo
Name[fr]=Liste des fenêtres
Name[gl]=Lista de xanelas
Name[he]=רשימת חלונות
Name[hu]=Ablaklista
Name[ia]=Lista de fenestra
Name[id]=Senarai window
Name[is]=Gluggalisti
Name[it]=Elenco delle finestre
Name[ja]=ウィンドウ一覧
Name[kk]=Терезе тізімі
Name[ko]=창 목록
Name[lt]=Langų sąrašas
Name[ml]=ജാലകപട്ടിക
Name[mr]=चौकट यादी
Name[nb]=Vindusliste
Name[nds]=Finsterlist
Name[nl]=Vensterlijst
Name[nn]=Vindaugsliste
Name[pa]=ਵਿੰਡੋ ਲਿਸਟ
Name[pl]=Listowy przełącznik zadań
Name[pt]=Lista de janelas
Name[pt_BR]=Lista de janelas
Name[ro]=Lista ferestrelor
Name[ru]=Список окон
Name[sk]=Zoznam okien
Name[sl]=Seznam oken
Name[sr]=списак прозора
Name[sr@ijekavian]=списак прозора
Name[sr@ijekavianlatin]=spisak prozora
Name[sr@latin]=spisak prozora
Name[sv]=Fönsterlista
Name[ta]=சாளரப் பட்டியல்
Name[tr]=Pencere listesi
Name[uk]=Список вікон
Name[vi]=Danh sách cửa sổ
Name[x-test]=xxWindow listxx
Name[zh_CN]=窗口列表
Name[zh_TW]=視窗列表
Comment=Plasmoid to show list of opened windows.
Comment[ar]=ودجة لإظهار قائمة بالنّوافذ المفتوحة.
Comment[ast]=Un plasmoide p'amosar una llista de ventanes abiertes
Comment[az]=Açılan pəncərələri göstərən Plasma əlavəsi
Comment[bg]=Джаджа, показваща списък с отворените прозорци
Comment[bs]=Plazmoid za prikaz spiska otvorenih prozora.
Comment[ca]=Plasmoide que mostra una llista de les finestres obertes.
Comment[ca@valencia]=Plasmoide que mostra una llista de les finestres obertes.
Comment[cs]=Zobrazit seznam otevřených oken.
Comment[csb]=Plazmòid wëskrzënianiô lëstë òtemkłich òknów
Comment[da]=Plasmoid til at vise en liste over åbne vinduer.
Comment[de]=Miniprogramm zur Auflistung geöffneter Fenster.
Comment[el]=Πλασμοειδές για εμφάνιση λίστας των ανοιχτών παραθύρων.
Comment[en_GB]=Plasmoid to show list of opened windows.
Comment[es]=Plasmoide que muestra una lista de las ventanas abiertas.
Comment[et]=Avatud akende nimekirja näitav plasmoid.
Comment[eu]=Irekitako leihoen zerrenda erakusteko plasmoidea.
Comment[fi]=Plasmoidi avoimien ikkunoiden luettelon näyttämiseen.
Comment[fr]=Composant graphique affichant la liste des fenêtres ouvertes.
Comment[fy]=PLasmoid om in opsomming fan iepen finsters sjen te litten.
Comment[ga]=Plasmoid a thaispeánann liosta d'fhuinneoga oscailte.
Comment[gl]=Un plasmoide que mostra unha lista coas xanelas abertas.
Comment[he]=‏Plasmoid להצגת רשימת חלונות פתוחים.
Comment[hr]=Plasmoid koji prikazuje listu otvorenih prozora
Comment[hu]=Plazmoid a megnyitott ablakok listájának megjelenítésére.
Comment[ia]=Plasmoid per monstrar lista de fenestras aperite.
Comment[id]=Plasmoid untuk menampilkan senarai window terbuka.
Comment[is]=Plasmíð sem birtir lista yfir alla opna glugga
Comment[it]=Plasmoide per mostrare un elenco di finestre aperte.
Comment[ja]=開いているウィンドウの一覧を表示するプラズモイド
Comment[kk]=Ашылған терезелер тізімін көрсететін плазмоид.
Comment[km]=Plasmoid ត្រូវ​បង្ហាញ​បញ្ជី​បង្អួច​​ដែល​បា​ន​បើក ។
Comment[ko]=열린 창 목록을 보여주는 Plasmoid.
Comment[lt]=Plasma įskiepis, skirtas rodyti atvertų langų sąrašą.
Comment[lv]=Plazmoīds, kas rāda atvērto logu sarakstu.
Comment[mk]=Плазмоид за прикажување листа од отворените прозорци
Comment[ml]=തുറന്ന ജാലകങ്ങളുടെ പട്ടിക കാണിയ്ക്കാനുള്ള പ്ലാസ്മോയിഡ്.
Comment[mr]=उघडलेल्या चौकटींची यादी दर्शविणारे प्लाज्मोइड
Comment[nb]=Plasmoide som viser en liste over åpne vinduer.
Comment[nds]=Plasma-Lüttprogramm, dat de List mit opmaakt Finstern wiest
Comment[nl]=Plasmoid voor het tonen van een lijst van geopende vensters.
Comment[nn]=Vis oversikt over opne vindauge
Comment[pa]=ਖੁੱਲ੍ਹੀਆਂ ਵਿੰਡੋਜ਼ ਦੀ ਲਿਸਟ ਵੇਖਾਉਣ ਲਈ ਪਲਾਜ਼ਾਮੋਡ।
Comment[pl]=Pojedyncza ikona do wysuwania listy zadań
Comment[pt]=Um plasmóide para ver a lista de janelas abertas.
Comment[pt_BR]=Plasmoide para exibir a lista de janelas abertas.
Comment[ro]=Plasmoid ce arată lista ferestrelor deschise.
Comment[ru]=Виджет, показывающий список окон
Comment[si]=විවෘත කල කවුළු ලැයිස්තුවක් පෙන්වීම සඳහා ප්ලැස්මොයිඩය.
Comment[sk]=Zobrazenie zoznamu otvorených okien.
Comment[sl]=Gradnik, ki prikazuje seznam odprtih oken.
Comment[sr]=Плазмоид за приказ списка отворених прозора.
Comment[sr@ijekavian]=Плазмоид за приказ списка отворених прозора.
Comment[sr@ijekavianlatin]=Plazmoid za prikaz spiska otvorenih prozora.
Comment[sr@latin]=Plazmoid za prikaz spiska otvorenih prozora.
Comment[sv]=Plasmoid för att visa lista med öppna fönster.
Comment[ta]=திறந்துள்ள சாளரங்களை பட்டியலிடும் பிளாஸ்மாய்ட்.
Comment[tg]=Барномаи Plasmoid барои намоиш додани рӯйхат бо равзанаҳои кушодашуда.
Comment[th]=พลาสมอยด์สำหรับแสดงรายการของหน้าต่างต่าง ๆ ที่เปิดอยู่
Comment[tr]=Açık pencerelerin listesini gösteren plazmid.
Comment[ug]=ئېچىلغان كۆزنەكلەرنىڭ Plasmoid تىزىمىنى كۆرسىتىدۇ.
Comment[uk]=Плазмоїд для показу списку відкритих вікон.
Comment[vi]=Plasmoid để hiện danh sách các cửa sổ đã mở.
Comment[wa]=Plasmowide po mostrer l' djivêye des fniesses di drovowes.
Comment[x-test]=xxPlasmoid to show list of opened windows.xx
Comment[zh_CN]=显示已打开窗口的 Plasmoid 部件。
Comment[zh_TW]=顯示已開啟視窗清單的元件
Icon=preferences-system-windows
Type=Service
X-KDE-ParentApp=

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.windowlist
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-Provides=org.kde.plasma.multitasking

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Windows and Tasks
