[Desktop Entry]
Name=DataEngine for Kimpanel
Comment=DataEngine for Kimpanel
Type=Service
Icon=draw-freehand

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kimpanel

X-KDE-PluginInfo-Author=Xuetian Weng
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
