[Desktop Entry]
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-font-ttf,application/x-font-type1,application/x-font-bdf,application/x-font-pcf,application/x-font-otf,application/x-font-afm,fonts/package
Actions=installFont;
Type=Service

[Desktop Action installFont]
Name=Install...
Name[af]=Installeer...
Name[ar]=ثبّت...
Name[as]=সংস্থাপন কৰক...
Name[ast]=Instalar...
Name[be]=Устанавіць...
Name[be@latin]=Zainstaluj...
Name[bg]=Инсталиране...
Name[bn]=ইনস্টল...
Name[bn_IN]=ইনস্টল করুন...
Name[bs]=Instaliraj...
Name[ca]=Instal·la...
Name[ca@valencia]=Instal·la...
Name[cs]=Instalovat...
Name[csb]=Instalëjë...
Name[da]=Installér...
Name[de]=Installieren ...
Name[el]=Εγκατάσταση...
Name[en_GB]=Install...
Name[eo]=Instali...
Name[es]=Instalar...
Name[et]=Paigalda...
Name[eu]=Instalatu...
Name[fa]=نصب...
Name[fi]=Asenna…
Name[fr]=Installer...
Name[fy]=Ynstallearje...
Name[ga]=Suiteáil...
Name[gl]=Instalar…
Name[gu]=સ્થાપન...
Name[he]=התקנה...
Name[hi]=संस्थापित करें...
Name[hne]=इंस्टाल करव...
Name[hr]=Instaliraj…
Name[hsb]=instalować...
Name[hu]=Telepítés...
Name[ia]=Installa ...
Name[id]=Instal...
Name[is]=Setja upp...
Name[it]=Installa...
Name[ja]=インストール...
Name[kk]=Орнату...
Name[km]=ដំឡើង...
Name[kn]=ಅನುಸ್ಢಾಪಿಸು...
Name[ko]=설치...
Name[ku]=Sazkirin...
Name[lt]=Įdiegti...
Name[lv]=Instalēt...
Name[mai]=संस्थापित करू...
Name[mk]=Инсталирање...
Name[ml]=ഇന്‍‌സ്റ്റോള്‍ ചെയ്യുക...
Name[mr]=प्रतिष्ठापन...
Name[nb]=Installer …
Name[nds]=Installeren...
Name[ne]=स्थापना गर्नुहोस्
Name[nl]=Installeren...
Name[nn]=Installer …
Name[oc]=Installar...
Name[or]=ସ୍ଥାପନ କରନ୍ତୁ...
Name[pa]=ਇੰਸਟਾਲ...
Name[pl]=Wgraj...
Name[pt]=Instalar...
Name[pt_BR]=Instalar...
Name[ro]=Instalare...
Name[ru]=Установить...
Name[se]=Sajáiduhte …
Name[si]=ස්ථාපනය...
Name[sk]=Inštalovať...
Name[sl]=Namesti ...
Name[sr]=Инсталирај...
Name[sr@ijekavian]=Инсталирај...
Name[sr@ijekavianlatin]=Instaliraj...
Name[sr@latin]=Instaliraj...
Name[sv]=Installera...
Name[ta]=நிறுவுக...
Name[te]=సంస్థాపించు...
Name[tg]=Коргузорӣ...
Name[th]=ติดตั้ง...
Name[tr]=Yükle...
Name[ug]=ئورنات…
Name[uk]=Встановити...
Name[uz]=Oʻrnatish...
Name[uz@cyrillic]=Ўрнатиш...
Name[vi]=Cài đặt...
Name[wa]=Astaler...
Name[x-test]=xxInstall...xx
Name[zh_CN]=安装...
Name[zh_TW]=安裝...
Icon=preferences-desktop-font-installer
Exec=kfontinst %U
