[Desktop Entry]
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-font-ttf,application/x-font-type1,application/x-font-bdf,application/x-font-pcf,application/x-font-otf,application/x-font-afm,fonts/package
Actions=installFont;
Type=Service

[Desktop Action installFont]
Name=Install...
Icon=preferences-desktop-font-installer
Exec=kfontinst --icon preferences-desktop-font-installer %U
