[Desktop Entry]
Name=KFontView
Name[nl]=KFontView
Name[uk]=KFontView
Name[x-test]=xxKFontViewxx
Exec=kfontview %U
Icon=kfontview
X-KDE-StartupNotify=true
Type=Application
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-otf;application/x-font-pcf;application/x-font-bdf;application/vnd.kde.fontspackage;
GenericName=Font Viewer
GenericName[nl]=Lettertypeweergave
GenericName[uk]=Переглядач шрифтів
GenericName[x-test]=xxFont Viewerxx
Terminal=false
InitialPreference=1
NoDisplay=true
Categories=Qt;KDE;Utility;
X-DBUS-StartupType=Unique
X-KDE-HasTempFileOption=true
