[Desktop Entry]
Name=Keyboard and IME

Icon=preferences-desktop-keyboard
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Park Gun
X-KDE-PluginInfo-Email=mujjingun@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_keyboard
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
