[Desktop Entry]
Icon=plasma
Exec=kcmshell5 kcm_workspace
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_workspace
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktopbehavior
X-KDE-Weight=40
X-DocPath=kcontrol/workspaceoptions/index.html
Name=Workspace
Name[ar]=مساحة العمل
Name[bs]=Radna površina
Name[ca]=Espai de treball
Name[ca@valencia]=Espai de treball
Name[cs]=Pracovní plocha
Name[da]=Arbejdsområde
Name[de]=Arbeitsbereich
Name[el]=Χώρος εργασίας
Name[en_GB]=Workspace
Name[es]=Espacio de trabajo
Name[et]=Töötsoon
Name[eu]=Langunea
Name[fi]=Työtila
Name[fr]=Espace de travail
Name[gl]=Espazo de traballo
Name[he]=סביבת עבודה
Name[hu]=Munkaterület
Name[ia]=Spatio de labor
Name[id]=Workspace
Name[is]=Vinnurýmd
Name[it]=Spazio di lavoro
Name[ja]=ワークスペース
Name[ko]=작업 공간
Name[lt]=Darbo erdvė
Name[nb]=Arbeidsområde
Name[nds]=Arbeitrebeet
Name[nl]=Werkruimte
Name[nn]=Arbeids­område
Name[pa]=ਵਰਕਸਪੇਸ
Name[pl]=Przestrzeń robocza
Name[pt]=Área de Trabalho
Name[pt_BR]=Espaço de trabalho
Name[ru]=Рабочая среда
Name[sk]=Pracovná plocha
Name[sl]=Delovni prostor
Name[sr]=Радни простор
Name[sr@ijekavian]=Радни простор
Name[sr@ijekavianlatin]=Radni prostor
Name[sr@latin]=Radni prostor
Name[sv]=Arbetsyta
Name[tr]=Çalışma Alanı
Name[uk]=Робочий простір
Name[x-test]=xxWorkspacexx
Name[zh_CN]=工作空间
Name[zh_TW]=工作空間
Comment=Workspace Behavior
Comment[ar]=سلوك مساحة العمل
Comment[bs]=Ponašanje radnog prostora
Comment[ca]=Comportament de l'espai de treball
Comment[ca@valencia]=Comportament de l'espai de treball
Comment[cs]=Chování pracovní plochy
Comment[da]=Arbejdsområdets opførsel
Comment[de]=Verhalten der Arbeitsfläche
Comment[el]=Συμπεριφορά χώρου εργασίας
Comment[en_GB]=Workspace Behaviour
Comment[es]=Comportamiento del espacio de trabajo
Comment[et]=Töötsooni käitumine
Comment[eu]=Langunearen portaera
Comment[fi]=Työtilan toiminta
Comment[fr]=Comportement de l'espace de travail
Comment[gl]=Comportamento do espazo de traballo
Comment[he]=התנהגות סביבת העבודה
Comment[hu]=Működés
Comment[id]=Perilaku Workspace
Comment[is]=Hegðun vinnurýmis
Comment[it]=Comportamento dello spazio di lavoro
Comment[ja]=ワークスペースの挙動
Comment[ko]=작업 공간 행동
Comment[lt]=Darbo erdvės elgsena
Comment[nb]=Oppførsel for arbeidsområdet
Comment[nds]=Arbeitrebeet-Bedregen
Comment[nl]=Gedrag van werkruimte
Comment[nn]=Åtferd til arbeids­område
Comment[pa]=ਵਰਕਸਪੇਸ ਰਵੱਈਆ
Comment[pl]=Zachowanie przestrzeni roboczej
Comment[pt]=Comportamento da Área de Trabalho
Comment[pt_BR]=Comportamento do espaço de trabalho
Comment[ru]=Настройка поведения рабочей среды
Comment[sk]=Správanie pracovnej plochy
Comment[sl]=Obnašanje delovnega prostora
Comment[sr]=Понашање радног простора
Comment[sr@ijekavian]=Понашање радног простора
Comment[sr@ijekavianlatin]=Ponašanje radnog prostora
Comment[sr@latin]=Ponašanje radnog prostora
Comment[sv]=Arbetsytans beteende
Comment[tr]=Çalışma Alanı Davranışı
Comment[uk]=Поведінка робочого простору
Comment[x-test]=xxWorkspace Behaviorxx
Comment[zh_CN]=工作空间行为
Comment[zh_TW]=工作空間行為
X-KDE-Keywords=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,tooltips,click,single click,double click
X-KDE-Keywords[ca]=plasma,espai de treball,shell,factor de format,tauler,consells d'eines,consells informatius,consells d'eines,clic normal,doble clic
X-KDE-Keywords[ca@valencia]=plasma,espai de treball,shell,factor de format,tauler,consells d'eines,consells informatius,consells d'eines,clic normal,doble clic
X-KDE-Keywords[da]=plasma,arbejdsområde,skal,formfaktor,dashboard,instrumentbræt,værktøjstips,informationstip,klik,enkeltklik,dobbeltklik
X-KDE-Keywords[de]=Plasma,Arbeitsbereich,Shell,Formfaktor,Format,Dashboard,Übersichtsseite,Kurzinfo,Tipps, Klick, Einfachklick, Doppelklick
X-KDE-Keywords[el]=plasma,χώρος εργασίας,κέλυφος,formfactor,πίνακας,υποδείξεις,ενημερωτικές υποδείξεις,υποδείξεις,κλικ,μονό κλικ,διπλό κλικ
X-KDE-Keywords[en_GB]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,tooltips,click,single click,double click
X-KDE-Keywords[es]=plasma,espacio de trabajo,consola,factor de forma,tablero de mandos,ayudas emergentes,ayudas informativas,clic,clic sencillo,doble clic
X-KDE-Keywords[eu]=plasma,langunea,shell,formfactor,forma,dashboard,aginte-mahaia,tooltips, tresnen argibidek,informational tips,informatzeko argibideak,klik, klik bakuna,klik bikoitza
X-KDE-Keywords[fi]=plasma,työtila,ympäristö,kuori,kokoluokka,kojelauta,työkaluvihjeet,ohjevinkit,työkaluvihjeet,napsautus,yksittäisnapsautus,kaksoisnapsautus
X-KDE-Keywords[fr]=plasma, espace de travail, environnement, facteur de forme, tableau de bord, astuces d'informations, infobulles, clic, simple clic, double clic
X-KDE-Keywords[gl]=plasma,espazo de traballo,intérprete de ordes,shell,cadro de control,axudiñas,forma,consellos,clic
X-KDE-Keywords[id]=plasma,ruang kerja,shell,formfactor,dasbor,tip alat,tip penginformasian,tip alat,klik,klik tunggal,klik ganda
X-KDE-Keywords[it]=plasma,spazio di lavoro,shell,fattore di forma,cruscotto,suggerimenti,suggerimenti informativi,clic,singolo clic,doppio clic
X-KDE-Keywords[ko]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,작업 공간,셸,대시보드,풍선 도움말,클릭,더블 클릭,두 번 누르기,누르기
X-KDE-Keywords[nl]=plasma,werkruimte,shell,vormfactor,dashboard,tekstballonnen,informatieve tips,tekstballonnen,klik,dubbelklik
X-KDE-Keywords[nn]=plasma,arbeidsområde,skal,formfaktor,kontrollpult,hjelpebobler,verktøytips,informasjonsbobler,klikk,enkeltklikk,dobbeltklikk
X-KDE-Keywords[pa]=ਪਲਾਜ਼ਮਾ,ਵਰਕਸਪੇਸ,ਸ਼ੈੱਲ,ਫਾਰਮਫੈਕਟਰ,ਡੈਸ਼ਬੋਰਡ,ਟੂਲ-ਟਿੱਪ,ਜਾਣਕਾਰੀ ਵਾਲੇ ਟਿੱਪ,ਇਸ਼ਾਰੇ,ਗੁਰ,ਕਲਿੱਕ,ਡਬਲ ਕਲਿੱਕ,ਦੋਹਰਾ ਕਲਿੱਕ
X-KDE-Keywords[pl]=plazma,przestrzeń robocza,powłoka,współczynnik kształtu,tablica,podpowiedzi,informacyjne wskazówki,kliknięcie,jednokrotne kliknięcie,dwukrotne kliknięcie
X-KDE-Keywords[pt]=plasma,área de trabalho,consola,formato de ecrã,painel,dicas,dicas informativas,click,click simples,duplo-click
X-KDE-Keywords[pt_BR]=plasma,área de trabalho,shell,formato de tela,painel,dicas,dicas informativas,clique simples,clique duplo
X-KDE-Keywords[ru]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,tooltips,click,single click,double click,плазма,рабочий стол,рабочая среда,рабочее окружение,окружение рабочего стола,среда рабочего стола,приборная доска,подсказки,всплывающие подсказки,информационные подсказки,оболочка рабочего стола,щелчок,одиночный клик,одиночный щелчок,двойной клик,двойной щелчок
X-KDE-Keywords[sk]=plasma,pracovná plocha,shell,formfactor,nástenka,nástrojové tipy,informačné tipy,klik,jeden klik,dvojitý klik
X-KDE-Keywords[sv]=plasma,arbetsyta,skal,formfaktor,instrumentpanel,verktygstips,informationstips,klick,enkelklick,dubbelklick
X-KDE-Keywords[uk]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,tooltips,click,single click,double click,плазма,робочий простір,оболонка,форм-фактор,панель,підказки,інформація,відомості,клацання,одинарне клацання,подвійне клацання
X-KDE-Keywords[x-test]=xxplasmaxx,xxworkspacexx,xxshellxx,xxformfactorxx,xxdashboardxx,xxtooltipsxx,xxinformational tipsxx,xxtooltipsxx,xxclickxx,xxsingle clickxx,xxdouble clickxx
X-KDE-Keywords[zh_CN]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,tooltips,click,single click,double click,工作空间,外壳,部件版,工具提示,提示,信息提示,单击,双击
X-KDE-Keywords[zh_TW]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,tooltips,click,single click,double click
Categories=Qt;KDE;X-KDE-settings-system;
