[Desktop Entry]
Exec=kcmshell4 workspaceoptions
Icon=plasma
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/workspaceoptions/index.html

X-KDE-Library=kcm_workspaceoptions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-behavior

Name=Workspace
Name[ca]=Espai de treball
Name[de]=Arbeitsbereich
Name[fi]=Työtila
Name[nl]=Werkruimte
Name[pl]=Przestrzeń robocza
Name[pt]=Área de Trabalho
Name[pt_BR]=Espaço de trabalho
Name[sk]=Pracovná plocha
Name[sv]=Arbetsyta
Name[uk]=Робочий простір
Name[x-test]=xxWorkspacexx

Comment=Global options for the Plasma Workspace
Comment[ca]=Opcions globals per a l'espai de treball del Plasma
Comment[de]=Globale Einstellungen für die Plasma-Arbeitsfläche
Comment[fi]=Plasma-työtilan yleisasetukset
Comment[nl]=Globale opties voor de Plasma-werkruimte
Comment[pl]=Globalne opcje Przestrzeni Roboczej Plazmy
Comment[pt]=Opções globais para a Área de Trabalho do Plasma
Comment[pt_BR]=Opções globais do Espaço de Trabalho Plasma
Comment[sk]=Globálne možnosti pre pracovnú plochu Plasma
Comment[sv]=Globala alternativ för Plasmas arbetsyta
Comment[uk]=Загальні параметри робочого простору Плазми
Comment[x-test]=xxGlobal options for the Plasma Workspacexx

X-KDE-Keywords=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips
X-KDE-Keywords[ca]=plasma,espai de treball,shell,factor de format,tauler,consells d'eines,consells informatius
X-KDE-Keywords[de]=Plasma,Arbeitsbereich,Shell,Formfaktor,Format,Dashboard,Kurzinfo,Tipps
X-KDE-Keywords[fi]=plasma,työtila,ympäristö,kuori,kokoluokka,kojelauta,työkaluvihjeet
X-KDE-Keywords[nl]=plasma,werkruimte,shell,vormfactor,dashboard,tekstballonnen,informatieve tips
X-KDE-Keywords[pl]=plazma,przestrzeń robocza,powłoka,współczynnik kształtu,tablica,podpowiedzi,informacyjne wskazówki
X-KDE-Keywords[pt]=plasma,área de trabalho,consola,formato de ecrã,painel,dicas,dicas informativas
X-KDE-Keywords[sk]=plasma,workspace,shell,formfactor,nástenka,nástrojové tipy,informačné tipy
X-KDE-Keywords[sv]=plasma,arbetsyta,skal,formfaktor,instrumentpanel,verktygstips,informationstips
X-KDE-Keywords[uk]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,плазма,робочий простір,оболонка,форм-фактор,панель,підказки,інформація,відомості
X-KDE-Keywords[x-test]=xxplasma,workspace,shell,formfactor,dashboard,tooltips,informational tipsxx

Categories=Qt;KDE;X-KDE-settings-system;
