[Desktop Entry]
Exec=kcmshell4 workspaceoptions
Icon=plasma
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/workspaceoptions/index.html

X-KDE-Library=kcm_workspaceoptions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-behavior

Name=Workspace

Comment=Global options for the Plasma Workspace

X-KDE-Keywords=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips

Categories=Qt;KDE;X-KDE-settings-system;
