[Desktop Entry]
Exec=kcmshell4 workspaceoptions
Icon=plasma
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/workspaceoptions/index.html

X-KDE-Library=kcm_workspaceoptions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-behavior

Name=Workspace
Name[ar]=مساحة العمل
Name[ast]=Espaciu de trabayu
Name[bg]=Работно пространство
Name[bn]=ওয়ার্কস্পেস
Name[bs]=Radni prostor
Name[ca]=Espai de treball
Name[ca@valencia]=Espai de treball
Name[cs]=Pracovní plocha
Name[csb]=Robòczi plac
Name[da]=Arbejdsområde
Name[de]=Arbeitsbereich
Name[el]=Χώρος εργασίας
Name[en_GB]=Workspace
Name[eo]=Laborspacon
Name[es]=Espacio de trabajo
Name[et]=Töötsoon
Name[eu]=Laneko eremua
Name[fi]=Työtila
Name[fr]=Espace de travail
Name[fy]=Wurkromte
Name[ga]=Spás Oibre
Name[gl]=Espazo de traballo
Name[gu]=કામ કરવાની જગ્યા
Name[he]=סביבת העבודה
Name[hi]=कार्यस्थान
Name[hr]=Radni prostor
Name[hu]=Munkaterület
Name[ia]=Spatio de labor
Name[id]=Ruang Kerja
Name[is]=Vinnusvæði
Name[it]=Spazio di lavoro
Name[ja]=ワークスペース
Name[kk]=Жұмыс өрісі
Name[km]=តំបន់​ធ្វើការ
Name[kn]=ಕಾರ್ಯಕ್ಷೇತ್ರ
Name[ko]=작업 공간
Name[lt]=Darbo erdvė
Name[lv]=Darbvirsma
Name[mk]=Работен простор
Name[ml]=പണിയറ
Name[mr]=कार्यस्थान
Name[nb]=Arbeidsområde
Name[nds]=Arbeitrebeet
Name[nl]=Werkruimte
Name[nn]=Arbeids­område
Name[pa]=ਵਰਕਸਪੇਸ
Name[pl]=Przestrzeń robocza
Name[pt]=Espaço de Trabalho
Name[pt_BR]=Espaço de trabalho
Name[ro]=Spațiu de lucru
Name[ru]=Рабочее пространство Plasma
Name[si]=වැඩබිම
Name[sk]=Pracovná plocha
Name[sl]=Delovni prostor
Name[sr]=Радни простор
Name[sr@ijekavian]=Радни простор
Name[sr@ijekavianlatin]=Radni prostor
Name[sr@latin]=Radni prostor
Name[sv]=Arbetsyta
Name[tg]=Муҳити корӣ
Name[th]=พื้นที่พลาสมา
Name[tr]=Çalışma alanı
Name[ug]=Workspace
Name[uk]=Робочий простір
Name[wa]=Espåce di boutaedje
Name[x-test]=xxWorkspacexx
Name[zh_CN]=工作空间
Name[zh_TW]=工作空間

Comment=Global options for the Plasma Workspace
Comment[ar]=الإعدادات الشاملة لمساحة عمل بلازما
Comment[ast]=Opciones globales del espaciu de trabayu Plasma
Comment[bg]=Общи настройки на работното пространство на Plasma
Comment[bs]=Globalne opcije za plazma radni prostor
Comment[ca]=Opcions globals per a l'espai de treball del Plasma
Comment[ca@valencia]=Opcions globals per a l'espai de treball del Plasma
Comment[cs]=Globální možnosti pro pracovní plochu Plasma
Comment[da]=Globale indstillinger for Plasma arbejdsområde
Comment[de]=Globale Einstellungen für die Plasma-Arbeitsfläche
Comment[el]=Καθολικές επιλογές για το χώρο εργασίας Plasma
Comment[en_GB]=Global options for the Plasma Workspace
Comment[es]=Opciones globales del espacio de trabajo Plasma
Comment[et]=Plasma töötsooni globaalsed valikud
Comment[eu]=Plasma laneko gunearen aukera orokorrak
Comment[fi]=Plasma-työtilan yleisasetukset
Comment[fr]=Options globales pour l'espace de travail Plasma
Comment[ga]=Roghanna comhchoiteanna don spás oibre Plasma
Comment[gl]=Opcións globais do espazo de traballo de Plasma
Comment[he]=אפשרויות גלובאליות לסביבת העבודה של Plasma
Comment[hr]=Globalne opcije za Plasmin radni prostor
Comment[hu]=A Plazma munkaterület globális beállításai
Comment[ia]=Optiones global pro le spatio de labor de Plasma
Comment[id]=Opsi global untuk Ruang Kerja Plasma
Comment[is]=Almennar stillingar Plasma vinnurýmisins
Comment[it]=Opzioni globali per lo spazio di lavoro di Plasma
Comment[ja]=Plasma ワークスペースのグローバルオプション
Comment[kk]=Plasma жұмыс өрісінің жалпы параметрлері
Comment[km]=ជម្រើស​សកល​សម្រាប់​​តំបន់ការងារ​ប្លាស្មា
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಕಾರ್ಯಕ್ಷೇತ್ರ(ವರ್ಕ್-ಸ್ಪೇಸ್) ಸಾರ್ವತ್ರಿಕ ಆಯ್ಕೆಗಳು
Comment[ko]=Plasma 작업 공간 전역 옵션
Comment[lt]=Plasma darbo erdvės globalūs nustatymai
Comment[lv]=Plasma darba telpas globālās opcijas
Comment[mr]=प्लाज्मा वर्कस्पेस साठी जागतिक पर्याय
Comment[nb]=Globale valg for Plasma-arbeidsområdet
Comment[nds]=Globaal Optschonen för dat Plasma-Arbeitrebeet
Comment[nl]=Globale opties voor de Plasma-werkruimte
Comment[nn]=Globale innstillingar for Plasma-arbeidsområdet
Comment[pa]=ਪਲਾਜ਼ਮਾ ਵਰਕਸਪੇਸ ਲਈ ਗਲੋਬਲ ਚੋਣਾਂ
Comment[pl]=Globalne opcje przestrzeni roboczej Plazmy
Comment[pt]=Opções globais para o ambiente de trabalho Plasma
Comment[pt_BR]=Opções globais para o Espaço de Trabalho Plasma
Comment[ro]=Opțiuni globale pentru spațiul de lucru Plasma
Comment[ru]=Общие параметры рабочего пространства Plasma
Comment[si]=ප්ලාස්මා වැඩබිම් සඳහා ගෝලීය අභිරුචි
Comment[sk]=Globálne možnosti pre pracovnú plochu Plasma
Comment[sl]=Splošne možnosti za delovni prostor Plasma
Comment[sr]=Глобалне опције за плазма радни простор
Comment[sr@ijekavian]=Глобалне опције за плазма радни простор
Comment[sr@ijekavianlatin]=Globalne opcije za plasma radni prostor
Comment[sr@latin]=Globalne opcije za plasma radni prostor
Comment[sv]=Globala alternativ för Plasmas arbetsyta
Comment[th]=ตัวเลือกทั่วไปสำหรับพื้นที่พลาสมา
Comment[tr]=Plasma Çalışma Alanı için genel ayarlar
Comment[ug]=پلازما خىزمەت بوشلۇقىنىڭ ئومۇمىيەت تاللانمىسى
Comment[uk]=Загальні параметри робочого простору Плазми
Comment[vi]=Tuỳ chọn toàn hệ thống cho Không gian Plasma
Comment[wa]=Tchuzes po ttavå po l' espåce di boutaedje Plasma
Comment[x-test]=xxGlobal options for the Plasma Workspacexx
Comment[zh_CN]=Plasma 工作空间的全局选项
Comment[zh_TW]=Plasma 工作空間的全域選項

X-KDE-Keywords=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips
X-KDE-Keywords[bs]=Plazma, radni prostor, ljuska, faktor forme, kontrolna ploča, informativni savjeti
X-KDE-Keywords[ca]=plasma,espai de treball,shell,factor de format,tauler,consells d'eines,consells informatius
X-KDE-Keywords[ca@valencia]=plasma,espai de treball,shell,factor de format,tauler,consells d'eines,consells informatius
X-KDE-Keywords[da]=plasma,arbejdsområde,skal,formfaktor,dashboard,instrumentbræt,værktøjstips,informationstip
X-KDE-Keywords[de]=Plasma,Arbeitsbereich,Shell,Formfaktor,Format,Dashboard,Kurzinfo,Tipps
X-KDE-Keywords[el]=plasma,χώρος εργασίας,κέλυφος,formfactor,πίνακας,υποδείξεις,ενημερωτικές υποδείξεις
X-KDE-Keywords[es]=plasma,espacio de trabajo,consola,factor de forma,tablero de mandos,ayudas emergentes,ayudas informativas
X-KDE-Keywords[et]=plasma,töötsoon,shell,dashboard,vidinavaadekonteiner,kohtspikrid,
X-KDE-Keywords[eu]=plasma,laneko eremua,shell,forma-faktore,aginte-mahaia,iradokizunak,aholkuak
X-KDE-Keywords[fi]=plasma,työtila,ympäristö,kuori,kokoluokka,kojelauta,työkaluvihjeet
X-KDE-Keywords[fr]=plasma, espace de travail, shell, facteur de fiche, tableau de bord, bulles d'aide, bulles d'informations
X-KDE-Keywords[gl]=plasma, espazo de traballo, shell, cadro de control, axudiñas, forma
X-KDE-Keywords[hu]=plazma,munkaterület,héj,formfactor,áttekintő nézet,buboréksúgók,információs súgók
X-KDE-Keywords[ia]=plasma,spatio de labor,shell,factor de forma,tabuliero de instrumentos,consilios,consilios de information
X-KDE-Keywords[it]=plasma,spazio di lavoro,shell,fattore di forma,dashboard,suggerimento,suggerimento informativo
X-KDE-Keywords[kk]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips
X-KDE-Keywords[km]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips
X-KDE-Keywords[ko]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,작업 공간,셸,대시보드,풍선 도움말
X-KDE-Keywords[mr]=प्लाज्मा, वर्कस्पेस, शेल ,फॉर्मफँक्टर, डँशबोर्ड, टूलटिप्स, माहितीपर टिप्स
X-KDE-Keywords[nb]=plasma,arbeidsområde,skall,formfaktor,kontrollpult,hjelpebobler,informasjonsbobler
X-KDE-Keywords[nds]=Plasma,Arbeitrebeet,Konsool,Form,Klockpaneel,Kortinfos,Intressante Tipps
X-KDE-Keywords[nl]=plasma,werkruimte,shell,vormfactor,dashboard,tekstballonnen,informatieve tips
X-KDE-Keywords[pl]=plazma,przestrzeń robocza,powłoka,współczynnik kształtu,tablica,podpowiedzi,informacyjne wskazówki
X-KDE-Keywords[pt]=plasma,área de trabalho,consola,proporção,painel,dicas,dicas informativas
X-KDE-Keywords[pt_BR]=plasma,espaço de trabalho,shell,console,proporção,painel,dicas,dicas informativas
X-KDE-Keywords[ru]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,плазма,рабочее пространство,формфактор,размещение,приборная доска,доска приборов,всплывающие подсказки,информационные советы,советы,подсказки
X-KDE-Keywords[sk]=plasma,workspace,shell,formfactor,nástenka,nástrojové tipy,informačné tipy
X-KDE-Keywords[sl]=plasma,delovni prostor,lupina,velikost in oblika,nadzorna plošča,orodni namigi,obvestilni namigi
X-KDE-Keywords[sr]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,Плазма,радни простор,шкољка,подлога,инструмент-табла,облачићи,савети
X-KDE-Keywords[sr@ijekavian]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,Плазма,радни простор,шкољка,подлога,инструмент-табла,облачићи,савети
X-KDE-Keywords[sr@ijekavianlatin]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,Plasma,radni prostor,školjka,podloga,instrument-tabla,oblačići,saveti
X-KDE-Keywords[sr@latin]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,Plasma,radni prostor,školjka,podloga,instrument-tabla,oblačići,saveti
X-KDE-Keywords[sv]=plasma,arbetsyta,skal,formfaktor,instrumentpanel,verktygstsp,informationstips
X-KDE-Keywords[tr]=plasma,çalışma alanı,kabuk,boyutlandırma,kontrol paneli,ipuçları,bilgilendirici ipuçları
X-KDE-Keywords[uk]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,плазма,робочий простір,оболонка,формфактор,підказки,інформаційні панелі
X-KDE-Keywords[x-test]=xxplasma,workspace,shell,formfactor,dashboard,tooltips,informational tipsxx
X-KDE-Keywords[zh_CN]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips,工作空间,外壳,形状参数,部件板,工具提示,信息提示
X-KDE-Keywords[zh_TW]=plasma,workspace,shell,formfactor,dashboard,tooltips,informational tips

Categories=Qt;KDE;X-KDE-settings-system;
