[Desktop Entry]
Name=Splash Screen
Name[ar]=شاشة البدء
Name[bs]=Čuvar ekrana
Name[ca]=Pantalla de presentació
Name[ca@valencia]=Pantalla de presentació
Name[cs]=Úvodní obrazovka
Name[da]=Splashskærm
Name[de]=Startbildschirm
Name[el]=Αρχική οθόνη
Name[en_GB]=Splash Screen
Name[es]=Pantalla de bienvenida
Name[et]=Tiitelkuva
Name[eu]=Plast pantaila
Name[fi]=Tervetuloruutu
Name[fr]=Écran de démarrage
Name[gl]=Pantalla de benvida
Name[he]=מסך פתיחה
Name[hu]=Nyitóképernyő
Name[id]=Layar Splash
Name[is]=Upphafsskjár
Name[it]=Schermata iniziale
Name[ko]=시작 화면
Name[lt]=Pasveikinimo ekranas
Name[nb]=Velkomstbilde
Name[nds]=Startschirm
Name[nl]=Opstartscherm
Name[nn]=Velkomst­bilete
Name[pa]=ਸਵਾਗਤੀ ਸਕਰੀਨ
Name[pl]=Ekran powitalny
Name[pt]=Ecrã Inicial
Name[pt_BR]=Tela de apresentação
Name[ru]=Заставка
Name[se]=Álgošearbma
Name[sk]=Úvodná obrazovka
Name[sl]=Pozdravno okno
Name[sr]=Уводни екран
Name[sr@ijekavian]=Уводни екран
Name[sr@ijekavianlatin]=Uvodni ekran
Name[sr@latin]=Uvodni ekran
Name[sv]=Startskärm
Name[tr]=Açılış Ekranı
Name[uk]=Вікно вітання
Name[vi]=Màn hình chào mừng
Name[x-test]=xxSplash Screenxx
Name[zh_CN]=欢迎屏幕
Name[zh_TW]=啟動畫面
Comment=Splash Screen Theme
Comment[ar]=سمة شاشة البدء
Comment[bs]=Tema čuvara ekrana
Comment[ca]=Tema de la pantalla de presentació
Comment[ca@valencia]=Tema de la pantalla de presentació
Comment[cs]=Motiv úvodní obrazovky
Comment[da]=Tema for opstartsskærmen
Comment[de]=Startbildschirm-Design
Comment[el]=Θέμα αρχικής οθόνης
Comment[en_GB]=Splash Screen Theme
Comment[es]=Tema de la pantalla de bienvenida
Comment[et]=Tiitelkuva teema
Comment[eu]=Plasta pantailaren gaia
Comment[fi]=Tervetuloruudun teema
Comment[fr]=Thème de l'écran de démarrage
Comment[gl]=Tema da pantalla de benvida
Comment[he]=ערכת הנושא של מסך הפתיחה
Comment[hu]=Nyitókép téma
Comment[id]=Tema Layar Splash
Comment[is]=Þemai ræsiskjás
Comment[it]=Tema della schermata iniziale
Comment[ko]=시작 화면 테마
Comment[lt]=Pasveikinimo ekrano apipavidalinimas
Comment[nb]=Velkomstbilde-tema
Comment[nds]=Startschirm-Muster
Comment[nl]=Opstartschermthema
Comment[nn]=Tema for velkomstbilete
Comment[pa]=ਸਵਾਗਤੀ ਸਕਰੀਨ ਥੀਮ
Comment[pl]=Wygląd ekranu powitalnego
Comment[pt]=Tema do Ecrã Inicial
Comment[pt_BR]=Tema da tela de apresentação
Comment[ru]=Управление темами экрана-заставки
Comment[sk]=Téma úvodnej obrazovky
Comment[sl]=Tema pozdravnega okna
Comment[sr]=Тема уводног екрана
Comment[sr@ijekavian]=Тема уводног екрана
Comment[sr@ijekavianlatin]=Tema uvodnog ekrana
Comment[sr@latin]=Tema uvodnog ekrana
Comment[sv]=Tema för startskärm
Comment[tr]=Açılış Ekranı Teması
Comment[uk]=Тема вікна вітання
Comment[x-test]=xxSplash Screen Themexx
Comment[zh_CN]=欢迎屏幕主题
Comment[zh_TW]=啟動畫面主題
Icon=preferences-system-splash
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=kcm_splashscreen
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
