[Desktop Entry]
Name=Folder View
Name[ar]=عرض المجلّد
Name[ast]=Vista de carpetes
Name[az]=Qovluqlara baxış
Name[ca]=Vista de carpeta
Name[ca@valencia]=Vista de carpeta
Name[cs]=Pohled na složku
Name[da]=Mappevisning
Name[de]=Ordner-Ansicht
Name[el]=Προβολή φακέλου
Name[en_GB]=Folder View
Name[es]=Vista de carpetas
Name[et]=Kataloogivaade
Name[eu]=Karpeta ikuspegia
Name[fi]=Kansionäkymä
Name[fr]=Vue de dossier
Name[gl]=Vista de cartafoles
Name[he]=הצגת תיקיות
Name[hu]=Mappanézet
Name[ia]=Vista del Dossier
Name[id]=Tampilan Folder
Name[is]=Möppusýn
Name[it]=Vista delle cartelle
Name[ja]=フォルダビュー
Name[ko]=폴더 보기
Name[lt]=Aplankų rodinys
Name[nl]=Mapweergave
Name[nn]=Mappevising
Name[pa]=ਫੋਲਡਰ ਝਲਕ
Name[pl]=Widok katalogu
Name[pt]=Vista da Pasta
Name[pt_BR]=Visualização de pastas
Name[ro]=Vizualizare dosare
Name[ru]=Просмотр папки
Name[se]=Máhppačájeheapmi
Name[sk]=Pohľad priečinka
Name[sl]=Prikaz mape
Name[sr]=Приказ фасцикле
Name[sr@ijekavian]=Приказ фасцикле
Name[sr@ijekavianlatin]=Prikaz fascikle
Name[sr@latin]=Prikaz fascikle
Name[sv]=Katalogvy
Name[ta]=அடைவு பார்வை
Name[tg]=Намуди ҷузвадонҳо
Name[tr]=Klasör Görünümü
Name[uk]=Перегляд теки
Name[vi]=Xem thư mục
Name[x-test]=xxFolder Viewxx
Name[zh_CN]=文件夹视图
Name[zh_TW]=資料夾檢視
Comment=Display the contents of folders
Comment[ar]=اعرض محتويات المجلّدات
Comment[ast]=Amuesa'l conteníu de les carpetes
Comment[az]=Qovluqların tərkibinə baxış
Comment[bs]=Prikaži sadržaj fascikli
Comment[ca]=Mostra el contingut de les carpetes
Comment[ca@valencia]=Mostra el contingut de les carpetes
Comment[cs]=Zobrazit obsah složek
Comment[da]=Vis indholdet af mapper
Comment[de]=Ordnerinhalte anzeigen
Comment[el]=Εμφάνιση περιεχομένων των φακέλων
Comment[en_GB]=Display the contents of folders
Comment[es]=Mostrar el contenido de carpetas
Comment[et]=Kataloogide sisu näitamine
Comment[eu]=Karpeten edukia erakusten du
Comment[fi]=Näyttää kansion sisällön
Comment[fr]=Afficher le contenu de dossiers
Comment[gl]=Mostra o contido dos cartafoles
Comment[he]=מציג תוכל של תיקיה
Comment[hu]=Megjeleníti a mappák tartalmát
Comment[ia]=Monstra le contentos de dossieres
Comment[id]=Tampilkan konten folder
Comment[is]=Sýna innihald mappa
Comment[it]=Visualizza il contenuto delle cartelle
Comment[ja]=フォルダーの内容を表示します
Comment[ko]=폴더의 내용 보기
Comment[lt]=Rodyti aplankų turinį
Comment[nb]=Vis mappers innhold
Comment[nds]=Den Inholt vun Ornern wiesen
Comment[nl]=Toon de inhoud van mappen
Comment[nn]=Vis innhaldet i mapper
Comment[pa]=ਫੋਲਡਰਾਂ ਦੀ ਸਮੱਗਰੀ ਵੇਖਾਓ
Comment[pl]=Wyświetla zawartość katalogów
Comment[pt]=Mostrar o conteúdo das pastas
Comment[pt_BR]=Mostra o conteúdo das pastas
Comment[ro]=Afișează conținutul dosarelor
Comment[ru]=Вывод содержимого папки
Comment[sk]=Zobraziť obsah priečinkov
Comment[sl]=Pokaži vsebino map
Comment[sr]=Приказ садржаја фасцикле
Comment[sr@ijekavian]=Приказ садржаја фасцикле
Comment[sr@ijekavianlatin]=Prikaz sadržaja fascikle
Comment[sr@latin]=Prikaz sadržaja fascikle
Comment[sv]=Visa innehåll i kataloger
Comment[ta]=அடைவுகளின் உள்ளடக்கத்தை காட்டு
Comment[tr]=Klasörün içeriklerini görüntüle
Comment[uk]=Показ вмісту тек
Comment[vi]=Hiển thị nội dung các thư mục
Comment[x-test]=xxDisplay the contents of foldersxx
Comment[zh_CN]=显示文件夹的内容
Comment[zh_TW]=顯示資料夾內容

Type=Service
Icon=org.kde.plasma.folder
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RootPath=org.kde.desktopcontainment
X-Plasma-Provides=org.kde.plasma.filemanagement
X-Plasma-RequiredExtensions=LaunchApp,http,localio,networkio
X-Plasma-ContainmentType=Desktop
X-Plasma-DropMimeTypes=inode/directory

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.folder
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
