[Desktop Entry]
Exec=kcmshell5 display
Icon=preferences-desktop-display
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_display
X-KDE-ParentApp=kcontrol

Name=Display
Name[nl]=Beeldscherm
Name[uk]=Дисплей
Name[x-test]=xxDisplayxx
Comment=Display Settings
Comment[nl]=Beeldscherminstellingen
Comment[uk]=Налаштування дисплея
Comment[x-test]=xxDisplay Settingsxx
Categories=Qt;KDE;X-KDE-settings-hardware;
