[Desktop Entry]
Exec=kcmshell5 display
Icon=preferences-desktop-display
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_display
X-KDE-ParentApp=kcontrol

Name=Display
Comment=Display Settings
Categories=Qt;KDE;X-KDE-settings-hardware;
