[Desktop Entry]
Name=Show Desktop
Name[ar]=أظهر سطح المكتب
Name[bs]=Prikaži radnu površinu
Name[ca]=Mostra l'escriptori
Name[ca@valencia]=Mostra l'escriptori
Name[cs]=Zobrazit plochu
Name[da]=Vis skrivebord
Name[de]=Arbeitsfläche anzeigen
Name[el]=Εμφάνιση επιφάνειας εργασίας
Name[en_GB]=Show Desktop
Name[es]=Mostrar el escritorio
Name[et]=Töölaua näitamine
Name[eu]=Erakutsi mahaigaina
Name[fi]=Näytä työpöytä
Name[fr]=Afficher un bureau
Name[ga]=Taispeáin an Deasc
Name[gl]=Mostrar o escritorio
Name[he]=הצג שולחן עבודה
Name[hr]=Prkaži radnu površinu
Name[hu]=A munkaasztal megjelenítése
Name[ia]=Monstra Scriptorio
Name[id]=Show Desktop
Name[is]=Sýna skjáborðið
Name[it]=Mostra desktop
Name[ja]=デスクトップを表示
Name[kk]=Үстел бетін көрсету
Name[km]=បង្ហាញ​ផ្ទៃតុ
Name[ko]=데스크톱 보이기
Name[ku]=Sermasê Nîşan Bide
Name[lt]=Rodyti darbalaukį
Name[lv]=Parādīt darbvirsmu
Name[mr]=डेस्कटॉप दर्शवा
Name[nb]=Vis skrivebord
Name[nds]=Schriefdisch wiesen
Name[nl]=Bureaublad tonen
Name[nn]=Vis skrivebord
Name[pa]=ਡੈਸਕਟਾਪ ਵੇਖੋ
Name[pl]=Pokaż pulpit
Name[pt]=Mostrar o Ecrã
Name[pt_BR]=Exibir a área de trabalho
Name[ro]=Arată biroul
Name[ru]=Показать рабочий стол
Name[sk]=Zobraziť plochu
Name[sl]=Pokaži namizje
Name[sq]=Shfaq Hapësirën e Punës
Name[sr]=приказ површи
Name[sr@ijekavian]=приказ површи
Name[sr@ijekavianlatin]=prikaz površi
Name[sr@latin]=prikaz površi
Name[sv]=Visa skrivbord
Name[th]=แสดงพื้นที่ทำงาน
Name[tr]=Masaüstünü Göster
Name[ug]=ئۈستەلئۈستىنى كۆرسەت
Name[uk]=Показати стільницю
Name[wa]=Mostrer scribanne
Name[x-test]=xxShow Desktopxx
Name[zh_CN]=显示桌面
Name[zh_TW]=顯示桌面
Comment=Show the Plasma desktop
Comment[ar]=أظهر سطح مكتب بلازما
Comment[bs]=Prikazi plazma površ
Comment[ca]=Mostra l'escriptori Plasma
Comment[ca@valencia]=Mostra l'escriptori Plasma
Comment[cs]=Zobrazení plochy Plasmy
Comment[da]=Viser Plasmas skrivebord.
Comment[de]=Die Plasma-Arbeitsfläche anzeigen
Comment[el]=Εμφάνιση της επιφάνειας εργασίας plasma
Comment[en_GB]=Show the Plasma desktop
Comment[es]=Mostrar el escritorio de Plasma
Comment[et]=Plasma töölaua näitamine
Comment[eu]=Erakutsi Plasma mahaigaina
Comment[fi]=Näyttää työpöydän
Comment[fr]=Afficher le bureau Plasma
Comment[ga]=Taispeáin an deasc Plasma
Comment[gl]=Mostra o escritorio Plasma
Comment[he]=מציג את שולחן העבודה Plasma
Comment[hr]=Prikaži radnu površinu Plasme
Comment[hu]=A Plazma munkaasztal megjelenítése
Comment[ia]=Monstra le scriptorio de Plasma
Comment[id]=Menampilkan desktop Plasma
Comment[is]=Sýna Plasmaskjáborðið
Comment[it]=Mostra il desktop di Plasma
Comment[ja]=Plasma デスクトップを表示します
Comment[kk]=Plasma үстелінің бетін көрсету
Comment[km]=បង្ហាញ​ផ្ទៃតុ​ប្លាស្មា
Comment[ko]=Plasma 데스크톱 보이기
Comment[ku]=Sermase ya Plasma nîşan bide
Comment[lt]=Rodo Plasma darbalaukį
Comment[lv]=Parāda Plasma darbvirsmu
Comment[mr]=प्लाज्मा डेस्कटॉप दर्शवा
Comment[nb]=Vis Plasma-skrivebordet
Comment[nds]=Den Plasma-Schriefdisch wiesen
Comment[nl]=Toont het Plasma-bureaublad
Comment[nn]=Vis Plasma-skrivebordet
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਵੇਖੋ
Comment[pl]=Pokazuje pulpit Plazmy
Comment[pt]=Mostrar o ecrã do Plasma
Comment[pt_BR]=Mostra a área de trabalho do Plasma
Comment[ro]=Arată biroul Plasma
Comment[ru]=Показать рабочий стол Plasma
Comment[sk]=Zobrazenie plochy Plasmy
Comment[sl]=Pokaži namizje Plasma
Comment[sr]=Баците поглед на плазма површ
Comment[sr@ijekavian]=Баците поглед на плазма површ
Comment[sr@ijekavianlatin]=Bacite pogled na plasma površ
Comment[sr@latin]=Bacite pogled na plasma površ
Comment[sv]=Visa Plasmas skrivbord
Comment[th]=แสดงพื้นที่ทำงานของพลาสมา
Comment[tr]=Plasma masaüstünü göster
Comment[uk]=Показує стільницю Плазми
Comment[wa]=Mostrer l' sicribanne Plasma
Comment[x-test]=xxShow the Plasma desktopxx
Comment[zh_CN]=显示 Plasma 桌面
Comment[zh_TW]=顯示 Plasma 桌面
Icon=user-desktop

Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=org.kde.plasma.showdesktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
X-Plasma-API=declarativeappletscript

X-KDE-FormFactors=desktop
