[Desktop Entry]
Name=Show Desktop
Name[az]=İş Masasını Göstərmək
Name[ca]=Mostra l'escriptori
Name[ca@valencia]=Mostra l'escriptori
Name[cs]=Zobrazit plochu
Name[da]=Vis skrivebord
Name[de]=Arbeitsfläche anzeigen
Name[en_GB]=Show Desktop
Name[es]=Mostrar el escritorio
Name[et]=Töölaua näitamine
Name[eu]=Erakutsi mahaigaina
Name[fi]=Näytä työpöytä
Name[fr]=Afficher un bureau
Name[gl]=Mostrar o escritorio
Name[hu]=Asztal megjelenítése
Name[ia]=Monstra Scriptorio
Name[id]=Tampilkan Desktop
Name[it]=Mostra il desktop
Name[ko]=바탕 화면 표시
Name[lt]=Rodyti darbalaukį
Name[ml]=പണിയിടം കാണിക്കുക
Name[nl]=Bureaublad tonen
Name[nn]=Vis skrivebord
Name[pa]=ਡੈਸਕਟਾਪ ਨੂੰ ਵੇਖਾਓ
Name[pl]=Pokaż pulpit
Name[pt]=Mostrar o Ecrã
Name[pt_BR]=Mostrar a área de trabalho
Name[ro]=Arată biroul
Name[ru]=Показать рабочий стол
Name[sk]=Zobraziť plochu
Name[sl]=Prikaži namizje
Name[sv]=Visa skrivbord
Name[tg]=Намоиш додани мизи корӣ
Name[uk]=Показати стільницю
Name[x-test]=xxShow Desktopxx
Name[zh_CN]=显示桌面
Name[zh_TW]=顯示桌面
Comment=Show the Plasma desktop
Comment[ast]=Amuesa l'escritoriu de Plasma
Comment[az]=Plasma İş Masasını göstərmək
Comment[ca]=Mostra l'escriptori Plasma
Comment[ca@valencia]=Mostra l'escriptori Plasma
Comment[cs]=Zobrazení plochy Plasmy
Comment[da]=Viser Plasmas skrivebord
Comment[de]=Die Plasma-Arbeitsfläche anzeigen
Comment[en_GB]=Show the Plasma desktop
Comment[es]=Mostrar el escritorio Plasma
Comment[et]=Plasma töölaua näitamine
Comment[eu]=Erakutsi Plasma mahaigaina
Comment[fi]=Näytä Plasma-työpöytä
Comment[fr]=Afficher le bureau Plasma
Comment[gl]=Mostrar o escritorio Plasma
Comment[hu]=A Plasma asztal megjelenítése
Comment[ia]=Monstra le scriptorio de Plasma
Comment[id]=Tampilkan desktop Plasma
Comment[it]=Mostra il desktop di Plasma
Comment[ko]=Plasma 바탕 화면 표시
Comment[lt]=Rodyti Plasma darbalaukį
Comment[ml]=പ്ലാസ്മ പണിയിടം കാണിക്കുക
Comment[nl]=Toont het Plasma-bureaublad
Comment[nn]=Vis Plasma-skrivebordet
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਵੇਖੋ
Comment[pl]=Pokaż pulpit Plazmy
Comment[pt]=Mostra toda a área de trabalho do Plasma no ecrã
Comment[pt_BR]=Mostra a área de trabalho Plasma
Comment[ro]=Arată biroul Plasma
Comment[ru]=Показывает рабочий стол Plasma
Comment[sk]=Zobraziť plochu Plasma
Comment[sl]=Prikaži namizje Plasma
Comment[sv]=Visa Plasmas skrivbord
Comment[tg]=Намоиш додани мизи кории Плазма
Comment[uk]=Показати стільницю Плазми
Comment[x-test]=xxShow the Plasma desktopxx
Comment[zh_CN]=显示 Plasma 桌面
Comment[zh_TW]=顯示 Plasma 桌面
Icon=user-desktop

Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=org.kde.plasma.showdesktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.windowmanagement
X-Plasma-API=declarativeappletscript

X-KDE-FormFactors=desktop
