[Desktop Entry]
Exec=kcmshell5 fontinst
Icon=preferences-desktop-font-installer
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/fontinst/index.html

X-KDE-Library=kcm_fontinst
X-KDE-ParentApp=kcontrol
X-KDE-OnlyShowOnQtPlatforms=xcb;
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-System-Settings-Parent-Category=font

Name=Font Management
Name[ar]=إدارة الخطوط
Name[bg]=Управление на шрифтове
Name[bn]=ফন্ট ব্যবস্থাপনা
Name[bs]=Font za upravljanje
Name[ca]=Gestió dels tipus de lletra
Name[ca@valencia]=Gestió dels tipus de lletra
Name[cs]=Správa písem
Name[da]=Håndtering af skrifttyper
Name[de]=Schriftarten-Verwaltung
Name[el]=Διαχείριση γραμματοσειρών
Name[en_GB]=Font Management
Name[es]=Gestión de tipos de letra
Name[et]=Fondihaldur
Name[eu]=Letra-tipoen kudeaketa
Name[fi]=Fonttienhallinta
Name[fr]=Gestion des polices de caractères
Name[ga]=Bainisteoireacht Clónna
Name[gl]=Xestión de fontes
Name[he]=ניהול גופנים
Name[hr]=Upravljanje pismima
Name[hu]=Betűtípus-kezelés
Name[ia]=Gestion de font
Name[id]=Pengelolaan Font
Name[is]=Leturstjórn
Name[it]=Gestione dei caratteri
Name[ja]=フォント管理
Name[kk]=Қаріптерді басқару
Name[km]=ការ​គ្រប់គ្រង​ពុម្ពអក្សរ
Name[ko]=글꼴 관리
Name[lt]=Šriftų tvarkymas
Name[lv]=Fontu pārvaldnieks
Name[mr]=फॉन्ट व्यवस्थापन
Name[nb]=Skriftadministrering
Name[nds]=Schriftpleeg
Name[nl]=Lettertypenbeheer
Name[nn]=Skrift­handsaming
Name[pa]=ਫੋਂਟ ਪਰਬੰਧ
Name[pl]=Zarządzanie czcionkami
Name[pt]=Gestão dos Tipos de Letra
Name[pt_BR]=Gerenciamento de fontes
Name[ro]=Administrare fonturi
Name[ru]=Управление шрифтами
Name[sk]=Správa písiem
Name[sl]=Upravljanje pisav
Name[sr]=Управљање фонтовима
Name[sr@ijekavian]=Управљање фонтовима
Name[sr@ijekavianlatin]=Upravljanje fontovima
Name[sr@latin]=Upravljanje fontovima
Name[sv]=Teckensnittshantering
Name[tr]=Yazı Tipi Yönetimi
Name[uk]=Керування шрифтами
Name[vi]=Trình quản lý phông chữ
Name[x-test]=xxFont Managementxx
Name[zh_CN]=字体管理
Name[zh_TW]=字型管理

Comment=Install, manage and preview fonts
Comment[ca]=Instal·la, gestiona i previsualitza els tipus de lletra
Comment[ca@valencia]=Instal·la, gestiona i visualitza els tipus de lletres
Comment[cs]=Instalace, správa a náhled písem
Comment[da]=Installér, håndtér og forhåndsvis skrifttyper
Comment[de]=Schriftarten installieren, verwalten und betrachten
Comment[en_GB]=Install, manage and preview fonts
Comment[es]=Instalación, gestión y vista previa de tipos de letra
Comment[eu]=Letra-tipoak instalatu, kudeatu eta aurreikusi
Comment[fi]=Asenna, hallitse ja esikatsele fontteja
Comment[fr]=Installer, gérer et afficher des polices de caractères
Comment[gl]=Instalar, xestionar e obter unha vista previa de fontes
Comment[id]=Instal, kelola dan pratinjau font-font
Comment[it]=Installa, gestisce e mostra anteprime dei caratteri
Comment[ja]=フォントをインストール、管理、プレビュー
Comment[ko]=글꼴 설치, 미리 보기, 관리
Comment[lt]=Įdiegti, tvarkyti ir peržiūrėti šriftus
Comment[nl]=Lettertypen installeren, beheren en bekijken
Comment[nn]=Installer, handter og vis skrifter
Comment[pl]=Wgrywanie, zarządzanie i podgląd czcionek
Comment[pt]=Instalar, gerir e antever os tipos de letra
Comment[pt_BR]=Instale, gerencie e visualize fontes
Comment[ru]=Установка, управление и просмотр шрифтов
Comment[sk]=Inštalujte, spravujte a prezerajte písma
Comment[sv]=Installera, hantera och förhandsgranska teckensnitt
Comment[uk]=Встановлення, керування та попередній перегляд шрифтів
Comment[x-test]=xxInstall, manage and preview fontsxx
Comment[zh_CN]=安装、管理和预览字体
Comment[zh_TW]=安裝、管理及預覽字型

X-KDE-Keywords=font,fonts,installer,truetype,type1,bitmap
X-KDE-Keywords[ar]=خط,خطوط,مثبّت,مثبت,ترو.تايب,تايب1,صورة نقطية,truetype
X-KDE-Keywords[bs]=slovo,slova,instalacijski program,truetype,tip1,bitna mapa
X-KDE-Keywords[ca]=tipus de lletra,tipus de lletres,instal·lador,truetype,type1,mapa de bits
X-KDE-Keywords[ca@valencia]=tipus de lletra,tipus de lletres,instal·lador,truetype,type1,mapa de bits
X-KDE-Keywords[cs]=písmo,písma,instalátor,truetype,type1,bitmap
X-KDE-Keywords[da]=font,fonts,skrifttype,skrifttyper,installer,truetype,type1,bitmap
X-KDE-Keywords[de]=Schrift,Fonts,Schriftarten,Installation,TrueType,Type1,Bitmapschriften
X-KDE-Keywords[el]=γραμματοσειρά,γραμματοσειρές,πρόγραμμα εγκατάστασης,truetype,type1,bitmap
X-KDE-Keywords[en_GB]=font,fonts,installer,truetype,type1,bitmap
X-KDE-Keywords[es]=tipo de letra,tipos de letra,instalador,truetype,type1,mapa de bits
X-KDE-Keywords[et]=font,fondid,paigaldaja,truetype,type1,bitmap,bittraster
X-KDE-Keywords[eu]=letra-tipo,letra-tipoak,instalatzaile,truetype,type1,bitmapa
X-KDE-Keywords[fi]=kirjasin,kirjasimet,fontti,fontit,asentaja,asennin,truetype,type1,bitmap,bittikartta
X-KDE-Keywords[fr]=police, polices, installateur, TrueType, type1, bitmap
X-KDE-Keywords[ga]=cló,clófhoireann,clónna,clófhoirne,suiteálaí,truetype,type1,mapa giotán,giotánmhapach
X-KDE-Keywords[gl]=fonte,fontes,instalador,truetype,type1,mapa de bits
X-KDE-Keywords[hu]=betűkészlet,betűkészletek,telepítő,truetype,type 1,bitmap
X-KDE-Keywords[ia]=font,fonts,installator,truetype,type1,bitmap
X-KDE-Keywords[id]=fon,fon,penginstal,truetype,type1,bitmap
X-KDE-Keywords[it]=carattere,caratteri,installatore,truetype,type1,bitmap
X-KDE-Keywords[kk]=font,fonts,installer,truetype,type1,bitmap
X-KDE-Keywords[km]=font,fonts,installer,truetype,type1,bitmap
X-KDE-Keywords[ko]=font,fonts,installer,truetype,type1,bitmap,글꼴,폰트,설치
X-KDE-Keywords[lt]=šriftas,šriftai,diegimo programa,truetype,type1,bitmap
X-KDE-Keywords[mr]=फॉन्ट, फॉन्टस, इंस्टालर, ट्रू टाईप, टाईप १, बीटमँप
X-KDE-Keywords[nb]=skrift,skrifter,installer,truetrype,type1,bitmap
X-KDE-Keywords[nds]=Schrift,Schriften,Schriftoort,Schriftoorden,TrueType,Type1,Bitmap
X-KDE-Keywords[nl]=lettertype,lettertypen,installatieprogramma,truetype,type1,bitmap
X-KDE-Keywords[nn]=skrift,skrifter,font,installer,truetype,type1,bitmap,punktskrift
X-KDE-Keywords[pl]=czcionki,czcionka,instalator,truetype,typ1,mapa bitowa
X-KDE-Keywords[pt]=tipo de letra,tipos de letra,instalador,truetype,type1,imagem
X-KDE-Keywords[pt_BR]=fonte,fontes,instalador,truetype,type1,bitmap,imagem
X-KDE-Keywords[ru]=font,fonts,installer,truetype,type1,bitmap,шрифт,шрифты,установка шрифтов,инсталлятор,битовая карта,растровое изображение,удаление шрифтов
X-KDE-Keywords[sk]=písmo,písma,inštalátor,truetype,type1,bitmap
X-KDE-Keywords[sl]=pisava,pisave,namestilnik,truetype,type1,bitmap,namestilnik pisav
X-KDE-Keywords[sr]=font,fonts,installer,truetype,type1,bitmap,фонт,фонтови,инсталатер,трутајп,тип‑1,битмапски
X-KDE-Keywords[sr@ijekavian]=font,fonts,installer,truetype,type1,bitmap,фонт,фонтови,инсталатер,трутајп,тип‑1,битмапски
X-KDE-Keywords[sr@ijekavianlatin]=font,fonts,installer,truetype,type1,bitmap,font,fontovi,instalater,Truetype,Type1,bitmapski
X-KDE-Keywords[sr@latin]=font,fonts,installer,truetype,type1,bitmap,font,fontovi,instalater,Truetype,Type1,bitmapski
X-KDE-Keywords[sv]=teckensnitt,installation,truetype,type1,bitavbildning
X-KDE-Keywords[tr]=yazı tipi,yazı tipleri,yükleyici,kurucu,trueytpe,type1,resim
X-KDE-Keywords[uk]=шрифт,шрифти,встановлювач,truetype,type1,растрові
X-KDE-Keywords[x-test]=xxfontxx,xxfontsxx,xxinstallerxx,xxtruetypexx,xxtype1xx,xxbitmapxx
X-KDE-Keywords[zh_CN]=font,fonts,installer,truetype,type1,bitmap,字体,安装器,点阵
X-KDE-Keywords[zh_TW]=font,fonts,installer,truetype,type1,bitmap


