[Desktop Entry]
Exec=kcmshell5 fontinst
Icon=preferences-desktop-font-installer
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/fontinst/index.html

X-KDE-Library=kcm_fontinst
X-KDE-ParentApp=kcontrol

Name=Font Management

Comment=Install, manage, and preview fonts

X-KDE-Keywords=font,fonts,installer,truetype,type1,bitmap

Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-System-Settings-Parent-Category=system-administration

