[Desktop Entry]
Name=Task Manager
Comment=Switch between running applications
Type=Service
Icon=preferences-system-windows
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml


X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.taskmanager
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/Tasks
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
