[Desktop Entry]
Comment=Desktop view furniture
Comment[ar]=إعداد عرض مساحة العمل 
Comment[az]=Plasma istifadəçi interfeysi tərkibləri
Comment[bs]=Namjesti pogled radne površine
Comment[ca]=Accessori de vista de l'escriptori
Comment[ca@valencia]=Accessori de vista d'escriptori
Comment[cs]=Zobrazení plochy
Comment[da]=Møbler til skrivebordsvisning
Comment[de]=Einrichtung der Ansicht einer Arbeitsfläche
Comment[el]=Παρουσίαση της επιφάνειας εργασίας
Comment[en_GB]=Desktop view furniture
Comment[es]=Accesorio de vista del escritorio
Comment[et]=Töölauavaate sisustus
Comment[eu]=Mahaigaina atontzeko tresnak
Comment[fi]=Työpöydän sisustus
Comment[fr]=Aménagement du bureau
Comment[gl]=Contidos da vista do escritorio
Comment[hu]=Munkaasztal nézet bútor
Comment[ia]=Vista de accessorio de Scriptorio
Comment[id]=Furnitur tampilan desktop
Comment[it]=Componenti della vista del desktop
Comment[kk]=Үстел көрініс әбзелдері
Comment[ko]=바탕 화면 보기 부속 프로그램
Comment[lt]=Darbalaukio rodinio baldai
Comment[nb]=Skrivebord, vis møbler
Comment[nds]=Möbelmang för Schriefdisch-Ansicht
Comment[nl]=Meubilair voor weergave op het bureaublad
Comment[nn]=Skrivebordsvisingmøblar
Comment[pa]=ਡੈਸਕਟਾਪ ਵੇਖਣ ਫਰਨੀਚਰ
Comment[pl]=Widok umeblowania pulpitu
Comment[pt]=Disposição do ecrã
Comment[pt_BR]=Acessório de visualização da área de trabalho
Comment[ro]=Mobilier pentru vizualizarea biroului
Comment[ru]=Компоненты пользовательского интерфейса Plasma
Comment[sk]=Zobrazenie plochy nábytok
Comment[sl]=Delovna površina prikaza namizja
Comment[sr]=Намештај приказа површи
Comment[sr@ijekavian]=Намештај приказа површи
Comment[sr@ijekavianlatin]=Nameštaj prikaza površi
Comment[sr@latin]=Nameštaj prikaza površi
Comment[sv]=Visa skrivbordsmöbler
Comment[tr]=Masaüstü mobilya görünümü
Comment[uk]=Компоненти для перегляду стільниці
Comment[vi]=Đồ đạc trong khung xem bàn làm việc
Comment[x-test]=xxDesktop view furniturexx
Comment[zh_CN]=桌面视图家具
Comment[zh_TW]=桌面檢視設備
Keywords=
Name=Desktop
Name[af]=Werkskerm
Name[ar]=سطح المكتب
Name[ast]=Escritoriu
Name[az]=İş Masası
Name[be]=Працоўны стол
Name[be@latin]=Rabočy stoł
Name[bg]=Работен плот
Name[bn]=ডেস্কটপ
Name[bn_IN]=ডেস্কটপ
Name[br]=Gorretaol
Name[bs]=Radna površina
Name[ca]=Escriptori
Name[ca@valencia]=Escriptori
Name[cs]=Pracovní plocha
Name[csb]=Pùlt
Name[cy]=Penbwrdd
Name[da]=Skrivebord
Name[de]=Arbeitsfläche
Name[el]=Επιφάνεια εργασίας
Name[en_GB]=Desktop
Name[eo]=Labortablo
Name[es]=Escritorio
Name[et]=Töölaud
Name[eu]=Mahaigaina
Name[fa]=رومیزی
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[fy]=Buroblêd
Name[ga]=Deasc
Name[gl]=Escritorio
Name[gu]=ડેસ્કટોપ
Name[he]=שולחן עבודה
Name[hi]=डेस्कटॉप
Name[hne]=डेस्कटाप
Name[hr]=Radna površina
Name[hsb]=Dźěłowy powjerch
Name[hu]=Munkaasztal
Name[ia]=Scriptorio
Name[id]=Desktop
Name[is]=Skjáborð
Name[it]=Desktop
Name[ja]=デスクトップ
Name[ka]=სამუშაო დაფა
Name[kk]=Жұмыс үстелі
Name[kn]=ಗಣಕತೆರೆ
Name[ko]=바탕 화면
Name[ku]=Sermasê
Name[lt]=Darbalaukis
Name[mai]=डेस्कटाप
Name[mk]=Работна површина
Name[ml]=പണിയിടം
Name[mr]=डेस्कटॉप
Name[ms]=Ruang Kerja
Name[nb]=Skrivebord
Name[nds]=Schriefdisch
Name[ne]=डेस्कटप
Name[nl]=Bureaublad
Name[nn]=Skrivebord
Name[oc]=Burèu
Name[or]=ଡ଼େସ୍କଟପ
Name[pa]=ਡੈਸਕਟਾਪ
Name[pl]=Pulpit
Name[pt]=Ambiente de Trabalho
Name[pt_BR]=Área de trabalho
Name[ro]=Birou
Name[ru]=Рабочий стол по умолчанию
Name[se]=Čállinbeavdi
Name[si]=වැඩතලය
Name[sk]=Plocha
Name[sl]=Namizje
Name[sr]=Површ
Name[sr@ijekavian]=Површ
Name[sr@ijekavianlatin]=Površ
Name[sr@latin]=Površ
Name[sv]=Skrivbord
Name[ta]=பணிமேடை
Name[te]=రంగస్ఠలం
Name[tg]=Мизи корӣ
Name[th]=พื้นที่ทำงาน
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[uz]=Ish stoli
Name[uz@cyrillic]=Иш столи
Name[vi]=Bàn làm việc
Name[wa]=Sicribanne
Name[xh]=Desktop
Name[x-test]=xxDesktopxx
Name[zh_CN]=桌面
Name[zh_TW]=桌面
Type=Service
Icon=user-desktop

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=org.kde.plasmashell
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.desktop
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-Plasma-MainScript=layout.js
