[Desktop Entry]
Exec=kcmshell5 kcm_attica
Type=Service
Icon=get-hot-new-stuff

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_attica
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details
X-DocPath=kcontrol/attica/index.html

Name=Social Desktop
Comment=Manage Social Desktop Providers
