[Desktop Entry]
Exec=kcmshell5 kcm_attica
Type=Service
Icon=get-hot-new-stuff

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_attica
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details
X-DocPath=kcontrol/attica/index.html

Name=Social Desktop
Name[ca]=Escriptori social
Name[cs]=Sociální pracovní prostředí
Name[de]=Social-Desktop
Name[fi]=Sosiaalinen työpöytä
Name[hr]=Društvena radna površina
Name[nds]=Deelt Schriefdisch
Name[nl]=Sociale bureaublad
Name[pl]=Pulpit społecznościowy
Name[pt]=Ambiente de Trabalho Social
Name[pt_BR]=Área de Trabalho Social
Name[sk]=Sociálne pracovné prostredie
Name[sr]=Друштвена површ
Name[sr@ijekavian]=Друштвена површ
Name[sr@ijekavianlatin]=Društvena površ
Name[sr@latin]=Društvena površ
Name[sv]=Socialt skrivbord
Name[tr]=Sosyal Masaüstü
Name[uk]=Соціальна стільниця
Name[x-test]=xxSocial Desktopxx
Comment=Manage Social Desktop Providers
Comment[ar]=أدر مزودي سطح المكتب الاجتماعي
Comment[ast]=Xestionar fornidores del escritoriu social
Comment[bg]=Управление на доставчици на социален работен плот
Comment[bn]=সামাজিক ডেস্কটপ সরবরাহকারী ব্যবস্থাপনা
Comment[bs]=Upravljanje dobavljačima društvene površi
Comment[ca]=Gestiona els proveïdors de l'escriptori social
Comment[ca@valencia]=Gestiona els proveïdors de l'escriptori social
Comment[cs]=Spravovat poskytovatele sociálního pracovního prostředí
Comment[da]=Håndtér udbydere af social desktop
Comment[de]=Social-Desktop-Anbieter verwalten
Comment[el]=Διαχείριση παρόχων κοινωνικής επιφάνειας εργασίας
Comment[en_GB]=Manage Social Desktop Providers
Comment[eo]=Mastrumi provizantojn de socia labortablo
Comment[es]=Gestionar proveedores del escritorio social
Comment[et]=Sotsiaalse töölaua pakkujate haldamine
Comment[eu]=Mahaigain sozialen hornitzaileak kudeatzea
Comment[fa]=مدیریت ارائه دهندگان میزکارهای اجتماعی
Comment[fi]=Sosiaalisen työpöydän tarjoajien asetukset
Comment[ga]=Bainistigh Soláthraithe na Deisce Shóisialta
Comment[gl]=Xestión dos provedores de escritorio social
Comment[gu]=સોશિઅલ ડેસ્કટોપ પૂરા પાડનારાઓનું સંચાલન કરો
Comment[he]=משמש לניהול ספקי שולחן עבודה חברתי
Comment[hi]=सामाजिक डेस्कटॉप प्रदाता को प्रबंधित करें
Comment[hr]=Upravljanje pružateljima društvene radne površine
Comment[hu]=Közösségiasztal-szolgáltatók kezelése
Comment[ia]=Gere fornitores de Scriptorio Social
Comment[id]=Atur Penyedia Desktop Sosial
Comment[is]=Sýsla með efnisveitur fyrir samskiptaveftengt efni fyrir skjáborð
Comment[it]=Gestisci i fornitori del desktop sociale
Comment[ja]=ソーシャルデスクトッププロバイダを管理
Comment[kk]=Әлеуметтік үстел провайдерлерін басқару
Comment[km]=គ្រប់គ្រង​ក្រុមហ៊ុន​ផ្ដល់​ផ្ទៃតុ​សង្គម
Comment[kn]=ಸಾಮಾಜಿಕ ಗಣಕತೆರೆ ಪೂರೈಕೆದಾರರನ್ನು ನಿರ್ವಹಿಸು
Comment[ko]=사회적 데스크톱 프로바이더 관리
Comment[lt]=Tvarkyti socialinio darbastalio tiekėjus
Comment[lv]=Pārvaldīt sociālās darbvirsmas sniedzējus
Comment[ml]=സാമൂഹിക പണിയിട ദാതാക്കളെ കൈകാര്യം ചെയ്യുക
Comment[mr]=सामाजिक डेस्कटॉप पुरवठाकर्ते नियंत्रीत करा
Comment[nds]=Anbeders för deelt Schriefdischinholt plegen
Comment[nl]=Leveranciers van sociale bureaubladen beheren
Comment[pa]=ਸਮਾਜਿਕ ਡੈਸਕਟਾਪ ਪਰੋਵਾਇਡਰ ਪਰਬੰਧ
Comment[pl]=Zarządzanie dostawcami dla pulpitu
Comment[pt]=Gerir os Fornecedores do Ambiente de Trabalho Social
Comment[pt_BR]=Gerencia os fornecedores da Área de Trabalho Social
Comment[ro]=Gestionează furnizorii de birou social
Comment[ru]=Настройка Social Desktop
Comment[si]=සමාජීය වැඩපත් සපයන්නන් කළමනාකරනය කරන්
Comment[sk]=Správa poskytovateľov sociálneho pracovného prostredia
Comment[sl]=Upravljanje s ponudniki družabnega namizja
Comment[sr]=Управљање добављачима друштвене површи
Comment[sr@ijekavian]=Управљање добављачима друштвене површи
Comment[sr@ijekavianlatin]=Upravljanje dobavljačima društvene površi
Comment[sr@latin]=Upravljanje dobavljačima društvene površi
Comment[sv]=Hantera leverantörer av socialt skrivbord
Comment[tg]=Идоракунии провайдерҳои мизи кории ҷамъиятӣ
Comment[th]=จัดการผู้ให้บริการแวดวงสังคมออนไลน์
Comment[tr]=Sosyal Masaüstü Hizmetlerini Yönet
Comment[ug]=ئىجتىمائىي ئۈستەلئۈستى تەمىنلىگۈچىنى باشقۇرىدۇ
Comment[uk]=Керування постачальниками даних соціальної стільниці
Comment[vi]=Quản lý các nhà cung cấp máy làm việc xã hội
Comment[wa]=Manaedjî des ahesseus d' sicribanne sociå
Comment[x-test]=xxManage Social Desktop Providersxx
Comment[zh_CN]=管理社会化桌面信息提供方
Comment[zh_TW]=管理 Social 桌面提供者
