[Desktop Action hasState]
Name=Has State
Name[uk]=Має стан
Name[x-test]=xxHas Statexx

[Desktop Action stateValue]
Name=State Value
Name[uk]=Значення стану
Name[x-test]=xxState Valuexx

[Desktop Action type]
Name=Type
Name[uk]=Тип
Name[x-test]=xxTypexx

[Desktop Entry]
Actions=hasState;stateValue;type;
Name=Solid Device
Name[uk]=Пристрій Solid
Name[x-test]=xxSolid Devicexx
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Button
