[Desktop Action bus]
Name=Bus

[Desktop Action driveType]
Name=Drive Type

[Desktop Action hotpluggable]
Name=Hotpluggable

[Desktop Action readSpeed]
Name=Read Speed

[Desktop Action removable]
Name=Removable

[Desktop Action size]
Name=Size

[Desktop Action supportedMedia]
Name=Supported Media

[Desktop Action writeSpeed]
Name=Write Speed

[Desktop Action writeSpeeds]
Name=Write Speeds

[Desktop Entry]
Actions=bus;driveType;hotpluggable;readSpeed;removable;size;supportedMedia;writeSpeed;writeSpeeds;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=OpticalDrive
