[Desktop Action supportedDrivers]
Name=Supported Drivers
Name[nl]=Ondersteunde stuurprogramma's
Name[uk]=Підтримувані драйвери
Name[x-test]=xxSupported Driversxx

[Desktop Action supportedProtocols]
Name=Supported Protocols
Name[nl]=Ondersteunde protocollen
Name[uk]=Підтримувані протоколи
Name[x-test]=xxSupported Protocolsxx

[Desktop Entry]
Actions=supportedDrivers;supportedProtocols;
Name=Solid Device
Name[nl]=Solid-apparaat
Name[uk]=Пристрій Solid
Name[x-test]=xxSolid Devicexx
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=PortableMediaPlayer
