[Desktop Action supportedDrivers]
Name=Supported Drivers

[Desktop Action supportedProtocols]
Name=Supported Protocols

[Desktop Entry]
Actions=supportedDrivers;supportedProtocols;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Camera
