[Desktop Action fsType]
Name=Fs Type

[Desktop Action ignored]
Name=Ignored

[Desktop Action label]
Name=Label

[Desktop Action size]
Name=Size

[Desktop Action usage]
Name=Usage

[Desktop Action uuid]
Name=Uuid

[Desktop Entry]
Actions=fsType;ignored;label;size;usage;uuid;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=StorageVolume
