[Desktop Action appendable]
Name=Appendable

[Desktop Action availableContent]
Name=Available Content

[Desktop Action blank]
Name=Blank

[Desktop Action capacity]
Name=Capacity

[Desktop Action discType]
Name=Disc Type

[Desktop Action fsType]
Name=Fs Type

[Desktop Action ignored]
Name=Ignored

[Desktop Action label]
Name=Label

[Desktop Action rewritable]
Name=Rewritable

[Desktop Action size]
Name=Size

[Desktop Action usage]
Name=Usage

[Desktop Action uuid]
Name=Uuid

[Desktop Entry]
Actions=appendable;availableContent;blank;capacity;discType;fsType;ignored;label;rewritable;size;usage;uuid;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=OpticalDisc
