[Desktop Action hasState]
Name=Has State
Name[ar]=يملك حالة
Name[ast]=Tien estáu
Name[bs]=sa stanjem
Name[ca]=Té estat
Name[ca@valencia]=Té estat
Name[cs]=Má stav
Name[csb]=Mô stón
Name[da]=Har tilstanden
Name[de]=Hat den Status
Name[el]=Έχει κατάσταση
Name[en_GB]=Has State
Name[eo]=Havas Staton
Name[es]=Tiene estado
Name[et]=Olekuga
Name[eu]=Egoera dauka
Name[fi]=Omaa tilan
Name[fr]=Possède un état
Name[fy]=Hat tastân
Name[ga]=Staid Aige
Name[gl]=Ten o estado
Name[gu]=આમાં સ્થિતિ છે
Name[he]=בעל מצב
Name[hi]=स्तिथि है
Name[hr]=Ima li stanje
Name[hu]=Van állapota
Name[ia]=Stato Has
Name[id]=Memiliki Tingkat
Name[is]=Er með stöðu
Name[it]=È nello stato
Name[ja]=状態あり
Name[kk]=Күй-жайы
Name[km]=មាន​ស្ថានភាព
Name[kn]=ಸ್ಥಿತಿಯನ್ನು ಹೊಂದಿದೆ
Name[ko]=상태 여부
Name[lt]=Būklė
Name[lv]=Piemīt stāvoklis
Name[mai]=स्थिति राखैत अछि
Name[mk]=Има состојба
Name[ml]=സ്ഥിതിയുണ്ട്
Name[mr]=स्थिती आहे
Name[nb]=Har tilstand
Name[nds]=Hett en Status
Name[nl]=Heeft status
Name[nn]=Har status
Name[pa]=ਹਾਲਤ ਹੈ
Name[pl]=Ma stan
Name[pt]=Tem o Estado
Name[pt_BR]=Possui estado
Name[ro]=Are stare
Name[ru]=Переключатель
Name[si]=තත්වයක් ඇත
Name[sk]=Má stav
Name[sl]=Ima stanje
Name[sr]=са стањем
Name[sr@ijekavian]=са стањем
Name[sr@ijekavianlatin]=sa stanjem
Name[sr@latin]=sa stanjem
Name[sv]=Har tillstånd
Name[tg]=Дорои ҳолат
Name[th]=มีค่าสถานะ
Name[tr]=Duruma Sahip
Name[ug]=ھالەتلىك
Name[uk]=Має стан
Name[vi]=Có trạng thái
Name[wa]=A l' estat
Name[x-test]=xxHas Statexx
Name[zh_CN]=有状态
Name[zh_TW]=有狀態

[Desktop Action stateValue]
Name=State Value
Name[ar]=قيمة الحالة
Name[ast]=Valor del estáu
Name[bs]=vrijednost stanja
Name[ca]=Valor de l'estat
Name[ca@valencia]=Valor de l'estat
Name[cs]=Hodnota stavu
Name[da]=Tilstandsværdi
Name[de]=Status-Wert
Name[el]=Τιμή κατάστασης
Name[en_GB]=State Value
Name[eo]=Valuo de Stato
Name[es]=Valor del estado
Name[et]=Oleku väärtus
Name[eu]=Egoeraren balioa
Name[fi]=Tila-arvo
Name[fr]=Valeur de l'état
Name[fy]=Tastân wearde
Name[ga]=Luach na Staide
Name[gl]=Valor do estado
Name[gu]=સ્થિતિ કિંમત
Name[he]=ערך מצב
Name[hi]=स्थिति मान
Name[hr]=Vrijednost stanja
Name[hu]=Állapotérték
Name[ia]=Valor de stato
Name[id]=Nilai Tingkat
Name[is]=Stöðugildi
Name[it]=Valore dello stato
Name[ja]=状態の値
Name[kk]=Мөлшері
Name[km]=តម្លៃ​ស្ថានភាព
Name[kn]=ಸ್ಥಿತಿ ಮೌಲ್ಯ
Name[ko]=상태 값
Name[lt]=Būklės vertė
Name[lv]=Stāvokļa vērtība
Name[mk]=Вредност на состојба
Name[ml]=അവസ്ഥാവില
Name[mr]=स्थिती मूल्य
Name[nb]=Tilstandsverdi
Name[nds]=Statusweert
Name[nl]=Statuswaarde
Name[nn]=Statusverdi
Name[pa]=ਹਾਲਤ ਮੁੱਲ
Name[pl]=Wartość stanu
Name[pt]=Valor do Estado
Name[pt_BR]=Valor do estado
Name[ro]=Valoarea stării
Name[ru]=Значение состояния
Name[si]=තත්ව අගය
Name[sk]=Hodnota stavu
Name[sl]=Vrednost stanja
Name[sr]=вредност стања
Name[sr@ijekavian]=вриједност стања
Name[sr@ijekavianlatin]=vrijednost stanja
Name[sr@latin]=vrednost stanja
Name[sv]=Tillståndsvärde
Name[tg]=Бозиҳои стратегӣ
Name[th]=ค่าของสถานะ
Name[tr]=Durum Değeri
Name[ug]=ھالەت قىممىتى
Name[uk]=Значення стану
Name[wa]=Valixhance d' estat
Name[x-test]=xxState Valuexx
Name[zh_CN]=状态值
Name[zh_TW]=狀態值

[Desktop Action type]
Name=Type
Name[ar]=النوع
Name[ast]=Triba
Name[bg]=Вид
Name[bn]=ধরন
Name[bs]=tip
Name[ca]=Tipus
Name[ca@valencia]=Tipus
Name[cs]=Typ
Name[csb]=Ôrt
Name[da]=Type
Name[de]=Typ
Name[el]=Τύπος
Name[en_GB]=Type
Name[eo]=Tipo
Name[es]=Tipo
Name[et]=Tüüp
Name[eu]=Mota
Name[fa]=نوع
Name[fi]=Tyyppi
Name[fr]=Type
Name[fy]=Type
Name[ga]=Cineál
Name[gl]=Tipo
Name[gu]=પ્રકાર
Name[he]=סוג
Name[hi]=प्रकार
Name[hr]=Tip
Name[hu]=Típus
Name[ia]=Typo
Name[id]=Tipe
Name[is]=Tegund
Name[it]=Tipo
Name[ja]=タイプ
Name[ka]=ტიპი
Name[kk]=Түрі
Name[km]=ប្រភេទ
Name[kn]=ಬಗೆ
Name[ko]=종류
Name[lt]=Tipas
Name[lv]=Tips
Name[mai]=प्रकार
Name[mk]=Тип
Name[ml]=തരം
Name[mr]=प्रकार
Name[nb]=Type
Name[nds]=Typ
Name[nl]=Type
Name[nn]=Type
Name[pa]=ਕਿਸਮ
Name[pl]=Typ
Name[pt]=Tipo
Name[pt_BR]=Tipo
Name[ro]=Tip
Name[ru]=Тип
Name[si]=වර්‍ගය
Name[sk]=Typ
Name[sl]=Vrsta
Name[sr]=тип
Name[sr@ijekavian]=тип
Name[sr@ijekavianlatin]=tip
Name[sr@latin]=tip
Name[sv]=Typ
Name[tg]=Намуд
Name[th]=ประเภท
Name[tr]=Tip
Name[ug]=تىپى
Name[uk]=Тип
Name[wa]=Sôre
Name[x-test]=xxTypexx
Name[zh_CN]=类型
Name[zh_TW]=類型

[Desktop Entry]
Actions=hasState;stateValue;type;
Name=Solid Device
Name[ar]=جهاز في سوليد
Name[ast]=Preseos de Solid
Name[bn]=সলিড ডিভাইস
Name[bs]=uređaj pod Solidom
Name[ca]=Dispositiu del Solid
Name[ca@valencia]=Dispositiu del Solid
Name[cs]=Solid zařízení
Name[da]=Solid-enhed
Name[de]=Solid-Gerät
Name[el]=Συμπαγής συσκευή
Name[en_GB]=Solid Device
Name[eo]=Solid-aparatoj
Name[es]=Dispositivo de Solid
Name[et]=Solidi seade
Name[eu]=Solid gailua
Name[fi]=Kiinteä laite
Name[fr]=Périphérique Solid
Name[fy]=Solid apparaat
Name[ga]=Gléas Solid
Name[gl]=Dispositivo de Solid
Name[gu]=સોલિડ ઉપકરણ
Name[he]=התקן Solid
Name[hi]=सोलिड औज़ार
Name[hr]=Solid uređaj
Name[hu]=Solid eszköz
Name[ia]=Dispositivo Solid
Name[id]=Divais Solid
Name[is]=Solid tæki
Name[it]=Dispositivo di Solid
Name[ja]=Solid デバイス
Name[kk]=Solid құрылғысы
Name[km]=ឧបករណ៍​យូ​តាន់
Name[kn]=ಘನ ಸಾಧನ
Name[ko]=Solid 장치
Name[lt]=Solid įrenginys
Name[lv]=Solid ierīce
Name[mk]=Полупроводнички уред
Name[ml]=സോളിഡ് ഉപകരണം
Name[mr]=सॉलिड साधन
Name[nb]=Solid-enhet
Name[nds]=Solid-Reedschap
Name[nl]=Solid-apparaat
Name[nn]=Solid-eining
Name[pa]=ਸਾਲਡ ਜੰਤਰ
Name[pl]=Urządzenie Solid
Name[pt]=Dispositivo do Solid
Name[pt_BR]=Dispositivo do Solid
Name[ro]=Dispozitiv Solid
Name[ru]=Устройство Solid
Name[si]=දෘඩ මෙවලම්
Name[sk]=Zariadenie Solid
Name[sl]=Naprava Solid
Name[sr]=уређај под Солидом
Name[sr@ijekavian]=уређај под Солидом
Name[sr@ijekavianlatin]=uređaj pod Solidom
Name[sr@latin]=uređaj pod Solidom
Name[sv]=Solid-enhet
Name[tg]=Дастгоҳҳои ҷудошаванда
Name[th]=อุปกรณ์ผ่าน Solid
Name[tr]=Solid Aygıtı
Name[ug]=Solid ئۈسكۈنە
Name[uk]=Пристрій Solid
Name[wa]=Éndjins Solid
Name[x-test]=xxSolid Devicexx
Name[zh_CN]=Solid 设备
Name[zh_TW]=實體裝置
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Button
