[Desktop Action readerType]
Name=Reader Type
Name[ar]=نوع القارئ
Name[ast]=Triba de llector
Name[bg]=Вид четец
Name[bn]=রিডার ধরন
Name[bs]=tip čitača
Name[ca]=Tipus de lector
Name[ca@valencia]=Tipus de lector
Name[cs]=Typ čtečky
Name[csb]=Ôrt czëtaniô
Name[da]=Læsertype
Name[de]=Lesertyp
Name[el]=Τύπος αναγνώστη
Name[en_GB]=Reader Type
Name[eo]=Tipo de Legilo
Name[es]=Tipo de lector
Name[et]=Lugeja tüüp
Name[eu]=Irakurgailu mota
Name[fi]=Lukijatyyppi
Name[fr]=Type de lecteur
Name[fy]=Lês type
Name[ga]=Cineál an Léitheora
Name[gl]=Tipo de lector
Name[gu]=વાંચન પ્રકાર
Name[he]=סוג קורא
Name[hi]=रीडर प्रकार
Name[hr]=Vrsta čitača
Name[hu]=Olvasótípus
Name[ia]=Typo de lector
Name[id]=Tipe Pembaca
Name[is]=Gerð lesara
Name[it]=Tipo di lettore
Name[ja]=リーダーのタイプ
Name[kk]=Оқу құралының түрі
Name[km]=ប្រភេទ​កម្មវិធី​អាន
Name[kn]=ಓದುಗನ ಬಗೆ
Name[ko]=리더 종류
Name[lt]=Skaitymo tipas
Name[lv]=Lasītāja tips
Name[mk]=Тип на читач
Name[ml]=റീഡറിന്റെ തരം
Name[mr]=वाचक प्रकार
Name[nb]=Lesertype
Name[nds]=Lesertyp
Name[nl]=Type reader
Name[nn]=Lesartype
Name[pa]=ਰੀਡਰ ਟਾਈਪ
Name[pl]=Typ czytnika
Name[pt]=Tipo de Leitor
Name[pt_BR]=Tipo de leitor
Name[ro]=Tip cititor
Name[ru]=Тип устройства чтения
Name[si]=කියවන්නාගේ වර්ගය
Name[sk]=Typ čítačky
Name[sl]=Vrsta bralnika
Name[sr]=тип читача
Name[sr@ijekavian]=тип читача
Name[sr@ijekavianlatin]=tip čitača
Name[sr@latin]=tip čitača
Name[sv]=Typ av läsare
Name[tg]=Намуди хондан
Name[th]=ประเภทของตัวอ่าน
Name[tr]=Okuyucu Tipi
Name[ug]=ئوقۇغۇچ تىپى
Name[uk]=Тип засобу зчитування
Name[wa]=Sôre do lijheu
Name[x-test]=xxReader Typexx
Name[zh_CN]=读取器类型
Name[zh_TW]=讀取器型態

[Desktop Entry]
Actions=readerType;
Name=Solid Device
Name[ar]=جهاز في سوليد
Name[ast]=Preseos de Solid
Name[bn]=সলিড ডিভাইস
Name[bs]=uređaj pod Solidom
Name[ca]=Dispositiu del Solid
Name[ca@valencia]=Dispositiu del Solid
Name[cs]=Solid zařízení
Name[da]=Solid-enhed
Name[de]=Solid-Gerät
Name[el]=Συμπαγής συσκευή
Name[en_GB]=Solid Device
Name[eo]=Solid-aparatoj
Name[es]=Dispositivo de Solid
Name[et]=Solidi seade
Name[eu]=Solid gailua
Name[fi]=Kiinteä laite
Name[fr]=Périphérique Solid
Name[fy]=Solid apparaat
Name[ga]=Gléas Solid
Name[gl]=Dispositivo de Solid
Name[gu]=સોલિડ ઉપકરણ
Name[he]=התקן Solid
Name[hi]=सोलिड औज़ार
Name[hr]=Solid uređaj
Name[hu]=Solid eszköz
Name[ia]=Dispositivo Solid
Name[id]=Divais Solid
Name[is]=Solid tæki
Name[it]=Dispositivo di Solid
Name[ja]=Solid デバイス
Name[kk]=Solid құрылғысы
Name[km]=ឧបករណ៍​យូ​តាន់
Name[kn]=ಘನ ಸಾಧನ
Name[ko]=Solid 장치
Name[lt]=Solid įrenginys
Name[lv]=Solid ierīce
Name[mk]=Полупроводнички уред
Name[ml]=സോളിഡ് ഉപകരണം
Name[mr]=सॉलिड साधन
Name[nb]=Solid-enhet
Name[nds]=Solid-Reedschap
Name[nl]=Solid-apparaat
Name[nn]=Solid-eining
Name[pa]=ਸਾਲਡ ਜੰਤਰ
Name[pl]=Urządzenie Solid
Name[pt]=Dispositivo do Solid
Name[pt_BR]=Dispositivo do Solid
Name[ro]=Dispozitiv Solid
Name[ru]=Устройство Solid
Name[si]=දෘඩ මෙවලම්
Name[sk]=Zariadenie Solid
Name[sl]=Naprava Solid
Name[sr]=уређај под Солидом
Name[sr@ijekavian]=уређај под Солидом
Name[sr@ijekavianlatin]=uređaj pod Solidom
Name[sr@latin]=uređaj pod Solidom
Name[sv]=Solid-enhet
Name[tg]=Дастгоҳҳои ҷудошаванда
Name[th]=อุปกรณ์ผ่าน Solid
Name[tr]=Solid Aygıtı
Name[ug]=Solid ئۈسكۈنە
Name[uk]=Пристрій Solid
Name[wa]=Éndjins Solid
Name[x-test]=xxSolid Devicexx
Name[zh_CN]=Solid 设备
Name[zh_TW]=實體裝置
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=SmartCardReader
