[Desktop Action canChangeFrequency]
Name=Can Change Frequency

[Desktop Action instructionSets]
Name=Instruction Sets

[Desktop Action maxSpeed]
Name=Max Speed

[Desktop Action number]
Name=Number

[Desktop Entry]
Actions=canChangeFrequency;instructionSets;maxSpeed;number;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Processor
