[Desktop Action device]
Name=Device

[Desktop Action major]
Name=Major

[Desktop Action minor]
Name=Minor

[Desktop Entry]
Actions=device;major;minor;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Block
