[Desktop Action device]
Name=Device
Name[uk]=Пристрій
Name[x-test]=xxDevicexx

[Desktop Action major]
Name=Major
Name[uk]=Головний
Name[x-test]=xxMajorxx

[Desktop Action minor]
Name=Minor
Name[uk]=Додатковий
Name[x-test]=xxMinorxx

[Desktop Entry]
Actions=device;major;minor;
Name=Solid Device
Name[uk]=Пристрій Solid
Name[x-test]=xxSolid Devicexx
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Block
