[Desktop Action appendable]
Name=Appendable
Name[nl]=Uitbreidbaar
Name[uk]=Додавання
Name[x-test]=xxAppendablexx

[Desktop Action availableContent]
Name=Available Content
Name[nl]=Beschikbare inhoud
Name[uk]=Доступний вміст
Name[x-test]=xxAvailable Contentxx

[Desktop Action blank]
Name=Blank
Name[nl]=Blanco
Name[uk]=Порожньо
Name[x-test]=xxBlankxx

[Desktop Action capacity]
Name=Capacity
Name[nl]=Capaciteit
Name[uk]=Місткість
Name[x-test]=xxCapacityxx

[Desktop Action discType]
Name=Disc Type
Name[nl]=Schijftype
Name[uk]=Тип диска
Name[x-test]=xxDisc Typexx

[Desktop Action fsType]
Name=Fs Type
Name[nl]=FS-type
Name[uk]=Тип ФС
Name[x-test]=xxFs Typexx

[Desktop Action ignored]
Name=Ignored
Name[nl]=Genegeerd
Name[uk]=Ігнорується
Name[x-test]=xxIgnoredxx

[Desktop Action label]
Name=Label
Name[nl]=Label
Name[uk]=Мітка
Name[x-test]=xxLabelxx

[Desktop Action rewritable]
Name=Rewritable
Name[nl]=Herschrijfbaar
Name[uk]=Перезапис
Name[x-test]=xxRewritablexx

[Desktop Action size]
Name=Size
Name[nl]=Grootte
Name[uk]=Розмір
Name[x-test]=xxSizexx

[Desktop Action usage]
Name=Usage
Name[nl]=Gebruik
Name[uk]=Використання
Name[x-test]=xxUsagexx

[Desktop Action uuid]
Name=Uuid
Name[nl]=Uuid
Name[uk]=Uuid
Name[x-test]=xxUuidxx

[Desktop Entry]
Actions=appendable;availableContent;blank;capacity;discType;fsType;ignored;label;rewritable;size;usage;uuid;
Name=Solid Device
Name[nl]=Solid-apparaat
Name[uk]=Пристрій Solid
Name[x-test]=xxSolid Devicexx
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=OpticalDisc
