[Desktop Action accessible]
Name=Accessible
Name[uk]=Доступний
Name[x-test]=xxAccessiblexx

[Desktop Action filePath]
Name=File Path
Name[uk]=Шлях до файла
Name[x-test]=xxFile Pathxx

[Desktop Entry]
Actions=accessible;filePath;
Name=Solid Device
Name[uk]=Пристрій Solid
Name[x-test]=xxSolid Devicexx
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=StorageAccess
