[Desktop Action canChangeFrequency]
Name=Can Change Frequency
Name[nl]=Kan de frequentie wijzigen
Name[uk]=Може змінювати частоту
Name[x-test]=xxCan Change Frequencyxx

[Desktop Action instructionSets]
Name=Instruction Sets
Name[nl]=Instructiesets
Name[uk]=Набори команд
Name[x-test]=xxInstruction Setsxx

[Desktop Action maxSpeed]
Name=Max Speed
Name[nl]=Maximale snelheid
Name[uk]=Макс. швидкість
Name[x-test]=xxMax Speedxx

[Desktop Action number]
Name=Number
Name[nl]=Nummer
Name[uk]=Номер
Name[x-test]=xxNumberxx

[Desktop Entry]
Actions=canChangeFrequency;instructionSets;maxSpeed;number;
Name=Solid Device
Name[nl]=Solid-apparaat
Name[uk]=Пристрій Solid
Name[x-test]=xxSolid Devicexx
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Processor
