[Desktop Action driverHandle]
Name=Driver Handle
Name[ar]=مقبض المشغل
Name[ast]=Controlador de preséu
Name[bg]=Управление на драйвера
Name[bn]=ড্রাইভার হ্যাণ্ডল
Name[bs]=ručka drajvera
Name[ca]=Gestor de controlador
Name[ca@valencia]=Gestor de controlador
Name[cs]=ID ovladače
Name[csb]=Czérownik Handle
Name[da]=Driver-handle
Name[de]=Treiber-Alias
Name[el]=Χειριστήριο οδηγού
Name[en_GB]=Driver Handle
Name[eo]=Pelila tenilo
Name[es]=Controlador de dispositivo
Name[et]=Draiveri pide
Name[eu]=Gidariaren heldulekua
Name[fi]=Ajuritunniste
Name[fr]=Gestionnaire du pilote
Name[fy]=Stjoerprograma regelaar
Name[ga]=Hanla an Tiománaí
Name[gl]=Xestión do controlador
Name[gu]=ડ્રાઇવ સંભાળનાર
Name[he]=ממשק מנהל ההתקן
Name[hi]=औजार हेंडल
Name[hr]=Pogonski program
Name[hu]=Meghajtóazonosító
Name[ia]=Maneator de driver
Name[id]=Penanganan Penggerak
Name[is]=Hald rekils
Name[it]=Identificativo del driver
Name[ja]=ドライバハンドル
Name[kk]=Драйвер өңдеуі
Name[km]=កា​រគ្រប់គ្រង​កម្មវិធី​បញ្ជា
Name[ko]=드라이버 핸들
Name[lt]=Tvarkyklės rankena
Name[lv]=Draivera rokturis
Name[ml]=ഉപരണത്തിന്റെ പിടി
Name[mr]=ड्राइव्हर हेंडल
Name[nb]=Drivernavn
Name[nds]=Drievergreep
Name[nl]=Stuurprogrammapook
Name[nn]=Drivarnamn
Name[pa]=ਡਰਾਇਵਰ ਹੈਂਡਲ
Name[pl]=Uchwyt sterownika
Name[pt]=Descritor do Controlador
Name[pt_BR]=Manipulador do driver
Name[ro]=Manipulare driver
Name[ru]=Драйверная ссылка на устройство
Name[si]=ධාවක අල්ලුව
Name[sk]=Rukoväť ovládača
Name[sl]=Ročica gonilnika
Name[sr]=ручка драјвера
Name[sr@ijekavian]=ручка драјвера
Name[sr@ijekavianlatin]=ručka drajvera
Name[sr@latin]=ručka drajvera
Name[sv]=Drivrutinreferens
Name[tg]=Плеери DJ-Mixer
Name[th]=การจัดการไดรเวอร์
Name[tr]=Sürücü Tanıtıcı
Name[ug]=قوزغاتقۇ تۇتقۇسى
Name[uk]=Обробка драйвером
Name[vi]=Xử lý trình điều khiển
Name[wa]=Apougnî mineu
Name[x-test]=xxDriver Handlexx
Name[zh_CN]=驱动处理接口
Name[zh_TW]=驅動程式處理

[Desktop Action port]
Name=Port
Name[ar]=المنفذ
Name[ast]=Puertu
Name[bg]=Порт
Name[bn]=পোর্ট
Name[bs]=port
Name[ca]=Port
Name[ca@valencia]=Port
Name[cs]=Port
Name[csb]=Pòrt
Name[da]=Port
Name[de]=Port
Name[el]=Θύρα
Name[en_GB]=Port
Name[eo]=Konektejo
Name[es]=Puerto
Name[et]=Port
Name[eu]=Ataka
Name[fa]=درگاه
Name[fi]=Portti
Name[fr]=Port
Name[fy]=Poarte
Name[ga]=Port
Name[gl]=Porto
Name[gu]=પોર્ટ
Name[he]=מפתח
Name[hi]=फोर्ट
Name[hr]=Port
Name[hu]=Csatlakozó
Name[ia]=Porto
Name[id]=Pangkalan
Name[is]=Gátt
Name[it]=Porta
Name[ja]=ポート
Name[ka]=პორტი
Name[kk]=Порты
Name[km]=ច្រក
Name[kn]=ಸಂಪರ್ಕಸ್ಥಾನ
Name[ko]=포트
Name[lt]=Prievadas
Name[lv]=Ports
Name[mk]=Порта
Name[ml]=പോര്‍ട്ട്
Name[mr]=पोर्ट
Name[nb]=Port
Name[nds]=Port
Name[nl]=Poort
Name[nn]=Port
Name[pa]=ਪੋਰਟ
Name[pl]=Port
Name[pt]=Porta
Name[pt_BR]=Porta
Name[ro]=Port
Name[ru]=Порт
Name[si]=පේනුව
Name[sk]=Port
Name[sl]=Vrata
Name[sr]=порт
Name[sr@ijekavian]=порт
Name[sr@ijekavianlatin]=port
Name[sr@latin]=port
Name[sv]=Port
Name[tg]=Порт
Name[th]=พอร์ต
Name[tr]=Port
Name[ug]=ئېغىز
Name[uk]=Порт
Name[wa]=Pôrt
Name[x-test]=xxPortxx
Name[zh_CN]=端口
Name[zh_TW]=連接埠

[Desktop Action serialType]
# ctxt: The physical type of serial port (ie. USB, RS232, etc)
Name=Serial Type
Name[bs]=Tip serijskog porta
Name[ca]=Tipus de sèrie
Name[ca@valencia]=Tipus de sèrie
Name[cs]=Typ sériového portu
Name[da]=Serialtype
Name[de]=Serieller Typ
Name[el]=Τύπος σειραϊκής
Name[es]=Tipo de puerto serie
Name[eu]=Serie mota
Name[fi]=Sarjaportin tyyppi
Name[fr]=Type de port série
Name[gl]=Tipo de serie
Name[hu]=Csatlakozótípus
Name[ia]=Typo serial
Name[is]=Tegund raðtengis
Name[it]=Tipo seriale
Name[kk]=Тізбекті порт түрі
Name[ko]=시리얼 포트 종류
Name[lt]=Serijinis tipas
Name[mr]=सिरीअल प्रकार
Name[nb]=Seriell type
Name[nds]=Seriell-Typ
Name[nl]=Type serieel
Name[pa]=ਸੀਰੀਅਲ ਟਾਈਪ
Name[pl]=Typ portu
Name[pt]=Tipo de Série
Name[pt_BR]=Tipo de serial
Name[ru]=Тип последовательного порта
Name[sk]=Sériový typ
Name[sl]=Vrsta zaporedne naprave
Name[sr]=тип серијског
Name[sr@ijekavian]=тип серијског
Name[sr@ijekavianlatin]=tip serijskog
Name[sr@latin]=tip serijskog
Name[sv]=Serietyp
Name[tr]=Seri Türü
Name[uk]=Тип послідовного інтерфейсу
Name[x-test]=xxSerial Typexx
Name[zh_CN]=串口类型
Name[zh_TW]=序列類型

[Desktop Entry]
Actions=driverHandle;port;serialType;
Name=Solid Device
Name[ar]=جهاز في سوليد
Name[ast]=Preseos de Solid
Name[bn]=সলিড ডিভাইস
Name[bs]=uređaj pod Solidom
Name[ca]=Dispositiu del Solid
Name[ca@valencia]=Dispositiu del Solid
Name[cs]=Solid zařízení
Name[da]=Solid-enhed
Name[de]=Solid-Gerät
Name[el]=Συμπαγής συσκευή
Name[en_GB]=Solid Device
Name[eo]=Solid-aparatoj
Name[es]=Dispositivo de Solid
Name[et]=Solidi seade
Name[eu]=Solid gailua
Name[fi]=Kiinteä laite
Name[fr]=Périphérique Solid
Name[fy]=Solid apparaat
Name[ga]=Gléas Solid
Name[gl]=Dispositivo de Solid
Name[gu]=સોલિડ ઉપકરણ
Name[he]=התקן Solid
Name[hi]=सोलिड औज़ार
Name[hr]=Solid uređaj
Name[hu]=Solid eszköz
Name[ia]=Dispositivo Solid
Name[id]=Divais Solid
Name[is]=Solid tæki
Name[it]=Dispositivo di Solid
Name[ja]=Solid デバイス
Name[kk]=Solid құрылғысы
Name[km]=ឧបករណ៍​យូ​តាន់
Name[kn]=ಘನ ಸಾಧನ
Name[ko]=Solid 장치
Name[lt]=Solid įrenginys
Name[lv]=Solid ierīce
Name[mk]=Полупроводнички уред
Name[ml]=സോളിഡ് ഉപകരണം
Name[mr]=सॉलिड साधन
Name[nb]=Solid-enhet
Name[nds]=Solid-Reedschap
Name[nl]=Solid-apparaat
Name[nn]=Solid-eining
Name[pa]=ਸਾਲਡ ਜੰਤਰ
Name[pl]=Urządzenie Solid
Name[pt]=Dispositivo do Solid
Name[pt_BR]=Dispositivo do Solid
Name[ro]=Dispozitiv Solid
Name[ru]=Устройство Solid
Name[si]=දෘඩ මෙවලම්
Name[sk]=Zariadenie Solid
Name[sl]=Naprava Solid
Name[sr]=уређај под Солидом
Name[sr@ijekavian]=уређај под Солидом
Name[sr@ijekavianlatin]=uređaj pod Solidom
Name[sr@latin]=uređaj pod Solidom
Name[sv]=Solid-enhet
Name[tg]=Дастгоҳҳои ҷудошаванда
Name[th]=อุปกรณ์ผ่าน Solid
Name[tr]=Solid Aygıtı
Name[ug]=Solid ئۈسكۈنە
Name[uk]=Пристрій Solid
Name[wa]=Éndjins Solid
Name[x-test]=xxSolid Devicexx
Name[zh_CN]=Solid 设备
Name[zh_TW]=實體裝置
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=SerialInterface
