[Desktop Action hasState]
Name=Has State

[Desktop Action stateValue]
Name=State Value

[Desktop Action type]
Name=Type

[Desktop Entry]
Actions=hasState;stateValue;type;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Button
