[Desktop Action accessible]
Name=Accessible

[Desktop Action filePath]
Name=File Path

[Desktop Entry]
Actions=accessible;filePath;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=StorageAccess
