[Desktop Action bus]
Name=Bus

[Desktop Action driveType]
Name=Drive Type

[Desktop Action hotpluggable]
Name=Hotpluggable

[Desktop Action removable]
Name=Removable

[Desktop Action size]
Name=Size

[Desktop Entry]
Actions=bus;driveType;hotpluggable;removable;size;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=StorageDrive
