[Desktop Action fsType]
Name=Fs Type
Name[uk]=Тип ФС
Name[x-test]=xxFs Typexx

[Desktop Action ignored]
Name=Ignored
Name[uk]=Ігнорується
Name[x-test]=xxIgnoredxx

[Desktop Action label]
Name=Label
Name[uk]=Мітка
Name[x-test]=xxLabelxx

[Desktop Action size]
Name=Size
Name[uk]=Розмір
Name[x-test]=xxSizexx

[Desktop Action usage]
Name=Usage
Name[uk]=Використання
Name[x-test]=xxUsagexx

[Desktop Action uuid]
Name=Uuid
Name[uk]=Uuid
Name[x-test]=xxUuidxx

[Desktop Entry]
Actions=fsType;ignored;label;size;usage;uuid;
Name=Solid Device
Name[uk]=Пристрій Solid
Name[x-test]=xxSolid Devicexx
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=StorageVolume
