[Desktop Action hwAddress]
Name=Hw Address
Name[ar]=عنوان العتاد
Name[ast]=Direición HW
Name[bg]=Хардуерен адрес
Name[bn]=Hw অ্যাড্রেস
Name[bs]=hv. adresa
Name[ca]=Adreça maquinari
Name[ca@valencia]=Adreça maquinari
Name[cs]=Hw adresa
Name[csb]=Adresa Hw
Name[da]=HW-adresse
Name[de]=HW-Adresse
Name[el]=Διεύθυνση Hw
Name[en_GB]=Hw Address
Name[eo]=Hw Adreso
Name[es]=Dirección HW
Name[et]=Riistvara-aadress
Name[eu]=HW helbidea
Name[fi]=Rautaosoite
Name[fr]=Adresse matérielle
Name[fy]=Hw adres
Name[ga]=Seoladh Crua-Earraí
Name[gl]=Enderezo hardware
Name[gu]=હાર્ડવેર સરનામું
Name[he]=כתובת חומרה
Name[hi]=हार्डवेयर पता
Name[hr]=Hardverska adresa
Name[hu]=Hardveres cím
Name[ia]=Adresse Hw
Name[id]=Alamat Peranti Keras
Name[is]=HW vistfang
Name[it]=Indirizzo hardware
Name[ja]=HW アドレス
Name[kk]=Жабд. адресі
Name[km]=អាសយដ្ឋាន Hw
Name[kn]=Hw ವಿಳಾಸ
Name[ko]=하드웨어 주소
Name[lt]=Aparatinis adresas
Name[lv]=Hw adrese
Name[mai]=Hw पता
Name[mk]=Адреса на хардвер
Name[ml]=എച്ച്ഡബ്ല്യൂ വിലാസം
Name[mr]=Hw पत्ता
Name[nb]=Hw-adresse
Name[nds]=Hardware-Adress
Name[nl]=HW-adres
Name[nn]=Maskinvareadresse
Name[pa]=Hw ਐਡਰੈੱਸ
Name[pl]=Adres sprzętowy
Name[pt]=Endereço de H/W
Name[pt_BR]=Endereço de hardware
Name[ro]=Adresă fizică
Name[ru]=Аппаратный адрес
Name[si]=Hw ලිපිනය
Name[sk]=Hw adresa
Name[sl]=Strojni naslov
Name[sr]=хв. адреса
Name[sr@ijekavian]=хв. адреса
Name[sr@ijekavianlatin]=hv. adresa
Name[sr@latin]=hv. adresa
Name[sv]=Hårdvaruadress
Name[tg]=Суроғаи Hw
Name[th]=ที่อยู่ฮาร์ดแวร์
Name[tr]=Donanım Adresi
Name[ug]=قاتتىق دېتال ئادرېسى
Name[uk]=Апар. адреса
Name[vi]=Địa chỉ phần cứng
Name[wa]=Adresse Hw
Name[x-test]=xxHw Addressxx
Name[zh_CN]=硬件地址
Name[zh_TW]=硬體位址

[Desktop Action ifaceName]
Name=Iface Name
Name[ar]=اسم الواجهة
Name[ast]=Nome d'interface
Name[bg]=Име на интерфейс
Name[bn]=Iface-এর নাম
Name[bs]=ime sučelja
Name[ca]=Nom d'interfície
Name[ca@valencia]=Nom d'interfície
Name[cs]=Název rozhraní
Name[csb]=Miono Iface
Name[da]=Navn på grænseflade
Name[de]=Schnittstellen-Name
Name[el]=Όνομα Iface
Name[en_GB]=Iface Name
Name[eo]=Iface Nomo
Name[es]=Nombre de interfaz
Name[et]=Liidese nimi
Name[eu]=Interfaze-izena
Name[fi]=Verkkoliitynnän nimi
Name[fr]=Nom « Iface »
Name[fy]=Iface namme
Name[ga]=Ainm an Chomhéadain
Name[gl]=Nome da interface
Name[gu]=ઇન્ટરફેસ નામ
Name[he]=שם Iface
Name[hi]=Iface नाम
Name[hr]=Ime sučelja
Name[hu]=Felületnév
Name[ia]=Nomine Iface
Name[id]=Nama Antarmuka
Name[is]=IFACE nafn
Name[it]=Nome dell'interfaccia
Name[ja]=インターフェース名
Name[kk]=И-фейс атауы
Name[km]=ឈ្មោះ Iface
Name[kn]=Iface ಹೆಸರು
Name[ko]=인터페이스 이름
Name[lt]=Sąsajos pavadinimas
Name[lv]=Sask. nosaukums
Name[mk]=Име на интерфејс
Name[ml]=ഐഫേസിന്റെ പേരു്
Name[mr]=Iface नाव
Name[nb]=G.snitt-navn
Name[nds]=Koppelsteed-Naam
Name[nl]=Iface-naam
Name[nn]=Grensesnittnamn
Name[pa]=Iface ਨਾਂ
Name[pl]=Nazwa interfejsu
Name[pt]=Nome da Interface
Name[pt_BR]=Nome da interface
Name[ro]=Denumire interfață
Name[ru]=Название интерфейса
Name[si]=Iface නාමය
Name[sk]=Názov rozhrania
Name[sl]=Ime vmesnika
Name[sr]=име сучеља
Name[sr@ijekavian]=име сучеља
Name[sr@ijekavianlatin]=ime sučelja
Name[sr@latin]=ime sučelja
Name[sv]=Gränssnittsnamn
Name[tg]=Бозиҳои Dice
Name[th]=ชื่อส่วนติดต่อ
Name[tr]=Iface Adı
Name[ug]=ئارايۈز ئاتى
Name[uk]=Назва Iface
Name[vi]=Tên Iface
Name[wa]=No Iface
Name[x-test]=xxIface Namexx
Name[zh_CN]=接口名称
Name[zh_TW]=介面名稱

[Desktop Action macAddress]
Name=Mac Address
Name[ar]=عنوان Mac
Name[ast]=Direición MAC
Name[bg]=МАС-адрес
Name[bn]=ম্যাক অ্যাড্রেস
Name[bs]=MAC adresa
Name[ca]=Adreça MAC
Name[ca@valencia]=Adreça MAC
Name[cs]=Mac adresa
Name[csb]=Adresa Mac
Name[da]=MAC-adresse
Name[de]=MAC-Adresse
Name[el]=Διεύθυνση MAC
Name[en_GB]=Mac Address
Name[eo]=Maŝinadreso
Name[es]=Dirección MAC
Name[et]=MAC-aadress
Name[eu]=MAC helbidea
Name[fi]=Mac-osoite
Name[fr]=Adresse « Mac »
Name[fy]=Mac adres
Name[ga]=Seoladh MAC
Name[gl]=Enderezo MAC
Name[gu]=મેક સરનામું
Name[he]=כתובת MAC
Name[hi]=मेक पता
Name[hr]=MAC adresa
Name[hu]=MAC cím
Name[ia]=Adresse Mac
Name[id]=Alamat Mac
Name[is]=MAC vistfang
Name[it]=Indirizzo mac
Name[ja]=Mac アドレス
Name[ka]=MAC მისამართი
Name[kk]=Mac адресі
Name[km]=អាសយដ្ឋាន Mac
Name[kn]=ಮ್ಯಾಕ್ ವಿಳಾಸ
Name[ko]=MAC 주소
Name[lt]=Mac adresas
Name[lv]=Mac adrese
Name[mai]=Mac पता
Name[mk]=Mac-адреса
Name[ml]=മാക് വിലാസം
Name[mr]=Mac पत्ता
Name[nb]=MAC-adresse
Name[nds]=Mac-Adress
Name[nl]=MAC-adres
Name[nn]=MAC-adresse
Name[pa]=ਮੈਕ ਐਡਰੈੱਸ
Name[pl]=Adres Mac
Name[pt]=Endereço MAC
Name[pt_BR]=Endereço MAC
Name[ro]=Adresă MAC
Name[ru]=MAC-адрес
Name[si]=මැක් ලිපිනය
Name[sk]=Mac adresa
Name[sl]=Naslov MAC
Name[sr]=МАЦ адреса
Name[sr@ijekavian]=МАЦ адреса
Name[sr@ijekavianlatin]=MAC adresa
Name[sr@latin]=MAC adresa
Name[sv]=MAC-adress
Name[tg]=Суроғаи Mac
Name[th]=ค่าที่อยู่ Mac
Name[tr]=Mac Adresi
Name[ug]=MAC ئادرېس
Name[uk]=Mac-адреса
Name[vi]=Địa chỉ Mac
Name[wa]=Adresse Mac
Name[x-test]=xxMac Addressxx
Name[zh_CN]=Mac 地址
Name[zh_TW]=Mac 位址

[Desktop Action wireless]
Name=Wireless
Name[ar]=لاسلكي
Name[ast]=Inalámbricu
Name[bg]=Безжична мрежа
Name[bn]=ওয়্যারলেস
Name[bs]=bežična
Name[ca]=Xarxa sense fils
Name[ca@valencia]=Xarxa sense fils
Name[cs]=Bezdrátové
Name[csb]=Bezkablowé
Name[da]=Trådløst
Name[de]=Drahtlos
Name[el]=Ασύρματο
Name[en_GB]=Wireless
Name[eo]=Sendrata reto
Name[es]=Inalámbrico
Name[et]=Juhtmeta
Name[eu]=Haririk gabea
Name[fa]=بی‌سیم
Name[fi]=Langaton
Name[fr]=Sans fil
Name[fy]=Triedleas
Name[ga]=Gan Sreang
Name[gl]=Sen fíos
Name[gu]=વાયરલેસ
Name[he]=אלחוטי
Name[hi]=बेतार
Name[hr]=Bežićna
Name[hu]=Vezeték nélküli
Name[ia]=Wireless (Sin Cablos)
Name[id]=Nirkabel
Name[is]=Þráðlaust
Name[it]=Senza fili
Name[ja]=ワイヤレス
Name[ka]=უმავთულო კავშირი
Name[kk]=Сымсыз
Name[km]=ឥតខ្សែ
Name[kn]=ವೈರ್ಲೆಸ್
Name[ko]=무선
Name[lt]=Bevielis
Name[lv]=Bezvadu
Name[mk]=Бежичен
Name[ml]=വയര്‍ലസ്സ്
Name[mr]=वायरलेस
Name[nb]=Trådløs
Name[nds]=Funk
Name[nl]=Draadloos
Name[nn]=Trådlaust
Name[pa]=ਬੇਤਾਰ
Name[pl]=Bezprzewodowy
Name[pt]=Sem-Fios
Name[pt_BR]=Sem fio
Name[ro]=Fără fir
Name[ru]=Беспроводная сеть
Name[si]=රැහැන් රහිත
Name[sk]=Bezdrôtové
Name[sl]=Brezžično
Name[sr]=бежична
Name[sr@ijekavian]=бежична
Name[sr@ijekavianlatin]=bežična
Name[sr@latin]=bežična
Name[sv]=Trådlöst
Name[tg]=Бесимӣ
Name[th]=อุปกรณ์ไร้สาย
Name[tr]=Kablosuz
Name[ug]=سىمسىز
Name[uk]=Бездротове
Name[wa]=Sins fyi
Name[x-test]=xxWirelessxx
Name[zh_CN]=无线
Name[zh_TW]=無線

[Desktop Entry]
Actions=hwAddress;ifaceName;macAddress;wireless;
Name=Solid Device
Name[ar]=جهاز في سوليد
Name[ast]=Preseos de Solid
Name[bn]=সলিড ডিভাইস
Name[bs]=uređaj pod Solidom
Name[ca]=Dispositiu del Solid
Name[ca@valencia]=Dispositiu del Solid
Name[cs]=Solid zařízení
Name[da]=Solid-enhed
Name[de]=Solid-Gerät
Name[el]=Συμπαγής συσκευή
Name[en_GB]=Solid Device
Name[eo]=Solid-aparatoj
Name[es]=Dispositivo de Solid
Name[et]=Solidi seade
Name[eu]=Solid gailua
Name[fi]=Kiinteä laite
Name[fr]=Périphérique Solid
Name[fy]=Solid apparaat
Name[ga]=Gléas Solid
Name[gl]=Dispositivo de Solid
Name[gu]=સોલિડ ઉપકરણ
Name[he]=התקן Solid
Name[hi]=सोलिड औज़ार
Name[hr]=Solid uređaj
Name[hu]=Solid eszköz
Name[ia]=Dispositivo Solid
Name[id]=Divais Solid
Name[is]=Solid tæki
Name[it]=Dispositivo di Solid
Name[ja]=Solid デバイス
Name[kk]=Solid құрылғысы
Name[km]=ឧបករណ៍​យូ​តាន់
Name[kn]=ಘನ ಸಾಧನ
Name[ko]=Solid 장치
Name[lt]=Solid įrenginys
Name[lv]=Solid ierīce
Name[mk]=Полупроводнички уред
Name[ml]=സോളിഡ് ഉപകരണം
Name[mr]=सॉलिड साधन
Name[nb]=Solid-enhet
Name[nds]=Solid-Reedschap
Name[nl]=Solid-apparaat
Name[nn]=Solid-eining
Name[pa]=ਸਾਲਡ ਜੰਤਰ
Name[pl]=Urządzenie Solid
Name[pt]=Dispositivo do Solid
Name[pt_BR]=Dispositivo do Solid
Name[ro]=Dispozitiv Solid
Name[ru]=Устройство Solid
Name[si]=දෘඩ මෙවලම්
Name[sk]=Zariadenie Solid
Name[sl]=Naprava Solid
Name[sr]=уређај под Солидом
Name[sr@ijekavian]=уређај под Солидом
Name[sr@ijekavianlatin]=uređaj pod Solidom
Name[sr@latin]=uređaj pod Solidom
Name[sv]=Solid-enhet
Name[tg]=Дастгоҳҳои ҷудошаванда
Name[th]=อุปกรณ์ผ่าน Solid
Name[tr]=Solid Aygıtı
Name[ug]=Solid ئۈسكۈنە
Name[uk]=Пристрій Solid
Name[wa]=Éndjins Solid
Name[x-test]=xxSolid Devicexx
Name[zh_CN]=Solid 设备
Name[zh_TW]=實體裝置
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=NetworkInterface
