[Desktop Action device]
Name=Device
Name[ar]=الجهاز
Name[ast]=Preseos
Name[bg]=Устройство
Name[bn]=ডিভাইস
Name[bs]=uređaj
Name[ca]=Dispositiu
Name[ca@valencia]=Dispositiu
Name[cs]=Zařízení
Name[csb]=Ùrządzenié
Name[da]=Enhed
Name[de]=Gerät
Name[el]=Συσκευή
Name[en_GB]=Device
Name[eo]=Aparato
Name[es]=Dispositivo
Name[et]=Seade
Name[eu]=Gailua
Name[fa]=دستگاه
Name[fi]=Laite
Name[fr]=Périphérique
Name[fy]=Apparaat
Name[ga]=Gléas
Name[gl]=Dispositivo
Name[gu]=ઉપકરણ
Name[he]=התקן
Name[hi]=औज़ार
Name[hr]=Uređaj
Name[hu]=Eszköz
Name[ia]=Dispositivo
Name[id]=Divais
Name[is]=Tæki
Name[it]=Dispositivo
Name[ja]=デバイス
Name[ka]=მოწყობილობა
Name[kk]=Құрылғысы
Name[km]=ឧបករណ៍
Name[kn]=ಸಾಧನ
Name[ko]=장치
Name[lt]=Įrenginys
Name[lv]=Ierīce
Name[mk]=Уред
Name[ml]=ഉപകരണം
Name[mr]=साधन
Name[nb]=Enhet
Name[nds]=Reedschap
Name[nl]=Apparaat
Name[nn]=Eining
Name[pa]=ਜੰਤਰ
Name[pl]=Urządzenie
Name[pt]=Dispositivo
Name[pt_BR]=Dispositivo
Name[ro]=Dispozitiv
Name[ru]=Устройство
Name[si]=මෙවලම
Name[sk]=Zariadenie
Name[sl]=Naprava
Name[sr]=уређај
Name[sr@ijekavian]=уређај
Name[sr@ijekavianlatin]=uređaj
Name[sr@latin]=uređaj
Name[sv]=Enhet
Name[tg]=Дастгоҳ
Name[th]=อุปกรณ์
Name[tr]=Aygıt
Name[ug]=ئۈسكۈنە
Name[uk]=Пристрій
Name[vi]=Thiết bị
Name[wa]=Éndjin
Name[x-test]=xxDevicexx
Name[zh_CN]=设备
Name[zh_TW]=裝置

[Desktop Action deviceAdapter]
Name=Device Adapter
Name[ar]=محول الجهاز
Name[ast]=Adautador de preséu
Name[bg]=Адаптор на устройството
Name[bn]=ডিভাইস অ্যাডাপ্টার
Name[bs]=adapter uređaja
Name[ca]=Adaptador de dispositius
Name[ca@valencia]=Adaptador de dispositius
Name[cs]=Adaptér zařízení
Name[csb]=Adapter ùrządzenia
Name[da]=Enhedsadapter
Name[de]=Geräteadapter
Name[el]=Προσαρμογέας συσκευής
Name[en_GB]=Device Adapter
Name[eo]=Aparata adaptilo
Name[es]=Adaptador de dispositivo
Name[et]=Seadme adapter
Name[eu]=Gailu-egokigailua
Name[fi]=Laitesovitin
Name[fr]=Adaptateur de périphériques
Name[fy]=Apparaat adapter
Name[ga]=Cuibheoir Gléis
Name[gl]=Adaptador de dispositivos
Name[gu]=ઉપકરણ એડપ્ટર
Name[he]=מתאם התקן
Name[hi]=उपकरण एडेपटर
Name[hr]=Prilagodnik uređaja
Name[hu]=Eszközadapter
Name[ia]=Adaptator del dispositivo
Name[id]=Adaptor Divais
Name[is]=Tengi tækis
Name[it]=Adattatore dei dispositivi
Name[ja]=デバイスのアダプタ
Name[kk]=Құрылғы адаптері
Name[km]=អាដាប់ទ័រ​ឧបករណ៍​
Name[kn]=ಸಾಧನದ ಅಡಾಪ್ಟರ್
Name[ko]=장치 어댑터
Name[lt]=Įrenginio adapteris
Name[lv]=Ierīces adapteris
Name[mk]=Адаптер за уред
Name[ml]=ഉപകരണത്തിന്റെ അഡാപ്റ്റര്‍
Name[mr]=साधन अडॅप्टर
Name[nb]=Enhetsadapter
Name[nds]=Reedschap
Name[nl]=Apparaat-adapter
Name[nn]=Straumtilkopling for eining
Name[pa]=ਜੰਤਰ ਅਡਪੈਟਰ
Name[pl]=Adapter urządzenia
Name[pt]=Adaptador de Dispositivo
Name[pt_BR]=Adaptador de dispositivo
Name[ro]=Adaptor dispozitiv
Name[ru]=Адаптер устройства
Name[si]=මෙවලම් අනුහුරුව
Name[sk]=Adaptér zariadenia
Name[sl]=Vmesnik naprave
Name[sr]=адаптер уређаја
Name[sr@ijekavian]=адаптер уређаја
Name[sr@ijekavianlatin]=adapter uređaja
Name[sr@latin]=adapter uređaja
Name[sv]=Enhetsadapter
Name[tg]=Извещение о новых устройствах
Name[th]=อะแดปเตอร์อุปกรณ์
Name[tr]=Aygıt Bağdaştırıcısı
Name[ug]=ئۈسكۈنە ماسلاشتۇرغۇچ
Name[uk]=Адаптер пристрою
Name[vi]=Bộ tiếp hợp cho thiết bị
Name[wa]=Adaptateu d' éndjin
Name[x-test]=xxDevice Adapterxx
Name[zh_CN]=设备适配器
Name[zh_TW]=裝置接合器

[Desktop Action deviceIndex]
Name=Device Index
Name[ar]=فهرس الجهاز
Name[ast]=Índiz de preséu
Name[bg]=Индекс на устройство
Name[bn]=ডিভাইস ইন্ডেক্স
Name[bs]=indeks uređaja
Name[ca]=Índex de dispositius
Name[ca@valencia]=Índex de dispositius
Name[cs]=Index zařízení
Name[csb]=Indeks ùrządzeniów
Name[da]=Enhedsindeks
Name[de]=Geräteindex
Name[el]=Δείκτης συσκευής
Name[en_GB]=Device Index
Name[eo]=Indekso de Aparatoj
Name[es]=Índice de dispositivo
Name[et]=Seadme indeks
Name[eu]=Gailu-indizea
Name[fi]=Laiteindeksi
Name[fr]=Index du périphérique
Name[fy]=Apparat yndeks
Name[ga]=Innéacs Gléis
Name[gl]=Índice de dispositivos
Name[gu]=ઉપકરણ અનુક્રમ
Name[he]=אינדקס התקן
Name[hi]=उपकरण क्रमांक
Name[hr]=Indeks uređaja
Name[hu]=Eszközindex
Name[ia]=Indice del dispositivo
Name[id]=Indeks Divais
Name[is]=Yfirlit tækis
Name[it]=Indice dei dispositivi
Name[ja]=デバイスのインデックス
Name[kk]=Құрылғы индексі
Name[km]=លិបិក្រម​ឧបករណ៍
Name[kn]=ಸಾಧನದ ಸೂಚಿ (ಇಂಡೆಕ್ಸ್)
Name[ko]=장치 인덱스
Name[lt]=Įrenginio indeksas
Name[lv]=Ierīces indekss
Name[mk]=Индекс на уреди
Name[ml]=ഉപകരണത്തിന്റെ സൂചിക
Name[mr]=साधन अनुक्रमणिका
Name[nb]=Enhetsindeks
Name[nds]=Reedschap-Index
Name[nl]=Apparaatindex
Name[nn]=Indeks for eining
Name[pa]=ਜੰਤਰ ਇੰਡੈਕਸ
Name[pl]=Indeks urządzenia
Name[pt]=Índice do Dispositivo
Name[pt_BR]=Índice do dispositivo
Name[ro]=Index dispozitiv
Name[ru]=Номер устройства
Name[si]=මෙවලම් සූචිය
Name[sk]=Index zariadenia
Name[sl]=Indeks naprave
Name[sr]=индекс уређаја
Name[sr@ijekavian]=индекс уређаја
Name[sr@ijekavianlatin]=indeks uređaja
Name[sr@latin]=indeks uređaja
Name[sv]=Enhetsindex
Name[tg]=Индекси роҳнамо
Name[th]=ดัชนีอุปกรณ์
Name[tr]=Aygıt Dizini
Name[ug]=ئۈسكۈنە ئىندىكىسى
Name[uk]=Індекс пристрою
Name[vi]=Chỉ mục thiết bị
Name[wa]=Indecse di l' éndjin
Name[x-test]=xxDevice Indexxx
Name[zh_CN]=设备索引
Name[zh_TW]=裝置索引

[Desktop Action deviceType]
Name=Device Type
Name[ar]=نوع الجهاز
Name[ast]=Triba de preséu
Name[bg]=Вид устройство
Name[bn]=ডিভাইস ধরন
Name[bs]=tip uređaja
Name[ca]=Tipus de dispositiu
Name[ca@valencia]=Tipus de dispositiu
Name[cs]=Typ zařízení
Name[csb]=Ôrt ùrządzenia
Name[da]=Enhedstype
Name[de]=Gerätetyp
Name[el]=Τύπος συσκευής
Name[en_GB]=Device Type
Name[eo]=Aparata Tipo
Name[es]=Tipo de dispositivo
Name[et]=Seadme tüüp
Name[eu]=Gailu mota
Name[fa]=نوع دستگاه
Name[fi]=Laitetyyppi
Name[fr]=Type de périphérique
Name[fy]=Apparaat type
Name[ga]=Cineál Gléis
Name[gl]=Tipo do dispositivo
Name[gu]=ઉપકરણ પ્રકાર
Name[he]=סוג ההתקן
Name[hi]=औज़ार प्रकार
Name[hr]=Tip uređaja
Name[hu]=Eszköztípus
Name[ia]=Typo de dispositivo
Name[id]=Tipe Divais
Name[is]=Tegund tækis
Name[it]=Tipo di dispositivo
Name[ja]=デバイスのタイプ
Name[kk]=Құрылғының түрі
Name[km]=ប្រភេទ​ឧបករណ៍
Name[kn]=ಸಾಧನದ ಬಗೆ
Name[ko]=장치 종류
Name[lt]=Įrenginio tipas
Name[lv]=Ierīces tips
Name[mk]=Тип на уред
Name[ml]=ഉപകരണതരം
Name[mr]=साधन प्रकार
Name[nb]=Enhetstype
Name[nds]=Reedschaptyp
Name[nl]=Apparaattype
Name[nn]=Einingstype
Name[pa]=ਜੰਤਰ ਕਿਸਮ
Name[pl]=Typ urządzenia
Name[pt]=Tipo de Dispositivo
Name[pt_BR]=Tipo de dispositivo
Name[ro]=Tip dispozitiv
Name[ru]=Тип устройства
Name[si]=මෙවලම් වර්‍ගය
Name[sk]=Typ zariadenia
Name[sl]=Vrsta naprave
Name[sr]=тип уређаја
Name[sr@ijekavian]=тип уређаја
Name[sr@ijekavianlatin]=tip uređaja
Name[sr@latin]=tip uređaja
Name[sv]=Enhetstyp
Name[tg]=Дастгоҳҳо
Name[th]=ประเภทของอุปกรณ์
Name[tr]=Aygıt Tipi
Name[ug]=ئۈسكۈنە تىپى
Name[uk]=Тип пристрою
Name[vi]=Kiểu thiết bị
Name[wa]=Sôre d' éndjin
Name[x-test]=xxDevice Typexx
Name[zh_CN]=设备类型
Name[zh_TW]=裝置類型

[Desktop Entry]
Actions=device;deviceAdapter;deviceIndex;deviceType;
Name=Solid Device
Name[ar]=جهاز في سوليد
Name[ast]=Preseos de Solid
Name[bn]=সলিড ডিভাইস
Name[bs]=uređaj pod Solidom
Name[ca]=Dispositiu del Solid
Name[ca@valencia]=Dispositiu del Solid
Name[cs]=Solid zařízení
Name[da]=Solid-enhed
Name[de]=Solid-Gerät
Name[el]=Συμπαγής συσκευή
Name[en_GB]=Solid Device
Name[eo]=Solid-aparatoj
Name[es]=Dispositivo de Solid
Name[et]=Solidi seade
Name[eu]=Solid gailua
Name[fi]=Kiinteä laite
Name[fr]=Périphérique Solid
Name[fy]=Solid apparaat
Name[ga]=Gléas Solid
Name[gl]=Dispositivo de Solid
Name[gu]=સોલિડ ઉપકરણ
Name[he]=התקן Solid
Name[hi]=सोलिड औज़ार
Name[hr]=Solid uređaj
Name[hu]=Solid eszköz
Name[ia]=Dispositivo Solid
Name[id]=Divais Solid
Name[is]=Solid tæki
Name[it]=Dispositivo di Solid
Name[ja]=Solid デバイス
Name[kk]=Solid құрылғысы
Name[km]=ឧបករណ៍​យូ​តាន់
Name[kn]=ಘನ ಸಾಧನ
Name[ko]=Solid 장치
Name[lt]=Solid įrenginys
Name[lv]=Solid ierīce
Name[mk]=Полупроводнички уред
Name[ml]=സോളിഡ് ഉപകരണം
Name[mr]=सॉलिड साधन
Name[nb]=Solid-enhet
Name[nds]=Solid-Reedschap
Name[nl]=Solid-apparaat
Name[nn]=Solid-eining
Name[pa]=ਸਾਲਡ ਜੰਤਰ
Name[pl]=Urządzenie Solid
Name[pt]=Dispositivo do Solid
Name[pt_BR]=Dispositivo do Solid
Name[ro]=Dispozitiv Solid
Name[ru]=Устройство Solid
Name[si]=දෘඩ මෙවලම්
Name[sk]=Zariadenie Solid
Name[sl]=Naprava Solid
Name[sr]=уређај под Солидом
Name[sr@ijekavian]=уређај под Солидом
Name[sr@ijekavianlatin]=uređaj pod Solidom
Name[sr@latin]=uređaj pod Solidom
Name[sv]=Solid-enhet
Name[tg]=Дастгоҳҳои ҷудошаванда
Name[th]=อุปกรณ์ผ่าน Solid
Name[tr]=Solid Aygıtı
Name[ug]=Solid ئۈسكۈنە
Name[uk]=Пристрій Solid
Name[wa]=Éndjins Solid
Name[x-test]=xxSolid Devicexx
Name[zh_CN]=Solid 设备
Name[zh_TW]=實體裝置
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=DvbInterface
