[Desktop Action chargePercent]
Name=Charge Percent

[Desktop Action chargeState]
Name=Charge State

[Desktop Action plugged]
# ctxt: battery plugged in
Name=Plugged

[Desktop Action rechargeable]
Name=Rechargeable

[Desktop Action type]
Name=Type

[Desktop Entry]
Actions=chargePercent;chargeState;plugged;rechargeable;type;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Battery
