[Desktop Entry]
Exec=kcmshell5 bell
Icon=preferences-desktop-notification-bell
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/bell/index.html
Categories=Qt;KDE;X-KDE-settings-sound;
X-KDE-OnlyShowOnQtPlatforms=xcb;

X-KDE-Library=kcm_bell
X-KDE-Init-Symbol=bell
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=60

Name=System Bell

Comment=System Bell Configuration

X-KDE-Keywords=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker

