[Desktop Entry]
Exec=kcmshell5 bell
Icon=preferences-desktop-notification-bell
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/bell/index.html
Categories=Qt;KDE;X-KDE-settings-sound;
X-KDE-OnlyShowOnQtPlatforms=xcb;

X-KDE-Library=kcm_bell
X-KDE-Init-Symbol=bell
X-KDE-ParentApp=kcontrol
X-KDE-Init-Phase=0

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=60

Name=System Bell
Name[af]=Stelsel Klok
Name[ar]=جرس النظام
Name[ast]=Pitíu del sistema
Name[be]=Сістэмны званок
Name[be@latin]=Systemny hukavy syhnał
Name[bg]=Системен звук
Name[bn]=সিস্টেম ঘণ্টা
Name[bn_IN]=সিস্টেমের ঘন্টা
Name[br]=Kloc'h ar reizhiad
Name[bs]=Sistemsko zvono
Name[ca]=Timbre del sistema
Name[ca@valencia]=Timbre del sistema
Name[cs]=Systémový zvonek
Name[csb]=Systemowi brzãczk
Name[cy]=Cloch Cysawd
Name[da]=Systemklokke
Name[de]=Signalton
Name[el]=Μεγαφωνάκι συστήματος
Name[en_GB]=System Bell
Name[eo]=Sistempepo
Name[es]=Timbre del sistema
Name[et]=Süsteemne signaal
Name[eu]=Sistemaren soinua
Name[fa]=زنگ سیستم
Name[fi]=Järjestelmän varoitus
Name[fr]=Cloche du système
Name[fy]=Systeembel
Name[ga]=Cloigín an Chórais
Name[gl]=Badalada do sistema
Name[gu]=સિસ્ટમ ઘંટડી
Name[he]=פעמון המערכת
Name[hi]=तंत्र घंटी
Name[hne]=तंत्र घंटी
Name[hr]=Sistemsko zvono
Name[hsb]=Systemowy zwónčk
Name[hu]=Rendszercsengő
Name[ia]=Campana de systema
Name[id]=Bel Sistem
Name[is]=Kerfisbjalla
Name[it]=Campanella di sistema
Name[ja]=システムベル
Name[ka]=სისტემის ხმოვანი სიგნალი
Name[kk]=Жүйелік қоңырау
Name[km]=កណ្ដឹង​ប្រព័ន្ធ
Name[kn]=ವ್ಯವಸ್ಥಾ ಗಂಟೆ
Name[ko]=시스템 종소리
Name[ku]=Zingila Pergalê
Name[lt]=Sistemos skambutis
Name[lv]=Sistēmas zvans
Name[mai]=तंत्र घंटी
Name[mk]=Системско ѕвонче
Name[ml]=സിസ്റ്റം മണി
Name[mr]=प्रणाली घंटी
Name[ms]=Loceng Sistem
Name[nb]=Systemlyd
Name[nds]=Systeempingel
Name[ne]=प्रणाली बेल
Name[nl]=Systeembel
Name[nn]=Systemlyd
Name[or]=ତନ୍ତ୍ର ଘଣ୍ଟି
Name[pa]=ਸਿਸਟਮ ਘੰਟੀ
Name[pl]=Brzęczyk systemowy
Name[pt]=Campainha do Sistema
Name[pt_BR]=Campainha do sistema
Name[ro]=Clopoțel de sistem
Name[ru]=Системный звуковой сигнал
Name[se]=Vuogádatjietna
Name[si]=පද්ධති සීනුව
Name[sk]=Zvonček
Name[sl]=Sistemski zvonec
Name[sr]=Системско звоно
Name[sr@ijekavian]=Системско звоно
Name[sr@ijekavianlatin]=Sistemsko zvono
Name[sr@latin]=Sistemsko zvono
Name[sv]=Systemsummer
Name[ta]=அமைப்பு மணி
Name[te]=వ్యవస్థ గంట
Name[tg]=Системаи занг
Name[th]=ออดระบบ
Name[tr]=Sistem Zili
Name[ug]=سىستېما قوڭغۇراق ئاۋازى
Name[uk]=Системний дзвінок
Name[uz]=Tizim tovush signali
Name[uz@cyrillic]=Тизим товуш сигнали
Name[vi]=Chuông hệ thống
Name[wa]=Xhuflet do sistinme
Name[xh]=Indlela yokusebenza Yentsimbi
Name[x-test]=xxSystem Bellxx
Name[zh_CN]=系统铃声
Name[zh_TW]=系統鈴聲

Comment=System Bell
Comment[ar]=جرس النظام
Comment[bs]=Sistemsko zvono
Comment[ca]=Timbre del sistema
Comment[cs]=Systémový zvonek
Comment[da]=Systemklokke
Comment[de]=Signalton
Comment[el]=Μεγαφωνάκι συστήματος
Comment[en_GB]=System Bell
Comment[es]=Timbre del sistema
Comment[fi]=Järjestelmän varoitus
Comment[fr]=Cloche du système
Comment[hu]=Rendszercsengő
Comment[id]=Bel Sistem
Comment[it]=Campanella di sistema
Comment[ko]=시스템 종소리
Comment[lt]=Sistemos skambutis
Comment[nb]=Systembjelle
Comment[nds]=Systeempingel
Comment[nl]=Systeembel
Comment[pa]=ਸਿਸਟਮ ਘੰਟੀ
Comment[pl]=Brzęczyk systemowy
Comment[pt]=Campainha do Sistema
Comment[pt_BR]=Campainha do sistema
Comment[ru]=Системный звуковой сигнал
Comment[sk]=Zvonček
Comment[sl]=Sistemski zvonec
Comment[sr]=Системско звоно
Comment[sr@ijekavian]=Системско звоно
Comment[sr@ijekavianlatin]=Sistemsko zvono
Comment[sr@latin]=Sistemsko zvono
Comment[sv]=Systemsummer
Comment[uk]=Системний дзвінок
Comment[x-test]=xxSystem Bellxx
Comment[zh_CN]=系统铃声
Comment[zh_TW]=系統鈴聲

X-KDE-Keywords=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker
X-KDE-Keywords[ar]=جرس,صوت,مستوى,مدة,سماعة,جرس النظام,سماعة النظام,سماعة الحاسوب الداخلية
X-KDE-Keywords[bs]=Zvono,zvučni,zvuk,glasnoća,igralište,trajanje,visina tona,trajanje,PC zvučnici,unutarnji zvučnik,zvučnik,sustav zvona,sustav zvučnika,unutarnji PC zvučnik
X-KDE-Keywords[ca]=Campana,Àudio,So,Volum,To,Durada,Altaveu del PC,Altaveu intern,Altaveu,Campana del sistema,Altaveu del sistema,Altaveu intern del PC
X-KDE-Keywords[ca@valencia]=Campana,Àudio,So,Volum,To,Durada,Altaveu del PC,Altaveu intern,Altaveu,Campana del sistema,Altaveu del sistema,Altaveu intern del PC
X-KDE-Keywords[da]=Klokke,lyd,lydstyrke,volume,tone,varighed,pc-højtaler,intern højtaler,højtaler,systemklokke,systemhøjtaler,intern pc-højtaler
X-KDE-Keywords[de]=Signalton,Systemton,Klänge,Audio,Sound,Dauer,Lautstärke,Höhen,PC-Lautsprecher,Interner Lautsprecher,Lautsprecher,Systemsignalton,System-Lautsprecher,Interner PC-Lautsprecher
X-KDE-Keywords[el]=μεγαφωνάκι,ήχος,ήχος,ένταση,τόνος,διάρκεια,ηχείο PC,εσωτερικό ηχείο,ηχείο,κουδούνι συστήματος,ηχείο συστήματος,εσωτερικό ηχείο PC
X-KDE-Keywords[en_GB]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker
X-KDE-Keywords[es]=Campana,Audio,Sonido,Volumen,Pitch,Duración,Altavoz del PC,Altavoz interno,Altavoz,Campana del sistema,Altavoz del sistema,Altavoz interno del PC
X-KDE-Keywords[et]=Kell,audio,heli,helitugevus,toon,kestus,arvutikõlar,PC kõlar,kõlar,sisemine kõlar,süsteemne piiks,süsteemi piiks,süsteemi kõlar,PC sisemine kõlar
X-KDE-Keywords[eu]=kanpai,audio,soinu,bolumen,tonu,iraupen,PC bozgorailu,barneko bozgorailu,bozgorailu,sistemaren soinu,sistemaren bozgorailu, PC barneko bozgorailu
X-KDE-Keywords[fi]=varoitus,äänimerkki,ääni,äänenvoimakkuus,äänenkorkeus,kesto,PC-kaiutin,sisäinen kaiutin,kaiutin,järjestelmän äänimerkki,järjestelmäkaiutin,sisäinen PC-kaiutin
X-KDE-Keywords[fr]=Cloche, Audio, Son, Volume, Pas, Durée, Haut-parleur du PC, Haut-parleur interne, Haut parleur, Cloche du système, Haut-parleur du système, Haut-parleur interne du PC
X-KDE-Keywords[gl]=Badalada, campá, son, volume, altofalante, badalada do sistema
X-KDE-Keywords[he]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,ספיקר, שמע, משך, פעמון, גובה
X-KDE-Keywords[hu]=Csengő,Audio,Hang,Hangerő,Hangmagasság,Időtartam,PC hangszóró,Belső hangszóró,Hangszóró,Rendszercsengő,Rendszer hangszóró,Belső PC hangszóró
X-KDE-Keywords[ia]=Campana,Audio,Sono,Volumine,Accordatura,Duration,altoparlator de PC,altoparlator interne, Altoparlator,Campana de systema,altoparlator de systema,Altoparlator de PC interne
X-KDE-Keywords[id]=Bel,Audio,Suara,Volume,Nada,Durasi,Penguat Suara PC,Penguat Suara Internal,Penguat Suara,Bel Sistem,Penguat Suara Sistem,Penguat Suara PC Internal
X-KDE-Keywords[it]=Campanella,Audio,Suono,Volume,Altezza,Durata,Altoparlanti PC,Altoparlanti interni,Altoparlante,Campanella di sistema,Altoparlanti di sistema,Altoparlanti interni pc
X-KDE-Keywords[kk]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker
X-KDE-Keywords[km]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker
X-KDE-Keywords[ko]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,오디오,사운드,음량,시간,스피커
X-KDE-Keywords[mr]=घंटी, श्राव्य, ध्वनी, आवाज, आवाजाचा स्तर, अवधी, पी.सी.स्पीकर , इंटर्नल स्पीकर, स्पीकर  प्रणाली घंटी, प्रणाली स्पीकर,  अंतर्गत पी.सी. स्पीकर
X-KDE-Keywords[nb]=Bjelle, Lyd,Lydstyrke,Tone,Varighet,PC-høyttaler,Intern høyttaler,Høyttaler,Systembjelle,Systemhøyttaler, Intern PC-høyttaler
X-KDE-Keywords[nds]=Pingel,Kläng,Klang,Luutstärk,Toonhööchd,Duer,PC-Luutspreker,intern Luutspreker,Luutspreker,Systempingel,System-Luutspreker,intern PC-Luutspreker
X-KDE-Keywords[nl]=Bel,audio,geluid,volume,toonhoogte,duur,PC-speaker,interne speaker,speaker,systeembel,systeemspeaker,interne PC-speaker
X-KDE-Keywords[pl]=Dzwonek,Audio,Dźwięk,Głośność,Ton,Czas trwania
X-KDE-Keywords[pt]=Campainha,Áudio,Som,Volume,Frequência,Duração,Altifalante do PC,Altifalante Interno,Altifalante,Campainha do Sistema,Altifalante do Sistema,Altifalante Interno do PC
X-KDE-Keywords[pt_BR]=Campainha,Áudio,Som,Volume,Frequência,Duração,Alto-falante do PC,Alto-falante interno,Alto-falante,Campainha do sistema,Alto-falante do sistema,Alto-falante interno do PC
X-KDE-Keywords[ru]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,сигнал,аудио,звук,громкость,высота тона,длительность,колонки,динамики,встроенный динамик,сигнал системы,акустическая система,встроенная акустическая система
X-KDE-Keywords[sk]=Zvonček,zvuk,audio,hlasitosť,výška tónu,trvanie,PC speaker,vnútorný reproduktor,speaker,systémový zvonček,systémový reproduktor,vnútorný PC speaker
X-KDE-Keywords[sl]=zvonec,audio,avdio,zvok,glasnost,ton,višina tona,trajanje,zvočnik,notranji zvočnik,sistemski zvonec,sistemski zvočnik,piskanje,notranji PC zvočnik
X-KDE-Keywords[sr]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,звоно,аудио,звук,јачина,висина,трајање,системско звоно,системски звучник,унутрашњи звучник
X-KDE-Keywords[sr@ijekavian]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,звоно,аудио,звук,јачина,висина,трајање,системско звоно,системски звучник,унутрашњи звучник
X-KDE-Keywords[sr@ijekavianlatin]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,zvono,audio,zvuk,jačina,visina,trajanje,sistemsko zvono,sistemski zvučnik,unutrašnji zvučnik
X-KDE-Keywords[sr@latin]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,zvono,audio,zvuk,jačina,visina,trajanje,sistemsko zvono,sistemski zvučnik,unutrašnji zvučnik
X-KDE-Keywords[sv]=Summer,Ljud,Volym,Tonhöjd,Längd,PC-högtalare,Intern högtalare,Högtalare,Systemsummer,Systemhögtalare,Intern PC-högtalare
X-KDE-Keywords[tr]=Zil,Ses,Ses Düzeyi,Akort,Süre,PC Hoparlörü,İç Hoparlör,Hoparlör,Sistem Zili,Sistem Hoparlörü,Dahili PC Hoparlörü
X-KDE-Keywords[uk]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,дзвінок,гудок,звук,гучність,тон,тривалість,гучномовець,колонки,вбудовані колонки,системний дзвінок,вбудований гучномовець
X-KDE-Keywords[vi]=Chuông,âm thanh,âm lượng,thời lượng,loa PC,loa trong,loa,chuông hệ thống,loa hệ thống, loa PC trong
X-KDE-Keywords[x-test]=xxBellxx,xxAudioxx,xxSoundxx,xxVolumexx,xxPitchxx,xxDurationxx,xxPC Speakerxx,xxInternal Speakerxx,xxSpeakerxx,xxSystem Bellxx,xxSystem Speakerxx,xxInternal PC Speakerxx
X-KDE-Keywords[zh_CN]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,铃声,声音,音量,音调,持续时间,PC 扬声器,内部扬声器,扬声器,PC 喇叭,内部喇叭,喇叭,系统铃声,系统扬声器,系统喇叭,内部 PC 扬声器,内部 PC 喇叭
X-KDE-Keywords[zh_TW]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker

