[Desktop Entry]
Exec=kcmshell5 bell
Icon=preferences-desktop-notification-bell
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/bell/index.html
Categories=Qt;KDE;X-KDE-settings-sound;
X-KDE-OnlyShowOnQtPlatforms=xcb;

X-KDE-Library=kcm_bell
X-KDE-Init-Symbol=bell
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=60

Name=System Bell
Name[nl]=Systeembel
Name[uk]=Системний дзвінок
Name[x-test]=xxSystem Bellxx

Comment=System Bell Configuration
Comment[nl]=Systeemgeluiden instellen
Comment[uk]=Налаштування системного дзвінка
Comment[x-test]=xxSystem Bell Configurationxx

X-KDE-Keywords=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker
X-KDE-Keywords[nl]=Bel,audio,geluid,volume,toonhoogte,duur,PC-speaker,interne speaker,speaker,systeembel,systeemspeaker,interne PC-speaker
X-KDE-Keywords[uk]=Bell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speaker,дзвінок,гудок,звук,гучність,тон,тривалість,гучномовець,колонки,вбудовані колонки,системний дзвінок,вбудований гучномовець
X-KDE-Keywords[x-test]=xxBell,Audio,Sound,Volume,Pitch,Duration,PC Speaker,Internal Speaker,Speaker,System Bell,System Speaker,Internal PC Speakerxx

