[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_touchpad
X-KDE-PluginInfo-Name=touchpad
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-OnlyShowOnQtPlatforms=xcb
Name=Touchpad
Name[ar]=لوحة اللمس
Name[ast]=Panel táctil
Name[az]=Toxunma Paneli
Name[ca]=Ratolí tàctil
Name[ca@valencia]=Ratolí tàctil
Name[cs]=Touchpad
Name[da]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[en_GB]=Touchpad
Name[es]=Panel táctil
Name[et]=Puutepadi
Name[eu]=Ukimen-sagua
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[gl]=Área táctil
Name[he]=לוח מגע
Name[hu]=Érintőtábla
Name[ia]=Touchpad
Name[id]=Touchpad
Name[is]=Snertiplatti
Name[it]=Touchpad
Name[ja]=タッチパッド
Name[ko]=터치패드
Name[lt]=Jutiklinis kilimėlis
Name[nl]=Touchpad
Name[nn]=Styreplate
Name[pa]=ਟੱਚਪੈਡ
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[ro]=Zonă tactilă
Name[ru]=Сенсорная панель
Name[sk]=Touchpad
Name[sl]=Sledilna ploščica
Name[sr]=Додирник
Name[sr@ijekavian]=Додирник
Name[sr@ijekavianlatin]=Dodirnik
Name[sr@latin]=Dodirnik
Name[sv]=Tryckplatta
Name[ta]=தொடுபலகை
Name[tg]=Лавҳаи ламсӣ
Name[tr]=Dokunmatik yüzey
Name[uk]=Сенсорна панель
Name[vi]=Bàn cảm ứng
Name[x-test]=xxTouchpadxx
Name[zh_CN]=触摸板
Name[zh_TW]=觸控板
Comment=Enables or disables touchpad
Comment[ar]=يفعّل لوحة اللمس أو يعطّلها
Comment[ast]=Des/activa'l panel táctil
Comment[az]=Toxunma Panelini aktiv edir və Söndürür
Comment[ca]=Activa o desactiva el ratolí tàctil
Comment[ca@valencia]=Activa o desactiva el ratolí tàctil
Comment[cs]=Povolí/zakáže touchpad
Comment[da]=Aktiverer eller deaktiverer touchpad
Comment[de]=Aktiviert oder deaktiviert das Touchpad
Comment[el]=Ενεργοποιεί ή απενεργοποιεί την επιφάνεια αφής
Comment[en_GB]=Enables or disables touchpad
Comment[es]=Activa o desactiva el panel táctil
Comment[et]=Puutepadja lubamine või keelamine
Comment[eu]=ukimen-sagua (des)gaitzen du
Comment[fi]=Ottaa kosketuslevyn käyttöön tai poistaa sen käytöstä
Comment[fr]=Active ou désactive le pavé tactile
Comment[gl]=Activa ou desactiva a área táctil
Comment[he]=אפשר או בטל את לוח המגע
Comment[hu]=Érintőtábla be/kikapcsolása
Comment[ia]=Habilita o dishabilita le pannello tactile (touchpad)
Comment[id]=Fungsikan atau nonfungsikan touchpad
Comment[it]=Abilita o disabilita il touchpad
Comment[ja]=タッチパッドを有効化または無効化する
Comment[ko]=터치패드 활성/비활성
Comment[lt]=Įjungia arba išjungia jutiklinį kilimėlį
Comment[nl]=Schakelt het touchpad in of uit
Comment[nn]=Slå på/av styreplate
Comment[pa]=ਟੱਚਪੈਡ ਸਮਰੱਥ ਜਾਂ ਅਸਮਰੱਥ ਕਰੋ
Comment[pl]=Włącza lub wyłącza gładzik
Comment[pt]=Activa ou desactiva o rato por toque
Comment[pt_BR]=Ativa ou desativa o touchpad
Comment[ro]=Activează sau dezactivează zona tactilă
Comment[ru]=Включает или выключает сенсорную панель
Comment[sk]=Povolí alebo zakáže touchpad
Comment[sl]=Omogoči ali onemogoči sledilno ploščico
Comment[sr]=Активира или деактивира додирник
Comment[sr@ijekavian]=Активира или деактивира додирник
Comment[sr@ijekavianlatin]=Aktivira ili deaktivira dodirnik
Comment[sr@latin]=Aktivira ili deaktivira dodirnik
Comment[sv]=Aktiverar eller inaktiverar tryckplattan
Comment[ta]=தொடுபலகையை இயக்கும் அல்லது முடக்கும்
Comment[tg]=Лавҳаи ламсиро фаъол ва ғайрифаъол месозад
Comment[tr]=Dokunmatik yüzeyi etkinleştirir veya kapatır
Comment[uk]=Вмикає або вимикає сенсорну панель
Comment[vi]=Bật hoặc tắt bàn cảm ứng
Comment[x-test]=xxEnables or disables touchpadxx
Comment[zh_CN]=启用或禁用触摸板
Comment[zh_TW]=開啟或關閉觸控板
