[Desktop Entry]
Name=Font Viewer
Name[af]=Skriftipe Besigter
Name[ar]=عارض الخطوط
Name[ast]=Visor de fontes
Name[be]=Прагляд шрыфта
Name[be@latin]=Prahladnik šryftoŭ
Name[bg]=Преглед на шрифт
Name[bn]=ফন্ট প্রদর্শক
Name[bn_IN]=ফন্ট প্রদর্শক
Name[br]=Gweler Nodrezhoù
Name[bs]=Prikazivač fontova
Name[ca]=Visor de tipus de lletra
Name[ca@valencia]=Visor de tipus de lletra
Name[cs]=Prohlížeč písem
Name[csb]=Przezérnik fòntów
Name[cy]=Gwelydd Ffont
Name[da]=Skrifttypevisning
Name[de]=Schriftartenbetrachter
Name[el]=Προβολέας γραμματοσειρών
Name[en_GB]=Font Viewer
Name[eo]=Tiparorigardilo
Name[es]=Visor del tipo de letra
Name[et]=Fontide näitaja
Name[eu]=Letra-tipoen ikustailea
Name[fa]=مشاهده‌گر قلم
Name[fi]=Fonttikatselin
Name[fr]=Afficheur de polices de caractères
Name[fy]=Lettertypewerjefteprogramma
Name[ga]=Amharcán Clónna
Name[gl]=Visor de tipos de letra
Name[gu]=ફોન્ટ દર્શક
Name[he]=מציג הגופנים
Name[hi]=फ़ॉन्ट प्रदर्शक
Name[hne]=फोंट प्रदर्सक
Name[hr]=Preglednik fontova
Name[hsb]=Přehladowar pisma
Name[hu]=A betűtípusok áttekintése
Name[ia]=Visor de font
Name[id]=Penampil Fonta
Name[is]=Leturskoðari
Name[it]=Visore di caratteri
Name[ja]=フォントビューア
Name[ka]=პროგრამა ფონტების სანახავად
Name[kk]=Қаріпті қарау құралы
Name[km]=កម្មវិធី​មើល​ពុម្ពអក្សរ
Name[kn]=ಅಕ್ಷರಶೈಲಿ ವೀಕ್ಷಕ
Name[ko]=글꼴 뷰어
Name[ku]=Nîşandêra Curetîpan
Name[lt]=Šrifto žiūriklis
Name[lv]=Fontu skatītājs
Name[mai]=फान्ट प्रदर्शक
Name[mk]=Прегледувач на фонтови
Name[ml]=അക്ഷരസഞ്ചയദര്‍ശിനി
Name[mr]=फॉन्ट प्रदर्शक
Name[ms]=Pemapar Fon
Name[nb]=Skriftviser
Name[nds]=Schriftoortkieker
Name[ne]=फन्ट दर्शक
Name[nl]=Lettertypeweergaveprogramma
Name[nn]=Skriftvisar
Name[or]=ଅକ୍ଷରରୂପ ପ୍ରଦର୍ଶକ
Name[pa]=ਫੋਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka czcionek
Name[pt]=Visualizador do Tipo de Letra
Name[pt_BR]=Visualizador de fontes
Name[ro]=Vizualizator de fonturi
Name[ru]=Просмотр шрифтов
Name[se]=Fontačájeheaddji
Name[si]=අකුරු දසුන
Name[sk]=Prehliadač písiem
Name[sl]=Pregledovalnik pisav
Name[sr]=Приказивач фонтова
Name[sr@ijekavian]=Приказивач фонтова
Name[sr@ijekavianlatin]=Prikazivač fontova
Name[sr@latin]=Prikazivač fontova
Name[sv]=Teckensnittsvisning
Name[ta]=மின்னெழுத்துக் காட்டி
Name[te]=ఫాంట్ వీక్షణి
Name[tg]=Намоишгари ҳарфҳо
Name[th]=ดูตัวอย่างแบบอักษร
Name[tr]=Yazı Tipi Gösterici
Name[ug]=خەت نۇسخا كۆرگۈ
Name[uk]=Переглядач шрифтів
Name[uz]=Shrift koʻruvchi
Name[uz@cyrillic]=Шрифт кўрувчи
Name[vi]=Trình xem phông chữ
Name[wa]=Håyneu d' fontes
Name[xh]=Imboniselo Yohlobo lwegama
Name[x-test]=xxFont Viewerxx
Name[zh_CN]=字体查看器
Name[zh_TW]=字型檢視器
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-otf;application/x-font-pcf;application/x-font-bdf;fonts/package;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kfontviewpart
Type=Service
InitialPreference=1
Icon=kfontview
