[Desktop Entry]
Name=Font Viewer
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-otf;application/x-font-pcf;application/x-font-bdf;fonts/package;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kfontviewpart
Type=Service
InitialPreference=1
Icon=kfontview
