[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=touchpad
X-KDE-DBus-ModuleName=touchpad
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
Name=Touchpad
Name[bs]=Dodirna površina
Name[cs]=Touchpad
Name[da]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[es]=Panel táctil
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[hu]=Érintőtábla
Name[ko]=터치패드
Name[lt]=Jutiklinis kilimėlis
Name[nl]=Touchpad
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[ro]=Zonă tactilă
Name[sk]=Touchpad
Name[sl]=Sledilna ploščica
Name[sv]=Tryckplatta
Name[tr]=Dokunmatik Yüzey
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Comment=Enables or disables touchpad
Comment[bs]=Uključuje ili isključuje dodirnu površinu
Comment[cs]=Povolí/zakáže touchpad
Comment[da]=Aktiverer eller deaktiverer touchpad
Comment[de]=Aktiviert oder deaktiviert das Touchpad
Comment[el]=Ενεργοποιεί ή απενεργοποιεί την επιφάνεια αφής
Comment[es]=Activa o desactiva el panel táctil
Comment[fi]=Ottaa kosketuslevyn käyttöön tai poistaa sen käytöstä
Comment[fr]=Active ou désactive le pavé tactile
Comment[hu]=Engedélyezi vagy letiltja az érintőtáblát
Comment[ko]=터치패드 활성/비활성
Comment[lt]=Įjungia/išjungia jutiklinį kilimėlį
Comment[nl]=Schakelt het touchpad in of uit
Comment[pl]=Włącza lub wyłącza gładzik
Comment[pt]=Activa ou desactiva o rato por toque
Comment[pt_BR]=Ativa ou desativa o touchpad
Comment[ro]=Activează sau dezactivează zona tactilă
Comment[sk]=Povolí alebo zakáže touchpad
Comment[sl]=Omogoči ali onemogoči sledilno ploščico
Comment[sv]=Aktiverar eller stänger av tryckplatta
Comment[tr]=Dokunmatik yüzeyi etkinleştirir veya devre dışı bırakır
Comment[uk]=Вмикає або вимикає сенсорну панель
Comment[x-test]=xxEnables or disables touchpadxx
