[Desktop Entry]
Icon=preferences-desktop-keyboard-shortcut
Type=Application
Exec=systemsettings kcm_keys
NoDisplay=true

Name=Shortcuts
Name[ar]=الاختصارات
Name[ast]=Atayos
Name[az]=Qısayollar
Name[ca]=Dreceres
Name[ca@valencia]=Dreceres
Name[cs]=Zkratky
Name[da]=Genveje
Name[de]=Kurzbefehle
Name[en_GB]=Shortcuts
Name[es]=Accesos rápidos
Name[et]=Kiirklahvid
Name[eu]=Lasterbideak
Name[fi]=Pikanäppäimet
Name[fr]=Raccourcis
Name[hu]=Gyorsbillentyűk
Name[ia]=Vias Breve
Name[id]=Shortcuts
Name[it]=Scorciatoie
Name[ko]=단축키
Name[lt]=Spartieji klavišai
Name[nl]=Sneltoetsen
Name[nn]=Snarvegar
Name[pa]=ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty
Name[pt]=Atalhos
Name[pt_BR]=Atalhos
Name[ru]=Комбинации клавиш
Name[sk]=Skratky
Name[sl]=Bližnjice
Name[sv]=Genvägar
Name[ta]=சுருக்குவழிகள்
Name[tr]=Kısayollar
Name[uk]=Скорочення
Name[vi]=Phím tắt
Name[x-test]=xxShortcutsxx
Name[zh_CN]=快捷键
Name[zh_TW]=捷徑
