[Desktop Entry]
Exec=kcmshell5 keys
Icon=preferences-desktop-keyboard-shortcut
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/keys/index.html

X-KDE-Library=kcm_keys
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=shortcuts-and-gestures
X-KDE-Weight=160

Name=Global Keyboard Shortcuts
Name[ar]=اختصارات لوحة المفاتيح العمومية
Name[ast]=Accesos rápidos de tecláu globales
Name[be@latin]=Paŭsiudnyja klavijaturnyja skaroty
Name[bg]=Общи бързи клавиши
Name[bn]=গ্লোবাল কীবোর্ড শর্টকাট
Name[bn_IN]=কি-বোর্ডের সার্বজনীন শর্ট-কাট
Name[bs]=Globalne prečice sa tastature
Name[ca]=Dreceres de teclat globals
Name[ca@valencia]=Dreceres de teclat globals
Name[cs]=Globální klávesové zkratky
Name[csb]=Globalné klawiszowé skrodzënë
Name[da]=Globale tastaturgenveje
Name[de]=Globale Kurzbefehle
Name[el]=Καθολικές συντομεύσεις πληκτρολογίου
Name[en_GB]=Global Keyboard Shortcuts
Name[eo]=Ĝeneralaj Klavkombinoj
Name[es]=Accesos rápidos de teclado globales
Name[et]=Globaalsed kiirklahvid
Name[eu]=Laster-tekla orokorrak
Name[fa]=میان‌برهای صفحه‌ کلید سراسری
Name[fi]=Työpöydänlaajuiset pikanäppäimet
Name[fr]=Raccourcis globaux de clavier
Name[fy]=Globale fluchkeppelings
Name[ga]=Aicearraí Comhchoiteanna Méarchláir
Name[gl]=Atallos de teclado globais
Name[gu]=વૈશ્વીક કીબોર્ડ ટૂંકાણો
Name[he]=קיצורי מקשים גלובליים
Name[hi]=वैश्विक कुंजीपट शॉर्टकट
Name[hne]=वैस्विक कुंजीपट सार्टकट
Name[hr]=Globalni prečaci tipkovnice
Name[hsb]=Globalne tastaturowe skrótšenki
Name[hu]=Globális billentyűparancsok
Name[ia]=Vias breve global de claviero
Name[id]=Jalan Pintas Papan Ketik Global
Name[is]=Víðværir flýtilyklar
Name[it]=Scorciatoie globali della tastiera
Name[ja]=グローバルキーボードショートカット
Name[kk]=Жалпы жүйелік перне тіркесімдер
Name[km]=ផ្លូវកាត់​ក្ដារចុច​​សកល
Name[kn]=ಸಾರ್ವತ್ರಿಕ ಕೀಲಿಮಣೆ ಶೀಘ್ರಮಾರ್ಗಗಳು (ಶಾರ್ಟ್ ಕಟ್)
Name[ko]=전역 키보드 단축키
Name[ku]=Kurteriyên Klavyeyê yên Giştî
Name[lt]=Globalieji spartieji klavišai
Name[lv]=Globālie tastatūras īsceļi
Name[mai]=वैश्विक कुंजीपटल शार्टकट
Name[mk]=Глобални кратенки на тастатурата
Name[ml]=ആഗോളമായ കീബോര്‍ഡിലെ കുറക്കുവഴികള്‍
Name[mr]=जागतिक कळफलक शॉर्टकट
Name[nb]=Globale hurtigtaster
Name[nds]=Globaal Tastkombinatschonen
Name[nl]=Globale sneltoetsen
Name[nn]=Globale snøgg­tastar
Name[or]=ଜାଗତିକ କିବୋର୍ଡ଼ ସଂକ୍ଷିପ୍ତ ପଥ
Name[pa]=ਗਲੋਬਲ ਕੀ-ਬੋਰਡ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Globalne skróty klawiszowe
Name[pt]=Atalhos Globais do Teclado
Name[pt_BR]=Atalhos de teclado globais
Name[ro]=Acceleratori de tastatură globali
Name[ru]=Глобальные комбинации клавиш
Name[si]=ගෝලීය යතුරුපුවරු කෙටිමං
Name[sk]=Globálne klávesové skratky
Name[sl]=Splošne tipkovne bližnjice
Name[sr]=Глобалне пречице са тастатуре
Name[sr@ijekavian]=Глобалне пречице са тастатуре
Name[sr@ijekavianlatin]=Globalne prečice sa tastature
Name[sr@latin]=Globalne prečice sa tastature
Name[sv]=Globala snabbtangenter
Name[ta]=பொது விசைப்பலகை குறுக்குவழிகள்
Name[te]=గ్లౌబల్ కీబోర్‍డ్ లఘువులు
Name[tg]=Глобальные комбинации клавиш
Name[th]=ปุ่มพิมพ์ลัดใช้งานส่วนรวม
Name[tr]=Genel Klavye Kısayolları
Name[ug]=ئومۇمىيەت ھەرپتاختا تېزلەتمىسى
Name[uk]=Загальні клавіатурні скорочення
Name[vi]=Phím tắt toàn hệ thống
Name[wa]=Rascourtis del taprece po ttavå
Name[x-test]=xxGlobal Keyboard Shortcutsxx
Name[zh_CN]=全局键盘快捷键
Name[zh_TW]=全域鍵盤捷徑

Comment=Configuration of keybindings
Comment[af]=Opstelling van sleutel bindinge
Comment[ar]=إعداد ارتباطات المفاتيح
Comment[ast]=Configuración de les asociaciones de les tecles
Comment[be]=Настаўленні клавішных скаротаў
Comment[be@latin]=Nałady dla poviaziaŭ klavišaŭ z roznymi aperacyjami
Comment[bg]=Настройки на бързи клавиши
Comment[bn]=কী-বাইন্ডিং কনফিগারেশন 
Comment[bn_IN]=কি-বাইন্ডিং কনফিগারেশন
Comment[br]=Kefluniañ ereoù stokell
Comment[bs]=Postava prečica sa tastature
Comment[ca]=Configuració dels lligams de tecles
Comment[ca@valencia]=Configuració dels lligams de tecles
Comment[cs]=Nastavení klávesových zkratek
Comment[csb]=Nastôw klawiszowëch skrodzënów
Comment[cy]=Furfweddiad o rwymiadau  bysell
Comment[da]=Indstilling af tastebindinger
Comment[de]=Einrichtung von Tastenzuordnungen
Comment[el]=Διαμόρφωση συνδυασμών πλήκτρων
Comment[en_GB]=Configuration of keybindings
Comment[eo]=Agordo de klavkombinoj
Comment[es]=Configuración de las asociaciones de las teclas
Comment[et]=Kiirklahvide seadistamine
Comment[eu]=Laster-teklen konfigurazioa
Comment[fa]=پیکربندی مقیدسازیهای کلید
Comment[fi]=Näppäinsidosten asetukset
Comment[fr]=Configuration des combinaisons de touches
Comment[fy]=Ynstellings foar fluchtoetsen
Comment[ga]=Cumraíocht ceangal eochracha
Comment[gl]=Configuración dos atallos de teclado
Comment[gu]=કીજોડાણોનું રૂપરેખાંકન
Comment[he]=הגדרות מיפוי מקשים
Comment[hi]=की-बाइंडिंग का कॉन्फ़िगरेशन
Comment[hne]=की-बाइंडिंग के कान्फिगरेसन
Comment[hr]=Konfiguriranje prečaca tipkovnice
Comment[hsb]=Připrawjenje přirjadowanjow tastow
Comment[hu]=A billentyűparancsok beállításai
Comment[ia]=Configuration de keybindings (ligamines de claves)
Comment[id]=Konfigurasi pengikat tombol
Comment[is]=Stillingar altækra flýtihnappa
Comment[it]=Configurazione delle associazioni di tasti
Comment[ja]=キーバインディングの設定
Comment[ka]=კლავიშთა წყვილების კონფიგურაცია
Comment[kk]=Перне тіркесімдерді баптау
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ការ​ចង​គ្រាប់ចុច
Comment[kn]=ಕೀಲಿ ನಿಬಂಧಗಳ (ಬೈಂಡಿಂಗ್ಸ್) ಸಂರಚನೆ
Comment[ko]=키 바인딩 설정
Comment[ku]=Veavakirina bicîkirina bişkojkan
Comment[lt]=Klavišų siečių derinimas
Comment[lv]=Taustiņsasaistes konfigurēšana
Comment[mai]=की-बाइंडिंग क' कान्फिगरेशन
Comment[mk]=Конфигурација на врски меѓу копчиња и акции
Comment[ml]=കീബൈന്‍ഡിങ്സിനുള്ള ക്രമീകരണം
Comment[mr]=कीबाइंडिंगची संयोजना
Comment[ms]=Konfigurasi untuk pengikatan kekunci
Comment[nb]=Oppsett av hurtigtaster
Comment[nds]=Instellen vun Tastkombinatschonen
Comment[ne]=कुञ्जी बाइन्डिङहरूको कन्फिगरेसन
Comment[nl]=Instellingen voor sneltoetsen
Comment[nn]=Oppsett av snøggtastar
Comment[or]=କିବନ୍ଧନଗୁଡ଼ିକର ସଂରଚନା
Comment[pa]=ਕੀ-ਬਾਇਡਿੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja powiązań klawiszowych
Comment[pt]=Configuração das teclas
Comment[pt_BR]=Configuração dos atalhos de teclado
Comment[ro]=Configurează asocierile de taste
Comment[ru]=Настройка глобальных комбинаций клавиш
Comment[se]=Jođánisboaluid heiveheapmi
Comment[si]=යතුරු බැඳුම් වල සැකසුම
Comment[sk]=Nastavenie globálnych klávesových skratiek
Comment[sl]=Nastavitve tipkovnih bližnjic
Comment[sr]=Постава пречица са тастатуре
Comment[sr@ijekavian]=Постава пречица са тастатуре
Comment[sr@ijekavianlatin]=Postava prečica sa tastature
Comment[sr@latin]=Postava prečica sa tastature
Comment[sv]=Anpassa kortkommandon
Comment[ta]=விசைசேர்வுகளுக்கான வடிவமைப்பு
Comment[te]=కీ భందనముల యొక్క ఆకృతీకరణ
Comment[tg]=Танзимоти тугмаҳои якҷояшуда
Comment[th]=ปรับแต่งปุ่มพิมพ์ลัดต่าง ๆ
Comment[tr]=Tuş bağıntılarının yapılandırılması
Comment[ug]=كۇنۇپكا باغلاش سەپلىمە
Comment[uk]=Налаштування прив'язок клавіш
Comment[uz]=Tugmalar birikmasini moslash
Comment[uz@cyrillic]=Тугмалар бирикмасини мослаш
Comment[vi]=Cấu hình các tổ hợp phím
Comment[wa]=Apontiaedje des rascourtis di tapes
Comment[xh]=Uqwalaselo lwezibopheleo zesitshixo
Comment[x-test]=xxConfiguration of keybindingsxx
Comment[zh_CN]=键绑定配置
Comment[zh_TW]=按鍵關聯設定

X-KDE-Keywords=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts
X-KDE-Keywords[bs]=Tipke, Globalni vezovi tipki, Šema tipki, Veze tipki, Prečice, Prečice za aplikacije, globalne Prečice
X-KDE-Keywords[ca]=Tecles,Assignació de tecles globals,Esquema de tecles,Assignació de tecles,dreceres,dreceres d'aplicació,dreceres globals
X-KDE-Keywords[ca@valencia]=Tecles,Assignació de tecles globals,Esquema de tecles,Assignació de tecles,dreceres,dreceres d'aplicació,dreceres globals
X-KDE-Keywords[da]=Taster,globale tastebindinger,tasteskema,tastebindinger,genveje,programgenveje,globale genveje
X-KDE-Keywords[de]=Tasten,Tastenzuordnung,Tastenkürzel,Kurzbefehle,Tastenschema,Tastaturlayout
X-KDE-Keywords[el]=Πλήκτρα,δεσμεύσεις καθολικών πλήκτρων, σχήμα πλήκτρων, δεσμεύσεις πλήκτρων,συντομεύσεις,συντομεύσεις εφαρμογών,καθολικές συντομεύσεις
X-KDE-Keywords[es]=Teclas,Asociaciones globales de teclas,Esquema de teclas,Asociaciones de teclas,accesos rápidos,accesos rápidos de aplicaciones,accesos rápidos globales
X-KDE-Keywords[et]=klahvid,globaalsed kiirklahvid,klaviatuuriskeem,klahviseosed,kiirklahvid,rakenduse kiirklahvid,globaalsed kiirklahvid
X-KDE-Keywords[eu]=tekla,laster-tekla orokor,tekla-eskema,laster-tekla,lasterbide,aplikazioen laster-teklak
X-KDE-Keywords[fi]=näppäimet,globaalit näppäinsidokset,yleiset näppäinsidokset,työpöydänlaajuiset näppäinsidokset,globaalit pikanäppäimet,työpöydänlaajuiset pikanäppäimet,globaalit näppäinyhdistelmät,työpöydänlaajuiset näppäinyhdistelmät,näppäimistön yleispikavalinnat,näppäimistön globaalit pikavalinnat,näppäinsidokset,pikanäppäimet,näppäimistön pikavalinnat, näppäinyhdistelmät,näppäinoikotiet,sovellusten pikanäppäimet,sovellusten näppäinyhdistelmät,sovellusten näppäinoikotiet
X-KDE-Keywords[fr]=Touches, Association globale des touches, Schéma des touches, Association de touches, Raccourci des applications, Raccourcis globaux
X-KDE-Keywords[ga]=Eochracha,Ceangail chomhchoiteanna eochracha,Scéim eochracha,Ceangail eochracha,aicearraí,aicearraí feidhmchláir,aicearraí comhchoiteanna
X-KDE-Keywords[gl]=tecla, atallo, asociación, esquema de teclas, atallo de teclado, asociación de teclas, atallo a programa, atallos globais
X-KDE-Keywords[hu]=Billentyűk,Globális gyorsbillentyűk,Billentyűséma,Gyorsbillentyűk,alkalmazás gyorsbillentyűk,globális gyorsbillentyűk
X-KDE-Keywords[ia]=Claves,ligamines de clave global,schema de clave,ligamines de clave,vias breve,vias breve de application,vias breve global
X-KDE-Keywords[it]=tasti,scorciatoie globali di tastiera,schema di tasti,scorciatoie,scorciatoie delle applicazioni,scorciatoie globali
X-KDE-Keywords[kk]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts
X-KDE-Keywords[km]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts
X-KDE-Keywords[ko]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,키,전역 키 바인딩,키 바인딩,단축키,프로그램 단축키
X-KDE-Keywords[mr]=कीज, ग्लोबल की बाईंडिंगज,  की स्कीम, की बाईंडिंगज, शॉर्टकटस,  अप्लिकेशन शॉर्टकटस,  ग्लोबल शॉर्टकटस
X-KDE-Keywords[nb]=Taster,Globale tastebindingeer,Tastaturutforming,Tastebindinger,snarveier,programsnarveier,globale snarveier
X-KDE-Keywords[nds]=Tasten,Globaal Tasttowiesen,Tasttowiesen,Tastkombinatschonen,Programm-Tastkombinatschonen,Globaal Tastkombinatschonen
X-KDE-Keywords[nl]=toetsen,globale toetsbindingen,toetsenschema,toetsbindingen,sneltoetsen,sneltoetsen van toepassing,globale sneltoetsen
X-KDE-Keywords[pl]=Klawisze,Globalne powiązania klawiszy,Motyw klawiszy,Powiązania klawiszy,skróty,skróty programów,globalne skróty
X-KDE-Keywords[pt]=Teclas,combinações de teclas,global,esquema de teclas,atalhos de teclado,atalhos,atalhos das aplicações
X-KDE-Keywords[pt_BR]=Teclas,combinações de teclas global,esquema de teclas,atalhos de teclado,atalhos,atalhos dos aplicativos, atalhos globais
X-KDE-Keywords[ru]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts,клавиши,глобальные привязки клавиш,схема,привязки клавиш,комбинации клавиш,комбинации клавиш в приложениях,глобальные привязки клавиш
X-KDE-Keywords[sk]=Klávesy,Globálne klávesové skratky,Klávesová schéma,Klávesové skratky,skratky,skratky aplikácie,globálne skratky
X-KDE-Keywords[sl]=tipke,splošne tipkovne bližnjice,tipkovna shema,shema tipk,tipkovne bližnjice,vezave tipk,bližnjice,programske bližnjice,splošne bližnjice
X-KDE-Keywords[sr]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts,тастери,глобалне свезе тастера,шема тастера,свезе тастера,пречице,пречице програма,глобалне пречице
X-KDE-Keywords[sr@ijekavian]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts,тастери,глобалне свезе тастера,шема тастера,свезе тастера,пречице,пречице програма,глобалне пречице
X-KDE-Keywords[sr@ijekavianlatin]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts,tasteri,globalne sveze tastera,šema tastera,sveze tastera,prečice,prečice programa,globalne prečice
X-KDE-Keywords[sr@latin]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts,tasteri,globalne sveze tastera,šema tastera,sveze tastera,prečice,prečice programa,globalne prečice
X-KDE-Keywords[sv]=Tangenter,Globala tangentbindingar,Tangentschema,Tangentbindingar,genvägar,programgenvägar,globala genvägar
X-KDE-Keywords[tr]=Tuşlar,Genel kısayollar,Klavye şeması,Klavye Kısayolları,kısayollar,uygulama kısayolları,genel kısayollar, kısayol tuşları
X-KDE-Keywords[uk]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts,клавіатура,скорочення,клавіатурні скорочення,схема,загальні клавіатурні скорочення,клавіатурні скорочення програми,загальні скорочення
X-KDE-Keywords[vi]=Phím,tổ hợp phím toàn cục,phối hợp phím,tổ hợp phím,gõ tắt,gõ tắt cho ứng dụng
X-KDE-Keywords[x-test]=xxKeys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcutsxx
X-KDE-Keywords[zh_CN]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts,按键,全局键绑定,按键方案,按键绑定,快捷键,应用程序,全局快捷键
X-KDE-Keywords[zh_TW]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts

Categories=Qt;KDE;X-KDE-settings-accessibility;
