[Desktop Entry]
Exec=kcmshell5 keys
Icon=preferences-desktop-keyboard-shortcut
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/keys/index.html

X-KDE-Library=kcm_keys
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=shortcuts-and-gestures
X-KDE-Weight=160

Name=Global Keyboard Shortcuts

Comment=Configuration of keybindings

X-KDE-Keywords=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,global shortcuts

Categories=Qt;KDE;X-KDE-settings-accessibility;
