[Desktop Entry]
Name=default
Comment=Theme that matches current system colors
X-KDE-PluginInfo-Author=Wang Hoi
X-KDE-PluginInfo-Email=zealot.hoi@gmail.com
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KIMPanel-Theme-Color=colors

X-KIMPanel-Theme-StatusbarImage=plasma:/widgets/panel-background
X-KIMPanel-Theme-StatusbarLayout=frame.js

X-KIMPanel-Theme-LookupTableImage=plasma:/dialogs/background
X-KIMPanel-Theme-LookupTableLayout=frame.js


