[Desktop Entry]
Name=KNetAttach
Name[nl]=KNetAttach
Name[uk]=KNetAttach
Name[x-test]=xxKNetAttachxx
GenericName=Network Folder Wizard
GenericName[nl]=Netwerkmap-assistent
GenericName[uk]=Майстер мережевих тек
GenericName[x-test]=xxNetwork Folder Wizardxx
Exec=knetattach
InitialPreference=6
Icon=knetattach
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Network;RemoteAccess;
X-DocPath=knetattach/index.html
OnlyShowIn=KDE;
