[Desktop Entry]
Name=KNetAttach
GenericName=Network Folder Wizard
Exec=knetattach
InitialPreference=6
Icon=knetattach
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Network;RemoteAccess;
X-DocPath=knetattach/index.html
OnlyShowIn=KDE;
