[Desktop Entry]
Name=KNetAttach
Name[fi]=KNetAttach
Name[ia]=KNetAttach
Name[nl]=KNetAttach
Name[pt]=KNetAttach
Name[sv]=Knetattach
Name[uk]=KNetAttach
Name[x-test]=xxKNetAttachxx
GenericName=Network Folder Wizard
GenericName[fi]=Opastettu verkkokansion lisäys
GenericName[ia]=Assistente de dossier de rete
GenericName[nl]=Netwerkmap-assistent
GenericName[pt]=Assistente de Pastas de Rede
GenericName[sv]=Nätverkskatalogguide
GenericName[uk]=Майстер мережевих тек
GenericName[x-test]=xxNetwork Folder Wizardxx
Exec=knetattach
InitialPreference=6
Icon=knetattach
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Network;RemoteAccess;
X-DocPath=knetattach/index.html
OnlyShowIn=KDE;
