[Desktop Entry]
Exec=kcmshell4 solid-actions
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/solid-actions/index.html

X-KDE-Library=kcm_solid_actions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware

Name=Device Actions

Comment=Manage actions available to the user when connecting new devices

X-KDE-Keywords=Solid Devices Actions
