[Desktop Entry]
Actions=open;
Type=Service
X-KDE-Action-Custom=true
X-KDE-Solid-Predicate=[ IS StorageVolume AND StorageVolume.ignored == false ]

[Desktop Action open]
Icon=unknown
Exec=
