[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidDevice
Name=Solid Device Type
Name[nl]=Solid-apparaattype
Name[uk]=Тип пристрою Solid
Name[x-test]=xxSolid Device Typexx
