[Desktop Entry]
Exec=kcmshell5 solid-actions
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/solid-actions/index.html

X-KDE-Library=kcm_solid_actions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware

Name=Device Actions
Name[nl]=Apparaatacties
Name[uk]=Дії з пристроями
Name[x-test]=xxDevice Actionsxx

Comment=Manage actions available to the user when connecting new devices
Comment[nl]=Beheren van acties die beschikbaar zijn voor de gebruiker bij het aankoppelen van nieuwe apparaten
Comment[uk]=Керування діями, доступними користувачеві після з’єднання пристроїв з комп’ютером
Comment[x-test]=xxManage actions available to the user when connecting new devicesxx

X-KDE-Keywords=Solid Devices Actions
X-KDE-Keywords[nl]=Solid-apparaatacties
X-KDE-Keywords[uk]=solid,пристрій,пристрої,дія,дії
X-KDE-Keywords[x-test]=xxSolid Devices Actionsxx
