[Desktop Entry]
Exec=kcmshell5 formats
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/formats/index.html

X-KDE-Library=kcm_formats
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=locale
X-KDE-Weight=60

Name=Formats
Comment=Numeric, currency and time formatting settings for your particular region

X-KDE-Keywords=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial

Categories=Qt;KDE;X-KDE-settings-accessibility;
