[Desktop Entry]
Icon=system-run
Type=Application
Exec=systemsettings kcm_solid_actions
NoDisplay=true

Name=Device Actions
Name[ar]=إجراءات الجهاز
Name[ast]=Aiciones con preseos
Name[az]=Cihaz üçün fəaliyyətlər
Name[bg]=Действия за устройства
Name[bn]=ডিভাইস অ্যাকশন
Name[bs]=Radnje uređaja
Name[ca]=Accions de dispositiu
Name[ca@valencia]=Accions de dispositiu
Name[cs]=Činnosti zařízení
Name[csb]=Dzejanié ùrządzenia
Name[da]=Enhedshandlinger
Name[de]=Geräte-Aktionen
Name[el]=Ενέργειες συσκευής
Name[en_GB]=Device Actions
Name[eo]=Aparataj agoj
Name[es]=Acciones del dispositivo
Name[et]=Seadme toimingud
Name[eu]=Gailuaren ekintzak
Name[fi]=Laitetoiminnot
Name[fr]=Actions du périphérique
Name[fy]=Apparaat aksjes
Name[ga]=Gníomhartha Gléis
Name[gl]=Accións do dispositivo
Name[gu]=ઉપકરણ ક્રિયાઓ
Name[he]=פעולות התקן
Name[hi]=औजार क्रियाएँ
Name[hr]=Akcije uređaja
Name[hu]=Eszközműveletek
Name[ia]=Actiones de dispositivos
Name[id]=Aksi Perangkat
Name[is]=Aðgerðir tækis
Name[it]=Azioni del dispositivo
Name[ja]=デバイスに対するアクション
Name[ka]=მოწყობილობის ქმედებები
Name[kk]=Құрылғы әрекеттері
Name[km]=សកម្មភាព​ឧបករណ៍
Name[kn]=ಸಾಧನದ ಕ್ರಿಯೆಗಳು
Name[ko]=장치 동작
Name[lt]=Įrenginių veiksmai
Name[lv]=Ierīces darbības
Name[mk]=Дејства за уреди
Name[ml]=ഉപകരണത്തിനുള്ള പ്രവൃത്തികള്‍
Name[mr]=साधन क्रिया
Name[nb]=Enhetshandlinger
Name[nds]=Reedschap-Akschonen
Name[nl]=Apparaatacties
Name[nn]=Einingshandlingar
Name[pa]=ਡਿਵਾਈਸ ਕਾਰਵਾਈਆਂ
Name[pl]=Działania na urządzeniach
Name[pt]=Acções do Dispositivo
Name[pt_BR]=Ações dos dispositivos
Name[ro]=Acțiuni dispozitiv
Name[ru]=Действия для устройств
Name[si]=මෙවලම් ක්‍රියා
Name[sk]=Akcie zariadenia
Name[sl]=Dejanja za napravo
Name[sr]=Радње уређаја
Name[sr@ijekavian]=Радње уређаја
Name[sr@ijekavianlatin]=Radnje uređaja
Name[sr@latin]=Radnje uređaja
Name[sv]=Enhetsåtgärder
Name[ta]=சாதன செயல்கள்
Name[tg]=Амалиётҳои дастгоҳ
Name[th]=การกระทำต่าง ๆ กับอุปกรณ์
Name[tr]=Aygıt Eylemleri
Name[ug]=ئۈسكۈنە مەشغۇلاتى
Name[uk]=Дії з пристроями
Name[vi]=Hành động với thiết bị
Name[wa]=Accions di l' éndjin
Name[x-test]=xxDevice Actionsxx
Name[zh_CN]=设备操作
Name[zh_TW]=裝置動作
