[Desktop Entry]
Comment=Test Look and Feel package
Comment[ca]=Prova el paquet d'aspecte i comportament
Comment[de]=Testpaket für das Erscheinungsbild
Comment[el]=Δοκιμή του πακέτου εμφάνισης και αίσθησης
Comment[es]=Probar paquete de aspecto visual
Comment[fi]=Ulkoasun ja tuntuman testipaketti
Comment[hu]=A megjelenés csomag tesztelése
Comment[nb]=Test pakka Utseende og oppførsel
Comment[nl]=Pakket voor uiterlijk en gedrag testen
Comment[pl]=Wypróbuj pakiet wyglądu i odczuć
Comment[pt_BR]=Pacote de teste de Aparência
Comment[sk]=Balík pre vzhľad a nastavenie
Comment[sl]=Preizkusni paket za Videz in občutek
Comment[sr]=Пробни пакет изгледа и осећаја
Comment[sv]=Prova paket för utseende och känsla
Comment[uk]=Перевірка пакунка вигляду і поведінки
Comment[x-test]=xxTest Look and Feel packagexx
Encoding=UTF-8
Name=Test
Name[ca]=Prova
Name[de]=Test
Name[el]=Δοκιμή
Name[es]=Probar
Name[fi]=Testi
Name[hu]=Teszt
Name[nb]=Test
Name[nl]=Test
Name[nn]=Test
Name[pl]=Próba
Name[pt_BR]=Teste
Name[se]=Geahččaleapmi
Name[sk]=Test
Name[sl]=Preizkus
Name[sr]=Проба
Name[sv]=Prova
Name[uk]=Тест
Name[x-test]=xxTestxx

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.test
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults
