[Desktop Entry]
Comment=Test global theme package
Comment[ast]=Paquete d'aspeutu y sentir de prueba
Comment[bs]=Test paketa Pogledaj i Osjeti
Comment[ca]=Prova el paquet d'aspecte i comportament
Comment[ca@valencia]=Prova el paquet d'aspecte i comportament
Comment[cs]=Otestovat balíček vzhledu a chování
Comment[da]=Test pakke med udseende og fremtoning
Comment[de]=Testpaket für das Erscheinungsbild
Comment[el]=Δοκιμή του πακέτου εμφάνισης και αίσθησης
Comment[en_GB]=Test Look and Feel package
Comment[es]=Probar paquete de aspecto visual
Comment[et]=Välimuse testimine
Comment[fi]=Ulkoasun ja tuntuman testipaketti
Comment[fr]=Tester le paquet d'apparence
Comment[gl]=Paquete de aparencia e comportamento de probas
Comment[hu]=A megjelenés csomag tesztelése
Comment[id]=Paket Tes Lihat dan Rasakan
Comment[it]=Prova il pacchetto dell'aspetto
Comment[ja]=外観パッケージをテスト
Comment[ko]=모습과 느낌 테스트 패키지
Comment[nb]=Test pakka Utseende og oppførsel
Comment[nds]=Test-Utsehn- un Bedenen-Paket
Comment[nl]=Pakket voor uiterlijk en gedrag testen
Comment[nn]=Testpakke for utsjånad og åtferd
Comment[pl]=Wypróbuj pakiet wrażeń wzrokowych i dotykowych
Comment[pt]=Pacote de teste da Aparência e Comportamento
Comment[pt_BR]=Pacote de teste de Aparência
Comment[ru]=Тестовое оформление рабочей среды
Comment[sk]=Balík pre vzhľad a nastavenie
Comment[sl]=Preizkusni paket za Videz in občutek
Comment[sr]=Пробни пакет изгледа и осећаја
Comment[sr@ijekavian]=Пробни пакет изгледа и осећаја
Comment[sr@ijekavianlatin]=Probni paket izgleda i osećaja
Comment[sr@latin]=Probni paket izgleda i osećaja
Comment[sv]=Prova paket för utseende och känsla
Comment[tr]=Görünüm ve Duyum paketini dene
Comment[uk]=Перевірка пакунка вигляду і поведінки
Comment[x-test]=xxTest Look and Feel packagexx
Comment[zh_CN]=测试观感包
Comment[zh_TW]=測試外觀與感覺套件
Name=Test
Name[bs]=Test
Name[ca]=Prova
Name[ca@valencia]=Prova
Name[cs]=Test
Name[da]=Test
Name[de]=Test
Name[el]=Δοκιμή
Name[en_GB]=Test
Name[es]=Probar
Name[et]=Test
Name[fi]=Testi
Name[fr]=Tester
Name[gl]=Proba
Name[hu]=Teszt
Name[id]=Tes
Name[it]=Prova
Name[ja]=テスト
Name[ko]=시험
Name[nb]=Test
Name[nds]=Test
Name[nl]=Test
Name[nn]=Test
Name[pa]=ਟੈਸਟ
Name[pl]=Próba
Name[pt]=Teste
Name[pt_BR]=Teste
Name[ru]=Тест
Name[se]=Geahččaleapmi
Name[sk]=Test
Name[sl]=Preizkus
Name[sr]=Проба
Name[sr@ijekavian]=Проба
Name[sr@ijekavianlatin]=Proba
Name[sr@latin]=Proba
Name[sv]=Prova
Name[tr]=Test
Name[uk]=Тест
Name[x-test]=xxTestxx
Name[zh_CN]=测试
Name[zh_TW]=測試

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.test
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-Plasma-MainScript=defaults
