[Desktop Entry]
Comment=Test Look and Feel package
Comment[bs]=Test paketa Pogledaj i Osjeti
Comment[ca]=Prova el paquet d'aspecte i comportament
Comment[cs]=Otestovat balíček vzhledu a chování
Comment[da]=Test pakke med udseende og fremtoning
Comment[de]=Testpaket für das Erscheinungsbild
Comment[el]=Δοκιμή του πακέτου εμφάνισης και αίσθησης
Comment[en_GB]=Test Look and Feel package
Comment[es]=Probar paquete de aspecto visual
Comment[fi]=Ulkoasun ja tuntuman testipaketti
Comment[hu]=A megjelenés csomag tesztelése
Comment[it]=Prova il pacchetto dell'aspetto
Comment[ko]=모습과 느낌 테스트 패키지
Comment[lt]=Bandyti išvaizdos ir pojūčio paketą
Comment[nb]=Test pakka Utseende og oppførsel
Comment[nl]=Pakket voor uiterlijk en gedrag testen
Comment[pl]=Wypróbuj pakiet wrażeń wzrokowych i dotykowych
Comment[pt]=Pacote de Testes da Aparência e Comportamento
Comment[pt_BR]=Pacote de teste de Aparência
Comment[sk]=Balík pre vzhľad a nastavenie
Comment[sl]=Preizkusni paket za Videz in občutek
Comment[sr]=Пробни пакет изгледа и осећаја
Comment[sr@ijekavian]=Пробни пакет изгледа и осећаја
Comment[sr@ijekavianlatin]=Probni paket izgleda i osećaja
Comment[sr@latin]=Probni paket izgleda i osećaja
Comment[sv]=Prova paket för utseende och känsla
Comment[uk]=Перевірка пакунка вигляду і поведінки
Comment[x-test]=xxTest Look and Feel packagexx
Comment[zh_CN]=测试观感包
Comment[zh_TW]=測試外觀與感覺的套件
Encoding=UTF-8
Name=Test
Name[bs]=Test
Name[ca]=Prova
Name[cs]=Otestovat
Name[da]=Test
Name[de]=Test
Name[el]=Δοκιμή
Name[en_GB]=Test
Name[es]=Probar
Name[fi]=Testi
Name[hu]=Teszt
Name[it]=Prova
Name[ko]=시험
Name[lt]=Testas
Name[nb]=Test
Name[nl]=Test
Name[nn]=Test
Name[pl]=Próba
Name[pt]=Teste
Name[pt_BR]=Teste
Name[se]=Geahččaleapmi
Name[sk]=Test
Name[sl]=Preizkus
Name[sr]=Проба
Name[sr@ijekavian]=Проба
Name[sr@ijekavianlatin]=Proba
Name[sr@latin]=Proba
Name[sv]=Prova
Name[uk]=Тест
Name[x-test]=xxTestxx
Name[zh_CN]=测试
Name[zh_TW]=測試

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.test
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults
