[Desktop Entry]
Name=Application Menu
Name[ar]=قائمة التّطبيقات
Name[ast]=Menú d'aplicaciones
Name[az]=Tətbiq menyusu
Name[bs]=Aplikacijski meni
Name[ca]=Menú d'aplicacions
Name[ca@valencia]=Menú d'aplicacions
Name[cs]=Nabídka aplikací
Name[da]=Programmenu
Name[de]=Anwendungsmenü
Name[el]=Μενού εφαρμογών
Name[en_GB]=Application Menu
Name[eo]=Aplikaĵomenuo
Name[es]=Menú de aplicaciones
Name[et]=Rakenduste menüü
Name[eu]=Aplikazio-menua
Name[fi]=Sovelluskäynnistin
Name[fr]=Menu des applications
Name[gl]=Menú de aplicacións
Name[he]=תפריט יישומים
Name[hu]=Alkalmazásmenü
Name[ia]=Menu de application
Name[id]=Menu Aplikasi
Name[is]=Forritavalmynd
Name[it]=Menu dell'applicazione
Name[ja]=アプリケーションメニュー
Name[ko]=프로그램 메뉴
Name[lt]=Programų meniu
Name[ml]=പ്രയോഗസൂചിക
Name[mr]=अनुप्रयोग मेन्यु
Name[nb]=Programmeny
Name[nds]=Programmmenü
Name[nl]=Menu Toepassingen
Name[nn]=Programmeny
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਮੇਨੂ
Name[pl]=Menu rozsuwane programów
Name[pt]=Menu da Aplicação
Name[pt_BR]=Menu de aplicativos
Name[ro]=Meniu de aplicații
Name[ru]=Классическое меню приложений
Name[sk]=Ponuka aplikácií
Name[sl]=Meni programa
Name[sr]=мени програма
Name[sr@ijekavian]=мени програма
Name[sr@ijekavianlatin]=meni programa
Name[sr@latin]=meni programa
Name[sv]=Programmeny
Name[ta]=செயலி பட்டி
Name[tg]=Феҳристи барномаҳо
Name[tr]=Uygulama Menüsü
Name[uk]=Меню програм
Name[vi]=Trình đơn ứng dụng
Name[x-test]=xxApplication Menuxx
Name[zh_CN]=应用程序菜单
Name[zh_TW]=應用程式選單
Comment=A launcher based on cascading popup menus
Comment[ar]=مطلق مبنيّ على قوائم منبثقة متتالية
Comment[ast]=Un llanzador basáu nos menús emerxentes en cascada
Comment[az]=Pilləli açılan menyularla başladıcı
Comment[bs]=Pokretač baziran na kaskadnim iskakajucim menijima
Comment[ca]=Un llançador basat en menús emergents en cascada
Comment[ca@valencia]=Un llançador basat en menús emergents en cascada
Comment[cs]=Spouštěč založený na vyskakovacích nabídkách v kaskádě
Comment[da]=En starter baseret på pop op-menuer i kaskader
Comment[de]=Ein Anwendungsstarter auf der Grundlage von kaskadierenden Aufklappmenüs
Comment[el]=Εκτελεστής βασισμένος σε επικαλυπτόμενα αναδυόμενα μενού
Comment[en_GB]=A launcher based on cascading popup menus
Comment[es]=Un lanzador basado en menús emergentes en cascada
Comment[et]=Kaskaadis hüpikmenüüsid kasutav käivitaja
Comment[eu]=Menu abiaratu agerkariak dituen abiarazle bat
Comment[fi]=Käynnistin, joka perustuu hierarkkisiin ponnahdusvalikoihin
Comment[fr]=Un lanceur utilisant des menus contextuels en cascade
Comment[gl]=Un iniciador baseado en menús emerxentes en fervenza
Comment[he]=משגר יישומים מבוסס על תפריטים מדורגים
Comment[hu]=Felugró menükre épülő alkalmazásindító
Comment[ia]=Un lanceator basate sur menus de popup  a cascada
Comment[id]=Sebuah peluncur berbasiskan pada menu-menu sembul berkaskade
Comment[it]=Un lanciatore basato su menu a comparsa in cascata
Comment[ja]=階層ごとのポップアップメニューに基づいたランチャー
Comment[ko]=연계 팝업 메뉴에 기반한 실행기
Comment[lt]=Paleidyklė, pagrįsta pakopiniais iškylančiaisias meniu
Comment[nb]=En starter basert på oppsprettmenyer i kaskade
Comment[nds]=En Oproper, de op en Boom ut Opdukmenüs opbuut
Comment[nl]=Een starter gebaseerd op achter elkaar liggende popup-menu's
Comment[nn]=Startar basert på menyhierarki
Comment[pl]=Wielopoziomowe menu rozsuwane
Comment[pt]=Um módulo de lançamento com base em menus em cascata
Comment[pt_BR]=Um lançador com base em menus em cascata
Comment[ro]=Lansator bazat pe meniuri contextuale în cascadă
Comment[ru]=Меню запуска приложений на основе выпадающих меню
Comment[sk]=Spúšťač založený na kaskádových vyskakovacích ponukách
Comment[sl]=Zaganjalnik, ki temelji na kaskadnih pojavnih menijih
Comment[sr]=Покретач на основу постепених искачућих менија
Comment[sr@ijekavian]=Покретач на основу постепених искачућих менија
Comment[sr@ijekavianlatin]=Pokretač na osnovu postepenih iskačućih menija
Comment[sr@latin]=Pokretač na osnovu postepenih iskačućih menija
Comment[sv]=Ett startprogram baserat på kaskadmenyer
Comment[ta]=ஒன்றுக்குள் மற்றொன்று உட்பொதிந்த தெரித்தெழும் பட்டிகளை பயன்படுத்தும் ஏவி
Comment[tr]=Basamaklı açılan menü tabanlı bir başlatıcı
Comment[uk]=Засіб запуску, заснований на вкладених контекстних меню
Comment[vi]=Một trình khởi chạy dựa trên các trình đơn bật lên xếp tầng
Comment[x-test]=xxA launcher based on cascading popup menusxx
Comment[zh_CN]=基于层叠弹出窗口的启动器
Comment[zh_TW]=以啟動器為基底的彈出式串連選單

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.kicker
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
