[Desktop Entry]
Name=Application Menu
Name[ca]=Menú d'aplicacions
Name[cs]=Nabídka aplikací
Name[de]=Anwendungsmenü
Name[es]=Menú de aplicaciones
Name[fi]=Sovelluskäynnistin
Name[gl]=Menú de programas
Name[ia]=Menu de application
Name[ko]=프로그램 메뉴
Name[nb]=Programmeny
Name[nds]=Programmmenü
Name[nl]=Menu Toepassingen
Name[pl]=Menu programów
Name[pt]=Menu da Aplicação
Name[pt_BR]=Menu de aplicativos
Name[sk]=Aplikačné menu
Name[sl]=Meni programa
Name[sr]=мени програма
Name[sr@ijekavian]=мени програма
Name[sr@ijekavianlatin]=meni programa
Name[sr@latin]=meni programa
Name[sv]=Programmeny
Name[uk]=Меню програм
Name[x-test]=xxApplication Menuxx
Comment=A launcher based on cascading popup menus
Comment[ca]=Un llançador basat en menús emergents en cascada
Comment[de]=Ein Anwendungsstarter auf der Grundlage von  kaskadierenden AUfklappmenüs
Comment[es]=Un lanzador basado en menús emergentes en cascada
Comment[fi]=Käynnistin, joka perustuu hierarkkisiin ponnahdusvalikoihin
Comment[gl]=Un iniciador baseado en menús emerxentes en fervenza
Comment[nds]=En Oproper, de op en Boom ut Opdukmenüs opbuut
Comment[nl]=Een starter gebaseerd op achter elkaar liggende popup-menu's
Comment[pl]=Aktywator oparty na kaskadowych menu podręcznych
Comment[pt]=Um módulo de lançamento com base em menus em cascata
Comment[pt_BR]=Um lançador com base em menus em cascata
Comment[sk]=Spúšťač založený na kaskádových ponukách
Comment[sl]=Zaganjalnik, ki temelji na kaskadnih pojavnih menijih
Comment[sr]=Покретач на основу постепених искачућих менија
Comment[sr@ijekavian]=Покретач на основу постепених искачућих менија
Comment[sr@ijekavianlatin]=Pokretač na osnovu postepenih iskačućih menija
Comment[sr@latin]=Pokretač na osnovu postepenih iskačućih menija
Comment[sv]=Ett startprogram baserat på kaskadmenyer
Comment[uk]=Засіб запуску, заснований на вкладених контекстних меню
Comment[x-test]=xxA launcher based on cascading popup menusxx

Type=Service
Icon=kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.kicker
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
