[Desktop Entry]
Name=Application Menu
Name[ca]=Menú d'aplicacions
Name[cs]=Nabídka aplikací
Name[fi]=Sovelluskäynnistin
Name[nl]=Menu Toepassingen
Name[pt]=Menu da Aplicação
Name[pt_BR]=Menu de aplicativos
Name[sk]=Aplikačné menu
Name[sv]=Programmeny
Name[uk]=Меню програм
Name[x-test]=xxApplication Menuxx
Comment=A launcher based on cascading pop menus
Comment[ca]=Un llançador basat en menús emergents en cascada
Comment[fi]=Käynnistin, joka perustuu hierarkkisiin ponnahdusvalikoihin
Comment[nl]=Een starter gebaseerd op achter elkaar liggende pop-menu's
Comment[pt]=Um módulo de lançamento com base em menus em cascata
Comment[pt_BR]=Um lançador com base em menus em cascata
Comment[sk]=Spúšťač založený na kaskádových ponukách
Comment[sv]=Ett startprogram baserat på kaskadmenyer
Comment[uk]=Засіб запуску, заснований на вкладених меню
Comment[x-test]=xxA launcher based on cascading pop menusxx

Type=Service
Icon=kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.kicker
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
