[Desktop Entry]
Name=Trashcan
Name[af]=Gemors 
Name[ar]=سلّة المهملات
Name[ast]=Trashcan
Name[be@latin]=Śmietnica
Name[bg]=Кошче
Name[bn]=আবর্জনা
Name[bs]=Korpa za smeće
Name[ca]=Paperera
Name[ca@valencia]=Paperera
Name[cs]=Koš
Name[csb]=Kòsz
Name[da]=Affald
Name[de]=Papierkorb
Name[el]=Κάδος απορριμμάτων
Name[en_GB]=Wastebin
Name[eo]=Rubujo
Name[es]=Papelera
Name[et]=Prügikast
Name[eu]=Zakarontzia
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[fy]=Jiskefet
Name[ga]=Bruscar
Name[gl]=Lixo
Name[gu]=કચરાપેટી
Name[he]=פח אשפה
Name[hi]=रद्दी की टोकरी
Name[hne]=घुरुवा
Name[hr]=Otpad
Name[hsb]=Papjernik
Name[hu]=Kuka
Name[ia]=Corbe
Name[id]=Tempat Sampah
Name[is]=Ruslafata
Name[it]=Cestino
Name[ja]=ごみ箱
Name[kk]=Өшірілгендер
Name[km]=ធុង​សំរាម
Name[kn]=ಕಸಬುಟ್ಟಿ
Name[ko]=휴지통
Name[ku]=Qutiya Sergo
Name[lt]=Šiukšlinė
Name[lv]=Miskaste
Name[mk]=Корпа
Name[ml]=ചവറ്റുകുട്ട
Name[mr]=कचरापेटी
Name[nb]=Søppelbøtte
Name[nds]=Affalltünn
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[or]=Trashcan
Name[pa]=ਰੱਦੀ-ਟੋਕਰੀ
Name[pl]=Kosz
Name[pt]=Caixote do Lixo
Name[pt_BR]=Lixeira
Name[ro]=Coș de gunoi
Name[ru]=Корзина
Name[si]=ඉවතලන බඳුන
Name[sk]=Odpadkový kôš
Name[sl]=Smetnjak
Name[sr]=корпа за смеће
Name[sr@ijekavian]=корпа за смеће
Name[sr@ijekavianlatin]=korpa za smeće
Name[sr@latin]=korpa za smeće
Name[sv]=Papperskorg
Name[ta]=அகற்றிடம்
Name[te]=చెత్తబుట్ట
Name[tg]=Ахлотдон
Name[th]=ถังขยะ
Name[tr]=Çöp Kutusu
Name[ug]=ئەخلەتخانا
Name[uk]=Смітник
Name[uz]=Chiqindilar qutisi
Name[uz@cyrillic]=Чиқиндилар қутиси
Name[wa]=Batch ås mannestés
Name[x-test]=xxTrashcanxx
Name[zh_CN]=回收站
Name[zh_TW]=資源回收筒
Type=Service
Icon=user-trash
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Heena
X-KDE-PluginInfo-Email=heena393@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.trash
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=Gpl
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Provides=org.kde.plasma.trash
X-Plasma-DropUrlPatterns=trash:/
