[Desktop Entry]
Exec=kcmshell5 kcm_keyboard
Icon=preferences-desktop-keyboard
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/keyboard/index.html
Categories=Qt;KDE;X-KDE-settings-hardware;

X-KDE-Library=kcm_keyboard
X-KDE-Init-Symbol=keyboard
X-KDE-ParentApp=kcontrol
X-KDE-OnlyShowOnQtPlatforms=xcb;

X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=50
OnlyShowIn=KDE;

Name=Keyboard
Name[nl]=Toetsenbord
Name[uk]=Клавіатура
Name[x-test]=xxKeyboardxx

Comment=Keyboard settings
Comment[nl]=Toetsenbord instellen
Comment[uk]=Параметри клавіатури
Comment[x-test]=xxKeyboard settingsxx

X-KDE-Keywords=Keyboard,Keyboard repeat,Click volume,Input Devices,repeat,volume,NumLock,NumPad,Keyboard type,Keyboard model,Keyboard layout,Key layout,Language,Alternate Keyboard,Keyboard switching,Ctrl Key,Caps Lock,Esperanto,Circumflex,Kill X Server,LED Keyboard,Compose Key
X-KDE-Keywords[nl]=Toetsenbord,Toetsenbordherhaling,Klikvolume,Invoerapparaten,herhaling,volume,NumLock,NumPad,Type toetsenbord,Model toetsenbord,Toetsenbordindeling,Toetsenindeling,Taal,Toetsenbord alterneren,Toetsenbord omschakelen,Ctrl-toets,Caps Lock,Esperanto,Circumflex,Kill X Server,LED-toetsenbord,Compositietoets
X-KDE-Keywords[uk]=клавіатура,повторення натискань,гучність клацання,пристрої введення,повторення,гучність,тип клавіатури,розкладка клавіатури,мова,інша клавіатура,інша розкладка,перемикання розкладок,клавіша Ctrl,есперанто,циркумфлекс,лампочки на клавіатурі,клавіша перемикання,Keyboard,Keyboard repeat,Click volume,Input Devices,repeat,volume,NumLock,NumPad,Keyboard type,Keyboard model,Keyboard layout,Key layout,Language,Alternate Keyboard,Keyboard switching,Ctrl Key,Caps Lock,Esperanto,Circumflex,Kill X Server,LED Keyboard,Compose Key
X-KDE-Keywords[x-test]=xxKeyboard,Keyboard repeat,Click volume,Input Devices,repeat,volume,NumLock,NumPad,Keyboard type,Keyboard model,Keyboard layout,Key layout,Language,Alternate Keyboard,Keyboard switching,Ctrl Key,Caps Lock,Esperanto,Circumflex,Kill X Server,LED Keyboard,Compose Keyxx
