[Desktop Entry]
Icon=preferences-desktop-keyboard
Type=Application
Exec=systemsettings kcm_keyboard
NoDisplay=true

Name=Keyboard
Name[af]=Sleutelbord
Name[ar]=لوحة المفاتيح
Name[ast]=Tecláu
Name[az]=Klaviatura
Name[be]=Клавіятура
Name[be@latin]=Klavijatura
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[bn_IN]=কি-বোর্ড
Name[br]=Stokellaoueg
Name[bs]=Tastatura
Name[ca]=Teclat
Name[ca@valencia]=Teclat
Name[cs]=Klávesnice
Name[csb]=Klawiatura
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[en_GB]=Keyboard
Name[eo]=Klavaro
Name[es]=Teclado
Name[et]=Klaviatuur
Name[eu]=Teklatua
Name[fa]=صفحه کلید
Name[fi]=Näppäimistö
Name[fr]=Clavier
Name[fy]=Toetseboerd
Name[ga]=Méarchlár
Name[gl]=Teclado
Name[gu]=કીબોર્ડ
Name[he]=מקלדת
Name[hi]=कुंजीपट
Name[hne]=कुंजीपट
Name[hr]=Tipkovnica
Name[hsb]=Tastatura
Name[hu]=Billentyűzet
Name[ia]=Claviero
Name[id]=Keyboard
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[ka]=კლავიატურა
Name[kk]=Перенетақта
Name[km]=ក្ដារ​ចុច
Name[kn]=ಕೀಲಿಮಣೆ
Name[ko]=키보드
Name[ku]=Klavye
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[mai]=कुँजीपटल
Name[mk]=Тастатура
Name[ml]=കീബോര്‍ഡ്
Name[mr]=कळफलक
Name[nb]=Tastatur
Name[nds]=Tastatuur
Name[ne]=कुञ्जीपाटी
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[oc]=Clavièr
Name[or]=କିବୋର୍ଡ଼
Name[pa]=ਕੀਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[se]=Boallobeavdi
Name[si]=යතුරුපුවරුව
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[sr]=Тастатура
Name[sr@ijekavian]=Тастатура
Name[sr@ijekavianlatin]=Tastatura
Name[sr@latin]=Tastatura
Name[sv]=Tangentbord
Name[ta]=விசைப்பலகை
Name[te]=కీబోర్డ్
Name[tg]=Клавиатура
Name[th]=แป้นพิมพ์
Name[tr]=Klavye
Name[ug]=ھەرپتاختا
Name[uk]=Клавіатура
Name[uz]=Tugmatag
Name[uz@cyrillic]=Тугматаг
Name[vi]=Bàn phím
Name[wa]=Taprece
Name[xh]=Ibhodi enezitshixo
Name[x-test]=xxKeyboardxx
Name[zh_CN]=键盘
Name[zh_TW]=鍵盤

Comment=Keyboard Hardware and Layout
Comment[ar]=عتاد لوحة المفاتيح وتخطيطها
Comment[ast]=Hardware y distribución del tecláu
Comment[az]=Klaviatura və Qatların ayarlanması
Comment[bs]=Hardver i raspored tastature
Comment[ca]=Maquinari i disposició del teclat
Comment[ca@valencia]=Maquinari i disposició del teclat
Comment[cs]=Hardware a rozvržení klávesnice
Comment[da]=Tastaturhardware- og layout
Comment[de]=Tastatur-Hardware und -belegung
Comment[el]=Υλικό και διάταξη πληκτρολογίου
Comment[en_GB]=Keyboard Hardware and Layout
Comment[es]=Hardware y distribución del teclado
Comment[et]=Klaviatuuri riistvara ja paigutus
Comment[eu]=Teklatu-hardwarea eta -diseinua
Comment[fi]=Näppäimistön laitteisto ja järjestys
Comment[fr]=Disposition et matériel du clavier
Comment[gl]=Soporte físico e disposición do teclado
Comment[he]=חומרה ופריסת מקלדת
Comment[hu]=Billentyűzetkiosztás
Comment[ia]=Disposition e hardware de claviero
Comment[id]=Tata Letak dan Perangkat Keras Keyboard
Comment[is]=Lyklaborðsuppsetning
Comment[it]=Hardware e mappatura della tastiera
Comment[ja]=キーボードハードウェアとレイアウト
Comment[ko]=키보드 하드웨어 및 레이아웃
Comment[lt]=Klaviatūros aparatinė įranga ir išdėstymas
Comment[mr]=कळफलक हार्डवेअर व रचना
Comment[nb]=Tastatur maskinvare og utlegg
Comment[nds]=Tastatuur un Tasttoornen
Comment[nl]=Toetsenbordhardware en -indeling
Comment[nn]=Tastatur og tasteoppsett
Comment[pa]=ਕੀ-ਬੋਰਡ ਹਾਰਡਵੇਅਰ ਅਤੇ ਲੇਆਉਟ
Comment[pl]=Klawiatura - sprzęt i układ
Comment[pt]='Hardware' e Disposição do Teclado
Comment[pt_BR]=Layout e hardware do teclado
Comment[ro]=Aranjament și echipament de tastatură
Comment[ru]=Настройка клавиатуры и раскладок
Comment[sk]=Hardvér a rozloženie klávesnice
Comment[sl]=Tipkovnica in razporeditev tipk
Comment[sr]=Тастатура и распоред тастера
Comment[sr@ijekavian]=Тастатура и распоред тастера
Comment[sr@ijekavianlatin]=Tastatura i raspored tastera
Comment[sr@latin]=Tastatura i raspored tastera
Comment[sv]=Tangentbordshårdvara och layout
Comment[ta]=விசைப்பலகை வன்பொருள் மற்றும் தளவமைப்பு
Comment[tr]=Klavye Donanımı ve Yerleşimi
Comment[uk]=Клавіатура та розкладка
Comment[vi]=Phần cứng và bố cục bàn phím
Comment[x-test]=xxKeyboard Hardware and Layoutxx
Comment[zh_CN]=键盘硬件和布局
Comment[zh_TW]=鍵盤硬體與佈局
