[Desktop Entry]
Type=Service
Icon=preferences-desktop-keyboard
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=keyboard
X-KDE-DBus-ModuleName=keyboard
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
OnlyShowIn=KDE;

Name=Keyboard Daemon
Name[uk]=Фонова служба клавіатури
Name[x-test]=xxKeyboard Daemonxx
