[Desktop Entry]
Name=Keyboard Layout
Name[af]=Sleutelbord Uitleg
Name[ar]=تخطيط لوحة المفاتيح
Name[ast]=Disposición del tecláu
Name[be]=Раскладка клавіятуры
Name[be@latin]=Vykład klavijatury
Name[bg]=Клавиатурни подредби
Name[bn]=কীবোর্ড বিন্যাস
Name[bn_IN]=কি-বোর্ড বিন্যাস
Name[br]=Reizhadur ar stokellaoueg
Name[bs]=Raspored tastera
Name[ca]=Disposició del teclat
Name[ca@valencia]=Disposició del teclat
Name[cs]=Rozvržení klávesnice
Name[csb]=Ùstôw klawiaturë
Name[cy]=Cynllun Bysellfwrdd
Name[da]=Tastaturlayout
Name[de]=Tastaturbelegung
Name[el]=Διάταξη πληκτρολογίου
Name[en_GB]=Keyboard Layout
Name[eo]=Klavararanĝo
Name[es]=Disposición del teclado
Name[et]=Klaviatuuri paigutus
Name[eu]=Teklatu-diseinua
Name[fa]=طرح‌بندی صفحه کلید
Name[fi]=Näppäimistön järjestys
Name[fr]=Disposition du clavier
Name[fy]=Toetseboerdyndieling
Name[ga]=Leagan Amach Méarchláir
Name[gl]=Disposición do teclado
Name[gu]=કીબોર્ડ દેખાવ
Name[he]=פריסת מקלדת
Name[hi]=कुंजीपट ख़ाका
Name[hne]=कुंजीपट खाका
Name[hr]=Raspored tipkovnice
Name[hsb]=Tastaturowy layout
Name[hu]=Billentyűzetkiosztás
Name[ia]=Disposition de claviero
Name[id]=Tata Letak Papan Ketik
Name[is]=Lyklaborð
Name[it]=Mappatura della tastiera
Name[ja]=キーボード配列
Name[ka]=კლავიატურის განლაგება
Name[kk]=Перенетақта сәйкестігі
Name[km]=ប្លង់​ក្ដារចុច
Name[kn]=ಕೀಲಿಮಣೆ ವಿನ್ಯಾಸ
Name[ko]=키보드 레이아웃
Name[ku]=Rengê Klavyeyê
Name[lt]=Klaviatūros išdėstymas
Name[lv]=Tastatūras izkārtojums
Name[mai]=कीबोर्ड लेआउट
Name[mk]=Распоред на тастатура
Name[ml]=കീബോര്‍ഡ് വിന്യാസം
Name[mr]=कळफलक रचना
Name[nb]=Tastaturoppsett
Name[nds]=Tasttoornen
Name[ne]=कुञ्जीपाटी सजावट
Name[nl]=Toetsenbordindeling
Name[nn]=Taste­oppsett
Name[oc]=Disposicion del clavièr
Name[or]=କିବୋର୍ଡ଼ ବିନ୍ୟାସ
Name[pa]=ਕੀ-ਬੋਰਡ ਲੇਆਉਟ
Name[pl]=Układ klawiatury
Name[pt]=Disposição do Teclado
Name[pt_BR]=Leiaute do teclado
Name[ro]=Aranjament de tastatură
Name[ru]=Раскладка клавиатуры
Name[se]=Boallobeavdehápmi
Name[si]=යතුරුපුවරු ආකෘතිය
Name[sk]=Rozloženie klávesnice
Name[sl]=Razporeditev tipk
Name[sr]=Распоред тастера
Name[sr@ijekavian]=Распоред тастера
Name[sr@ijekavianlatin]=Raspored tastera
Name[sr@latin]=Raspored tastera
Name[sv]=Tangentbordslayout
Name[ta]=விசைப்பலகை உருவரை
Name[te]=కీబోర్డ్ కూర్పు
Name[tg]=Тугмабандии клавиатура
Name[th]=ผังแป้นพิมพ์
Name[tr]=Klavye Düzeni
Name[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشى
Name[uk]=Розкладка клавіатури
Name[uz]=Tugmalar tartibi
Name[uz@cyrillic]=Тугмалар тартиби
Name[vi]=Bố trí bàn phím
Name[wa]=Adjinçmint del taprece
Name[xh]=Ubeko Lwebhodi yezitshixo
Name[x-test]=xxKeyboard Layoutxx
Name[zh_CN]=键盘布局
Name[zh_TW]=鍵盤配置
Comment=View and switch between active keyboard layouts
Comment[ar]=إعرض وبدل بين مخططات لوحة المفاتيح
Comment[ast]=Ver y camudar ente les distribuciones de tecláu actives
Comment[bg]=Преглед и превключване на клавиатурната подредба
Comment[bn]=সক্রিয় কীবোর্ড বিন্যাসগুলি দেখুন এবং অদলবদল করুন
Comment[bs]=Prikaz i prebacivanje između aktivnih rasporeda tastature
Comment[ca]=Vista i commutació entre disposicions actives de teclat
Comment[ca@valencia]=Vista i commutació entre disposicions actives de teclat
Comment[cs]=Zobrazí a přepne mezi aktivními rozloženími klávesnice
Comment[da]=Vis og skift mellem aktive tastaturlayouts
Comment[de]=Aktive Tastaturbelegungen anzeigen und zwischen ihnen umschalten
Comment[el]=Εμφάνιση και εναλλαγή μεταξύ των ενεργών διατάξεων πληκτρολογίου
Comment[en_GB]=View and switch between active keyboard layouts
Comment[es]=Ver y cambiar entre las distribuciones de teclado activas
Comment[et]=Aktiivsete klaviatuuripaigutuste näitamine ja nende vahel lülitamine
Comment[eu]=Ikusi eta aldatu teklatu-diseinu aktibo batetik bestera
Comment[fi]=Katsele ja vaihda aktiivisten näppäinasetteluiden välillä
Comment[fr]=Affiche et change des dispositions actives de clavier
Comment[gl]=Mostra e troca a disposición de teclado activa
Comment[he]=משמש להצגת והחלפה בין פריסות מקלדת
Comment[hr]=Prikaži i prebaci između aktivnih tipkovničkih rasporeda
Comment[hu]=Aktív billentyűzetkiosztások megjelenítése és váltás köztük
Comment[ia]=Monstra e commuta inter dispositiones de claviero active
Comment[is]=Skoða og skipta á milli virkra lyklaborðsframsetninga
Comment[it]=Visualizza e cambia le mappature della tastiera attive
Comment[ja]=アクティブキーボードレイアウトを表示して切り替える
Comment[kk]=Белсенді пернетақталарды көру және біріне ауысу
Comment[km]=មើល ហើយ​ប្ដូរ​ប្លង់​ក្ដារចុច​សកម្ម
Comment[ko]=활성 키보드 레이아웃을 보고 바꾸기
Comment[lt]=Peržiūrėti ir persijungti tarp aktyvių klaviatūros maketų
Comment[lv]=Skatīt un pārslēgties starp aktīvajiem tastatūras izkārtojumumiem
Comment[mr]=चालू कळफलक रचना बघा व बदला
Comment[nb]=Vis aktive tastaturutforminger og bytt mellom dem
Comment[nds]=Aktiv Tasttoornen ankieken un wesseln
Comment[nl]=Bekijk en schakel tussen actieve toetsenbordindelingen
Comment[nn]=Vis og byt mellom aktive tastaturoppsett
Comment[pa]=ਸਰਗਰਮ ਕੀਬੋਰਡ ਲੇਆਉਟ ਵੇਖੋ ਅਤੇ ਬਦਲੋ
Comment[pl]=Przeglądanie i przełączanie między aktywnymi układami klawiatury
Comment[pt]=Ver e mudar a disposição de teclado activa
Comment[pt_BR]=Visualiza e troca o leiaute de teclado ativo
Comment[ro]=Vizualizează și schimbă între aranjamentele de tastatură active
Comment[ru]=Просмотр и переключение между активными раскладками клавиатуры
Comment[sk]=Zobrazenie a prepínanie medzi aktívnymi rozloženiami klávesnice
Comment[sl]=Oglejte si in preklopite med dejavnimi razporeditvami tipk
Comment[sr]=Приказ и пребацивање између активних распореда тастатуре
Comment[sr@ijekavian]=Приказ и пребацивање између активних распореда тастатуре
Comment[sr@ijekavianlatin]=Prikaz i prebacivanje između aktivnih rasporeda tastature
Comment[sr@latin]=Prikaz i prebacivanje između aktivnih rasporeda tastature
Comment[sv]=Visa och byt mellan aktiva tangentbordslayouter
Comment[th]=ดูและสลับการจัดวางแป้นพิมพ์ที่ใช้งานอยู่
Comment[tr]=Etkin klavye düzenlerini görüntüle ve geçiş yap
Comment[ug]=ئاكتىپ ھەرپتاختا جايلاشتۇرۇشى ئارىسىدا ئالماشتۇر ۋە كۆرسەت
Comment[uk]=Перегляд і перемикання між активними розкладками клавіатури
Comment[wa]=Vey eyet discandjî etur les adjinçmints del taprece ovrants
Comment[x-test]=xxView and switch between active keyboard layoutsxx
Comment[zh_CN]=查看和切换键盘布局
Comment[zh_TW]=檢視並在可用的鍵盤佈局中切換

Icon=preferences-desktop-keyboard
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_keyboard
X-KDE-PluginInfo-Author=Andriy Rysin
X-KDE-PluginInfo-Email=rysin@kde.org
X-KDE-PluginInfo-Name=keyboard_applet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
