[Desktop Entry]
Exec=kcmshell5 desktoptheme
Icon=preferences-desktop
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_desktoptheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-appearance
X-DocPath=kcontrol/desktopthemedetails/index.html

Name=Desktop Theme
Name[ar]=سمة سطح المكتب
Name[ast]=Tema d'escritoriu
Name[bg]=Тема за работния плот
Name[bn]=ডেস্কটপ থীম
Name[bs]=Tema površi
Name[ca]=Tema d'escriptori
Name[ca@valencia]=Tema d'escriptori
Name[cs]=Motiv plochy
Name[da]=Skrivebordstema
Name[de]=Arbeitsflächen-Design
Name[el]=Θέμα επιφάνειας εργασίας
Name[en_GB]=Desktop Theme
Name[es]=Tema de escritorio
Name[et]=Töölauateema
Name[eu]=Mahaigaineko gaia
Name[fi]=Työpöytäteema
Name[fr]=Thème de bureau
Name[ga]=Téama Deisce
Name[gl]=Tema do escritorio
Name[gu]=ડેસ્કટોપ થીમ
Name[he]=ערכת־הנושא לשולחן־העבודה
Name[hi]=डेस्कटॉप प्रसंग
Name[hr]=Tema radne površine
Name[hu]=Asztali téma
Name[ia]=Thema de scriptorio
Name[id]=Tema Desktop
Name[is]=Skjáborðsþema
Name[it]=Tema del desktop
Name[ja]=デスクトップテーマ
Name[kk]=Үстел нақышы
Name[km]=ស្បែក​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಪರಿಸರವಿನ್ಯಾಸ
Name[ko]=데스크톱 테마
Name[lt]=Darbastalio tema
Name[lv]=Darbvirsmas tēma
Name[mr]=डेस्कटॉप शैली
Name[nb]=Skrivebordstema
Name[nds]=Schriefdischmuster
Name[nl]=Bureaubladthema
Name[nn]=Skrivebordstema
Name[pa]=ਡੈਸਕਟਾਪ ਥੀਮ
Name[pl]=Wystrój pulpitu
Name[pt]=Tema do Ambiente de Trabalho
Name[pt_BR]=Tema da área de trabalho
Name[ro]=Tematica de birou
Name[ru]=Тема рабочего стола
Name[si]=වැඩතල තේමාව
Name[sk]=Téma plochy
Name[sl]=Namizna tema
Name[sr]=Тема површи
Name[sr@ijekavian]=Тема површи
Name[sr@ijekavianlatin]=Tema površi
Name[sr@latin]=Tema površi
Name[sv]=Skrivbordstema
Name[tg]=Мавзӯъи мизи корӣ
Name[th]=ชุดตกแต่งพื้นที่ทำงาน
Name[tr]=Masaüstü Teması
Name[ug]=ئۈستەلئۈستى ئۆرنىكى
Name[uk]=Тема стільниці
Name[vi]=Sắc thái màn hình
Name[wa]=Tinme do scribanne
Name[x-test]=xxDesktop Themexx
Name[zh_CN]=桌面主题
Name[zh_TW]=桌面主題
Comment=Customize the desktop theme
Comment[ar]=خصص عناصر السمة سطح المكتب بشكل منفرد
Comment[ast]=Personalizar el tema d'escritoriu
Comment[bg]=Настройки на теми за работния плот
Comment[bn]=ডেস্কটপ থীম পছন্দমত বদলান
Comment[bs]=Prilagodite temu površi
Comment[ca]=Personalitza el tema d'escriptori
Comment[ca@valencia]=Personalitza el tema d'escriptori
Comment[cs]=Upravit vzhled plochy
Comment[da]=Tilpas skrivebordstemaet
Comment[de]=Arbeitsflächen-Design anpassen
Comment[el]=Προσαρμογή θέματος της επιφάνειας εργασίας
Comment[en_GB]=Customise the desktop theme
Comment[es]=Personalizar el tema de escritorio
Comment[et]=Töölauateema kohandamine
Comment[eu]=Pertsonalizatu mahaigaineko gaia
Comment[fi]=Työpöytäteeman asetukset
Comment[fr]=Personnaliser le thème de bureau
Comment[ga]=Saincheap an téama deisce
Comment[gl]=Personaliza o tema do escritorio
Comment[he]=התאמה אישית של ערכת־הנושא לשולחן־העבודה
Comment[hi]=डेस्कटॉप प्रसंग मनपसंद बनाएँ
Comment[hr]=Prilagodba teme radne površine
Comment[hu]=Az asztali téma testreszabása
Comment[ia]=Personalisar le thema de scriptorio
Comment[id]=Sesuaikan tema desktop
Comment[is]=Sérsníða skjáborðsþema
Comment[it]=Personalizza il tema del desktop
Comment[ja]=デスクトップテーマのカスタマイズ
Comment[kk]=Үстел нақышын өзінше баптап алу
Comment[km]=ប្ដូរ​ស្បែក​ផ្ទៃតុ​តាមបំណង
Comment[kn]=ಗಣಕತೆರೆ ಪರಿಸರವಿನ್ಯಾಸವನ್ನು ಇಚ್ಛೆಗೆ ತಕ್ಕಂತೆ ಹೊಂದಿಸಿ
Comment[ko]=테마 사용자 정의
Comment[lt]=Derinti darbastalio temą
Comment[lv]=Pielāgot darbivrsmas tēmu
Comment[mr]=डेस्कटॉप शैलीत ऐच्छिक बदल करा
Comment[nb]=Still inn temaet for skrivebordet
Comment[nds]=Dat Schriefdischmuster topassen
Comment[nl]=Pas het bureaubladthema aan
Comment[nn]=Tilpass skrivebordstemaet
Comment[pa]=ਡੈਸਕਟਾਪ ਥੀਮ ਕਸਟਮਾਈਜ਼ ਕਰੋ
Comment[pl]=Dostosowywanie wystroju pulpitu
Comment[pt]=Personalizar o tema do ambiente de trabalho
Comment[pt_BR]=Personaliza o tema da área de trabalho
Comment[ro]=Particularizează tematica de birou
Comment[ru]=Настройка темы рабочего стола
Comment[si]=වැඩතල තේමාව රිසිකරණය කරන්න
Comment[sk]=Prispôsobenie témy plochy
Comment[sl]=Prilagodite namizno temo
Comment[sr]=Прилагодите тему површи
Comment[sr@ijekavian]=Прилагодите тему површи
Comment[sr@ijekavianlatin]=Prilagodite temu površi
Comment[sr@latin]=Prilagodite temu površi
Comment[sv]=Anpassa skrivbordstemat
Comment[tg]=Танзимоти мавзӯъи мизи корӣ
Comment[th]=ปรับแต่งชุดตกแต่งพื้นที่ทำงานด้วยตนเอง
Comment[tr]=Masaüstü temasını özelleştir
Comment[ug]=ئۈستەلئۈستى ئۆرنىكىنى ئۆزلەشتۈرىدۇ
Comment[uk]=Налаштування теми стільниці
Comment[vi]=Tuỳ chỉnh sắc thái màn hình
Comment[wa]=Mete a vosse môde li tinme do scribanne
Comment[x-test]=xxCustomize the desktop themexx
Comment[zh_CN]=定制桌面主题
Comment[zh_TW]=自訂桌面主題
X-KDE-Keywords=Desktop Theme
X-KDE-Keywords[ar]=سمة سطح المكتب
X-KDE-Keywords[bs]=Tema površi
X-KDE-Keywords[ca]=Tema d'escriptori
X-KDE-Keywords[ca@valencia]=Tema d'escriptori
X-KDE-Keywords[cs]=Motiv plochy
X-KDE-Keywords[da]=Skrivebordstema
X-KDE-Keywords[de]=Arbeitsflächen-Design
X-KDE-Keywords[el]=Θέμα επιφάνειας εργασίας
X-KDE-Keywords[es]=Tema de escritorio
X-KDE-Keywords[et]=Töölauateema
X-KDE-Keywords[eu]=Mahaigaineko gaia
X-KDE-Keywords[fi]=Työpöytäteema
X-KDE-Keywords[fr]=Thème du bureau
X-KDE-Keywords[ga]=Téama Deisce
X-KDE-Keywords[gl]=Tema do escritorio
X-KDE-Keywords[he]=ערכת־הנושא
X-KDE-Keywords[hu]=Asztali téma
X-KDE-Keywords[ia]=Thema de scriptorio
X-KDE-Keywords[is]=Skjáborðsþema
X-KDE-Keywords[it]=Tema del desktop
X-KDE-Keywords[kk]=Desktop Theme,Үстел нақышы
X-KDE-Keywords[km]=រូបរាង​ផ្ទៃតុ
X-KDE-Keywords[ko]=데스크톱 테마
X-KDE-Keywords[lt]=Darbastalio tema
X-KDE-Keywords[mr]=डेस्कटॉप शैली
X-KDE-Keywords[nb]=Skrivebordstema
X-KDE-Keywords[nds]=Schriefdischmuster
X-KDE-Keywords[nl]=Bureaubladthema
X-KDE-Keywords[pa]=ਡੈਸਕਟਾਪ ਥੀਮ
X-KDE-Keywords[pl]=Wystrój pulpitu
X-KDE-Keywords[pt]=Tema do Ambiente de Trabalho
X-KDE-Keywords[pt_BR]=Tema da área de trabalho
X-KDE-Keywords[ro]=Tematica de birou
X-KDE-Keywords[ru]=Тема рабочего стола
X-KDE-Keywords[sk]=Téma plochy
X-KDE-Keywords[sl]=Namizna tema
X-KDE-Keywords[sr]=Desktop Theme,тема површи
X-KDE-Keywords[sr@ijekavian]=Desktop Theme,тема површи
X-KDE-Keywords[sr@ijekavianlatin]=Desktop Theme,tema površi
X-KDE-Keywords[sr@latin]=Desktop Theme,tema površi
X-KDE-Keywords[sv]=Skrivbordstema
X-KDE-Keywords[tr]=Masaüstü Teması
X-KDE-Keywords[ug]=ئۈستەلئۈستى ئۆرنىكى
X-KDE-Keywords[uk]=тема,стільниця
X-KDE-Keywords[vi]=Sắc thái màn hình
X-KDE-Keywords[x-test]=xxDesktop Themexx
X-KDE-Keywords[zh_CN]=Desktop Theme,桌面主题
X-KDE-Keywords[zh_TW]=Desktop Theme
