[Desktop Entry]
Exec=kcmshell5 desktoptheme
Icon=preferences-desktop
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_desktoptheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-appearance
X-DocPath=kcontrol/desktopthemedetails/index.html

Name=Desktop Theme
Comment=Customize the desktop theme
X-KDE-Keywords=Desktop Theme
