[Desktop Entry]
Icon=preferences-desktop-plasma-theme
Exec=kcmshell5 kcm_desktoptheme

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_desktoptheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=20
X-DocPath=kcontrol/desktopthemedetails/index.html

Name=Plasma Style
Name[ca]=Estil del Plasma
Name[de]=Plasma-Stil
Name[en_GB]=Plasma Style
Name[es]=Estilo de Plasma
Name[eu]=Plasmaren estiloa
Name[it]=Stile di Plasma
Name[nl]=Plasma-stijl
Name[nn]=Plasma-stil
Name[pl]=Wygląd Plazmy
Name[pt]=Estilo do Plasma
Name[sv]=Plasmastil
Name[uk]=Стиль Плазми
Name[x-test]=xxPlasma Stylexx
Name[zh_TW]=Plasma 樣式
Comment=Choose Plasma style
Comment[ca]=Trieu l'estil del Plasma
Comment[de]=Plasma-Stil auswählen
Comment[es]=Escoger el estilo de Plasma
Comment[eu]=Aukeratu Plasmako estiloa
Comment[nl]=Plasma-stijl kiezen
Comment[nn]=Vel Plasma-stil
Comment[pt]=Escolher o estilo do Plasma
Comment[sv]=Välj Plasmastil
Comment[uk]=Вибір стилю Плазми
Comment[x-test]=xxChoose Plasma stylexx
Comment[zh_TW]=選擇 Plasma 樣式
X-KDE-Keywords=Desktop Theme,Plasma Theme
X-KDE-Keywords[ca]=Tema d'escriptori, Tema del Plasma
X-KDE-Keywords[de]=Arbeitsflächen-Design, Plasma-Design
X-KDE-Keywords[es]=Tema de escritorio,Tema de Plasma
X-KDE-Keywords[eu]=Mahaigaineko gaia,Plasmako gaia
X-KDE-Keywords[nl]=Bureaubladthema,Plasma-thema
X-KDE-Keywords[nn]=Skrivebordstema,Plasma-tema
X-KDE-Keywords[pt]=Tema do Ambiente de Trabalho,Tema do Plasma
X-KDE-Keywords[sv]=Skrivbordstema,Plasmatema
X-KDE-Keywords[uk]=Desktop Theme,Plasma Theme,тема,стільниця,плазма
X-KDE-Keywords[x-test]=xxDesktop Themexx,xxPlasma Themexx
X-KDE-Keywords[zh_TW]=Desktop Theme,Plasma Theme,桌面主題,Plasma,主題
