[Desktop Entry]
Icon=preferences-desktop-plasma
Exec=kcmshell5 kcm_desktoptheme

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_desktoptheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=workspacetheme
X-KDE-Weight=40
X-DocPath=kcontrol/desktopthemedetails/index.html

Name=Plasma Theme
Name[ca]=Tema del Plasma
Name[ca@valencia]=Tema del Plasma
Name[cs]=Motiv Plasma
Name[de]=Plasma-Design
Name[en_GB]=Plasma Theme
Name[es]=Tema de Plasma
Name[fi]=Plasma-teema
Name[fr]=Thème Plasma pour les thèmes foncés
Name[gl]=Tema de Plasma
Name[id]=Tema Plasma
Name[it]=Tema di Plasma
Name[ko]=Plasma 테마
Name[nl]=Plasma-thema
Name[nn]=Plasma-tema
Name[pl]=Wygląd Plazmy
Name[pt]=Tema do Plasma
Name[pt_BR]=Tema do Plasma
Name[ru]=Тема оформления Plasma
Name[sk]=Plasma téma
Name[sv]=Plasmatema
Name[uk]=Теми Плазми
Name[x-test]=xxPlasma Themexx
Name[zh_CN]=Plasma 主题
Name[zh_TW]=Plasma 主題
Comment=Choose the Plasma theme
Comment[ca]=Trieu el tema del Plasma
Comment[ca@valencia]=Trieu el tema del Plasma
Comment[de]=Plasma-Design auswählen
Comment[en_GB]=Choose the Plasma theme
Comment[es]=Escoger el tema de Plasma
Comment[fi]=Valitse Plasma-teema
Comment[fr]=Choisissez le thème Plasma
Comment[gl]=Escoller o tema de Plasma
Comment[id]=Memilih tema Plasma
Comment[it]=Scegli il tema di Plasma
Comment[ko]=Plasma 테마 선택
Comment[nl]=Kies het Plasma-thema
Comment[nn]=Vel Plasma-tema
Comment[pl]=Wybierz wygląd Plazmy
Comment[pt]=Escolher o tema do Plasma
Comment[pt_BR]=Escolha o tema do Plasma
Comment[ru]=Выбор темы оформления Plasma
Comment[sk]=Vyberte Plasma tému
Comment[sv]=Välj Plasmatemat
Comment[uk]=Вибір теми Плазми
Comment[x-test]=xxChoose the Plasma themexx
Comment[zh_CN]=选择 Plasma 主题
Comment[zh_TW]=選擇 Plasma 主題
X-KDE-Keywords=Desktop Theme
X-KDE-Keywords[ar]=سمة سطح المكتب
X-KDE-Keywords[bs]=Tema površi
X-KDE-Keywords[ca]=Tema d'escriptori
X-KDE-Keywords[ca@valencia]=Tema d'escriptori
X-KDE-Keywords[cs]=Motiv plochy
X-KDE-Keywords[da]=Skrivebordstema
X-KDE-Keywords[de]=Arbeitsflächen-Design
X-KDE-Keywords[el]=Θέμα επιφάνειας εργασίας
X-KDE-Keywords[en_GB]=Desktop Theme
X-KDE-Keywords[es]=Tema de escritorio
X-KDE-Keywords[et]=Töölauateema
X-KDE-Keywords[eu]=Mahaigaineko gaia
X-KDE-Keywords[fi]=Työpöytäteema
X-KDE-Keywords[fr]=Thème du bureau
X-KDE-Keywords[ga]=Téama Deisce
X-KDE-Keywords[gl]=Tema do escritorio
X-KDE-Keywords[he]=ערכת־הנושא
X-KDE-Keywords[hu]=Asztali téma
X-KDE-Keywords[ia]=Thema de scriptorio
X-KDE-Keywords[id]=Tema Desktop
X-KDE-Keywords[is]=Skjáborðsþema
X-KDE-Keywords[it]=Tema del desktop
X-KDE-Keywords[ja]=デスクトップテーマ
X-KDE-Keywords[kk]=Desktop Theme,Үстел нақышы
X-KDE-Keywords[km]=រូបរាង​ផ្ទៃតុ
X-KDE-Keywords[ko]=데스크톱 테마
X-KDE-Keywords[lt]=Darbalaukio apipavidalinimas
X-KDE-Keywords[mr]=डेस्कटॉप शैली
X-KDE-Keywords[nb]=Skrivebordstema
X-KDE-Keywords[nds]=Schriefdischmuster
X-KDE-Keywords[nl]=Bureaubladthema
X-KDE-Keywords[nn]=Skrivebordstema
X-KDE-Keywords[pa]=ਡੈਸਕਟਾਪ ਥੀਮ
X-KDE-Keywords[pl]=Wygląd pulpitu
X-KDE-Keywords[pt]=Tema do Ambiente de Trabalho
X-KDE-Keywords[pt_BR]=Tema da área de trabalho
X-KDE-Keywords[ro]=Tematica de birou
X-KDE-Keywords[ru]=Тема рабочего стола
X-KDE-Keywords[sk]=Téma plochy
X-KDE-Keywords[sl]=Namizna tema
X-KDE-Keywords[sr]=Desktop Theme,тема површи
X-KDE-Keywords[sr@ijekavian]=Desktop Theme,тема површи
X-KDE-Keywords[sr@ijekavianlatin]=Desktop Theme,tema površi
X-KDE-Keywords[sr@latin]=Desktop Theme,tema površi
X-KDE-Keywords[sv]=Skrivbordstema
X-KDE-Keywords[tr]=Masaüstü Teması
X-KDE-Keywords[ug]=ئۈستەلئۈستى ئۆرنىكى
X-KDE-Keywords[uk]=тема,стільниця
X-KDE-Keywords[vi]=Sắc thái màn hình
X-KDE-Keywords[x-test]=xxDesktop Themexx
X-KDE-Keywords[zh_CN]=Desktop Theme,桌面主题
X-KDE-Keywords[zh_TW]=Desktop Theme
