[Desktop Entry]
Exec=kcmshell5 kcmnotify
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmnotify/index.html

X-KDE-Library=kcm_knotify
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=50

Name=Manage Notifications
Name[uk]=Керування сповіщеннями
Name[x-test]=xxManage Notificationsxx
Comment=System Notification Configuration
Comment[uk]=Налаштування системних сповіщень
Comment[x-test]=xxSystem Notification Configurationxx

X-KDE-Keywords=System sounds,Audio,Sound,Notify,Alerts,Notification,popups
X-KDE-Keywords[uk]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,звук,система,системні звуки,звуки системи,сповіщення,нагадування,підказки,контекст
X-KDE-Keywords[x-test]=xxSystem sounds,Audio,Sound,Notify,Alerts,Notification,popupsxx

Categories=Qt;KDE;X-KDE-settings-sound;
