[Desktop Entry]
Exec=kcmshell5 kcmnotify
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmnotify/index.html

X-KDE-Library=kcm_knotify
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=50

Name=Manage Notifications
Comment=System Notification Configuration

X-KDE-Keywords=System sounds,Audio,Sound,Notify,Alerts,Notification,popups

Categories=Qt;KDE;X-KDE-settings-sound;
