[Desktop Entry]
Exec=kcmshell5 kcmnotify
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmnotify/index.html

X-KDE-Library=kcm_knotify
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=50

Name=Manage Notifications
Name[ar]=أدر التنبيهات
Name[ast]=Xestionar notificaciones
Name[bg]=Управление на уведомяването
Name[bn]=বিজ্ঞপ্তি ব্যবস্থাপনা
Name[bs]=Upravljanje obavještenjima
Name[ca]=Gestiona les notificacions
Name[ca@valencia]=Gestiona les notificacions
Name[cs]=Oznamování hardwaru
Name[da]=Håndtér bekendtgørelser
Name[de]=Benachrichtigungen verwalten
Name[el]=Διαχείριση ειδοποιήσεων
Name[en_GB]=Manage Notifications
Name[eo]=Mastrumi atentigojn
Name[es]=Gestionar notificaciones
Name[et]=Märguannete haldamine
Name[eu]=Jakinarazpenak kudeatzea
Name[fa]=مدیریت اخطارها
Name[fi]=Ilmoitusten asetukset
Name[ga]=Bainistigh Fógairt
Name[gl]=Xestión das notificacións
Name[gu]=નોંધણીઓની વ્યવસ્થા કરો
Name[he]=ניהול הודעות
Name[hi]=सूचनाएँ प्रबंधिक करें
Name[hr]=Upravljanje obavijestima
Name[hu]=Értesítések kezelése
Name[ia]=Administra notificationes
Name[id]=Atur Notifikasi
Name[is]=Sýsla með kerfistilkynningar
Name[it]=Gestisci le notifiche
Name[ja]=通知の管理
Name[kk]=Құлақтандыруларды басқару
Name[km]=គ្រប់គ្រង​ការ​ជូន​ដំណឹង
Name[kn]=ಸೂಚನೆಗಳನ್ನು ನಿರ್ವಹಿಸು
Name[ko]=알림 관리
Name[lt]=Tvarkyti pranešimus
Name[lv]=Pārvaldīt paziņojumus
Name[mai]=सूचनासभक प्रबंधित करू
Name[ml]=അറിയിപ്പുകള്‍ കൈകാര്യം ചെയ്യുക
Name[mr]=सूचना नियंत्रीत करा
Name[nb]=Håndter varslinger
Name[nds]=Bescheden plegen
Name[nl]=Meldingen beheren
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਪਰਬੰਧ
Name[pl]=Zarządzanie powiadomieniami
Name[pt]=Gerir as Notificações
Name[pt_BR]=Gerenciar notificações
Name[ro]=Gestiune notificări
Name[ru]=Системные уведомления
Name[si]=දැනුම් දීම් කළමනාකරනය කරන්න
Name[sk]=Správa upozornení
Name[sl]=Upravljanje obvestil
Name[sr]=Управљање обавештењима
Name[sr@ijekavian]=Управљање обавјештењима
Name[sr@ijekavianlatin]=Upravljanje obavještenjima
Name[sr@latin]=Upravljanje obaveštenjima
Name[sv]=Hantera underrättelser
Name[tg]=Идоракунии огоҳиномаҳо
Name[th]=จัดการการแจ้งให้ทราบต่าง ๆ
Name[tr]=Bildirimleri Yönet
Name[ug]=باشقۇرۇش ئۇقتۇرۇشى
Name[uk]=Керування сповіщеннями
Name[vi]=Quản lý các thông báo
Name[wa]=Manaedjî les notifiaedjes
Name[x-test]=xxManage Notificationsxx
Name[zh_CN]=管理通知
Name[zh_TW]=管理通知
Comment=System Notification Configuration
Comment[ca]=Configuració de les notificacions del sistema
Comment[cs]=Nastavení systémových hlášení
Comment[de]=Einstellung der Systemnachrichten
Comment[es]=Configuración de las notificaciones del sistema
Comment[fi]=Järjestelmäilmoitusten asetukset
Comment[gl]=Configuración das notificacións do sistema
Comment[hr]=Konfiguriranje obavijesti sustava
Comment[ia]=Configuration de notification de systema
Comment[ko]=시스템 알림 설정
Comment[nb]=Oppsett av systemvarsling
Comment[nds]=Systeemnarichten instellen
Comment[nl]=Systeemnotificatie instellen
Comment[pl]=Ustawienia powiadamiania systemowego
Comment[pt]=Configuração das mensagens do sistema
Comment[pt_BR]=Configuração das notificações do sistema
Comment[sk]=Nastavenie systémových upozornení
Comment[sl]=Nastavitev sistemskih obvestil
Comment[sr]=Подешавање системских обавештења
Comment[sr@ijekavian]=Подешавање системских обавјештења
Comment[sr@ijekavianlatin]=Podešavanje sistemskih obavještenja
Comment[sr@latin]=Podešavanje sistemskih obaveštenja
Comment[sv]=Anpassa systemunderrättelser
Comment[tr]=Sistem Bildirim Yapılandırması
Comment[uk]=Налаштування системних сповіщень
Comment[x-test]=xxSystem Notification Configurationxx
Comment[zh_TW]=系統通知組態

X-KDE-Keywords=System sounds,Audio,Sound,Notify,Alerts,Notification,popups
X-KDE-Keywords[bg]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,Системни звуци,Звук,Уведомление
X-KDE-Keywords[bn]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups
X-KDE-Keywords[bs]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,sistemski zvukovi,zvuk,alarmi
X-KDE-Keywords[ca]=Sons del sistema,Àudio,So,Notificar,Alertes,Notificació,missatges emergents
X-KDE-Keywords[ca@valencia]=Sons del sistema,Àudio,So,Notificar,Alertes,Notificació,missatges emergents
X-KDE-Keywords[cs]=Systémové zvuky,Zvuk,Oznámení,popups
X-KDE-Keywords[da]=Systemlyde,audio,lyd,meddelelser,alarmer,bekendtgørelse,pop-op
X-KDE-Keywords[de]=Klänge,Systemklänge,Audio,Sound,Benachrichtigung,Nachricht,Alarm,Signalton,Beep
X-KDE-Keywords[el]=Ήχοι συστήματος,ήχος,ήχος,ειδοποιώ,συναγερμός,ειδοποίηση,αναδυόμενα
X-KDE-Keywords[eo]=Sistemaj sonoj,Aŭdo,Sono,Atentigi,Avertoj,Atentigo,sprucfenestroj
X-KDE-Keywords[es]=Sonidos del sistema,Audio,Sonido,Notificar,Alertas,Notificación,emergentes
X-KDE-Keywords[et]=Süsteemsed helid,heli,audio,märguanne,märguanded,hüpikaknad
X-KDE-Keywords[eu]=Sistema-soinuak,audioa,soinua,jakinarazi,alertak,jakinarazpena,pop-upak
X-KDE-Keywords[fa]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups
X-KDE-Keywords[fi]=Järjestelmä-äänet,Ääni,Huomautukset,Ilmoitukset,Varoitukset,Hälytykset,Huomautus,Ilmoitus,Varoitus,Hälytys,ponnahdusikkunat
X-KDE-Keywords[ga]=Fuaimeanna an chórais,Fuaim,Fógairt,Fógraí,preabfhuinneoga
X-KDE-Keywords[gl]=Sons do sistema, Son, Audio, Notificación, Alertar, Notificar, emerxentes
X-KDE-Keywords[gu]=સિસ્ટમ અવાજો,ધ્વનિ,અવાજ,નોંધ આપો,ચેતવણીઓ,નોંધણી,પોપઅપ્સ
X-KDE-Keywords[he]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,צלילים,הודעות,שמע,תפריטים מוקפצים,הודעות
X-KDE-Keywords[hi]=तंत्र ध्वनियां,श्रव्य, ध्वनि, सूचित, चेतावनी, अधिसूचना, पॉपअप्स
X-KDE-Keywords[hu]=Rendszerhangok,Hang,Hang,Értesítés,Figyelmeztetés,Értesítés,felugró
X-KDE-Keywords[ia]=Sonos de systema,Audio,Sono,Notifica,Alertas,Notification,popups
X-KDE-Keywords[id]=Suara sistem,Audio,Suara,Beritahu,Peringatan,Notifikasi,popup
X-KDE-Keywords[is]=Kerfishljóð,hljóð,hljóðkerfi,tilkynningar,aðvörun,tilkynning,sprettgluggi
X-KDE-Keywords[it]=Suoni di sistema,audio,suono,notifica,avvisi,notifiche,avvisi a comparsa
X-KDE-Keywords[ja]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups
X-KDE-Keywords[kk]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups
X-KDE-Keywords[km]=សំឡេង​ប្រព័ន្ធ អូឌីយ៉ូ សំឡេង ជូន​ដំណឹង ផ្ដល់​ដំណឹង ការជូន​ដំណឹង លេច​ឡើង
X-KDE-Keywords[ko]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,시스템 소리,오디오,소리,알림,경고,팝업
X-KDE-Keywords[lv]=Sistēmas skaņas,audio,skaņa,paziņot,brīdinājumi,paziņojums,uzlecošais logs
X-KDE-Keywords[mr]=प्रणाली आवाज, आवाज, सूचना, सतर्कता, पॉपअप
X-KDE-Keywords[nb]=Systemlyder,Audio,Lyd,Varsle,Alarm,Varslinger,oppsprett
X-KDE-Keywords[nds]=Systeemkläng,Klang,Kläng,Systeembescheden,Alarms,Bescheden,Opdukers
X-KDE-Keywords[nl]=Systeemgeluiden,audio,geluid,melden,alarmmelding,meldingen,pop-ups
X-KDE-Keywords[pa]=ਸਿਸਟਮ ਸਾਊਂਡ,ਆਡੀਓ,ਸਾਊਂਡ,ਨੋਟੀਫਾਈ,ਸੂਚਨਾ,ਚੇਤਾਵਨੀ,ਨੋਟੀਫਿਕੇਸ਼ਨ,ਪੋਪਅੱਪ
X-KDE-Keywords[pl]=Dźwięki systemowe,Audio,Dźwięk,Powiadomienie,Alarmy,Powiadom,okna wyskakujące
X-KDE-Keywords[pt]=Sons do sistema,Áudio,Som,Notificar,Alertas,Notificação,Mensagens
X-KDE-Keywords[pt_BR]=Sons do sistema,Áudio,Som,Notificar,Alertas,Notificação,mensagens
X-KDE-Keywords[ro]=Sunete sistem,audio,sunet,notificare,alerte,notifică,popup
X-KDE-Keywords[ru]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,звуковая система,звук,аудио,уведомление,предупреждения,всплывающие окна
X-KDE-Keywords[sk]=Systémové zvuky,Audio,Zvuk,Notify,Alerts,Notification,popups
X-KDE-Keywords[sl]=sistemski zvoki,audio,zvok,obvestila,obvestilo,obveščanje,alarmi,alarm,pojavna okna,pojavno okno
X-KDE-Keywords[sr]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,системски звукови,аудио,звук,обавештење,аларм,искакач
X-KDE-Keywords[sr@ijekavian]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,системски звукови,аудио,звук,обавештење,аларм,искакач
X-KDE-Keywords[sr@ijekavianlatin]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,sistemski zvukovi,audio,zvuk,obaveštenje,alarm,iskakač
X-KDE-Keywords[sr@latin]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,sistemski zvukovi,audio,zvuk,obaveštenje,alarm,iskakač
X-KDE-Keywords[sv]=Systemljud,Ljud,Underrätta,Varningar,Underrättelser
X-KDE-Keywords[tg]=Системаҳои овозӣ,Аудио,Овоз,Хабар,Ҳушдор,Огоҳӣ,пайдошаванда
X-KDE-Keywords[tr]=Sistem sesleri,Ses,Uyarı,Uyarılar,Bildirimler
X-KDE-Keywords[ug]=سىستېما ئاۋازلىرى، ئۈن، بىلدۈرۈش، كۆرسەتمە، ئۇقتۇرۇشلار، سەكرىمىلەر
X-KDE-Keywords[uk]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,звук,система,системні звуки,звуки системи,сповіщення,нагадування,підказки,контекст
X-KDE-Keywords[vi]=Âm thanh hệ thống,Âm,Âm thanh,Thông báo,Cảnh báo,Thông báo,System sounds,Audio,Sound,Notify,Alerts,Notification,popups
X-KDE-Keywords[wa]=Sons sistinme,Sons do sistinme,Odio,Son,Notifyî,Abranles,Notifiaedje,aspitants purneas
X-KDE-Keywords[x-test]=xxSystem sounds,Audio,Sound,Notify,Alerts,Notification,popupsxx
X-KDE-Keywords[zh_CN]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups,系统声音,声音,音效,警告,提醒,弹出消息
X-KDE-Keywords[zh_TW]=System sounds,Audio,Sound,Notify,Alerts,Notification,popups

Categories=Qt;KDE;X-KDE-settings-sound;
