[Desktop Entry]
Comment=Testing background settings in Plasma Quick Containments
Comment[bs]=Testiranje pozadinskih postavki u Plasma Quick Containmentsu
Comment[ca]=Prova de la configuració del fons dels «Plasma Quick Containments»
Comment[ca@valencia]=Prova de la configuració del fons dels «Plasma Quick Containments»
Comment[da]=Test af baggrundsindstillinger i Plasma Quick-beholdere
Comment[de]=Test von Hintergrundeinstellungen in „Plasma Quick Containments“
Comment[el]=Έλεγχος των ρυθμίσεων φόντου στους υποδοχείς του Plasma Quick
Comment[es]=Prueba de las preferencias del fondo de los contenedores de Plasma Quick
Comment[eu]=Atzeko planoko ezarpenen proba Plasma Quick edukiontzietan
Comment[fi]=Plasma Quick -sovelmasäiliöiden tausta-asetusten testi
Comment[fr]=Test des paramètres d'arrière plan dans un conteneur rapide Plasma
Comment[gl]=Probas da configuración do fondo nos Plasma Quick Containments
Comment[hu]=Háttérbeállítás tesztelése a Plasma gyors elhatárolásban
Comment[ia]=Essayante preferentias de fundo in Plasma Quick Containments
Comment[kk]=Plasma шұғыл контейнерде аясының параметрлерін тексеру
Comment[ko]=Plasma Quick 컨테이너의 배경 설정 시험
Comment[nb]=Tester bakgrunnsinnstillinger i Plasma Quick Containments
Comment[nds]=Achtergrund-Instellen binnen gau Plasma-Gelaatsen utproberen
Comment[nl]=Achtergrondinstellingen testen in Plasma Quick Containments
Comment[pl]=Testowanie ustawień tła w Plasma Quick Containments
Comment[pt]=Configuração de testes do fundo dos contentores do Plasma Quick
Comment[pt_BR]=Configuração de testes do plano de fundo dos contêineres do Plasma Quick
Comment[sk]=Testujem nastavenia pozadia v Plasma Quick Containments
Comment[sl]=Preizkušanje nastavitev ozadij v vsebnikih Plasma Quick
Comment[sr]=Испробавање поставки позадине у плазма‑квик садржаоцима
Comment[sr@ijekavian]=Испробавање поставки позадине у плазма‑квик садржаоцима
Comment[sr@ijekavianlatin]=Isprobavanje postavki pozadine u Plasma Quick sadržaocima
Comment[sr@latin]=Isprobavanje postavki pozadine u Plasma Quick sadržaocima
Comment[sv]=Prova bakgrundsinställningar i Plasma Quick-omgivningar
Comment[tr]=Plasma Hızlı Barındırmasında arkaplan ayarlarını sınama
Comment[uk]=Перевірка параметрів тла у контейнерах мобільної Плазми
Comment[x-test]=xxTesting background settings in Plasma Quick Containmentsxx
Comment[zh_CN]=在 Plasma Quick 容器中测试背景设置
Comment[zh_TW]=在 Plasma Quick Containments 中測試背景設定
Encoding=UTF-8
Icon=text-frame-link
Keywords=
Name=Background Test
Name[bs]=Pozadinski test
Name[ca]=Prova del fons
Name[ca@valencia]=Prova del fons
Name[da]=Baggrundstest
Name[de]=Hintergrundtest
Name[el]=Έλεγχος φόντου
Name[es]=Prueba del fondo
Name[eu]=Atzeko planoko proba
Name[fi]=Taustatesti
Name[fr]=Test de l'arrière plan
Name[gl]=Proba do fondo
Name[hu]=Háttér teszt
Name[ia]=Essayo de fundo
Name[kk]=Аясын тексеру
Name[ko]=배경 시험
Name[nb]=Bakgrunnstest
Name[nds]=Achtergrund-Test
Name[nl]=Achtergrondtest
Name[pa]=ਬੈਕਗਰਾਊਂਡ ਟੈਸਟ
Name[pl]=Test tła
Name[pt]=Teste de Fundo
Name[pt_BR]=Teste do plano de fundo
Name[sk]=Test pozadia
Name[sl]=Preizkus ozadja
Name[sr]=Проба позадине
Name[sr@ijekavian]=Проба позадине
Name[sr@ijekavianlatin]=Proba pozadine
Name[sr@latin]=Proba pozadine
Name[sv]=Bakgrundsprov
Name[tr]=Arkaplan Sınaması
Name[uk]=Перевірка тла
Name[x-test]=xxBackground Testxx
Name[zh_CN]=背景测试
Name[zh_TW]=背景測試
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.tests.background
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=code/testbackground.qml
X-Plasma-RemoteLocation=
