[Desktop Entry]
Type=Service
Name=KDE Accessibility Tool
Name[uk]=Утиліта керування доступності KDE
Name[x-test]=xxKDE Accessibility Toolxx
Exec=kaccess
X-DBUS-StartupType=None
X-KDE-Library=kcm_access
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/kcmaccess/index.html
