[Desktop Entry]
Exec=kcmshell5 kcmaccess
Icon=preferences-desktop-accessibility
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/kcmaccess/index.html

X-KDE-Library=kcm_access
X-KDE-Init-Symbol=kcminit_access
X-KDE-ParentApp=kcontrol
X-KDE-OnlyShowOnQtPlatforms=xcb;

X-KDE-System-Settings-Parent-Category=accessibility

Name=Accessibility
Name[uk]=Доступність
Name[x-test]=xxAccessibilityxx

Comment=Improve accessibility for disabled persons
Comment[uk]=Підвищення зручності для інвалідів
Comment[x-test]=xxImprove accessibility for disabled personsxx

X-KDE-Keywords=access,accessibility,deaf,impaired,hearing,hearing loss,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad,numpad,activation gestures,gestures,sticky,modifier keys,modifier,locking keys
X-KDE-Keywords[uk]=access,accessibility,deaf,impaired,hearing,hearing loss,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad,numpad,activation gestures,gestures,sticky,modifier keys,modifier,locking keys,доступ,доступність,спеціальні можливості,глухий,слух,враження,вади,звук,сповіщення,видиме сповіщення,візуальне сповіщення,клавіатура,клавіші,клавіша,липкі клавіші,утримування,повільні клавіші,миша,навігація,цифри,цифровий блок,слух,втрата слуху,жести активування,жести,липка,липкі клавіші,клавіші-модифікатори,модифікатори,клавіші фіксування,фіксування,блокування
X-KDE-Keywords[x-test]=xxaccess,accessibility,deaf,impaired,hearing,hearing loss,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad,numpad,activation gestures,gestures,sticky,modifier keys,modifier,locking keysxx

Categories=Qt;KDE;X-KDE-settings-accessibility;
