[Desktop Entry]
Exec=kcmshell5 kcmaccess
Icon=preferences-desktop-accessibility
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/kcmaccess/index.html

X-KDE-Library=kcm_access
X-KDE-Init-Symbol=kcminit_access
X-KDE-ParentApp=kcontrol
X-KDE-OnlyShowOnQtPlatforms=xcb;
X-KDE-Init-Phase=0

X-KDE-System-Settings-Parent-Category=accessibility
X-KDE-Weight=70

Name=Accessibility
Name[af]=Toeganklikheid
Name[ar]=الإتاحة
Name[as]=অভিগম্যতা
Name[be]=Даступнасць
Name[be@latin]=Dastupnaść
Name[bg]=Равностоен достъп
Name[bn]=সহায়ক প্রযুক্তি
Name[bn_IN]=বিশেষ ব্যবহারের সহায়তা
Name[br]=Haezadusted
Name[bs]=Pristupačnost
Name[ca]=Accessibilitat
Name[ca@valencia]=Accessibilitat
Name[cs]=Zpřístupnění
Name[csb]=Pòmòce przëstãpù
Name[cy]=Hygyrchedd
Name[da]=Tilgængelighed
Name[de]=Zugangshilfen
Name[el]=Προσιτότητα
Name[en_GB]=Accessibility
Name[eo]=Alirebleco
Name[es]=Accesibilidad
Name[et]=Hõlbustus
Name[eu]=Irisgarritasun
Name[fa]=دستیابی‌پذیری
Name[fi]=Esteettömyys
Name[fr]=Accessibilité
Name[fy]=Tagonklikens
Name[ga]=Inrochtaineacht
Name[gl]=Accesibilidade
Name[gu]=ઉપયોગિતા
Name[he]=נגישות
Name[hi]=पहुँच
Name[hne]=पहुंच
Name[hr]=Pristupačnost
Name[hsb]=Přistupnosć
Name[hu]=Kezelési segítség
Name[ia]=Accessibilitate
Name[id]=Aksesibilitas
Name[is]=Auðveldað aðgengi
Name[it]=Accessibilità
Name[ja]=アクセシビリティ
Name[ka]=სპეციალური შესაძლბლობები
Name[kk]=Арнайы мүмкіндіктер
Name[km]=មធ្យោបាយ​ងាយស្រួល
Name[kn]=ನಿಲುಕಣೆ (ಆಕ್ಸೆಸಿಬಿಲಿಟಿ)
Name[ko]=내게 필요한 설정
Name[ku]=Gihîştin
Name[lt]=Pritaikymas neįgaliesiems
Name[lv]=Pieejamība
Name[mai]=अभिगम्यता
Name[mk]=Пристапливост
Name[ml]=സാമീപ്യത
Name[mr]=सुलभता
Name[ms]=Kebolehcapaian
Name[nb]=Tilgjengelighet
Name[nds]=Toganghülp
Name[ne]=पहुँचता
Name[nl]=Toegankelijkheid
Name[nn]=Tilgjenge
Name[oc]=Accessibilitat
Name[or]=ଅଭିଗମ୍ୟତା
Name[pa]=ਸਹੂਲਤਾਂ
Name[pl]=Ułatwienia dostępu
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[ro]=Accesibilitate
Name[ru]=Специальные возможности
Name[se]=Álkkibut geavaheapmi
Name[si]=ප්‍රවේශණය
Name[sk]=Prístupnosť
Name[sl]=Dostopnost
Name[sr]=Приступачност
Name[sr@ijekavian]=Приступачност
Name[sr@ijekavianlatin]=Pristupačnost
Name[sr@latin]=Pristupačnost
Name[sv]=Handikappstöd
Name[ta]=அணுகல்
Name[te]=అందుబాటు
Name[tg]=Имкониятҳо
Name[th]=ช่วยการใช้งาน
Name[tr]=Erişilebilirlik
Name[ug]=ياردەم ئىقتىدارى
Name[uk]=Доступність
Name[uz]=Qulayliklar
Name[uz@cyrillic]=Қулайликлар
Name[vi]=Hỗ trợ truy cập
Name[wa]=Accessibilité
Name[xh]=Unikezelo
Name[x-test]=xxAccessibilityxx
Name[zh_CN]=辅助
Name[zh_TW]=無障礙輔助

Comment=Accessibility Options
Comment[ar]=خيارات الإتاحة
Comment[bs]=Opcije pristupa
Comment[ca]=Opcions d'accessibilitat
Comment[ca@valencia]=Opcions d'accessibilitat
Comment[cs]=Možnosti zpřístupnění
Comment[da]=Tilgængelighedsindstillinger
Comment[de]=Einstellungen für Zugangshilfen
Comment[el]=Ρυθμίσεις προσιτότητας
Comment[en_GB]=Accessibility Options
Comment[es]=Opciones de accesibilidad
Comment[et]=Hõlbustusvõimalused
Comment[eu]=Irisgarritasun aukerak
Comment[fi]=Esteettömyysvalinnat
Comment[fr]=Options d'accessibilité
Comment[gl]=Opcións de accesibilidade
Comment[he]=אפשרויות נגישות
Comment[hu]=Akadálymentesítési beállítások
Comment[id]=Opsi Aksesibilitas
Comment[is]=Valkostir fyrir auðveldað aðgengi
Comment[it]=Opzioni di accessibilità
Comment[ja]=アクセシビリティオプション
Comment[ko]=내게 필요한 설정
Comment[lt]=Pritaikymas neįgaliesiems
Comment[mr]=सुलभता पर्याय
Comment[nb]=Valg for tilgjengelighet
Comment[nds]=Toganghülp-Optschonen
Comment[nl]=Opties voor toegankelijkheid
Comment[nn]=Tilgjengeval
Comment[pa]=ਸਹੂਲਤਾਂ ਚੋਣਾਂ
Comment[pl]=Opcje dostępności
Comment[pt]=Opções de Acessibilidade
Comment[pt_BR]=Opções de acessibilidade
Comment[ru]=Особые функции для людей с физическими ограничениями
Comment[sk]=Voľby prístupnosti
Comment[sl]=Možnosti dostopnosti
Comment[sr]=Опције приступачности
Comment[sr@ijekavian]=Опције приступачности
Comment[sr@ijekavianlatin]=Opcije pristupačnosti
Comment[sr@latin]=Opcije pristupačnosti
Comment[sv]=Alternativ för handikappstöd
Comment[tr]=Erişilebilirlik Seçenekleri
Comment[uk]=Параметри доступності
Comment[x-test]=xxAccessibility Optionsxx
Comment[zh_CN]=辅助功能选项
Comment[zh_TW]=無障礙輔助選項

X-KDE-Keywords=access,accessibility,deaf,impaired,hearing,hearing loss,bell,audible bell,visible bell,visual bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad,numpad,activation gestures,gestures,sticky,modifier keys,modifier,locking keys

Categories=Qt;KDE;X-KDE-settings-accessibility;
