[Desktop Entry]
Exec=kcmshell5 emoticons
Icon=face-smile
Type=Service
X-DocPath=kcontrol/emoticons/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_emoticons
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=icons
X-KDE-Weight=110

Name=Emoticons
Name[af]=Emotikons
Name[ar]=الوجوه التّعبيرية
Name[as]=ভাব-প্ৰতীক
Name[be@latin]=Smajliki
Name[bg]=Емотикони
Name[bn]=ইমোট-আইকন
Name[bn_IN]=ইমোআইকন
Name[bs]=Emotikoni
Name[ca]=Emoticones
Name[ca@valencia]=Emoticones
Name[cs]=Emotikony
Name[csb]=Emòtikónczi
Name[da]=Emotikoner
Name[de]=Emoticons
Name[el]=Εικονίδια διάθεσης
Name[en_GB]=Emoticons
Name[eo]=Miensimboloj
Name[es]=Emoticonos
Name[et]=Emotikonid
Name[eu]=Aurpegierak
Name[fa]=صورتک
Name[fi]=Hymiöt
Name[fr]=Émoticônes
Name[fy]=Emobyldkaikes
Name[ga]=Straoiseoga
Name[gl]=Emoticonas
Name[gu]=લાગણીઓ
Name[he]=רגשונים
Name[hi]=हँसमुख
Name[hne]=चेहराचिनहा
Name[hr]=Emoticons
Name[hsb]=Emotikony
Name[hu]=Emotikonok
Name[ia]=Emoticones
Name[id]=Emoticon
Name[is]=Tjáningartákn
Name[it]=Faccine
Name[ja]=感情アイコン
Name[kk]=Көңіл күйі белгілері
Name[km]=សញ្ញា​អារម្មណ៍
Name[kn]=ಭಾವನಾಚಿಹ್ನೆಗಳು (ಎಮೋಟಿಕಾನ್)
Name[ko]=이모티콘
Name[ku]=Emotîkon
Name[lt]=Jaustukai
Name[lv]=Emocijzīmes
Name[mai]=भाव-प्रतीक
Name[mk]=Емотикони
Name[ml]=വികാരചിഹ്നങ്ങള്‍
Name[mr]=भावप्रतिमा
Name[nb]=Humørfjes
Name[nds]=Snuten
Name[nl]=Emoticons
Name[nn]=Fjesingar
Name[or]=Emoticons
Name[pa]=ਈਮੋਸ਼ਨ
Name[pl]=Emotikony
Name[pt]=Ícones Emotivos
Name[pt_BR]=Emoticons
Name[ro]=Emoticoni
Name[ru]=Смайлики
Name[si]=ඉමොටිකොන
Name[sk]=Emotikony
Name[sl]=Izrazne ikone
Name[sr]=Емотикони
Name[sr@ijekavian]=Емотикони
Name[sr@ijekavianlatin]=Emotikoni
Name[sr@latin]=Emotikoni
Name[sv]=Smilisar
Name[ta]=உணர்வோயியங்கள்
Name[te]=ఎమొటికాన్లు
Name[tg]=Тасвирчаҳо
Name[th]=ไอคอนสื่ออารมณ์
Name[tr]=Duygu Simgeleri
Name[ug]=چىراي ئىپادىلىرى
Name[uk]=Емоційки
Name[uz]=His-tuygʻular
Name[uz@cyrillic]=Ҳис-туйғулар
Name[vi]=Hình biểu cảm
Name[wa]=Xhinêyes
Name[x-test]=xxEmoticonsxx
Name[zh_CN]=表情符号
Name[zh_TW]=表情圖示
Comment=Choose emoticon theme
Comment[ca]=Trieu el tema de les emoticones
Comment[ca@valencia]=Trieu el tema de les emoticones
Comment[cs]=Vyberte motiv emotikonů
Comment[da]=Vælg emotikontema
Comment[de]=Emoticon-Design auswählen
Comment[en_GB]=Choose emoticon theme
Comment[es]=Escoger un tema de emoticonos
Comment[eu]=Aukeratu aurpegiera-gaia
Comment[fi]=Valitse hymiöteema
Comment[fr]=Choisir le thème d'émoticônes
Comment[gl]=Escoller un tema de emoticonas
Comment[id]=Pilihlah tema emoticon
Comment[it]=Scegli tema di faccine
Comment[ja]=感情アイコンテーマをカスタマイズ
Comment[ko]=이모티콘 테마 선택
Comment[lt]=Pasirinkti jaustukų apipavidalinimą
Comment[nl]=Emoticonthema kiezen
Comment[nn]=Vel fjesingtema
Comment[pl]=Wybierz zestaw emotikon
Comment[pt]=Escolher o tema de ícones emotivos
Comment[pt_BR]=Escolha o tema de emoticons
Comment[ru]=Выбор набора смайликов
Comment[sk]=Vyberte tému emotikonov
Comment[sv]=Välj smilistema
Comment[uk]=Вибір теми емоційок
Comment[x-test]=xxChoose emoticon themexx
Comment[zh_CN]=选择表情主题
Comment[zh_TW]=選擇表情符號主題
X-KDE-Keywords=Emoticons
X-KDE-Keywords[ar]=الوجوه التعبيرية,وجوه تعبيرية,ابتسامات
X-KDE-Keywords[bg]=Emoticons,Емотикони
X-KDE-Keywords[bn]=ইমোট-আইকন
X-KDE-Keywords[bs]=Emotikoni
X-KDE-Keywords[ca]=Emoticones
X-KDE-Keywords[ca@valencia]=Emoticones
X-KDE-Keywords[cs]=Emotikony
X-KDE-Keywords[da]=Emotikoner
X-KDE-Keywords[de]=Emoticons
X-KDE-Keywords[el]=Εικονίδια διάθεσης
X-KDE-Keywords[en_GB]=Emoticons
X-KDE-Keywords[eo]=Miensimboloj
X-KDE-Keywords[es]=Emoticonos
X-KDE-Keywords[et]=Emotikonid
X-KDE-Keywords[eu]=Aurpegierak
X-KDE-Keywords[fa]=صورتک
X-KDE-Keywords[fi]=Hymiöt
X-KDE-Keywords[fr]=Émoticônes
X-KDE-Keywords[ga]=Straoiseoga
X-KDE-Keywords[gl]=Emoticonas
X-KDE-Keywords[gu]=લાગણીઓ
X-KDE-Keywords[he]=רגשונים
X-KDE-Keywords[hi]=हँसमुख
X-KDE-Keywords[hu]=Emotikonok
X-KDE-Keywords[ia]=Emoticones
X-KDE-Keywords[id]=Emoticons
X-KDE-Keywords[is]=Tjáningartákn
X-KDE-Keywords[it]=Faccine
X-KDE-Keywords[ja]=感情アイコン
X-KDE-Keywords[kk]=Emoticons,Көңіл күйі белгілері
X-KDE-Keywords[km]=សញ្ញា​អារម្មណ៍
X-KDE-Keywords[ko]=이모티콘
X-KDE-Keywords[lt]=Jaustukai
X-KDE-Keywords[lv]=Emocijzīmes
X-KDE-Keywords[mr]=भावप्रतिमा
X-KDE-Keywords[nb]=Humørfjes
X-KDE-Keywords[nds]=Snuten,Emoticons
X-KDE-Keywords[nl]=Emoticons
X-KDE-Keywords[nn]=Fjesingar
X-KDE-Keywords[pa]=ਈਮੋਸ਼ਨ
X-KDE-Keywords[pl]=Emotikony
X-KDE-Keywords[pt]=Ícones Emotivos
X-KDE-Keywords[pt_BR]=Emoticons
X-KDE-Keywords[ro]=Emoticoni
X-KDE-Keywords[ru]=Emoticons,смайлики,смайлы,улыбочки
X-KDE-Keywords[sk]=Emotikony
X-KDE-Keywords[sl]=Izrazne ikone
X-KDE-Keywords[sr]=emoticons,емотикони
X-KDE-Keywords[sr@ijekavian]=emoticons,емотикони
X-KDE-Keywords[sr@ijekavianlatin]=emoticons,emotikoni
X-KDE-Keywords[sr@latin]=emoticons,emotikoni
X-KDE-Keywords[sv]=Smilisar
X-KDE-Keywords[tg]=Тасвирчаҳо
X-KDE-Keywords[tr]=Duygu Simgeleri
X-KDE-Keywords[ug]=چىراي ئىپادىلىرى
X-KDE-Keywords[uk]=емоційка,емоційки,смайлик,смайлики
X-KDE-Keywords[vi]=Hình biểu cảm
X-KDE-Keywords[wa]=Xhinêyes
X-KDE-Keywords[x-test]=xxEmoticonsxx
X-KDE-Keywords[zh_CN]=Emoticons,表情符号
X-KDE-Keywords[zh_TW]=Emoticons
