[Desktop Entry]
Exec=kcmshell5 emoticons
Icon=face-smile
Type=Service
X-DocPath=kcontrol/emoticons/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_emoticons
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=110

Name=Emoticons
Name[uk]=Емоційки
Name[x-test]=xxEmoticonsxx
Comment=Choose Emoticon Theme
Comment[uk]=Вибір теми емоційок
Comment[x-test]=xxChoose Emoticon Themexx
X-KDE-Keywords=Emoticons
X-KDE-Keywords[uk]=емоційка,емоційки,смайлик,смайлики
X-KDE-Keywords[x-test]=xxEmoticonsxx
