[Desktop Entry]
Exec=kcmshell5 emoticons
Icon=face-smile
Type=Service
X-DocPath=kcontrol/emoticons/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_emoticons
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=110

Name=Emoticons
Name[fi]=Hymiöt
Name[ia]=Emoticones
Name[nl]=Emoticons
Name[pt]=Ícones Emotivos
Name[sv]=Smilisar
Name[uk]=Емоційки
Name[x-test]=xxEmoticonsxx
Comment=Choose Emoticon Theme
Comment[fi]=Valitse hymiöteema
Comment[ia]=Selige Thema de Emoticon
Comment[nl]=Thema voor emoticon kiezen
Comment[pt]=Escolher o Tema de Ícones Emotivos
Comment[sv]=Välj smilistema
Comment[uk]=Вибір теми емоційок
Comment[x-test]=xxChoose Emoticon Themexx
X-KDE-Keywords=Emoticons
X-KDE-Keywords[fi]=Hymiöt
X-KDE-Keywords[ia]=Emoticones
X-KDE-Keywords[nl]=Emoticons
X-KDE-Keywords[pt]=Ícones Emotivos
X-KDE-Keywords[sv]=Smilisar
X-KDE-Keywords[uk]=емоційка,емоційки,смайлик,смайлики
X-KDE-Keywords[x-test]=xxEmoticonsxx
