[Desktop Entry]
Name=Desktop
Name[af]=Werkskerm
Name[ar]=سطح المكتب
Name[ast]=Escritoriu
Name[az]=İş Masası
Name[be]=Працоўны стол
Name[be@latin]=Rabočy stoł
Name[bg]=Работен плот
Name[bn]=ডেস্কটপ
Name[bn_IN]=ডেস্কটপ
Name[br]=Gorretaol
Name[bs]=Radna površina
Name[ca]=Escriptori
Name[ca@valencia]=Escriptori
Name[cs]=Pracovní plocha
Name[csb]=Pùlt
Name[cy]=Penbwrdd
Name[da]=Skrivebord
Name[de]=Arbeitsfläche
Name[el]=Επιφάνεια εργασίας
Name[en_GB]=Desktop
Name[eo]=Labortablo
Name[es]=Escritorio
Name[et]=Töölaud
Name[eu]=Mahaigaina
Name[fa]=رومیزی
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[fy]=Buroblêd
Name[ga]=Deasc
Name[gl]=Escritorio
Name[gu]=ડેસ્કટોપ
Name[he]=שולחן עבודה
Name[hi]=डेस्कटॉप
Name[hne]=डेस्कटाप
Name[hr]=Radna površina
Name[hsb]=Dźěłowy powjerch
Name[hu]=Munkaasztal
Name[ia]=Scriptorio
Name[id]=Desktop
Name[is]=Skjáborð
Name[it]=Desktop
Name[ja]=デスクトップ
Name[ka]=სამუშაო დაფა
Name[kk]=Жұмыс үстелі
Name[kn]=ಗಣಕತೆರೆ
Name[ko]=바탕 화면
Name[ku]=Sermasê
Name[lt]=Darbalaukis
Name[mai]=डेस्कटाप
Name[mk]=Работна површина
Name[ml]=പണിയിടം
Name[mr]=डेस्कटॉप
Name[ms]=Ruang Kerja
Name[nb]=Skrivebord
Name[nds]=Schriefdisch
Name[ne]=डेस्कटप
Name[nl]=Bureaublad
Name[nn]=Skrivebord
Name[oc]=Burèu
Name[or]=ଡ଼େସ୍କଟପ
Name[pa]=ਡੈਸਕਟਾਪ
Name[pl]=Pulpit
Name[pt]=Ambiente de Trabalho
Name[pt_BR]=Área de trabalho
Name[ro]=Birou
Name[ru]=Рабочий стол по умолчанию
Name[se]=Čállinbeavdi
Name[si]=වැඩතලය
Name[sk]=Plocha
Name[sl]=Namizje
Name[sr]=Површ
Name[sr@ijekavian]=Површ
Name[sr@ijekavianlatin]=Površ
Name[sr@latin]=Površ
Name[sv]=Skrivbord
Name[ta]=பணிமேடை
Name[te]=రంగస్ఠలం
Name[tg]=Мизи корӣ
Name[th]=พื้นที่ทำงาน
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[uz]=Ish stoli
Name[uz@cyrillic]=Иш столи
Name[vi]=Bàn làm việc
Name[wa]=Sicribanne
Name[xh]=Desktop
Name[x-test]=xxDesktopxx
Name[zh_CN]=桌面
Name[zh_TW]=桌面
Comment=A clean and simple layout
Comment[ar]=تصميم نظيف وبسيط
Comment[ast]=Una distribución cenciella y llimpia
Comment[az]=Təmiz və Sadə şablon
Comment[bs]=Čist i jednostavan Izgled
Comment[ca]=Una disposició neta i senzilla
Comment[ca@valencia]=Una disposició neta i senzilla
Comment[cs]=Čisté a jednoduché rozvržení
Comment[da]=Et rent og simpelt layout
Comment[de]=Ein klares und einfaches Layout
Comment[el]=Μια σαφής και απλή διάταξη
Comment[en_GB]=A clean and simple layout
Comment[es]=Un esquema sencillo y claro
Comment[et]=Puhas ja lihtne paigutus
Comment[eu]=Diseinu garbi eta xumea
Comment[fi]=Selkeä ja yksinkertainen asettelu
Comment[fr]=Une disposition simple et épurée
Comment[gl]=Unha disposición sinxela e limpa
Comment[he]=פריסה פשוטה ונקיה
Comment[hu]=Egy tiszta és egyszerű elrendezés
Comment[ia]=Un disposition simple e munde
Comment[id]=Tata letak yang bersih dan sederhana
Comment[it]=Una disposizione semplice e pulita
Comment[kk]=Анық және қарапайым қалыпы 
Comment[km]=ប្លង់​សាមញ្ញ ហើយ​​ស្អាត
Comment[ko]=깨끗하고 정돈된 레이아웃
Comment[lt]=Tvarkingas ir paprastas išdėstymas
Comment[mr]=स्वच्छ व साधी रचना
Comment[nb]=En ren og enkel utforming
Comment[nds]=En schier un eenfach Utsehn
Comment[nl]=Een schone en simpele opmaak
Comment[nn]=Ei enkel og stilrein utforming
Comment[pa]=ਸਾਫ਼ ਅਤੇ ਸਧਾਰਨ ਲੇਆਉਟ
Comment[pl]=Schludny i prosty układ
Comment[pt]=Uma disposição limpa e simples
Comment[pt_BR]=Um layout limpo e simples
Comment[ro]=Aranjament curat și simplu
Comment[ru]=Ясный и простой шаблон
Comment[sk]=Čisté a jednoduché rozloženie
Comment[sl]=Čist in preprost razpored
Comment[sr]=Чист и једноставан распоред
Comment[sr@ijekavian]=Чист и једноставан распоред
Comment[sr@ijekavianlatin]=Čist i jednostavan raspored
Comment[sr@latin]=Čist i jednostavan raspored
Comment[sv]=En ren och enkel layout
Comment[ta]=தெளிவான மற்றும் எளிய தளவமைப்பு
Comment[tr]=Temiz ve basit bir yerleşim
Comment[uk]=Просте компонування
Comment[vi]=Một bố cục thoáng đãng và đơn giản
Comment[x-test]=xxA clean and simple layoutxx
Comment[zh_CN]=简洁的布局
Comment[zh_TW]=乾淨、簡單的佈局

Type=Service
Icon=user-desktop
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-PluginInfo-Author=Sebastian Kügler, Eike Hein
X-KDE-PluginInfo-Email=sebas@kde.org, hein@kde.org
X-KDE-PluginInfo-Name=org.kde.desktopcontainment
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=3.0

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp,http,localio,networkio
X-Plasma-ContainmentType=Desktop
