[Desktop Entry]
Exec=kcmshell5 clock
Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/clock/index.html

X-KDE-Library=kcm_clock
X-KDE-ParentApp=kcontrol

#should this be in system settings when we can get to it through the panel?
#Answer: Yes.
X-KDE-System-Settings-Parent-Category=system-administration

Name=Date & Time

Comment=Configure date and time settings

X-KDE-Keywords=clock,date,time,time zone,ntp,synchronize,calendar,local time,region time

Categories=Qt;KDE;X-KDE-settings-system;
