[Desktop Entry]
Exec=kcmshell5 clock
Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/clock/index.html

X-KDE-Library=kcm_clock
X-KDE-ParentApp=kcontrol

#should this be in system settings when we can get to it through the panel?
#Answer: Yes.
X-KDE-System-Settings-Parent-Category=system-administration

Name=Date & Time
Name[nl]=Datum en Tijd
Name[uk]=Дата і час
Name[x-test]=xxDate & Timexx

Comment=Configure date and time settings
Comment[nl]=Instellingen van datum en tijd instellen
Comment[uk]=Налаштування параметрів дати і часу
Comment[x-test]=xxConfigure date and time settingsxx

X-KDE-Keywords=clock,date,time,time zone,ntp,synchronize,calendar,local time,region time
X-KDE-Keywords[nl]=klok,datum,tijd,tijdzone,ntp,synchroniseren,agenda,lokale tijd,tijd in regio
X-KDE-Keywords[uk]=годинник,дата,час,часовий пояс,синхронізація,календар,місцевий час,clock,date,time,time zone,ntp,synchronize,calendar,local time,region time
X-KDE-Keywords[x-test]=xxclock,date,time,time zone,ntp,synchronize,calendar,local time,region timexx

Categories=Qt;KDE;X-KDE-settings-system;
