[Desktop Entry]
Icon=preferences-system-time
Type=Application
Exec=systemsettings kcm_clock
NoDisplay=true

Name=Date & Time
Name[af]=Datum & Tyd
Name[ar]=التّاريخ والوقت
Name[ast]=Data y hora
Name[az]=Tariv və Vaxt
Name[be]=Дата і час
Name[be@latin]=Data j čas
Name[bg]=Дата и час
Name[bn]=তারিখ এবং সময়
Name[bn_IN]=তারিখ ও সময়
Name[br]=Deiziad hag eur
Name[bs]=Datum i vrijeme
Name[ca]=Data i hora
Name[ca@valencia]=Data i hora
Name[cs]=Datum a čas
Name[csb]=Datum ë czas
Name[cy]=Dyddiad ac Amser
Name[da]=Dato og klokkeslæt
Name[de]=Datum & Zeit
Name[el]=Ημερομηνία & Ώρα
Name[en_GB]=Date & Time
Name[eo]=Dato kaj Tempo
Name[es]=Fecha y hora
Name[et]=Kuupäev ja kellaaeg
Name[eu]=Data eta ordua
Name[fa]=تاریخ و زمان
Name[fi]=Aika ja päiväys
Name[fr]=Date et heure
Name[fy]=Datum en Tiid
Name[ga]=Dáta agus Am
Name[gl]=Data e hora
Name[gu]=તારીખ & સમય
Name[he]=תאריך ושעה
Name[hi]=तारीख़ व समय
Name[hne]=तारीक अउ समय
Name[hr]=Datum i vrijeme
Name[hsb]=Datum & čas
Name[hu]=Dátum és idő
Name[ia]=Data & Tempore
Name[id]=Tanggal & Waktu
Name[is]=Dagsetning og tími
Name[it]=Data e ora
Name[ja]=日付と時刻
Name[ka]=თარიღი & დრო
Name[kk]=Күн мен уақыт
Name[km]=កាល​បរិច្ឆេទ និង​ពេលវេលា
Name[kn]=ದಿನಾಂಕ ಮತ್ತು ಸಮಯ
Name[ko]=날짜와 시간
Name[ku]=Roj & Dem
Name[lt]=Data ir laikas
Name[lv]=Datums un laiks
Name[mai]=दिनाँक आ समय
Name[mk]=Датум и време
Name[ml]=തീയതിയും സമയവും
Name[mr]=दिनांक व वेळ
Name[ms]=Tarikh & Masa
Name[nb]=Dato og klokkeslett
Name[nds]=Datum & Tiet
Name[ne]=मिति र समय
Name[nl]=Datum en Tijd
Name[nn]=Dato og klokkeslett
Name[oc]=Data e ora
Name[or]=ତାରିଖ ଏବଂ ସମୟ
Name[pa]=ਤਾਰੀਖ ਅਤੇ ਸਮਾਂ
Name[pl]=Data i czas
Name[pt]=Data e Hora
Name[pt_BR]=Data e hora
Name[ro]=Data și ora
Name[ru]=Дата и время
Name[se]=Dáhton ja áigi
Name[si]=දිනය සහ වේලාව
Name[sk]=Dátum a čas
Name[sl]=Datum in čas
Name[sr]=Датум и време
Name[sr@ijekavian]=Датум и вријеме
Name[sr@ijekavianlatin]=Datum i vrijeme
Name[sr@latin]=Datum i vreme
Name[sv]=Datum och tid
Name[ta]=தேதி & நேரம்
Name[te]=తేది & సమయం
Name[tg]=Сана ва вақт
Name[th]=วันและเวลา
Name[tr]=Tarih ve Saat
Name[ug]=چېسلا & ۋاقىت
Name[uk]=Дата і час
Name[uz]=Sana va vaqt
Name[uz@cyrillic]=Сана ва вақт
Name[vi]=Ngày giờ
Name[wa]=Date et eure
Name[xh]=Umhla & Ixesha
Name[x-test]=xxDate & Timexx
Name[zh_CN]=日期和时间
Name[zh_TW]=日期和時間
