[Desktop Entry]
Exec=kcmshell5 style
Icon=preferences-desktop-theme-style
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/kcmstyle/index.html

X-KDE-Library=kcm_style
X-KDE-Init-Symbol=kcminit_style
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=50

Name=Style
Name[nl]=Stijl
Name[uk]=Стиль
Name[x-test]=xxStylexx
Comment=Allows the manipulation of widget behavior and changing the Style for KDE
Comment[nl]=Hiermee kunt u het gedrag van de widgets aanpassen en de stijl van KDE wijzigen
Comment[uk]=Керування поведінкою віджетів та зміна стилю KDE
Comment[x-test]=xxAllows the manipulation of widget behavior and changing the Style for KDExx

X-KDE-Keywords=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma
X-KDE-Keywords[nl]=stijl,stijlen,uiterlijk,widget,pictogrammen,werkbalk,tekst,accentuering,apps,KDE-toepassingen,thema,plasma
X-KDE-Keywords[uk]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,стиль,стилі,вигляд,віджет,піктограма,піктограми,значок,значки,іконки,панель,панель інструментів,текст,підсвічування,позначення,програма,програми,тема,плазма
X-KDE-Keywords[x-test]=xxstyle,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasmaxx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
