[Desktop Entry]
Exec=kcmshell5 style
Icon=preferences-desktop-theme-style
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/kcmstyle/index.html

X-KDE-Library=kcm_style
X-KDE-Init-Symbol=kcminit_style
X-KDE-Init-Phase=0
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=applicationstyle
X-KDE-Weight=0

Name=Widget Style
Name[ar]=نمط الودجات
Name[ast]=Estilu de widgets
Name[bs]=Stil grafičke kontrole
Name[ca]=Estil dels estris
Name[ca@valencia]=Estil dels estris
Name[cs]=Styl widgetu
Name[da]=Kontrolstil
Name[de]=Stil der Bedienelemente
Name[el]=Στιλ γραφικών συστατικών
Name[en_GB]=Widget Style
Name[es]=Estilo de los elementos gráficos
Name[et]=Vidina stiil
Name[fi]=Elementtien tyyli
Name[fr]=Style de composant graphique
Name[gl]=Estilo do trebello
Name[he]=עיצוב הישומון
Name[hu]=Grafikai elemstílus
Name[id]=Gaya Widget
Name[is]=Græjustíll
Name[it]=Stile degli oggetti
Name[ja]=ウィジェットスタイル
Name[ko]=위젯 스타일
Name[lt]=Valdiklių stilius
Name[nb]=Skjermelementstil
Name[nds]=Bedeenelement-Stil
Name[nl]=Widget-stijl
Name[nn]=Elementstil
Name[pa]=ਵਿਜੈਟ ਸਟਾਈਲ
Name[pl]=Wygląd interfejsu
Name[pt]=Estilo Gráfico
Name[pt_BR]=Estilo dos widgets
Name[ru]=Стиль интерфейса
Name[sk]=Štýl prvku
Name[sl]=Slog gradnikov
Name[sr]=Стил виџета̂
Name[sr@ijekavian]=Стил виџета̂
Name[sr@ijekavianlatin]=Stil vidžetâ̂
Name[sr@latin]=Stil vidžetâ̂
Name[sv]=Stil för grafiska komponenter
Name[tr]=Parçacık Biçimi
Name[uk]=Стиль віджетів
Name[x-test]=xxWidget Stylexx
Name[zh_CN]=部件风格
Name[zh_TW]=元件樣式
Comment=Widget Style and Behavior
Comment[ar]=نمط الودجات وسلوكها
Comment[ast]=Estilu y comportamientu de widgets
Comment[bs]=Stil i ponašanje grafičke kontrole
Comment[ca]=Estil i comportament dels estris
Comment[ca@valencia]=Estil i comportament dels estris
Comment[cs]=Styl a chování widgetu
Comment[da]=Kontrolstil og -opførsel
Comment[de]=Stil und Verhalten der Bedienelemente
Comment[el]=Στιλ και συμπεριφορά γραφικών συστατικών
Comment[en_GB]=Widget Style and Behaviour
Comment[es]=Estilo y comportamiento de elementos gráficos
Comment[et]=Vidina stiil ja käitumine
Comment[fi]=Käyttöliittymäelementtien tyyli ja toiminta
Comment[fr]=Style et comportement des composants graphiques
Comment[gl]=Estilo e comportamento do trebello
Comment[he]=עיצוב והתנהגות ישומונים
Comment[hu]=Elemstílus és működés
Comment[id]=Gaya dan Perilaku Widget
Comment[is]=Stíll og hegðun skjágræja (widget)
Comment[it]=Stile e comportamento degli oggetti
Comment[ja]=ウィジェットスタイルと挙動
Comment[ko]=위젯 스타일과 행동
Comment[lt]=Valdiklio stilius ir elgsena
Comment[nb]=Stil og oppførsel for skjermelementer
Comment[nds]=Bedeenelement-Stil un -Bedregen
Comment[nl]=Widget-stijl en gedrag
Comment[nn]=Stil og åtferd for skjermelement
Comment[pa]=ਵਿਜੈੱਟ ਸਟਾਈਲ ਅਤੇ ਰਵੱਈਆ
Comment[pl]=Elementy interfejsu - wygląd i zachowanie
Comment[pt]=Estilo e Comportamento Gráfico
Comment[pt_BR]=Estilo e comportamento dos widgets
Comment[ru]=Стиль и облик элементов графического интерфейса
Comment[sk]=Štýl a správanie widgetov
Comment[sl]=Slog in obnašanje gradnikov
Comment[sr]=Стил и понашање виџета̂
Comment[sr@ijekavian]=Стил и понашање виџета̂
Comment[sr@ijekavianlatin]=Stil i ponašanje vidžetâ̂
Comment[sr@latin]=Stil i ponašanje vidžetâ̂
Comment[sv]=Stil och beteende för grafiska komponenter
Comment[tr]=Parçacık Biçimi ve Davranışı
Comment[uk]=Стиль і поведінка віджетів
Comment[x-test]=xxWidget Style and Behaviorxx
Comment[zh_CN]=部件风格和行为
Comment[zh_TW]=元件樣式與行為

X-KDE-Keywords=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma
X-KDE-Keywords[ar]=نمط,أنماط,مظهر,ودجة,أيقونات,أشرطة أدوات,نصّ,أبرِز,تطبيقات,تطبيقات كدي,سمة,بلازما
X-KDE-Keywords[ast]=estilu,estilos,espeutu,widget,iconos,barres de ferramientes,testu,resaltáu, aplicaciones,tema d'aplicaciones de KDE,plasma
X-KDE-Keywords[bs]=stil,stilovi,izgled,dodatak,alatna traka,tekst,naglasiti,aplikacije,KDE aplikacije,tema,plazma
X-KDE-Keywords[ca]=estil,estils,aparença,estri,icones,barres d'eines,text,ressaltat,aplicacions,aplicacions del KDE,tema,plasma
X-KDE-Keywords[ca@valencia]=estil,estils,aparença,estri,icones,barres d'eines,text,ressaltat,aplicacions,aplicacions del KDE,tema,plasma
X-KDE-Keywords[da]=stil,style,udseende,kontrol,widget,ikoner,værktøjslinjer,tekst,fremhævning,programmer,KDE-programmer,tema,plasma
X-KDE-Keywords[de]=Stile,Design,Themes,Schema,Elemente,Bildschirmelemente,Icons,Bedienelemente,Schriften,Symbole,Werkzeugleisten,Text,Hervorhebungen,Knöpfe,Anwendungen,Programme,KDE-Programme
X-KDE-Keywords[el]=στιλ,στιλ,εμφάνιση,γραφικό συστατικό,εικονίδια,γραμμές εργαλείων,κείμενο,τονισμός,εφαρμογές,εφαρμογές KDE,θέμα,plasma
X-KDE-Keywords[en_GB]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma
X-KDE-Keywords[es]=estilo,estilos,apariencia,controles,iconos,barras de herramientas,texto,resaltado,aplicaciones,aplicaciones KDE,tema,plasma
X-KDE-Keywords[et]=stiil,stiilid,välimus,vidin,ikoonid,tööriistaribad,tekst,esiletõstmine,rakendused,KDE rakendused,teema,plasma
X-KDE-Keywords[eu]=estilo,estiloak,itxura,trepeta,ikonoak,tresna-barrak,testua,nabarmentzea,aplikazioak,KDE aplikazioak,gaia,plasma
X-KDE-Keywords[fa]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma
X-KDE-Keywords[fi]=tyyli,tyylit,ulkoasu,käyttöliittymäelementti,elementti,kuvakkeet,työkalurivit,työkalupalkit,teksti,korostus,sovellukset,KDE-sovellukset,teema,plasma
X-KDE-Keywords[fr]=style, styles, apparence, composant graphique, icônes, barres d'outil, texte, mise en valeur, applications, applications KDE, thème, plasma
X-KDE-Keywords[ga]=stíl,stíleanna,cuma,giuirléid,deilbhíní,barraí uirlisí,téacs,aibhsigh,aibhsiú,feidhmchláir,feidhmchláir KDE,téama,plasma
X-KDE-Keywords[gl]=estilo, estilos, aparencia, widget, iconas, barras de ferramentas, texto, realzar, programas, programas de KDE, aplicacións de KDE, tema, plasma
X-KDE-Keywords[hu]=stílus,stílusok,kinézet,widget,ikonok,eszköztárak,szöveg,kiemelés,alkalmazások,KDe alkalmazások,téma,plazma
X-KDE-Keywords[ia]=stilo,stilos,semblantia,widget,icones,barras de instrumento,texto,evidentia,apps,applicationes de KDE,thema,plasma
X-KDE-Keywords[id]=gaya,gaya,tampilan,widget,ikon,batang alat,teks,sorot,aplikasi,aplikasi KDE,tema,plasma
X-KDE-Keywords[it]=stile,stili,aspetto,oggetto,icone,barre degli strumenti,testo,evidenziazione,applicazioni,applicazioni KDE,tema,plasma
X-KDE-Keywords[kk]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma
X-KDE-Keywords[km]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma
X-KDE-Keywords[ko]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,스타일,모양,위젯,아이콘,툴바,도구 모음,강조,프로그램,앱,KDE 프로그램,테마
X-KDE-Keywords[mr]=शैली, शैली्स, लूक, विजेट, आयकॉनस, टूलबारस, टेक्स्ट, हायलाईट, अँप्स  केडीई अप्लिकेशनस, थीम प्लाज्मा
X-KDE-Keywords[nb]=stil,stiler,utseende,skjermelement,ikoner,verktøylinjer,tekst,framhevet,programmer, KDE-programmer,tema,plasma
X-KDE-Keywords[nds]=Stil,Stilen,Utsehn,Lüttprogramm,Lüttbiller,Warktüüchbalkens,Text,Rutheven,Markeren,Programmen,KDE-Programmen,Muster,Plasma
X-KDE-Keywords[nl]=stijl,stijlen,uiterlijk,widget,pictogrammen,werkbalk,tekst,accentuering,apps,KDE-toepassingen,thema,plasma
X-KDE-Keywords[nn]=stil,stilar,utsjånad,skjermelement,ikon,verktøylinjer,tekst,framheva,program,KDE-program,tema,plasma
X-KDE-Keywords[pa]=ਸਟਾਈਲ,ਸ਼ੈਲੀ,ਦਿੱਖ,ਵਿਜੈੱਟ,ਆਈਕਾਨ,ਟੂਲਬਾਰ,ਟੈਕਸਟ,ਪਾਠ,ਸ਼ਬਦ,ਉਭਾਰਨਾ,ਐਪਸ,ਕੇਡੀਈ ਐਪਲੀਕੇਸ਼ਨਾਂ,ਥੀਮ,ਪਲਾਜ਼ਮਾ
X-KDE-Keywords[pl]=style,styl,wygląd,element interfejsu,ikony,paski narzędzi,tekst,podświetlenie,programy,programy KDE,motyw,plazma
X-KDE-Keywords[pt]=estilo,estilos,aparência,elemento,item,ícones,barras de ferramentas,texto,realce,aplicações,aplicações do KDE,tema,plasma
X-KDE-Keywords[pt_BR]=estilo,estilos,aparência,widget,ícones,barras de ferramentas,texto,realce,aplicativos,aplicativos do KDE,tema,plasma
X-KDE-Keywords[ro]=stil,stiluri,aspect,widget,control,pictograme,bare de unelte,text,evidențiere,aplicații,aplicații KDE,temă,plasma
X-KDE-Keywords[ru]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,стиль,стили,внешний вид,виджет,значки,панель инструментов,текст,подсветка,приложения,приложения KDE,тема,плазма
X-KDE-Keywords[sk]=štýl,štýly,vzhľad,widget,ikony,panely nástrojov,text,zvýraznenie,aplikácie,KDE aplikácie,téma,plasma
X-KDE-Keywords[sl]=slog,slogi,videz,gradnik,ikone,orodjarne,orodne vrstice,besedilo,poudarek,programi,tema,plasma
X-KDE-Keywords[sr]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,стил,стилови,изглед,виџет,иконице,траке алатки,текст,истицање,програми,КДЕ програми,тема,Плазма
X-KDE-Keywords[sr@ijekavian]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,стил,стилови,изглед,виџет,иконице,траке алатки,текст,истицање,програми,КДЕ програми,тема,Плазма
X-KDE-Keywords[sr@ijekavianlatin]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,stil,stilovi,izgled,vidžet,ikonice,trake alatki,tekst,isticanje,programi,KDE programi,tema,Plasma
X-KDE-Keywords[sr@latin]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,stil,stilovi,izgled,vidžet,ikonice,trake alatki,tekst,isticanje,programi,KDE programi,tema,Plasma
X-KDE-Keywords[sv]=stil,stilar,utseende,grafisk komponent,ikoner,verktygsrader,text,markering,program,KDE-program,tema,plasma
X-KDE-Keywords[tr]=biçim,biçimler,görünüm,parçacık,simgeler,araç çubukları,metin,vurgulama,uygulamalar,KDE uygulamaları,tema,plasma
X-KDE-Keywords[uk]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,стиль,стилі,вигляд,віджет,піктограма,піктограми,значок,значки,іконки,панель,панель інструментів,текст,підсвічування,позначення,програма,програми,тема,плазма
X-KDE-Keywords[x-test]=xxstylexx,xxstylesxx,xxlookxx,xxwidgetxx,xxiconsxx,xxtoolbarsxx,xxtextxx,xxhighlightxx,xxappsxx,xxKDE applicationsxx,xxthemexx,xxplasmaxx
X-KDE-Keywords[zh_CN]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma,风格,外观,部件,图标,工具栏,文本,突出显示,程序,KDE 应用程序,主题
X-KDE-Keywords[zh_TW]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,theme,plasma

Categories=Qt;KDE;X-KDE-settings-looknfeel;
