[Desktop Entry]
Comment=Default panel toolbox for the Plasma desktop shell
Comment[nl]=Standaard paneelhulpmiddelen voor de Plasma bureaublad-shell
Comment[uk]=Типовий набір інструментів панелі для оболонки Плазми стаціонарних комп’ютерів
Comment[x-test]=xxDefault panel toolbox for the Plasma desktop shellxx
Icon=plasma
Name=Panel toolbox
Name[nl]=Paneelhulpmiddelen
Name[uk]=Набір інструментів панелі
Name[x-test]=xxPanel toolboxxx
Type=Service

X-KDE-ServiceTypes=Plasma/ToolBox
X-KDE-Library=plasma_toolbox_paneltoolbox
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.paneltoolbox
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

