[Desktop Entry]
Exec=kcmshell5 language
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/language/index.html

X-KDE-Library=kcm_locale
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=locale
X-KDE-Weight=50

Name=Country/Region & Language
Name[uk]=Країна/Регіон та мова
Name[x-test]=xxCountry/Region & Languagexx
Comment=Language, numeric, and time settings for your particular region
Comment[uk]=Налаштування мови, показ чисел та часу для вашого регіону
Comment[x-test]=xxLanguage, numeric, and time settings for your particular regionxx

X-KDE-Keywords=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[uk]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,мова,мови,переклад,переклади,числа,формат,число,локаль,країна,набір,символ,кодування,розряд,тисяч,дробовий,дробова частина,роздільник,символ,знак,додатне,додатний,додатній,від’ємний,від’ємне,валюта,гроші,грошова одиниця,календар,час,дата,формати,тиждень,робочий тиждень,початок тижня,перший,папір,аркуш,вимір,виміри,вимірювання,одиниці вимірювання,метричний,метричні,метр,англійські,імперські
X-KDE-Keywords[x-test]=xxlanguage,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperialxx

Categories=Qt;KDE;X-KDE-settings-accessibility;
