[Desktop Entry]
Exec=kcmshell5 language
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/language/index.html

X-KDE-Library=kcm_locale
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=locale
X-KDE-Weight=50

Name=Country/Region & Language
Name[af]=Land/Streek & Taal
Name[ar]=البلد/المنطقة واللغة
Name[ast]=País/rexón y llingua
Name[be]=Краіна/Рэгіён і Мова
Name[be@latin]=Kraina/Miascovaść i mova
Name[bg]=Държава и език
Name[bn]=দেশ/এলাকা ও ভাষা
Name[bn_IN]=দেশ/অঞ্চল ও ভাষা
Name[br]=Bro/Rann-vro & yezh
Name[bs]=Država (regija) i jezik
Name[ca]=País/Regió i idioma
Name[ca@valencia]=País/Regió i idioma
Name[cs]=Země/region a jazyk
Name[csb]=Kraj/dzél kraju ë jãzëk
Name[cy]=Gwlad/Rhanbarth ac Iaith
Name[da]=Land/region og sprog
Name[de]=Land/Region & Sprache
Name[el]=Χώρα/Περιοχή & Γλώσσα
Name[en_GB]=Country/Region & Language
Name[eo]=Lando/regiono & lingvo
Name[es]=País/región e idioma
Name[et]=Riik/regioon ja keel
Name[eu]=Herrialdea/Eskualdea eta hizkuntza
Name[fa]=کشور/منطقه & زبان
Name[fi]=Alue ja kieli
Name[fy]=Lân/regio en taal
Name[ga]=Tír/Réigiún agus Teanga
Name[gl]=País/Rexión e lingua
Name[gu]=દેશ/વિસ્તાર & ભાષાઓ
Name[he]=מדינה, אזור ושפה
Name[hi]=देश/क्षेत्र व भाषा
Name[hne]=देस/छेत्र अउ भाखा
Name[hr]=Zemlja i jezik
Name[hsb]=Kraj/kónčina & Rěč
Name[hu]=Ország/régió és nyelv
Name[ia]=Pais/Region & Linguage
Name[id]=Negara/Daerah & Bahasa
Name[is]=Land & tungumál
Name[it]=Lingua e paese
Name[ja]=国と言語
Name[ka]=ქვეყანა/რეგიონი და ენა
Name[kk]=Ел/өлке және тіл
Name[km]=ប្រទេស/តំបន់ និង​ភាសា
Name[kn]=ದೇಶ/ಪ್ರದೇಶ ಮತ್ತು ಭಾಷೆ
Name[ko]=국가, 지역 및 언어
Name[ku]=Welat/Herên & Ziman
Name[lt]=Šalis/regionas ir kalba
Name[lv]=Valsts/reģions un valoda
Name[mai]=देश/क्षेत्र आ भाषा
Name[mk]=Земја/регион и јазик
Name[ml]=രാജ്യം/പ്രദേശം, ഭാഷ
Name[mr]=देश/क्षेत्र व भाषा
Name[ms]=Negara/Rantau & Bahasa
Name[nb]=Land/region og språk
Name[nds]=Land, Regioon un Spraak
Name[ne]=देश/क्षेत्र र भाषा
Name[nl]=Land/regio en taal
Name[nn]=Land og språk
Name[or]=ଦେଶ/ଅଞ୍ଚଳ ଏବଂ ଭାଷା
Name[pa]=ਦੇਸ਼/ਖੇਤਰ ਅਤੇ ਭਾਸ਼ਾ
Name[pl]=Kraj/region i język
Name[pt]=País/Região e Língua
Name[pt_BR]=País/região e idioma
Name[ro]=Țara/regiunea și limba
Name[ru]=Язык и стандарты
Name[se]=Riika/guovla ja giella
Name[si]=රට/ප්‍රදේශය සහ භාෂාව 
Name[sk]=Krajina/región a jazyk
Name[sl]=Država/regija in jezik
Name[sr]=Држава (регија) и језик
Name[sr@ijekavian]=Држава (регија) и језик
Name[sr@ijekavianlatin]=Država (regija) i jezik
Name[sr@latin]=Država (regija) i jezik
Name[sv]=Land/region och språk
Name[ta]=நாடு/இடம் மற்றும் மொழி
Name[te]=దేశం/రాజ్యం & భాష
Name[tg]=Кишвар/Минтақа ва Забон
Name[th]=ประเทศ/เขตพื้นที่และภาษา
Name[tr]=Ülke/Bölge ve Dil
Name[ug]=دۆلەت/رايون ۋە تىل
Name[uk]=Країна/Регіон та мова
Name[uz]=Davlat/region va til
Name[uz@cyrillic]=Давлат/регион ва тил
Name[vi]=Quốc gia và ngôn ngữ
Name[wa]=Payis & lingaedje
Name[xh]=Ilizwe/Ummandla & Ulwimi
Name[x-test]=xxCountry/Region & Languagexx
Name[zh_CN]=国家/地区和语言
Name[zh_TW]=國家/地區與語言
Comment=Language, numeric, and time settings for your particular region
Comment[af]=Taal, numeries, en tyd instellings vir jou spesifieke streek
Comment[ar]=إعدادات اللغة والأرقام والوقت لمنطقتك
Comment[ast]=Preferencies de llingua, formatu numbéricu y data/hora pa rexón en particular
Comment[be]=Моўныя, лічбавыя і часавыя настаўленні для вашага канкрэтнага рэгіёну
Comment[be@latin]=Nałady movy, likaŭ i času dla peŭnaj miascovaści
Comment[bg]=Настройване на държавата, езика, формата на датата и часа и др.
Comment[bn]=আপনার স্থানীয় ভাষা, সময় এবং সংখ্যা বর্ণনা সম্বন্ধীয় নিয়মাবলী
Comment[bn_IN]=প্রযোজ্য অঞ্চলের ভাষা, সংখ্যা ও সময় সংক্রান্ত বৈশিষ্ট্য
Comment[br]=Kefluniadur yezh, sifroù hag eur evit ho rannved-c'hwi
Comment[bs]=Postavke jezika, brojeva i vremena prema vašem okruženju
Comment[ca]=Arranjament d'idioma, numèric i horari per a la vostra regió
Comment[ca@valencia]=Arranjament d'idioma, numèric i horari per a la vostra regió
Comment[cs]=Nastavení jazyka, formátu čísel a času pro váš region
Comment[csb]=Jãzëk, fòrmat wielënów ë czasu dlô Twòji òbeńdë
Comment[cy]=Gosodiadu iaith,rhifau,ac amser i'ch rhanbarth
Comment[da]=Sprog-, tal-, og tidsindstillinger for din region
Comment[de]=Sprache, Zahlen- und Zeitformate für Ihr Land
Comment[el]=Γλωσσικές, αριθμητικές και ρυθμίσεις ώρας για την περιοχή σας
Comment[en_GB]=Language, numeric, and time settings for your particular region
Comment[eo]=Agordoj de lingvoj, nombroj kaj tempindikoj por via specifa regiono
Comment[es]=Preferencias del idioma, formato numérico y fecha/hora para su región particular
Comment[et]=Sinu regiooni keele, numbrite ja kellaaja seadistused
Comment[eu]=Eskualde jakin bateko  hizkuntza-, ordu- eta zenbaki-ezarpenak
Comment[fa]=زبان، عدد، و تنظیمات زمان برای منطقه خاص شما
Comment[fi]=Alueen, kielen, ajan ja lukujen asetukset
Comment[fy]=Taal-, numeryk, en tiidsynstelling foar jo eigen regio
Comment[ga]=Socruithe teanga, uimhreacha, agus ama le haghaidh do réigiúin
Comment[gl]=Lingua e parámetros numéricos/horarios da súa rexión
Comment[gu]=તમારાં ચોક્કસ વિસ્તાર માટે ભાષા, સંખ્યા, અને સમયની ગોઠવણીઓ
Comment[he]=שינוי הגדרות שפה, ואופן הצגת מספרים ושעה עבור האיזור הייחודי שלך
Comment[hi]=भाषा,अंकीय, तथा आपके विशेष क्षेत्र के लिए समय विन्यास
Comment[hne]=भाखा,अंकीय, अउ आप मन के विसेस छेत्र बर समय सेटिंग
Comment[hr]=Jezik, oblik brojeva i vremenska postavke za određenu regiju
Comment[hsb]=Rěč, ličby a časowe nastajenja za Wašu kónčinu
Comment[hu]=Nyelv-, szám- és időbeállítások
Comment[ia]=Preferentias de linguage, numeric e de tempore pro tu particular region
Comment[id]=Pengaturan bahasa, numerik, dan waktu khususnya untuk daerah anda
Comment[is]=Tungumál og framsetning talna og dagssetninga
Comment[it]=Impostazioni nazionali per la lingua, i numeri, la data e l'ora
Comment[ja]=地域特有の言語と数値や日付書式を設定
Comment[ka]=თქვენი რეგიონისთვის ენის, თარიღის და ციფრული ფორმატის კონფიგურაცია
Comment[kk]=Өлкеңіздің тіл, сан және уақыт пішімін орнату
Comment[km]=​ការ​កំណត់​ភាសា លេខ និង​​ពេលវេលា​សម្រាប់​តំបន់​ពិសេស​របស់​អ្នក
Comment[kn]=ಭಾಷೆ, ಅಂಕೀಯ (ನ್ಯೂಮರಿಕ್), ಮತ್ತು ನಿಮ್ಮ ಪ್ರದೇಶದ ಸಮಯ ಸಂಯೋಜನೆಗಳು
Comment[ko]=살고 있는 지역의 언어, 수, 시간 설정
Comment[ku]=Ziman, pîvan û mîhengên demê ji bo herêma te
Comment[lt]=Kalba, skaitiniai ir laiko nustatymai Jūsų individualiam regionui
Comment[lv]=Valodas, numuru un laika iestatījumi jūsu konkrētajam reģionam
Comment[mai]=भाषा,अंकीय, आओर अहाँक विशेष क्षेत्र क' लेल समय बिन्यास
Comment[mk]=Поставувања на јазикот, броевите и времето за вашиот регион
Comment[ml]=നിങ്ങളുടെ പ്രദേശത്തിനുള്ള ഭാഷ, അക്കങ്ങള്‍, സമയം എന്നിവയ്ക്കുള്ള സജ്ജീകരണങ്ങള്‍
Comment[mr]=आपल्या विशेष क्षेत्र करिता भाषा, अंकीय, व वेळ संयोजना
Comment[nb]=Språk-, tall- og tidsinnstillinger for ditt område
Comment[nds]=Spraak, Tallen un Tietformaat för Dien Land instellen
Comment[ne]=तपाईँको बिशेष क्षेत्रका लागि भाषा, सङ्ख्यात्मक, र समय सेटिङ
Comment[nl]=Taal-, numerieke, en tijdsinstelling voor uw eigen regio
Comment[nn]=Innstillingar for språk, tal og tid i regionen din
Comment[or]=ଭାଷା, ସଂଖ୍ୟାତ୍ମକ, ଏବଂ ଆପଣଙ୍କର ନିର୍ଦ୍ଦିଷ୍ଟ ଅଞ୍ଚଳ ପାଇଁ ସମୟ ସଂରଚନା
Comment[pa]=ਆਪਣੇ ਖਾਸ ਖੇਤਰ ਲਈ ਭਾਸ਼ਾ, ਅੰਕੀ ਤੇ ਸਮਾਂ ਸੈਟ ਕਰੋ
Comment[pl]=Ustawienia języka, formatu liczb i czasu dla Twojego regionu
Comment[pt]=Configuração da língua e dos parâmetros numéricos/horários para a sua região
Comment[pt_BR]=Preferências numéricas, de idioma e formatos de data e hora para a sua região
Comment[ro]=Limba, afișarea numerelor și orei în modul specific regiunii unde locuiți
Comment[ru]=Настройка языка, даты и времени для вашего региона
Comment[se]=Báikkalaš giella-,lohko- ja áigeheivehusat
Comment[si]=ඔබගේ ප්‍රදේශයට අදාල භාශාව, අංකනය හා වේලා සැකසුම්.
Comment[sk]=Nastavenie jazyka, formátu čísel, a času pre váš región
Comment[sl]=Jezikovne, številske in časovne nastavitve za vaše območje
Comment[sr]=Поставке језика, бројева и времена према вашем окружењу
Comment[sr@ijekavian]=Поставке језика, бројева и времена према вашем окружењу
Comment[sr@ijekavianlatin]=Postavke jezika, brojeva i vremena prema vašem okruženju
Comment[sr@latin]=Postavke jezika, brojeva i vremena prema vašem okruženju
Comment[sv]=Ställ in språk, numeriskt format och tid för din speciella region
Comment[ta]= குறிப்பிட்ட பகுதிக்கான மொழி, எண் மற்றும் நேர அமைப்புகள்
Comment[te]=మీ ప్రాంతమునకు సంభందించిన భాష, సంఖ్యలు, మరియు సమయ అమర్పులు
Comment[tg]=Танзимоти забон, рақамҳо ва вақт барои минтақаи муайяншуда
Comment[th]=รูปแบบภาษา, ตัวเลข และเวลาสำหรับพื้นที่ที่คุณอยู่
Comment[tr]=Bölgenize özgü dil, sayı ve zaman ayarları
Comment[ug]=سىز تۇرۇشلۇق ئورۇننىڭ تىل، رەقەم ۋە ۋاقىت تەڭشىكى
Comment[uk]=Налаштування мови, показ чисел та часу для вашого регіону
Comment[uz]=Davlatingiz uchun til, son va vaqt moslamalari
Comment[uz@cyrillic]=Давлатингиз учун тил, сон ва вақт мосламалари
Comment[vi]=Ngôn ngữ, số và các thiết lập về thời gian cho vùng cụ thể
Comment[wa]=Apontiaedje do lingaedje et des preferinces (prezintaedje des limeros, des dates, evnd.) po vosse payis
Comment[xh]=Ulwimi, amanani, kunye nezicwangciso zexesha zommandla wakho
Comment[x-test]=xxLanguage, numeric, and time settings for your particular regionxx
Comment[zh_CN]=您所在地区的语言、数字和时间设置
Comment[zh_TW]=您所在地區的語言、數字和時間設定

X-KDE-Keywords=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[bg]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,език,превод,числа,формат,страна, държава,кодова таблица,кодировка,десетичен знак,разделител,валута,пари,календар,време,дата, седмица,работен ден,мерна единица,печат,размер
X-KDE-Keywords[bn]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[bs]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,jezik,prevođenje,format brojeva,lokalizacija,skup znakova,decimalni simboli,separator hiljada,predznak,valuta,razlomak,kalendat,vrijem,datum,papir.,mjere
X-KDE-Keywords[ca]=idioma,traducció,format numèric,regional,país,jocs de caràcters,joc de caràcters,símbol decimal,separador de milers,símbol,separador,signe,positiu,negatiu,moneda,diners,dígits fraccionaris,calendari,hora,data,formats,setmana,inici de setmana,primer,paper,mida,carta,A4,mesura,mètric,Anglès,Imperial
X-KDE-Keywords[ca@valencia]=idioma,traducció,format numèric,regional,país,jocs de caràcters,joc de caràcters,símbol decimal,separador de milers,símbol,separador,signe,positiu,negatiu,moneda,diners,dígits fraccionaris,calendari,hora,data,formats,setmana,inici de setmana,primer,paper,mida,carta,A4,mesura,mètric,Anglés,Imperial
X-KDE-Keywords[cs]=jazyk,překlad,formát čísel,locale,Země,znakové sady,sady znaků,Decimální symbol,Oddělovač tisíců,symbol,oddělovač,znaménko,kladné,záporné,měna,peníze,zlomky,kalendář,čas,datum,formáty,týden,začátek týdne,první,papír,velikost,dopis,A4,míry,metrické,Anglické,Imperiální
X-KDE-Keywords[da]=sprog,oversættelse,talformat,locale,lokalitet,land,tegnsæt,decimalsymbol,tusindtalsseparator,symbol,separator,positive,negative,valuta,penge,brøktal,kalender,tid,dato,formater,uge,ugestart,første,papir,størrelse,letter,A4,måleenhed,metrisk,Engelsk,Imperial
X-KDE-Keywords[de]=Sprachen,Übersetzung,Zahlenformat,Währung,Zeit,Datum,Formate,Regionales,Land,Zeichensätze,Dezimalzeichen,Tausendertrennzeichen,Symbole,Zeichen,Vorzeichen,Positiv,Negativ,Bruchzahlen,Wochenanfang,Papierformat,A4,Letter,Metrisch,Imperial,Maßeinheiten
X-KDE-Keywords[el]=γλώσσα,μετάφραση,μορφή αριθμού,εντοπιότητα,χώρα,charsets,σύνολα χαρακτήρων,δεκαδικό σύμβολο,διαχωριστικό χιλιάδων,σύμβολο,διαχωριστικό,πρόσημο,θετικό,αρνητικό,νόμισμα,χρήμα,δεκαδικά ψηφία,ημερολόγιο,ώρα,ημερομηνία,μορφές,εβδομάδα,αρχή εβδομάδας,πρώτη,χαρτί,μέγεθος,letter,A4,μέτρηση,μετρικό,Αγγλικό,Αγγλοσαξονικό
X-KDE-Keywords[es]=idioma,traducción,formato de número,local,País,codificación,separador de decimales,separador de miles,símbolo,separador,signo,positivo,negativo,moneda,divisa,dígitos decimales,calendario,hora,fecha,formatos,semana,primer día de la semana,primero,papel,tamaño,carta,A4,medida,métrico,Inglés,Imperial
X-KDE-Keywords[et]=keel,tõlkimine,arvuvorming,lokaat,riik,kodeering,kooditabel,kümnendkoht,tuhandete eraldaja,sümbol,eraldaja,märk,positiivne,negatiivne,raha,valuuta,murdarvud,kalender,kellaaeg,aeg,kuupäev,vormingud,nädal,nadala algus,paber,suurus,letter,A4,mõõtühikud,meetersüsteem,inglise süsteem
X-KDE-Keywords[eu]=hizkuntza,itzulpena,zenbaki-formatua,eskualde-ezarpenak,Herrialdea,karaktere-jokoak,karaktere-jokoak,Ikur dezimala,Milakoen bereizlea,ikurra,bereizlea,zeinua,positiboa,negatiboa,moneta,dirua,zatikizko zifrak,egutegia,ordua,data,formatuak,astea,aste-hasiera,lehena,papera,tamaina,gutuna,A4,neurria,metrikoa,Ingelesa,Inperiala
X-KDE-Keywords[fa]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[fi]=kieli,käännös,kääntäminen,lukujen muotoilu,numeroiden muotoilu,locale,alue,alueasetukset,maa,merkistöt,desimaalierotin,tuhaterotin,symboli,erotin,merkki,positiivinen,negatiivinen,valuutta,raha,desimaalipaikkoja,desimaalipaikat,kalenteri,aika,kellonaika,päiväys,päivämäärä,muodot,viikko,viikon alku,viikon ensimmäinen päivä,ensimmäinen,paperi,koko,letter,A4,mittajärjestelmä,mittaaminen,metrinen,Anglosaksinen
X-KDE-Keywords[ga]=teanga,aistriúchán,formáid uimhreacha,logchaighdeán,Tír,tacair carachtar,siombail dheachúlach,deighilteoir mílte,siombail,deighilteoir,comhartha,deimhneach,diúltach,airgeadra,airgead,digití,féilire,am,dáta,formáidí,seachtain,tús na seachtaine,tús,páipéar,méid,litir,A4,tomhas,méadrach,Béarla,Impiriúil
X-KDE-Keywords[gl]=lingua, idioma, tradución, formato numérico, local, País, caracteres, carácter, símbolo decimal, separador de milleiros, separador, signo, positivo, negativo, divisa, cartos, moeda, díxitos fraccionarios, calendario, almanaque, hora, data, formato, semana, primeiro día, papel, tamaño, A4, medida, métrico, inglés, imperial
X-KDE-Keywords[gu]=ભાષા,ભાષાંતર,આંકડાનું બંધારણ,લિપિ,દેશ,અક્ષરસમૂહ,અક્ષર સમૂહો,દશાંશ ચિહ્ન,હજારને જુદું પાડનાર,ચિહ્ન,જુદું પાડનાર,નિશાની,ધન,ઋણ,ચલણ,પૈસા,અપૂર્ણાંક સંખ્યાઓ,તારિખીયું,સમય,તારીખ,બંધારણો,અઠવાડિયું,અઠવાડિયાંની શરુઆત,પહેલું,કાગળ,માપ,પત્ર,A4,માપ,મેટ્રિક,અંગ્રેજી,ઇમ્પિરીઅલ
X-KDE-Keywords[hi]=भाषा, अनुवाद, संख्या स्वरूप, स्थान, देश, charsets, वर्ण सेट्स,दशमलव प्रतीक, हजारों विभाजक, प्रतीक, विभाजक, हस्ताक्षर, सकारात्मक, नकारात्मक,मुद्रा, पैसा, भिन्नात्मक अंक, पंचांग, समय, तिथि, स्वरूप, सप्ताह, सप्ताह प्रारंभ,पहले, कागज, आकार, पत्र, A4, उपाय, मैट्रिक, अंग्रेजी, इम्पीरियल
X-KDE-Keywords[hu]=nyelv,fordítás,számformátum,területi beállítás,Ország,karakterkészletek,karakterkészletek,tizedesjel,ezres elválasztó,szimbólum,elválasztó,jel,pozitív,negatív,pénznem,pénz,tört számjegyek,naptár,idő,dátum,formátumok,hét,hét kezdete,első,papír,méret,letter,A4,measure,metrikus,Angol,Birodalmi
X-KDE-Keywords[ia]=linguage,traduction,formato de numero,locale,Pais,charsets,insimul de characteres, Symbolo decimal,separator de milles,symbolo,separator,signo,positive,negative,numerario,moneta,cifras fractional,calendario,tempore,data,formatos,septimana,initio de septimana, prime,papiro,grandor,littera,A4,me 
X-KDE-Keywords[id]=bahasa,terjemahan,format angka,locale,Negara,set karakter,set karakter,Simbol desimal,Pemisah ribuan,simbol,pemisah,tanda,positif,negatif,mata uang,uang,digit fraksi,kalender,waktu,tanggal,format,minggu,awal minggu,pertama,kertas,ukuran,surat,A4,satuan,metrik,Inggris,Imperial
X-KDE-Keywords[is]=tungumál,þýðing,talnasnið,staðfærsla,Land,stafasett,stafatafla,tugatákn,þúsund,tákn,aðgreinir,merki,jákvætt,neikvætt,gjaldmiðill,peningar,tugabrot,dagatal,tími,dagsetning,snið,vika,upphafsdagur,fyrst,pappír,size,bréf,A4,mál,metra,Enskt,Imperial
X-KDE-Keywords[it]=language,translation,number format,locale,nazione,codifica,insieme dei caratteri,simbolo decimale,separatore delle migliaia,simbolo,separatore,segno,positivo,negativo,moneta,cifre decimali,calendario,ora,data,formati,settimana,inizio settimana,primo,carta,dimensione,lettera,A4,misura,metrico,inglese,imperiale
X-KDE-Keywords[ja]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[kk]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[km]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[ko]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,언어,번역,로캘,국가,나라,인코딩,문지 집합,소수점,천,기호,구분자,부호,양수,음수,통화,돈,달력,날짜,시간,주,용지,측정,미터법
X-KDE-Keywords[lv]=valoda,tulkojums,skaitļu formāts,lokāle,valsts,rakstzīmju kopas,decimālais simbols,tūkstošu atdalītājs,simbols,atdalītājs,zīme,pozitīvs,negatīvs,valūta, nauda,daļskaitļi,kalendārs,laiks,datums,formāti,nedēļa,nedēļas sākums, pirmais,papīrs,izmērs,vēstule,A4,mērvienības,metriskā,angļu,imperiālā
X-KDE-Keywords[mr]=भाषा, भाषांतर, संख्या पद्धत, स्थानिक, देश, अक्षर संच, दशमान चिन्ह, सहस्त्र विभाजक, चिन्ह, विभाजक, निशाणी, पैसा, अपूर्णांक संख्या, दिनदर्शिका, वेळ, दिनांक, पद्धत, आठवडा, प्रथम, पान, आकार, A4, दशमान, इंग्रजी, शाही
X-KDE-Keywords[nb]=språk,oversettelse,tallformat,lokale,Land,tegnsett,desimalsymbol,tusenseparator,symbol,separator,fortegn,positivt,negativt,valuta.penger,brøktall, tid,dato,formater,uke,ukestart,først,papir,letter,A4,mål.metrisk,engelsk,imperial
X-KDE-Keywords[nds]=Spraak,Översetten,Tallenformaat,Spraakkoderen,Regiooninstellen,Land,Tekensett,Tekensetten,Dezimaalteken,Trennteken för Dusend,Teken,Trennteken,Trenner,Vörteken,positiv,negativ,Geldsort,Geld,Brooktallen,Nakommasteden,Kalenner,Tiet,Datum,Formaten,Week,Wekenanfang,eerst,Papeer,Papeergrött,A4,Meten,metersch,Eenheit,engelsch
X-KDE-Keywords[nl]=taal,vertaling,getalformaat,locale,land,tekensets,decimaalsymbool,duizendscheidingsteken,symbool,scheidingsteken,teken,positief,negatief,valuta,geld,decimale cijfers,agenda,tijd,datum,formaten,week,weekbegin,eerst,papier,grootte,letter,A4,afmeting,metrisch,Engels,Imperiaal
X-KDE-Keywords[nn]=språk,omsetjing,talformat,lokale,locale,land,teiknkodingar,teiknsett,desimalskiljetekn,tusenskiljeteikn,symbol,skiljeteikn,tein,positiv,negativ,valuta,pengar,siffer,kalender,tid,dato,klokkeslett,format,veke,vekestart,første,papir,storleik,letter,A4,mål,metrisk,engelsk
X-KDE-Keywords[pa]=ਭਾਸ਼ਾ,ਅਨੁਵਾਦ,ਨੰਬਰ ਫਾਰਮੈਟ,ਅੰਕ ਫਾਰਮੈਟ,ਲੋਕੇਲ,ਦੇਸ਼,ਅੱਖਰਸੈੱਟ,ਅੱਖਰ-ਸੈੱਟ,ਦਸ਼ਮਵਲ ਨਿਸ਼ਾਨ,ਹਜ਼ਾਰ,ਨਿਸ਼ਾਨ,ਵੱਖਰੇਵਾਂ,ਸਾਈਨ,ਧਨਾਤਮਕ,ਰਿਣਾਤਮਕ,ਮੁਦਰਾ,ਪੈਸਾ,ਧਨ,ਭਿੰਨ ਅੰਕ,ਕੈਲੰਡਰ,ਸਮਾਂ,ਮਿਤੀ,ਤਿਥੀ,ਤਾਰੀਖ,ਫਾਰਮੈਟ,ਹਫ਼ਤਾ,ਹਫ਼ਤਾ ਸ਼ੁਰੂ,ਪਹਿਲਾਂ,ਪੇਪਰ,ਸਫ਼ਾ,ਆਕਾਰ,ਸਾਈਜ਼,ਪੱਤਰ,ਲੈਟਰ,A4,ਏ4,ਮਾਪ,ਮਾਪਕ,ਅੰਗਰੇਜ਼ੀ,ਮੀਟਰ
X-KDE-Keywords[pl]=język,tłumaczenie,format liczb,regionalność,kraj,zestaw znaków,symbol dziesiętny,separator tysięcy,symbol,separator,znak,dodatni,ujemny,waluta,pieniądze,ułamkowe cyfry,kalendarz,czas,data,formaty,tydzień,początek tygodnia,pierwszy,papier,rozmiar,list,A4,miara,metryczna,Angielski,Cesarskie
X-KDE-Keywords[pt]=língua,tradução,formato de números,localização,país,codificações,codificações de caracteres,símbolo decimal,separador de milhares,símbolo,separador,sinal,positivo,negativo,moeda,monetário,casas decimais,hora,data,formatos,semana,início da semana,primeiro,papel,tamanho,carta,A4,medida,medir,Inglês,Imperial
X-KDE-Keywords[pt_BR]=idioma,tradução,formato de números,localização,país,codificações,codificações de caracteres,símbolo decimal,separador de milhares,símbolo,separador,sinal,positivo,negativo,moeda,monetário,casas decimais,calendário,hora,data,formatos,semana,início da semana,primeiro,papel,tamanho,carta,A4,medida,medir,Inglês,Imperial
X-KDE-Keywords[ro]=limbă,traducere,format număr,localizare,țară,set de caractere,seturi de caractere,simbol decimal, separator de mii,simbol,separator,semn,pozitiv,negativ,monedă,bani,zecimale,calendar,timp,dată,formate, început,săptămînă,prima,hîrtie,dimensiune,A4,măsură,metric,unități,Imperial
X-KDE-Keywords[ru]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,язык,перевод,формат чисел,локаль,страна,кодировка,наборы символов,десятичный разделитель,тысячный разделитель,символ,разделитель,подпись,положительный, отрицательный,валюта, деньги, дробные цифры, календарь, время, дата,формат, неделя,начало недели,бумага,размер, буквы,измерение,система мера,метрика
X-KDE-Keywords[sk]=jazyk,preklad,number format,locale,Krajina,charsets,character sets,Decimal symbol,Thousands separator,symbol,oddeľovač,znamienko,kladný,záporný,mena,peniaze,fractional digits,kalendár,čas,dátum,formáty,týždeň,week start,prvý,papier,veľkosť,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[sl]=jezik,jeziki,prevod,prevodi,oblika števil,krajevne nastavitve,država,znaki,nabori znakov,decimalno ločilo,ločilo skupin,simbol,ločilo,ločilnik,negativno,pozitivno,oznaka,valuta,denar,decimalke,decimalna mesta,koledar,datum,oblike,teden,začetek tedna,prvi,papir,velikost,letter,a4,mere,mera,metrika,merski sistem,enote,enota
X-KDE-Keywords[sr]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,језик,превод,формат бројева,локалитет,држава,кодирање,децимални симбол,раздвајач хиљада,раздвајач,симбол,знак,позитивно,негативно,валута,новац,разломак,календар,време,датум,формати,седмица,почетак седмице,недеља,папир,величина,А4,летер,метрички,империјални
X-KDE-Keywords[sr@ijekavian]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,језик,превод,формат бројева,локалитет,држава,кодирање,децимални симбол,раздвајач хиљада,раздвајач,симбол,знак,позитивно,негативно,валута,новац,разломак,календар,време,датум,формати,седмица,почетак седмице,недеља,папир,величина,А4,летер,метрички,империјални
X-KDE-Keywords[sr@ijekavianlatin]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,jezik,prevod,format brojeva,lokalitet,država,kodiranje,decimalni simbol,razdvajač hiljada,razdvajač,simbol,znak,pozitivno,negativno,valuta,novac,razlomak,kalendar,vreme,datum,formati,sedmica,početak sedmice,nedelja,papir,veličina,A4,leter,metrički,imperijalni
X-KDE-Keywords[sr@latin]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,jezik,prevod,format brojeva,lokalitet,država,kodiranje,decimalni simbol,razdvajač hiljada,razdvajač,simbol,znak,pozitivno,negativno,valuta,novac,razlomak,kalendar,vreme,datum,formati,sedmica,početak sedmice,nedelja,papir,veličina,A4,leter,metrički,imperijalni
X-KDE-Keywords[sv]=språk,översättning,nummerformat,plats,Land,teckenuppsättningar,decimalsymbol,tusentalsavgränsare,symbol,avgränsare,tecken,positivt,negativt,valuta,pengar,bråkdelssiffror,kalender,tid,datum,format,vecka, veckostart,först,papper,storlek,letter,A4,mått,meter,engelska
X-KDE-Keywords[tg]=забон,тарҷума,формати рақамҳо,маҳаллисозӣ,Мамлакат,рамзгузорӣ,маҷмӯъи ҳарфҳо,аломати даҳӣ,Ҷудокунандаи ҳазорҳо,ишора,ҷудокунанда,аломат,мусбат,манфӣ,асъор,пул,рақамҳои касрӣ,тақвим,вақт,сана,форматҳо,ҳафта,оғози ҳафта,якум,коғаз,андоза,мактуб,A4,меъёр,метрикӣ,Тоҷикӣ,Импералӣ
X-KDE-Keywords[tr]=dil,çeviri,sayısal biçim,yerel,Ülke,karakter seti,karakter setleri,Ondalık sembolü,binler basamağı ayırıcı,sembol,ayırıcı,işaret,pozitif,negatif,para birimi,para,kesir,takvim,saat,tarih,biçimler,hafta,hafta başı,ilk,kağıt,boyut,A4,mektup,ölçü,metrik,İngiliz
X-KDE-Keywords[ug]=تىل،تەرجىمە،سانلارنىڭ يېزىلىشى،يەرلەشمە،دۆلەت،ھەرپ توپى، ھەرپ توپى،ئونلۇق بەلگىلەر،مىڭلار خانە ئايرىغۇچ، بەلگە،ئايرىغۇچ،ئالامەت،مۇسبەت،مەنپىي،پۇل،كەسىرسان،يىلنامە،ۋاقىت،چېسلا،پىچىملار،ھەپتە،ھەپتە بېشى،تۇنجى،قەغەز،چوڭلۇق،خەت،A4،ئۆلچەش،ئۇزۇنلۇق بىرلىكى،English، خانلىق
X-KDE-Keywords[uk]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,мова,мови,переклад,переклади,числа,формат,число,локаль,країна,набір,символ,кодування,розряд,тисяч,дробовий,дробова частина,роздільник,символ,знак,додатне,додатний,додатній,від’ємний,від’ємне,валюта,гроші,грошова одиниця,календар,час,дата,формати,тиждень,робочий тиждень,початок тижня,перший,папір,аркуш,вимір,виміри,вимірювання,одиниці вимірювання,метричний,метричні,метр,англійські,імперські
X-KDE-Keywords[vi]=ngôn ngữ,dịch,định dạng số,tiền tệ,thời gian,ngày,định dạng,miền địa phương,Nước,quốc gia,bộ ký tự,bảng mã,ký hiệu thập phân,dấu cách hàng nghìn,ký hiệu,dấu phân cách,dấu,dương,âm,phân số,tuần,bắt đầu tuần,language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial
X-KDE-Keywords[wa]=lingaedje,ratournaedje,cogne des nombes,locåle,Payi,payis,djeus d' caracteres,djeus di caracteres,simbole des decimåles,separateu des meyes,simbole,separateu,sene,pôzitif,negatif,manoye,cwårs,çanses,liårds,liyårds,caracteres di fraccions,calindrî,eure,date,cognes,samwinne,cominçmint del samwinne,prumî djoû del samwinne,kimince del samwinne,prumî,papî,grandeu,grandeur,lete,A4,mezeure,muzeure,metrike,Inglès,Imperiå
X-KDE-Keywords[x-test]=xxlanguage,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperialxx
X-KDE-Keywords[zh_CN]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial,语言,翻译,数字格式,语系,国家,字符集,千分符,十进制符号,符号,分隔符,正数,负数,现金,钱,日历,分号,时间,日期,星期,周,第一,纸张,大小,信件,度量,度量衡,英制,公制
X-KDE-Keywords[zh_TW]=language,translation,number format,locale,Country,charsets,character sets,Decimal symbol,Thousands separator,symbol,separator,sign,positive,negative,currency,money,fractional digits,calendar,time,date,formats,week,week start,first,paper,size,letter,A4,measure,metric,English,Imperial

Categories=Qt;KDE;X-KDE-settings-accessibility;
