[Desktop Entry]
Name=Application Launcher
Name[uk]=Інструмент запуску програм
Name[x-test]=xxApplication Launcherxx
Comment=Launcher to start applications
Comment[uk]=Програма для запуску програм
Comment[x-test]=xxLauncher to start applicationsxx
Icon=start-here-kde
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Kickoff.qml

X-Plasma-RequiredExtensions=LaunchApp

X-KDE-PluginInfo-Author=Martin Graesslin
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.kickoff
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/Kickoff
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
