[Desktop Entry]
Name=Cursors
Name[ca]=Cursors
Name[ca@valencia]=Cursors
Name[cs]=Kurzory
Name[da]=Markører
Name[de]=Zeiger
Name[el]=Δρομείς
Name[en_GB]=Cursors
Name[es]=Cursores
Name[eu]=Kurtsoreak
Name[fi]=Osoittimet
Name[fr]=Pointeurs
Name[gl]=Cursores
Name[he]=מצביעים
Name[hu]=Kurzorok
Name[id]=Kursor
Name[it]=Puntatori
Name[ja]=カーソル
Name[ko]=커서
Name[lt]=Žymekliai
Name[nl]=Cursors
Name[nn]=Peikarar
Name[pa]=ਕਰਸਰਾਂ
Name[pl]=Wskaźniki
Name[pt]=Cursores
Name[pt_BR]=Cursores
Name[ru]=Курсоры мыши
Name[sk]=Kurzory
Name[sl]=Kazalke
Name[sr]=Показивачи
Name[sr@ijekavian]=Показивачи
Name[sr@ijekavianlatin]=Pokazivači
Name[sr@latin]=Pokazivači
Name[sv]=Pekare
Name[tr]=İmleçler
Name[uk]=Вказівники
Name[x-test]=xxCursorsxx
Name[zh_CN]=光标
Name[zh_TW]=游標
Comment=Choose mouse cursor theme
Comment[ca]=Trieu el tema del cursor del ratolí
Comment[ca@valencia]=Trieu el tema del cursor del ratolí
Comment[cs]=Zvolte motiv ukazatele myši
Comment[da]=Vælg tema for musemarkøren
Comment[de]=Design für den Mauszeiger auswählen
Comment[en_GB]=Choose mouse cursor theme
Comment[es]=Escoger un tema de cursores para el ratón
Comment[eu]=Aukeratu sagu-kurtsorearen itxura
Comment[fi]=Valitse hiiriosoitinteema
Comment[fr]=Choisissez le thème de souris
Comment[gl]=Escoller un tema de cursor de rato
Comment[id]=Memilih tema kursor mouse
Comment[it]=Scegli tema dei puntatori del mouse
Comment[ja]=マウスカーソルテーマを選択
Comment[ko]=마우스 커서 테마 선택
Comment[lt]=Pasirinkti pelės žymeklio apipavidalinimą
Comment[nl]=Muiscursorthema kiezen
Comment[nn]=Vel peikartema
Comment[pl]=Wybierz zestaw wskaźników myszy
Comment[pt]=Escolher o tema do cursor do rato
Comment[pt_BR]=Escolha o tema do cursor do mouse
Comment[ru]=Выбор набора курсоров мыши
Comment[sk]=Vyberte tému kurzora myši
Comment[sv]=Välj muspekartema
Comment[uk]=Вибір теми вказівника миші
Comment[x-test]=xxChoose mouse cursor themexx
Comment[zh_CN]=选择鼠标光标主题
Comment[zh_TW]=選擇滑鼠游標主題
Icon=edit-select
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_cursortheme
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
