[Desktop Entry]
Name=Cursor Theme
Name[ar]=سمة المؤشّر
Name[bg]=Тема за курсора
Name[bn]=কার্সর থীম
Name[bs]=Tema pokazivača
Name[ca]=Tema de cursor
Name[ca@valencia]=Tema de cursor
Name[cs]=Motiv kurzorů
Name[da]=Markørtema
Name[de]=Zeigerdesign
Name[el]=Θέμα δρομέα
Name[en_GB]=Cursor Theme
Name[es]=Tema de cursores
Name[et]=Kursoriteema
Name[eu]=Kurtsorearen gaia
Name[fi]=Osoitinteema
Name[fr]=Thème du pointeur de la souris
Name[ga]=Téama Cúrsóra
Name[gl]=Tema do cursor
Name[he]=ערכת־נושא למצביע העכבר
Name[hi]=संकेतक प्रसंग
Name[hr]=Tema pokazivača
Name[hu]=Kurzortéma
Name[ia]=Thema de cursor
Name[id]=Tema Kursor
Name[is]=Bendilþema
Name[it]=Tema dei cursori
Name[ja]=カーソルテーマ
Name[kk]=Меңзер нақышы
Name[km]=ស្បែក​ទស្សន៍ទ្រនិច
Name[kn]=ಸ್ಥಳಸೂಚಕ (ಕರ್ಸರ್) ಪರಿಸರವಿನ್ಯಾಸ
Name[ko]=커서 테마
Name[lt]=Žymeklių tema
Name[lv]=Kursora tēma
Name[mr]=कर्सर शैली
Name[nb]=Pekertema
Name[nds]=Wieserutsehn
Name[nl]=Cursorthema
Name[pa]=ਕਰਸਰ ਥੀਮ
Name[pl]=Zestawy wskaźników
Name[pt]=Tema de Cursores
Name[pt_BR]=Tema de cursores
Name[ro]=Tematica de cursor
Name[ru]=Тема курсоров
Name[sk]=Téma kurzora
Name[sl]=Tema kazalke
Name[sr]=Тема показивача
Name[sr@ijekavian]=Тема показивача
Name[sr@ijekavianlatin]=Tema pokazivača
Name[sr@latin]=Tema pokazivača
Name[sv]=Muspekartema
Name[th]=ชุดเคอร์เซอร์
Name[tr]=İmleç Teması
Name[ug]=نۇربەلگە ئۆرنىكى
Name[uk]=Тема вказівника
Name[vi]=Sắc thái con trỏ
Name[wa]=Tinme do cursoe
Name[x-test]=xxCursor Themexx
Name[zh_CN]=光标主题
Name[zh_TW]=游標主題
Comment=Mouse Cursor Theme
Comment[ar]=سمة مؤشّر الفأرة
Comment[bs]=Tema kursora miša
Comment[ca]=Tema de cursor de ratolí
Comment[cs]=Motiv kurzorů myši
Comment[da]=Markørtema
Comment[de]=Mauszeigerdesign
Comment[el]=Θέμα δρομέα ποντικιού
Comment[en_GB]=Mouse Cursor Theme
Comment[es]=Tema de cursores del ratón
Comment[fi]=Osoitinteema
Comment[fr]=Thème du pointeur de la souris
Comment[gl]=Tema do cursor
Comment[hu]=Egérkurzor témája
Comment[id]=Tema Kursor Tetikus
Comment[it]=Tema dei cursori del mouse
Comment[ko]=마우스 커서 테마
Comment[lt]=Žymeklių tema
Comment[mr]=माउस कर्सर शैली
Comment[nb]=Musepekertema
Comment[nds]=Utsehn vun den Muuswieser
Comment[nl]=Muiscursorthema
Comment[pl]=Zestawy wskaźników myszy
Comment[pt]=Tema de Cursores do Rato
Comment[pt_BR]=Tema de cursores do mouse
Comment[ru]=Тема курсоров мыши
Comment[sk]=Téma kurzora myši
Comment[sl]=Tema miškine kazalke
Comment[sr]=Тема показивача миша
Comment[sr@ijekavian]=Тема показивача миша
Comment[sr@ijekavianlatin]=Tema pokazivača miša
Comment[sr@latin]=Tema pokazivača miša
Comment[sv]=Muspekartema
Comment[tr]=Fare İmleç Teması
Comment[uk]=Тема вказівника миші
Comment[x-test]=xxMouse Cursor Themexx
Comment[zh_CN]=鼠标光标主题
Comment[zh_TW]=滑鼠游標主題
Icon=edit-select
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_cursortheme
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
