[Desktop Entry]
Name=Cursors
Name[ca]=Cursors
Name[ca@valencia]=Cursors
Name[cs]=Kurzory
Name[da]=Markører
Name[de]=Zeiger
Name[el]=Δρομείς
Name[en_GB]=Cursors
Name[es]=Cursores
Name[eu]=Kurtsoreak
Name[fi]=Osoittimet
Name[fr]=Pointeurs
Name[gl]=Cursores
Name[he]=מצביעים
Name[hu]=Kurzorok
Name[id]=Kursor
Name[it]=Puntatori
Name[ko]=커서
Name[lt]=Žymekliai
Name[nl]=Cursors
Name[nn]=Peikarar
Name[pa]=ਕਰਸਰਾਂ
Name[pl]=Wskaźniki
Name[pt]=Cursores
Name[pt_BR]=Cursores
Name[ru]=Курсоры мыши
Name[sk]=Kurzory
Name[sl]=Kazalke
Name[sr]=Показивачи
Name[sr@ijekavian]=Показивачи
Name[sr@ijekavianlatin]=Pokazivači
Name[sr@latin]=Pokazivači
Name[sv]=Pekare
Name[tr]=İmleçler
Name[uk]=Вказівники
Name[x-test]=xxCursorsxx
Name[zh_CN]=光标
Name[zh_TW]=游標
Comment=Choose mouse cursor theme
Icon=edit-select
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_cursortheme
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
