[Desktop Entry]
Name=Compiz
Name[nl]=Compiz
Name[uk]=Compiz
Name[x-test]=xxCompizxx
Exec=compiz ccp
TryExec=compiz
X-KDE-WindowManagerConfigure=simple-ccsm
X-KDE-WindowManagerRestartArgument=--replace
