[Desktop Entry]
Name=Compiz custom (create wrapper script 'compiz-kde-launcher' to launch it)
Name[uk]=Нетиповий Compiz (створити скрипт-обгортку «compiz-kde-launcher» для його запуску)
Name[x-test]=xxCompiz custom (create wrapper script 'compiz-kde-launcher' to launch it)xx
Exec=compiz-kde-launcher
TryExec=compiz
X-KDE-WindowManagerId=compiz
X-KDE-WindowManagerRestartArgument=--replace
