[Desktop Entry]
Name=Compiz
Name[fi]=Compiz
Name[ia]=Compiz
Name[nl]=Compiz
Name[pt]=Compiz
Name[sv]=Compiz
Name[uk]=Compiz
Name[x-test]=xxCompizxx
Exec=compiz ccp
TryExec=compiz
X-KDE-WindowManagerConfigure=simple-ccsm
X-KDE-WindowManagerRestartArgument=--replace
