[Desktop Entry]
Name=Metacity (GNOME)
Name[fi]=Metacity (Gnome)
Name[ia]=Metacity(GNOME)
Name[nl]=Metacity (GNOME)
Name[pt]=Metacity (GNOME)
Name[sv]=Metacity (GNOME)
Name[uk]=Metacity (GNOME)
Name[x-test]=xxMetacity (GNOME)xx
Exec=metacity
TryExec=metacity
X-KDE-WindowManagerRestartArgument=--replace
