[Desktop Entry]
Name=Metacity (GNOME)
Name[af]=Metacity (GNOME)
Name[ar]=مِتسِتي (جنوم)
Name[as]=Metacity (GNOME)
Name[ast]=Metacity (GNOME)
Name[be@latin]=Metacity (GNOME)
Name[bg]=Metacity (GNOME)
Name[bn]=মেটাসিটি (গ্‌নোম)
Name[bn_IN]=Metacity (GNOME)
Name[bs]=Metacity (GNOME)
Name[ca]=Metacity (GNOME)
Name[ca@valencia]=Metacity (GNOME)
Name[cs]=Metacity (Gnome)
Name[csb]=Metacity (GNOME)
Name[da]=Metacity (GNOME)
Name[de]=Metacity (GNOME)
Name[el]=Metacity (GNOME)
Name[en_GB]=Metacity (GNOME)
Name[eo]=Metacity (GNOME)
Name[es]=Metacity (GNOME)
Name[et]=Metacity (GNOME)
Name[eu]=Metacity (GNOME)
Name[fa]=متاسیتی (گنوم)
Name[fi]=Metacity (Gnome)
Name[fr]=Metacity (GNOME)
Name[fy]=Metacity (GNOME)
Name[ga]=Metacity (GNOME)
Name[gl]=Metacity (GNOME)
Name[gu]=મેટાસિટી (GNOME)
Name[he]=Metacity (GNOME)
Name[hi]=मेटासिटी (ग्नोम)
Name[hne]=मेटासिटी (ग्नोम)
Name[hr]=Metacity (GNOME)
Name[hsb]=Metacity (GNOME)
Name[hu]=Metacity (GNOME)
Name[ia]=Metacity(GNOME)
Name[id]=Metacity (GNOME)
Name[is]=Metacity (GNOME)
Name[it]=Metacity (GNOME)
Name[ja]=Metacity (GNOME)
Name[kk]=Metacity (GNOME)
Name[km]=Metacity (GNOME)
Name[kn]=ಮೆಟಾಸಿಟಿ (ಗ್ನೋಮ್)
Name[ko]=Metacity (그놈)
Name[ku]=Metacity (GNOME)
Name[lt]=Metacity (GNOME)
Name[lv]=Metacity (GNOME)
Name[mai]=Metacity (GNOME)
Name[mk]=Metacity (GNOME)
Name[ml]=മെറ്റാസിറ്റി (ഗ്നോം)
Name[mr]=मेटासिटी (GNOME)
Name[nb]=Metacity (GNOME)
Name[nds]=Metacity (GNOME)
Name[nl]=Metacity (GNOME)
Name[nn]=Metacity (GNOME)
Name[or]=Metacity (GNOME)
Name[pa]=ਮੈਟਾਸਿਟੀ (ਗਨੋਮ)
Name[pl]=Metacity (GNOME)
Name[pt]=Metacity (GNOME)
Name[pt_BR]=Metacity (GNOME)
Name[ro]=Metacity (GNOME)
Name[ru]=Metacity (GNOME)
Name[se]=Metacity (GNOME)
Name[si]=Metacity (GNOME)
Name[sk]=Metacity (GNOME)
Name[sl]=Metacity (GNOME)
Name[sr]=Метасити (Гном)
Name[sr@ijekavian]=Метасити (Гном)
Name[sr@ijekavianlatin]=Metacity (Gnome)
Name[sr@latin]=Metacity (Gnome)
Name[sv]=Metacity (GNOME)
Name[ta]=மெடாசிட்டி (குநோம்)
Name[te]=మెటాసిటి (GNOME)
Name[tg]=Metacity (GNOME)
Name[th]=Metacity (GNOME)
Name[tr]=Metacity (GNOME)
Name[ug]=Metacity (GNOME)
Name[uk]=Metacity (GNOME)
Name[uz]=Metacity (GNOME)
Name[uz@cyrillic]=Metacity (GNOME)
Name[vi]=Metacity (GNOME)
Name[wa]=Metacity (GNOME)
Name[x-test]=xxMetacity (GNOME)xx
Name[zh_CN]=Metacity(GNOME)
Name[zh_TW]=Metacity（GNOME）
Exec=metacity
TryExec=metacity
X-KDE-WindowManagerRestartArgument=--replace
