[Desktop Entry]
Name=Metacity (GNOME)
Name[nl]=Metacity (GNOME)
Name[uk]=Metacity (GNOME)
Name[x-test]=xxMetacity (GNOME)xx
Exec=metacity
TryExec=metacity
X-KDE-WindowManagerRestartArgument=--replace
