[Desktop Entry]
Name=Openbox
Name[af]=Openbox
Name[ar]=Openbox
Name[as]=Openbox
Name[ast]=Openbox
Name[be]=Openbox
Name[be@latin]=Openbox
Name[bg]=Openbox
Name[bn]=ওপেনবক্স
Name[bn_IN]=Openbox
Name[br]=Openbox
Name[bs]=Openbox
Name[ca]=Openbox
Name[ca@valencia]=Openbox
Name[cs]=Openbox
Name[csb]=Openbox
Name[cy]=Blwchagored (Openbox)
Name[da]=Openbox
Name[de]=Openbox
Name[el]=Openbox
Name[en_GB]=Openbox
Name[eo]=Openbox
Name[es]=Openbox
Name[et]=Openbox
Name[eu]=Openbox
Name[fa]=اپن‌باکس
Name[fi]=Openbox
Name[fr]=Openbox
Name[fy]=Openbox
Name[ga]=Openbox
Name[gl]=Openbox
Name[gu]=ઓપનબોક્સ
Name[he]=Openbox
Name[hi]=ओपनबाक्स
Name[hne]=ओपनबाक्स
Name[hr]=Openbox
Name[hsb]=Openbox
Name[hu]=Openbox
Name[ia]=Openbox
Name[id]=Openbox
Name[is]=Openbox
Name[it]=Openbox
Name[ja]=Openbox
Name[ka]=Openbox
Name[kk]=Openbox
Name[km]=បើក​ប្រអប់​
Name[kn]=ಓಪನ್ ಬಾಕ್ಸ್
Name[ko]=Openbox
Name[ku]=Openbox
Name[lt]=Openbox
Name[lv]=Openbox
Name[mai]=ओपनबाक्स
Name[mk]=Openbox
Name[ml]=ഓപ്പണ്‍ബോക്സ്
Name[mr]=ओपनबाक्स
Name[ms]=Openbox
Name[nb]=Openbox
Name[nds]=Openbox
Name[ne]=खुला बाकस
Name[nl]=Openbox
Name[nn]=Openbox
Name[or]=Openbox
Name[pa]=ਓਪਨ-ਬਾਕਸੇ
Name[pl]=Openbox
Name[pt]=Openbox
Name[pt_BR]=Openbox
Name[ro]=Openbox
Name[ru]=Openbox
Name[se]=Openbox
Name[si]=Openbox
Name[sk]=Openbox
Name[sl]=Openbox
Name[sr]=Опенбокс
Name[sr@ijekavian]=Опенбокс
Name[sr@ijekavianlatin]=Openbox
Name[sr@latin]=Openbox
Name[sv]=Openbox
Name[ta]=திறப்பு பெட்டி
Name[te]=ఒపెన్ బాక్స్
Name[tg]=Openbox
Name[th]=Openbox
Name[tr]=Openbox
Name[ug]=Openbox
Name[uk]=Openbox
Name[uz]=Openbox
Name[uz@cyrillic]=Openbox
Name[vi]=Openbox
Name[wa]=Openbox
Name[x-test]=xxOpenboxxx
Name[zh_CN]=Openbox
Name[zh_TW]=Openbox
Exec=openbox
TryExec=openbox
X-KDE-WindowManagerRestartArgument=--replace
