[Desktop Entry]
Name=Openbox
Name[fi]=Openbox
Name[ia]=Openbox
Name[nl]=Openbox
Name[pt]=Openbox
Name[sv]=Openbox
Name[uk]=Openbox
Name[x-test]=xxOpenboxxx
Exec=openbox
TryExec=openbox
X-KDE-WindowManagerRestartArgument=--replace
