[Desktop Entry]
Name=Portrait
Name[zh_CN]=人物－剑子仙迹
Comment=Portrait from a budai play
Comment[zh_CN]=霹雳布袋戏人物－剑子仙迹

X-KDE-PluginInfo-Name=jianzi

X-KDE-PluginInfo-Author=Wang Hoi
X-KDE-PluginInfo-Email=zealot.hoi@gmail.com
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KIMPanel-Theme-Color=colors

X-KIMPanel-Theme-StatusbarImage=image.svg
X-KIMPanel-Theme-StatusbarLayout=jianzi.js

X-KIMPanel-Theme-LookupTableImage=image.svg
X-KIMPanel-Theme-LookupTableLayout=jianzi.js


