[Desktop Entry]
Icon=system-log-out
Type=Application
Exec=systemsettings kcm_smserver
NoDisplay=true

Name=Desktop Session
Name[ar]=جلسة سطح المكتب
Name[ast]=Sesión del escritoriu
Name[az]=İş masası Seansı
Name[bg]=Сесия на работния плот
Name[bs]=Sesija Radne Površine
Name[ca]=Sessió d'escriptori
Name[ca@valencia]=Sessió d'escriptori
Name[cs]=Sezení plochy
Name[da]=Skrivebordssession
Name[de]=Arbeitsflächen-Sitzung
Name[el]=Συνεδρία επιφάνειας εργασίας
Name[en_GB]=Desktop Session
Name[es]=Sesión de escritorio
Name[et]=Töölauaseanss
Name[eu]=Mahaigaineko saioa
Name[fi]=Työpöytäistunto
Name[fr]=Session de bureau
Name[gl]=Sesión de escritorio
Name[he]=שולחן העבודה
Name[hu]=Asztali munkamenet
Name[ia]=Session de scriptorio
Name[id]=Sesi Desktop
Name[is]=Skjáborðsseta
Name[it]=Sessioni del desktop
Name[ja]=デスクトップセッション
Name[ko]=데스크톱 세션
Name[lt]=Darbalaukio seansas
Name[nb]=Skrivebordsøkt
Name[nds]=Schriefdischtörn
Name[nl]=Bureaubladsessie
Name[nn]=Skrivebordsøkt
Name[pa]=ਡੈਸਕਟਾਪ ਸ਼ੈਸ਼ਨ
Name[pl]=Sesja pulpitu
Name[pt]=Sessão do Ambiente de Trabalho
Name[pt_BR]=Sessão da área de trabalho
Name[ro]=Sesiune de birou
Name[ru]=Управление сеансами
Name[sk]=Sedenie plochy
Name[sl]=Seja namizja
Name[sr]=Сесија површи
Name[sr@ijekavian]=Сесија површи
Name[sr@ijekavianlatin]=Sesija površi
Name[sr@latin]=Sesija površi
Name[sv]=Skrivbordssession
Name[ta]=பணிமேடை அமர்வு
Name[tg]=Ҷаласаи мизи корӣ
Name[tr]=Masaüstü Oturumu
Name[uk]=Сеанс стільниці
Name[vi]=Phiên bàn làm việc
Name[x-test]=xxDesktop Sessionxx
Name[zh_CN]=桌面会话
Name[zh_TW]=桌面工作階段
