[Desktop Entry]
Exec=kcmshell4 kcmsmserver
Icon=preferences-system-session
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmsmserver/index.html

X-KDE-Library=kcm_smserver
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=Session Management
Name[ar]=إدارة الجلسات
Name[ast]=Xestión de sesiones
Name[bg]=Управление на сесии
Name[bs]=Upravljanje sesijama
Name[ca]=Gestió de sessions
Name[ca@valencia]=Gestió de sessions
Name[cs]=Správa sezení
Name[da]=Sessionshåndtering
Name[de]=Sitzungsverwaltung
Name[el]=Διαχείριση συνεδριών
Name[en_GB]=Session Management
Name[es]=Gestión de sesiones
Name[et]=Seansihaldus
Name[eu]=Saio-kudeaketa
Name[fa]=مدیریت نشست
Name[fi]=Istunnonhallinta
Name[fr]=Gestion de sessions
Name[ga]=Bainistíocht Seisiún
Name[gl]=Xestión de sesións
Name[gu]=સત્ર વ્યવસ્થાપન
Name[he]=ניהול הפעלות
Name[hi]=सत्र प्रबंधक
Name[hr]=Upravljanje sesijama
Name[hu]=Munkamenetkezelés
Name[ia]=Gestion de session
Name[id]=Manajemen Sesi
Name[is]=Setustjórn
Name[it]=Gestione di sessione
Name[ja]=セッション管理
Name[kk]=Сеансты басқаруы
Name[km]=ការ​គ្រប់គ្រង​សម័យ
Name[kn]=ಅಧಿವೇಶನ (ಸೆಶನ್) ವ್ಯವಸ್ಥಾಪನೆ
Name[ko]=세션 관리
Name[lt]=Sesijų tvarkymas
Name[lv]=Sesiju pārvaldnieks
Name[mr]=सत्र व्यवस्थापन
Name[nb]=Øktbehandling
Name[nds]=Törns plegen
Name[nl]=Sessiebeheer
Name[nn]=Økthandsamar
Name[pa]=ਸ਼ੈਸ਼ਨ ਪਰਬੰਧ
Name[pl]=Zarządzanie sesją
Name[pt]=Gestão de Sessões
Name[pt_BR]=Gerenciamento de sessões
Name[ro]=Administrarea sesiunilor
Name[ru]=Управление сеансами
Name[si]=සැසි කළමනාකරනය
Name[sk]=Správa sedenia
Name[sl]=Upravljanje s sejami
Name[sr]=Управљање сесијама
Name[sr@ijekavian]=Управљање сесијама
Name[sr@ijekavianlatin]=Upravljanje sesijama
Name[sr@latin]=Upravljanje sesijama
Name[sv]=Sessionshantering
Name[tg]=Мудири амалҳо
Name[th]=จัดการวาระงาน
Name[tr]=Oturum Yönetimi
Name[ug]=ئەڭگىمە باشقۇرۇش
Name[uk]=Керування сеансами
Name[wa]=Manaedjmint des sessions
Name[x-test]=xxSession Managementxx
Name[zh_CN]=会话管理
Name[zh_TW]=工作階段管理程式

Comment=Configure the session manager and logout settings
Comment[af]=Konfigureer die sessie bestuurder en teken af instellings
Comment[ar]=اضبط مدير الجلسات وإعدادات تسجيل الخروج
Comment[ast]=Configurar el xestor de sesiones y les preferencies de zarru de sesión
Comment[be]=Настаўленні кіраўніка сеансаў і параметраў выхаду
Comment[be@latin]=Nałady kiraŭnika sesijaŭ i vychadu z systemy
Comment[bg]=Настройване сесиите на системата и поведението при изход
Comment[bn]=সেশন ম্যানেজার এবং লগ-আউট সেটিংস কনফিগার করুন
Comment[bn_IN]=সেশান পরিচালন ব্যবস্থা ও লগ-আউটের বৈশিষ্ট্য কনফিগার করুন
Comment[br]=Kefluniañ ar merour an dalc'hioù hag an doare mont kuit
Comment[bs]=Podešavanje menadžera sesija i odjavljivanja
Comment[ca]=Aquí podeu configurar el gestor de la sessió i la sortida
Comment[ca@valencia]=Ací podeu configurar el gestor de la sessió i l'eixida
Comment[cs]=Nastavení správce sezení a odhlašování
Comment[csb]=Kònfigùracëjô menedżera sesëji ë nastôwów wëlogòwaniô
Comment[cy]=Ffurfweddu'r rheolydd sesiwn a gosodiadau allgofnodi
Comment[da]=Indstil sessionshåndterig og log ud-indstillinger
Comment[de]=Einstellungen für Sitzungsverwaltung und Abmeldung vornehmen
Comment[el]=Διαμορφώστε το διαχειριστή συνεδρίας και τις επιλογές αποσύνδεσης
Comment[en_GB]=Configure the session manager and logout settings
Comment[eo]=Agordi la seancan administrilon kaj la elsaluton
Comment[es]=Configurar el gestor de sesiones y las preferencias de cierre de sesión
Comment[et]=Seansihalduri ja väljalogimise seadistamine
Comment[eu]=Konfiguratu saio-kudeatzailea eta saio-bukaeraren ezarpenak
Comment[fa]=پیکربندی مدیر نشست و تنظیمات خروج
Comment[fi]=Istunnonhallinnan ja uloskirjautumisen asetukset
Comment[fr]=Configurer le gestionnaire de sessions et de déconnexion
Comment[fy]=Hjir kinne jo it sesjebehear en ôfmeld-ynstellings fêststelle
Comment[ga]=Cumraigh bainisteoir an tseisiúin agus socruithe logála amach
Comment[gl]=Configura o xestor de sesións e as opcións de saída
Comment[gu]=સત્ર વ્યવસ્થાપક અને બહાર નીકળવાની ગોઠવણીઓ રૂપરેખાંકિત કરો
Comment[he]=הגדרת מנהל ההפעלות והגדרות היציאה
Comment[hi]=सत्र प्रबंधक तथा लॉगआउट विन्यास कॉन्फ़िगर करें
Comment[hne]=सत्र प्रबंधक अउ लागआउट सेटिंग कान्फिगर करव
Comment[hr]=Konfiguriranje upravitelja sesijama i postavkama odjavljivanja
Comment[hsb]=Rjadowar posedźenjow a nastajenjow za wotzjewjenje připrawić
Comment[hu]=A KDE munkafolyamat és a kijelentkezési mód beállításai
Comment[ia]=Configura le gerente de session e preferentias de exito (logout)
Comment[id]=Atur manajer sesi dan pengaturan log keluar
Comment[is]=Stilla setustjóra og aðgerðir við útstimplun
Comment[it]=Configura il gestore di sessione e le impostazioni d'uscita
Comment[ja]=セッションマネージャとログアウト時の設定
Comment[ka]=სეანსების მენეჯერის და სისტემიდან გამოსვლის კონფიგურაცია
Comment[kk]=Сеанс менеджерді және жүйеден шығу параметрлерін баптау
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​កម្មវិធី​គ្រប់គ្រង​សម័យ និង​​កំណត់​ការ​ចេញ
Comment[kn]=ಅಧಿವೇಶನ (ಸೆಶನ್) ವ್ಯವಸ್ಥಾಪಕ ಹಾಗೂ ನಿರ್ಗಮನ (ಲಾಗೌಟ್) ಸಂಯೋಜನೆಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=세션 관리자와 로그아웃 설정 관리
Comment[lt]=Čia galite konfigūruoti sesijos tvarkytuvę ir išsiregistravimo nustatymus
Comment[lv]=Šeit jūs varat konfigurēt sesiju pārvaldnieku un pieslēgšanās parametrus
Comment[mai]=सत्र प्रबंधक आओर लागआउट सेटिंग बिन्यस्त करू
Comment[mk]=Конфигурирајте го менаџерот на сесии и поставувањата за одјавување
Comment[ml]=സെഷനുകളുടെ നടത്തിപ്പുകാരനെയും പുറത്തിറങ്ങുന്നതിനുള്ള സജ്ജീകരണങ്ങളും ക്രമീകരിയ്ക്കുക
Comment[mr]=सत्र व्यवस्थापक व बाहेर पडण्याची संयोजना संयोजीत करा
Comment[ms]=Konfigur seting pengurus sesi dan bentangan
Comment[nb]=Tilpass øktbehandleren og utlogginga
Comment[nds]=Dat Afmellen un den Törnpleger instellen
Comment[ne]=सत्र प्रबन्धक र लगआउट सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het sessiebeheer en de afmeld-instellingen bepalen
Comment[nn]=Oppsett av økthandsamar og utlogging
Comment[pa]=ਸ਼ੈਸ਼ਨ ਮੈਨੇਜਰ ਅਤੇ ਲਾਗਆਉਟ ਸੈਟਿੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja menadżera sesji i ustawień wylogowania
Comment[pt]=Configuração do gestor de sessões e das opções de encerramento
Comment[pt_BR]=Configura o gerenciador de sessões e as opções de encerramento
Comment[ro]=Configurează managerul de sesiune și setările de ieșire
Comment[ru]=Настройка диспетчера сеансов
Comment[se]=Heivet bargovuorrogieđahalli ja olggosčáliheami
Comment[si]=වාර කළමණාකරු හා පිටවීම් සැකසුම් වෙනස් කරන්න
Comment[sk]=Nastavenie správcu sedení a odhlásenia
Comment[sl]=Nastavi upravljalnik sej in nastavitve odjav
Comment[sr]=Подешавање менаџера сесија и одјављивања
Comment[sr@ijekavian]=Подешавање менаџера сесија и одјављивања
Comment[sr@ijekavianlatin]=Podešavanje menadžera sesija i odjavljivanja
Comment[sr@latin]=Podešavanje menadžera sesija i odjavljivanja
Comment[sv]=Anpassa sessionshanteraren och utloggningsinställningar
Comment[ta]=அமர்வு மேளாலர் மற்றும் வெளிச்செல் அமைப்புகளை வடிவமை
Comment[te]=సెషన్ నిర్వాహకిని మరియు లాగ్అవుట్ అమర్పులను ఆకృతీకరించుము
Comment[tg]=Танзимоти мудири сассияҳо ва хуруҷкунӣ
Comment[th]=ปรับแต่งการจัดการวาระงานและตั้งค่าการออกจากระบบ
Comment[tr]=Oturum yöneticisi ve çıkış ayarlarını yapılandır
Comment[ug]=ئەڭگىمە باشقۇرغۇچ ۋە چىقىش تەڭشىكىنى سەپلەيدۇ
Comment[uk]=Налаштування керування сеансами та параметрів виходу з системи
Comment[uz]=Seans boshqaruvchisini va chiqish moslamalarini moslash
Comment[uz@cyrillic]=Сеанс бошқарувчисини ва чиқиш мосламаларини мослаш
Comment[vi]=Cấu hình trình quản lý phiên chạy và thiết lập đăng xuất
Comment[wa]=Apontiaedje do manaedjeu di sessions eyet apontiaedjes do dislodjaedje
Comment[xh]=Qwalasela umphathi wesiqendu nezicwangciso zokuphuma ngaphandle
Comment[x-test]=xxConfigure the session manager and logout settingsxx
Comment[zh_CN]=配置会话管理器和注销设置
Comment[zh_TW]=設定工作階段管理程式與登出設定值

X-KDE-Keywords=ksmserver,session,logout,confirmation,save,restore
X-KDE-Keywords[bs]=ksmserver,sesija,odjava,potvrda,snimanje,restore
X-KDE-Keywords[ca]=ksmserver,sessió,sortida,confirmació,desa,restaura
X-KDE-Keywords[ca@valencia]=ksmserver,sessió,eixida,confirmació,guarda,restaura
X-KDE-Keywords[da]=ksmserver,session,log ud,bekræftelse,gem,genskab
X-KDE-Keywords[de]=Ksmserver,Sitzung,Abmelden,Logout,Bestätigung,Speichern,Wiederherstellen
X-KDE-Keywords[el]=ksmserver,συνεδρία,έξοδος,επιβεβαίωση,αποθήκευση,επαναφορά
X-KDE-Keywords[es]=ksmserver,sesión,cierre de sesión,confirmación,guardado,restauración
X-KDE-Keywords[et]=ksmserver,seanss,väljalogimine,kinnitus,salvestamine,taastamine
X-KDE-Keywords[eu]=ksmserver,saioa,saio-bukaera,berretsi,gorde,leheneratu
X-KDE-Keywords[fi]=ksmserver,istunto,uloskirjautuminen,kirjaudu,ulos,varmistus,varmista,tallennus,tallentaminen,tallenna,palautus,palautuminen,palauta
X-KDE-Keywords[fr]=ksmserver, session, déconnexion, confirmation, enregistrer, restaurer
X-KDE-Keywords[ga]=ksmserver,seisiún,logáil amach,dearbhú,sábháil,athchóiriú
X-KDE-Keywords[gl]=ksmserver,sesión,saír,confirmación,gardar,restaurar
X-KDE-Keywords[hu]=ksmserver,munkamenet,kijelentkezés,megerősítés,mentés,visszaállítás
X-KDE-Keywords[ia]=ksmserver,session,claude session,confirmation,salveguarda,restabili
X-KDE-Keywords[it]=ksmserver,sessione,uscita,conferma,salva,ripristina
X-KDE-Keywords[kk]=ksmserver,session,logout,confirmation,save,restore
X-KDE-Keywords[km]=ksmserver,session,logout,confirmation,save,restore
X-KDE-Keywords[ko]=ksmserver,session,logout,confirmation,save,restore,세션,로그아웃,확인,저장,복원
X-KDE-Keywords[mr]=ksmसर्व्हर, सत्र, लॉगआउट, कन्फरमेशन, साठवा, रिस्टोअर
X-KDE-Keywords[nb]=ksmserver,økt,logg ut,bekreft,lagre,tilbakestill
X-KDE-Keywords[nds]=KSM-Server,Törn,Afmellen,Nafragen,Sekern,Wedderherstellen
X-KDE-Keywords[nl]=ksmserver,sessie,afmelden,bevestiging,opslaan,herstellen
X-KDE-Keywords[pl]=ksmserver,sesja,wylogowanie,potwierdzenie,zapis,przywracanie
X-KDE-Keywords[pt]=ksmserver,sessão,encerrar,confirmação,gravar,repor
X-KDE-Keywords[pt_BR]=ksmserver,sessão,encerrar,confirmação,salvar,restaurar
X-KDE-Keywords[ro]=ksmserver,sesiune,logout,confirmare,salvare,restabilire,ieșire
X-KDE-Keywords[ru]=ksmserver,session,logout,confirmation,save,restore,сессия,выход,выход из системы,подтверждение,сохранить,восстановить
X-KDE-Keywords[sk]=ksmserver,sedenie,odhlásenie,potvrdenie,uložiť,obnoviť
X-KDE-Keywords[sl]=ksmserver,seja,seje,odjava,prijava,izklop,zaustavitev,potrditev,shranjevanje,obnavljanje
X-KDE-Keywords[sr]=ksmserver,session,logout,confirmation,save,restore,КСМ‑сервер,сесија,одјављивање,потврда,сачувати,обновити
X-KDE-Keywords[sr@ijekavian]=ksmserver,session,logout,confirmation,save,restore,КСМ‑сервер,сесија,одјављивање,потврда,сачувати,обновити
X-KDE-Keywords[sr@ijekavianlatin]=ksmserver,session,logout,confirmation,save,restore,KSMServer,sesija,odjavljivanje,potvrda,sačuvati,obnoviti
X-KDE-Keywords[sr@latin]=ksmserver,session,logout,confirmation,save,restore,KSMServer,sesija,odjavljivanje,potvrda,sačuvati,obnoviti
X-KDE-Keywords[sv]=ksmserver,session,utloggning,bekräftelse,spara,återställ
X-KDE-Keywords[tr]=ksmserver,oturum,çıkış,doğrulama,onaylama,kaydet,yeniden yükle
X-KDE-Keywords[uk]=ksmserver,session,logout,confirmation,save,restore,сеанс,вихід,підтвердження,зберегти,збереження,відновити,відновлення
X-KDE-Keywords[x-test]=xxksmserver,session,logout,confirmation,save,restorexx
X-KDE-Keywords[zh_CN]=ksmserver,session,logout,confirmation,save,restore,会话,注销,确认,保存,还原
X-KDE-Keywords[zh_TW]=ksmserver,session,logout,confirmation,save,restore

Categories=Qt;KDE;X-KDE-settings-components;
