[Desktop Entry]
Exec=kcmshell5 kcmsmserver
Icon=preferences-system-session
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmsmserver/index.html

X-KDE-Library=kcm_smserver
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=Session Management

Comment=Configure the session manager and logout settings

X-KDE-Keywords=ksmserver,session,logout,confirmation,save,restore

Categories=Qt;KDE;X-KDE-settings-components;
