[Desktop Entry]
Exec=kcmshell5 kcmsmserver
Icon=preferences-system-session
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmsmserver/index.html

X-KDE-Library=kcm_smserver
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=Session Management
Name[ca]=Gestió de sessions
Name[cs]=Správa sezení
Name[de]=Sitzungsverwaltung
Name[fi]=Istunnonhallinta
Name[ia]=Gestion de session
Name[ko]=세션 관리
Name[nds]=Törnpleeg
Name[nl]=Sessiebeheer
Name[nn]=Økthandsamar
Name[pl]=Zarządzanie sesją
Name[pt]=Gestão de Sessões
Name[pt_BR]=Gerenciamento de sessões
Name[sk]=Správa sedenia
Name[sr]=Управљање сесијама
Name[sr@ijekavian]=Управљање сесијама
Name[sr@ijekavianlatin]=Upravljanje sesijama
Name[sr@latin]=Upravljanje sesijama
Name[sv]=Sessionshantering
Name[uk]=Керування сеансами
Name[x-test]=xxSession Managementxx

Comment=Configure the session manager and logout settings
Comment[ca]=Configuració de l'arranjament del gestor de la sessió i de la sortida
Comment[cs]=Nastavení správce sezení a odhlašování
Comment[de]=Einstellungen für Sitzungsverwaltung und Abmeldung vornehmen
Comment[fi]=Istunnonhallinnan ja uloskirjautumisen asetukset
Comment[ia]=Configura le gerente de session e preferentias de exito (logout)
Comment[ko]=세션 관리자와 로그아웃 설정 관리
Comment[nds]=Dat Afmellen un den Törnpleger instellen
Comment[nl]=Hier kunt u het sessiebeheer en de afmeld-instellingen bepalen
Comment[nn]=Oppsett av økthandsamar og utlogging
Comment[pl]=Ustaw zarządzanie sesją i sposób wylogowywania
Comment[pt]=Configurar o gestor de sessões e a configuração do encerramento da sessão
Comment[pt_BR]=Configura o gerenciador de sessões e as opções de encerramento
Comment[se]=Heivet bargovuorrogieđahalli ja olggosčáliheami
Comment[sk]=Nastavenie správcu sedení a odhlásenia
Comment[sr]=Подешавање менаџера сесија и одјављивања
Comment[sr@ijekavian]=Подешавање менаџера сесија и одјављивања
Comment[sr@ijekavianlatin]=Podešavanje menadžera sesija i odjavljivanja
Comment[sr@latin]=Podešavanje menadžera sesija i odjavljivanja
Comment[sv]=Anpassa sessionshanteraren och utloggningsinställningar
Comment[uk]=Налаштування керування сеансами та параметрів виходу з системи
Comment[x-test]=xxConfigure the session manager and logout settingsxx

X-KDE-Keywords=ksmserver,session,logout,confirmation,save,restore
X-KDE-Keywords[ca]=ksmserver,sessió,sortida,confirmació,desa,restaura
X-KDE-Keywords[de]=Ksmserver,Sitzung,Abmelden,Logout,Bestätigung,Speichern,Wiederherstellen
X-KDE-Keywords[fi]=ksmserver,istunto,uloskirjautuminen,kirjaudu,ulos,varmistus,varmista,tallennus,tallentaminen,tallenna,palautus,palautuminen,palauta
X-KDE-Keywords[ko]=ksmserver,session,logout,confirmation,save,restore,세션,로그아웃,확인,저장,복원
X-KDE-Keywords[nds]=KSM-Server,Törn,Afmellen,Nafragen,Sekern,Wedderherstellen
X-KDE-Keywords[nl]=ksmserver,sessie,afmelden,bevestiging,opslaan,herstellen
X-KDE-Keywords[pl]=ksmserver,sesja,wylogowanie,potwierdzenie,zapis,przywrócenie
X-KDE-Keywords[pt]=ksmserver,sessão,encerrar,confirmação,gravar,repor
X-KDE-Keywords[pt_BR]=ksmserver,sessão,encerrar,confirmação,salvar,restaurar
X-KDE-Keywords[sk]=ksmserver,sedenie,odhlásenie,potvrdenie,uložiť,obnoviť
X-KDE-Keywords[sr]=ksmserver;session;logout;confirmation;save;restore;КСМ‑сервер;сесија;одјављивање;потврда;сачувати;обновити
X-KDE-Keywords[sr@ijekavian]=ksmserver;session;logout;confirmation;save;restore;КСМ‑сервер;сесија;одјављивање;потврда;сачувати;обновити
X-KDE-Keywords[sr@ijekavianlatin]=ksmserver;session;logout;confirmation;save;restore;KSMServer;sesija;odjavljivanje;potvrda;sačuvati;obnoviti
X-KDE-Keywords[sr@latin]=ksmserver;session;logout;confirmation;save;restore;KSMServer;sesija;odjavljivanje;potvrda;sačuvati;obnoviti
X-KDE-Keywords[sv]=ksmserver,session,utloggning,bekräftelse,spara,återställ
X-KDE-Keywords[uk]=ksmserver,session,logout,confirmation,save,restore,сеанс,вихід,підтвердження,зберегти,збереження,відновити,відновлення
X-KDE-Keywords[x-test]=xxksmserver,session,logout,confirmation,save,restorexx

Categories=Qt;KDE;X-KDE-settings-components;
