[Desktop Entry]
Type=Service
Name=KDE Accessibility Tool
Name[af]=KDE toeganklikheid program
Name[ar]=أداة كدي للإتاحة
Name[ast]=Ferramienta d'accesibilidá de KDE
Name[az]=KDE xüsusi imkanları
Name[be]=Інструмент даступнасці KDE
Name[be@latin]=Pryłada dastupnaści KDE
Name[bg]=Равностоен достъп
Name[bn]=কে.ডি.ই. সহায়ক প্রযুক্তি টুল
Name[br]=Ostilh haezadusted KDE
Name[bs]=KDE alat za pristupačnost
Name[ca]=Eina d'accessibilitat KDE
Name[ca@valencia]=Eina d'accessibilitat KDE
Name[cs]=Nástroj pro zpřístupnění prostředí KDE
Name[csb]=Pòmòce przëstãpù KDE
Name[cy]=Erfyn Hygyrchedd KDE
Name[da]=KDE Tilgængelighedsværktøj
Name[de]=KDE-Zugangshilfen
Name[el]=Εργαλείο προσιτότητας του KDE
Name[en_GB]=KDE Accessibility Tool
Name[eo]=KDE-ilo por alirebleco
Name[es]=Herramienta de accesibilidad de KDE
Name[et]=KDE hõlbustustööriist
Name[eu]=KDEren irisgarritasun tresna
Name[fa]=ابزار دستیابی‌پذیری KDE
Name[fi]=KDE:n esteettömyystyökalu
Name[fr]=Outil d'accessibilité de KDE
Name[fy]=KDE Tagonklikens
Name[ga]=Uirlis Inrochtaineachta KDE
Name[gl]=Utilidade de accesibilidade de KDE
Name[gu]=KDE ઉપયોગિતા સાધન
Name[he]=כלי הנגישות של KDE
Name[hi]=केडीई पहुँच औज़ार
Name[hne]=केडीई पहुंच औजार
Name[hr]=KDE pristupačnost
Name[hsb]=KDE pomocnik za přistupnosć
Name[hu]=KDE kezelési segédeszköz
Name[ia]=Instrumento de Accessibilitate de KDE
Name[id]=Alat Aksesibilitas KDE
Name[is]=KDE aðgengistól
Name[it]=Strumento di KDE per l'accessibilità
Name[ja]=KDE アクセシビリティ支援ツール
Name[ka]=KDE-ს სპეცეციალური შესაძლებლობების ხელსაწყოები
Name[kk]=KDE арнайы мүмкіндіктер құралы
Name[km]=ឧបករណ៍​មធ្យោបាយ​ងាយស្រួល​របស់ KDE
Name[kn]=ಕೆಡಿಇ ನಿಲುಕಣೆ (ಅಕ್ಸೆಸಿಬಲಿಟಿ) ಸಲಕರಣೆ
Name[ko]=KDE 접근성 도구
Name[ku]=KDE Amûra Xwegihandinê
Name[lt]=KDE prieinamumo įrankis
Name[lv]=KDE pieejamības rīks
Name[mai]=केडीई पहुँच अओजार
Name[mk]=Алатка за пристапливост во KDE
Name[ml]=കെഡിഇ സാമീപ്യതാ ഉപകരണം
Name[mr]=केडीई सुलभता साधन
Name[ms]=Alat Keaksesan KDE
Name[nb]=Tilgjengelighetsverktøy for KDE
Name[nds]=KDE-Togangwarktüüch
Name[ne]=केडीई पहुँचयोग्य उपकरण
Name[nl]=KDE Toegankelijkheid
Name[nn]=Tilgjengeverktøy for KDE
Name[oc]=Esplech d'accessibilitat de KDE
Name[or]=KDE ଅଭିଗମ୍ୟତା ଉପକରଣ
Name[pa]=KDE ਸਹਾਇਕ ਟੂਲ
Name[pl]=Narzędzie ułatwień dostępu KDE
Name[pt]=Ferramenta de Acessibilidade do KDE
Name[pt_BR]=Ferramenta de acessibilidade do KDE
Name[ro]=Utilitar de accesibilitate pentru KDE
Name[ru]=Специальные возможности
Name[se]=KDE reaidu álkkibut geavaheami várás
Name[si]=KDE ප්‍රවේශන මෙවලම
Name[sk]=Nástroj na sprístupnenie KDE
Name[sl]=Orodje za dostopnost KDE
Name[sr]=КДЕ‑ова алатка за приступачност
Name[sr@ijekavian]=КДЕ‑ова алатка за приступачност
Name[sr@ijekavianlatin]=KDE‑ova alatka za pristupačnost
Name[sr@latin]=KDE‑ova alatka za pristupačnost
Name[sv]=Handikappverktyg för KDE
Name[ta]=KDE அணுகும் கருவி
Name[te]=KDE అందుబాటు సాధనం
Name[tg]=Абзори қобилияти дастрасии KDE
Name[th]=เครื่องมือปรับการช่วยการใช้งานของ KDE
Name[tr]=KDE Erişilebilirlik Aracı
Name[ug]=ك د ئې(KDE) ياردەمچى ئىقتىدار قوراللىرى
Name[uk]=Утиліта керування доступності KDE
Name[uz]=KDE qulaylik vositasi
Name[uz@cyrillic]=KDE қулайлик воситаси
Name[vi]=Công cụ hỗ trợ truy cập của KDE
Name[wa]=Usteye d' accessibilité di KDE
Name[x-test]=xxKDE Accessibility Toolxx
Name[zh_CN]=KDE 辅助工具
Name[zh_TW]=KDE 無障礙工具
Exec=kaccess
X-DBUS-StartupType=None
X-KDE-autostart-phase=0
