[Desktop Entry]
Type=Service
Name=Font Files
Name[uk]=Файли шрифтів
Name[x-test]=xxFont Filesxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-bdf;application/x-font-pcf;application/x-font-otf;fonts/package;
X-KDE-Library=fontthumbnail
CacheThumbnail=true
