[Desktop Entry]
Type=Service
Name=Font Files
Name[af]=Skrif tipe Lêers
Name[ar]=ملفّات الخطوط
Name[be]=Файлы шрыфтоў
Name[be@latin]=Fajły šryftoŭ
Name[bg]=Файлове с шрифтове
Name[bn]=ফন্ট ফাইল
Name[bn_IN]=ফন্ট ফাইল
Name[br]=Restroù Nodrezhoù
Name[bs]=Datoteke fontova
Name[ca]=Fitxers de tipus de lletra
Name[ca@valencia]=Fitxers de tipus de lletra
Name[cs]=Soubory s písmy
Name[csb]=Lopczi fòntów
Name[cy]=Ffeiliau Ffont
Name[da]=Skrifttypefiler
Name[de]=Schriftdateien
Name[el]=Αρχεία γραμματοσειρών
Name[en_GB]=Font Files
Name[eo]=Tipardosieroj
Name[es]=Archivos de tipos de letra
Name[et]=Fondifailid
Name[eu]=Letra-tipoen fitxategiak
Name[fa]=پرونده قلمها
Name[fi]=Fonttitiedostot
Name[fr]=Fichiers de polices de caractères
Name[fy]=Lettertypetriemmen
Name[ga]=Comhaid Chló
Name[gl]=Ficheiros de fonte
Name[gu]=ફોન્ટ ફાઇલો
Name[he]=קבצי גופנים
Name[hi]=फ़ॉन्ट फ़ाइलें
Name[hne]=फोंट फाइल मन ल
Name[hr]=Datoteke fontova
Name[hsb]=Pismowe dataje
Name[hu]=Betűtípusfájlok
Name[ia]=Files de font
Name[id]=File Font
Name[is]=Leturskrár
Name[it]=File dei caratteri
Name[ja]=フォントファイル
Name[ka]=ფონტების ფაილები
Name[kk]=Қаріп файлдары
Name[km]=ឯកសារ​ពុម្ពអក្សរ
Name[kn]=ಅಕ್ಷರಶೈಲಿ ಕಡತಗಳು
Name[ko]=글꼴 파일
Name[ku]=Pelên Curetîpan
Name[lt]=Šriftų failai
Name[lv]=Fontu faili
Name[mai]=फान्ट फाइलसभ
Name[mk]=Датотеки со фонтови
Name[ml]=അക്ഷരസഞ്ചയ ഫയലുകള്‍
Name[mr]=फॉन्ट फाईल्स
Name[ms]=Fail Fon
Name[nb]=Skriftfiler
Name[nds]=Schriftoortdateien
Name[ne]=फन्ट फाइल
Name[nl]=Lettertypebestanden
Name[nn]=Skriftfiler
Name[oc]=Fichièrs de poliça
Name[or]=ଅକ୍ଷରରୂପ ଫାଇଲଗୁଡ଼ିକ
Name[pa]=ਫੋਂਟ ਫਾਈਲਾਂ
Name[pl]=Pliki czcionek
Name[pt]=Ficheiros de Tipos de Letra
Name[pt_BR]=Arquivos de fonte
Name[ro]=Fișiere font
Name[ru]=Файлы шрифтов
Name[se]=Fontafiillat
Name[si]=අකුරු ගොනුව
Name[sk]=Súbory písiem
Name[sl]=Datoteke s pisavami
Name[sr]=Фајлови фонтова
Name[sr@ijekavian]=Фајлови фонтова
Name[sr@ijekavianlatin]=Fajlovi fontova
Name[sr@latin]=Fajlovi fontova
Name[sv]=Teckensnittsfiler
Name[ta]=மின்னெழுத்துக் கோப்புகள்
Name[te]=ఫాంట్ ఫైళ్ళు
Name[tg]=Файлҳои ҳуруф
Name[th]=แฟ้มแบบอักษรต่าง ๆ
Name[tr]=Yazı Tipi Dosyaları
Name[ug]=خەت نۇسخا ھۆججەتلەر
Name[uk]=Файли шрифтів
Name[uz]=Shrift-fayllari
Name[uz@cyrillic]=Шрифт-файллари
Name[vi]=Tập tin phông chữ
Name[wa]=Fitchîs fontes
Name[xh]=Iifayile Zohlobo lwamagama
Name[x-test]=xxFont Filesxx
Name[zh_CN]=字体文件
Name[zh_TW]=字型檔案
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-bdf;application/x-font-pcf;application/x-font-otf;fonts/package;font/ttf;font/otf;
X-KDE-Library=fontthumbnail
CacheThumbnail=true
