[Desktop Entry]
Name=Emoji Keyboard
Exec=ibus-ui-emojier-inputmethod
Type=Application
X-KDE-Wayland-VirtualKeyboard=true
Icon=face-smile
NoDisplay=true
