[Desktop Entry]
Exec=kcmshell5 fonts
Icon=preferences-desktop-font
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/fonts/index.html

X-KDE-Library=kcm_fonts
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=80

Name=Fonts
Name[uk]=Шрифти
Name[x-test]=xxFontsxx

Comment=Font settings
Comment[uk]=Налаштування шрифтів
Comment[x-test]=xxFont settingsxx

X-KDE-Keywords=fonts,font size,styles,charsets,character sets,panel,control panel,desktops,FileManager,Toolbars,Menu,Window Title,Title,DPI,anti-aliasing,desktop fonts,toolbar fonts,character,general fonts
X-KDE-Keywords[uk]=fonts,font size,styles,charsets,character sets,panel,control panel,desktops,FileManager,Toolbars,Menu,Window Title,Title,DPI,anti-aliasing,desktop fonts,toolbar fonts,character,general fonts,шрифт,шрифти,розмір,розмір шрифту,стиль,стилі,гарнітура,гарнітури,кодування,набір,символ,символи,набір символів,панель,панель керування,стільниця,стільниці,файл,керування,керування файлами,менеджер,панель інструментів,меню,заголовок,заголовок вікна,роздільність,згладжування,шрифти стільниці,шрифти панелі,символ,загальні шрифти
X-KDE-Keywords[x-test]=xxfonts,font size,styles,charsets,character sets,panel,control panel,desktops,FileManager,Toolbars,Menu,Window Title,Title,DPI,anti-aliasing,desktop fonts,toolbar fonts,character,general fontsxx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
