[Desktop Entry]
Type=Application
Name=Touchpad
Name[ar]=لوحة اللمس
Name[ast]=Panel táctil
Name[az]=Toxunma Paneli
Name[be]=Сэнсарная панэль
Name[bg]=Тъчпад
Name[ca]=Ratolí tàctil
Name[ca@valencia]=Ratolí tàctil
Name[cs]=Touchpad
Name[da]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[en_GB]=Touchpad
Name[eo]=Tuŝplato
Name[es]=Panel táctil
Name[et]=Puutepadi
Name[eu]=Ukimen-sagua
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[gl]=Área táctil
Name[he]=משטח מגע
Name[hu]=Érintőtábla
Name[ia]=Touchpad
Name[id]=Papan Sentuh
Name[ie]=Panel tactil
Name[is]=Snertiplatti
Name[it]=Touchpad
Name[ja]=タッチパッド
Name[ka]=თაჩპედი
Name[ko]=터치패드
Name[lt]=Jutiklinis kilimėlis
Name[lv]=Skārienpaliktnis
Name[nb]=Styreplate
Name[nl]=Touchpad
Name[nn]=Styreplate
Name[pa]=ਟੱਚਪੈਡ
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[ro]=Zonă tactilă
Name[ru]=Сенсорная панель
Name[sa]=स्पर्शपटलम्
Name[sk]=Touchpad
Name[sl]=Sledilna ploščica
Name[sr]=Додирник
Name[sr@ijekavian]=Додирник
Name[sr@ijekavianlatin]=Dodirnik
Name[sr@latin]=Dodirnik
Name[sv]=Tryckplatta
Name[ta]=தொடுபலகை
Name[tg]=Лавҳаи ламсӣ
Name[tr]=Dokunmatik Yüzey
Name[uk]=Сенсорна панель
Name[vi]=Bàn cảm ứng
Name[x-test]=xxTouchpadxx
Name[zh_CN]=触摸板
Name[zh_TW]=觸控板
Icon=preferences-desktop-touchpad
Actions=EnableTouchpad;DisableTouchpad;ToggleTouchpad
StartupNotify=false
X-KDE-GlobalShortcutType=Service

[Desktop Action EnableTouchpad]
Name=Enable Touchpad
Name[ar]=مكّن لوحة اللمس
Name[bg]=Активиране на тъчпада
Name[ca]=Activa el ratolí tàctil
Name[ca@valencia]=Activa el ratolí tàctil
Name[de]=Touchpad aktivieren
Name[es]=Activar el panel táctil
Name[eu]=Gaitu ukimen-sagua
Name[fi]=Käytä kosketuslevyä
Name[fr]=Activer le pavé tactile
Name[gl]=Activar a área táctil
Name[he]=הפעלת משטח מגע
Name[hu]=Érintőtábla bekapcsolása
Name[ia]=Habilita Touchpad
Name[is]=Virkja snertiplatta
Name[it]=Abilita touchpad
Name[ka]=თაჩპედის ჩართვა
Name[ko]=터치패드 활성화
Name[lt]=Įjungti jutiklinį kilimėlį
Name[lv]=Ieslēgt skārienpaliktni
Name[nb]=Slå på styreplata
Name[nl]=Touchpad inschakelen
Name[pt_BR]=Ativar o touchpad
Name[ru]=Включить сенсорную панель
Name[sk]=Povoliť touchpad
Name[sl]=Omogoči sledilno ploščico
Name[sv]=Aktivera tryckplatta
Name[ta]=தொடுபலகையை இயக்கு
Name[tr]=Dokunmatik Yüzeyi Etkinleştir
Name[uk]=Увімкнути сенсорну панель
Name[x-test]=xxEnable Touchpadxx
Name[zh_CN]=启用触摸板
Name[zh_TW]=開啟觸控板
Exec=dbus-send --type=method_call --print-reply --dest=org.kde.touchpad /modules/kded_touchpad org.kde.touchpad.enable
X-KDE-Shortcuts=Touchpad On
X-KDE-Migrate-Shortcut=kcm_touchpad,Enable Touchpad

[Desktop Action DisableTouchpad]
Name=Enable Touchpad
Name[ar]=مكّن لوحة اللمس
Name[bg]=Активиране на тъчпада
Name[ca]=Activa el ratolí tàctil
Name[ca@valencia]=Activa el ratolí tàctil
Name[de]=Touchpad aktivieren
Name[es]=Activar el panel táctil
Name[eu]=Gaitu ukimen-sagua
Name[fi]=Käytä kosketuslevyä
Name[fr]=Activer le pavé tactile
Name[gl]=Activar a área táctil
Name[he]=הפעלת משטח מגע
Name[hu]=Érintőtábla bekapcsolása
Name[ia]=Habilita Touchpad
Name[is]=Virkja snertiplatta
Name[it]=Abilita touchpad
Name[ka]=თაჩპედის ჩართვა
Name[ko]=터치패드 활성화
Name[lt]=Įjungti jutiklinį kilimėlį
Name[lv]=Ieslēgt skārienpaliktni
Name[nb]=Slå på styreplata
Name[nl]=Touchpad inschakelen
Name[pt_BR]=Ativar o touchpad
Name[ru]=Включить сенсорную панель
Name[sk]=Povoliť touchpad
Name[sl]=Omogoči sledilno ploščico
Name[sv]=Aktivera tryckplatta
Name[ta]=தொடுபலகையை இயக்கு
Name[tr]=Dokunmatik Yüzeyi Etkinleştir
Name[uk]=Увімкнути сенсорну панель
Name[x-test]=xxEnable Touchpadxx
Name[zh_CN]=启用触摸板
Name[zh_TW]=開啟觸控板
Exec=dbus-send --type=method_call --print-reply --dest=org.kde.touchpad /modules/kded_touchpad org.kde.touchpad.disable
X-KDE-Shortcuts=Touchpad Off
X-KDE-Migrate-Shortcut=kcm_touchpad,Disable Touchpad

[Desktop Action ToggleTouchpad]
Name=Enable Touchpad
Name[ar]=مكّن لوحة اللمس
Name[bg]=Активиране на тъчпада
Name[ca]=Activa el ratolí tàctil
Name[ca@valencia]=Activa el ratolí tàctil
Name[de]=Touchpad aktivieren
Name[es]=Activar el panel táctil
Name[eu]=Gaitu ukimen-sagua
Name[fi]=Käytä kosketuslevyä
Name[fr]=Activer le pavé tactile
Name[gl]=Activar a área táctil
Name[he]=הפעלת משטח מגע
Name[hu]=Érintőtábla bekapcsolása
Name[ia]=Habilita Touchpad
Name[is]=Virkja snertiplatta
Name[it]=Abilita touchpad
Name[ka]=თაჩპედის ჩართვა
Name[ko]=터치패드 활성화
Name[lt]=Įjungti jutiklinį kilimėlį
Name[lv]=Ieslēgt skārienpaliktni
Name[nb]=Slå på styreplata
Name[nl]=Touchpad inschakelen
Name[pt_BR]=Ativar o touchpad
Name[ru]=Включить сенсорную панель
Name[sk]=Povoliť touchpad
Name[sl]=Omogoči sledilno ploščico
Name[sv]=Aktivera tryckplatta
Name[ta]=தொடுபலகையை இயக்கு
Name[tr]=Dokunmatik Yüzeyi Etkinleştir
Name[uk]=Увімкнути сенсорну панель
Name[x-test]=xxEnable Touchpadxx
Name[zh_CN]=启用触摸板
Name[zh_TW]=開啟觸控板
Exec=dbus-send --type=method_call --print-reply --dest=org.kde.touchpad /modules/kded_touchpad org.kde.touchpad.toggle
X-KDE-Shortcuts=Touchpad Toggle\tMeta+Ctrl+Touchpad Toggle\tMeta+Ctrl+Zenkaku Hankaku
X-KDE-Migrate-Shortcut=kcm_touchpad,Toggle Touchpad
