[Desktop Entry]
Name=Declarative Toolbox
Comment=Manage Plasma
Encoding=UTF-8

Type=Service
Icon=plasma
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Generic

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.desktoptoolbox
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.1

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/ToolBoxRoot.qml
X-Plasma-RemoteLocation=
X-Plasma-RequiredExtensions=LaunchApp,
#X-Plasma-ContainmentCategories=desktop
