[Desktop Entry]
Exec=kcmshell5 translations
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/translations/index.html

X-KDE-Library=kcm_translations
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=40

Name=Translations
Name[ar]=الترجمات
Name[bs]=Prevodi
Name[ca]=Traduccions
Name[cs]=Překlady
Name[da]=Oversættelser
Name[de]=Übersetzungen
Name[el]=Μεταφράσεις
Name[en_GB]=Translations
Name[es]=Traducciones
Name[fi]=Käännökset
Name[fr]=Traductions
Name[hu]=Fordítások
Name[id]=Terjemahan
Name[it]=Traduzioni
Name[ko]=번역
Name[lt]=Vertimai
Name[nb]=Oversettelser
Name[nds]=Översetten
Name[nl]=Vertalingen
Name[pa]=ਅਨੁਵਾਦ
Name[pl]=Tłumaczenia
Name[pt]=Traduções
Name[pt_BR]=Traduções
Name[ru]=Переводы
Name[sk]=Preklady
Name[sl]=Prevodi
Name[sr]=Преводи
Name[sr@ijekavian]=Преводи
Name[sr@ijekavianlatin]=Prevodi
Name[sr@latin]=Prevodi
Name[sv]=Översättningar
Name[uk]=Переклади
Name[x-test]=xxTranslationsxx
Name[zh_CN]=翻译
Name[zh_TW]=翻譯

Categories=Qt;KDE;X-KDE-settings-translations;
