[Desktop Entry]
Exec=kcmshell5 translations
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/translations/index.html

X-KDE-Library=kcm_translations
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=locale
X-KDE-Weight=50

Name=Translations
Name[fi]=Käännökset
Name[nds]=Översetten
Name[nl]=Vertalingen
Name[pt]=Traduções
Name[pt_BR]=Traduções
Name[sk]=Preklady
Name[sl]=Prevodi
Name[sv]=Översättningar
Name[uk]=Переклади
Name[x-test]=xxTranslationsxx

Categories=Qt;KDE;X-KDE-settings-translations;
