[Desktop Entry]
Exec=kcmshell5 translations
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/translations/index.html

X-KDE-Library=kcm_translations
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=40

Name=Language
Name[ca]=Idioma
Name[ca@valencia]=Idioma
Name[cs]=Jazyk
Name[es]=Idioma
Name[nl]=Taal
Name[nn]=Språk
Name[pl]=Język
Name[pt]=Língua
Name[sv]=Språk
Name[uk]=Мова
Name[x-test]=xxLanguagexx

Categories=Qt;KDE;X-KDE-settings-translations;
