[Desktop Entry]
Icon=bookmark-toolbar
Name=Bookmark Toolbar
Name[ca]=Barra d'eines d'adreces d'interès
Name[de]=Lesezeichen-Werkzeugleiste
Name[fi]=Kirjanmerkkien työkalurivi
Name[nds]=Leesteken-Warktüüchbalken
Name[nl]=Bladwijzerbalk
Name[pl]=Pasek narzędziowy zakładek
Name[pt]=Barra de Favoritos
Name[pt_BR]=Barra de ferramentas de favoritos
Name[sk]=Panel záložiek
Name[sv]=Verktygsrad med bokmärken
Name[uk]=Панель закладок
Name[x-test]=xxBookmark Toolbarxx
