[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqDndPopupMenu/Plugin
Comment=Drag-and-drop plugin for the Konqueror Popup Menu.
Comment[uk]=Додаток перетягування зі скиданням для контекстного меню Konqueror.
Comment[x-test]=xxDrag-and-drop plugin for the Konqueror Popup Menu.xx
