[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqPopupMenu/Plugin
Comment=Plugin for the Konqueror Popup Menu
Comment[af]=Inplak vir die Konqueror Opspring Kieslys
Comment[ar]=ملحق لقائمة كونكيورر المنبثقة
Comment[as]=Konqueror প'প-আপ তালিকাৰ কাৰণে প্লাগ-ইন
Comment[ast]=Complementu pal menú emerxente de Konqueror
Comment[be]=Утулка для выплыўнага меню Konqueror
Comment[be@latin]=Plugin dla vypłyŭnoha menu prahramy „Konqueror”
Comment[bg]=Приставка за контекстното меню на браузъра
Comment[bn]=কনকরার পপ-আপ মেনুর জন্য প্লাগ-ইন
Comment[bn_IN]=Konqueror পপ-আপ মেনুর প্লাগ-ইন
Comment[bs]=Priključak za K‑osvajačev iskačući meni
Comment[ca]=Connector per al menú emergent del Konqueror
Comment[ca@valencia]=Connector per al menú emergent del Konqueror
Comment[cs]=Modul pro kontextovou nabídku Konqueroru
Comment[csb]=Wtëkôcz do menu (òtmëkô knąpą mëszë) Konquerora
Comment[cy]=Ategyn i Naidlen Konqueror
Comment[da]=Plugin for Konquerors popop-menu
Comment[de]=Erweiterung für das Aufklapp-Menü von Konqueror
Comment[el]=Πρόσθετο για το αναδυόμενο μενού του Konqueror
Comment[en_GB]=Plugin for the Konqueror Popup Menu
Comment[eo]=Kromprogrameto por la spruĉmenuo de Konkeranto
Comment[es]=Complemento para el menú emergente de Konqueror
Comment[et]=Konquerori hüpikmenüü plugin
Comment[eu]=Konquerorren laster-menuetarako plugina
Comment[fa]=وصله برای گزینگان بالاپر Konqueror
Comment[fi]=Konquerorin ponnahdusvalikkoliitännäinen
Comment[fr]=Module externe pour le menu contextuel de Konqueror
Comment[fy]=Plugin foar Konqueror's fluesmenu
Comment[ga]=Breiseán le haghaidh Roghchláir Aníos Konqueror
Comment[gl]=Complemento para o menú contextual de Konqueror
Comment[gu]=કોન્કરર પોપઅપ મેનુ માટે પ્લગઇન
Comment[he]=תוסף לתפריט המוקפץ של Konqueror
Comment[hi]=कॉन्करर पॉपअप मेन्यू के लिए प्लगइन
Comment[hne]=कान्करर पापअप मेन्यू बर प्लगइन
Comment[hr]=Dodatak za Konqueror pop-up izbornik
Comment[hsb]=zašćěpka za popup-meni w konqueroru
Comment[hu]=Bővítőmodul a Konqueror felbukkanó menühöz
Comment[ia]=Plugin pro le Menu de Popup de Konqueror
Comment[id]=Plugin untuk Menu Popup Konqueror
Comment[is]=Íforrit fyrir sprettvalmynd Konqueror Popup Menu
Comment[it]=Estensione per il menu a comparsa di Konqueror
Comment[ja]=Konqueror ポップアップメニューのプラグイン
Comment[ka]=Konqueror-ის ჩამოშლადი მენიუს პლაგინი
Comment[kk]=Konqueror баптау қалқымалы мәзір плагині
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់​ម៉ឺនុយ​លេច​ឡើង​របស់​ Konqueror
Comment[kn]=ಕಾಂಕರ್ ಪುಟಿಕೆ (ಪಾಪಪ್) ಪರಿವಿಡಿಗೆ ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Comment[ko]=Konqueror 팝업 메뉴 플러그인
Comment[ku]=Pêveka ji bo Pêşeka Hilpekîn a Konquerorê
Comment[lt]=Priedas pasirodančiam Konqueror meniu
Comment[lv]=Konqueror izlecošās izvēlnes spraudnis
Comment[mai]=कान्करर पापअप मेनू क' लेल प्लगइन
Comment[mk]=Приклучок за контекстното мени на Konqueror
Comment[ml]=കോണ്‍ക്വററിന്റെ പൊങ്ങിവരുന്ന മെനുവിനുള്ള സംയോജകം
Comment[mr]=कॉन्करर पॉपअप मेन्यू करिता प्लगइन
Comment[ms]=Plugin untuk Menu Popuo Konqueror
Comment[nb]=Programtillegg for sprettoppmenyen i Konqueror
Comment[nds]=Plugin för dat Konqueror-Opdukmenü
Comment[ne]=कन्क्वेरर पपअप मेनुका लागि प्लगइन
Comment[nl]=Plugin voor Konqueror's contextmenu
Comment[nn]=Tillegg til sprettoppmenyen i Konqueror
Comment[or]=Konqueror ପପଅପ ତାଲିକା ପାଇଁ ପ୍ଲଗଇନ
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਪਾਪਅੱਪ ਮੇਨੂ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do menu (otwieranego przyciskiem myszy) Konquerora
Comment[pt]='Plugin' para o Menu do Konqueror
Comment[pt_BR]=Plugin do Konqueror para menus de contexto
Comment[ro]=Extensie pentru meniul popup Konqueror
Comment[ru]=Расширение контекстного меню Konqueror
Comment[se]=Lassemoduvla Konquerora báhccanfállui
Comment[si]=Konqueror පොප් අප් මෙනුව සඳහා ප්ලගිනය
Comment[sk]=Modul pre kontextové menu Konquerora
Comment[sl]=Vstavek za Konquerorjev pojavni meni
Comment[sr]=Прикључак за К‑освајачев искачући мени
Comment[sr@ijekavian]=Прикључак за К‑освајачев искачући мени
Comment[sr@ijekavianlatin]=Priključak za K‑osvajačev iskačući meni
Comment[sr@latin]=Priključak za K‑osvajačev iskačući meni
Comment[sv]=Insticksprogram för Konquerors popupmeny
Comment[ta]=கான்கொரர் தோன்றும் பட்டிக்கான செருகல்கள்
Comment[te]=Konqueror పాప్అప్ మెనూకొరకు ప్లగ్ఇన్
Comment[tg]=Плагин барои менюи пайдошавии Konqueror
Comment[th]=ส่วนเสริมการทำงานสำหรับเมนูผุดของคอนเควอร์เรอร์
Comment[tr]=Konqueror Açılabilir Menüsü İçin Eklenti
Comment[ug]=Konqueror قاڭقىش تىزىملىكىنىڭ قىستۇرمىسى
Comment[uk]=Додаток контекстного меню Konqueror
Comment[vi]=Trình bổ sung cho Trình đơn Bật lên của Konqueror
Comment[wa]=Tchôke-divins po l' aspitant menu di Konqueror
Comment[xh]=Iplagi efakiweyo ye Konqueror ye Popup Menu
Comment[x-test]=xxPlugin for the Konqueror Popup Menuxx
Comment[zh_CN]=Konqueror 弹出菜单插件
Comment[zh_TW]=Konqueror 彈出式選單的外掛程式
