[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqPopupMenu/Plugin
Comment=Plugin for the Konqueror Popup Menu
Comment[de]=Erweiterung für das Aufklapp-Menü von Konqueror
Comment[nl]=Plugin voor Konqueror's contextmenu
Comment[pt]='Plugin' para o Menu do Konqueror
Comment[sk]=Plugin pre vyskakovacie menu Konquerora
Comment[sv]=Insticksprogram för Konquerors popupmeny
Comment[uk]=Додаток для контекстного меню Konqueror
Comment[x-test]=xxPlugin for the Konqueror Popup Menuxx
