[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqPopupMenu/Plugin
Comment=Plugin for the Konqueror Popup Menu
Comment[uk]=Додаток для контекстного меню Konqueror
Comment[x-test]=xxPlugin for the Konqueror Popup Menuxx
