[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqDndPopupMenu/Plugin
Comment=Drag-and-drop plugin for the Konqueror Popup Menu.
Comment[ar]=ملحق السحب و الإفلات لقائمة كونكيورر المنبثقة
Comment[ast]=Complementu de calcar y arrastrar pal menú emerxente de Konqueror.
Comment[bg]=Приставка за влачене и пускане към контекстното меню
Comment[bn]=কনকরার পপ-আপ মেনুর জন্য ড্র্যাগ-এণ্ড-ড্রপ প্লাগ-ইন।
Comment[bs]=Priključak za prevlačenje za K‑osvajačev iskačući meni.
Comment[ca]=Connector d'arrossegar i deixar anar per al menú emergent del Konqueror.
Comment[ca@valencia]=Connector d'arrossegar i deixar anar per al menú emergent del Konqueror.
Comment[cs]=Drag'n'drop modul pro kontextovou nabídku Konqueroru.
Comment[csb]=Wtëkôcz przecygni ë wlepi (drag-and-drop) dlô wëskakùjącegò menu Konquerora.
Comment[da]=Træk og slip-plugin til Konquerors popop-menu.
Comment[de]=Erweiterung für Ziehen und Ablegen im Aufklapp-Menü von Konqueror
Comment[el]=Πρόσθετο συρσίματος και ελευθέρωσης για το αναδυόμενο μενού του Konqueror.
Comment[en_GB]=Drag-and-drop plugin for the Konqueror Popup Menu.
Comment[eo]=Ŝovi-kaj-demeti Kromprogrameto por la spruĉmenuo de Konkeranto
Comment[es]=Complemento de arrastrar y soltar para el menú emergente de Konqueror.
Comment[et]=Konquerori hüpikmenüü lohistamisplugin.
Comment[eu]=Konquerorren laster-menuetarako arrastratu-eta-jaregin plugina
Comment[fi]=Vedä-ja-pudota-liitännäinen Konquerorin ponnahdusvalikolle.
Comment[fr]=Module externe de glisser-déposer pour le menu contextuel de Konqueror.
Comment[fy]=Sleep plugin foar de Konqueror popup menu.
Comment[ga]=Breiseán tarraing-agus-scaoileadh le haghaidh Roghchláir Aníos Konqueror
Comment[gl]=Complemento de arrastrar e soltar para o menú contextual de Konqueror.
Comment[gu]=કોન્કરર પોપઅપ મેનુ માટે ખેંચો-અને મૂકો મોડ્યુલ.
Comment[he]=תוסף גרור ושחרר לתפריט המוקפץ של Konqueror
Comment[hi]=कॉन्करर पॉपअप मेन्यू के लिए ड्रेगड्राप प्लगइन
Comment[hr]=Povuci-i-ispusti dodatak za Konqueror pop-up izbornik.
Comment[hu]=Bővítőmodul a Konqueror felbukkanó menühöz.
Comment[ia]=Plugin de Traher-e-Poner pro le Menu de Popup de Konqueror
Comment[id]=Plugin tarik-dan-taruh untuk Menu Popup Konqueror.
Comment[is]=Draga-Sleppa íforrit fyrir sprettvalmynd Konqueror Popup Menu.
Comment[it]=Estensione di trascinamento per il menu a comparsa di Konqueror
Comment[ja]=Konqueror ポップアップメニューの「ドラッグ＆ドロップ」プラグイン
Comment[kk]=Konqueror қалқымалы мәзірінің сүйреп апару плагині
Comment[km]=អូស និង​ទម្លាក់​កម្មវិធី​ជំនួយ​សម្រាប់​ម៉ឺនុយ​លេចឡើង​របស់ Konqueror
Comment[kn]=ಕಾಂಕರರ್ ಪುಟಿಕೆ (ಪಾಪಪ್) ಪರಿವಿಡಿಗೆ ಎಳೆದು ಸೇರಿಸುವ ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್).
Comment[ko]=Konqueror 팝업 메뉴용 드래그-앤-드롭 플러그인.
Comment[lt]=Tempimo ir paleidimo priedas pasirodančiam Konqueror meniu
Comment[lv]=Konqueror velc-un-nomet izlecošās izvēlnes spraudnis.
Comment[mk]=Приклучок за контекстното мени на Konqueror за „повлечи-и-пушти“.
Comment[ml]=കോണ്‍ക്വററിന്റെ പൊങ്ങിവരുന്ന മെനുവിനുള്ള വലിച്ചിടാനുള്ള സംയോജകം.
Comment[mr]=कॉन्करर पॉपअप मेन्यू करिता ड्रेग-व-ड्रॉप प्लगइन
Comment[nb]=Programtillegg for dra-og-slipp i Konquerors sprettoppmeny.
Comment[nds]=Trecken-un-afleggen för't Konqueror-Opdukmenü
Comment[nl]=Slepen en laten vallen-plugin voor het contextmenu van Konqueror.
Comment[nn]=Dra-og-slepp-tillegg til sprettoppmenyen i Konqueror.
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਪਾਪਅੱਪ ਮੇਨੂ ਲਈ ਡਰੈਗ-ਡਰੋਪ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka "przeciągnij i upuść" do menu podręcznego Konquerora.
Comment[pt]='Plugin' de 'drag-and-drop' para o Menu de Contexto do Konqueror.
Comment[pt_BR]=Plugin arrastar e soltar para os menus de contexto do Konqueror.
Comment[ro]=Modul trage-și-lasă pentru meniul popup Konqueror.
Comment[ru]=Расширение контекстного меню Konqueror
Comment[si]=Konqueror පොප් අප් මෙනුව සඳහා ඇද-දැමීම් ප්ලගිනය
Comment[sk]=Modul pre kontextové menu Konquerora.
Comment[sl]=Vstavek povleci in spusti za Konquerorjev pojavni meni.
Comment[sr]=Прикључак за превлачење за К‑освајачев искачући мени.
Comment[sr@ijekavian]=Прикључак за превлачење за К‑освајачев искачући мени.
Comment[sr@ijekavianlatin]=Priključak za prevlačenje za K‑osvajačev iskačući meni.
Comment[sr@latin]=Priključak za prevlačenje za K‑osvajačev iskačući meni.
Comment[sv]=Insticksprogram med drag och släpp för Konquerors popupmeny.
Comment[tg]=Плагини иловакунӣ барои менюи пайдошавандаи Konqueror.
Comment[th]=ส่วนเสริมการลากและวางสำหรับเมนูผุดของคอนเควอร์เรอร์
Comment[tr]=Konqueror Açılabilir Menüsü için sürükle bırak eklentisi.
Comment[ug]=Konqueror قاڭقىش تىزىملىكى سۆرەپ تاشلاش قىستۇرمىسى.
Comment[uk]=Додаток перетягування зі скиданням для контекстного меню Konqueror.
Comment[wa]=Tchôke-divins bodjî eyet saetchî po l' aspitant menu di Konqueror
Comment[x-test]=xxDrag-and-drop plugin for the Konqueror Popup Menu.xx
Comment[zh_CN]=Konqueror 弹出菜单拖放插件。
Comment[zh_TW]=Konqueror 彈出式選單的拖曳外掛程式。
