[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqDndPopupMenu/Plugin
Comment=Drag-and-drop plugin for the Konqueror Popup Menu.
Comment[ar]=ملحقة اسحب وأفلت لقائمة كنكر المنبثقة.
Comment[ca]=Connector d'arrossegar i deixar anar per al menú emergent del Konqueror.
Comment[cs]=Drag'n'drop modul pro kontextovou nabídku Konqueroru.
Comment[de]=Erweiterung für Ziehen und Ablegen im Aufklapp-Menü von Konqueror
Comment[en_GB]=Drag-and-drop plugin for the Konqueror Popup Menu.
Comment[es]=Complemento de arrastrar y soltar para el menú emergente de Konqueror.
Comment[fi]=Vedä-ja-pudota-liitännäinen Konquerorin ponnahdusvalikolle.
Comment[gl]=Complemento de arrastrar e soltar para o menú contextual de Konqueror.
Comment[ia]=Plugin de Traher-e-Poner pro le Menu de Popup de Konqueror
Comment[id]=Plugin seret-dan-letakkan untuk Menu Popup Konqueror.
Comment[ko]=Konqueror 팝업 메뉴에 사용할 끌어다 놓기 플러그인입니다.
Comment[nb]=Programtillegg for dra-og-slipp i Konquerors sprettoppmeny.
Comment[nds]=Trecken-un-afleggen-Moduul för't Konqueror-Opdukmenü
Comment[nl]=Slepen en laten vallen-plugin voor het contextmenu van Konqueror.
Comment[nn]=Dra-og-slepp-tillegg til sprettoppmenyen i Konqueror.
Comment[pl]=Wtyczka "przeciągnij i upuść" do menu podręcznego Konquerora.
Comment[pt]='Plugin' de 'drag-and-drop' para o Menu de Contexto do Konqueror.
Comment[pt_BR]=Plugin arrastar e soltar para os menus de contexto do Konqueror.
Comment[ru]=Расширение контекстного меню Konqueror
Comment[sk]=Drag and drop plugin pre vyskakovacie menu Konquerora.
Comment[sl]=Vstavek povleci in spusti za Konquerorjev pojavni meni.
Comment[sr]=Прикључак за превлачење за К‑освајачев искачући мени.
Comment[sr@ijekavian]=Прикључак за превлачење за К‑освајачев искачући мени.
Comment[sr@ijekavianlatin]=Priključak za prevlačenje za K‑osvajačev iskačući meni.
Comment[sr@latin]=Priključak za prevlačenje za K‑osvajačev iskačući meni.
Comment[sv]=Insticksprogram med drag och släpp för Konquerors popupmeny.
Comment[tr]=Konqueror Açılır menüsü için Sürükle ve Bırak eklentisi.
Comment[uk]=Додаток перетягування зі скиданням для контекстного меню Konqueror.
Comment[x-test]=xxDrag-and-drop plugin for the Konqueror Popup Menu.xx
Comment[zh_TW]=Konqueror 彈出式選單的拖曳外掛程式。
