[Desktop Entry]
Name=Date and Time

Icon=preferences-desktop-locale
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_clock
X-Plasma-MainScript=ui/main.qml
