[Desktop Entry]
Name=Workspace
Name[ar]=مساحة العمل
Name[bs]=Radna površina
Name[ca]=Espai de treball
Name[ca@valencia]=Espai de treball
Name[cs]=Pracovní plocha
Name[da]=Arbejdsområde
Name[de]=Arbeitsbereich
Name[el]=Χώρος εργασίας
Name[en_GB]=Workspace
Name[es]=Espacio de trabajo
Name[et]=Töötsoon
Name[eu]=Langunea
Name[fi]=Työtila
Name[fr]=Espace de travail
Name[gl]=Espazo de traballo
Name[he]=סביבת עבודה
Name[hu]=Munkaterület
Name[ia]=Spatio de labor
Name[id]=Workspace
Name[is]=Vinnurýmd
Name[it]=Spazio di lavoro
Name[ja]=ワークスペース
Name[ko]=작업 공간
Name[lt]=Darbo erdvė
Name[nb]=Arbeidsområde
Name[nds]=Arbeitrebeet
Name[nl]=Werkruimte
Name[nn]=Arbeids­område
Name[pa]=ਵਰਕਸਪੇਸ
Name[pl]=Przestrzeń robocza
Name[pt]=Área de Trabalho
Name[pt_BR]=Espaço de trabalho
Name[ru]=Рабочая среда
Name[sk]=Pracovná plocha
Name[sl]=Delovni prostor
Name[sr]=Радни простор
Name[sr@ijekavian]=Радни простор
Name[sr@ijekavianlatin]=Radni prostor
Name[sr@latin]=Radni prostor
Name[sv]=Arbetsyta
Name[tr]=Çalışma Alanı
Name[uk]=Робочий простір
Name[x-test]=xxWorkspacexx
Name[zh_CN]=工作空间
Name[zh_TW]=工作空間
Comment=Workspace Behavior
Comment[ar]=سلوك مساحة العمل
Comment[bs]=Ponašanje radnog prostora
Comment[ca]=Comportament de l'espai de treball
Comment[ca@valencia]=Comportament de l'espai de treball
Comment[cs]=Chování pracovní plochy
Comment[da]=Arbejdsområdets opførsel
Comment[de]=Verhalten der Arbeitsfläche
Comment[el]=Συμπεριφορά χώρου εργασίας
Comment[en_GB]=Workspace Behaviour
Comment[es]=Comportamiento del espacio de trabajo
Comment[et]=Töötsooni käitumine
Comment[eu]=Langunearen portaera
Comment[fi]=Työtilan toiminta
Comment[fr]=Comportement de l'espace de travail
Comment[gl]=Comportamento do espazo de traballo
Comment[he]=התנהגות סביבת העבודה
Comment[hu]=Működés
Comment[id]=Perilaku Workspace
Comment[is]=Hegðun vinnurýmis
Comment[it]=Comportamento dello spazio di lavoro
Comment[ja]=ワークスペースの挙動
Comment[ko]=작업 공간 행동
Comment[lt]=Darbo erdvės elgsena
Comment[nb]=Oppførsel for arbeidsområdet
Comment[nds]=Arbeitrebeet-Bedregen
Comment[nl]=Gedrag van werkruimte
Comment[nn]=Åtferd til arbeids­område
Comment[pa]=ਵਰਕਸਪੇਸ ਰਵੱਈਆ
Comment[pl]=Zachowanie przestrzeni roboczej
Comment[pt]=Comportamento da Área de Trabalho
Comment[pt_BR]=Comportamento do espaço de trabalho
Comment[ru]=Настройка поведения рабочей среды
Comment[sk]=Správanie pracovnej plochy
Comment[sl]=Obnašanje delovnega prostora
Comment[sr]=Понашање радног простора
Comment[sr@ijekavian]=Понашање радног простора
Comment[sr@ijekavianlatin]=Ponašanje radnog prostora
Comment[sr@latin]=Ponašanje radnog prostora
Comment[sv]=Arbetsytans beteende
Comment[tr]=Çalışma Alanı Davranışı
Comment[uk]=Поведінка робочого простору
Comment[x-test]=xxWorkspace Behaviorxx
Comment[zh_CN]=工作空间行为
Comment[zh_TW]=工作空間行為
Icon=plasma
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Furkan Tokac
X-KDE-PluginInfo-Email=furkantokac34@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_workspace
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
