[Desktop Entry]
Name=Workspace
Comment=Workspace Behavior
Icon=plasma
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Furkan Tokac
X-KDE-PluginInfo-Email=furkantokac34@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_workspace
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
