[Desktop Entry]
[Desktop Entry]
Name=Folder
Name[af]=Gids
Name[ar]=مجلد
Name[as]=ফোল্ডাৰ
Name[ast]=Carpeta
Name[be]=Тэчка
Name[be@latin]=Kataloh
Name[bg]=Папка
Name[bn]=ফোল্ডার
Name[bn_IN]=ফোল্ডার
Name[br]=Renkell
Name[bs]=Fascikla
Name[ca]=Carpeta
Name[ca@valencia]=Carpeta
Name[cs]=Složka
Name[csb]=Katalog
Name[cy]=Plygell
Name[da]=Mappe
Name[de]=Ordner
Name[el]=Φάκελος
Name[en_GB]=Folder
Name[eo]=Dosierujo
Name[es]=Carpeta
Name[et]=Kataloog
Name[eu]=Karpeta
Name[fa]=پوشه
Name[fi]=Kansio
Name[fr]=Dossier
Name[fy]=Map
Name[ga]=Fillteán
Name[gl]=Cartafol
Name[gu]=ફોલ્ડર
Name[he]=תיקייה
Name[hi]=फ़ोल्डर
Name[hne]=फोल्डर
Name[hr]=Mapa
Name[hsb]=Zapisk
Name[hu]=Mappa
Name[ia]=Dossier
Name[id]=Folder
Name[is]=Mappa
Name[it]=Cartella
Name[ja]=フォルダ
Name[ka]=საქაღალდე
Name[kk]=Қапшық
Name[km]=ថត
Name[kn]=ಕಡತಕೋಶ
Name[ko]=폴더
Name[ku]=Peldank
Name[lt]=Aplankas
Name[lv]=Mape
Name[mai]=फोल्डर
Name[mk]=Папка
Name[ml]=കൂട
Name[mr]=संचयीका
Name[ms]=Folder
Name[nb]=Mappe
Name[nds]=Orner
Name[ne]=फोल्डर
Name[nl]=Map
Name[nn]=Mappe
Name[oc]=Repertòri
Name[or]=ଫୋଲଡର
Name[pa]=ਫੋਲਡਰ
Name[pl]=Katalog
Name[pt]=Pasta
Name[pt_BR]=Pasta
Name[ro]=Dosar
Name[ru]=Папка
Name[se]=Máhppa
Name[si]=බහලුම
Name[sk]=Priečinok
Name[sl]=Mapa
Name[sr]=Фасцикла
Name[sr@ijekavian]=Фасцикла
Name[sr@ijekavianlatin]=Fascikla
Name[sr@latin]=Fascikla
Name[sv]=Katalog
Name[ta]=அடைவு
Name[te]=ఫొల్డర్
Name[tg]=Феҳрист
Name[th]=โฟลเดอร์
Name[tr]=Dizin
Name[ug]=قىسقۇچ
Name[uk]=Тека
Name[uz]=Jild
Name[uz@cyrillic]=Жилд
Name[vi]=Thư mục
Name[wa]=Ridant
Name[x-test]=xxFolderxx
Name[zh_CN]=文件夹
Name[zh_TW]=資料夾
Comment=Display the contents of folders
Comment[ar]=اعرض محتوى المجلدات
Comment[bg]=Показва съдържанието на папки
Comment[bs]=Prikaži sadržaj direktorija
Comment[ca]=Mostra el contingut de les carpetes
Comment[ca@valencia]=Mostra el contingut de les carpetes
Comment[cs]=Zobrazit obsah složek
Comment[da]=Vis indholdet af mapper
Comment[de]=Ordnerinhalte anzeigen
Comment[el]=Εμφάνιση περιεχομένων των φακέλων
Comment[es]=Mostrar el contenido de las carpetas
Comment[et]=Kataloogide sisu näitamine
Comment[eu]=Bistaratu karpeten edukia
Comment[fi]=Näyttää kansion sisällön
Comment[fr]=Afficher les contenus de dossiers
Comment[ga]=Taispeáin inneachar d'fhillteáin
Comment[gl]=Mostra o contido dos cartafoles
Comment[hu]=Megjeleníti a mappák tartalmát
Comment[ia]=Monstra le contentos de dossieres
Comment[is]=Sýna innihald mappa
Comment[it]=Mostra il contenuto delle cartelle
Comment[kk]=Қапшықтардағыны көрсету
Comment[km]=បង្ហាញ​មាតិកា​របស់​ថត
Comment[ko]=폴더 내용 보여주기
Comment[lt]=Rodyti aplankų turinį
Comment[lv]=Rādīt mapju saturu
Comment[mr]=संचयीकाचा मजकूर दर्शवा
Comment[nb]=Vis pampers innhold
Comment[nds]=Den Inholt vun Ornern wiesen
Comment[nl]=Toon de inhoud van mappen
Comment[pa]=ਫੋਲਡਰਾਂ ਦੀ ਸਮੱਗਰੀ ਵੇਖਾਓ
Comment[pl]=Wyświetl zawartość katalogów
Comment[pt]=Mostrar o conteúdo das pastas
Comment[pt_BR]=Mostra o conteúdo das pastas
Comment[ro]=Afișează conținutul dosarelor
Comment[ru]=Вывод содержимого папки
Comment[sk]=Zobraziť obsah priečinkov
Comment[sl]=Pokaži vsebino map
Comment[sr]=Приказује садржај фасцикли
Comment[sr@ijekavian]=Приказује садржај фасцикли
Comment[sr@ijekavianlatin]=Prikazuje sadržaj fascikli
Comment[sr@latin]=Prikazuje sadržaj fascikli
Comment[sv]=Visa innehåll i kataloger
Comment[tg]=Намоиши мазмуни феҳристҳо
Comment[tr]=Dizinlerin içeriğini göster
Comment[ug]=قىسقۇچلارنىڭ مەزمۇنلىرىنى كۆرسىتىدۇ
Comment[uk]=Показ вмісту тек
Comment[wa]=Håynêye çou k' i gn a dins des ridants
Comment[x-test]=xxDisplay the contents of foldersxx
Comment[zh_CN]=显示文件夹的内容
Comment[zh_TW]=顯示資料夾內容

Type=Service
Icon=folder
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-Plasma-RequiredExtensions=LaunchApp,http,localio,networkio
X-Plasma-ContainmentType=Desktop

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.folder
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true