[Desktop Entry]
[Desktop Entry]
Name=Folder
Name[de]=Ordner
Name[nl]=Map
Name[pt]=Pasta
Name[sk]=Priečinok
Name[sv]=Katalog
Name[uk]=Тека
Name[x-test]=xxFolderxx
Comment=Display the contents of folders
Comment[de]=Ordnerinhalte anzeigen
Comment[nl]=Toon de inhoud van mappen
Comment[pt]=Mostrar o conteúdo das pastas
Comment[sk]=Zobraziť obsah priečinkov
Comment[sv]=Visa innehåll i kataloger
Comment[uk]=Показ вмісту тек
Comment[x-test]=xxDisplay the contents of foldersxx

Type=Service
Icon=folder
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-Plasma-RequiredExtensions=LaunchApp,http,localio,networkio
X-Plasma-ContainmentType=Desktop

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.folder
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
