[Desktop Entry]
Name=Folder
Name[ar]=مجلّد
Name[bs]=Fascikla
Name[ca]=Carpeta
Name[cs]=Složka
Name[da]=Mappe
Name[de]=Ordner
Name[el]=Φάκελος
Name[en_GB]=Folder
Name[es]=Carpeta
Name[fi]=Kansio
Name[fr]=Dossier
Name[gl]=Cartafol
Name[hu]=Mappa
Name[ia]=Dossier
Name[id]=Folder
Name[it]=Cartella
Name[ko]=폴더
Name[lt]=Aplankas
Name[nb]=Mappe
Name[nds]=Orner
Name[nl]=Map
Name[nn]=Mappe
Name[pa]=ਫੋਲਡਰ
Name[pl]=Katalog
Name[pt]=Pasta
Name[pt_BR]=Pasta
Name[ru]=Папка
Name[se]=Máhppa
Name[sk]=Priečinok
Name[sl]=Mapa
Name[sr]=Фасцикла
Name[sr@ijekavian]=Фасцикла
Name[sr@ijekavianlatin]=Fascikla
Name[sr@latin]=Fascikla
Name[sv]=Katalog
Name[tr]=Klasör
Name[uk]=Тека
Name[x-test]=xxFolderxx
Name[zh_CN]=文件夹
Name[zh_TW]=資料夾
Comment=Display the contents of folders
Comment[ar]=اعرض محتويات المجلدات
Comment[bs]=Prikaži sadržaj fascikli
Comment[ca]=Mostra el contingut de les carpetes
Comment[cs]=Zobrazit obsah složek
Comment[da]=Vis indholdet af mapper
Comment[de]=Ordnerinhalte anzeigen
Comment[el]=Εμφάνιση περιεχομένων των φακέλων
Comment[en_GB]=Display the contents of folders
Comment[es]=Mostrar el contenido de carpetas
Comment[fi]=Näyttää kansion sisällön
Comment[fr]=Afficher le contenu de dossiers
Comment[gl]=Mostra o contido dos cartafoles
Comment[hu]=Megjeleníti a mappák tartalmát
Comment[ia]=Monstra le contentos de dossieres
Comment[id]=Tampilkan isi folder
Comment[it]=Visualizza il contenuto delle cartelle
Comment[ko]=폴더의 내용 보기
Comment[lt]=Rodyti aplankų turinį
Comment[nb]=Vis mappers innhold
Comment[nds]=Den Inholt vun Ornern wiesen
Comment[nl]=Toon de inhoud van mappen
Comment[pa]=ਫੋਲਡਰਾਂ ਦੀ ਸਮੱਗਰੀ ਵੇਖਾਓ
Comment[pl]=Wyświetla zawartość katalogów
Comment[pt]=Mostrar o conteúdo das pastas
Comment[pt_BR]=Mostra o conteúdo das pastas
Comment[ru]=Вывод содержимого папки
Comment[sk]=Zobraziť obsah priečinkov
Comment[sl]=Pokaži vsebino map
Comment[sr]=Приказ садржаја фасцикле
Comment[sr@ijekavian]=Приказ садржаја фасцикле
Comment[sr@ijekavianlatin]=Prikaz sadržaja fascikle
Comment[sr@latin]=Prikaz sadržaja fascikle
Comment[sv]=Visa innehåll i kataloger
Comment[tr]=Klasörün içeriklerini görüntüle
Comment[uk]=Показ вмісту тек
Comment[x-test]=xxDisplay the contents of foldersxx
Comment[zh_CN]=显示文件夹的内容
Comment[zh_TW]=顯示資料夾內容

Type=Service
Icon=folder
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-Plasma-RequiredExtensions=LaunchApp,http,localio,networkio
X-Plasma-ContainmentType=Desktop

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.folder
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
