[Desktop Entry]
Icon=preferences-system-splash
Type=Application
Exec=systemsettings kcm_splashscreen
NoDisplay=true

Name=Splash Screen
Name[ar]=شاشة البدء
Name[ast]=Pantalla de chisca
Name[az]=Açılış ekranı
Name[bg]=Начален екран
Name[bs]=Čuvar ekrana
Name[ca]=Pantalla de presentació
Name[ca@valencia]=Pantalla de presentació
Name[cs]=Úvodní obrazovka
Name[da]=Splashskærm
Name[de]=Startbildschirm
Name[el]=Αρχική οθόνη
Name[en_GB]=Splash Screen
Name[es]=Pantalla de bienvenida
Name[et]=Tiitelkuva
Name[eu]=Plast pantaila
Name[fi]=Tervetuloruutu
Name[fr]=Écran de démarrage
Name[gl]=Pantalla de benvida
Name[he]=מסך פתיחה
Name[hu]=Nyitóképernyő
Name[ia]=Schermo Splash
Name[id]=Layar Splash
Name[is]=Upphafsskjár
Name[it]=Schermata iniziale
Name[ja]=スプラッシュスクリーン
Name[ka]=მისასალმებელი ფანჯარა
Name[ko]=시작 화면
Name[lt]=Prisistatymo langas
Name[nb]=Velkomstbilde
Name[nds]=Startschirm
Name[nl]=Opstartscherm
Name[nn]=Velkomst­bilete
Name[pa]=ਸਵਾਗਤੀ ਸਕਰੀਨ
Name[pl]=Ekran powitalny
Name[pt]=Ecrã Inicial
Name[pt_BR]=Tela de apresentação
Name[ro]=Ecran de întâmpinare
Name[ru]=Заставка
Name[se]=Álgošearbma
Name[sk]=Úvodná obrazovka
Name[sl]=Pozdravno okno
Name[sr]=Уводни екран
Name[sr@ijekavian]=Уводни екран
Name[sr@ijekavianlatin]=Uvodni ekran
Name[sr@latin]=Uvodni ekran
Name[sv]=Startskärm
Name[ta]=துவக்கத் திரை
Name[tg]=Экрани зоҳирӣ
Name[tr]=Açılış Ekranı
Name[uk]=Вікно вітання
Name[vi]=Màn hình khởi động
Name[x-test]=xxSplash Screenxx
Name[zh_CN]=欢迎屏幕
Name[zh_TW]=啟動畫面
