[Desktop Entry]
Icon=preferences-system-splash
Exec=kcmshell5 kcm_splashscreen
X-DocPath=kcontrol/splashscreen/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_splashscreen
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspacetheme
X-KDE-Weight=100

Name=Splash Screen
Name[ast]=Pantalla de chiscadura
Name[bs]=Čuvar ekrana
Name[ca]=Pantalla de presentació
Name[ca@valencia]=Pantalla de presentació
Name[cs]=Úvodní obrazovka
Name[da]=Splashskærm
Name[de]=Startbildschirm
Name[el]=Αρχική οθόνη
Name[en_GB]=Splash Screen
Name[es]=Pantalla de bienvenida
Name[et]=Tiitelkuva
Name[fi]=Tervetuloruutu
Name[fr]=Écran de démarrage
Name[gl]=Pantalla de benvida
Name[he]=מסך פתיחה
Name[hu]=Nyitóképernyő
Name[id]=Layar Percikan
Name[is]=Upphafsskjár
Name[it]=Schermata iniziale
Name[ko]=시작 화면
Name[lt]=Pasveikinimo ekranas
Name[nb]=Velkomstbilde
Name[nds]=Startschirm
Name[nl]=Opstartscherm
Name[nn]=Velkomst­bilete
Name[pa]=ਸਵਾਗਤੀ ਸਕਰੀਨ
Name[pl]=Ekran powitalny
Name[pt]=Ecrã Inicial
Name[pt_BR]=Tela de apresentação
Name[ru]=Заставка
Name[se]=Álgošearbma
Name[sk]=Úvodná obrazovka
Name[sl]=Pozdravno okno
Name[sr]=Уводни екран
Name[sr@ijekavian]=Уводни екран
Name[sr@ijekavianlatin]=Uvodni ekran
Name[sr@latin]=Uvodni ekran
Name[sv]=Startskärm
Name[tr]=Açılış Ekranı
Name[uk]=Вікно вітання
Name[vi]=Màn hình chào mừng
Name[x-test]=xxSplash Screenxx
Name[zh_CN]=欢迎屏幕
Name[zh_TW]=啟動畫面
Comment=Splash Screen Theme
Comment[ast]=Tema de la pantalla de chiscadura
Comment[bs]=Tema čuvara ekrana
Comment[ca]=Tema de la pantalla de presentació
Comment[ca@valencia]=Tema de la pantalla de presentació
Comment[cs]=Motiv úvodní obrazovky
Comment[da]=Tema for opstartsskærmen
Comment[de]=Startbildschirm-Design
Comment[el]=Θέμα αρχικής οθόνης
Comment[en_GB]=Splash Screen Theme
Comment[es]=Tema de la pantalla de bienvenida
Comment[et]=Tiitelkuva teema
Comment[fi]=Tervetuloruudun teema
Comment[fr]=Thème de l'écran de démarrage
Comment[gl]=Tema da pantalla de benvida
Comment[he]=ערכת הנושא של מסך הפתיחה
Comment[hu]=Nyitókép téma
Comment[id]=Tema Layar Percikan
Comment[is]=Þemai ræsiskjás
Comment[it]=Tema della schermata iniziale
Comment[ko]=시작 화면 테마
Comment[lt]=Pasveikinimo ekrano apipavidalinimas
Comment[nb]=Velkomstbilde-tema
Comment[nds]=Startschirm-Muster
Comment[nl]=Opstartschermthema
Comment[nn]=Tema for velkomstbilete
Comment[pa]=ਸਵਾਗਤੀ ਸਕਰੀਨ ਥੀਮ
Comment[pl]=Wygląd ekranu powitalnego
Comment[pt]=Tema do Ecrã Inicial
Comment[pt_BR]=Tema da tela de apresentação
Comment[ru]=Управление темами экрана-заставки
Comment[sk]=Téma úvodnej obrazovky
Comment[sl]=Tema pozdravnega okna
Comment[sr]=Тема уводног екрана
Comment[sr@ijekavian]=Тема уводног екрана
Comment[sr@ijekavianlatin]=Tema uvodnog ekrana
Comment[sr@latin]=Tema uvodnog ekrana
Comment[sv]=Tema för startskärm
Comment[tr]=Açılış Ekranı Teması
Comment[uk]=Тема вікна вітання
Comment[x-test]=xxSplash Screen Themexx
Comment[zh_CN]=欢迎屏幕主题
Comment[zh_TW]=啟動畫面主題
X-KDE-Keywords=splash screen,splash theme,startup
X-KDE-Keywords[bs]=čuvar ekrana,blijesak teme,pokretanje
X-KDE-Keywords[ca]=pantalla de presentació,tema de presentació,engegar
X-KDE-Keywords[ca@valencia]=pantalla de presentació,tema de presentació,engegar
X-KDE-Keywords[da]=opstartsbillede,opstartsskærm,splash,opstartstema,opstart
X-KDE-Keywords[de]=Startbildschirm,Design
X-KDE-Keywords[el]=οθόνης εκκίνησης,θέμα εκκίνησης,έναρξη
X-KDE-Keywords[en_GB]=splash screen,splash theme,startup
X-KDE-Keywords[es]=pantalla de bienvenida,tema de bienvenida,inicio
X-KDE-Keywords[et]=tiitelkuva,tiitelkuva teema,käivitamine
X-KDE-Keywords[fi]=aloitusruutu,aloitusteema,käynnistys,käynnistysruutu,käynnistysteema,tervetuloruutu,tervetuloikkuna,tervetuloteema
X-KDE-Keywords[fr]=écran de démarrage, thème de l'écran de démarrage, démarrage
X-KDE-Keywords[gl]=pantalla de benvida, tema de benvida, inicio
X-KDE-Keywords[hu]=indítóképernyő,indítótéma,indulás
X-KDE-Keywords[id]=layar percikan,tema percikan,startup
X-KDE-Keywords[it]=schermata iniziale,tema della schermata iniziale,avvio
X-KDE-Keywords[ko]=splash screen,splash theme,startup,시작 화면,시작 테마,시작
X-KDE-Keywords[nb]=velkomstbilde,velkomstbildetema,oppstart
X-KDE-Keywords[nds]=Startschirm,Startschirm-Muster,Hoochfohren
X-KDE-Keywords[nl]=splash-scherm,splash-thema,opstarten
X-KDE-Keywords[nn]=velkomstbilete,velkomstbilettema,oppstart
X-KDE-Keywords[pa]=ਸਵਾਗਤੀ ਸਕਰੀਨ,ਸਪਲੈਸ਼ ਥੀਮ,ਸ਼ੁਰੂ,ਸ਼ੁਰੂਆਤ
X-KDE-Keywords[pl]=ekran powitalny,wystrój ekranu powitalnego,uruchamianie
X-KDE-Keywords[pt]=ecrã inicial,tema do ecrã inicial,arranque
X-KDE-Keywords[pt_BR]=tela inicial,tema inicial,inicialização
X-KDE-Keywords[ru]=splash screen,splash theme,startup,заставка,экран-заставка,тема заставки,запуск,приветствие
X-KDE-Keywords[sk]=splash screen,splash theme,spustenie
X-KDE-Keywords[sl]=pozdravno okno,pozdravni zaslon,tema pozdravnega zaslona,zagon
X-KDE-Keywords[sr]=splash screen,splash theme,startup,уводни екран,уводна тема,покретање
X-KDE-Keywords[sr@ijekavian]=splash screen,splash theme,startup,уводни екран,уводна тема,покретање
X-KDE-Keywords[sr@ijekavianlatin]=splash screen,splash theme,startup,uvodni ekran,uvodna tema,pokretanje
X-KDE-Keywords[sr@latin]=splash screen,splash theme,startup,uvodni ekran,uvodna tema,pokretanje
X-KDE-Keywords[sv]=startskärm,starttema,start
X-KDE-Keywords[tr]=açılış ekranı,açılış ekranı teması,açılış
X-KDE-Keywords[uk]=splash screen,splash theme,startup,вікно,вітання,тема,запуск
X-KDE-Keywords[x-test]=xxsplash screenxx,xxsplash themexx,xxstartupxx
X-KDE-Keywords[zh_CN]=splash screen,splash theme,startup,飞溅屏幕,启动画面,启动画面主题,飞溅屏幕主题,启动
X-KDE-Keywords[zh_TW]=splash screen,splash theme,startup
Categories=Qt;KDE;X-KDE-settings-looknfeel;
