[Desktop Entry]
Icon=preferences-system-splash
Exec=kcmshell4 ksplashthememgr
X-DocPath=kcontrol/splashscreen/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_ksplashthemes
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop-appearance
X-KDE-Weight=100

Name=Splash Screen
Comment=Manager for Splash Screen Themes
X-KDE-Keywords=splash screen,splash theme,startup
Categories=Qt;KDE;X-KDE-settings-looknfeel;
