[Desktop Entry]
Icon=preferences-system-splash
Exec=kcmshell4 ksplashthememgr
X-DocPath=kcontrol/splashscreen/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_ksplashthemes
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop-appearance
X-KDE-Weight=100

Name=Splash Screen
Name[nl]=Opstartscherm
Name[uk]=Вікно вітання
Name[x-test]=xxSplash Screenxx
Comment=Manager for Splash Screen Themes
Comment[nl]=Themabeheer voor opstartschermen
Comment[uk]=Керування темами вікон вітання
Comment[x-test]=xxManager for Splash Screen Themesxx
X-KDE-Keywords=splash screen,splash theme,startup
X-KDE-Keywords[nl]=splash-scherm,splash-thema,opstarten
X-KDE-Keywords[uk]=splash screen,splash theme,startup,вікно,вітання,тема,запуск
X-KDE-Keywords[x-test]=xxsplash screen,splash theme,startupxx
Categories=Qt;KDE;X-KDE-settings-looknfeel;
