[Desktop Entry]
Icon=preferences-system-time
Type=Application
Exec=systemsettings kcm_recentFiles
NoDisplay=true

Name=Recent Files
Name[az]=Sonuncu fayllar
Name[ca]=Fitxers recents
Name[ca@valencia]=Fitxers recents
Name[de]=Zuletzt geöffnete Dateien
Name[es]=Archivos recientes
Name[fr]=Fichiers récents
Name[it]=File recenti
Name[nl]=Recente bestanden
Name[pl]=Ostatnie pliki
Name[pt]=Ficheiros Recentes
Name[sl]=Nedavne datoteke
Name[ta]=சமீப கோப்புகள்
Name[tr]=Son Kullanılan Dosyalar
Name[uk]=Нещодавні файли
Name[x-test]=xxRecent Filesxx
Name[zh_CN]=最近文件
