[Desktop Entry]
Icon=preferences-system-time
Type=Application
Exec=systemsettings kcm_recentFiles
NoDisplay=true

Name=Recent Files
Name[ca]=Fitxers recents
Name[de]=Zuletzt geöffnete Dateien
Name[es]=Archivos recientes
Name[nl]=Recente bestanden
Name[pt]=Ficheiros Recentes
Name[tr]=Son Kullanılan Dosyalar
Name[uk]=Нещодавні файли
Name[x-test]=xxRecent Filesxx
