[Desktop Entry]
Name=Plasma Style
Name[ca]=Estil del Plasma
Name[cs]=Styl Plasma
Name[da]=Plasma-stil
Name[de]=Plasma-Stil
Name[en_GB]=Plasma Style
Name[es]=Estilo de Plasma
Name[eu]=Plasmaren estiloa
Name[fi]=Plasma-tyyli
Name[fr]=Style Plasma
Name[gl]=Estilo de Plasma
Name[id]=Gaya Plasma
Name[it]=Stile di Plasma
Name[ja]=Plasma スタイル
Name[ko]=Plasma 스타일
Name[lt]=Plasma stilius
Name[nl]=Plasma-stijl
Name[nn]=Plasma-stil
Name[pl]=Wygląd Plazmy
Name[pt]=Estilo do Plasma
Name[pt_BR]=Estilo do Plasma
Name[ru]=Оформление рабочего стола
Name[sk]=Štýl Plasma
Name[sv]=Plasmastil
Name[uk]=Стиль Плазми
Name[x-test]=xxPlasma Stylexx
Name[zh_CN]=Plasma 样式
Name[zh_TW]=Plasma 樣式
Comment=Choose Plasma theme
Comment[ca]=Trieu el tema del Plasma
Comment[ca@valencia]=Trieu el tema del Plasma
Comment[cs]=Zvolte motiv Plasma
Comment[da]=Vælg Plasma-tema
Comment[de]=Plasma-Design auswählen
Comment[en_GB]=Choose Plasma theme
Comment[es]=Escoger un tema de Plasma
Comment[eu]=Aukeratu Plasmaren gaia
Comment[fi]=Valitse Plasma-teema
Comment[fr]=Choisissez le thème Plasma
Comment[gl]=Escoller un tema de Plasma
Comment[id]=Pilihlah tema Plasma
Comment[it]=Scegli tema di Plasma
Comment[ja]=Plasma テーマを選択
Comment[ko]=Plasma 테마 선택
Comment[lt]=Pasirinkti Plasma apipavidalinimą
Comment[nl]=Plasma-thema kiezen
Comment[nn]=Vel Plasma-tema
Comment[pl]=Wybierz wygląd Plazmy
Comment[pt]=Escolher o tema do Plasma
Comment[pt_BR]=Escolha o tema do Plasma
Comment[ru]=Выбор темы оформления рабочего стола Plasma
Comment[sk]=Vyberte Plasma tému
Comment[sv]=Välj Plasmatema
Comment[uk]=Вибір теми Плазми
Comment[x-test]=xxChoose Plasma themexx
Comment[zh_CN]=选择 Plasma 主题
Comment[zh_TW]=選擇 Plasma 主題
Icon=preferences-desktop-theme
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=David Rosca
X-KDE-PluginInfo-Email=nowrep@gmail.com
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=kcm_desktoptheme
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
