[Desktop Entry]
Name=Plasma Theme
Name[ca]=Tema del Plasma
Name[ca@valencia]=Tema del Plasma
Name[es]=Tema de Plasma
Name[gl]=Tema de Plasma
Name[nl]=Plasma-thema
Name[pt]=Tema do Plasma
Name[ru]=Тема оформления Plasma
Name[sv]=Plasmatema
Name[uk]=Теми Плазми
Name[x-test]=xxPlasma Themexx
Name[zh_TW]=Plasma 主題
Comment=Choose the Plasma theme
Comment[ca]=Trieu el tema del Plasma
Comment[ca@valencia]=Trieu el tema del Plasma
Comment[es]=Escoger el tema de Plasma
Comment[gl]=Escoller o tema de Plasma
Comment[nl]=Kies het Plasma-thema
Comment[pt]=Escolher o tema do Plasma
Comment[ru]=Выбор темы оформления Plasma
Comment[sv]=Välj Plasmatemat
Comment[uk]=Вибір теми Плазми
Comment[x-test]=xxChoose the Plasma themexx
Comment[zh_TW]=選擇 Plasma 主題
Icon=preferences-desktop-theme
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=David Rosca
X-KDE-PluginInfo-Email=nowrep@gmail.com
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=kcm_desktoptheme
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
