[Desktop Entry]
Type=Link
URL=fonts:/
Icon=preferences-desktop-font
Name=Fonts
Name[nl]=Lettertypen
Name[uk]=Шрифти
Name[x-test]=xxFontsxx
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
