[Desktop Entry]
Name=Default Applications
Comment=Choose default Applications
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-default-applications
X-KDE-Library=kcm_componentchooser
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=desktop,handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
X-KDE-System-Settings-Parent-Category=applications
X-KDE-ParentApp=kcontrol
X-KDE-Keywords=default applications,components,component chooser,resources,web browser,browser,internet,file manager,dolphin,email,e-mail,email client,terminal,terminal emulator,konsole

