[Desktop Entry]
Name=Autostart
Comment=Automatically Started Applications
Encoding=UTF-8
Type=Service
Icon=system-run
X-KDE-Library=kcm_autostart
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=desktop
X-Plasma-MainScript=ui/main.qml
X-KDE-System-Settings-Parent-Category=session
X-KDE-ParentApp=kcontrol
X-KDE-Keywords=Autostart Manager,autostart,startup,system startup,plasma start,cron
X-DocPath=kcontrol/autostart/index.html
X-KDE-Weight=30
