[Desktop Entry]
Encoding=UTF-8
Name=Application Menu Bar
Name[ca]=Barra de menú d'aplicacions
Name[ca@valencia]=Barra de menú d'aplicacions
Name[de]=Anwendungsmenüleiste
Name[el]=Γραμμή μενού εφαρμογής
Name[en_GB]=Application Menu Bar
Name[es]=Barra de menú de la aplicación
Name[fi]=Sovellusvalikkopalkki
Name[it]=Barra del menu delle applicazioni
Name[ko]=프로그램 메뉴 표시줄
Name[nl]=Menubalk Toepassingen
Name[nn]=Programmenylinje
Name[pl]=Pasek menu programów
Name[pt]=Barra do Menu da Aplicação
Name[ru]=Строка меню приложения
Name[sk]=Ponuka Aplikačné menu
Name[sr]=Трака менија програма
Name[sr@ijekavian]=Трака менија програма
Name[sr@ijekavianlatin]=Traka menija programa
Name[sr@latin]=Traka menija programa
Name[sv]=Programmenyrad
Name[uk]=Смужка меню програми
Name[x-test]=xxApplication Menu Barxx
Name[zh_CN]=应用程序菜单栏
Name[zh_TW]=應用程式選單列
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=org.kde.plasma.desktop.appmenubar
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
