[Desktop Entry]
Encoding=UTF-8
Name=Application Menu Bar
Name[ca]=Barra de menú de l'aplicació
Name[ca@valencia]=Barra de menú de l'aplicació
Name[cs]=Pruh s nabídkou aplikace
Name[da]=Menulinje til programmer
Name[de]=Anwendungsmenüleiste
Name[el]=Γραμμή μενού εφαρμογής
Name[en_GB]=Application Menu Bar
Name[es]=Barra de menú de la aplicación
Name[eu]=Aplikazioen menu-barra
Name[fi]=Sovellusvalikkopalkki
Name[it]=Barra del menu delle applicazioni
Name[ko]=프로그램 메뉴 표시줄
Name[nl]=Menubalk Toepassingen
Name[nn]=Programmenylinje
Name[pl]=Pasek menu programów
Name[pt]=Barra do Menu da Aplicação
Name[pt_BR]=Menu de aplicativos
Name[ru]=Строка меню приложения
Name[sk]=Ponuka Aplikačné menu
Name[sl]=Menijska vrstico programa
Name[sr]=Трака менија програма
Name[sr@ijekavian]=Трака менија програма
Name[sr@ijekavianlatin]=Traka menija programa
Name[sr@latin]=Traka menija programa
Name[sv]=Programmenyrad
Name[uk]=Смужка меню програми
Name[x-test]=xxApplication Menu Barxx
Name[zh_CN]=应用程序菜单栏
Name[zh_TW]=應用程式選單列
Comment=Combines the current application menu into your shell
Comment[ca]=Combina el menú de l'aplicació actual a l'intèrpret
Comment[ca@valencia]=Combina el menú de l'aplicació actual a l'intèrpret
Comment[cs]=Kombinuje současnou nabídku aplikací do pracovní plochy
Comment[da]=Bringer menuen fra det aktuelle program ind i skrivebordsskallen
Comment[en_GB]=Combines the current application menu into your shell
Comment[es]=Combina el menú de la aplicación actual en su shell
Comment[eu]=Uneko aplikazioaren menua zure shell-ean bateratzen du
Comment[it]=Combina il menu attuale delle applicazioni nella tua shell
Comment[nl]=Combineert het huidige toepassingsmenu in uw shell
Comment[nn]=Gjer menylinja til det gjeldande programmet tilgjengeleg i skalet
Comment[pl]=Osadza menu bieżącej aplikacji w powłoce
Comment[pt]=Combina o menu da aplicação actual com a sua consola
Comment[pt_BR]=Combina o menu de aplicativo atual em seu shell
Comment[sk]=Kombinuje aktuálnu ponuku aplikácie do vášho shellu
Comment[sr]=Уклапа тренутни мени програма у вашу шкољку
Comment[sr@ijekavian]=Уклапа тренутни мени програма у вашу шкољку
Comment[sr@ijekavianlatin]=Uklapa trenutni meni programa u vašu školjku
Comment[sr@latin]=Uklapa trenutni meni programa u vašu školjku
Comment[sv]=Kombinerar aktuell programmeny i skalet
Comment[uk]=Вбудовує меню поточної програми до вашої оболонки
Comment[x-test]=xxCombines the current application menu into your shellxx
Comment[zh_CN]=将当前应用菜单整合到您的桌面外壳
Comment[zh_TW]=結合目前的應用程式選單到您的桌面
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=org.kde.plasma.desktop.appmenubar
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
