[Desktop Entry]
Icon=preferences-desktop-baloo
Type=Application
Exec=systemsettings kcm_baloofile
NoDisplay=true

Name=File Search
Name[ar]=بحث الملفّات
Name[ast]=Busca de ficheros
Name[az]=Fayl axtarışı
Name[bg]=Търсене на файлове
Name[ca]=Cerca de fitxers
Name[ca@valencia]=Busca de fitxers
Name[cs]=Hledání souboru
Name[da]=Filsøgning
Name[de]=Dateisuche
Name[el]=Αναζήτηση αρχείων
Name[en_GB]=File Search
Name[es]=Búsqueda de archivos
Name[et]=Failiotsing
Name[eu]=Fitxategien bilaketa
Name[fi]=Tiedostohaku
Name[fr]=Recherche de fichier
Name[gl]=Busca de ficheiros
Name[he]=חיפוש קבצים
Name[hu]=Fájlkeresés
Name[ia]=Cerca de file
Name[id]=Pencarian File
Name[is]=Skráaleit
Name[it]=Ricerca file
Name[ja]=ファイルの検索
Name[ko]=파일 검색
Name[lt]=Failų paieška
Name[ml]=ഫയൽ തിരയുക
Name[mr]=फाईल शोध
Name[nl]=Bestanden zoeken
Name[nn]=Filsøk
Name[pa]=ਫਾਈਲ ਖੋਜ
Name[pl]=Wyszukiwanie plików
Name[pt]=Pesquisa de Ficheiros
Name[pt_BR]=Pesquisa de arquivos
Name[ro]=Căutare fișiere
Name[ru]=Поиск файлов
Name[sk]=Hľadanie súborov
Name[sl]=Iskanje datotek
Name[sr]=Претрага фајлова
Name[sr@ijekavian]=Претрага фајлова
Name[sr@ijekavianlatin]=Pretraga fajlova
Name[sr@latin]=Pretraga fajlova
Name[sv]=Filsökning
Name[ta]=கோப்பு தேடல்
Name[tg]=Ҷустуҷӯи файлҳо
Name[tr]=Dosya Araması
Name[uk]=Пошук файлів
Name[vi]=Tìm kiếm tệp
Name[x-test]=xxFile Searchxx
Name[zh_CN]=文件搜索
Name[zh_TW]=檔案搜尋
