[Desktop Entry]
Exec=kcmshell5 kcm_baloofile
Icon=baloo
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_baloofile
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=search
X-KDE-Weight=20

X-DocPath=kcontrol/baloo/index.html

Name=File Search
Name[ca]=Cerca de fitxers
Name[cs]=Hledání souboru
Name[da]=Filsøgning
Name[de]=Dateisuche
Name[en_GB]=File Search
Name[es]=Búsqueda de archivos
Name[fi]=Tiedostohaku
Name[it]=Ricerca dei file
Name[ko]=파일 검색
Name[nl]=Bestanden zoeken
Name[pl]=Wyszukiwanie plików
Name[pt]=Pesquisa de Ficheiros
Name[pt_BR]=Pesquisa de Arquivos
Name[sk]=Hľadanie súborov
Name[sl]=Iskanje datotek
Name[sr]=Претрага фајлова
Name[sr@ijekavian]=Претрага фајлова
Name[sr@ijekavianlatin]=Pretraga fajlova
Name[sr@latin]=Pretraga fajlova
Name[sv]=Filsökning
Name[uk]=Пошук файлів
Name[x-test]=xxFile Searchxx
Name[zh_CN]=文件搜索
Name[zh_TW]=檔案搜尋
Comment=Configure File Search
Comment[ca]=Configuració de la cerca de fitxers
Comment[cs]=Nastavit hledání souborů
Comment[da]=Indstil filsøgning
Comment[de]=Dateisuche einrichten
Comment[en_GB]=Configure File Search
Comment[es]=Configurar la búsqueda de archivos
Comment[fi]=Tiedostohaun asetukset
Comment[it]=Configura la ricerca dei file
Comment[ko]=파일 검색 설정
Comment[nl]=Bestanden zoeken instellen
Comment[pl]=Ustawienia wyszukiwania plików
Comment[pt]=Configurar a Pesquisa de Ficheiros
Comment[pt_BR]=Configura a Pesquisa de Arquivos
Comment[sk]=Nastavenie hľadania súborov
Comment[sl]=Nastavi Iskanje datotek
Comment[sr]=Подешавање претраге фајлова
Comment[sr@ijekavian]=Подешавање претраге фајлова
Comment[sr@ijekavianlatin]=Podešavanje pretrage fajlova
Comment[sr@latin]=Podešavanje pretrage fajlova
Comment[sv]=Anpassa filsökning
Comment[uk]=Налаштовування пошуку файлів
Comment[x-test]=xxConfigure File Searchxx
Comment[zh_CN]=配置文件搜索
Comment[zh_TW]=設定檔案搜尋
X-KDE-Keywords=Search, File, Baloo
X-KDE-Keywords[ca]=Cerca, Fitxer, Baloo
X-KDE-Keywords[cs]=Hledat, Soubor, Baloo
X-KDE-Keywords[da]=Søgning, Fil, Baloo
X-KDE-Keywords[de]=Suchen, Datei, Baloo,
X-KDE-Keywords[en_GB]=Search, File, Baloo
X-KDE-Keywords[es]=Buscar, Archivo, Baloo
X-KDE-Keywords[fi]=Search, File, Baloo, haku, etsi, tiedosto
X-KDE-Keywords[it]=Ricerca, file, Baloo
X-KDE-Keywords[ko]=Search, File, Baloo, 검색, 파일
X-KDE-Keywords[lt]=Paieška, Failas, Baloo
X-KDE-Keywords[nb]=Søk. fil, Baloo
X-KDE-Keywords[nl]=Zoeken, bestand, Baloo
X-KDE-Keywords[pl]=Znajdź, Plik, Baloo
X-KDE-Keywords[pt]=Pesquisa, Ficheiro, Baloo
X-KDE-Keywords[pt_BR]=Pesquisar, Procurar, Arquivo, Baloo
X-KDE-Keywords[sk]=Hľadať, súbor, Baloo
X-KDE-Keywords[sl]=Iskanje, datoteka, Baloo
X-KDE-Keywords[sr]=search,file,baloo,претрага,фајл,Балу
X-KDE-Keywords[sr@ijekavian]=search,file,baloo,претрага,фајл,Балу
X-KDE-Keywords[sr@ijekavianlatin]=search,file,baloo,pretraga,fajl,Baloo
X-KDE-Keywords[sr@latin]=search,file,baloo,pretraga,fajl,Baloo
X-KDE-Keywords[sv]=Sök, Fil, Baloo
X-KDE-Keywords[tr]=Ara, Dosya, Baloo
X-KDE-Keywords[uk]=пошук,файли,файл,балу,запуск,search,file,Baloo
X-KDE-Keywords[x-test]=xxSearchxx,xx Filexx,xx Balooxx
X-KDE-Keywords[zh_CN]=Search, File, Baloo,搜索,文件
X-KDE-Keywords[zh_TW]=Search, File, Baloo
