[Desktop Entry]
Exec=kcmshell5 kcmkded
Icon=preferences-system-session-services
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kded
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=session
X-KDE-Weight=50
X-DocPath=kcontrol/kded/index.html

Name=Background Services
Name[ar]=خدمات الخلفية
Name[ca]=Serveis en segon pla
Name[cs]=Služby na pozadí
Name[da]=Baggrundstjenester
Name[de]=Hintergrunddienste
Name[el]=Υπηρεσίες παρασκηνίου
Name[en_GB]=Background Services
Name[es]=Servicios en segundo plano
Name[fi]=Taustapalvelut
Name[fr]=Services d'arrière plan
Name[hu]=Háttérszolgáltatások
Name[id]=Layanan Latar Belakang
Name[ko]=배경 서비스
Name[lt]=Foninės paslaugos
Name[nb]=Bakgrunnstjenester
Name[nds]=Achtergrunddeensten
Name[nl]=Achtergrondservices
Name[pl]=Usługi w tle
Name[pt]=Serviços de Segundo Plano
Name[pt_BR]=Serviços de segundo plano
Name[ru]=Управление службами
Name[sk]=Služby pozadia
Name[sl]=Storitve v ozadju
Name[sr]=Позадински сервиси
Name[sr@ijekavian]=Позадински сервиси
Name[sr@ijekavianlatin]=Pozadinski servisi
Name[sr@latin]=Pozadinski servisi
Name[sv]=Bakgrundstjänster
Name[tr]=Arkaplan Servisleri
Name[uk]=Фонові служби
Name[x-test]=xxBackground Servicesxx
Name[zh_CN]=后台服务
Name[zh_TW]=背景服務
Comment=Background Services
Comment[ar]=خدمات الخلفية
Comment[ca]=Serveis en segon pla
Comment[cs]=Služby na pozadí
Comment[da]=Baggrundstjenester
Comment[de]=Hintergrunddienste
Comment[el]=Υπηρεσίες παρασκηνίου
Comment[en_GB]=Background Services
Comment[es]=Servicios en segundo plano
Comment[fi]=Taustapalvelut
Comment[fr]=Services d'arrière plan
Comment[hu]=Háttérszolgáltatások
Comment[id]=Layanan Latar Belakang
Comment[ko]=배경 서비스
Comment[lt]=Foninės paslaugos
Comment[nb]=Bakgrunnstjenester
Comment[nds]=Achtergrunddeensten
Comment[nl]=Achtergrondservices
Comment[pl]=Usługi w tle
Comment[pt]=Serviços de Segundo Plano
Comment[pt_BR]=Serviços de segundo plano
Comment[ru]=Настройка служб KDE
Comment[sk]=Služby pozadia
Comment[sl]=Storitve v ozadju
Comment[sr]=Позадински сервиси
Comment[sr@ijekavian]=Позадински сервиси
Comment[sr@ijekavianlatin]=Pozadinski servisi
Comment[sr@latin]=Pozadinski servisi
Comment[sv]=Bakgrundstjänster
Comment[tr]=Arkaplan Servisleri
Comment[uk]=Фонові служби
Comment[x-test]=xxBackground Servicesxx
Comment[zh_CN]=后台服务
Comment[zh_TW]=背景服務
X-KDE-Keywords=KDED,Daemon,Services
X-KDE-Keywords[bg]=KDED,Daemon,Services,Услуги
X-KDE-Keywords[bn]=KDED,Daemon,Services
X-KDE-Keywords[bs]=KDED,Daemon,Services,demon,usluge
X-KDE-Keywords[ca]=KDED,Dimoni,Serveis
X-KDE-Keywords[ca@valencia]=KDED,Dimoni,Serveis
X-KDE-Keywords[cs]=KDED,Démon,Služby
X-KDE-Keywords[da]=KDED,dæmon,tjenester
X-KDE-Keywords[de]=KDED,Dienst,Services,Dienste
X-KDE-Keywords[el]=KDED,Daemon,Services
X-KDE-Keywords[en_GB]=KDED,Daemon,Services
X-KDE-Keywords[eo]=KDED,Demono,Servoj
X-KDE-Keywords[es]=KDED,Demonio,Servicios
X-KDE-Keywords[et]=KDED,deemon,teenused
X-KDE-Keywords[eu]=KDED,daemon-a,zerbitzuak
X-KDE-Keywords[fa]=KDED,Daemon,Services
X-KDE-Keywords[fi]=KDED,Palvelu,Taustaprosessi,Palvelin,Palvelut
X-KDE-Keywords[fr]=KDED, démon, services
X-KDE-Keywords[ga]=KDED,Deamhan,Seirbhísí
X-KDE-Keywords[gl]=KDED, Daemon, Servizos
X-KDE-Keywords[gu]=KDED,ડેમન,સેવાઓ
X-KDE-Keywords[he]=KDED,Daemon,Services,שירותים
X-KDE-Keywords[hi]=KDED,डेमन सेवाएँ
X-KDE-Keywords[hu]=KDED,Démon,Szolgáltatások
X-KDE-Keywords[ia]=KDED,Daemon,Servicios
X-KDE-Keywords[id]=KDED,Jurik,Layanan
X-KDE-Keywords[is]=KDED,Þjónusta,Þjónustur
X-KDE-Keywords[it]=KDED,demone,servizi
X-KDE-Keywords[kk]=KDED,Daemon,Services
X-KDE-Keywords[km]=KDED ដេមិន សេវាកម្ម
X-KDE-Keywords[ko]=KDED,Daemon,Services,데몬,서비스
X-KDE-Keywords[lv]=KDED,dēmons,servisi
X-KDE-Keywords[mr]=केडीईD, डीमन, सेवा
X-KDE-Keywords[nb]=KDED,Daemon,Tjenester
X-KDE-Keywords[nds]=KDED,Dämoon,Deensten
X-KDE-Keywords[nl]=KDED,daemon,services
X-KDE-Keywords[pa]=KDED,ਡੈਮਨ,ਸਰਵਿਸਾਂ
X-KDE-Keywords[pl]=KDED,Demon,Usługi
X-KDE-Keywords[pt]=KDED,Servidor,Serviços
X-KDE-Keywords[pt_BR]=KDED,Servidor,Serviços
X-KDE-Keywords[ro]=KDED,Servicii,Demon
X-KDE-Keywords[ru]=KDED,Daemon,Services,фоновая служба,демон,служба
X-KDE-Keywords[sk]=KDED,Démon,Služby
X-KDE-Keywords[sl]=KDED,ozadnji program,storitve
X-KDE-Keywords[sr]=KDED,Daemon,Services,КДЕД,демон,сервис
X-KDE-Keywords[sr@ijekavian]=KDED,Daemon,Services,КДЕД,демон,сервис
X-KDE-Keywords[sr@ijekavianlatin]=KDED,Daemon,Services,KDED,demon,servis
X-KDE-Keywords[sr@latin]=KDED,Daemon,Services,KDED,demon,servis
X-KDE-Keywords[sv]=KDED,Demon,Tjänster
X-KDE-Keywords[tg]=KDED,Демонҳо,Хидматҳо
X-KDE-Keywords[tr]=KDED,Servis,Servisler
X-KDE-Keywords[ug]=KDED،Daemon، مۇلازىمەتلەر
X-KDE-Keywords[uk]=KDED,Daemon,Services,служба,служби,фонова служба,фонові служби
X-KDE-Keywords[vi]=KDED,Trình nền,Dịch vụ, Daemon,Services
X-KDE-Keywords[wa]=KDED,Démon,Demon,Siervices
X-KDE-Keywords[x-test]=xxKDED,Daemon,Servicesxx
X-KDE-Keywords[zh_CN]=KDED,Daemon,Services,服务,后台进程
X-KDE-Keywords[zh_TW]=KDED,Daemon,Services

Categories=Qt;KDE;X-KDE-settings-components;
