[Desktop Entry]
Exec=kcmshell5 kcmkded
Icon=preferences-system-session-services
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kded
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown
X-DocPath=kcontrol/kded/index.html

Name=Service Manager
Comment=KDE Services Configuration
X-KDE-Keywords=KDED,Daemon,Services

Categories=Qt;KDE;X-KDE-settings-components;
