[Desktop Entry]
Exec=kcmshell5 kcmkded
Icon=preferences-system-session-services
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kded
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown
X-DocPath=kcontrol/kded/index.html

Name=Service Manager
Name[uk]=Менеджер служб
Name[x-test]=xxService Managerxx
Comment=KDE Services Configuration
Comment[uk]=Налаштування служб KDE
Comment[x-test]=xxKDE Services Configurationxx
X-KDE-Keywords=KDED,Daemon,Services
X-KDE-Keywords[uk]=KDED,Daemon,Services,служба,служби,фонова служба,фонові служби
X-KDE-Keywords[x-test]=xxKDED,Daemon,Servicesxx

Categories=Qt;KDE;X-KDE-settings-components;
