[Desktop Entry]
Name=Look and Feel
Name[ca]=Aspecte i comportament
Name[ca@valencia]=Aspecte i comportament
Name[cs]=Vzhled a dojem
Name[da]=Udseende og fremtoning
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση και αίσθηση
Name[en_GB]=Look and Feel
Name[es]=Aspecto visual
Name[eu]=Itxura eta izaera
Name[fi]=Ulkoasu ja tuntuma
Name[fr]=Apparence
Name[gl]=Aparencia e comportamento
Name[he]=מראה ותחושה
Name[hu]=Megjelenés
Name[id]=Nuansa Dan Suasana
Name[it]=Aspetto
Name[ko]=모습과 느낌
Name[lt]=Išvaizda ir turinys
Name[nb]=Utseende og oppførsel
Name[nl]=Uiterlijk en gedrag
Name[nn]=Utsjånad og åtferd
Name[pa]=ਦਿੱਖ ਅਤੇ ਛੋਹ
Name[pl]=Wrażenia wzrokowe i dotykowe
Name[pt]=Aparência e Comportamento
Name[pt_BR]=Aparência
Name[ru]=Оформления рабочей среды
Name[sk]=Vzhľad a nastavenie
Name[sl]=Videz in občutek
Name[sr]=Изглед и осећај
Name[sr@ijekavian]=Изглед и осећај
Name[sr@ijekavianlatin]=Izgled i osećaj
Name[sr@latin]=Izgled i osećaj
Name[sv]=Utseende och känsla
Name[tr]=Bak ve Hisset
Name[uk]=Вигляд і поведінка
Name[x-test]=xxLook and Feelxx
Name[zh_CN]=观感
Name[zh_TW]=外觀與感覺
Comment=Choose the Look and Feel theme
Comment[ca]=Trieu el tema d'aspecte i comportament
Comment[ca@valencia]=Trieu el tema d'aspecte i comportament
Comment[de]=Erscheinungsbild-Design auswählen
Comment[en_GB]=Choose the Look and Feel theme
Comment[es]=Escoger el tema del aspecto visual...
Comment[fi]=Valitse ulkoasuteema
Comment[fr]=Sélectionnez le thème d'apparence
Comment[gl]=Escolla un tema de aparencia e comportamento
Comment[id]=Memilih tema Nuansa dan Suasana
Comment[it]=Scegli il tema dell'aspetto
Comment[ko]=모습과 느낌 테마 선택
Comment[nl]=Thema voor uiterlijk en gedrag kiezen
Comment[nn]=Vel tema for utsjånad og åtferd
Comment[pl]=Wybierz jak będą wyglądać wrażenia wzrokowe i dotykowe
Comment[pt]=Escolher o tema de Aparência e Comportamento
Comment[pt_BR]=Escolha o tema de aparência
Comment[ru]=Выбор оформления рабочей среды Plasma
Comment[sk]=Vyberte tému pre vzhľad
Comment[sv]=Välj tema med utseende och känsla
Comment[uk]=Вибір теми вигляду і поведінки
Comment[x-test]=xxChoose the Look and Feel themexx
Comment[zh_CN]=选择观感主题
Comment[zh_TW]=選擇「外觀與感覺」的主題
Icon=preferences-desktop-theme-style
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=kcm_lookandfeel
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
