[Desktop Entry]
Name=Global Theme
Name[ca]=Tema global
Name[eu]=Gai orokorra
Name[uk]=Загальна тема
Name[x-test]=xxGlobal Themexx
Comment=Choose global look and feel
Comment[ca]=Trieu l'aspecte i comportament global
Comment[eu]=Aukeratu itxura eta izaera orokorra
Comment[uk]=Вибір загального вигляду і поведінки
Comment[x-test]=xxChoose global look and feelxx
Icon=preferences-desktop-theme-style
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=kcm_lookandfeel
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
